Repository bytecodealliance/wasmtime, pull requests merged in 2019-12, with the labels that each got.

#676 Fix .NET interop issue for Windows release builds.
  .github/workflows/main.yml
  crates/api/src/wasm.rs
  crates/misc/dotnet/src/ValueKind.cs
Labels: bug

#680 [dotnet] Root bindings so the delegate in FunctionBinding is not GCed
  crates/misc/dotnet/src/Instance.cs
Labels: bug

#649 Add yanix crate and replace nix with yanix in wasi-common
  crates/wasi-common/Cargo.toml
  crates/wasi-common/src/error.rs
  crates/wasi-common/src/host.rs
  crates/wasi-common/src/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/error.rs
  crates/wasi-common/src/old/snapshot_0/host.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/oshandle.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/dir.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/fdentry_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/misc.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/mod.rs
  crates/wasi-common/src/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/sys/unix/bsd/mod.rs
  crates/wasi-common/src/sys/unix/bsd/oshandle.rs
  crates/wasi-common/src/sys/unix/dir.rs
  crates/wasi-common/src/sys/unix/fdentry_impl.rs
  crates/wasi-common/src/sys/unix/host_impl.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/misc.rs
  crates/wasi-common/src/sys/unix/linux/hostcalls_impl.rs
  crates/wasi-common/src/sys/unix/linux/mod.rs
  crates/wasi-common/src/sys/unix/mod.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/yanix/Cargo.toml
  crates/wasi-common/yanix/LICENSE
  crates/wasi-common/yanix/src/clock.rs
  crates/wasi-common/yanix/src/dir.rs
  crates/wasi-common/yanix/src/errno.rs
  crates/wasi-common/yanix/src/fcntl.rs
  crates/wasi-common/yanix/src/file.rs
  crates/wasi-common/yanix/src/lib.rs
  crates/wasi-common/yanix/src/poll.rs
  crates/wasi-common/yanix/src/socket.rs
  crates/wasi-common/yanix/src/sys/bsd/dir.rs
  crates/wasi-common/yanix/src/sys/bsd/fadvise.rs
  crates/wasi-common/yanix/src/sys/bsd/file.rs
  crates/wasi-common/yanix/src/sys/bsd/mod.rs
  crates/wasi-common/yanix/src/sys/linux/dir.rs
  crates/wasi-common/yanix/src/sys/linux/fadvise.rs
  crates/wasi-common/yanix/src/sys/linux/file.rs
  crates/wasi-common/yanix/src/sys/linux/mod.rs
  crates/wasi-common/yanix/src/sys/mod.rs
Labels: wasi-impl

#718 [dotnet] Some small fixes and unit tests
  crates/misc/dotnet/.gitignore
  crates/misc/dotnet/Wasmtime.sln
  crates/misc/dotnet/src/Bindings/FunctionBinding.cs
  crates/misc/dotnet/src/Bindings/MemoryBinding.cs
  crates/misc/dotnet/src/TrapException.cs
  crates/misc/dotnet/tests/FunctionThunkingTests.cs
  crates/misc/dotnet/tests/Modules/FunctionThunking.wasm
  crates/misc/dotnet/tests/Modules/FunctionThunking.wat
Labels: dotnet
