Repository bytecodealliance/wasmtime, pull requests merged in 2019-11, with the labels that each got.

#548 Refactor common clockid conversion on *nix
  crates/wasi-common/src/sys/unix/hostcalls_impl/misc.rs
Labels: wasi-impl

#559 Add test case for path_link syscall
  crates/wasi-common/build.rs
  crates/wasi-common/wasi-misc-tests/src/bin/path_link.rs
  crates/wasi-common/wasi-misc-tests/src/wasi_wrappers.rs
Labels: wasi-tests

#560 Re-enable some missing WASI tests on Windows
  crates/wasi-common/build.rs
Labels: wasi-tests

#579 Fix rights check for fd_pread and fd_pwrite
  crates/test-programs/wasi-tests/src/bin/file_pread_pwrite.rs
  crates/wasi-common/src/hostcalls_impl/fs.rs
Labels: wasi-impl, wasi-tests

#581 Test path_open O_EXCL behaviour
  crates/test-programs/wasi-tests/src/bin/path_open_create_existing.rs
Labels: wasi-tests

#566 Add test for dangling file/dir handles
  crates/test-programs/build.rs
  crates/wasi-common/wasi-misc-tests/src/bin/dangling_fd.rs
Labels: wasi-tests

#600 Feature-gate test-programs
  crates/test-programs/build.rs
  crates/test-programs/tests/wasm_tests/main.rs
Labels: wasi-tests

#612 Fix feature-gating of test-programs
  .github/workflows/main.yml
  Cargo.toml
  crates/test-programs/Cargo.toml
  crates/test-programs/build.rs
  crates/test-programs/tests/wasm_tests/main.rs
  crates/wasi-common/README.md
Labels: wasi-tests

#613 Unify fd_readdir impl between *nixes
  crates/wasi-common/src/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/sys/unix/bsd/mod.rs
  crates/wasi-common/src/sys/unix/bsd/osfile.rs
  crates/wasi-common/src/sys/unix/dir.rs
  crates/wasi-common/src/sys/unix/linux/hostcalls_impl.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs.rs
Labels: wasi-impl

#557 Implement `__wasi_fd_fdstat_get` for Windows.
  crates/test-programs/wasi-tests/src/bin/path_filestat.rs
  crates/wasi-common/src/old/snapshot_0/sys/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/fdentry_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/mod.rs
  crates/wasi-common/src/sys/windows/fdentry_impl.rs
  crates/wasi-common/src/sys/windows/host_impl.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/winx/src/file.rs
  crates/wasi-common/winx/src/lib.rs
  crates/wasi-common/winx/src/ntdll.rs
Labels: wasi-impl

#631 Support fd_fdstat_get and fd_renumber on stdin/stdout/stderr
  crates/test-programs/wasi-tests/src/bin/stdio.rs
  crates/wasi-common/src/fdentry.rs
  crates/wasi-common/src/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/fdentry.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/oshandle.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/fdentry_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/oshandle.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/fdentry_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/sys/unix/bsd/mod.rs
  crates/wasi-common/src/sys/unix/bsd/oshandle.rs
  crates/wasi-common/src/sys/unix/fdentry_impl.rs
  crates/wasi-common/src/sys/unix/linux/mod.rs
  crates/wasi-common/src/sys/unix/linux/oshandle.rs
  crates/wasi-common/src/sys/windows/fdentry_impl.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs.rs
Labels: wasi-impl

#647 Fast-forward snapshot_0 to match wasi-common upstream
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/oshandle.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/dir.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/fs.rs
Labels: wasi-impl
