Repository bytecodealliance/wasmtime, pull requests merged in 2020-03, with the labels that each got.

#1226 wasi-common error cleanup: part 1, yanix
  crates/wasi-common/src/error.rs
  crates/wasi-common/src/old/snapshot_0/error.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/misc.rs
  crates/wasi-common/src/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/sys/unix/host_impl.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/misc.rs
  crates/wasi-common/yanix/src/clock.rs
  crates/wasi-common/yanix/src/dir.rs
  crates/wasi-common/yanix/src/errno.rs
  crates/wasi-common/yanix/src/error.rs
  crates/wasi-common/yanix/src/fcntl.rs
  crates/wasi-common/yanix/src/file.rs
  crates/wasi-common/yanix/src/lib.rs
  crates/wasi-common/yanix/src/poll.rs
  crates/wasi-common/yanix/src/socket.rs
  crates/wasi-common/yanix/src/sys/bsd/dir.rs
  crates/wasi-common/yanix/src/sys/bsd/fadvise.rs
  crates/wasi-common/yanix/src/sys/bsd/file.rs
  crates/wasi-common/yanix/src/sys/linux/dir.rs
  crates/wasi-common/yanix/src/sys/linux/fadvise.rs
  crates/wasi-common/yanix/src/sys/linux/file.rs
Labels: wasi:impl

#1242 [wasi-common]: yanix now returns io::Error directly
  Cargo.lock
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/sys/unix/host_impl.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/yanix/Cargo.toml
  crates/wasi-common/yanix/src/clock.rs
  crates/wasi-common/yanix/src/dir.rs
  crates/wasi-common/yanix/src/error.rs
  crates/wasi-common/yanix/src/fcntl.rs
  crates/wasi-common/yanix/src/file.rs
  crates/wasi-common/yanix/src/lib.rs
  crates/wasi-common/yanix/src/poll.rs
  crates/wasi-common/yanix/src/socket.rs
  crates/wasi-common/yanix/src/sys/bsd/dir.rs
  crates/wasi-common/yanix/src/sys/bsd/fadvise.rs
  crates/wasi-common/yanix/src/sys/bsd/file.rs
  crates/wasi-common/yanix/src/sys/emscripten/mod.rs
  crates/wasi-common/yanix/src/sys/linux/dir.rs
  crates/wasi-common/yanix/src/sys/linux/fadvise.rs
  crates/wasi-common/yanix/src/sys/linux/file.rs
  crates/wasi-common/yanix/src/sys/linux/mod.rs
  crates/wasi-common/yanix/src/sys/mod.rs
Labels: wasi:impl

#1249 Miscelaneous docs updates and fixes.
  crates/lightbeam/README.md
  crates/wasi-common/README.md
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/mod.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/mod.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/mod.rs
  docs/WASI-api.md
  docs/WASI-background.md
  docs/WASI-documents.md
  docs/WASI-proposed-CG-subgroup-charter.md
  docs/WASI-tutorial.md
  docs/cli-options.md
  docs/cli.md
  docs/contributing-release-process.md
  docs/contributing-testing.md
  docs/wasm-c.md
  docs/wasm-rust.md
Labels: wasmtime

#1243 [wasi-common]: winx now returns io::Error directly
  crates/wasi-common/src/old/snapshot_0/sys/windows/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/sys/windows/host_impl.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/winx/src/file.rs
  crates/wasi-common/winx/src/lib.rs
  crates/wasi-common/winx/src/time.rs
  crates/wasi-common/winx/src/winerror.rs
Labels: wasi:impl

#1255 [wasi-common]: move filetime module to yanix
  Cargo.lock
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/filetime.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/emscripten/filetime.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/emscripten/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/filetime.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/mod.rs
  crates/wasi-common/src/sys/unix/bsd/mod.rs
  crates/wasi-common/src/sys/unix/emscripten/mod.rs
  crates/wasi-common/src/sys/unix/filetime.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/unix/linux/mod.rs
  crates/wasi-common/src/sys/unix/linux/utimesat.rs
  crates/wasi-common/src/sys/unix/mod.rs
  crates/wasi-common/yanix/Cargo.toml
  crates/wasi-common/yanix/src/filetime.rs
  crates/wasi-common/yanix/src/lib.rs
  crates/wasi-common/yanix/src/sys/bsd/filetime.rs
  crates/wasi-common/yanix/src/sys/bsd/mod.rs
  crates/wasi-common/yanix/src/sys/emscripten/filetime.rs
  crates/wasi-common/yanix/src/sys/emscripten/mod.rs
  crates/wasi-common/yanix/src/sys/linux/filetime.rs
  crates/wasi-common/yanix/src/sys/linux/mod.rs
  crates/wasi-common/yanix/src/sys/linux/utimesat.rs
Labels: wasi:impl

#1253 [wasi-common]: clean up error handling
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/error.rs
  crates/wasi-common/src/fdentry.rs
  crates/wasi-common/src/fs/file.rs
  crates/wasi-common/src/helpers.rs
  crates/wasi-common/src/host.rs
  crates/wasi-common/src/hostcalls_impl/fs.rs
  crates/wasi-common/src/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/hostcalls_impl/misc.rs
  crates/wasi-common/src/hostcalls_impl/sock.rs
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/memory.rs
  crates/wasi-common/src/old/snapshot_0/ctx.rs
  crates/wasi-common/src/old/snapshot_0/error.rs
  crates/wasi-common/src/old/snapshot_0/fdentry.rs
  crates/wasi-common/src/old/snapshot_0/helpers.rs
  crates/wasi-common/src/old/snapshot_0/host.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/misc.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/sock.rs
  crates/wasi-common/src/old/snapshot_0/memory.rs
  crates/wasi-common/src/old/snapshot_0/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/fdentry_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/misc.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/fdentry_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/misc.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/mod.rs
  crates/wasi-common/src/old/snapshot_0/wasi.rs
  crates/wasi-common/src/sys/unix/bsd/host_impl.rs
  crates/wasi-common/src/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/sys/unix/fdentry_impl.rs
  crates/wasi-common/src/sys/unix/host_impl.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/misc.rs
  crates/wasi-common/src/sys/unix/linux/host_impl.rs
  crates/wasi-common/src/sys/unix/linux/hostcalls_impl.rs
  crates/wasi-common/src/sys/unix/mod.rs
  crates/wasi-common/src/sys/windows/fdentry_impl.rs
  crates/wasi-common/src/sys/windows/host_impl.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/misc.rs
  crates/wasi-common/src/sys/windows/mod.rs
  crates/wasi-common/src/virtfs.rs
  crates/wasi-common/src/wasi.rs
  crates/wasi-common/wig/src/hostcalls.rs
Labels: wasi:impl

#1266 Log to stderr by default.
  docs/cli-logging.md
  docs/cli.md
  src/commands/run.rs
  src/commands/wasm2obj.rs
  src/commands/wast.rs
  src/lib.rs
Labels: wasmtime

#1269 [wasi-common]: add armv7 support to wasi-common
  .github/workflows/main.yml
  crates/wasi-common/src/old/snapshot_0/sys/unix/emscripten/host_impl.rs
  crates/wasi-common/yanix/src/dir.rs
  crates/wasi-common/yanix/src/filetime.rs
  crates/wasi-common/yanix/src/sys/bsd/dir.rs
  crates/wasi-common/yanix/src/sys/bsd/filetime.rs
  crates/wasi-common/yanix/src/sys/emscripten/filetime.rs
  crates/wasi-common/yanix/src/sys/emscripten/mod.rs
  crates/wasi-common/yanix/src/sys/linux/filetime.rs
  crates/wasi-common/yanix/src/sys/linux/mod.rs
  crates/wasi-common/yanix/src/sys/linux/utimesat.rs
Labels: wasi:impl

#1278 [wasi-common]: Hello wiggle!
  Cargo.lock
  Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/LICENSE
  crates/wiggle/README.md
  crates/wiggle/crates/generate/Cargo.toml
  crates/wiggle/crates/generate/src/config.rs
  crates/wiggle/crates/generate/src/funcs.rs
  crates/wiggle/crates/generate/src/lib.rs
  crates/wiggle/crates/generate/src/lifetimes.rs
  crates/wiggle/crates/generate/src/module_trait.rs
  crates/wiggle/crates/generate/src/names.rs
  crates/wiggle/crates/generate/src/types/enum.rs
  crates/wiggle/crates/generate/src/types/flags.rs
  crates/wiggle/crates/generate/src/types/handle.rs
  crates/wiggle/crates/generate/src/types/int.rs
  crates/wiggle/crates/generate/src/types/mod.rs
  crates/wiggle/crates/generate/src/types/struct.rs
  crates/wiggle/crates/generate/src/types/union.rs
  crates/wiggle/crates/runtime/Cargo.toml
  crates/wiggle/crates/runtime/src/borrow.rs
  crates/wiggle/crates/runtime/src/error.rs
  crates/wiggle/crates/runtime/src/guest_type.rs
  crates/wiggle/crates/runtime/src/lib.rs
  crates/wiggle/crates/runtime/src/region.rs
  crates/wiggle/crates/test/Cargo.toml
  crates/wiggle/crates/test/src/lib.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/tests/arrays.rs
  crates/wiggle/tests/arrays.witx
  crates/wiggle/tests/atoms.rs
  crates/wiggle/tests/atoms.witx
  crates/wiggle/tests/errno.witx
  crates/wiggle/tests/excuse.witx
  crates/wiggle/tests/flags.rs
  crates/wiggle/tests/flags.witx
  crates/wiggle/tests/handles.rs
  crates/wiggle/tests/handles.witx
  crates/wiggle/tests/ints.rs
  crates/wiggle/tests/ints.witx
  crates/wiggle/tests/pointers.rs
  crates/wiggle/tests/pointers.witx
  crates/wiggle/tests/strings.rs
  crates/wiggle/tests/strings.witx
  crates/wiggle/tests/structs.rs
  crates/wiggle/tests/structs.witx
  crates/wiggle/tests/typenames.witx
  crates/wiggle/tests/union.rs
  crates/wiggle/tests/union.witx
  crates/wiggle/tests/wasi.rs
  crates/wiggle/tests/wasi.witx
Labels: wasi:impl

#1294 wiggle: make paths relative to use site of macro
  crates/wiggle/crates/generate/src/config.rs
  crates/wiggle/src/lib.rs
Labels: wasi

#1285 Add tutorial for building and running hello-world.wasm
  docs/tutorial-create-hello-world.md
  docs/tutorial-run-hello-world.md
Labels: wasmtime

#1292 Temporarily remove support for interface types
  Cargo.lock
  Cargo.toml
  crates/api/src/module.rs
  crates/interface-types/Cargo.toml
  crates/interface-types/README.md
  crates/interface-types/src/lib.rs
  crates/interface-types/src/value.rs
  crates/misc/py/Cargo.toml
  crates/misc/py/src/function.rs
  crates/misc/py/src/instance.rs
  crates/misc/py/src/lib.rs
  crates/misc/py/src/value.rs
  crates/misc/rust/Cargo.toml
  crates/misc/rust/examples/markdown.rs
  crates/misc/rust/src/lib.rs
  crates/wasi/src/old/snapshot_0.rs
  docs/wasm-rust.md
  scripts/publish-all.sh
  scripts/test-all.sh
  src/commands/run.rs
Labels: wasi, wasmtime:api

#957 Pre-generate trampoline functions
  crates/api/src/callable.rs
  crates/api/src/externals.rs
  crates/api/src/func.rs
  crates/api/src/instance.rs
  crates/api/src/trampoline/create_handle.rs
  crates/api/src/trampoline/func.rs
  crates/api/src/trampoline/global.rs
  crates/api/src/trampoline/memory.rs
  crates/api/src/trampoline/mod.rs
  crates/api/src/trampoline/table.rs
  crates/api/src/values.rs
  crates/api/tests/func.rs
  crates/jit/src/code_memory.rs
  crates/jit/src/compiler.rs
  crates/jit/src/imports.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/runtime/src/export.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/vmcontext.rs
  crates/wasi/src/lib.rs
Labels: wasi, wasmtime:api

#1305 Fill out API docs on `wasmtime::Module`
  crates/api/src/module.rs
Labels: wasmtime:api

#1299 [wiggle] Impl different formatters for flags
  crates/wiggle/crates/generate/src/types/flags.rs
  crates/wiggle/tests/flags.rs
Labels: wasi

#1309 Store module name on `wasmtime_environ::Module`
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/sections_translator.rs
  crates/api/src/frame_info.rs
  crates/api/src/module.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/jit/src/instantiate.rs
Labels: cranelift, cranelift:wasm, wasmtime:api

#1321 Remove cdylib/staticlib wasi-common crate types
  crates/wasi-common/Cargo.toml
Labels: wasi

#1311 cranelift-{module, faerie}: minor improvements to error reporting
  Cargo.lock
  Cargo.toml
  cranelift/faerie/Cargo.toml
  cranelift/faerie/src/backend.rs
  cranelift/module/Cargo.toml
  cranelift/module/src/module.rs
  crates/debug/Cargo.toml
  crates/debug/src/write_debuginfo.rs
  crates/obj/Cargo.toml
Labels: cranelift, cranelift:module

#1327 Add support for hidden visibility
  cranelift/faerie/src/backend.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#1328 bump cranelift version to 0.60.0
  Cargo.lock
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/faerie/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/simplejit/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/environ/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
Labels: cranelift, cranelift:meta, cranelift:module, cranelift:wasm, lightbeam

#1318 Remove FPR32; fixes #1303
  cranelift/codegen/meta/src/isa/x86/recipes.rs
  cranelift/codegen/meta/src/isa/x86/registers.rs
  cranelift/codegen/src/isa/x86/registers.rs
  cranelift/filetests/filetests/isa/x86/simd-avx512-arithmetic-binemit.clif
  crates/jit/src/compiler.rs
  tests/misc_testsuite/export-large-signature.wast
Labels: cranelift, cranelift:meta

#1329 [wasi-common] add custom FdPool container for managing fd allocs/deallocs
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/fdpool.rs
  crates/wasi-common/src/hostcalls_impl/fs.rs
  crates/wasi-common/src/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/hostcalls_impl/misc.rs
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/old/snapshot_0/ctx.rs
  crates/wasi-common/src/old/snapshot_0/entry.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/misc.rs
  crates/wasi-common/src/old/snapshot_0/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/entry_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/entry_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/mod.rs
  crates/wasi-common/src/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/sys/unix/entry_impl.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/misc.rs
  crates/wasi-common/src/sys/unix/linux/hostcalls_impl.rs
  crates/wasi-common/src/sys/unix/mod.rs
  crates/wasi-common/src/sys/windows/entry_impl.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/misc.rs
  crates/wasi-common/src/sys/windows/mod.rs
  crates/wasi-common/src/wasi.rs
Labels: wasi, wasi:impl

#1354 Update `arbitrary` and `libfuzzer` dependencies
  Cargo.lock
  crates/fuzzing/Cargo.toml
  fuzz/Cargo.toml
Labels: fuzzing

#1355 Update a number of wasmtime's dependencies
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/api/Cargo.toml
  crates/environ/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wast/Cargo.toml
Labels: cranelift, cranelift:wasm, wasmtime:api

#1353 Add some high-level sandboxing documentation.
  docs/security-sandboxing.md
Labels: wasmtime:docs

#1356 Fix unnecessary structure name repetitions, as reported by clippy
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/virtfs.rs
Labels: wasi

#1339 [cranelift docs] Fix grammar code blocks and heap image
  cranelift/docs/heap.dot
  cranelift/docs/heap.svg
  cranelift/docs/ir.md
Labels: cranelift, cranelift:docs

#1290 Add a first-class way of accessing caller's exports
  crates/api/src/func.rs
  crates/api/src/lib.rs
  crates/api/tests/externals.rs
  crates/api/tests/func.rs
  crates/api/tests/traps.rs
  crates/wasi-common/wig/src/wasi.rs
  crates/wasi/src/lib.rs
  crates/wast/src/spectest.rs
  docs/embed-rust.md
  examples/hello.rs
Labels: wasi, wasmtime, wasmtime:api, wasmtime:docs

#1360 Update some documentation on `Memory`
  crates/api/src/externals.rs
Labels: wasmtime:api

#1363 Refactor the internals of `Func` to remove layers of indirection
  crates/api/src/callable.rs
  crates/api/src/func.rs
  crates/api/src/lib.rs
  crates/api/src/trampoline/func.rs
  crates/api/src/trampoline/mod.rs
  crates/api/src/values.rs
  crates/api/tests/func.rs
  crates/api/tests/import-indexes.rs
  crates/api/tests/import_calling_export.rs
  crates/api/tests/traps.rs
  crates/c-api/src/lib.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/misc/py/src/function.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/traphandlers.rs
  examples/multi.rs
Labels: fuzzing, wasmtime:api, wasmtime:c-api

#1364 Tweak the submodule update command
  docs/contributing-building.md
Labels: wasmtime:docs

#1366 [wiggle] Allow for zero-length wiggle_runtime::Regions
  crates/wiggle/crates/runtime/src/region.rs
Labels: wasi

#1367 Add a safe method `GuestPtr::copy_from_slice`
  crates/wiggle/crates/runtime/src/error.rs
  crates/wiggle/crates/runtime/src/lib.rs
Labels: wasi

#1310 Enable jitdump profiling support by default
  Cargo.lock
  Cargo.toml
  crates/api/Cargo.toml
  crates/api/src/lib.rs
  crates/api/src/module.rs
  crates/api/src/runtime.rs
  crates/c-api/Cargo.toml
  crates/c-api/include/wasmtime.h
  crates/c-api/src/ext.rs
  crates/jit/Cargo.toml
  crates/jit/src/code_memory.rs
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/profiling/Cargo.toml
  crates/profiling/src/jitdump_disabled.rs
  crates/profiling/src/jitdump_linux.rs
  crates/profiling/src/lib.rs
  crates/runtime/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wast/Cargo.toml
  docs/SUMMARY.md
  docs/assets/perf-annotate-fib.png
  docs/assets/perf-report-fib.png
  docs/examples-profiling.md
  src/lib.rs
  tests/instantiate.rs
  tests/misc_testsuite/rs2wasm-add-func.wast
Labels: wasi, wasmtime:api, wasmtime:c-api, wasmtime:docs

#1368 Fix build of the book
  docs/examples-profiling.md
Labels: wasmtime:docs

#1340 Simplify ssa builder
  cranelift/frontend/src/frontend.rs
  cranelift/frontend/src/ssa.rs
Labels: cranelift

#1284 Path symlink follow
  crates/test-programs/wasi-tests/src/bin/path_link.rs
  crates/wasi-common/src/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs.rs
Labels: bug, wasi, wasi:impl, wasi:tests

#1336 [wiggle] Tweaks from lucet integration
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wiggle/crates/generate/src/funcs.rs
  crates/wiggle/crates/generate/src/module_trait.rs
  crates/wiggle/crates/generate/src/names.rs
  crates/wiggle/crates/runtime/src/guest_type.rs
  crates/wiggle/tests/flags.rs
  crates/wiggle/tests/pointers.rs
  crates/wiggle/tests/structs.rs
  crates/wiggle/tests/wasi.rs
Labels: cranelift, cranelift:module, wasi

#1369 Add examples of linking and WASI
  Cargo.lock
  Cargo.toml
  crates/misc/run-examples/src/main.rs
  docs/SUMMARY.md
  docs/embed-rust.md
  docs/examples-c-debugging.md
  docs/examples-c-embed.md
  docs/examples-c-gcd.md
  docs/examples-c-hello-world.md
  docs/examples-c-linking.md
  docs/examples-c-memory.md
  docs/examples-c-multi-value.md
  docs/examples-c-wasi.md
  docs/examples-rust-debugging.md
  docs/examples-rust-embed.md
  docs/examples-rust-gcd.md
  docs/examples-rust-hello-world.md
  docs/examples-rust-linking.md
  docs/examples-rust-memory.md
  docs/examples-rust-multi-value.md
  docs/examples-rust-wasi.md
  examples/linking.c
  examples/linking.rs
  examples/linking1.wat
  examples/linking2.wat
  examples/wasi/main.c
  examples/wasi/main.rs
  examples/wasi/wasm/Cargo.toml
  examples/wasi/wasm/wasi.rs
Labels: wasmtime:docs

#1374 [wasi-common] Fix a warning about unreachable code.
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
Labels: wasi

#1373 [wasi-common] Add an `is_directory()` helper method.
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/virtfs.rs
Labels: wasi

#1379 Add docs badges
  README.md
  cranelift/README.md
Labels: cranelift, wasmtime:docs

#1383 Miscellaneous doc updates
  README.md
  cranelift/README.md
  crates/jit/README.md
  crates/runtime/README.md
  docs/embed-rust.md
  docs/embed.md
  docs/tutorial.md
Labels: cranelift, wasmtime:docs

#1371 [wiggle] Don't make generated structs and unions `Copy`.
  crates/wasi-common/src/clock.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/wasi.rs
  crates/wiggle/crates/generate/src/types/struct.rs
  crates/wiggle/crates/generate/src/types/union.rs
Labels: wasi

#1384 Add a `wasmtime::Linker` type
  Cargo.lock
  crates/api/src/lib.rs
  crates/api/src/linker.rs
  crates/api/src/types.rs
  crates/api/tests/linker.rs
  crates/c-api/Cargo.toml
  crates/c-api/include/wasmtime.h
  crates/c-api/src/ext.rs
  crates/c-api/src/lib.rs
  crates/c-api/src/wasi.rs
  crates/wasi-common/wig/src/wasi.rs
  examples/linking.c
  examples/linking.rs
Labels: wasi, wasmtime:api, wasmtime:c-api

#1378 Initial documentation for python users
  crates/misc/py/examples/import/demo.rs
  crates/misc/py/examples/import/env.py
  docs/lang-python.md
Labels: wasmtime:docs

#1389 change Module::define_function to take TrapSink instances
  cranelift/faerie/src/backend.rs
  cranelift/faerie/src/lib.rs
  cranelift/faerie/src/traps.rs
  cranelift/module/src/backend.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
  cranelift/object/src/lib.rs
  cranelift/object/src/traps.rs
  cranelift/simplejit/examples/simplejit-minimal.rs
  cranelift/simplejit/src/backend.rs
  cranelift/simplejit/tests/basic.rs
Labels: cranelift, cranelift:module

#1392 Add initial 0.13.0 (unreleased) release notes
  RELEASES.md
Labels: wasmtime:docs

#1393 Adjust release notes for `Caller` type
  RELEASES.md
Labels: wasmtime:docs

#1391 Use `Linker` in `*.wast` testing
  crates/api/src/externals.rs
  crates/api/src/lib.rs
  crates/api/src/linker.rs
  crates/api/tests/linker.rs
  crates/wast/src/lib.rs
  crates/wast/src/spectest.rs
  crates/wast/src/wast.rs
Labels: wasmtime:api

#1399 Correctly capitalize "WebAssembly" in docs.
  docs/lang-python.md
Labels: wasmtime, wasmtime:docs

#1395 [wasi-common] Clean up the use of mutable Entry
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/sys/unix/bsd/fd.rs
  crates/wasi-common/src/sys/unix/bsd/oshandle.rs
  crates/wasi-common/src/sys/unix/fd.rs
  crates/wasi-common/src/sys/unix/linux/fd.rs
  crates/wasi-common/src/sys/unix/linux/oshandle.rs
  crates/wasi-common/src/sys/windows/entry.rs
  crates/wasi-common/src/virtfs.rs
Labels: wasi, wasi:impl

#1387 wiggle: emit a metadata module containing witx document
  Cargo.lock
  crates/wasi-common/Cargo.toml
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/snapshots/mod.rs
  crates/wiggle/Cargo.toml
  crates/wiggle/crates/generate/src/config.rs
  crates/wiggle/crates/generate/src/lib.rs
  crates/wiggle/crates/runtime/Cargo.toml
  crates/wiggle/crates/runtime/src/lib.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/tests/wasi.rs
Labels: wasi

#1404 Expand the C API slightly
  crates/c-api/src/lib.rs
Labels: wasmtime:c-api

#1398 Wasmtime 0.13.0 and Cranelift 0.61.0.
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/faerie/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/simplejit/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/api/Cargo.toml
  crates/c-api/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/misc/py/Cargo.toml
  crates/misc/run-examples/Cargo.toml
  crates/misc/rust/Cargo.toml
  crates/misc/rust/macro/Cargo.toml
  crates/obj/Cargo.toml
  crates/profiling/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/test-programs/wasi-tests/Cargo.lock
  crates/test-programs/wasi-tests/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/wig/Cargo.toml
  crates/wasi-common/winx/Cargo.toml
  crates/wasi-common/yanix/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/crates/generate/Cargo.toml
  crates/wiggle/crates/runtime/Cargo.toml
  crates/wiggle/crates/test/Cargo.toml
  examples/fib-debug/wasm/Cargo.toml
  examples/wasi/wasm/Cargo.toml
  fuzz/Cargo.toml
  scripts/bump-cranelift-version.sh
  scripts/bump-wasmtime-version.sh
  scripts/publish-cranelift.sh
  scripts/publish-wasmtime.sh
Labels: cranelift, cranelift:meta, cranelift:module, cranelift:wasm, fuzzing, lightbeam, wasmtime:api, wasmtime:c-api, wasmtime:docs

#1414 Shuffle around the wiggle crates
  Cargo.lock
  crates/wasi-common/Cargo.toml
  crates/wasi-common/src/path.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/wasi.rs
  crates/wasi-common/wig/src/wasi.rs
  crates/wasi/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/crates/runtime/src/lib.rs
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/generate/LICENSE
  crates/wiggle/generate/README.md
  crates/wiggle/generate/src/config.rs
  crates/wiggle/generate/src/funcs.rs
  crates/wiggle/generate/src/lib.rs
  crates/wiggle/generate/src/lifetimes.rs
  crates/wiggle/generate/src/module_trait.rs
  crates/wiggle/generate/src/names.rs
  crates/wiggle/generate/src/types/enum.rs
  crates/wiggle/generate/src/types/flags.rs
  crates/wiggle/generate/src/types/handle.rs
  crates/wiggle/generate/src/types/int.rs
  crates/wiggle/generate/src/types/mod.rs
  crates/wiggle/generate/src/types/struct.rs
  crates/wiggle/generate/src/types/union.rs
  crates/wiggle/macro/Cargo.toml
  crates/wiggle/macro/LICENSE
  crates/wiggle/macro/src/lib.rs
  crates/wiggle/src/borrow.rs
  crates/wiggle/src/error.rs
  crates/wiggle/src/guest_type.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/src/region.rs
  crates/wiggle/test-helpers/Cargo.toml
  crates/wiggle/test-helpers/LICENSE
  crates/wiggle/test-helpers/src/lib.rs
  crates/wiggle/tests/arrays.rs
  crates/wiggle/tests/atoms.rs
  crates/wiggle/tests/flags.rs
  crates/wiggle/tests/handles.rs
  crates/wiggle/tests/ints.rs
  crates/wiggle/tests/pointers.rs
  crates/wiggle/tests/strings.rs
  crates/wiggle/tests/structs.rs
  crates/wiggle/tests/union.rs
  crates/wiggle/tests/wasi.rs
  scripts/test-all.sh
Labels: wasi

#1417 Test 0.14
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/api/Cargo.toml
  crates/c-api/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/misc/py/Cargo.toml
  crates/misc/run-examples/Cargo.toml
  crates/misc/rust/Cargo.toml
  crates/misc/rust/macro/Cargo.toml
  crates/obj/Cargo.toml
  crates/profiling/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/test-programs/wasi-tests/Cargo.lock
  crates/test-programs/wasi-tests/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/wig/Cargo.toml
  crates/wasi-common/winx/Cargo.toml
  crates/wasi-common/yanix/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  crates/wiggle/test-helpers/Cargo.toml
  scripts/bump-cranelift-version.sh
  scripts/bump-wasmtime-version.sh
  scripts/publish-wasmtime.sh
Labels: fuzzing, lightbeam, wasi, wasmtime:api, wasmtime:c-api, wasmtime:docs

#1412 Refactor use of Refs and RefMuts in wasi-common
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/path.rs
  crates/wasi-common/src/poll.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/sys/unix/bsd/fd.rs
  crates/wasi-common/src/sys/unix/bsd/mod.rs
  crates/wasi-common/src/sys/unix/bsd/oshandle.rs
  crates/wasi-common/src/sys/unix/emscripten/mod.rs
  crates/wasi-common/src/sys/unix/entry.rs
  crates/wasi-common/src/sys/unix/fd.rs
  crates/wasi-common/src/sys/unix/linux/fd.rs
  crates/wasi-common/src/sys/unix/linux/mod.rs
  crates/wasi-common/src/sys/unix/linux/oshandle.rs
  crates/wasi-common/src/sys/unix/path.rs
  crates/wasi-common/src/sys/unix/poll.rs
  crates/wasi-common/src/sys/windows/entry.rs
  crates/wasi-common/src/sys/windows/path.rs
  crates/wasi-common/src/sys/windows/poll.rs
  crates/wasi-common/src/virtfs.rs
Labels: wasi

#1418 More fixes for 0.14.
  crates/wiggle/macro/Cargo.toml
  scripts/publish-wasmtime.sh
Labels: wasi

#1415 Refactor and fill out wasmtime's C API
  Cargo.lock
  crates/api/src/lib.rs
  crates/api/src/ref.rs
  crates/api/src/types.rs
  crates/c-api/Cargo.toml
  crates/c-api/include/wasmtime.h
  crates/c-api/macros/Cargo.toml
  crates/c-api/macros/src/lib.rs
  crates/c-api/src/config.rs
  crates/c-api/src/engine.rs
  crates/c-api/src/ext.rs
  crates/c-api/src/extern.rs
  crates/c-api/src/func.rs
  crates/c-api/src/global.rs
  crates/c-api/src/instance.rs
  crates/c-api/src/lib.rs
  crates/c-api/src/linker.rs
  crates/c-api/src/memory.rs
  crates/c-api/src/module.rs
  crates/c-api/src/ref.rs
  crates/c-api/src/store.rs
  crates/c-api/src/table.rs
  crates/c-api/src/trap.rs
  crates/c-api/src/types.rs
  crates/c-api/src/types/export.rs
  crates/c-api/src/types/extern.rs
  crates/c-api/src/types/func.rs
  crates/c-api/src/types/global.rs
  crates/c-api/src/types/import.rs
  crates/c-api/src/types/memory.rs
  crates/c-api/src/types/table.rs
  crates/c-api/src/types/val.rs
  crates/c-api/src/val.rs
  crates/c-api/src/vec.rs
  crates/c-api/src/wasi.rs
  crates/c-api/src/wat2wasm.rs
Labels: wasmtime:api, wasmtime:c-api

#1419 Make WASI and `wat` support optional in the C API
  .github/workflows/main.yml
  crates/c-api/Cargo.toml
  crates/c-api/src/lib.rs
  crates/c-api/src/linker.rs
  crates/c-api/src/wat2wasm.rs
Labels: wasmtime:c-api

#1424 Fix the order of the rex2 registers for r_ib_unsigned_gpr
  cranelift/codegen/meta/src/isa/x86/recipes.rs
  cranelift/filetests/filetests/isa/x86/simd-pextr-binemit.clif
Labels: cranelift, cranelift:meta

#1430 Generate trace logs in wiggle albeit behind a feature flag
  crates/wasi-common/Cargo.toml
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wiggle/generate/src/funcs.rs
Labels: wasi

#1428 [cranelift-frontend] Fix emit_zero for vectors
  cranelift/frontend/src/frontend.rs
  cranelift/frontend/src/ssa.rs
Labels: cranelift

#1437 Symbolize start trap traces
  crates/api/src/instance.rs
  crates/api/tests/traps.rs
Labels: wasmtime:api

#1438 Implement more of the `wasm_frame_t` type
  crates/c-api/include/wasmtime.h
  crates/c-api/src/trap.rs
Labels: wasmtime:c-api

#1334 fuzzing: Enable NaN canonicalization
  crates/api/src/runtime.rs
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/lib.rs
  crates/fuzzing/src/oracles.rs
Labels: fuzzing, wasmtime:api

#1442 correct typo in the docs profiling section
  docs/examples-profiling.md
Labels: wasmtime:docs

#1446 wiggle: remove versions and dont publish wiggle-test
  crates/wiggle/Cargo.toml
  crates/wiggle/test-helpers/Cargo.toml
  scripts/publish-wasmtime.sh
Labels: wasi

#1451 Remove duplication of map_reg; fixes #1245
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/x86/fde.rs
  cranelift/codegen/src/isa/x86/mod.rs
  crates/debug/src/frame.rs
  crates/debug/src/transform/expression.rs
  crates/debug/src/transform/map_reg.rs
  crates/debug/src/transform/mod.rs
  crates/environ/src/data_structures.rs
Labels: cranelift
