Repository bytecodealliance/wasmtime, pull requests merged in 2020-08, with the labels that each got.

#2085 Don't re-parse wasm for debuginfo
  Cargo.lock
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/module_translator.rs
  cranelift/wasm/src/sections_translator.rs
  crates/debug/src/lib.rs
  crates/debug/src/read_debuginfo.rs
  crates/debug/src/transform/address_transform.rs
  crates/debug/src/transform/expression.rs
  crates/debug/src/transform/mod.rs
  crates/debug/src/transform/simulate.rs
  crates/debug/src/write_debuginfo.rs
  crates/environ/Cargo.toml
  crates/environ/src/lib.rs
  crates/environ/src/module_environ.rs
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  src/obj.rs
Labels: cranelift, cranelift:wasm

#2086 Refactor where results of compilation are stored
  Cargo.lock
  cranelift/codegen/src/ir/stackslot.rs
  cranelift/entity/src/iter.rs
  cranelift/entity/src/map.rs
  cranelift/entity/src/primary.rs
  crates/debug/src/transform/address_transform.rs
  crates/debug/src/transform/expression.rs
  crates/debug/src/transform/mod.rs
  crates/debug/src/transform/simulate.rs
  crates/debug/src/transform/unit.rs
  crates/debug/src/transform/utils.rs
  crates/debug/src/write_debuginfo.rs
  crates/environ/Cargo.toml
  crates/environ/src/address_map.rs
  crates/environ/src/compilation.rs
  crates/environ/src/cranelift.rs
  crates/environ/src/lib.rs
  crates/environ/src/lightbeam.rs
  crates/jit/Cargo.toml
  crates/jit/src/code_memory.rs
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/object.rs
  crates/jit/src/trampoline.rs
  crates/obj/src/builder.rs
  crates/obj/src/module.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/frame_info.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/trampoline/func.rs
  src/obj.rs
Labels: cranelift, wasmtime:api

#2087 clif-util: only print color escape sequences in verbose mode
  cranelift/src/clif-util.rs
  cranelift/src/wasm.rs
Labels: cranelift, cranelift:wasm

#2077 Implement Wasm Atomics for Cranelift/newBE/aarch64.
  cranelift/codegen/meta/src/shared/formats.rs
  cranelift/codegen/meta/src/shared/immediates.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/ir/atomic_rmw_op.rs
  cranelift/codegen/src/ir/mod.rs
  cranelift/codegen/src/ir/trapcode.rs
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/codegen/src/write.rs
  cranelift/reader/src/parser.rs
  cranelift/serde/src/serde_clif_json.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  crates/environ/src/func_environ.rs
  crates/wasmtime/src/trap.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:meta, cranelift:wasm, wasmtime:api

#2090 machinst x64: refactor imports to use rustfmt convention
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/regs.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/mod.rs
Labels: cranelift, cranelift:area:x64

#2089 machinst x64: use assert_eq! when possible
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2091 Remove the `local` field of `Module`
  crates/environ/src/cranelift.rs
  crates/environ/src/func_environ.rs
  crates/environ/src/lib.rs
  crates/environ/src/lightbeam.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/vmoffsets.rs
  crates/jit/src/compiler.rs
  crates/jit/src/imports.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/link.rs
  crates/jit/src/object.rs
  crates/obj/src/builder.rs
  crates/obj/src/context.rs
  crates/obj/src/module.rs
  crates/profiling/src/lib.rs
  crates/runtime/src/debug_builtins.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/frame_info.rs
  crates/wasmtime/src/trampoline/create_handle.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/trampoline/memory.rs
  crates/wasmtime/src/trampoline/table.rs
  crates/wasmtime/src/types.rs
Labels: wasmtime:api

#2092 machinst x64: implement floating point comparisons
  build.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2098 Fix a typo error in docs
  docs/examples-profiling-perf.md
Labels: wasmtime:docs

#2096 Wiggle: Fix #2053
  crates/wiggle/generate/src/types/struct.rs
  crates/wiggle/src/guest_type.rs
  crates/wiggle/tests/structs.rs
  crates/wiggle/tests/structs.witx
Labels: wasi

#2097 Fix Wasm translator to handle loop parameters on br_table default target.
  cranelift/wasm/src/code_translator.rs
  tests/misc_testsuite/br-table-fuzzbug.wast
Labels: cranelift, cranelift:wasm

#2088 machinst x64: refactor to use types::[type] everywhere
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2106 Make spectest fuzzing more deterministic
  crates/fuzzing/build.rs
Labels: fuzzing

#2067 Enable the spec::simd::simd_lane test for AArch64
  build.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/filetests/filetests/vcode/aarch64/saturating-ops.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst

#2108 Caller get_export() implemented for Extern::Func.
  crates/wasmtime/src/func.rs
  tests/all/func.rs
Labels: wasmtime:api

#2114 Fix typo
  crates/wiggle/tests/wasi.rs
Labels: wasi

#2111 Rename "Stackmap" to "StackMap"
  cranelift/codegen/meta/src/isa/x86/recipes.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/binemit/memorysink.rs
  cranelift/codegen/src/binemit/mod.rs
  cranelift/codegen/src/binemit/stack_map.rs
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/test_utils.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/regalloc/context.rs
  cranelift/codegen/src/regalloc/mod.rs
  cranelift/codegen/src/regalloc/safepoint.rs
  cranelift/faerie/src/backend.rs
  cranelift/filetests/filetests/stack_maps/call.clif
  cranelift/filetests/filetests/stack_maps/incoming_args.clif
  cranelift/filetests/src/function_runner.rs
  cranelift/filetests/src/lib.rs
  cranelift/filetests/src/test_binemit.rs
  cranelift/filetests/src/test_compile.rs
  cranelift/filetests/src/test_rodata.rs
  cranelift/filetests/src/test_stack_maps.rs
  cranelift/object/src/backend.rs
  cranelift/simplejit/src/backend.rs
  cranelift/src/bugpoint.rs
  cranelift/src/compile.rs
  cranelift/src/disasm.rs
  cranelift/src/wasm.rs
  crates/environ/src/compilation.rs
  crates/environ/src/cranelift.rs
  crates/environ/src/data_structures.rs
  crates/jit/src/trampoline.rs
  crates/runtime/src/externref.rs
  crates/wasmtime/src/trampoline/func.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64, cranelift:meta, cranelift:module

#2110 Peepmatic: Implement maximum nesting level in parser
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/fuzzing/Cargo.toml
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/peepmatic/src/parser.rs
Labels: cranelift, cranelift:area:peepmatic

#2119 Making caching support optional in Wasmtime
  Cargo.lock
  Cargo.toml
  crates/c-api/Cargo.toml
  crates/c-api/src/config.rs
  crates/cache/Cargo.toml
  crates/cache/build.rs
  crates/cache/src/config.rs
  crates/cache/src/config/tests.rs
  crates/cache/src/lib.rs
  crates/cache/src/tests.rs
  crates/cache/src/worker.rs
  crates/cache/src/worker/tests.rs
  crates/cache/src/worker/tests/system_time_stub.rs
  crates/cache/tests/cache_write_default_config.rs
  crates/environ/Cargo.toml
  crates/environ/src/lib.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/runtime.rs
  scripts/publish.rs
  src/commands/config.rs
Labels: wasmtime:api, wasmtime:c-api

#2102 wasmtime: Refactor how imports are resolved
  crates/jit/src/imports.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/jit/src/resolver.rs
  crates/runtime/src/imports.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/sig_registry.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/trampoline/create_handle.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/trampoline/memory.rs
  crates/wasmtime/src/trampoline/table.rs
Labels: wasmtime:api

#2118 Enable ref types and bulk memory operations by default
  cranelift/codegen/src/regalloc/context.rs
  crates/wasmtime/src/runtime.rs
  docs/SUMMARY.md
  docs/contributing-coding-guidelines.md
  docs/contributing-implementing-wasm-proposals.md
  docs/stability-wasm-proposals-support.md
  src/lib.rs
Labels: cranelift, wasmtime:api

#2122 Fix execution of spectest fuzzer
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#2120 Wasm translation bugfix: properly clean up value stack for else-branch when if-branch ends in unreachable.
  cranelift/wasm/src/code_translator.rs
  cranelift/wasmtests/if-unreachable-else-params.wat
Labels: cranelift, cranelift:wasm

#2126 Adds packed integer subtraction
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2129 wiggle: doc fixes
  crates/wiggle/src/guest_type.rs
Labels: wasi

#2130 Upgrade to regalloc 0.0.29.
  Cargo.lock
  cranelift/codegen/Cargo.toml
Labels: cranelift

#2132 Update introduction.md: typo fix
  docs/introduction.md
Labels: wasmtime:docs

#2128 Refactor AArch64 ABI support to extract common bits for shared impl with x64.
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/helpers.rs
  cranelift/codegen/src/machinst/mod.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst

#2134 AArch64 ABI: properly store full 64-bit width of extended args/retvals.
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/filetests/filetests/vcode/aarch64/call.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst

#2138 Use regalloc 0.0.30.
  Cargo.lock
  cranelift/codegen/Cargo.toml
Labels: cranelift

#2141 delete cranelift-faerie
  Cargo.lock
  cranelift/Cargo.toml
  cranelift/docs/index.md
  cranelift/faerie/Cargo.toml
  cranelift/faerie/LICENSE
  cranelift/faerie/README.md
  cranelift/faerie/src/backend.rs
  cranelift/faerie/src/container.rs
  cranelift/faerie/src/lib.rs
  cranelift/module/README.md
  cranelift/module/src/backend.rs
  scripts/publish.rs
Labels: cranelift, cranelift:docs, cranelift:module

#2136 Add i16x8 and i32x4 packed integer multiplication to new x64 backend
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2144 Bump object to 0.21.1
  Cargo.lock
  Cargo.toml
  cranelift/object/Cargo.toml
  crates/debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/obj/Cargo.toml
Labels: cranelift, cranelift:module

#2117 wasmtime: Extract cranelift/lightbeam compilers to separate crates
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  crates/cranelift/Cargo.toml
  crates/cranelift/README.md
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/environ/Cargo.toml
  crates/environ/src/builtin.rs
  crates/environ/src/lib.rs
  crates/environ/src/lightbeam.rs
  crates/jit/Cargo.toml
  crates/jit/src/compiler.rs
  crates/lightbeam/wasmtime/Cargo.toml
  crates/lightbeam/wasmtime/README.md
  crates/lightbeam/wasmtime/src/lib.rs
  crates/wast/Cargo.toml
  scripts/publish.rs
  src/obj.rs
Labels: lightbeam

#1520 Lower fcvt_from_{u,s}int for 8 and 16 bit ints
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/vcode/aarch64/fcvt-small.clif
Labels: cranelift, cranelift:area:aarch64

#2148 Fix put_input_in_reg
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/filetests/filetests/vcode/aarch64/iconst-icmp-small.clif
Labels: cranelift, cranelift:area:aarch64

#2150 arm64: Implement SIMD i64x2 multiply
  build.rs
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#2152 Update renamed document lint for broken links
  crates/wasmtime/src/lib.rs
Labels: wasmtime:api

#2149 This patch fills in the missing pieces needed to support wasm atomics…
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/inst_common.rs
  cranelift/codegen/src/machinst/mod.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2162 Add a fuzz target for instantiating `wasm-smith` modules
  Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/instantiate-wasm-smith.rs
Labels: fuzzing

#2139 wasi-common: switch all logs from `log` to `tracing`
  Cargo.lock
  crates/wasi-common/Cargo.toml
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/old/snapshot_0/ctx.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/misc.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/entry_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/misc.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/path.rs
  crates/wasi-common/src/poll.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/sys/mod.rs
  crates/wasi-common/src/sys/osdir.rs
  crates/wasi-common/src/sys/unix/bsd/path.rs
  crates/wasi-common/src/sys/unix/fd.rs
  crates/wasi-common/src/sys/unix/linux/path.rs
  crates/wasi-common/src/sys/unix/mod.rs
  crates/wasi-common/src/sys/unix/path.rs
  crates/wasi-common/src/sys/unix/poll.rs
  crates/wasi-common/src/sys/windows/fd.rs
  crates/wasi-common/src/sys/windows/mod.rs
  crates/wasi-common/src/sys/windows/path.rs
  crates/wasi-common/src/sys/windows/poll.rs
  crates/wasi-common/src/virtfs.rs
  crates/wasi-common/wig/src/hostcalls.rs
  crates/wasi-common/wig/src/wasi.rs
  crates/wasi-common/yanix/Cargo.toml
  crates/wasi-common/yanix/src/filetime.rs
  crates/wasi-common/yanix/src/sys/bsd/fadvise.rs
  crates/wasi/Cargo.toml
Labels: wasi

#2164 wasi-common: remove unnecessary check - fixed in std since Rust 1.38
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
Labels: wasi

#2143 Relocation of DW_OP_{bra, skip} instructions
  crates/debug/src/transform/expression.rs
Labels: cranelift, cranelift:wasm

#2167 Update `wasm-smith` to 0.1.2
  Cargo.lock
  fuzz/Cargo.toml
Labels: fuzzing

#2168 CL/newBE/x64: Lowering of scalar shifts: fix shift-by-imm generation
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2170 Increase into-func trait to accept 16 arguments
  crates/wasmtime/src/func.rs
Labels: wasmtime:api

#2175 Bump wasm-smith dependency
  Cargo.lock
  fuzz/Cargo.toml
Labels: fuzzing

#2176 Fix typo in generated documentation for `entity!`
  cranelift/entity/src/lib.rs
Labels: cranelift

#2172 Remove unused argument for clif-util compile commandline
  cranelift/src/clif-util.rs
Labels: cranelift

#2177 machinst aarch64: in baldrdash, allow returning only one value across register classes
  cranelift/codegen/src/isa/aarch64/abi.rs
Labels: cranelift, cranelift:area:aarch64

#2169 wiggle-wasmtime: witx paths should be relative to CARGO_MANIFEST_DIR,…
  Cargo.lock
  crates/wasi-common/src/wasi.rs
  crates/wasi/src/lib.rs
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/generate/src/config.rs
  crates/wiggle/macro/src/lib.rs
  crates/wiggle/tests/arrays.rs
  crates/wiggle/tests/atoms.rs
  crates/wiggle/tests/flags.rs
  crates/wiggle/tests/handles.rs
  crates/wiggle/tests/ints.rs
  crates/wiggle/tests/keywords.rs
  crates/wiggle/tests/pointers.rs
  crates/wiggle/tests/strings.rs
  crates/wiggle/tests/structs.rs
  crates/wiggle/tests/union.rs
  crates/wiggle/tests/wasi.rs
  crates/wiggle/wasmtime/macro/src/lib.rs
Labels: wasi
