Repository bytecodealliance/wasmtime, pull requests merged in 2020-10, with the labels that each got.

#2228 AArch64: Add test cases for callee-saved SIMD & FP registers
  cranelift/filetests/filetests/isa/aarch64/call.clif
Labels: cranelift

#2224 arm64: Use SignedOffset rather than PreIndexed addressing mode for ca…
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/aarch64/reftypes.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2259 Fix arm32 build after some ABI framework changes.
  cranelift/codegen/src/isa/arm32/abi.rs
Labels: cranelift

#2059 Validate modules while translating
  Cargo.lock
  Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/func_translator.rs
  cranelift/wasm/src/lib.rs
  cranelift/wasm/src/module_translator.rs
  cranelift/wasm/src/sections_translator.rs
  cranelift/wasm/src/translation_utils.rs
  cranelift/wasm/tests/wasm_testsuite.rs
  cranelift/wasmtests/passive-data.wat
  cranelift/wasmtests/ref-func-0.wat
  crates/cranelift/src/lib.rs
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/environ/src/compilation.rs
  crates/environ/src/module_environ.rs
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators/api.rs
  crates/jit/Cargo.toml
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/lightbeam/Cargo.toml
  crates/lightbeam/src/microwasm.rs
  crates/lightbeam/src/module.rs
  crates/lightbeam/wasmtime/Cargo.toml
  crates/lightbeam/wasmtime/src/lib.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/runtime.rs
  src/obj.rs
Labels: cranelift, cranelift:wasm, fuzzing, lightbeam, wasmtime:api

#2262 optimize register_jit_code
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/runtime.rs
Labels: wasmtime:api

#2267 Fix AArch64 ABI to respect half-caller-save, half-callee-save vec regs.
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/arm32/abi.rs
  cranelift/codegen/src/isa/arm32/inst/args.rs
  cranelift/codegen/src/isa/arm32/inst/mod.rs
  cranelift/codegen/src/isa/arm32/lower_inst.rs
  cranelift/codegen/src/isa/arm32/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/regs.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/pretty_print.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/aarch64/prologue.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2271 machinst x64: use zero-latency move instructions for f32/f64;
  cranelift/codegen/src/isa/x64/inst/mod.rs
Labels: cranelift, cranelift:area:x64

#2280 [machinst x64]: enable packed saturated arithmetic
  build.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/simd-arithmetic-run.clif
Labels: cranelift, cranelift:area:x64

#2249 Rework the interface of cranelift-module
  Cargo.lock
  cranelift/module/README.md
  cranelift/module/src/backend.rs
  cranelift/module/src/data_context.rs
  cranelift/module/src/lib.rs
  cranelift/module/src/module.rs
  cranelift/object/Cargo.toml
  cranelift/object/src/backend.rs
  cranelift/object/src/lib.rs
  cranelift/simplejit/Cargo.toml
  cranelift/simplejit/examples/simplejit-minimal.rs
  cranelift/simplejit/src/backend.rs
  cranelift/simplejit/src/lib.rs
  cranelift/simplejit/src/memory.rs
  cranelift/simplejit/tests/basic.rs
Labels: cranelift, cranelift:module

#2284 Fix enabling interrupts in fuzzers
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#2257 Peepmatic: Do not use paths in linear IR
  cranelift/codegen/src/peepmatic.rs
  cranelift/codegen/src/preopt.serialized
  cranelift/peepmatic/README.md
  cranelift/peepmatic/crates/runtime/src/instruction_set.rs
  cranelift/peepmatic/crates/runtime/src/lib.rs
  cranelift/peepmatic/crates/runtime/src/linear.rs
  cranelift/peepmatic/crates/runtime/src/optimizations.rs
  cranelift/peepmatic/crates/runtime/src/optimizer.rs
  cranelift/peepmatic/crates/runtime/src/paths.rs
  cranelift/peepmatic/crates/test/src/lib.rs
  cranelift/peepmatic/examples/redundant-bor.png
  cranelift/peepmatic/src/automatize.rs
  cranelift/peepmatic/src/dot_fmt.rs
  cranelift/peepmatic/src/lib.rs
  cranelift/peepmatic/src/linear_passes.rs
  cranelift/peepmatic/src/linearize.rs
  cranelift/peepmatic/src/traversals.rs
Labels: cranelift, cranelift:area:peepmatic

#2263 Add initial support for the multi-memory proposal
  build.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/builtin.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/runtime.rs
  docs/stability-wasm-proposals-support.md
  src/lib.rs
  tests/all/wast.rs
  tests/misc_testsuite/multi-memory/simple.wast
Labels: cranelift, cranelift:wasm, wasmtime:api

#2289 Cranelift: refactoring of unwind info
  cranelift/codegen/src/ir/function.rs
  cranelift/codegen/src/isa/unwind.rs
  cranelift/codegen/src/isa/unwind/systemv.rs
  cranelift/codegen/src/isa/unwind/winx64.rs
  cranelift/codegen/src/isa/x86/abi.rs
  cranelift/codegen/src/isa/x86/unwind.rs
  cranelift/codegen/src/isa/x86/unwind/systemv.rs
  cranelift/codegen/src/isa/x86/unwind/winx64.rs
Labels: cranelift

#2292 Fix typo
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#2291 Adds support for signed packed integer conversion to float
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2301 Avoid allocations in trampoline shims
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/trampoline/memory.rs
  crates/wasmtime/src/trampoline/mod.rs
  crates/wasmtime/src/trampoline/table.rs
Labels: wasmtime:api

#2300 Don't allocate a new ISA for each `Func::wrap`
  crates/wasmtime/src/trampoline/func.rs
Labels: wasmtime:api

#2303 wasm->CLIF translation: consistently bitcast V128 values that are blo…
  Cargo.lock
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/code_translator.rs
  cranelift/wasmtests/pr2303.wat
Labels: cranelift, cranelift:wasm

#2306 Remove the `finished_functions` field in `Instance`
  crates/jit/src/instantiate.rs
  crates/runtime/src/instance.rs
  crates/wasmtime/src/trampoline/create_handle.rs
Labels: wasmtime:api

#2305 Don't store `Arc<VMInterrupts>` in instances
  crates/jit/src/instantiate.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/traphandlers.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/trampoline/create_handle.rs
Labels: wasmtime:api

#2307 Refactor UnwindInfo codes and frame_register
  cranelift/codegen/src/isa/unwind.rs
  cranelift/codegen/src/isa/unwind/systemv.rs
  cranelift/codegen/src/isa/unwind/winx64.rs
  cranelift/codegen/src/isa/x86/abi.rs
  cranelift/codegen/src/isa/x86/unwind.rs
  cranelift/codegen/src/isa/x86/unwind/systemv.rs
  cranelift/codegen/src/isa/x86/unwind/winx64.rs
  cranelift/filetests/filetests/isa/x86/systemv_x64_unwind.clif
Labels: cranelift

#2308 CL/aarch64 back end: implement the wasm SIMD `bitmask` instructions
  build.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/preopt.serialized
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:meta, cranelift:wasm

#2314 Update cfg-if dependency
  Cargo.lock
  cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/jit/Cargo.toml
  crates/profiling/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/yanix/Cargo.toml
  crates/wasmtime/Cargo.toml
Labels: cranelift, wasi, wasmtime:api

#2317 Add docs.wasmtime.dev as a CNAME for the Wasmtime docs
  .github/workflows/main.yml
  docs/book.toml
Labels: wasmtime:docs

#2312 CL/aarch64: implement the wasm SIMD pseudo-max/min and FP-rounding in…
  build.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/preopt.serialized
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:meta, cranelift:wasm

#2322 Encode modules with variable-length integers
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#2309 Add Trap::trap_code
  cranelift/codegen/src/ir/trapcode.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/trap.rs
  tests/all/traps.rs
Labels: cranelift, wasmtime:api

#2325 Remove `source_loc` from `TrapInformation`
  crates/cranelift/src/lib.rs
  crates/environ/src/compilation.rs
  crates/lightbeam/wasmtime/src/lib.rs
Labels: lightbeam

#2278 Introduce the Cranelift IR instruction `LoadSplat`
  cranelift/codegen/meta/src/isa/x86/legalize.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x86/enc_tables.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, cranelift:meta, cranelift:wasm

#2332 [machinst x64]: implement bitmask
  build.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2331 [machinst x64]: implement packed pmin/pmax
  build.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2326 Remove Windows-specific code for static memory bounds
  crates/wasmtime/src/runtime.rs
Labels: wasmtime:api

#2338 Update the hashbrown to use the same version
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/wasm/Cargo.toml
Labels: cranelift, cranelift:module, cranelift:wasm

#2336 Replace binaryen -ttf based fuzzing with wasm-smith
  .github/workflows/main.yml
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/api.rs
  crates/fuzzing/src/oracles.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/differential.rs
  fuzz/fuzz_targets/instantiate-swarm.rs
  fuzz/fuzz_targets/instantiate_translated.rs
Labels: fuzzing

#2339 peepmatic: update z3 dependency to version 0.7.0
  Cargo.lock
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/src/verify.rs
Labels: cranelift, cranelift:area:peepmatic

#2287 Some SimpleJIT improvements
  cranelift/module/src/module.rs
  cranelift/simplejit/src/backend.rs
Labels: cranelift, cranelift:module

#2341 Updates comments on Int to Float conversion
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2343 Fix icmp_imm.i128
  cranelift/codegen/src/legalizer/mod.rs
  cranelift/filetests/filetests/legalizer/icmp_imm_i128.clif
Labels: cranelift
