Repository bytecodealliance/wasmtime, pull requests merged in 2020-09, with the labels that each got.

#2140 wasi-common: refactor error types
  Cargo.lock
  crates/wasi-common/Cargo.toml
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/error.rs
  crates/wasi-common/src/fs/file.rs
  crates/wasi-common/src/handle.rs
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/path.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/sys/clock.rs
  crates/wasi-common/src/sys/fd.rs
  crates/wasi-common/src/sys/osdir.rs
  crates/wasi-common/src/sys/osfile.rs
  crates/wasi-common/src/sys/osother.rs
  crates/wasi-common/src/sys/stdio.rs
  crates/wasi-common/src/sys/unix/bsd/osdir.rs
  crates/wasi-common/src/sys/unix/bsd/path.rs
  crates/wasi-common/src/sys/unix/clock.rs
  crates/wasi-common/src/sys/unix/fd.rs
  crates/wasi-common/src/sys/unix/linux/osdir.rs
  crates/wasi-common/src/sys/unix/linux/path.rs
  crates/wasi-common/src/sys/unix/mod.rs
  crates/wasi-common/src/sys/unix/path.rs
  crates/wasi-common/src/sys/unix/poll.rs
  crates/wasi-common/src/sys/windows/clock.rs
  crates/wasi-common/src/sys/windows/fd.rs
  crates/wasi-common/src/sys/windows/mod.rs
  crates/wasi-common/src/sys/windows/path.rs
  crates/wasi-common/src/sys/windows/poll.rs
  crates/wasi-common/src/virtfs.rs
  crates/wasi-common/src/virtfs/pipe.rs
  crates/wasi-common/src/wasi.rs
  crates/wasi/src/lib.rs
Labels: wasi

#2160 wasi-common: factor out common string array writer code
  Cargo.lock
  Cargo.toml
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/path.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/string_array.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/test-helpers/src/lib.rs
  crates/wiggle/tests/arrays.rs
  crates/wiggle/tests/arrays.witx
  crates/wiggle/tests/strings.rs
  crates/wiggle/tests/structs.rs
  examples/wasi/main.rs
  scripts/test-all.sh
Labels: wasi

#2180 Simd negate x64
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2179 arm64: Don't always materialise a 64-bit constant
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/filetests/filetests/vcode/aarch64/amodes.clif
  cranelift/filetests/filetests/vcode/aarch64/constants.clif
  cranelift/filetests/filetests/vcode/aarch64/stack-limit.clif
Labels: cranelift, cranelift:area:aarch64

#2187 AArch64: Introduce an enum for ternary integer operations
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#2185 Expand modules instantiated in instantiate-wasm-smith
  Cargo.lock
  crates/fuzzing/src/oracles.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/instantiate-maybe-invalid.rs
  tests/all/fuzzing.rs
Labels: fuzzing

#2142 x64 new backend: port ABI implementation to shared infrastructure with AArch64.
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/filetests/filetests/vcode/aarch64/call.clif
  cranelift/filetests/filetests/vcode/aarch64/reftypes.clif
  cranelift/filetests/filetests/vcode/aarch64/stack-limit.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2188 AArch64: Add various missing SIMD bits
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/filetests/filetests/vcode/aarch64/stack-limit.clif
  cranelift/filetests/filetests/vcode/aarch64/stack.clif
Labels: cranelift, cranelift:area:aarch64

#2190 Actually add instantiate-maybe-invalid fuzz target
  crates/fuzzing/src/lib.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/instantiate-maybe-invalid.rs
Labels: fuzzing

#2189 machinst x64: a few small refactorings/renamings
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/helpers.rs
  cranelift/codegen/src/machinst/inst_common.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2191 machinst x64: fix gen_store_base_offset for multi-value returns
  cranelift/codegen/src/isa/x64/abi.rs
Labels: cranelift, cranelift:area:x64

#2194 wasm: Remove duplicated parameters when popping an If
  cranelift/wasm/src/code_translator.rs
  cranelift/wasmtests/multi-17.wat
Labels: cranelift, cranelift:wasm

#2195 machinst x64: two optimizations
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#2151 Adds i64x2.mul for the new backend targeting x64
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2192 Convert Souper optimizations to Peepmatic DSL
  .github/workflows/main.yml
  Cargo.lock
  cranelift/Cargo.toml
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/souper/src/lib.rs
  scripts/publish.rs
Labels: cranelift, cranelift:area:peepmatic

#2200 clif-util: add the `souper-to-peepmatic` subcommand
  cranelift/src/clif-util.rs
  cranelift/src/souper_to_peepmatic.rs
Labels: cranelift

#2197 Account for duplicated if-block params on `end` op in unreachable case.
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/state/func_state.rs
  cranelift/wasmtests/if-unreachable-else-params-2.wat
Labels: cranelift, cranelift:wasm

#2184 Harvest left-hand side superoptimization candidates
  Cargo.lock
  cranelift/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/souper_harvest.rs
  cranelift/src/clif-util.rs
  cranelift/src/souper_harvest.rs
  crates/wasmtime/src/ref.rs
  fuzz/fuzz_targets/instantiate-wasm-smith.rs
  fuzz/fuzz_targets/table_ops.rs
Labels: cranelift, cranelift:meta, fuzzing, wasmtime:api

#2203 Clean up `clif-util`: use anyhow and structopt
  .github/workflows/main.yml
  Cargo.lock
  cranelift/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/filetests/src/concurrent.rs
  cranelift/filetests/src/lib.rs
  cranelift/filetests/src/runner.rs
  cranelift/filetests/src/runone.rs
  cranelift/filetests/src/subtest.rs
  cranelift/filetests/src/test_binemit.rs
  cranelift/filetests/src/test_cat.rs
  cranelift/filetests/src/test_compile.rs
  cranelift/filetests/src/test_dce.rs
  cranelift/filetests/src/test_domtree.rs
  cranelift/filetests/src/test_interpret.rs
  cranelift/filetests/src/test_legalizer.rs
  cranelift/filetests/src/test_licm.rs
  cranelift/filetests/src/test_peepmatic.rs
  cranelift/filetests/src/test_postopt.rs
  cranelift/filetests/src/test_preopt.rs
  cranelift/filetests/src/test_print_cfg.rs
  cranelift/filetests/src/test_regalloc.rs
  cranelift/filetests/src/test_rodata.rs
  cranelift/filetests/src/test_run.rs
  cranelift/filetests/src/test_safepoint.rs
  cranelift/filetests/src/test_shrink.rs
  cranelift/filetests/src/test_simple_gvn.rs
  cranelift/filetests/src/test_simple_preopt.rs
  cranelift/filetests/src/test_stack_maps.rs
  cranelift/filetests/src/test_unwind.rs
  cranelift/filetests/src/test_verifier.rs
  cranelift/reader/src/error.rs
  cranelift/src/bugpoint.rs
  cranelift/src/cat.rs
  cranelift/src/clif-util.rs
  cranelift/src/compile.rs
  cranelift/src/disasm.rs
  cranelift/src/interpret.rs
  cranelift/src/print_cfg.rs
  cranelift/src/run.rs
  cranelift/src/souper_harvest.rs
  cranelift/src/souper_to_peepmatic.rs
  cranelift/src/utils.rs
  cranelift/src/wasm.rs
Labels: cranelift

#2199 Upgrade to target-lexicon 0.11
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/isa/mod.rs
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/object/src/backend.rs
  cranelift/reader/Cargo.toml
  cranelift/simplejit/Cargo.toml
  cranelift/src/disasm.rs
  cranelift/wasm/Cargo.toml
  crates/debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/obj/Cargo.toml
  crates/obj/src/builder.rs
  crates/profiling/Cargo.toml
  crates/profiling/src/jitdump_linux.rs
  crates/test-programs/Cargo.toml
  crates/wasmtime/Cargo.toml
  fuzz/Cargo.toml
Labels: cranelift, cranelift:module, cranelift:wasm, fuzzing, wasi, wasmtime:api

#2181 arm64: Combine mul + add into madd
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#2201 wasi-common: code motion around type imports
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/fs/dir.rs
  crates/wasi-common/src/fs/file.rs
  crates/wasi-common/src/fs/mod.rs
  crates/wasi-common/src/fs/readdir.rs
  crates/wasi-common/src/handle.rs
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/path.rs
  crates/wasi-common/src/poll.rs
  crates/wasi-common/src/sched.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/sys/clock.rs
  crates/wasi-common/src/sys/fd.rs
  crates/wasi-common/src/sys/mod.rs
  crates/wasi-common/src/sys/osdir.rs
  crates/wasi-common/src/sys/osfile.rs
  crates/wasi-common/src/sys/osother.rs
  crates/wasi-common/src/sys/stdio.rs
  crates/wasi-common/src/sys/unix/clock.rs
  crates/wasi-common/src/sys/unix/fd.rs
  crates/wasi-common/src/sys/unix/mod.rs
  crates/wasi-common/src/sys/unix/osdir.rs
  crates/wasi-common/src/sys/unix/osfile.rs
  crates/wasi-common/src/sys/unix/osother.rs
  crates/wasi-common/src/sys/unix/path.rs
  crates/wasi-common/src/sys/unix/poll.rs
  crates/wasi-common/src/sys/windows/clock.rs
  crates/wasi-common/src/sys/windows/fd.rs
  crates/wasi-common/src/sys/windows/mod.rs
  crates/wasi-common/src/sys/windows/osdir.rs
  crates/wasi-common/src/sys/windows/osfile.rs
  crates/wasi-common/src/sys/windows/osother.rs
  crates/wasi-common/src/sys/windows/path.rs
  crates/wasi-common/src/sys/windows/poll.rs
  crates/wasi-common/src/virtfs.rs
  crates/wasi-common/src/virtfs/pipe.rs
  crates/wasi-common/src/wasi.rs
Labels: wasi

#2207 Make filetest errors report full context
  cranelift/filetests/src/runner.rs
  cranelift/src/clif-util.rs
Labels: cranelift

#2214 Fix Switch for 128bit integers
  cranelift/codegen/meta/src/cdsl/typevar.rs
  cranelift/codegen/meta/src/shared/legalize.rs
  cranelift/frontend/src/switch.rs
Labels: cranelift, cranelift:meta

#2103 cranelift: arm32 codegen
  cranelift/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/arm32/abi.rs
  cranelift/codegen/src/isa/arm32/binemit.rs
  cranelift/codegen/src/isa/arm32/enc_tables.rs
  cranelift/codegen/src/isa/arm32/inst/args.rs
  cranelift/codegen/src/isa/arm32/inst/emit.rs
  cranelift/codegen/src/isa/arm32/inst/emit_tests.rs
  cranelift/codegen/src/isa/arm32/inst/mod.rs
  cranelift/codegen/src/isa/arm32/inst/regs.rs
  cranelift/codegen/src/isa/arm32/lower.rs
  cranelift/codegen/src/isa/arm32/lower_inst.rs
  cranelift/codegen/src/isa/arm32/mod.rs
  cranelift/codegen/src/isa/arm32/registers.rs
  cranelift/codegen/src/isa/arm32/settings.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/regalloc/pressure.rs
  cranelift/codegen/src/regalloc/solver.rs
  cranelift/filetests/filetests/vcode/arm32/aluops.clif
  cranelift/filetests/filetests/vcode/arm32/bitops.clif
  cranelift/filetests/filetests/vcode/arm32/cond.clif
  cranelift/filetests/filetests/vcode/arm32/constants.clif
  cranelift/filetests/filetests/vcode/arm32/control-flow.clif
  cranelift/filetests/filetests/vcode/arm32/extend.clif
  cranelift/filetests/filetests/vcode/arm32/params.clif
  cranelift/filetests/filetests/vcode/arm32/shift-rotate.clif
  cranelift/filetests/src/runone.rs
  cranelift/frontend/src/frontend.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2212 Fix relocated readonly data in custom sections
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#2218 cranelift-object: Support per function sections
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#2221 Log level to "debug!" in translate_from_reader
  cranelift/wasm/src/func_translator.rs
Labels: cranelift, cranelift:wasm

#2222 Bump wasmtime to 0.20.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/automata/Cargo.toml
  cranelift/peepmatic/crates/macro/Cargo.toml
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/peepmatic/crates/traits/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/simplejit/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/wasmtime/Cargo.toml
  crates/misc/rust/Cargo.toml
  crates/misc/rust/macro/Cargo.toml
  crates/obj/Cargo.toml
  crates/profiling/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/wig/Cargo.toml
  crates/wasi-common/winx/Cargo.toml
  crates/wasi-common/yanix/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  crates/wiggle/wasmtime/Cargo.toml
  crates/wiggle/wasmtime/macro/Cargo.toml
Labels: cranelift, cranelift:area:peepmatic, cranelift:meta, cranelift:module, cranelift:wasm, wasmtime:docs

#2227 Update golang example
  docs/lang-go.md
Labels: wasmtime:docs

#2231 [machinst x64]: inform the register allocator of more types of packed moves
  cranelift/codegen/src/isa/x64/inst/mod.rs
Labels: cranelift, cranelift:area:x64

#2235 Don't implicitly create empty files in VirtualDir::openat
  crates/test-programs/README.md
  crates/test-programs/wasi-tests/src/bin/path_open_missing.rs
  crates/wasi-common/src/virtfs.rs
Labels: wasi

#2233 dep gardening
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/filetests/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/jit/Cargo.toml
  crates/profiling/Cargo.toml
Labels: cranelift

#2229 rm useless code
  crates/wasmtime/src/trampoline/func.rs
Labels: wasmtime:api

#2238 docs: Fix link to contributing sub-page
  docs/stability-wasm-proposals-support.md
Labels: wasmtime:docs

#2243 optimize get_wasmtime_signature
  crates/wasmtime/src/types.rs
Labels: wasmtime:api

#2241 [machinst x64]: demonstrate that packed register moves are elided
  cranelift/filetests/filetests/isa/x64/move-elision.clif
Labels: cranelift

#2242 refactor: move all 'filetests/vcode' tests to 'filetests/isa'
  cranelift/filetests/filetests/isa/aarch64/amodes.clif
  cranelift/filetests/filetests/isa/aarch64/arithmetic.clif
  cranelift/filetests/filetests/isa/aarch64/basic1.clif
  cranelift/filetests/filetests/isa/aarch64/bitops.clif
  cranelift/filetests/filetests/isa/aarch64/call-indirect.clif
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/aarch64/condbr.clif
  cranelift/filetests/filetests/isa/aarch64/condops.clif
  cranelift/filetests/filetests/isa/aarch64/constants.clif
  cranelift/filetests/filetests/isa/aarch64/extend-op.clif
  cranelift/filetests/filetests/isa/aarch64/fcvt-small.clif
  cranelift/filetests/filetests/isa/aarch64/floating-point.clif
  cranelift/filetests/filetests/isa/aarch64/heap_addr.clif
  cranelift/filetests/filetests/isa/aarch64/iconst-icmp-small.clif
  cranelift/filetests/filetests/isa/aarch64/jumptable.clif
  cranelift/filetests/filetests/isa/aarch64/multivalue-ret.clif
  cranelift/filetests/filetests/isa/aarch64/narrow-arithmetic.clif
  cranelift/filetests/filetests/isa/aarch64/reftypes.clif
  cranelift/filetests/filetests/isa/aarch64/saturating-ops.clif
  cranelift/filetests/filetests/isa/aarch64/shift-op.clif
  cranelift/filetests/filetests/isa/aarch64/shift-rotate.clif
  cranelift/filetests/filetests/isa/aarch64/stack-limit.clif
  cranelift/filetests/filetests/isa/aarch64/stack.clif
  cranelift/filetests/filetests/isa/aarch64/symbol-value.clif
  cranelift/filetests/filetests/isa/aarch64/traps.clif
  cranelift/filetests/filetests/isa/aarch64/uextend-sextend.clif
  cranelift/filetests/filetests/isa/arm32/aluops.clif
  cranelift/filetests/filetests/isa/arm32/bitops.clif
  cranelift/filetests/filetests/isa/arm32/cond.clif
  cranelift/filetests/filetests/isa/arm32/constants.clif
  cranelift/filetests/filetests/isa/arm32/control-flow.clif
  cranelift/filetests/filetests/isa/arm32/extend.clif
  cranelift/filetests/filetests/isa/arm32/params.clif
  cranelift/filetests/filetests/isa/arm32/shift-rotate.clif
Labels: cranelift

#2240 [machinst x64]: calculate extension modes in one place
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2245 Add metadata to peepmatic crates
  cranelift/peepmatic/crates/traits/Cargo.toml
Labels: cranelift, cranelift:area:peepmatic

#2223 Support for SpiderMonkey's "Wasm ABI 2020" in general and on AArch64.
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/ir/extfunc.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/call_conv.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x86/abi.rs
  cranelift/codegen/src/legalizer/boundary.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/lower.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64, cranelift:meta
