Repository bytecodealliance/wasmtime, pull requests merged in 2020-07, with the labels that each got.

#1945 machinst x64: correctly assign FP registers for incoming args
  cranelift/codegen/src/isa/x64/abi.rs
Labels: cranelift, cranelift:area:x64

#1908 Chore: update various crates' `object` and `wast` dependencies
  Cargo.lock
  Cargo.toml
  cranelift/object/Cargo.toml
  crates/debug/Cargo.toml
  crates/obj/Cargo.toml
  crates/profiling/Cargo.toml
  crates/wast/Cargo.toml
Labels: cranelift, cranelift:module

#1930 Spectre mitigation on heap access overflow checks.
  cranelift/codegen/meta/src/isa/x86/encodings.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/legalizer/heap.rs
  cranelift/codegen/src/settings.rs
  cranelift/filetests/filetests/isa/x86/legalize-heaps.clif
  cranelift/filetests/filetests/isa/x86/legalize-memory.clif
  cranelift/filetests/filetests/vcode/aarch64/heap_addr.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:meta

#1954 AArch64: fix shift ops: mask shift amount.
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/vcode/aarch64/shift-op.clif
Labels: cranelift, cranelift:area:aarch64

#1949 🕳 Add virtual pipes to wasi-common
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/virtfs.rs
  crates/wasi-common/src/virtfs/pipe.rs
Labels: wasi, wasi:impl

#1951 Rename `OFlag`/`AtFlag` to `OFlags`/`AtFlags`.
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/emscripten/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/entry_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/linux/hostcalls_impl.rs
  crates/wasi-common/src/sys/unix/bsd/mod.rs
  crates/wasi-common/src/sys/unix/bsd/path.rs
  crates/wasi-common/src/sys/unix/emscripten/mod.rs
  crates/wasi-common/src/sys/unix/linux/mod.rs
  crates/wasi-common/src/sys/unix/linux/path.rs
  crates/wasi-common/src/sys/unix/mod.rs
  crates/wasi-common/src/sys/unix/osdir.rs
  crates/wasi-common/src/sys/unix/osfile.rs
  crates/wasi-common/src/sys/unix/path.rs
  crates/wasi-common/yanix/src/fcntl.rs
  crates/wasi-common/yanix/src/file.rs
Labels: wasi

#1955 Expand top-level `wasmtime` crate docs
  Cargo.lock
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime.rs
Labels: wasmtime:api

#1928 Add support for documenting the C API
  .github/workflows/main.yml
  crates/c-api/.gitignore
  crates/c-api/doxygen.conf
  crates/c-api/include/doc-wasm.h
  crates/c-api/include/wasmtime.h
Labels: wasmtime:c-api

#1862 Vcode add store
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#1932 Vcode add load
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#1961 wasi-common virtfs pipe: convert to be Send and Sync; fix Clone
  crates/wasi-common/src/virtfs/pipe.rs
Labels: wasi

#1963 cranelift-wasm: expose cranelift-frontend's FunctionBuilder in the public API
  cranelift/wasm/src/lib.rs
Labels: cranelift, cranelift:wasm

#1959 Document the rest of the C API
  crates/c-api/doxygen.conf
  crates/c-api/include/doc-wasm.h
  crates/c-api/include/wasi.h
  crates/c-api/include/wasmtime.h
Labels: wasmtime:c-api

#1965 Use smallvec for avoid allocations in the trampoline
  Cargo.lock
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/func.rs
Labels: wasmtime:api

#1966 arm64: Implement basic SIMD arithmetic
  build.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#1968 Link to C API docs and make a landing page
  README.md
  crates/c-api/README.md
  crates/c-api/include/doc-wasm.h
  docs/examples-c-embed.md
Labels: wasmtime:c-api, wasmtime:docs

#1969 wasmtime: Implement `global.{get,set}` for externref globals
  build.rs
  crates/environ/src/func_environ.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/sig_registry.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/trampoline/create_handle.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/trampoline/memory.rs
  crates/wasmtime/src/trampoline/table.rs
  crates/wasmtime/src/types.rs
  tests/all/externals.rs
  tests/all/gc.rs
  tests/misc_testsuite/reference-types/mutable_externref_globals.wast
Labels: wasmtime:api

#1962 AArch64: avoid branches with explicit offsets at lowering stage.
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/filetests/filetests/vcode/aarch64/arithmetic.clif
  cranelift/filetests/filetests/vcode/aarch64/floating-point.clif
  cranelift/filetests/filetests/vcode/aarch64/jumptable.clif
  cranelift/filetests/filetests/vcode/aarch64/stack-limit.clif
  cranelift/filetests/filetests/vcode/aarch64/traps.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst

#1970 Add __dso_handle to exception list of deprecated export symbols
  crates/wasmtime/src/linker.rs
Labels: wasmtime:api

#1972 readme: Make "wasmtime-go" use monospace font
  README.md
Labels: wasmtime:docs

#1964 machinst x64: use movss for f32 loads
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#1976 wasmtime: fix typo in summary
  docs/SUMMARY.md
Labels: wasmtime:docs

#1978 Updated region versions
  cranelift/simplejit/Cargo.toml
  crates/wasmtime/Cargo.toml
Labels: cranelift, cranelift:module, wasmtime:api

#1903 wasmtime: add config option for parallel compilation
  Cargo.lock
  Cargo.toml
  crates/environ/Cargo.toml
  crates/environ/src/cranelift.rs
  crates/wasmtime/Cargo.toml
  crates/wiggle/wasmtime/Cargo.toml
Labels: wasi, wasmtime:api

#1982 fuzzing: Enable reference types by default
  crates/fuzzing/src/lib.rs
Labels: fuzzing

#1981 Begin porting yanix to WASI.
  crates/wasi-common/yanix/src/dir.rs
  crates/wasi-common/yanix/src/fcntl.rs
  crates/wasi-common/yanix/src/file.rs
  crates/wasi-common/yanix/src/lib.rs
  crates/wasi-common/yanix/src/sys/mod.rs
  crates/wasi-common/yanix/src/sys/wasi/fadvise.rs
  crates/wasi-common/yanix/src/sys/wasi/file.rs
  crates/wasi-common/yanix/src/sys/wasi/filetime.rs
  crates/wasi-common/yanix/src/sys/wasi/mod.rs
Labels: wasi

#1984 wasmtime: Support reference types in the Rust API
  crates/runtime/src/instance.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/trampoline/table.rs
  crates/wasmtime/src/values.rs
  tests/all/externals.rs
Labels: wasmtime:api

#1975 peepmatic: add reminder by a power of two rule
  cranelift/codegen/src/preopt.peepmatic
  cranelift/codegen/src/preopt.serialized
  cranelift/peepmatic/crates/runtime/src/operator.rs
  cranelift/peepmatic/crates/runtime/src/optimizer.rs
Labels: cranelift, cranelift:area:peepmatic

#1983 Remove 'set frame pointer' unwind code from Windows x64 unwind.
  cranelift/codegen/src/isa/unwind/winx64.rs
  cranelift/codegen/src/isa/x86/abi.rs
  cranelift/codegen/src/isa/x86/unwind/winx64.rs
  cranelift/filetests/filetests/isa/x86/windows_fastcall_x64_unwind.clif
  tests/all/cli_tests.rs
  tests/wasm/exit_with_saved_fprs.wat
Labels: cranelift

#1985 fuzzing: Enforce a maximum input length for `peepmatic_compile` target
  cranelift/peepmatic/crates/fuzzing/src/compile.rs
Labels: cranelift, cranelift:area:peepmatic

#1931 Write ELF image and instantiate code_memory from it
  Cargo.lock
  crates/debug/Cargo.toml
  crates/debug/src/lib.rs
  crates/debug/src/write_debuginfo.rs
  crates/jit/Cargo.toml
  crates/jit/src/code_memory.rs
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/jit/src/link.rs
  crates/jit/src/object.rs
  crates/jit/src/trampoline.rs
  crates/wasmtime/src/trampoline/func.rs
Labels: cranelift, cranelift:wasm, wasmtime:api

#1991 Support reference types in `Func::wrap`
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/values.rs
  tests/all/func.rs
  tests/all/gc.rs
Labels: wasmtime:api

#2006 Add link to C API docs in the guide
  docs/lang-c.md
Labels: wasmtime:docs

#2005 Make wasmtime_environ::Module serializable
  Cargo.lock
  cranelift/codegen/src/ir/extfunc.rs
  cranelift/codegen/src/ir/immediates.rs
  cranelift/codegen/src/ir/types.rs
  cranelift/codegen/src/ir/valueloc.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/func_translator.rs
  cranelift/wasm/src/sections_translator.rs
  cranelift/wasm/src/translation_utils.rs
  crates/environ/Cargo.toml
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/types.rs
Labels: cranelift, cranelift:wasm, wasmtime:api

#2010 WASI: make O_CREAT|O_TRUNC actually truncate files on Windows
  crates/test-programs/build.rs
  crates/test-programs/wasi-tests/src/bin/file_truncation.rs
  crates/test-programs/wasi-tests/src/bin/poll_oneoff.rs
  crates/wasi-common/src/sys/windows/path.rs
Labels: wasi

#1977 arm64: Implement SIMD shift instructions
  build.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#1999 machinst aarch64: fix encoding generation of left-shift by 0
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
Labels: cranelift, cranelift:area:aarch64

#1996 Support reference types in the C API
  .github/workflows/main.yml
  .gitignore
  Cargo.lock
  crates/c-api/include/doc-wasm.h
  crates/c-api/include/wasmtime.h
  crates/c-api/src/func.rs
  crates/c-api/src/global.rs
  crates/c-api/src/lib.rs
  crates/c-api/src/ref.rs
  crates/c-api/src/table.rs
  crates/c-api/src/val.rs
  crates/c-api/tests/wasm-c-examples.rs
  crates/misc/run-examples/Cargo.toml
  crates/misc/run-examples/src/main.rs
  examples/externref.c
  examples/externref.rs
  examples/externref.wat
Labels: wasmtime:c-api

#2014 Switch CI back to nightly channel
  .github/workflows/main.yml
  Cargo.lock
  cranelift/codegen/src/ir/constant.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/filetests/src/function_runner.rs
  cranelift/reader/src/run_command.rs
Labels: cranelift, cranelift:area:aarch64

#1992 Refactor the InstSize enum in the AArch64 backend
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#1939 Fix Switch for 128bit integers
  cranelift/frontend/src/switch.rs
Labels: cranelift

#1852 Reference type support in MachInst backend and on AArch64
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/regalloc/safepoint.rs
  cranelift/filetests/filetests/vcode/aarch64/reftypes.clif
  cranelift/wasm/src/state/module_state.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64, cranelift:wasm

#2016 arm64: Implement saturating SIMD arithmetic
  build.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#2019 AArch64: Remove show_freg_sized()
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
Labels: cranelift, cranelift:area:aarch64

#2003 machinst x64: Only use the feature flag to enable the x64 new backend
  cranelift/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/build.rs
  cranelift/codegen/meta/src/gen_legalizer.rs
  cranelift/codegen/meta/src/isa/mod.rs
  cranelift/codegen/meta/src/isa/x86/mod.rs
  cranelift/codegen/meta/src/isa/x86/settings.rs
  cranelift/codegen/meta/src/lib.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/isa/x64/settings.rs
  cranelift/codegen/src/isa/x86/mod.rs
  cranelift/codegen/src/legalizer/mod.rs
  crates/jit/src/link.rs
Labels: cranelift, cranelift:area:x64, cranelift:meta

#2023 Update platform support docs
  docs/stability-platform-support.md
Labels: wasmtime:docs

#2026 Fix signature of wasmtime_module_new
  crates/c-api/include/wasmtime.h
  crates/c-api/src/module.rs
  examples/externref.c
  examples/fib-debug/main.c
  examples/gcd.c
  examples/hello.c
  examples/hello.cc
  examples/interrupt.c
  examples/linking.c
  examples/memory.c
  examples/multi.c
  examples/wasi/main.c
Labels: wasmtime:c-api

#2029 C API tweaks for wasmtime-py
  crates/c-api/include/wasmtime.h
  crates/c-api/src/func.rs
  crates/c-api/src/table.rs
  crates/c-api/src/val.rs
Labels: wasmtime:c-api

#2033 Allow `improper_ctypes_definitions` in C API
  crates/c-api/src/lib.rs
Labels: wasmtime:c-api

#2027 Wasmtime 0.19.0 and Cranelift 0.66.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/faerie/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/simplejit/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/Cargo.toml
  crates/c-api/macros/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/misc/run-examples/Cargo.toml
  crates/misc/rust/Cargo.toml
  crates/misc/rust/macro/Cargo.toml
  crates/obj/Cargo.toml
  crates/profiling/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/test-programs/wasi-tests/Cargo.lock
  crates/test-programs/wasi-tests/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/wig/Cargo.toml
  crates/wasi-common/winx/Cargo.toml
  crates/wasi-common/yanix/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasi/build.rs
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  crates/wiggle/test-helpers/Cargo.toml
  crates/wiggle/wasmtime/Cargo.toml
  crates/wiggle/wasmtime/macro/Cargo.toml
  scripts/bump-cranelift-version.sh
  scripts/bump-wasmtime-version.sh
Labels: cranelift, cranelift:area:peepmatic, cranelift:meta, cranelift:module, cranelift:wasm, fuzzing, lightbeam, wasmtime:c-api, wasmtime:docs

#2034 Update to regalloc.rs 0.0.28.
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/filetests/filetests/vcode/aarch64/reftypes.clif
Labels: cranelift

#2035 Fixes needed for 0.19.0
  Cargo.lock
  crates/wasi-common/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasi/src/lib.rs
  crates/wiggle/wasmtime/macro/Cargo.toml
  crates/wiggle/wasmtime/macro/src/lib.rs
  scripts/publish-wasmtime.sh
Labels: wasi

#2004 machinst x64: floating point support
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2037 Remove spam from "do_remove_constant_phis"
  cranelift/codegen/src/remove_constant_phis.rs
Labels: cranelift

#2022 peepmatic: Add bnot operation
  cranelift/codegen/src/peepmatic.rs
  cranelift/codegen/src/preopt.serialized
  cranelift/peepmatic/crates/runtime/src/operator.rs
Labels: cranelift, cranelift:area:peepmatic

#2040 Fix leaking funcrefs in the C API
  crates/c-api/src/val.rs
Labels: wasmtime:c-api

#2041 Fix `wasm_val_copy` for null funcref/externref
  crates/c-api/src/val.rs
Labels: wasmtime:c-api

#2011 Vcode add fcmp
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2036 Verify crates are publish-able on CI
  .github/workflows/main.yml
  .gitignore
  crates/wiggle/test-helpers/Cargo.toml
  crates/wiggle/wasmtime/macro/Cargo.toml
  docs/contributing-release-process.md
  scripts/bump-cranelift-version.sh
  scripts/bump-wasmtime-version.sh
  scripts/publish-cranelift.sh
  scripts/publish-wasmtime.sh
  scripts/publish.rs
Labels: wasi, wasmtime:docs

#1960 peepmatic: Be generic over the IR we are optimizing
  .github/workflows/main.yml
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/build.rs
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/peepmatic.rs
  cranelift/codegen/src/preopt.serialized
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/automata/Cargo.toml
  cranelift/peepmatic/crates/fuzzing/Cargo.toml
  cranelift/peepmatic/crates/fuzzing/src/compile.rs
  cranelift/peepmatic/crates/fuzzing/src/interp.rs
  cranelift/peepmatic/crates/fuzzing/src/parser.rs
  cranelift/peepmatic/crates/macro/Cargo.toml
  cranelift/peepmatic/crates/macro/src/child_nodes.rs
  cranelift/peepmatic/crates/macro/src/into_dyn_ast_ref.rs
  cranelift/peepmatic/crates/macro/src/lib.rs
  cranelift/peepmatic/crates/macro/src/operator.rs
  cranelift/peepmatic/crates/macro/src/span.rs
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/runtime/src/instruction_set.rs
  cranelift/peepmatic/crates/runtime/src/lib.rs
  cranelift/peepmatic/crates/runtime/src/linear.rs
  cranelift/peepmatic/crates/runtime/src/operator.rs
  cranelift/peepmatic/crates/runtime/src/optimizations.rs
  cranelift/peepmatic/crates/runtime/src/optimizer.rs
  cranelift/peepmatic/crates/runtime/src/unquote.rs
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/peepmatic/crates/test-operator/src/lib.rs
  cranelift/peepmatic/crates/test/Cargo.toml
  cranelift/peepmatic/crates/test/src/lib.rs
  cranelift/peepmatic/crates/test/tests/tests.rs
  cranelift/peepmatic/crates/traits/Cargo.toml
  cranelift/peepmatic/crates/traits/src/lib.rs
  cranelift/peepmatic/crates/traits/src/operator.rs
  cranelift/peepmatic/crates/traits/src/typing.rs
  cranelift/peepmatic/src/ast.rs
  cranelift/peepmatic/src/automatize.rs
  cranelift/peepmatic/src/dot_fmt.rs
  cranelift/peepmatic/src/lib.rs
  cranelift/peepmatic/src/linear_passes.rs
  cranelift/peepmatic/src/linearize.rs
  cranelift/peepmatic/src/parser.rs
  cranelift/peepmatic/src/traversals.rs
  cranelift/peepmatic/src/verify.rs
  scripts/publish.rs
Labels: cranelift, cranelift:area:peepmatic, cranelift:meta

#2042 Aarch64: mask shift-amounts incorporated into reg-reg-shift ALU insts.
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/filetests/filetests/vcode/aarch64/arithmetic.clif
Labels: cranelift, cranelift:area:aarch64

#2043 Aarch64: handle csel with icmp/fcmp source without materializing the bool.
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/vcode/aarch64/condops.clif
Labels: cranelift, cranelift:area:aarch64

#2044 Cranelift README: fix markdown link syntax
  cranelift/README.md
Labels: cranelift

#2038 arm64: Enable arith2 tests
  build.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#1950 Use AsRef<Path> instead of AsRef<OsStr> in yanix functions
  crates/wasi-common/yanix/src/file.rs
  crates/wasi-common/yanix/src/lib.rs
  crates/wasi-common/yanix/src/sys/bsd/filetime.rs
  crates/wasi-common/yanix/src/sys/emscripten/filetime.rs
  crates/wasi-common/yanix/src/sys/linux/filetime.rs
  crates/wasi-common/yanix/src/sys/linux/utimesat.rs
Labels: wasi

#2047 Fix `u8::MAX` -> `std::u8::MAX`.
  .github/workflows/main.yml
  cranelift/codegen/src/isa/aarch64/lower.rs
Labels: cranelift, cranelift:area:aarch64

#2052 Add a GC function to the C API
  crates/c-api/include/wasmtime.h
  crates/c-api/src/store.rs
  examples/externref.c
  examples/externref.rs
Labels: wasmtime:c-api

#2020 Serialize and deserialize compilation artifacts.
  Cargo.lock
  cranelift/codegen/src/settings.rs
  crates/c-api/include/wasmtime.h
  crates/c-api/src/module.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/jit/Cargo.toml
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/jit/src/object.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/runtime.rs
  examples/serialize.c
  examples/serialize.rs
  tests/all/main.rs
  tests/all/module_serialize.rs
Labels: cranelift, wasmtime:api, wasmtime:c-api

#2058 Aarch64 codegen: represent bool `true` as -1, not 1.
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#2062 AArch64: Improve code generation for Extractlane + Sextend / Uextend
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#2063 arm64: Implement Vselect opcode
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#2065 Refactor Cache logic to include debug information
  crates/environ/src/cache.rs
  crates/environ/src/compilation.rs
  crates/environ/src/cranelift.rs
  crates/environ/src/lib.rs
  crates/environ/src/lightbeam.rs
  crates/jit/src/compiler.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/runtime.rs
  src/commands/wasm2obj.rs
  src/obj.rs
  tests/all/debug/obj.rs
Labels: wasmtime:api

#2066 Add timing for several new-backend stages.
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/timing.rs
Labels: cranelift, cranelift:area:machinst

#2051 Aarch64 codegen quality: handle add-negative-imm as subtract.
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/vcode/aarch64/arithmetic.clif
Labels: cranelift, cranelift:area:aarch64

#2069 Update the .NET docs for the current .NET API.
  docs/lang-dotnet.md
Labels: wasmtime:docs

#2061 Aarch64 codegen quality: support more general add+extend address computations.
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/filetests/filetests/vcode/aarch64/amodes.clif
  cranelift/filetests/filetests/vcode/aarch64/heap_addr.clif
  cranelift/filetests/filetests/vcode/aarch64/reftypes.clif
  cranelift/filetests/filetests/vcode/aarch64/stack.clif
Labels: cranelift, cranelift:area:aarch64

#2072 deps: Update libfuzzer-sys to 0.3.3
  Cargo.lock
  fuzz/Cargo.toml
Labels: fuzzing

#2075 AArch64: Implement SIMD floating-point arithmetic
  build.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#2070 virtfs file: update cursor position on fd_read
  crates/test-programs/wasi-tests/src/bin/file_pread_pwrite.rs
  crates/test-programs/wasi-tests/src/bin/file_seek_tell.rs
  crates/wasi-common/src/virtfs.rs
Labels: wasi

#2024 Expand doc section about "what about `#![no_std]`?"
  docs/stability-platform-support.md
Labels: wasmtime:docs

#2080 machinst x64: add testing to the CI
  .github/workflows/main.yml
  build.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x86/unwind/systemv.rs
  cranelift/codegen/src/isa/x86/unwind/winx64.rs
  cranelift/tests/filetests.rs
  crates/wiggle/macro/Cargo.toml
  tests/all/gc.rs
  tests/all/iloop.rs
  tests/all/stack_overflow.rs
  tests/all/traps.rs
Labels: cranelift, cranelift:area:x64, wasi

#2083 Fix MachBuffer branch handling with redirect chains.
  cranelift/codegen/src/machinst/buffer.rs
Labels: cranelift, cranelift:area:machinst

#2081 Aarch64: fix narrow integer-register extension with Baldrdash ABI.
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/filetests/filetests/vcode/aarch64/call.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2071 machinst x64: Use xor/xorps/xorpd to generate zero constants
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64
