Repository bytecodealliance/wasmtime, pull requests merged in 2020-01, with the labels that each got.

#758 [wasi-common] Use thiserror proc macros for auto From impls
  crates/wasi-common/src/error.rs
  crates/wasi-common/src/old/snapshot_0/error.rs
Labels: wasi-impl

#757 [wasi-common] Clean up fd_filestat_get implementation
  crates/wasi-common/src/helpers.rs
  crates/wasi-common/src/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/helpers.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/hostcalls_impl/misc.rs
  crates/wasi-common/src/sys/unix/host_impl.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/windows/host_impl.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/misc.rs
  crates/wasi-common/yanix/src/file.rs
Labels: wasi-impl

#770 Fix rights checks across the codebase.
  crates/test-programs/wasi-tests/src/bin/fd_advise.rs
  crates/test-programs/wasi-tests/src/bin/fd_filestat_set.rs
  crates/test-programs/wasi-tests/src/bin/fd_readdir.rs
  crates/test-programs/wasi-tests/src/bin/file_allocate.rs
  crates/test-programs/wasi-tests/src/bin/file_seek_tell.rs
  crates/test-programs/wasi-tests/src/bin/path_link.rs
  crates/test-programs/wasi-tests/src/bin/path_open_read_without_rights.rs
  crates/test-programs/wasi-tests/src/bin/poll_oneoff.rs
  crates/test-programs/wasi-tests/src/lib.rs
  crates/wasi-common/src/fdentry.rs
  crates/wasi-common/src/hostcalls_impl/fs.rs
  crates/wasi-common/src/hostcalls_impl/misc.rs
Labels: wasi-impl, wasi-tests

#760 [wasi-common] Log string representation of WASI errno at the trace level
  crates/wasi-common/src/error.rs
  crates/wasi-common/src/hostcalls/fs.rs
  crates/wasi-common/src/hostcalls/misc.rs
  crates/wasi-common/src/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/hostcalls_impl/misc.rs
  crates/wasi-common/src/macros.rs
  crates/wasi-common/src/old/snapshot_0/error.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls/fs.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls/misc.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/fs_helpers.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/misc.rs
  crates/wasi-common/src/old/snapshot_0/sys/mod.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/host_impl.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/sys/unix/hostcalls_impl/misc.rs
  crates/wasi-common/src/old/snapshot_0/sys/windows/host_impl.rs
  crates/wasi-common/src/sys/mod.rs
  crates/wasi-common/src/sys/unix/bsd/hostcalls_impl.rs
  crates/wasi-common/src/sys/unix/host_impl.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/fs.rs
  crates/wasi-common/src/sys/unix/hostcalls_impl/misc.rs
  crates/wasi-common/src/sys/windows/host_impl.rs
Labels: wasi-impl

#822 Move compilation into Module from Instance.
  Cargo.lock
  crates/api/src/instance.rs
  crates/api/src/module.rs
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/oracles.rs
  crates/jit/src/context.rs
  crates/jit/src/imports.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/jit/src/link.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/compile.rs
Labels: wasmtime-api

#832 [wasi-common]: Generate strerror from witx; tweak Display for WasiError
  crates/wasi-common/src/error.rs
  crates/wasi-common/src/old/snapshot_0/error.rs
  crates/wasi-common/src/old/snapshot_0/wasi.rs
  crates/wasi-common/src/wasi.rs
  crates/wasi-common/wig/src/raw_types.rs
Labels: wasi-impl

#846 Auto-generate the `hostcalls` module of `wasi-common`
  Cargo.lock
  crates/wasi-common/Cargo.toml
  crates/wasi-common/src/fs/dir.rs
  crates/wasi-common/src/fs/error.rs
  crates/wasi-common/src/fs/file.rs
  crates/wasi-common/src/fs/mod.rs
  crates/wasi-common/src/hostcalls.rs
  crates/wasi-common/src/hostcalls/fs.rs
  crates/wasi-common/src/hostcalls/misc.rs
  crates/wasi-common/src/hostcalls/mod.rs
  crates/wasi-common/src/hostcalls/sock.rs
  crates/wasi-common/src/hostcalls_impl/misc.rs
  crates/wasi-common/src/hostcalls_impl/mod.rs
  crates/wasi-common/src/hostcalls_impl/sock.rs
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/macros.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls/fs.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls/misc.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls/mod.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls/sock.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/fs.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/misc.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/mod.rs
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/sock.rs
  crates/wasi-common/src/old/snapshot_0/mod.rs
  crates/wasi-common/wasi-common-cbindgen/Cargo.toml
  crates/wasi-common/wasi-common-cbindgen/LICENSE
  crates/wasi-common/wasi-common-cbindgen/src/lib.rs
  crates/wasi-common/wasi-common-cbindgen/tests/array_args.rs
  crates/wasi-common/wasi-common-cbindgen/tests/mut_args.rs
  crates/wasi-common/wasi-common-cbindgen/tests/no_args.rs
  crates/wasi-common/wasi-common-cbindgen/tests/ref_args.rs
  crates/wasi-common/wasi-common-cbindgen/tests/test.rs
  crates/wasi-common/wasi-common-cbindgen/tests/val_args.rs
  crates/wasi-common/wig/Cargo.toml
  crates/wasi-common/wig/src/hostcalls.rs
  crates/wasi-common/wig/src/lib.rs
  crates/wasi-common/wig/src/raw_types.rs
  crates/wasi-common/wig/src/utils.rs
  crates/wasi-common/wig/src/wasi.rs
  crates/wasi/src/instantiate.rs
  crates/wasi/src/old/snapshot_0/instantiate.rs
  crates/wasi/src/old/snapshot_0/mod.rs
  crates/wasi/src/old/snapshot_0/syscalls.rs
Labels: wasi-impl

#552 Minimal viable implementation of poll_oneoff for Windows
  crates/test-programs/build.rs
  crates/test-programs/wasi-tests/src/bin/poll_oneoff.rs
  crates/wasi-common/src/error.rs
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/sys/windows/hostcalls_impl/misc.rs
Labels: wasi-impl
