Repository bytecodealliance/wasmtime, pull requests merged in 2020-05, with the labels that each got.

#1638 Add some debugging assistance to spectest oracle
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#1643 Update test ignore annotations for aarch64
  crates/api/src/runtime.rs
  tests/all/cli_tests.rs
  tests/all/custom_signal_handler.rs
  tests/all/fuzzing.rs
  tests/all/traps.rs
Labels: wasmtime:api

#1644 Move trap handler initialization to per-`Store`
  crates/api/src/runtime.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/traphandlers.rs
Labels: wasmtime:api

#1645 Improve documentation of the filetest `run` command
  cranelift/docs/testing.md
  cranelift/filetests/filetests/isa/x86/simd-arithmetic-run.clif
  cranelift/filetests/src/function_runner.rs
  cranelift/reader/src/run_command.rs
Labels: cranelift, cranelift:docs

#1652 Fix a missing early-return in `Table::get`
  crates/api/src/values.rs
  tests/all/main.rs
  tests/all/table.rs
Labels: wasmtime:api

#1653 Update `Table::grow`'s return to be the previous size
  crates/api/src/externals.rs
  crates/runtime/src/table.rs
Labels: wasmtime:api

#1570 Fix long-range (non-colocated) aarch64 calls to not use Arm64Call reloc, and fix simplejit to use new long-distance call.
  cranelift/codegen/src/ir/extfunc.rs
  cranelift/codegen/src/ir/globalvalue.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/filetests/filetests/vcode/aarch64/call.clif
  cranelift/filetests/filetests/vcode/aarch64/stack-limit.clif
  cranelift/simplejit/src/backend.rs
  cranelift/simplejit/tests/basic.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:module

#1662 add the _set suffix to static_memory_guard_size and dynamic_memory_guard_size properties in c-api
  crates/c-api/src/config.rs
Labels: wasmtime:c-api

#1663 Update wasmparser and wast dependencies
  Cargo.lock
  build.rs
  cranelift/wasm/Cargo.toml
  crates/api/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/src/backend.rs
  crates/profiling/Cargo.toml
  crates/wast/Cargo.toml
Labels: cranelift, cranelift:wasm, fuzzing, lightbeam, wasmtime:api

#1616 Legalize ireduce.iN.i2N to isplit
  cranelift/codegen/meta/src/shared/legalize.rs
  cranelift/filetests/filetests/isa/x86/legalize-ireduce-i128.clif
  cranelift/filetests/filetests/isa/x86/legalize-ireduce-i64.clif
Labels: cranelift, cranelift:meta

#1615 Legalize [su]extend.i64 to iconst/sshr_imm + iconcat
  cranelift/codegen/meta/src/shared/legalize.rs
  cranelift/filetests/filetests/isa/riscv/legalize-abi.clif
  cranelift/filetests/filetests/isa/x86/extend-i64-run.clif
  cranelift/filetests/filetests/isa/x86/extend-i64.clif
Labels: cranelift, cranelift:meta

#1661 machinst: Avoid a full instructions traversal of all the blocks when computing final block ordering
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:aarch64

#1607 Rework aarch64 stack frame implementation to use positive offsets.
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/filetests/filetests/vcode/aarch64/call.clif
  cranelift/filetests/filetests/vcode/aarch64/stack-limit.clif
  cranelift/filetests/filetests/vcode/aarch64/stack.clif
Labels: cranelift, cranelift:area:aarch64

#1666 Update to regalloc.rs version 0.22.
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/machinst/compile.rs
Labels: cranelift, cranelift:area:aarch64

#1561 Introduce strongly-typed system primitives
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/handle.rs
  crates/wasi-common/src/path.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/sys/mod.rs
  crates/wasi-common/src/sys/osdir.rs
  crates/wasi-common/src/sys/osfile.rs
  crates/wasi-common/src/sys/oshandle.rs
  crates/wasi-common/src/sys/osother.rs
  crates/wasi-common/src/sys/stdio.rs
  crates/wasi-common/src/sys/unix/bsd/mod.rs
  crates/wasi-common/src/sys/unix/bsd/osdir.rs
  crates/wasi-common/src/sys/unix/bsd/osfile.rs
  crates/wasi-common/src/sys/unix/bsd/path.rs
  crates/wasi-common/src/sys/unix/emscripten/mod.rs
  crates/wasi-common/src/sys/unix/fd.rs
  crates/wasi-common/src/sys/unix/linux/mod.rs
  crates/wasi-common/src/sys/unix/linux/osdir.rs
  crates/wasi-common/src/sys/unix/linux/osfile.rs
  crates/wasi-common/src/sys/unix/linux/path.rs
  crates/wasi-common/src/sys/unix/mod.rs
  crates/wasi-common/src/sys/unix/osdir.rs
  crates/wasi-common/src/sys/unix/osfile.rs
  crates/wasi-common/src/sys/unix/oshandle.rs
  crates/wasi-common/src/sys/unix/osother.rs
  crates/wasi-common/src/sys/unix/path.rs
  crates/wasi-common/src/sys/unix/poll.rs
  crates/wasi-common/src/sys/unix/stdio.rs
  crates/wasi-common/src/sys/windows/fd.rs
  crates/wasi-common/src/sys/windows/mod.rs
  crates/wasi-common/src/sys/windows/osdir.rs
  crates/wasi-common/src/sys/windows/osfile.rs
  crates/wasi-common/src/sys/windows/oshandle.rs
  crates/wasi-common/src/sys/windows/osother.rs
  crates/wasi-common/src/sys/windows/path.rs
  crates/wasi-common/src/sys/windows/poll.rs
  crates/wasi-common/src/sys/windows/stdio.rs
  crates/wasi-common/src/virtfs.rs
Labels: wasi

#1664 Add a transformation pass which removes phi nodes to which it can dem…
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/remove_constant_phis.rs
  cranelift/codegen/src/timing.rs
Labels: cranelift

#1612 Legalize 64 bit shifts on x86_32 using PSLLQ/PSRLQ
  cranelift/codegen/meta/src/isa/x86/encodings.rs
  cranelift/codegen/meta/src/isa/x86/legalize.rs
  cranelift/codegen/src/isa/x86/enc_tables.rs
  cranelift/filetests/filetests/isa/x86/legalize-x86_32-shifts.clif
Labels: cranelift, cranelift:meta

#1674 MachInst backend: don't reallocate RealRegUniverses for each function compilation.
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/mod.rs
Labels: cranelift, cranelift:area:aarch64

#1679 cranelift/reader/src/parser.rs: fn parse_inst_resuts: produce the res…
  Cargo.lock
  cranelift/reader/Cargo.toml
  cranelift/reader/src/parser.rs
Labels: cranelift

#1676 Update staticvec dependency from 0.8 to 0.9
  Cargo.lock
  crates/lightbeam/Cargo.toml
Labels: lightbeam

#1690 Fixed links in compare-llvm.md
  cranelift/docs/compare-llvm.md
Labels: cranelift, cranelift:docs

#1693 Move `crates/api` to `crates/wasmtime`
  .github/labeler.yml
  .github/workflows/main.yml
  Cargo.toml
  crates/c-api/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/misc/rust/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wasmtime/LICENSE
  crates/wasmtime/README.md
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/frame_info.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/ref.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/trampoline/create_handle.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/trampoline/memory.rs
  crates/wasmtime/src/trampoline/mod.rs
  crates/wasmtime/src/trampoline/table.rs
  crates/wasmtime/src/trap.rs
  crates/wasmtime/src/types.rs
  crates/wasmtime/src/unix.rs
  crates/wasmtime/src/values.rs
  crates/wasmtime/src/windows.rs
  crates/wast/Cargo.toml
  fuzz/Cargo.toml
  scripts/publish-wasmtime.sh
Labels: fuzzing, wasi, wasmtime:c-api

#1646 Change `proc_exit` to unwind the stack rather than exiting the host process.
  cranelift/codegen/src/ir/trapcode.rs
  cranelift/filetests/filetests/parser/flags.clif
  cranelift/filetests/filetests/parser/tiny.clif
  cranelift/filetests/filetests/regalloc/iterate.clif
  cranelift/filetests/filetests/wasm/control.clif
  crates/wasi-common/src/old/snapshot_0/hostcalls_impl/misc.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/wig/src/hostcalls.rs
  crates/wasi-common/wig/src/wasi.rs
  crates/wasi/src/lib.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trap.rs
  crates/wast/src/wast.rs
  src/commands/run.rs
  tests/all/cli_tests.rs
  tests/all/func.rs
  tests/all/iloop.rs
  tests/all/stack_overflow.rs
  tests/wasm/exit125_wasi_snapshot0.wat
  tests/wasm/exit125_wasi_snapshot1.wat
  tests/wasm/exit126_wasi_snapshot0.wat
  tests/wasm/exit126_wasi_snapshot1.wat
  tests/wasm/exit2_wasi_snapshot0.wat
  tests/wasm/exit2_wasi_snapshot1.wat
Labels: cranelift, wasi, wasmtime:api, wasmtime:c-api

#1654 Add wasmtime-specific C APIs for tables
  crates/c-api/include/wasmtime.h
  crates/c-api/src/func.rs
  crates/c-api/src/table.rs
Labels: wasmtime:c-api

#1698 Remove stray debugging printlns
  crates/c-api/src/table.rs
Labels: wasmtime:c-api

#1687 cranelift: Sign extend `Imm64` immediates
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/src/ir/immediates.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/filetests/filetests/simple_preopt/sign_extend.clif
Labels: cranelift, cranelift:meta

#1710 peepmatic: remove unused member from `PeepholeOptimizer`
  cranelift/peepmatic/crates/runtime/src/optimizations.rs
  cranelift/peepmatic/crates/runtime/src/optimizer.rs
Labels: cranelift, cranelift:area:peepmatic

#1699 Reduce arm64 Inst enum size
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#1712 Fix typo in README of peepmatic
  cranelift/peepmatic/README.md
Labels: cranelift, cranelift:area:peepmatic

#1719 Fix Wasm from rust docs
  docs/lang-rust.md
Labels: wasmtime:docs

#1721 Document cross-compiling Wasmtime
  docs/contributing-building.md
Labels: wasmtime:docs

#1722 Docs: add section on running under qemu.
  docs/contributing-building.md
Labels: wasmtime:docs

#1724 Limit the size of automaton keys in the `peepmatic_fst_diff` fuzz target
  cranelift/peepmatic/crates/fuzzing/src/automata.rs
Labels: cranelift, cranelift:area:peepmatic

#1718 Rework of MachInst isel, branch fixups and lowering, and block ordering.
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/sections.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/num_uses.rs
  cranelift/filetests/filetests/vcode/aarch64/arithmetic.clif
  cranelift/filetests/filetests/vcode/aarch64/condbr.clif
  cranelift/filetests/filetests/vcode/aarch64/jumptable.clif
  cranelift/filetests/filetests/vcode/aarch64/saturating-ops.clif
  cranelift/filetests/filetests/vcode/aarch64/shift-rotate.clif
  crates/environ/src/cranelift.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:isel, cranelift:area:x64

#1726 Limit the size of automaton keys in the `peepmatic_simple_automata` fuzz target
  cranelift/peepmatic/crates/fuzzing/src/automata.rs
Labels: cranelift, cranelift:area:peepmatic

#1727 Make the fuzzing CI job faster
  .github/workflows/main.yml
  fuzz/Cargo.toml
Labels: fuzzing

#1731 cranelift: bump regalloc.rs to 0.0.24 and adapt to latest API changes
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#1725 Revert fstatat on *nix and test symlinks in path_filestat calls
  crates/test-programs/wasi-tests/src/bin/path_filestat.rs
  crates/wasi-common/src/handle.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/sys/osdir.rs
  crates/wasi-common/src/sys/unix/path.rs
  crates/wasi-common/src/sys/windows/path.rs
  crates/wasi-common/src/virtfs.rs
Labels: wasi

#1733 Rename `anyref` to `externref` across the board
  crates/c-api/macros/src/lib.rs
  crates/c-api/src/extern.rs
  crates/c-api/src/func.rs
  crates/c-api/src/global.rs
  crates/c-api/src/instance.rs
  crates/c-api/src/memory.rs
  crates/c-api/src/module.rs
  crates/c-api/src/ref.rs
  crates/c-api/src/table.rs
  crates/c-api/src/trap.rs
  crates/c-api/src/types/val.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/ref.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/types.rs
  crates/wasmtime/src/values.rs
  crates/wast/src/spectest.rs
  src/commands/run.rs
  tests/all/externals.rs
  tests/all/linker.rs
  tests/all/table.rs
  tests/all/use_after_drop.rs
Labels: fuzzing, wasmtime:api, wasmtime:c-api

#1729 Fix MachBuffer branch optimization.
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/machinst/buffer.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:isel, cranelift:area:x64

#1737 Enable `env_logger` in the C API
  Cargo.lock
  crates/c-api/Cargo.toml
  crates/c-api/src/engine.rs
Labels: wasmtime:c-api

#1739 winx: do not link directly to ntdll.dll
  crates/wasi-common/winx/src/ntdll.rs
Labels: wasi

#1736 Fix assertion about length/capacity in C API
  crates/c-api/src/vec.rs
Labels: wasmtime:c-api

#1746 cranelift: add i64.[us]{div,rem} libcalls
  cranelift/codegen/src/ir/libcall.rs
  cranelift/filetests/filetests/wasm/i64-arith32.clif
  cranelift/module/src/backend.rs
  crates/jit/src/link.rs
  crates/runtime/src/libcalls.rs
Labels: cranelift, cranelift:module

#1734 Cranelift: Fix FPR saving and shadow space allocation for Windows x64.
  build.rs
  cranelift/codegen/src/isa/x86/abi.rs
  cranelift/codegen/src/isa/x86/unwind/winx64.rs
  cranelift/filetests/filetests/isa/x86/windows_fastcall_x64.clif
  cranelift/filetests/filetests/isa/x86/windows_fastcall_x64_unwind.clif
Labels: cranelift

#1732 arm64: Use FPU instrctions for Fcopysign
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/vcode/aarch64/floating-point.clif
Labels: cranelift, cranelift:area:aarch64

#1741 Merge `vcode` filetest mode into `compile`.
  cranelift/filetests/filetests/vcode/aarch64/arithmetic.clif
  cranelift/filetests/filetests/vcode/aarch64/basic1.clif
  cranelift/filetests/filetests/vcode/aarch64/bitops.clif
  cranelift/filetests/filetests/vcode/aarch64/call-indirect.clif
  cranelift/filetests/filetests/vcode/aarch64/call.clif
  cranelift/filetests/filetests/vcode/aarch64/condbr.clif
  cranelift/filetests/filetests/vcode/aarch64/condops.clif
  cranelift/filetests/filetests/vcode/aarch64/constants.clif
  cranelift/filetests/filetests/vcode/aarch64/extend-op.clif
  cranelift/filetests/filetests/vcode/aarch64/floating-point.clif
  cranelift/filetests/filetests/vcode/aarch64/jumptable.clif
  cranelift/filetests/filetests/vcode/aarch64/narrow-arithmetic.clif
  cranelift/filetests/filetests/vcode/aarch64/saturating-ops.clif
  cranelift/filetests/filetests/vcode/aarch64/shift-op.clif
  cranelift/filetests/filetests/vcode/aarch64/shift-rotate.clif
  cranelift/filetests/filetests/vcode/aarch64/stack-limit.clif
  cranelift/filetests/filetests/vcode/aarch64/stack.clif
  cranelift/filetests/filetests/vcode/aarch64/symbol-value.clif
  cranelift/filetests/filetests/vcode/aarch64/traps.clif
  cranelift/filetests/filetests/vcode/aarch64/uextend-sextend.clif
  cranelift/filetests/src/lib.rs
  cranelift/filetests/src/test_compile.rs
  cranelift/filetests/src/test_vcode.rs
Labels: cranelift

#1757 Fix typo in sadd_sat instruction definition
  cranelift/codegen/meta/src/shared/instructions.rs
Labels: cranelift, cranelift:meta

#1755 Add logging to frame operations
  cranelift/interpreter/src/frame.rs
  cranelift/interpreter/src/interpreter.rs
Labels: cranelift

#1751 Add some assertions to cranelift_frontend
  cranelift/frontend/src/frontend.rs
Labels: cranelift

#1750 Remove Eq bound of ReservedValue trait
  cranelift/entity/src/lib.rs
  cranelift/entity/src/packed_option.rs
Labels: cranelift

#1565 Reactor support.
  RELEASES.md
  crates/c-api/include/wasmtime.h
  crates/c-api/src/linker.rs
  crates/runtime/src/instance.rs
  crates/test-programs/tests/wasm_tests/runtime.rs
  crates/wasi-common/wig/src/wasi.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/types.rs
  examples/wasi/main.c
  examples/wasi/main.rs
  src/commands/run.rs
  tests/all/cli_tests.rs
  tests/wasm/greeter_callable_command.wat
  tests/wasm/greeter_command.wat
  tests/wasm/greeter_reactor.wat
  tests/wasm/minimal-command.wat
  tests/wasm/minimal-reactor.wat
Labels: fuzzing, wasi, wasmtime, wasmtime:api, wasmtime:c-api, wasmtime:docs

#1748 Enable the wast::Cranelift::spec::simd::simd_store test for AArch64
  build.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/lower.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#1754 Avoid recursion in `Interpreter::block`
  cranelift/interpreter/src/interpreter.rs
Labels: cranelift

#1764 Print more detailed `test run` failures
  cranelift/filetests/src/test_run.rs
Labels: cranelift

#1769 Make vconst BxN match specification
  cranelift/filetests/filetests/isa/x86/simd-vconst-rodata.clif
  cranelift/reader/src/parser.rs
Labels: cranelift

#1776 Fix interpreter semantics of 'irsub_imm'
  cranelift/filetests/filetests/interpreter/fibonacci.clif
  cranelift/interpreter/src/interpreter.rs
Labels: cranelift

#1744 x86: add encoding for bnot.b1
  cranelift/codegen/meta/src/isa/x86/encodings.rs
  cranelift/filetests/filetests/isa/x86/bnot-b1.clif
Labels: cranelift, cranelift:meta

#1778 Disable tests for the peepmatic-macro crate
  cranelift/peepmatic/crates/macro/Cargo.toml
Labels: cranelift, cranelift:area:peepmatic

#1780 cranelift: Implement serialize/deserialize for stack maps
  cranelift/codegen/src/binemit/stackmap.rs
  cranelift/codegen/src/bitset.rs
Labels: cranelift

#1773 Linker refactoring
  Cargo.lock
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/linker.rs
  src/commands/run.rs
  tests/all/linker.rs
Labels: wasmtime:api

#1782 Add documentation for building programs using AssemblyScript.
  docs/SUMMARY.md
  docs/assemblyscript-hello-world/package-lock.json
  docs/assemblyscript-hello-world/package.json
  docs/assemblyscript-hello-world/wasi-hello-world.ts
  docs/wasm-assemblyscript.md
  docs/wasm.md
Labels: wasmtime:docs

#1786 x86_32: fix stack_addr encoding
  cranelift/codegen/meta/src/isa/x86/encodings.rs
  cranelift/codegen/meta/src/isa/x86/recipes.rs
  cranelift/filetests/filetests/isa/x86/stack-addr32.clif
Labels: cranelift, cranelift:meta

#1510 Always check if struct-return parameter is needed
  cranelift/codegen/src/isa/x86/abi.rs
  cranelift/codegen/src/legalizer/boundary.rs
  cranelift/filetests/filetests/isa/x86/abi64.clif
  cranelift/filetests/filetests/isa/x86/windows_fastcall_x64.clif
  cranelift/filetests/filetests/legalizer/popcnt-i128.clif
  cranelift/filetests/filetests/wasm/multi-val-call-legalize-args.clif
Labels: cranelift

#1777 [cranelift-interpreter] Add more arithmetic operations
  cranelift/interpreter/src/interpreter.rs
Labels: cranelift

#1753 impl From<anyhow::Error> for Trap
  crates/c-api/src/error.rs
  crates/c-api/src/trap.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/trap.rs
  crates/wast/src/wast.rs
  examples/interrupt.rs
  tests/all/custom_signal_handler.rs
  tests/all/func.rs
  tests/all/import_calling_export.rs
  tests/all/traps.rs
Labels: wasmtime:api, wasmtime:c-api

#1760 Enable SIMD lane spec test on x86
  build.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:wasm

#1783 Improve bitselect codegen with knowledge of operand origin
  cranelift/codegen/meta/src/isa/x86/encodings.rs
  cranelift/codegen/meta/src/isa/x86/legalize.rs
  cranelift/codegen/meta/src/isa/x86/opcodes.rs
  cranelift/codegen/meta/src/isa/x86/recipes.rs
  cranelift/codegen/src/isa/x86/enc_tables.rs
  cranelift/codegen/src/simple_preopt.rs
  cranelift/filetests/filetests/isa/x86/simd-bitselect-to-vselect-run.clif
  cranelift/filetests/filetests/isa/x86/simd-vselect-binemit.clif
  cranelift/filetests/filetests/isa/x86/simd-vselect-legalize-to-bitselect.clif
  cranelift/filetests/filetests/isa/x86/simd-vselect-run.clif
  cranelift/filetests/filetests/simple_preopt/bitselect.clif
Labels: cranelift, cranelift:meta

#1793 💖 wiggle: escape rust keywords, allow witx literals
  crates/wiggle/generate/src/config.rs
  crates/wiggle/generate/src/names.rs
  crates/wiggle/macro/src/lib.rs
  crates/wiggle/tests/keywords.rs
  crates/wiggle/tests/keywords_union.witx
Labels: wasi
