Repository bytecodealliance/wasmtime, pull requests merged in 2020-12, with the labels that each got.

#2440 Adds support for i32x4.trunc_sat_f32x4_u
  build.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2460 interpreter: fix confusion caused by overloading of FuncRef
  cranelift/interpreter/src/environment.rs
  cranelift/interpreter/src/interpreter.rs
Labels: cranelift

#2447 Instantiate nested modules for module linking
  build.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/module_translator.rs
  cranelift/wasm/src/sections_translator.rs
  crates/environ/src/module_environ.rs
  crates/jit/src/instantiate.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module.rs
  tests/all/wast.rs
  tests/misc_testsuite/module-linking/instantiate.wast
Labels: cranelift, cranelift:wasm, wasmtime:api, wasmtime:c-api

#2452 Provide filename/line number information in `Trap`
  Cargo.lock
  crates/cranelift/src/lib.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/tunables.rs
  crates/jit/Cargo.toml
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/lightbeam/wasmtime/src/lib.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/frame_info.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/trap.rs
  src/obj.rs
  tests/all/traps.rs
Labels: lightbeam, wasmtime:api

#2462 Debug info: two fixes in x64 backend.
  cranelift/codegen/src/machinst/buffer.rs
Labels: cranelift, cranelift:area:machinst

#2463 x64 backend: fix condition-code used for part of explicit heap check.
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/filetests/filetests/isa/x64/heap.clif
Labels: cranelift, cranelift:area:x64

#2451 Implement the module linking alias section
  cranelift/wasm/src/environ/mod.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/lib.rs
  cranelift/wasm/src/module_translator.rs
  cranelift/wasm/src/sections_translator.rs
  cranelift/wasm/src/translation_utils.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/compilation.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/vmoffsets.rs
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/jit/src/object.rs
  crates/lightbeam/wasmtime/src/lib.rs
  crates/obj/src/context.rs
  crates/runtime/src/instance.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline/create_handle.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/trampoline/memory.rs
  crates/wasmtime/src/trampoline/table.rs
  crates/wasmtime/src/types.rs
  crates/wast/src/wast.rs
  src/obj.rs
  tests/all/module_linking.rs
  tests/misc_testsuite/module-linking/alias.wast
  tests/misc_testsuite/module-linking/instantiate.wast
Labels: cranelift, cranelift:wasm, lightbeam, wasmtime:api

#2453 Add differential fuzzing against wasmi (a Wasm interpreter).
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/oracles.rs
  crates/wasmtime/Cargo.toml
  fuzz/Cargo.toml
  fuzz/fuzz_targets/differential_wasmi.rs
Labels: fuzzing, wasmtime:api

#2461 Implement imported/exported modules/instances
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/fuzzing/Cargo.toml
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/translation_utils.rs
  crates/c-api/src/extern.rs
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/fuzzing/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/wasmtime/Cargo.toml
  crates/runtime/src/export.rs
  crates/runtime/src/imports.rs
  crates/runtime/src/instance.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/types.rs
  crates/wasmtime/src/types/matching.rs
  crates/wast/Cargo.toml
  scripts/publish.rs
  tests/all/wast.rs
  tests/misc_testsuite/module-linking/alias.wast
  tests/misc_testsuite/module-linking/import-subtyping.wast
  tests/misc_testsuite/module-linking/instantiate.wast
Labels: cranelift, cranelift:area:peepmatic, cranelift:wasm, fuzzing, lightbeam, wasmtime:api, wasmtime:c-api

#2413 Cranelift AArch64: Further vector constant improvements
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/floating-point.clif
  cranelift/filetests/filetests/isa/aarch64/simd.clif
Labels: cranelift, cranelift:area:aarch64

#2466 Fix module-linking handling of instance subtypes
  crates/wasmtime/src/instance.rs
  tests/misc_testsuite/module-linking/instantiate.wast
Labels: cranelift, cranelift:wasm, lightbeam, wasmtime:api, wasmtime:c-api

#2403 SimpleJIT hot code swapping
  Cargo.lock
  cranelift/codegen/src/ir/libcall.rs
  cranelift/module/src/module.rs
  cranelift/simplejit/Cargo.toml
  cranelift/simplejit/examples/simplejit-minimal.rs
  cranelift/simplejit/src/backend.rs
  cranelift/simplejit/src/compiled_blob.rs
  cranelift/simplejit/tests/basic.rs
Labels: cranelift, cranelift:module

#2472 Update the C API with module linking support
  crates/c-api/include/doc-wasm.h
  crates/c-api/include/wasmtime.h
  crates/c-api/src/config.rs
  crates/c-api/src/extern.rs
  crates/c-api/src/instance.rs
  crates/c-api/src/linker.rs
  crates/c-api/src/module.rs
  crates/c-api/src/types/extern.rs
  crates/c-api/src/types/instance.rs
  crates/c-api/src/types/module.rs
  crates/c-api/src/vec.rs
Labels: wasmtime:c-api

#2293 souper-harvest: Do not generate assignments of constants
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/souper_harvest.rs
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/souper/src/lib.rs
Labels: cranelift, cranelift:area:peepmatic

#2473 Fix lowering instruction-sinking (load-merging) bug.
  cranelift/codegen/src/machinst/lower.rs
  cranelift/filetests/filetests/isa/x64/load-op.clif
Labels: cranelift, cranelift:area:machinst

#2478 aarch64 isel: collect_address_addends: correctly handle `ExtendOp::UX…
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/filetests/filetests/isa/aarch64/amodes.clif
Labels: cranelift, cranelift:area:aarch64

#2364 peepmatic: Make the test-we-can-get-and-rebuild peephole optimizers test work on arm64
  cranelift/codegen/src/peepmatic.rs
Labels: cranelift, cranelift:area:peepmatic

#2483 x64 regalloc register order: put caller-saves (volatiles) first.
  cranelift/codegen/src/isa/x64/inst/regs.rs
  cranelift/filetests/filetests/isa/x64/amode-opt.clif
  cranelift/filetests/filetests/isa/x64/heap.clif
  cranelift/filetests/filetests/isa/x64/load-op.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-logical-compile.clif
Labels: cranelift, cranelift:area:x64

#2486 Two Lucet-related fixes to stack overflow handling.
  .github/workflows/main.yml
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/arm32/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/filetests/filetests/isa/x64/probestack.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#1697 Fix missing modification of jump table in licm
  cranelift/codegen/src/ir/function.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/licm.rs
  cranelift/filetests/filetests/licm/br-table.clif
  cranelift/filetests/filetests/licm/rewrite-jump-table.clif
Labels: cranelift

#2490 x64 lowering fix: i32.popcnt should not merge load and make it 64-bit.
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/popcnt.clif
Labels: cranelift, cranelift:area:x64

#2485 Restrict threads spawned during fuzzing
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#2497 Enable fuzzing the module linking implementation
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/fuzzing/Cargo.toml
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/code_translator.rs
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/lib.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/wasmtime/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  fuzz/Cargo.toml
Labels: cranelift, cranelift:area:peepmatic, cranelift:wasm, fuzzing, lightbeam, wasmtime:api

#2496 Fix iconst.i8 0 miscompilation with opt_level=speed_and_size
  cranelift/codegen/meta/src/isa/x86/encodings.rs
  cranelift/codegen/meta/src/isa/x86/opcodes.rs
  cranelift/filetests/filetests/isa/x86/optimized-zero-constants-32bit.clif
  cranelift/filetests/filetests/isa/x86/optimized-zero-constants.clif
Labels: cranelift, cranelift:meta

#2506 Fix fuzzer expectation about valid modules
  crates/fuzzing/src/oracles.rs
  fuzz/fuzz_targets/instantiate-maybe-invalid.rs
  fuzz/fuzz_targets/instantiate-swarm.rs
  fuzz/fuzz_targets/instantiate-wasm-smith.rs
  fuzz/fuzz_targets/instantiate.rs
  tests/all/fuzzing.rs
Labels: fuzzing

#2492 Support explicit endianness in Cranelift IR MemFlags
  cranelift/codegen/src/ir/memflags.rs
  cranelift/codegen/src/ir/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/legalizer/mod.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:wasm

#2514 Allow both x86 backends to be included, selected with a "variant" flag.
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/x86/unwind.rs
  cranelift/codegen/src/isa/x86/unwind/systemv.rs
  cranelift/codegen/src/isa/x86/unwind/winx64.rs
Labels: cranelift

#2516 Add filestat_get for stdout, stdin and stderr
  crates/wasi-common/src/sys/stdio.rs
Labels: wasi

#2510 Implement x64 simd loads
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2519 Lint deps tree with cargo deny
  .github/workflows/main.yml
  crates/fuzzing/Cargo.toml
  crates/test-programs/Cargo.toml
  deny.toml
Labels: fuzzing

#2517 cranelift-object: reject symbol names with NUL byte without panic'ing.
  cranelift/object/src/backend.rs
  cranelift/object/tests/basic.rs
Labels: cranelift, cranelift:module

#2522 cranelift-native crate: add API variant allowing backend selection.
  cranelift/native/src/lib.rs
Labels: cranelift

#2501 2499: First pass on TableOps fuzzer generator wasm_encoder migration
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators/table_ops.rs
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#2520 Prune deps, comment deny.toml
  Cargo.lock
  Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/code_translator.rs
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/wasmtime/Cargo.toml
  crates/wasmtime/Cargo.toml
  deny.toml
Labels: cranelift, cranelift:wasm, fuzzing, lightbeam, wasmtime:api

#2530 [SIMD][x86_64] Add encoding for PMADDWD
  cranelift/codegen/meta/src/isa/x86/encodings.rs
  cranelift/codegen/meta/src/isa/x86/opcodes.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x86/simd-arithmetic-binemit.clif
Labels: cranelift, cranelift:area:x64, cranelift:meta
