Repository bytecodealliance/wasmtime, pull requests merged in 2021-08, with the labels that each got.

#3031 Add extend-add-pairwise instructions x64
  build.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/preopt.serialized
  cranelift/interpreter/src/step.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, cranelift:meta, cranelift:wasm

#3134 Change VMMemoryDefinition::current_length to `usize`
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/legalizer/heap.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/filetests/filetests/isa/aarch64/heap_addr.clif
  cranelift/filetests/filetests/isa/s390x/heap_addr.clif
  cranelift/filetests/filetests/isa/x64/heap.clif
  cranelift/filetests/filetests/isa/x86/legalize-heaps.clif
  cranelift/filetests/filetests/isa/x86/legalize-memory.clif
  cranelift/filetests/filetests/verifier/heap.clif
  cranelift/wasm/src/code_translator.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/vmoffsets.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/memory.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/trampoline/memory.rs
  tests/all/instance.rs
Labels: cranelift, cranelift:wasm, wasmtime:api

#3123 Bump to Wasmtime v0.29.0 and Cranelift 0.76.0.
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/automata/Cargo.toml
  cranelift/peepmatic/crates/macro/Cargo.toml
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/peepmatic/crates/traits/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/wasmtime/Cargo.toml
  crates/obj/Cargo.toml
  crates/profiling/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:area:peepmatic, cranelift:meta, cranelift:module, cranelift:wasm, wasmtime:docs

#3137 Adjust date of v0.29 release in RELEASES.md to today.
  RELEASES.md
Labels: wasmtime:docs

#3138 Enable simd_X_extadd_pairwise_X for AArch64
  build.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/simd-pairwise-add.clif
Labels: cranelift, cranelift:area:aarch64

#3139 Bump the wasm-tools crates
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/fuzzing/Cargo.toml
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/module_translator.rs
  cranelift/wasm/src/sections_translator.rs
  cranelift/wasm/src/translation_utils.rs
  crates/cranelift/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/environ/src/module_environ.rs
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators/api.rs
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/src/microwasm.rs
  crates/lightbeam/src/module.rs
  crates/lightbeam/wasmtime/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/types.rs
  crates/wasmtime/src/types/matching.rs
  crates/wast/Cargo.toml
  crates/wast/src/wast.rs
Labels: cranelift, cranelift:area:peepmatic, cranelift:wasm, fuzzing, lightbeam, wasmtime:api

#3143 Consolidate address calculations for atomics
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/spec.rs
  crates/environ/src/builtin.rs
  crates/runtime/src/libcalls.rs
  tests/all/wast.rs
  tests/misc_testsuite/threads/load-store-alignment.wast
Labels: cranelift, cranelift:wasm

#3145 Add information for Cranelift and Wasmtime project meetings
  meetings/README.md
  meetings/cranelift/README.md
  meetings/wasmtime/2021/wasmtime-08-05.md
  meetings/wasmtime/README.md
Labels: cranelift, wasmtime

#3147 Implement API support for v128-globals
  cranelift/codegen/src/ir/immediates.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/values.rs
  tests/all/globals.rs
Labels: wasmtime:api, cranelift

#3148 Fix some warnings on nightly Rust
  cranelift/codegen/meta/src/srcgen.rs
  crates/cache/src/worker.rs
  crates/debug/src/transform/expression.rs
Labels: cranelift, cranelift:meta

#3146 cranelift: Implement nan canonicalization for vectors
  cranelift/codegen/src/nan_canonicalization.rs
  tests/all/wast.rs
  tests/misc_testsuite/simd/canonicalize-nan.wast
Labels: cranelift

#3149 fuzz: Implement finer memory limits per-store
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
Labels: fuzzing

#3152 Enable simd fuzzing on oss-fuzz
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/api.rs
  crates/fuzzing/src/generators/table_ops.rs
  crates/fuzzing/src/lib.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/differential.rs
  fuzz/fuzz_targets/instantiate-swarm.rs
  fuzz/fuzz_targets/instantiate-wasm-smith.rs
Labels: fuzzing

#3158 Refactor cranelift immediates slightly
  cranelift/codegen/src/ir/immediates.rs
Labels: cranelift

#3155 Decrease memory limit in fuzzing to 1gb
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#3157 fuzz: Centralize handling instantiation errors
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#3156 Remove rss prediction from api_calls fuzzer
  crates/fuzzing/src/generators/api.rs
Labels: fuzzing

#3159 fuzz: Disable more features for spectests fuzzer
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#3128 Re-implement AArch64 atomic load and stores
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/atomic_load.clif
  cranelift/filetests/filetests/isa/aarch64/atomic_store.clif
Labels: cranelift, cranelift:meta, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64

#3165 Add notes for 21-08-05 wasmtime meeting
  meetings/wasmtime/2021/wasmtime-08-05.md
Labels: wasmtime

#3169 wasmtime: Option to disable parallel compilation
  crates/cache/src/lib.rs
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  src/obj.rs
Labels: wasmtime:api

#3177 fuzz: log Wasm contents to file when `log::debug` is enabled
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#3153 Implement the memory64 proposal in Wasmtime
  build.rs
  cranelift/codegen/src/ir/immediates.rs
  cranelift/codegen/src/legalizer/heap.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/sections_translator.rs
  cranelift/wasm/src/translation_utils.rs
  crates/c-api/include/doc-wasm.h
  crates/c-api/include/wasmtime/memory.h
  crates/c-api/src/memory.rs
  crates/c-api/src/types.rs
  crates/c-api/src/types/memory.rs
  crates/c-api/src/types/table.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/builtin.rs
  crates/environ/src/lib.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/tunables.rs
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/lib.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/memory.rs
  crates/runtime/src/mmap.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/limits.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/trampoline/memory.rs
  crates/wasmtime/src/trampoline/table.rs
  crates/wasmtime/src/types.rs
  crates/wasmtime/src/types/matching.rs
  crates/wast/src/spectest.rs
  examples/memory.rs
  fuzz/fuzz_targets/instantiate-swarm.rs
  tests/all/externals.rs
  tests/all/gc.rs
  tests/all/limits.rs
  tests/all/linker.rs
  tests/all/memory.rs
  tests/all/memory_creator.rs
  tests/all/module_linking.rs
  tests/all/table.rs
  tests/all/wast.rs
  tests/misc_testsuite/memory64/bounds.wast
  tests/misc_testsuite/memory64/codegen.wast
  tests/misc_testsuite/memory64/linking.wast
  tests/misc_testsuite/memory64/more-than-4gb.wast
  tests/misc_testsuite/memory64/multi-memory.wast
  tests/misc_testsuite/memory64/offsets.wast
  tests/misc_testsuite/memory64/simd.wast
  tests/misc_testsuite/memory64/threads.wast
  tests/misc_testsuite/missing-atomics.wast
Labels: wasmtime:c-api, cranelift, cranelift:meta, fuzzing, cranelift:wasm

#3176 Move all trampoline compilation to `wasmtime-cranelift`
  Cargo.lock
  Cargo.toml
  cranelift/wasm/src/func_translator.rs
  crates/cranelift/Cargo.toml
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/compilation.rs
  crates/environ/src/data_structures.rs
  crates/jit/Cargo.toml
  crates/jit/src/code_memory.rs
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/jit/src/native.rs
  crates/jit/src/object.rs
  crates/jit/src/trampoline.rs
  crates/jit/src/unwind/systemv.rs
  crates/jit/src/unwind/winx64.rs
  crates/lightbeam/wasmtime/src/lib.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/trampoline/func.rs
  src/commands/settings.rs
  src/obj.rs
Labels: lightbeam, wasmtime:api, cranelift, cranelift:wasm

#3102 cranelift: Fix trampoline args for b1 types
  cranelift/codegen/src/data_value.rs
  cranelift/filetests/filetests/runtests/br.clif
  cranelift/filetests/src/function_runner.rs
Labels: cranelift

#3178 Remove dependency on TargetIsa from Wasmtime crates
  Cargo.lock
  build.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/sections_translator.rs
  cranelift/wasm/src/translation_utils.rs
  crates/cranelift/Cargo.toml
  crates/cranelift/src/builder.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/debug/src/lib.rs
  crates/debug/src/write_debuginfo.rs
  crates/environ/Cargo.toml
  crates/environ/src/compilation.rs
  crates/environ/src/data_structures.rs
  crates/environ/src/module_environ.rs
  crates/jit/Cargo.toml
  crates/jit/src/code_memory.rs
  crates/jit/src/compiler.rs
  crates/jit/src/debug.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/jit/src/object.rs
  crates/jit/src/unwind/systemv.rs
  crates/jit/src/unwind/winx64.rs
  crates/lightbeam/wasmtime/Cargo.toml
  crates/lightbeam/wasmtime/src/lib.rs
  crates/obj/Cargo.toml
  crates/obj/src/builder.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/table.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/types.rs
  crates/wasmtime/src/types/matching.rs
  src/commands/settings.rs
  src/lib.rs
  src/obj.rs
  tests/all/func.rs
  tests/all/wast.rs
Labels: lightbeam, cranelift, cranelift:wasm

#3194 Docs: Removed the extra markdown example from the Summary
  docs/SUMMARY.md
  docs/wasm-markdown.md
Labels: wasmtime:docs

#3195 Use wasm-smith to canonicalize NaN in differential fuzzing
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators/api.rs
  crates/fuzzing/src/oracles.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/differential.rs
  fuzz/fuzz_targets/differential_spec.rs
  fuzz/fuzz_targets/differential_wasmi.rs
  fuzz/fuzz_targets/instantiate-swarm.rs
  fuzz/fuzz_targets/instantiate-wasm-smith.rs
Labels: fuzzing

#3180 Reimplement how unwind information is stored
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  crates/cranelift/Cargo.toml
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/lib.rs
  crates/cranelift/src/obj.rs
  crates/debug/Cargo.toml
  crates/debug/src/transform/address_transform.rs
  crates/debug/src/transform/attr.rs
  crates/debug/src/transform/expression.rs
  crates/debug/src/transform/mod.rs
  crates/debug/src/transform/simulate.rs
  crates/debug/src/transform/unit.rs
  crates/debug/src/transform/utils.rs
  crates/debug/src/write_debuginfo.rs
  crates/environ/src/compilation.rs
  crates/environ/src/data_structures.rs
  crates/environ/src/lib.rs
  crates/environ/src/obj.rs
  crates/jit/Cargo.toml
  crates/jit/src/code_memory.rs
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/jit/src/link.rs
  crates/jit/src/object.rs
  crates/jit/src/unwind/systemv.rs
  crates/jit/src/unwind/winx64.rs
  crates/lightbeam/wasmtime/src/lib.rs
  crates/obj/.gitignore
  crates/obj/Cargo.toml
  crates/obj/LICENSE
  crates/obj/src/builder.rs
  crates/obj/src/lib.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/trampoline/func.rs
  src/commands/wasm2obj.rs
  src/obj.rs
  tests/all/debug/obj.rs
Labels: lightbeam, wasmtime:api, cranelift, cranelift:wasm

#3198 Update to cap-std 0.17.0.
  Cargo.lock
  crates/bench-api/Cargo.toml
  crates/c-api/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/cap-std-sync/src/sched/unix.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-common/tokio/Cargo.toml
Labels: wasmtime:c-api, wasi

#3196 Move module translation from cranelift to wasmtime
  cranelift/wasm/src/translation_utils.rs
  crates/environ/src/module_environ.rs
Labels: cranelift, cranelift:wasm

#3202 Fix validating wasm stores of boolean vector results
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/wasmtests/simd-store.wat
Labels: cranelift, cranelift:wasm

#3206 Add a cranelift compile-time feature to wasmtime
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  crates/c-api/Cargo.toml
  crates/jit/Cargo.toml
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/build.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wast/Cargo.toml
  src/commands/settings.rs
  src/obj.rs
Labels: wasmtime:api, wasmtime:c-api

#3185 Docs: Updated the AssemblyScript Example to the latest version
  docs/assemblyscript-hello-world/.gitignore
  docs/assemblyscript-hello-world/package-lock.json
  docs/assemblyscript-hello-world/package.json
  docs/assemblyscript-hello-world/wasi-hello-world.wasm
  docs/wasm-assemblyscript.md
Labels: wasmtime:docs

#3215 Implement a setting for reserved dynamic memory growth
  crates/cranelift/src/func_environ.rs
  crates/environ/src/module.rs
  crates/environ/src/tunables.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/memory.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/trampoline/memory.rs
  tests/all/wast.rs
  tests/misc_testsuite/memory64/more-than-4gb.wast
Labels: wasmtime:api

#3220 Fix wiggle code generation for correct span usage
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/src/funcs.rs
  crates/wiggle/test-helpers/Cargo.toml
Labels: wasi

#3222 Spec-interpreter fuzzing: check out `fuzzing` branch of our mirror.
  crates/fuzzing/wasm-spec-interpreter/build.rs
Labels: fuzzing

#3229 Fix determinism of compiled modules
  crates/cranelift/src/compiler.rs
  crates/environ/src/compilation.rs
  crates/environ/src/module.rs
  crates/lightbeam/wasmtime/src/lib.rs
  crates/runtime/src/instance.rs
  crates/wasmtime/src/module/serialization.rs
  tests/all/module.rs
Labels: lightbeam, wasmtime:api

#3223 cranelift: Prevent panics when dividing INT_MIN / -1 in interpreter
  cranelift/filetests/filetests/runtests/arithmetic.clif
  cranelift/interpreter/src/interpreter.rs
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#3154 cranelift: Add heap support to filetest infrastructure
  cranelift/docs/testing.md
  cranelift/filetests/filetests/runtests/heap.clif
  cranelift/filetests/src/lib.rs
  cranelift/filetests/src/runtest_environment.rs
  cranelift/filetests/src/test_run.rs
  cranelift/reader/src/heap_command.rs
  cranelift/reader/src/lib.rs
  cranelift/reader/src/parser.rs
Labels: cranelift, cranelift:docs

#3187 cranelift: Add stack support to the interpreter with virtual addresses
  cranelift/codegen/src/data_value.rs
  cranelift/codegen/src/ir/function.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/filetests/filetests/runtests/stack-addr-32.clif
  cranelift/filetests/filetests/runtests/stack-addr-64.clif
  cranelift/filetests/filetests/runtests/stack.clif
  cranelift/filetests/src/function_runner.rs
  cranelift/interpreter/src/address.rs
  cranelift/interpreter/src/interpreter.rs
  cranelift/interpreter/src/lib.rs
  cranelift/interpreter/src/state.rs
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: wasmtime:api, cranelift

#3231 Move wasm data sections out of wasmtime_environ::Module
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/jit/src/instantiate.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/trampoline/func.rs
Labels: wasmtime:api

#3235 Move wasm data/debuginfo into the ELF compilation image
  Cargo.lock
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/obj.rs
  crates/environ/Cargo.toml
  crates/environ/src/compilation.rs
  crates/jit/src/code_memory.rs
  crates/jit/src/instantiate.rs
  crates/lightbeam/wasmtime/Cargo.toml
  crates/lightbeam/wasmtime/src/lib.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/trampoline/func.rs
  src/obj.rs
Labels: lightbeam, wasmtime:api

#3188 Implement `Extractlane`, `UaddSat`, and `UsubSat` for Cranelift interpreter
  cranelift/filetests/filetests/runtests/simd-extractlane.clif
  cranelift/filetests/filetests/runtests/simd-uaddsat-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-uaddsat.clif
  cranelift/filetests/filetests/runtests/simd-usubsat-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-usubsat.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#3115 Implement fmin_pseudo and fmax_pseudo for scalars
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/preopt.serialized
  cranelift/filetests/filetests/runtests/fmin-max-pseudo-vector.clif
  cranelift/filetests/filetests/runtests/fmin-max-pseudo.clif
Labels: cranelift, cranelift:area:x64

#3257 Use an mmap-friendly serialization format
  Cargo.lock
  Cargo.toml
  crates/cache/src/lib.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/jit/src/mmap_vec.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  tests/all/module_serialize.rs
Labels: wasmtime:api

#3253 Remove some allocations in `CodeMemory`
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/cranelift/src/obj.rs
  crates/environ/src/compilation.rs
  crates/environ/src/lib.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/jit/src/code_memory.rs
  crates/jit/src/debug.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/profiling/jitdump_linux.rs
  crates/jit/src/profiling/vtune_linux.rs
  crates/lightbeam/wasmtime/src/lib.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/registry.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/trampoline/memory.rs
  crates/wasmtime/src/trampoline/table.rs
Labels: lightbeam, wasmtime:api

#3265 Don't copy executable code into a `CodeMemory`
  crates/cranelift/src/obj.rs
  crates/jit/src/code_memory.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/jit/src/link.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module/registry.rs
  crates/wasmtime/src/trampoline/func.rs
Labels: wasmtime:api

#3233 Implement `IaddCin`, `IaddCout`, and `IaddCarry` for Cranelift interpreter
  cranelift/filetests/filetests/runtests/iaddcarry.clif
  cranelift/filetests/filetests/runtests/iaddcin.clif
  cranelift/filetests/filetests/runtests/iaddcout.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#3266 Add a `Module::deserialize_file` method
  crates/c-api/include/wasmtime/module.h
  crates/c-api/src/module.rs
  crates/jit/src/code_memory.rs
  crates/jit/src/mmap_vec.rs
  crates/runtime/Cargo.toml
  crates/runtime/src/mmap.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  tests/all/module_serialize.rs
Labels: wasmtime:api, wasmtime:c-api
