Repository bytecodealliance/wasmtime, pull requests merged in 2021-06, with the labels that each got.

#2954 s390x: Fix import
  cranelift/codegen/src/isa/s390x/mod.rs
Labels: cranelift

#2955 cranelift: introduce a new WasmtimeAppleAarch64 calling convention
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/call_conv.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x86/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  crates/cranelift/src/lib.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2930 x64: lower i8x16.shuffle to VPERMI2B when possible
  cranelift/codegen/meta/src/isa/x86/settings.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/native/src/lib.rs
Labels: cranelift, cranelift:area:x64, cranelift:meta

#2957 Cranelift: restrict running tests dependent of x86_64
  cranelift/frontend/src/frontend.rs
Labels: cranelift

#2958 x64: fix AVX512 flag checks
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2961 Switch to using TargetFrontendConfig in the frontend memory tests
  cranelift/frontend/src/frontend.rs
Labels: cranelift

#2962 Add the ability to cache typechecking an instance
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/types/matching.rs
  tests/all/linker.rs
Labels: wasmtime:api

#2947 global module registry: switch from Mutex to RwLock
  crates/wasmtime/src/module/registry.rs
Labels: cranelift, wasmtime:api, wasmtime:c-api

#2945 make Module::deserialize's version check optional via Config
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  tests/all/module_serialize.rs
Labels: cranelift, wasmtime:api, wasmtime:c-api

#2967 Update wasm-smith to generate more wasm
  Cargo.lock
  crates/fuzzing/Cargo.toml
Labels: fuzzing

#2946 expose eager thread-local resource initialization on Engine
  Cargo.toml
  benches/thread_eager_init.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/traphandlers.rs
  crates/wasmtime/src/engine.rs
Labels: cranelift, wasmtime:api, wasmtime:c-api

#2783 Add support for x64 packed promote low
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/interpreter/src/step.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, cranelift:meta, cranelift:wasm

#2966 Enable the simd_int_to_int_extend test for AArch64
  build.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:meta, cranelift:wasm

#2952 make ResourceLimiter operate on Store data; add hooks for entering and exiting native code
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/limits.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/store/context.rs
  crates/wast/src/spectest.rs
  crates/wast/src/wast.rs
  tests/all/limits.rs
  tests/all/main.rs
  tests/all/module_linking.rs
  tests/all/native_hooks.rs
Labels: cranelift, fuzzing, wasmtime:api, wasmtime:c-api

#2971 Add a safe method for accessing memory and `T`
  crates/wasmtime/src/memory.rs
  crates/wiggle/generate/src/wasmtime.rs
Labels: wasi, wasmtime:api

#2786 Atomic hotswapping in JIT mode
  cranelift/jit/src/backend.rs
Labels: cranelift

#2964 cranelift: Merge all run tests into runtests dir
  cranelift/filetests/filetests/isa/aarch64/arithmetic-run.clif
  cranelift/filetests/filetests/isa/x64/bitrev-i128-run.clif
  cranelift/filetests/filetests/isa/x64/run-const.clif
  cranelift/filetests/filetests/isa/x64/shift-i128-run.clif
  cranelift/filetests/filetests/isa/x86/binary64-run.clif
  cranelift/filetests/filetests/isa/x86/bnot-b1.clif
  cranelift/filetests/filetests/isa/x86/icmp-i128.clif
  cranelift/filetests/filetests/isa/x86/run-const.clif
  cranelift/filetests/filetests/isa/x86/run-i64.clif
  cranelift/filetests/filetests/isa/x86/simd-arithmetic-run.clif
  cranelift/filetests/filetests/isa/x86/simd-comparison-run.clif
  cranelift/filetests/filetests/isa/x86/simd-construction-run.clif
  cranelift/filetests/filetests/isa/x86/simd-conversion-run.clif
  cranelift/filetests/filetests/isa/x86/simd-logical-run.clif
  cranelift/filetests/filetests/isa/x86/simd-vconst-optimized-run.clif
  cranelift/filetests/filetests/runtests/bitops.clif
  cranelift/filetests/filetests/runtests/br.clif
  cranelift/filetests/filetests/runtests/const.clif
  cranelift/filetests/filetests/runtests/div-checks.clif
  cranelift/filetests/filetests/runtests/extend.clif
  cranelift/filetests/filetests/runtests/i128-arithmetic-legacy.clif
  cranelift/filetests/filetests/runtests/i128-arithmetic.clif
  cranelift/filetests/filetests/runtests/i128-bitops-misc.clif
  cranelift/filetests/filetests/runtests/i128-bitrev.clif
  cranelift/filetests/filetests/runtests/i128-br.clif
  cranelift/filetests/filetests/runtests/i128-const.clif
  cranelift/filetests/filetests/runtests/i128-extend.clif
  cranelift/filetests/filetests/runtests/i128-icmp.clif
  cranelift/filetests/filetests/runtests/i128-rotate.clif
  cranelift/filetests/filetests/runtests/simd-arithmetic.clif
  cranelift/filetests/filetests/runtests/simd-bitselect-to-vselect.clif
  cranelift/filetests/filetests/runtests/simd-bitwise-run.clif
  cranelift/filetests/filetests/runtests/simd-bitwise.clif
  cranelift/filetests/filetests/runtests/simd-comparison-legacy.clif
  cranelift/filetests/filetests/runtests/simd-comparison.clif
  cranelift/filetests/filetests/runtests/simd-conversion.clif
  cranelift/filetests/filetests/runtests/simd-lane-access-legacy.clif
  cranelift/filetests/filetests/runtests/simd-lane-access.clif
  cranelift/filetests/filetests/runtests/simd-logical.clif
  cranelift/filetests/filetests/runtests/simd-vconst-optimized-legacy.clif
  cranelift/filetests/filetests/runtests/simd-vconst.clif
  cranelift/filetests/filetests/runtests/simd-vselect.clif
  cranelift/filetests/filetests/runtests/spill-reload.clif
  cranelift/filetests/src/function_runner.rs
Labels: cranelift

#2959 aarch64 add basic i128 bit ops
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/bitops.clif
  cranelift/filetests/filetests/runtests/i128-arithmetic.clif
  cranelift/filetests/filetests/runtests/i128-bitops.clif
Labels: cranelift, cranelift:area:aarch64

#2975 aarch64: Implement lowering i128 icmp instructions
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/condbr.clif
  cranelift/filetests/filetests/runtests/i128-icmp-overflow.clif
  cranelift/filetests/filetests/runtests/i128-icmp.clif
Labels: cranelift, cranelift:area:aarch64

#2976 Lower Arm64Call relocations in cranelift-object
  Cargo.lock
  cranelift/object/Cargo.toml
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#2987 Include READMEs in crates
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
Labels: wasi

#2988 s390x: Add support for atomic operations (part 1)
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/filetests/filetests/isa/s390x/atomic_cas.clif
  cranelift/filetests/filetests/isa/s390x/atomic_load-little.clif
  cranelift/filetests/filetests/isa/s390x/atomic_load.clif
  cranelift/filetests/filetests/isa/s390x/atomic_rmw.clif
  cranelift/filetests/filetests/isa/s390x/atomic_store-little.clif
  cranelift/filetests/filetests/isa/s390x/atomic_store.clif
  cranelift/filetests/filetests/isa/s390x/fence.clif
Labels: cranelift

#2989 Update wasm-tools crates
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/fuzzing/Cargo.toml
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/code_translator.rs
  crates/cranelift/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/wasmtime/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/tests/wasmtime_async.rs
  crates/wiggle/tests/wasmtime_integration.rs
  crates/wiggle/tests/wasmtime_sync.rs
  fuzz/Cargo.toml
Labels: cranelift, cranelift:area:peepmatic, cranelift:wasm, fuzzing, lightbeam, wasi, wasmtime:api

#2990 aarch64: Add i128 bit counting instructions
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/bitops.clif
  cranelift/filetests/filetests/runtests/i128-bitops-cls.clif
  cranelift/filetests/filetests/runtests/i128-bitops-count.clif
  cranelift/filetests/filetests/runtests/i128-bitops-misc.clif
  cranelift/filetests/filetests/runtests/i128-bitops.clif
Labels: cranelift, cranelift:area:aarch64

#2993 Implement `Clone` for `Linker`
  crates/wasmtime/src/linker.rs
Labels: wasmtime:api

#2985 aarch64: Implement I128 Loads and Stores
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/amodes.clif
  cranelift/filetests/filetests/isa/aarch64/stack.clif
  cranelift/filetests/filetests/runtests/i128-load-store.clif
Labels: cranelift, cranelift:area:aarch64

#2991 s390x: Add z14 support
  Cargo.lock
  cranelift/codegen/meta/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/filetests/filetests/isa/s390x/bitops-arch13.clif
  cranelift/filetests/filetests/isa/s390x/bitops.clif
  cranelift/filetests/filetests/isa/s390x/bitwise-arch13.clif
  cranelift/filetests/filetests/isa/s390x/bitwise.clif
  cranelift/filetests/filetests/isa/s390x/fpmem-arch13.clif
  cranelift/filetests/filetests/isa/s390x/fpmem.clif
  cranelift/native/Cargo.toml
  cranelift/native/src/lib.rs
Labels: cranelift, cranelift:meta

#2984 Reimplement how instance exports are stored/loaded
  crates/runtime/src/instance.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/store/context.rs
  crates/wasmtime/src/store/data.rs
  crates/wasmtime/src/types/matching.rs
Labels: wasmtime:api

#2977 Add guard pages to the front of linear memories
  Cargo.lock
  Cargo.toml
  benches/thread_eager_init.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/module.rs
  crates/environ/src/tunables.rs
  crates/fuzzing/src/generators.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/runtime/src/memory.rs
  crates/runtime/src/mmap.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/module/serialization.rs
  tests/all/async_functions.rs
  tests/all/main.rs
  tests/all/memory.rs
  tests/all/pooling_allocator.rs
Labels: fuzzing, wasmtime:api

#2997 Enable the simd_i8x16_arith2 test for AArch64
  build.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#3004 aarch64: Implement lowering rotl/rotr for i128 values
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/shift-rotate.clif
  cranelift/filetests/filetests/runtests/i128-rotate.clif
Labels: cranelift, cranelift:area:aarch64

#3008 aarch64: Implement ireduce for i128 values
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/reduce.clif
  cranelift/filetests/filetests/runtests/i128-reduce.clif
Labels: cranelift, cranelift:area:aarch64

#3007 Use hand written legalizations in simple_legalize
  cranelift/codegen/meta/src/isa/arm32/mod.rs
  cranelift/codegen/meta/src/isa/arm64/mod.rs
  cranelift/codegen/meta/src/isa/s390x/mod.rs
  cranelift/codegen/src/legalizer/mod.rs
Labels: cranelift, cranelift:meta

#2994 Enable more tests on AArch64
  build.rs
  crates/debug/src/lib.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/wasmtime/src/module/serialization.rs
  tests/all/func.rs
  tests/all/fuzzing.rs
  tests/all/gc.rs
  tests/all/main.rs
  tests/all/pooling_allocator.rs
Labels: wasmtime:api

#3002 aarch64 implement brz,brnz,br_icmp for i128 values
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/condbr.clif
  cranelift/filetests/filetests/runtests/i128-br.clif
  cranelift/filetests/filetests/runtests/i128-bricmp.clif
Labels: cranelift, cranelift:area:aarch64

#3001 Fix running enter/exit hooks on start functions
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/store/context.rs
  tests/all/native_hooks.rs
Labels: wasmtime:api

#3016 Fix WASI fd_readdir on big-endian
  crates/wasi-common/src/snapshots/preview_1.rs
Labels: wasi

#3005 aarch64: Implement uextend/sextend for i128 values
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/extend-op.clif
  cranelift/filetests/filetests/runtests/i128-extend-2.clif
  cranelift/filetests/filetests/runtests/i128-extend.clif
Labels: cranelift, cranelift:area:aarch64

#3014 Fix updating srclocs in truncate_last_branch
  cranelift/codegen/src/machinst/buffer.rs
Labels: cranelift, cranelift:area:machinst

#3011 Fix `bint` on x64, and make `bextend` consistent with bool representation.
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/bextend.clif
  cranelift/filetests/filetests/isa/x64/cmp-mem-bug.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/runtests/bint.clif
  cranelift/filetests/filetests/runtests/i128-bint.clif
Labels: cranelift, cranelift:area:x64

#3012 s390x: Basic support for IaddIfcout
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/s390x/mod.rs
Labels: cranelift

#3013 Fix access to VMMemoryDefinition::current_length on big-endian
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/memory.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/trampoline/memory.rs
  tests/all/instance.rs
Labels: wasmtime:api

#3024 Increase timeout for poll_oneoff tests
  crates/test-programs/wasi-tests/src/bin/poll_oneoff_stdio.rs
  crates/wasi-common/tokio/tests/poll_oneoff.rs
Labels: wasi

#3027 aarch64: Implement lowering i128 select
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/condops.clif
  cranelift/filetests/filetests/runtests/i128-select.clif
Labels: cranelift, cranelift:area:aarch64

#3028 cranelift-codegen: move old x86 and RISC-V backends to isa/legacy/.
  cranelift/codegen/src/isa/legacy/mod.rs
  cranelift/codegen/src/isa/legacy/riscv/abi.rs
  cranelift/codegen/src/isa/legacy/riscv/binemit.rs
  cranelift/codegen/src/isa/legacy/riscv/enc_tables.rs
  cranelift/codegen/src/isa/legacy/riscv/mod.rs
  cranelift/codegen/src/isa/legacy/riscv/registers.rs
  cranelift/codegen/src/isa/legacy/riscv/settings.rs
  cranelift/codegen/src/isa/legacy/x86/abi.rs
  cranelift/codegen/src/isa/legacy/x86/binemit.rs
  cranelift/codegen/src/isa/legacy/x86/enc_tables.rs
  cranelift/codegen/src/isa/legacy/x86/mod.rs
  cranelift/codegen/src/isa/legacy/x86/registers.rs
  cranelift/codegen/src/isa/legacy/x86/settings.rs
  cranelift/codegen/src/isa/legacy/x86/unwind.rs
  cranelift/codegen/src/isa/legacy/x86/unwind/systemv.rs
  cranelift/codegen/src/isa/legacy/x86/unwind/winx64.rs
  cranelift/codegen/src/isa/mod.rs
Labels: cranelift

#3026 aarch64: Implement TLS ELF GD Relocations
  cranelift/codegen/src/binemit/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/tls-elf-gd.clif
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:module

#3029 Fix fuzzers requesting 4gb memories
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
Labels: fuzzing

#3032 aarch64: Implement missing atomic rmw ops
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/filetests/filetests/runtests/atomic-rmw-2.clif
  cranelift/filetests/filetests/runtests/atomic-rmw.clif
Labels: cranelift, cranelift:area:aarch64

#3037 x64 backend: be explicit about unimplemented opcodes.
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#3035 Enable the simd_i16x8_q15mulr_sat_s test on AArch64
  build.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/preopt.serialized
  cranelift/interpreter/src/step.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, cranelift:meta, cranelift:wasm

#3039 Fix return type of for truc_sat and convert instructions
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:wasm

#3041 Update documentation of enter/exit hooks
  crates/wasmtime/src/store.rs
Labels: wasmtime:api

#3043 cranelift: Prevent overflow errors in interpreter for add,sub,mul
  cranelift/filetests/filetests/runtests/arithmetic.clif
  cranelift/interpreter/src/value.rs
Labels: cranelift

#3042 this option is default since early 2018
  docs/WASI-tutorial.md
Labels: wasmtime:docs

#3033 Give accessors to `wasmtime::Trap` causes
  crates/wasmtime/src/trap.rs
Labels: wasmtime:api
