Repository bytecodealliance/wasmtime, pull requests merged in 2021-04, with the labels that each got.

#2796 Revert "wiggle: generate a span that is present at all levels"
  crates/wiggle/generate/src/funcs.rs
Labels: wasi

#2798 Daily update of wasm-smith
  Cargo.lock
  crates/fuzzing/Cargo.toml
Labels: fuzzing

#2800 cranelift-frontend: Seal unsealed block in switch generation
  cranelift/frontend/src/switch.rs
Labels: cranelift

#2799 x64: refactor REX-specific encoding machinery to its own module
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/encoding/mod.rs
  cranelift/codegen/src/isa/x64/inst/encoding/rex.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
Labels: cranelift, cranelift:area:x64

#2791 Add a compile command to Wasmtime.
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/codegen/meta/src/cdsl/settings.rs
  cranelift/codegen/meta/src/gen_settings.rs
  cranelift/codegen/meta/src/isa/arm64/mod.rs
  cranelift/codegen/meta/src/isa/riscv/mod.rs
  cranelift/codegen/meta/src/isa/x86/settings.rs
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/aarch64/settings.rs
  cranelift/codegen/src/isa/arm32/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv/mod.rs
  cranelift/codegen/src/isa/riscv/settings.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/isa/x64/settings.rs
  cranelift/codegen/src/isa/x86/mod.rs
  cranelift/codegen/src/isa/x86/settings.rs
  cranelift/codegen/src/machinst/adapter.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/settings.rs
  cranelift/wasm/Cargo.toml
  crates/c-api/src/module.rs
  crates/environ/src/data_structures.rs
  crates/environ/src/tunables.rs
  crates/fuzzing/Cargo.toml
  crates/jit/Cargo.toml
  crates/jit/src/code_memory.rs
  crates/jit/src/compiler.rs
  crates/jit/src/instantiate.rs
  crates/lightbeam/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  docs/cli-options.md
  examples/serialize.rs
  src/bin/wasmtime.rs
  src/commands.rs
  src/commands/compile.rs
  src/commands/config.rs
  src/commands/run.rs
  src/commands/settings.rs
  src/commands/wasm2obj.rs
  src/commands/wast.rs
  src/lib.rs
  tests/all/module.rs
  tests/all/module_linking.rs
  tests/all/module_serialize.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64, cranelift:meta, cranelift:wasm, fuzzing, wasmtime:api, wasmtime:c-api, wasmtime:docs

#2803 Move some scopes around to fix a leak on raising a trap
  crates/wasmtime/src/func.rs
  tests/all/func.rs
Labels: wasmtime:api

#2805 Release 0.26.0.
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/automata/Cargo.toml
  cranelift/peepmatic/crates/macro/Cargo.toml
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/peepmatic/crates/traits/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/wasmtime/Cargo.toml
  crates/misc/rust/Cargo.toml
  crates/misc/rust/macro/Cargo.toml
  crates/obj/Cargo.toml
  crates/profiling/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/borrow/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  crates/wiggle/wasmtime/Cargo.toml
  crates/wiggle/wasmtime/macro/Cargo.toml
  tests/all/module_serialize.rs
Labels: cranelift, cranelift:area:peepmatic, cranelift:meta, cranelift:module, cranelift:wasm, wasmtime:docs

#2809 Tweaks some tests for Mac aarch64
  cranelift/native/src/lib.rs
  crates/runtime/src/instance/allocator/pooling.rs
  tests/all/traps.rs
Labels: cranelift

#2806 Fully support multiple returns in Wasmtime
  Cargo.lock
  Cargo.toml
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/call_conv.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x86/abi.rs
  cranelift/codegen/src/isa/x86/unwind/systemv.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/filetests/filetests/isa/x64/call-conv.clif
  cranelift/filetests/filetests/isa/x86/systemv_x64_unwind.clif
  cranelift/filetests/filetests/isa/x86/windows_fastcall_x64_unwind.clif
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/sections_translator.rs
  cranelift/wasm/src/translation_utils.rs
  crates/cranelift/Cargo.toml
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/jit/src/lib.rs
  crates/jit/src/native.rs
  crates/jit/src/object.rs
  crates/jit/src/trampoline.rs
  crates/lightbeam/wasmtime/src/lib.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/sig_registry.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/types.rs
  examples/multi.rs
  tests/all/func.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64, cranelift:wasm, lightbeam, wasmtime:api

#2812 Document guidance around multithreading and Wasmtime
  docs/SUMMARY.md
  docs/examples-rust-multithreading.md
Labels: wasmtime:docs

#2811 Refactor store frame information.
  cranelift/entity/src/primary.rs
  crates/jit/src/code_memory.rs
  crates/jit/src/instantiate.rs
  crates/wasmtime/src/frame_info.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/store.rs
Labels: cranelift, wasmtime:api

#2817 Add some more `#[inline]` annotations for trivial functions
  cranelift/entity/src/lib.rs
  crates/environ/src/module.rs
  crates/environ/src/vmoffsets.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/vmcontext.rs
Labels: cranelift

#2813 x64: match multiple ISA requirements before emitting
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
Labels: cranelift, cranelift:area:x64

#2750 Support declaring anonymous functions and data objects
  cranelift/jit/src/backend.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#2828 Fix srem.{i8,i16}
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/filetests/filetests/isa/x64/div-checks-run.clif
  cranelift/filetests/filetests/isa/x64/div-checks.clif
Labels: cranelift, cranelift:area:x64

#2823 Cranelift AArch64: Improve the handling of callee-saved registers
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/filetests/filetests/isa/aarch64/prologue.clif
Labels: cranelift, cranelift:area:aarch64

#2833 x64: fix Inst::store to understand all scalar types
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2840 cranelift: always spill i32 with i64 stores
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/filetests/filetests/isa/x64/store-stack-full-width-i32.clif
Labels: cranelift, cranelift:area:machinst

#2838 Allow unwind support to work without a frame pointer
  cranelift/codegen/src/isa/aarch64/inst/unwind/systemv.rs
  cranelift/codegen/src/isa/unwind.rs
  cranelift/codegen/src/isa/unwind/systemv.rs
  cranelift/codegen/src/isa/unwind/winx64.rs
  cranelift/codegen/src/isa/x64/inst/unwind/systemv.rs
  cranelift/codegen/src/isa/x86/unwind/systemv.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#2836 Fix frame size after unwind rework
  cranelift/codegen/src/machinst/abi_impl.rs
Labels: cranelift, cranelift:area:machinst

#2837 Add back support for accumulating outgoing arguments
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/arm32/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2829 Update cap-std dependency to 0.13.9
  Cargo.lock
  crates/wasi-common/cap-std-sync/Cargo.toml
Labels: wasi

#2819 x64: lower iabs.i64x2 using a single AVX512 instruction when possible
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/encoding/evex.rs
  cranelift/codegen/src/isa/x64/inst/encoding/mod.rs
  cranelift/codegen/src/isa/x64/inst/encoding/rex.rs
  cranelift/codegen/src/isa/x64/inst/encoding/vex.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2843 cranelift: Fix spillslot regression on big-endian platforms
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/filetests/filetests/isa/x64/store-stack-full-width-i32.clif
Labels: cranelift, cranelift:area:machinst

#2758 cranelift: Use a deferred display mechanism instead of `log_enabled!`
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/log.rs
  cranelift/codegen/src/machinst/compile.rs
Labels: cranelift, cranelift:area:machinst

#2822 Introduce a new API that allows notifying that a Store has moved to a new thread
  crates/wasmtime/src/store.rs
  docs/examples-rust-multithreading.md
  tests/all/traps.rs
Labels: wasmtime:api, wasmtime:docs

#2845 Generate unwind information on Win64 with the old backend
  cranelift/codegen/src/isa/x86/unwind/winx64.rs
Labels: cranelift

#2842 Additional performance improvements for module instantiation.
  crates/environ/src/vmoffsets.rs
  crates/jit/src/instantiate.rs
  crates/runtime/src/externref.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/traphandlers/macos.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/registry.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/sig_registry.rs
  crates/wasmtime/src/signatures.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/trampoline/create_handle.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trap.rs
  crates/wasmtime/src/types.rs
  crates/wasmtime/src/types/matching.rs
  crates/wasmtime/src/values.rs
Labels: wasmtime:api

#2846 Update iter-enum to 1
  Cargo.lock
  crates/lightbeam/Cargo.toml
Labels: lightbeam

#2736 Add resource limiting to the Wasmtime API.
  RELEASES.md
  crates/c-api/src/config.rs
  crates/c-api/src/memory.rs
  crates/fuzzing/src/lib.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/memory.rs
  crates/runtime/src/table.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/limits.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trampoline/memory.rs
  crates/wast/src/spectest.rs
  examples/memory.rs
  tests/all/externals.rs
  tests/all/limits.rs
  tests/all/linker.rs
  tests/all/main.rs
  tests/all/memory_creator.rs
  tests/all/module_linking.rs
Labels: fuzzing, wasmtime:api, wasmtime:c-api, wasmtime:docs

#2847 Optimize `table.init` instruction and instantiation
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/sections_translator.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/table.rs
Labels: cranelift, cranelift:wasm

#2849 Delete signature for no-longer-present function
  crates/c-api/include/wasmtime.h
Labels: wasmtime:c-api

#2851 Process declared element segments for "possibly exported funcs"
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/sections_translator.rs
  crates/environ/src/module_environ.rs
  tests/all/func.rs
Labels: cranelift, cranelift:wasm

#2852 Fix cranelift `Module` and `ObjectModule` docs links
  cranelift/codegen/src/ir/entities.rs
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#2857 Factor out byteorder in cranelift
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/isa/unwind/winx64.rs
  cranelift/filetests/Cargo.toml
  cranelift/filetests/src/test_unwind.rs
Labels: cranelift

#2858 Bring back `Module::deserialize`
  crates/c-api/include/wasmtime.h
  crates/c-api/src/module.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  examples/serialize.rs
  src/commands/compile.rs
  tests/all/module.rs
  tests/all/module_linking.rs
  tests/all/module_serialize.rs
Labels: wasmtime:api, wasmtime:c-api

#2862 Enable the simd_boolean test for AArch64
  build.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#2863 Bring back per-thread lazy initialization
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/traphandlers/macos.rs
  crates/runtime/src/traphandlers/unix.rs
  crates/wasmtime/src/store.rs
  docs/examples-rust-multithreading.md
  tests/all/traps.rs
Labels: wasmtime:api, wasmtime:docs

#2746 Allow passing arbitrary MemFlags to emit_small_mem{cpy,move}
  cranelift/frontend/src/frontend.rs
Labels: cranelift

#2859 wasi-nn: turn it on by default
  Cargo.lock
  Cargo.toml
  ci/run-wasi-crypto-example.sh
  ci/run-wasi-nn-example.sh
  crates/wasi-crypto/src/wiggle_interfaces/error.rs
  crates/wasi-nn/Cargo.toml
  crates/wasi-nn/build.rs
  crates/wasi-nn/src/ctx.rs
  crates/wasi-nn/src/impl.rs
  crates/wasi-nn/src/witx.rs
  deny.toml
  src/commands/compile.rs
  src/commands/run.rs
  src/commands/wasm2obj.rs
  src/commands/wast.rs
  src/lib.rs
Labels: wasmtime:api
