Repository bytecodealliance/wasmtime, pull requests merged in 2021-11, with the labels that each got.

#3493 Update v8 used during fuzzing
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/v8.rs
Labels: fuzzing

#3496 Match on InstructionData instead of Opcode inside the legalizer
  cranelift/codegen/src/legalizer/globalvalue.rs
  cranelift/codegen/src/legalizer/heap.rs
  cranelift/codegen/src/legalizer/mod.rs
  cranelift/codegen/src/legalizer/table.rs
Labels: cranelift

#3497 Misc meta crate cleanups
  cranelift/codegen/meta/src/cdsl/formats.rs
  cranelift/codegen/meta/src/cdsl/instructions.rs
  cranelift/codegen/meta/src/cdsl/operands.rs
  cranelift/codegen/meta/src/cdsl/types.rs
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/meta/src/shared/entities.rs
  cranelift/codegen/meta/src/shared/formats.rs
  cranelift/codegen/meta/src/shared/immediates.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/write.rs
  cranelift/interpreter/src/step.rs
  cranelift/reader/src/parser.rs
Labels: cranelift, cranelift:area:machinst, cranelift:meta

#3502 Add back the `ifcmp_sp` CLIF opcode.
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/ifcmp-sp.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#3503 Add a configuration option to force "static" memories
  crates/runtime/src/memory.rs
  crates/wasmtime/src/config.rs
  src/lib.rs
  tests/all/memory.rs
Labels: wasmtime:api

#3510 InstancePre can impl Clone
  crates/wasmtime/src/instance.rs
Labels: wasmtime:api

#3512 Change the bump-version workflow's schedule
  .github/workflows/bump-version.yml
  ci/force-ci-bump-version.sh
  docs/contributing-release-process.md
Labels: wasmtime:docs

#3514 Add the `pooling-allocator` feature.
  .github/workflows/main.yml
  crates/runtime/Cargo.toml
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/memory.rs
  crates/runtime/src/table.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/config/pooling.rs
Labels: wasmtime:api

#3516 Add a fuzz mode to stress unaligned wasm addresses
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/oracles.rs
  fuzz/fuzz_targets/differential.rs
Labels: fuzzing

#3520 Disable `check_label_branch_invariants` in fuzzing
  cranelift/codegen/src/machinst/buffer.rs
Labels: cranelift, cranelift:area:machinst

#3521 Update to rustix 0.26.2, fixing a crash on Android
  Cargo.lock
  Cargo.toml
  crates/bench-api/Cargo.toml
  crates/c-api/Cargo.toml
  crates/cache/Cargo.toml
  crates/cache/src/worker.rs
  crates/fiber/Cargo.toml
  crates/fiber/src/unix.rs
  crates/jit/Cargo.toml
  crates/jit/src/code_memory.rs
  crates/jit/src/profiling/jitdump_linux.rs
  crates/runtime/Cargo.toml
  crates/runtime/src/instance/allocator/pooling/linux.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/runtime/src/instance/allocator/pooling/unix.rs
  crates/runtime/src/mmap.rs
  crates/runtime/src/traphandlers/unix.rs
  crates/test-programs/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/cap-std-sync/src/sched/unix.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-common/tokio/Cargo.toml
  tests/all/custom_signal_handler.rs
  tests/all/memory_creator.rs
Labels: wasmtime:c-api, wasi

#3506 Initial ISLE integration for x64
  .gitattributes
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/build.rs
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/meta/src/lib.rs
  cranelift/codegen/meta/src/srcgen.rs
  cranelift/codegen/src/clif.isle
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/prelude.isle
  cranelift/entity/src/list.rs
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/isle/.gitignore
  cranelift/isle/README.md
  cranelift/isle/TODO
  cranelift/isle/fuzz/.gitignore
  cranelift/isle/fuzz/Cargo.toml
  cranelift/isle/fuzz/README.md
  cranelift/isle/fuzz/fuzz_targets/compile.rs
  cranelift/isle/isle/Cargo.toml
  cranelift/isle/isle/README.md
  cranelift/isle/isle/src/ast.rs
  cranelift/isle/isle/src/codegen.rs
  cranelift/isle/isle/src/compile.rs
  cranelift/isle/isle/src/error.rs
  cranelift/isle/isle/src/ir.rs
  cranelift/isle/isle/src/lexer.rs
  cranelift/isle/isle/src/lib.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/sema.rs
  cranelift/isle/isle/src/trie.rs
  cranelift/isle/isle_examples/construct-and-extract.isle
  cranelift/isle/isle_examples/error1.isle
  cranelift/isle/isle_examples/let.isle
  cranelift/isle/isle_examples/test.isle
  cranelift/isle/isle_examples/test2.isle
  cranelift/isle/isle_examples/test3.isle
  cranelift/isle/isle_examples/test4.isle
  cranelift/isle/isle_examples/test_main.rs
  cranelift/isle/isle_examples/tutorial.isle
  cranelift/isle/islec/Cargo.toml
  cranelift/isle/islec/src/main.rs
  deny.toml
  scripts/publish.rs
Labels: cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:x64

#3517 Fix for issue 3327. Updates Bnot to handle case for NaN float
  cranelift/codegen/src/isa/x64/lower.rs
  tests/misc_testsuite/simd/issue_3327_bnot_lowering.wast
Labels: cranelift, cranelift:area:x64

#3535 x64: Migrate `fabs` and `bnot` vector operations to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  tests/misc_testsuite/simd/issue_3327_bnot_lowering.wast
Labels: cranelift, cranelift:area:x64, isle

#3536 isle: Move immediates to the end of extractors
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/src/clif.isle
  cranelift/codegen/src/isa/x64/lower.isle
Labels: cranelift, cranelift:meta, cranelift:area:x64

#3537 isle: Migrate f32const/f64const to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:x64, isle

#3538 aarch64: Remove manual sign extension in lowering
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#3534 ISLE: guard against stale generated source in default build config.
  .github/workflows/main.yml
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/build.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
Labels: cranelift, cranelift:area:x64, isle

#3541 aarch64: Initial work to transition backend to ISLE
  .gitattributes
  cranelift/codegen/build.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/regmapping.rs
  cranelift/codegen/src/prelude.isle
  cranelift/isle/isle/src/codegen.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3479 Remove unused constants from cranelift-codegen-shared
  cranelift/codegen/shared/src/constants.rs
Labels: cranelift

#3544 x64: Move `insertlane` to ISLE
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  tests/misc_testsuite/simd/replace-lane-preserve.wast
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3545 aarch64: Migrate `iadd` and `isub` to ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/arithmetic.clif
  cranelift/filetests/filetests/isa/aarch64/extend-op.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3551 aarch64: Migrate {s,u}{sub,add}_sat to ISLE
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3552 x64: allow vector types in `select` move
  cranelift/codegen/src/isa/x64/lower.rs
  tests/misc_testsuite/simd/issue_3173_select_v128.wast
Labels: cranelift, cranelift:area:x64

#3554 ISLE: port `iabs` to ISLE for x64
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
Labels: cranelift, cranelift:area:x64, isle

#3557 Enable nan canonicalization in differential fuzzing
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#3558 Bump regalloc in Cranelift
  Cargo.lock
  cranelift/codegen/Cargo.toml
Labels: cranelift

#3561 Update aarch64 backend's ISLE code to be rule-ordering-independent.
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
Labels: cranelift, cranelift:area:aarch64

#3553 aarch64: Migrate `ineg` to ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#3568 Make the trap name for `unreachable` traps more descriptive.
  crates/wasmtime/src/trap.rs
  tests/all/traps.rs
Labels: wasmtime:api

#2953 Cranelift: Add `LibCall::Memcmp`
  cranelift/codegen/src/ir/libcall.rs
  cranelift/codegen/src/ir/types.rs
  cranelift/frontend/src/frontend.rs
  cranelift/module/src/lib.rs
Labels: cranelift, cranelift:module

#3556 Add a document describing how ISLE is integrated with Cranelift
  cranelift/docs/isle-integration.md
Labels: cranelift, cranelift:documentation, cranelift:docs

#3570 aarch64: Migrate `{s,u}mulhi` to ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3560 Add ISLE reference documentation.
  cranelift/docs/index.md
  cranelift/docs/isle-integration.md
  cranelift/isle/README.md
  cranelift/isle/docs/language-reference.md
Labels: cranelift, cranelift:documentation, isle, cranelift:docs
