Repository bytecodealliance/wasmtime, pull requests merged in 2021-03, with the labels that each got.

#2696 fuzz: Remove peepmatic fuzz targets
  fuzz/Cargo.toml
  fuzz/fuzz_targets/peepmatic_compile.rs
  fuzz/fuzz_targets/peepmatic_fst_differential.rs
  fuzz/fuzz_targets/peepmatic_interp.rs
  fuzz/fuzz_targets/peepmatic_parser.rs
  fuzz/fuzz_targets/peepmatic_simple_automata.rs
Labels: fuzzing

#2699 [x64] Add i64x2.abs
  build.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:area:x64, cranelift:wasm

#2703 Document the `-Wl,--stack-first` option to clang.
  docs/wasm-c.md
Labels: wasmtime:docs

#2705 Update version for fs-set-times to 3.1
  Cargo.lock
  crates/wasi-common/cap-std-sync/Cargo.toml
Labels: wasi

#2678 x86-64 Windows fastcall ABI support.
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/arm32/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/regs.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/helpers.rs
  cranelift/codegen/src/machinst/valueregs.rs
  cranelift/codegen/src/settings.rs
  cranelift/filetests/filetests/isa/x64/fastcall.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/select-i128.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64, cranelift:meta

#2711 Add a comment documenting fuel consumption rates.
  crates/wasmtime/src/store.rs
Labels: wasmtime:api

#2713 [simd] Implement load*_lane and store*_lane
  build.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:wasm

#2714 EntityList improvments
  cranelift/entity/src/list.rs
Labels: cranelift

#2518 Implement the pooling instance allocator.
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  README.md
  build.rs
  cranelift/wasm/src/module_translator.rs
  cranelift/wasm/src/sections_translator.rs
  crates/c-api/src/config.rs
  crates/environ/Cargo.toml
  crates/environ/src/data_structures.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/tunables.rs
  crates/environ/src/vmoffsets.rs
  crates/fiber/src/lib.rs
  crates/fiber/src/unix.rs
  crates/fiber/src/windows.rs
  crates/jit/Cargo.toml
  crates/jit/src/code_memory.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/trampoline.rs
  crates/obj/src/data_segment.rs
  crates/obj/src/module.rs
  crates/runtime/Cargo.toml
  crates/runtime/src/externref.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/linux.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/runtime/src/instance/allocator/pooling/unix.rs
  crates/runtime/src/instance/allocator/pooling/windows.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/memory.rs
  crates/runtime/src/mmap.rs
  crates/runtime/src/table.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline/create_handle.rs
  crates/wasmtime/src/trampoline/memory.rs
  tests/all/async_functions.rs
  tests/all/main.rs
  tests/all/pooling_allocator.rs
  tests/all/table.rs
  tests/all/wast.rs
Labels: cranelift, cranelift:wasm, wasmtime:api, wasmtime:c-api, wasmtime:docs

#2717 wasi-common: Timestamps should be in nanoseconds
  crates/wasi-common/src/snapshots/preview_0.rs
  crates/wasi-common/src/snapshots/preview_1.rs
Labels: wasi

#2625 Implement shared host functions.
  crates/bench-api/src/lib.rs
  crates/c-api/src/engine.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/traphandlers.rs
  crates/wasi/src/lib.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/trampoline/memory.rs
  crates/wasmtime/src/trampoline/table.rs
  crates/wiggle/wasmtime/macro/src/lib.rs
  crates/wiggle/wasmtime/tests/atoms_async.rs
  examples/externref.rs
  examples/fib-debug/main.rs
  examples/interrupt.rs
  examples/wasi/main.rs
  src/commands/run.rs
  src/commands/wast.rs
  tests/all/async_functions.rs
  tests/all/custom_signal_handler.rs
  tests/all/externals.rs
  tests/all/fuel.rs
  tests/all/func.rs
  tests/all/host_funcs.rs
  tests/all/iloop.rs
  tests/all/linker.rs
  tests/all/main.rs
  tests/all/memory_creator.rs
  tests/all/module.rs
  tests/all/module_linking.rs
  tests/all/module_serialize.rs
  tests/all/pooling_allocator.rs
  tests/all/traps.rs
  tests/all/wast.rs
Labels: fuzzing, wasi, wasmtime:api, wasmtime:c-api

#2709 Fix some issues around TLS management with async
  crates/runtime/src/lib.rs
  crates/runtime/src/traphandlers.rs
  crates/wasmtime/src/store.rs
  tests/all/async_functions.rs
Labels: wasmtime:api

#2719 Redo the statically typed `Func` API
  crates/bench-api/src/lib.rs
  crates/test-programs/tests/wasm_tests/runtime/cap_std_sync.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/store.rs
  docs/lang-rust.md
  docs/wasm-wat.md
  examples/externref.rs
  examples/fib-debug/main.rs
  examples/gcd.rs
  examples/hello.rs
  examples/interrupt.rs
  examples/linking.rs
  examples/memory.rs
  examples/multi.rs
  examples/serialize.rs
  examples/threads.rs
  examples/wasi/main.rs
  tests/all/async_functions.rs
  tests/all/custom_signal_handler.rs
  tests/all/externals.rs
  tests/all/func.rs
  tests/all/host_funcs.rs
  tests/all/iloop.rs
  tests/all/import_indexes.rs
  tests/all/linker.rs
  tests/all/module_serialize.rs
  tests/all/pooling_allocator.rs
  tests/all/stack_overflow.rs
  tests/all/traps.rs
  tests/all/use_after_drop.rs
Labels: wasmtime:api, wasmtime:docs

#2721 Update release notes for next version
  RELEASES.md
Labels: wasmtime:docs

#2722 Update RELEASES.md to mention the change to `Engine::new`.
  RELEASES.md
Labels: wasmtime:docs

#2724 Cranelift AArch64: Add initial support for the Armv8.1 atomics
  cranelift/codegen/meta/src/isa/arm64/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/aarch64/settings.rs
  cranelift/native/src/lib.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:meta

#2731 Make 0.25.0 release
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/automata/Cargo.toml
  cranelift/peepmatic/crates/macro/Cargo.toml
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/peepmatic/crates/traits/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/wasmtime/Cargo.toml
  crates/misc/rust/Cargo.toml
  crates/misc/rust/macro/Cargo.toml
  crates/obj/Cargo.toml
  crates/profiling/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/borrow/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  crates/wiggle/wasmtime/Cargo.toml
  crates/wiggle/wasmtime/macro/Cargo.toml
Labels: cranelift, cranelift:area:peepmatic, cranelift:meta, cranelift:module, cranelift:wasm, wasmtime:docs

#2733 Bump dependencies to get a single version of rand
  Cargo.lock
  crates/runtime/Cargo.toml
  crates/runtime/src/instance/allocator/pooling.rs
  crates/wiggle/Cargo.toml
  crates/wiggle/test-helpers/Cargo.toml
  crates/wiggle/wasmtime/Cargo.toml
  deny.toml
Labels: wasi

#2723 Mach ports continued + support aarch64-apple unwinding
  Cargo.lock
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/unwind.rs
  cranelift/codegen/src/isa/unwind/systemv.rs
  cranelift/codegen/src/isa/unwind/winx64.rs
  crates/fiber/src/arch/aarch64.S
  crates/runtime/Cargo.toml
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/traphandlers/macos.rs
  crates/runtime/src/traphandlers/unix.rs
  crates/runtime/src/traphandlers/windows.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/unix.rs
  tests/all/custom_signal_handler.rs
Labels: cranelift, cranelift:area:aarch64, wasmtime:api

#2739 cranelift-module: Add support for passing a StackMapSink when defining functions
  cranelift/jit/examples/jit-minimal.rs
  cranelift/jit/src/backend.rs
  cranelift/jit/tests/basic.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
  cranelift/object/tests/basic.rs
Labels: cranelift, cranelift:module

#2743 Fix an incorrect link.
  cranelift/docs/compare-llvm.md
Labels: cranelift, cranelift:docs

#2742 cranelift: add support for the Mac aarch64 calling convention
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/call_conv.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x86/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/obj/Cargo.toml
  crates/profiling/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasmtime/Cargo.toml
  fuzz/Cargo.toml
  tests/all/func.rs
  tests/all/host_funcs.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64, cranelift:meta, cranelift:module, cranelift:wasm, fuzzing, wasmtime:api

#2748 Clarify ownership of data returned by get_finalized_*
  cranelift/jit/src/backend.rs
Labels: cranelift

#2741 Split out fiber stacks from fibers.
  Cargo.lock
  crates/fiber/src/arch/x86_64.S
  crates/fiber/src/lib.rs
  crates/fiber/src/unix.rs
  crates/fiber/src/windows.rs
  crates/runtime/Cargo.toml
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/linux.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/runtime/src/instance/allocator/pooling/unix.rs
  crates/runtime/src/instance/allocator/pooling/windows.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/traphandlers/unix.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/trampoline/func.rs
  tests/host_segfault.rs
Labels: wasmtime:api

#2752 Use `min_by` instead of `sort_by` when we only want the minimum element.
  crates/wasi-common/src/sched.rs
Labels: wasi

#2755 Cranelift: remove logging of vcode when the log level isn't debug or more
  cranelift/codegen/src/machinst/compile.rs
Labels: cranelift, cranelift:area:machinst

#2757 Optimize calling a WebAssembly function
  crates/runtime/src/externref.rs
  crates/runtime/src/traphandlers.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/store.rs
Labels: wasmtime:api

#2756 wasi: make WasiSched::sleep fallible
  crates/wasi-common/cap-std-sync/src/sched/unix.rs
  crates/wasi-common/cap-std-sync/src/sched/windows.rs
  crates/wasi-common/src/sched.rs
  crates/wasi-common/src/snapshots/preview_0.rs
  crates/wasi-common/src/snapshots/preview_1.rs
Labels: wasi

#2759 More optimizations for calling into WebAssembly
  Cargo.lock
  crates/runtime/Cargo.toml
  crates/runtime/src/externref.rs
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/traphandlers/macos.rs
  crates/runtime/src/traphandlers/unix.rs
  crates/runtime/src/traphandlers/windows.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/frame_info.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trap.rs
Labels: wasmtime:api

#2760 wiggle: delete GuestErrorConversion, improve some error reporting
  crates/wasi-common/src/snapshots/preview_0.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-crypto/src/wiggle_interfaces/error.rs
  crates/wasi-nn/src/witx.rs
  crates/wiggle/generate/src/funcs.rs
  crates/wiggle/generate/src/lib.rs
  crates/wiggle/generate/src/names.rs
  crates/wiggle/macro/src/lib.rs
  crates/wiggle/src/error.rs
  crates/wiggle/test-helpers/examples/tracing.rs
  crates/wiggle/test-helpers/src/lib.rs
  crates/wiggle/tests/atoms.rs
  crates/wiggle/tests/atoms_async.rs
  crates/wiggle/tests/errors.rs
  crates/wiggle/tests/flags.rs
  crates/wiggle/tests/handles.rs
  crates/wiggle/tests/ints.rs
  crates/wiggle/tests/lists.rs
  crates/wiggle/tests/pointers.rs
  crates/wiggle/tests/records.rs
  crates/wiggle/tests/strings.rs
  crates/wiggle/tests/variant.rs
  crates/wiggle/tests/wasi.rs
Labels: wasi

#2763 Handle `srem` properly when `avoid_div_traps` is false.
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/div-checks-run.clif
  cranelift/filetests/filetests/isa/x64/div-checks.clif
Labels: cranelift, cranelift:area:x64

#2762 fix typo in wasmtime.h
  crates/c-api/include/wasmtime.h
Labels: wasmtime:c-api

#2766 Use stable Rust on CI to test the x64 backend
  .github/workflows/main.yml
  Cargo.toml
  ci/run-experimental-x64-ci.sh
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/peepmatic/crates/automata/Cargo.toml
  crates/jit/src/unwind/systemv.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/wasi-nn/examples/classification-example/src/main.rs
  crates/wasi-nn/examples/wasi-nn-rust-bindings/src/generated.rs
  crates/wasmtime/Cargo.toml
Labels: cranelift, cranelift:area:peepmatic, cranelift:area:x64, cranelift:meta, wasmtime:api

#2767 Fix a number of warnings cropping up on nightly Rust
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/unwind/winx64.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/regalloc/liverange.rs
  cranelift/frontend/src/ssa.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/sections_translator.rs
  crates/runtime/src/traphandlers/macos.rs
  crates/wasmtime/src/func.rs
Labels: cranelift, cranelift:area:machinst, cranelift:meta, cranelift:wasm, wasmtime:api

#2768 Instantiate fewer instances when fuzzing
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/wasmtime/src/linker.rs
Labels: fuzzing, wasmtime:api

#2769 Disable module-linking in differential fuzzing
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#2761 wasmtime-wiggle: make it possible to add host funcs to a config under an alias
  crates/wiggle/wasmtime/macro/src/lib.rs
Labels: wasi

#2770 A few more small fuzzing fixes
  crates/fuzzing/src/lib.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
Labels: fuzzing

#2773 Update wasm-tools crates
  Cargo.lock
  Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/module_translator.rs
  crates/cranelift/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/wasmtime/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
Labels: cranelift, cranelift:wasm, fuzzing, lightbeam, wasmtime:api

#2774 Compile fewer trampolines with module linking
  crates/jit/src/instantiate.rs
  crates/jit/src/object.rs
  crates/obj/src/builder.rs
  crates/wasmtime/src/store.rs
Labels: wasmtime:api

#2780 doc: link to where oss-fuzz issues are recorded
  docs/contributing-ci.md
Labels: wasmtime:docs

#2771 Implements convert low signed integer to float for x64 simd
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/interpreter/src/step.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, cranelift:meta, cranelift:wasm

#2778 fuzz: Allow incompatible import types in instantiation
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#2776 `wasmtime-wasi` usability: re-exports of common siblings
  Cargo.lock
  Cargo.toml
  crates/c-api/src/wasi.rs
  crates/wasi-common/cap-std-sync/src/lib.rs
  crates/wasi/Cargo.toml
  crates/wasi/src/lib.rs
  examples/linking.rs
  examples/wasi/main.rs
  src/commands/run.rs
  tests/all/host_funcs.rs
  tests/all/traps.rs
Labels: wasi, wasmtime:c-api

#2785 wiggle-wasmtime: use fully qualified Rc, RefCell in expansion
  crates/wiggle/wasmtime/macro/src/lib.rs
Labels: wasi

#2782 wiggle: generate a span that is present at all levels
  crates/wiggle/generate/src/funcs.rs
Labels: wasi

#2787 Remove fixed todo
  cranelift/filetests/filetests/isa/x64/popcnt.clif
Labels: cranelift

#2788 Actually make spectest fuzzing deterministic
  crates/fuzzing/build.rs
Labels: fuzzing

#2789 Remove the type-driven ability for duplicates in a `Linker`
  crates/wasmtime/src/linker.rs
  tests/all/linker.rs
Labels: wasmtime:api

#2792 Update wasm-smith dependency
  Cargo.lock
  crates/fuzzing/Cargo.toml
Labels: fuzzing

#2793 Disable module linking in spectest fuzzing
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#2794 Update wasm-smith again
  Cargo.lock
  crates/fuzzing/Cargo.toml
Labels: fuzzing
