Repository bytecodealliance/wasmtime, pull requests merged in 2021-12, with the labels that each got.

#3578 Tidy up dependencies
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/isle/islec/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-nn/Cargo.toml
Labels: cranelift, wasi, isle

#3580 Update addr2line and gimli deps
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/filetests/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/jit/Cargo.toml
  crates/jit/src/instantiate.rs
Labels: cranelift

#3584 cranelift codegen & filetests: silence new dead code warnings in rust 1.57
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/filetests/src/runtest_environment.rs
  cranelift/filetests/src/test_unwind.rs
Labels: cranelift, cranelift:area:machinst

#3582 Fix issues with the C API vector implementation
  crates/c-api/src/vec.rs
Labels: wasmtime:c-api

#3587 cranelift-codegen: depend on an exact version of `isle`
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/build.rs
  cranelift/isle/fuzz/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/isle/islec/Cargo.toml
  cranelift/isle/islec/src/main.rs
  scripts/publish.rs
Labels: cranelift, isle

#3585 x64: assert that temporary and destination registers match during renaming
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/lower.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3591 cranelift-codegen: Port lowering of `{i,u}{max,min}` to ISLE for x64
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
Labels: cranelift, cranelift:area:x64, isle

#3592 cranelift-codegen: port `bnot` lowering to ISLE in x64
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
Labels: cranelift, cranelift:area:x64, isle

#3595 Add support for `Arm64Call` relocations in `cranelift-jit`
  cranelift/jit/src/compiled_blob.rs
Labels: cranelift

#3586 x64: expand FloatCC enum in ISLE
  cranelift/codegen/meta/src/cdsl/operands.rs
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/src/clif.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
Labels: cranelift, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64, isle

#3589 Release Wasmtime 0.32.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#3598 Add a compilation section to disable address maps
  crates/c-api/src/trap.rs
  crates/cranelift/src/compiler.rs
  crates/environ/src/compilation.rs
  crates/environ/src/tunables.rs
  crates/jit/src/instantiate.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/registry.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/trap.rs
  tests/all/traps.rs
Labels: wasmtime:api, wasmtime:c-api

#3572 aarch64: Migrate {s,u}{div,rem} to ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/arithmetic.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3601 Enable the SIMD proposal by default
  crates/wasmtime/src/config.rs
  src/lib.rs
Labels: wasmtime:api

#3602 aarch64: Migrate some bit-ops to ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/bitops.clif
Labels: cranelift, cranelift:area:aarch64

#3607 Fix a simd shuffle test
  cranelift/filetests/filetests/runtests/simd-shuffle.clif
Labels: cranelift

#3610 Fix some 16- and 8-bit behavior in x64 backend related to rotates.
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/runtests/shifts.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3608 aarch64: Migrate ishl/ushr/sshr to ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/bitops.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3614 aarch64: Translate rot{r,l} to ISLE
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/shift-rotate.clif
  cranelift/filetests/src/subtest.rs
Labels: cranelift, cranelift:area:aarch64

#3617 Fix popcnt for small integers
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/runtests/popcnt-aarch64.clif
  cranelift/filetests/filetests/runtests/popcnt.clif
Labels: cranelift, cranelift:area:x64

#3619 Use SipHasher rather than SHA-512 for ISLE manifest.
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/build.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, isle

#3620 Patch release 0.32.1.
  Cargo.lock
  RELEASES.md
  cranelift/codegen/Cargo.toml
  cranelift/codegen/build.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/runtests/popcnt-aarch64.clif
  cranelift/filetests/filetests/runtests/popcnt.clif
  cranelift/filetests/filetests/runtests/shifts.clif
Labels: cranelift, cranelift:area:machinst, wasmtime:docs, cranelift:area:aarch64, cranelift:area:x64, isle

#3618 aarch64: Use smaller instruction helpers in ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
Labels: cranelift, cranelift:area:aarch64

#3604 docs: update VTune documentation
  crates/jit/src/profiling/vtune_linux.rs
  docs/examples-profiling-vtune.md
Labels: wasmtime:docs

#3622 docs: replace 'amplxe-cl' with 'vtune'
  docs/examples-profiling-vtune.md
Labels: wasmtime:docs
