Repository bytecodealliance/wasmtime, pull requests merged in 2021-10, with the labels that each got.

#3404 Fix some nightly dead code warnings
  cranelift/codegen/meta/src/cdsl/instructions.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
Labels: cranelift, cranelift:meta

#3407 Cranelift: remove unused `EncCursor`
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/cursor.rs
  cranelift/codegen/src/licm.rs
Labels: cranelift

#3413 Remove StackLayoutInfo
  cranelift/codegen/src/ir/function.rs
  cranelift/codegen/src/ir/mod.rs
  cranelift/codegen/src/ir/stackslot.rs
  cranelift/codegen/src/isa/constraints.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/stack.rs
Labels: cranelift

#3416 Disable module linking in compilation fuzzer
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#3091 🌈 cranelift: Provide an `entity_impl!` variation for external handles
  cranelift/entity/src/lib.rs
Labels: cranelift
