Repository bytecodealliance/wasmtime, pull requests merged in 2021-07, with the labels that each got.

#3048 Change the injection count of fuel in a store from u32 to u64
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/store.rs
  examples/tokio/main.rs
  tests/all/async_functions.rs
Labels: wasmtime:api

#3044 Enable the simd_i32x4_trunc_sat_f64x2 test for AArch64
  build.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/preopt.serialized
  cranelift/interpreter/src/step.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, cranelift:meta, cranelift:wasm

#3051 cranelift: Add fuel mechanism to the interpreter
  cranelift/interpreter/src/interpreter.rs
Labels: cranelift

#3019 Start a high-level architecture document for Wasmtime
  crates/cranelift/Cargo.toml
  crates/cranelift/README.md
  crates/debug/Cargo.toml
  crates/debug/README.md
  crates/environ/Cargo.toml
  crates/environ/README.md
  crates/jit/Cargo.toml
  crates/jit/README.md
  crates/obj/Cargo.toml
  crates/obj/README.md
  crates/profiling/Cargo.toml
  crates/profiling/README.md
  crates/runtime/Cargo.toml
  crates/runtime/README.md
  crates/runtime/src/instance.rs
  crates/wast/Cargo.toml
  crates/wast/README.md
  docs/SUMMARY.md
  docs/contributing-architecture.md
Labels: wasmtime:docs

#3055 Remove some dead code in Cranelift
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/codegen/src/machinst/vcode.rs
  crates/cranelift/src/lib.rs
Labels: cranelift, cranelift:area:machinst

#3054 Fix a few typos in the architecture doc
  docs/contributing-architecture.md
Labels: wasmtime:docs

#3057 Implement Display for settings::Value
  cranelift/codegen/src/settings.rs
Labels: cranelift

#3056 aarch64: Fix incorrect encoding of large const values in icmp.
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/filetests/filetests/runtests/icmp.clif
Labels: cranelift, cranelift:area:aarch64

#3067 Fix typo
  crates/wiggle/src/lib.rs
Labels: wasi

#3068 Fix error messages reporting number of expected vs actual params
  crates/wasmtime/src/func/typed.rs
  tests/all/func.rs
Labels: wasmtime:api

#3069 Upgrade Tokio to 1.8.1
  Cargo.lock
  Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
Labels: wasi

#3071 Add setter for enabling multi-memory to the C API.
  crates/c-api/include/wasmtime/config.h
  crates/c-api/src/config.rs
  examples/multimemory.c
  examples/multimemory.rs
  examples/multimemory.wat
Labels: wasmtime:c-api

#3073 [doc] Add LLDB tips and tricks
  docs/examples-debugging.md
Labels: wasmtime:docs

#3065 [doc] Update go example
  docs/lang-go.md
Labels: wasmtime:docs

#3076 Wastime: Enable nightly doc features on docs.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
Labels: wasmtime:api

#3063 Restore POSIX signal handling on MacOS behind a feature flag
  Cargo.toml
  crates/runtime/Cargo.toml
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/traphandlers/unix.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/lib.rs
  tests/all/custom_signal_handler.rs
Labels: wasmtime:api

#3034 Update documentation in Config about Send futures
  crates/wasmtime/src/config.rs
Labels: wasmtime:api

#3020 Add a type parameter to `VMOffsets` for pointer size
  crates/cranelift/src/func_environ.rs
  crates/environ/src/vmoffsets.rs
  crates/lightbeam/wasmtime/src/lib.rs
  crates/runtime/src/externref.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
Labels: lightbeam

#3088 Fix stack checks of recursive async function calls
  crates/wasmtime/src/func.rs
  tests/all/async_functions.rs
Labels: wasmtime:api

#3049 Port wasi-common from unsafe-io to io-lifetimes
  .github/workflows/main.yml
  Cargo.lock
  crates/bench-api/Cargo.toml
  crates/bench-api/src/lib.rs
  crates/c-api/Cargo.toml
  crates/c-api/src/wasi.rs
  crates/test-programs/Cargo.toml
  crates/test-programs/tests/wasm_tests/runtime/cap_std_sync.rs
  crates/test-programs/tests/wasm_tests/runtime/tokio.rs
  crates/test-programs/wasi-tests/src/bin/interesting_paths.rs
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/cap-std-sync/src/clocks.rs
  crates/wasi-common/cap-std-sync/src/dir.rs
  crates/wasi-common/cap-std-sync/src/file.rs
  crates/wasi-common/cap-std-sync/src/lib.rs
  crates/wasi-common/cap-std-sync/src/sched/unix.rs
  crates/wasi-common/cap-std-sync/src/sched/windows.rs
  crates/wasi-common/cap-std-sync/src/stdio.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-common/tokio/src/dir.rs
  crates/wasi-common/tokio/src/file.rs
  crates/wasi-common/tokio/src/sched/windows.rs
  crates/wasi-common/tokio/tests/poll_oneoff.rs
  src/commands/run.rs
Labels: wasi, wasmtime:c-api

#3086 c-api: add wasmtime_trap_code
  crates/c-api/include/wasmtime/extern.h
  crates/c-api/include/wasmtime/trap.h
  crates/c-api/src/trap.rs
  crates/wasmtime/src/trap.rs
  examples/interrupt.c
Labels: wasmtime:api, wasmtime:c-api

#3081 Reword env var hint for dwarf debug info
  crates/wasmtime/src/trap.rs
  tests/all/traps.rs
Labels: wasmtime:api

#3090 wiggle: dummy executor traps instead of panics, improve testing
  Cargo.lock
  crates/wasi-common/tokio/src/lib.rs
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/src/wasmtime.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/tests/wasmtime_async.rs
  crates/wiggle/tests/wasmtime_sync.rs
Labels: wasi

#3092 Flag another error as ok to hit when fuzzing
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#3082 Enable the simd_conversions test for AArch64
  build.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#3074 aarch64: Fix lowering amounts for shifts
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/shift-rotate.clif
  cranelift/filetests/filetests/runtests/i128-arithmetic.clif
  cranelift/filetests/filetests/runtests/i128-shifts-small-types.clif
  cranelift/filetests/filetests/runtests/i128-shifts.clif
  cranelift/filetests/filetests/runtests/shifts-small-types.clif
  cranelift/filetests/filetests/runtests/shifts.clif
Labels: cranelift, cranelift:area:aarch64

#3096 Riscv disassembler support
  Cargo.lock
  cranelift/Cargo.toml
  cranelift/src/disasm.rs
  crates/lightbeam/Cargo.toml
Labels: cranelift, lightbeam

#3098 wasi tutorial: make usage string consistient between rust and c programs
  docs/WASI-tutorial.md
Labels: wasmtime:docs

#3101 Implement JumpTable branches in Cranelift interpreter
  cranelift/filetests/filetests/runtests/br_table.clif
  cranelift/interpreter/src/interpreter.rs
  cranelift/interpreter/src/state.rs
  cranelift/interpreter/src/step.rs
Labels: cranelift

#3104 Some api docs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/store/context.rs
Labels: wasmtime:api

#3109 cranelift: Resolve alias lookups in interpreter
  cranelift/filetests/filetests/runtests/alias.clif
  cranelift/interpreter/src/frame.rs
Labels: cranelift

#3103 cranelift: Emit a trap when dividing by zero in interpreter
  cranelift/interpreter/src/interpreter.rs
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#3112 Add basic i128 support to Cranelift Interpreter
  cranelift/codegen/src/data_value.rs
  cranelift/filetests/filetests/runtests/i128-arithmetic.clif
  cranelift/filetests/filetests/runtests/i128-concat-split.clif
  cranelift/filetests/filetests/runtests/i128-const.clif
  cranelift/fuzzgen/src/lib.rs
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#3113 Add more documentation to `ModuleLimits` and `InstanceLimits`.
  crates/wasmtime/src/config.rs
Labels: wasmtime:api

#3117 cranelift: Move most debug-level logs to the trace level
  cranelift/codegen/src/binemit/relaxation.rs
  cranelift/codegen/src/binemit/shrink.rs
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/ir/layout.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/arm32/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/legalizer/boundary.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/regalloc/coalescing.rs
  cranelift/codegen/src/regalloc/coloring.rs
  cranelift/codegen/src/regalloc/reload.rs
  cranelift/codegen/src/regalloc/solver.rs
  cranelift/codegen/src/regalloc/spilling.rs
  cranelift/codegen/src/timing.rs
  cranelift/codegen/src/unreachable_code.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/filetests/src/test_stack_maps.rs
  cranelift/frontend/src/switch.rs
  cranelift/src/interpret.rs
  cranelift/wasm/src/func_translator.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64, cranelift:wasm

#3116 Update `gimli` to 0.25; `addr2line` to 0.16
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/object/Cargo.toml
  crates/debug/Cargo.toml
  crates/debug/src/gc.rs
  crates/debug/src/transform/attr.rs
  crates/debug/src/transform/mod.rs
  crates/debug/src/transform/range_info_builder.rs
  crates/debug/src/transform/unit.rs
  crates/environ/Cargo.toml
  crates/environ/src/module_environ.rs
  crates/fiber/Cargo.toml
  crates/jit/Cargo.toml
  crates/obj/Cargo.toml
  crates/profiling/Cargo.toml
  crates/runtime/Cargo.toml
  crates/wasmtime/Cargo.toml
Labels: cranelift, cranelift:module, wasmtime:api

#3095 Fix for 3089 X64 ext_mul_i8x16 has incorrect lowering
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#3105 Add support for Saturating Rounding Q-format Multiplication for x64
  build.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#3114 Implement simd i32x4 trunc sat f64x2 for x64
  build.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#3121 Implement `Linker::module_async`
  crates/wasmtime/src/linker.rs
  tests/all/async_functions.rs
Labels: wasmtime:api

#3122 Add a `wasmtime_linker_define_func` C API function
  crates/c-api/include/wasmtime/linker.h
  crates/c-api/src/func.rs
  crates/c-api/src/linker.rs
Labels: wasmtime:c-api

#3070 Enable simd_extmul_* for AArch64
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/simd-extmul.clif
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:wasm

#3127 Fix typo in doc
  crates/wasmtime/src/store.rs
Labels: wasmtime:api

#3126 Add x64 support for remaining int-to-int extend simd instructions
  build.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#3131 Fix warning on new-stable
  cranelift/codegen/meta/src/cdsl/isa.rs
Labels: cranelift, cranelift:meta

#3133 refactor: remove unused field
  cranelift/codegen/meta/src/cdsl/isa.rs
  cranelift/codegen/meta/src/isa/arm32/mod.rs
  cranelift/codegen/meta/src/isa/arm64/mod.rs
  cranelift/codegen/meta/src/isa/riscv/mod.rs
  cranelift/codegen/meta/src/isa/s390x/mod.rs
  cranelift/codegen/meta/src/isa/x86/mod.rs
Labels: cranelift, cranelift:meta
