Repository bytecodealliance/wasmtime, pull requests merged in 2021-09, with the labels that each got.

#3270 Use `std::alloc::alloc` instead of `libc::posix_memalign`.
  cranelift/jit/src/memory.rs
  crates/runtime/src/mmap.rs
Labels: cranelift

#3252 cranelift: Merge interpreter tests with runtests
  cranelift/filetests/filetests/interpreter/add.clif
  cranelift/filetests/filetests/runtests/fibonacci.clif
Labels: cranelift

#3193 Docs: Created the Wasmtime Markdown Parser Example
  .github/workflows/main.yml
  Cargo.toml
  docs/examples-markdown.md
  docs/rust_wasi_markdown_parser/Cargo.toml
  docs/rust_wasi_markdown_parser/example_markdown.md
  docs/rust_wasi_markdown_parser/src/main.rs
Labels: wasmtime:docs

#3258 cranelift: Prevent infinite loops in ssa frontend with unreachable code.
  cranelift/frontend/src/ssa.rs
Labels: cranelift

#3234 Implement `IsubBin`, `IsubBout`, and `IsubBorrow`for Cranelift interpreter
  cranelift/filetests/filetests/runtests/isubbin.clif
  cranelift/filetests/filetests/runtests/isubborrow.clif
  cranelift/filetests/filetests/runtests/isubbout.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#3275 Use relative `call` instructions between wasm functions
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/arm32/inst/mod.rs
  cranelift/codegen/src/isa/arm32/mod.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  crates/cranelift/src/builder.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/cranelift/src/obj.rs
  crates/fuzzing/src/generators.rs
  crates/jit/src/link.rs
  tests/all/main.rs
  tests/all/relocs.rs
Labels: cranelift, cranelift:area:machinst, fuzzing, cranelift:area:aarch64, cranelift:area:x64

#3279 Implement `Insertlane` for the Cranelift interpreter
  cranelift/codegen/src/ir/instructions.rs
  cranelift/filetests/filetests/runtests/simd-insertlane.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#3274 A round of Mac M1 fixes
  .github/workflows/main.yml
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/unwind/systemv.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  crates/cranelift/src/obj.rs
  crates/fiber/src/arch/aarch64.S
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64

#3282 cranelift: Fix `br_table` for `i64` types in x64 backend.
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/runtests/br_table.clif
  cranelift/frontend/src/switch.rs
Labels: cranelift, cranelift:area:x64

#3272 Implement `IaddPairwise` for the interpreter
  cranelift/filetests/filetests/runtests/simd-iaddpairwise.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#3271 More flexible versioning for module serialization
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  tests/all/module_serialize.rs
Labels: wasmtime:api

#3281 Some small optimizations for calling wasm functions
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/traphandlers/macos.rs
  crates/runtime/src/traphandlers/unix.rs
  crates/runtime/src/traphandlers/windows.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trap.rs
Labels: wasmtime:api

#3283 Implement `Umulhi` for the interpreter
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/filetests/filetests/runtests/simd-umulhi.clif
  cranelift/filetests/filetests/runtests/umulhi.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift, cranelift:meta

#3292 Align order of wasm types/values across Wasmtime
  crates/wasmtime/src/types.rs
  crates/wasmtime/src/values.rs
Labels: wasmtime:api

#3290 Implement `SaddSat` and `SsubSat` for the Cranelift interpreter
  cranelift/codegen/src/ir/immediates.rs
  cranelift/filetests/filetests/runtests/simd-saddsat-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-saddsat.clif
  cranelift/filetests/filetests/runtests/simd-ssubsat-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-ssubsat.clif
  cranelift/interpreter/src/step.rs
  cranelift/reader/src/parser.rs
Labels: cranelift

#3094 Cranelift CLIF Fuzzer generate blocks and branches
  cranelift/fuzzgen/src/config.rs
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/fuzzgen/src/lib.rs
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
Labels: cranelift, fuzzing, cranelift:area:aarch64

#3293 Remove an indirect function call in `Func::new`
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/trampoline/func.rs
Labels: wasmtime:api

#3291 Refactor the internals of `Store<T>`
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/store/context.rs
  crates/wasmtime/src/store/data.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/trampoline/memory.rs
  crates/wasmtime/src/trampoline/table.rs
  crates/wasmtime/src/types/matching.rs
  crates/wasmtime/src/unix.rs
  crates/wasmtime/src/values.rs
  crates/wasmtime/src/windows.rs
Labels: wasmtime:api

#3299 Cranelift CLIF Fuzzer add jump tables and `br_table`
  cranelift/fuzzgen/src/config.rs
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#3294 Avoid vector allocations in wasm->host calls
  Cargo.lock
  crates/c-api/src/func.rs
  crates/c-api/src/store.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/values.rs
Labels: wasmtime:api, wasmtime:c-api

#3304 Implement `vany_true` and `vall_true` instructions in interpreter
  cranelift/filetests/filetests/runtests/simd-valltrue.clif
  cranelift/filetests/filetests/runtests/simd-vanytrue.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#3268 Implement `Swizzle` and `Splat` for interpreter
  cranelift/filetests/filetests/runtests/simd-splat.clif
  cranelift/filetests/filetests/runtests/simd-swizzle.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#3309 cranelift: Fix build error
  cranelift/interpreter/src/step.rs
Labels: cranelift

#3301 Remove the `wasmtime wasm2obj` command
  docs/cli-options.md
  src/bin/wasmtime.rs
  src/commands.rs
  src/commands/run.rs
  src/commands/wasm2obj.rs
  src/lib.rs
  src/obj.rs
  tests/all/debug/obj.rs
Labels: wasmtime:docs

#3313 Replace `Store::{entering,exiting}_native_code_hook` with more expressive `Store::call_hook`
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/store.rs
  tests/all/call_hook.rs
  tests/all/main.rs
  tests/all/native_hooks.rs
Labels: wasmtime:api

#3318 Remove unnecessary annotations on `Module::get_export`
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#3306 Implement SIMD bools in trampoline
  cranelift/codegen/src/ir/types.rs
  cranelift/filetests/filetests/runtests/simd-valltrue.clif
  cranelift/filetests/filetests/runtests/simd-vanytrue.clif
  cranelift/filetests/src/function_runner.rs
Labels: cranelift

#3316 Implement `UwidenLow` and `UwidenHigh` for the interpreter
  cranelift/filetests/filetests/runtests/simd-uwidenhigh.clif
  cranelift/filetests/filetests/runtests/simd-uwidenlow.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#3333 Tidy up redundant `use` declarations.
  cranelift/jit/src/backend.rs
  crates/lightbeam/src/error.rs
  crates/test-programs/wasi-tests/src/bin/fd_flags_set.rs
  crates/test-programs/wasi-tests/src/bin/nofollow_errors.rs
  crates/test-programs/wasi-tests/src/bin/symlink_create.rs
Labels: lightbeam, cranelift

#3331 Update to cap-std 0.19.0 and rsix 0.22.4.
  Cargo.lock
  crates/bench-api/Cargo.toml
  crates/c-api/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/cap-std-sync/src/sched/unix.rs
  crates/wasi-common/tokio/Cargo.toml
Labels: wasmtime:c-api, wasi

#3307 Updated README.md with reference to C Conan package
  README.md
Labels: wasmtime:docs

#3314 Implement bit operations for Cranelift interpreter
  cranelift/filetests/filetests/runtests/bitrev.clif
  cranelift/filetests/filetests/runtests/cls-aarch64.clif
  cranelift/filetests/filetests/runtests/cls-interpret.clif
  cranelift/filetests/filetests/runtests/clz-interpret.clif
  cranelift/filetests/filetests/runtests/clz.clif
  cranelift/filetests/filetests/runtests/ctz-interpret.clif
  cranelift/filetests/filetests/runtests/ctz.clif
  cranelift/filetests/filetests/runtests/popcnt-aarch64.clif
  cranelift/filetests/filetests/runtests/popcnt-interpret.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#3324 Implement `Shuffle` for the interpreter
  cranelift/filetests/filetests/runtests/simd-shuffle.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#3342 Cranelift AArch64: Improve the type checks for IR operations
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#3348 Allow wasmtime/v8 to differ on errors slightly
  crates/fuzzing/src/oracles/v8.rs
Labels: fuzzing

#3317 Implement `SwidenLow` and `SwidenHigh` for the interpreter
  cranelift/filetests/filetests/runtests/simd-swidenhigh.clif
  cranelift/filetests/filetests/runtests/simd-swidenlow.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#3353 Improve linking-related error messages
  crates/types/src/lib.rs
  crates/wasmtime/src/types/matching.rs
  tests/misc_testsuite/linking-errors.wast
  tests/misc_testsuite/memory64/linking-errors.wast
  tests/misc_testsuite/reference-types/linking-errors.wast
Labels: wasmtime:api

#3352 Add `Store::consume_fuel` to manually consume fuel
  crates/c-api/include/wasmtime/store.h
  crates/c-api/src/store.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/store.rs
  tests/all/fuel.rs
Labels: wasmtime:api, wasmtime:c-api

#3349 add a hook to ResourceLimiter to detect memory grow failure
  crates/runtime/src/instance.rs
  crates/runtime/src/memory.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/trampoline/memory.rs
  tests/all/limits.rs
  tests/all/memory_creator.rs
Labels: wasmtime:api

#3359 Add "cargo:rerun-if-changed=build.rs" to some build.rs files.
  crates/misc/run-examples/build.rs
  crates/wasi-common/build.rs
Labels: wasi

#3365 Wasmtime version 0.30.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/automata/Cargo.toml
  cranelift/peepmatic/crates/macro/Cargo.toml
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/peepmatic/crates/traits/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/fuzzing/src/generators/table_ops.rs
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/wasmtime/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/types/matching.rs
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  tests/all/gc.rs
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, cranelift:area:peepmatic

#3357 Cranelift AArch64: Avoid invalid encodings for some vector instructions
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#3364 Implement `Smulhi` for interpreter
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/filetests/filetests/runtests/simd-smulhi.clif
  cranelift/filetests/filetests/runtests/smulhi-aarch64.clif
  cranelift/filetests/filetests/runtests/smulhi.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift, cranelift:meta

#3329 cranelift: Fix big-endian regression in data_value.rs
  cranelift/codegen/src/data_value.rs
Labels: cranelift

#3332 cranelift: Add SIMD `icmp` to interpreter
  cranelift/codegen/src/ir/types.rs
  cranelift/filetests/filetests/runtests/i128-icmp.clif
  cranelift/filetests/filetests/runtests/icmp-eq.clif
  cranelift/filetests/filetests/runtests/icmp-ne.clif
  cranelift/filetests/filetests/runtests/icmp-nof.clif
  cranelift/filetests/filetests/runtests/icmp-of.clif
  cranelift/filetests/filetests/runtests/icmp-sge.clif
  cranelift/filetests/filetests/runtests/icmp-sgt.clif
  cranelift/filetests/filetests/runtests/icmp-sle.clif
  cranelift/filetests/filetests/runtests/icmp-slt.clif
  cranelift/filetests/filetests/runtests/icmp-uge.clif
  cranelift/filetests/filetests/runtests/icmp-ugt.clif
  cranelift/filetests/filetests/runtests/icmp-ule.clif
  cranelift/filetests/filetests/runtests/icmp-ult.clif
  cranelift/filetests/filetests/runtests/icmp.clif
  cranelift/filetests/filetests/runtests/simd-icmp-eq.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ne.clif
  cranelift/filetests/filetests/runtests/simd-icmp-nof.clif
  cranelift/filetests/filetests/runtests/simd-icmp-of.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sge.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sgt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sle.clif
  cranelift/filetests/filetests/runtests/simd-icmp-slt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-uge.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ugt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ule.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ult.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#3355 Use rsix to make system calls in Wasmtime.
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/native/src/lib.rs
  crates/bench-api/Cargo.toml
  crates/c-api/Cargo.toml
  crates/cache/Cargo.toml
  crates/cache/src/worker.rs
  crates/fiber/Cargo.toml
  crates/fiber/src/unix.rs
  crates/jit/Cargo.toml
  crates/jit/src/profiling/jitdump_linux.rs
  crates/runtime/Cargo.toml
  crates/runtime/src/instance/allocator/pooling/linux.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/runtime/src/instance/allocator/pooling/unix.rs
  crates/runtime/src/mmap.rs
  crates/runtime/src/traphandlers/unix.rs
  crates/test-programs/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  tests/all/custom_signal_handler.rs
  tests/all/memory_creator.rs
Labels: wasmtime:api, wasmtime:c-api, cranelift, wasi

#3368 Updated README.md with reference to C++ Conan package
  README.md
Labels: wasmtime:docs

#3330 Fix s390x regressions
  build.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/filetests/filetests/runtests/i128-concat-split.clif
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/oracles.rs
Labels: cranelift, cranelift:area:machinst, fuzzing

#3376 Temporarily disable SIMD fuzzing on CI
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/lib.rs
  fuzz/fuzz_targets/differential_v8.rs
Labels: fuzzing

#3351 cranelift: Add support for parsing i128 data values
  cranelift/codegen/src/data_value.rs
  cranelift/filetests/filetests/runtests/i128-arithmetic.clif
  cranelift/filetests/filetests/runtests/i128-bandnot.clif
  cranelift/filetests/filetests/runtests/i128-bint.clif
  cranelift/filetests/filetests/runtests/i128-bitops-cls.clif
  cranelift/filetests/filetests/runtests/i128-bitops-count.clif
  cranelift/filetests/filetests/runtests/i128-bitops.clif
  cranelift/filetests/filetests/runtests/i128-bitrev.clif
  cranelift/filetests/filetests/runtests/i128-bornot.clif
  cranelift/filetests/filetests/runtests/i128-br.clif
  cranelift/filetests/filetests/runtests/i128-bricmp.clif
  cranelift/filetests/filetests/runtests/i128-bxornot.clif
  cranelift/filetests/filetests/runtests/i128-cls.clif
  cranelift/filetests/filetests/runtests/i128-const.clif
  cranelift/filetests/filetests/runtests/i128-extend-2.clif
  cranelift/filetests/filetests/runtests/i128-extend.clif
  cranelift/filetests/filetests/runtests/i128-icmp-overflow.clif
  cranelift/filetests/filetests/runtests/i128-icmp.clif
  cranelift/filetests/filetests/runtests/i128-load-store.clif
  cranelift/filetests/filetests/runtests/i128-reduce.clif
  cranelift/filetests/filetests/runtests/i128-rotate.clif
  cranelift/filetests/filetests/runtests/i128-select.clif
  cranelift/filetests/filetests/runtests/i128-shifts-small-types.clif
  cranelift/filetests/filetests/runtests/i128-shifts.clif
  cranelift/reader/src/parser.rs
Labels: cranelift

#3363 Implement `WideningPairwiseDotProductS` for interpreter
  cranelift/filetests/filetests/runtests/simd-wideningpairwisedotproducts.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#3362 Implement `Unarrow`, `Uunarrow`, and `Snarrow` for the interpreter
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/ir/types.rs
  cranelift/filetests/filetests/runtests/simd-snarrow-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-snarrow.clif
  cranelift/filetests/filetests/runtests/simd-unarrow-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-unarrow.clif
  cranelift/filetests/filetests/runtests/simd-uunarrow.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift, cranelift:meta

#3344 Load generated trampolines into jitdump when profiling
  crates/jit/src/instantiate.rs
  crates/jit/src/profiling.rs
  crates/jit/src/profiling/jitdump_disabled.rs
  crates/jit/src/profiling/jitdump_linux.rs
  crates/jit/src/profiling/vtune_disabled.rs
  crates/jit/src/profiling/vtune_linux.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/trampoline/func.rs
Labels: wasmtime:api

#3319 Optimize `Func::call` and its C API
  crates/c-api/src/func.rs
  crates/c-api/src/store.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/v8.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/types.rs
  crates/wast/src/wast.rs
  crates/wiggle/tests/wasmtime_async.rs
  crates/wiggle/tests/wasmtime_integration.rs
  crates/wiggle/tests/wasmtime_sync.rs
  src/commands/run.rs
  tests/all/async_functions.rs
  tests/all/call_hook.rs
  tests/all/externals.rs
  tests/all/func.rs
  tests/all/funcref.rs
  tests/all/gc.rs
  tests/all/host_funcs.rs
  tests/all/import_calling_export.rs
  tests/all/invoke_func_via_table.rs
  tests/all/linker.rs
  tests/all/traps.rs
  tests/host_segfault.rs
Labels: wasmtime:api, wasmtime:c-api, fuzzing, wasi

#3378 Fix a merge conflict on `main`
  crates/wasmtime/src/func.rs
Labels: wasmtime:api

#3322 AArch64 LSE atomic_rmw support
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/atomic-rmw-lse.clif
  cranelift/filetests/filetests/runtests/atomic-rmw-2.clif
  cranelift/filetests/filetests/runtests/atomic-rmw.clif
Labels: cranelift, cranelift:area:aarch64

#3354 Add `bextend`,`breduce` and `bmask` to interpreter
  cranelift/filetests/filetests/runtests/bextend.clif
  cranelift/filetests/filetests/runtests/bmask.clif
  cranelift/filetests/filetests/runtests/breduce.clif
  cranelift/filetests/filetests/runtests/i128-bextend.clif
  cranelift/filetests/filetests/runtests/i128-bmask.clif
  cranelift/filetests/filetests/runtests/i128-breduce.clif
  cranelift/filetests/filetests/runtests/simd-bmask.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#3361 Implement `VhighBits` & `Vselect` for interpreter
  cranelift/filetests/filetests/runtests/simd-vhighbits.clif
  cranelift/filetests/filetests/runtests/simd-vselect.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#3379 Implement `SqmulRoundSat` for interpreter
  cranelift/filetests/filetests/runtests/simd-sqmulroundsat-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-sqmulroundsat.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#3381 Disable simd in the instantiate-swarm fuzz target
  fuzz/fuzz_targets/instantiate-swarm.rs
Labels: fuzzing

#3385 Cranelift AArch64: Implement scalar FmaxPseudo and FminPseudo
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/runtests/fmin-max-pseudo.clif
Labels: cranelift, cranelift:area:aarch64

#3383 Cranelift AArch64: Fix the VanyTrue implementation for 64-bit elements
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/runtests/simd-logical.clif
  cranelift/filetests/filetests/runtests/simd-vanytrue.clif
Labels: cranelift, cranelift:area:aarch64

#3350 Add `*_unchecked` variants of `Func` APIs for the C API
  crates/c-api/include/wasmtime/func.h
  crates/c-api/include/wasmtime/linker.h
  crates/c-api/include/wasmtime/val.h
  crates/c-api/src/func.rs
  crates/c-api/src/linker.rs
  crates/c-api/src/val.rs
  crates/runtime/src/externref.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/ref.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/values.rs
Labels: wasmtime:api, wasmtime:c-api, wasmtime:ref-types

#3390 Remove the lightbeam backend
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  README.md
  build.rs
  ci/run-tests.sh
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  crates/c-api/Cargo.toml
  crates/c-api/include/wasmtime/config.h
  crates/c-api/src/config.rs
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/oracles.rs
  crates/lightbeam/Cargo.toml
  crates/lightbeam/LICENSE
  crates/lightbeam/README.md
  crates/lightbeam/examples/test.rs
  crates/lightbeam/src/backend.rs
  crates/lightbeam/src/benches.rs
  crates/lightbeam/src/disassemble.rs
  crates/lightbeam/src/error.rs
  crates/lightbeam/src/function_body.rs
  crates/lightbeam/src/lib.rs
  crates/lightbeam/src/microwasm.rs
  crates/lightbeam/src/module.rs
  crates/lightbeam/src/translate_sections.rs
  crates/lightbeam/tests/quickchecks.rs
  crates/lightbeam/tests/wrongs.rs
  crates/lightbeam/wasmtime/Cargo.toml
  crates/lightbeam/wasmtime/LICENSE
  crates/lightbeam/wasmtime/README.md
  crates/lightbeam/wasmtime/src/lib.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wast/src/wast.rs
  docs/contributing-architecture.md
  fuzz/fuzz_targets/compile.rs
  scripts/publish.rs
  src/lib.rs
Labels: lightbeam, wasmtime:c-api, cranelift, fuzzing, wasmtime:docs, cranelift:area:x64

#3392 Update `RELEASES.md`
  RELEASES.md
Labels: wasmtime:docs

#3395 Remove the rsix dependency in cranelift-native.
  Cargo.lock
  cranelift/native/Cargo.toml
  cranelift/native/src/lib.rs
Labels: cranelift

#3394 Validate functions in parallel in `Module::validate`
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#3397 Couple of meta crate cleanups after x86 backend removal
  cranelift/codegen/build.rs
  cranelift/codegen/meta/src/cdsl/instructions.rs
  cranelift/codegen/meta/src/isa/arm32.rs
  cranelift/codegen/meta/src/isa/arm64.rs
  cranelift/codegen/meta/src/isa/s390x.rs
  cranelift/codegen/meta/src/isa/x86.rs
  cranelift/codegen/meta/src/isa/x86/mod.rs
  cranelift/codegen/meta/src/lib.rs
Labels: cranelift, cranelift:meta

#3398 s390x: Enable most memory64 tests
  build.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/filetests/filetests/isa/s390x/arithmetic.clif
Labels: cranelift

#3399 Remove spec interpreter fuzz target temporarily
  crates/fuzzing/Cargo.toml
  crates/fuzzing/wasm-spec-interpreter/src/lib.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/differential_spec.rs
Labels: fuzzing

#3400 Add a release-notes entry for removal of Cranelift's old x86 backend.
  RELEASES.md
Labels: wasmtime:docs
