Repository bytecodealliance/wasmtime, pull requests merged in 2021-02, with the labels that each got.

#2017 Fix a memory leak with command modules
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/linker.rs
  tests/all/linker.rs
Labels: wasmtime:api

#2620 Fix `fd_readdir` to properly truncate directory entry names.
  crates/test-programs/wasi-tests/src/bin/fd_readdir.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
Labels: wasi, wasi:impl

#2631 Make the stackslot offsets available for debuginfo
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/arm32/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2622 Refactor x64::Inst to use OperandSize uniformly
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/unwind.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2636 Fix build_value_labels_ranges for newBE when there are no labels
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/arm32/mod.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/value_label.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst

#2641 WasiCtx: default to empty/sink stdio files rather than throw
  crates/test-programs/tests/wasm_tests/runtime/cap_std_sync.rs
  crates/wasi-common/src/ctx.rs
Labels: wasi

#2643 Add fuel related functions to c-api
  crates/c-api/include/wasmtime.h
  crates/c-api/src/config.rs
  crates/c-api/src/store.rs
Labels: wasmtime:c-api

#2648 Tweak C API for fuel
  crates/c-api/include/wasmtime.h
  crates/c-api/src/store.rs
  crates/fuzzing/src/oracles.rs
  crates/wasmtime/src/store.rs
  tests/all/fuel.rs
Labels: fuzzing, wasmtime:api, wasmtime:c-api

#2649 wasi-common: fix fdstat of dirfd
  crates/wasi-common/src/snapshots/preview_1.rs
Labels: wasi

#2652 Fix a number of warnings on nightly Rust
  cranelift/codegen/meta/src/cdsl/ast.rs
  cranelift/codegen/meta/src/cdsl/encodings.rs
  cranelift/codegen/meta/src/cdsl/instructions.rs
  cranelift/codegen/meta/src/cdsl/recipes.rs
  cranelift/codegen/meta/src/cdsl/type_inference.rs
  cranelift/codegen/meta/src/cdsl/xform.rs
  cranelift/codegen/meta/src/gen_encodings.rs
  cranelift/codegen/meta/src/isa/riscv/recipes.rs
  cranelift/codegen/meta/src/isa/x86/encodings.rs
Labels: cranelift, cranelift:meta

#2658 Specified type for V128AnyTrue
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:wasm

#2657 Wasmtime 0.23.0
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/automata/Cargo.toml
  cranelift/peepmatic/crates/macro/Cargo.toml
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/peepmatic/crates/traits/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/wasmtime/Cargo.toml
  crates/misc/rust/Cargo.toml
  crates/misc/rust/macro/Cargo.toml
  crates/obj/Cargo.toml
  crates/profiling/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/borrow/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  crates/wiggle/wasmtime/Cargo.toml
  crates/wiggle/wasmtime/macro/Cargo.toml
Labels: cranelift, cranelift:area:peepmatic, cranelift:meta, cranelift:module, cranelift:wasm

#2654 Add methods to construct RexFlags from OperandSizes.
  cranelift/codegen/src/isa/x64/inst/emit.rs
Labels: cranelift, cranelift:area:x64

#2527 Add serde serialization support for the full clif ir
  Cargo.lock
  ci/ensure_deterministic_build.sh
  cranelift/codegen/Cargo.toml
  cranelift/codegen/build.rs
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/shared/Cargo.toml
  cranelift/codegen/shared/src/condcodes.rs
  cranelift/codegen/src/ir/constant.rs
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/ir/entities.rs
  cranelift/codegen/src/ir/extfunc.rs
  cranelift/codegen/src/ir/extname.rs
  cranelift/codegen/src/ir/function.rs
  cranelift/codegen/src/ir/globalvalue.rs
  cranelift/codegen/src/ir/heap.rs
  cranelift/codegen/src/ir/immediates.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/ir/jumptable.rs
  cranelift/codegen/src/ir/layout.rs
  cranelift/codegen/src/ir/memflags.rs
  cranelift/codegen/src/ir/mod.rs
  cranelift/codegen/src/ir/table.rs
  cranelift/codegen/src/isa/encoding.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/regalloc/diversion.rs
  cranelift/entity/src/list.rs
  cranelift/entity/src/packed_option.rs
  cranelift/entity/src/sparse.rs
  cranelift/serde/Cargo.toml
  cranelift/serde/src/clif-json.rs
  cranelift/serde/src/serde_clif_json.rs
Labels: cranelift, cranelift:meta

#2653 More atomic ops
  cranelift/codegen/meta/src/shared/immediates.rs
  cranelift/codegen/src/ir/atomic_rmw_op.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/machinst/inst_common.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64, cranelift:meta

#2664 Disable wasmtime default-features in wasi crate
  crates/wasi/Cargo.toml
Labels: wasi

#2668 rename some wiggle tests to reflect new witx ast names
  crates/wiggle/tests/lists.rs
  crates/wiggle/tests/lists.witx
  crates/wiggle/tests/records.rs
  crates/wiggle/tests/records.witx
  crates/wiggle/tests/variant.rs
  crates/wiggle/tests/variant.witx
Labels: wasi

#2675 Update wasmparser/wat dependencies
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/fuzzing/Cargo.toml
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/code_translator.rs
  crates/cranelift/Cargo.toml
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/wasmtime/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  tests/misc_testsuite/module-linking/alias-outer.wast
  tests/misc_testsuite/module-linking/alias.wast
  tests/misc_testsuite/module-linking/instantiate.wast
Labels: cranelift, cranelift:area:peepmatic, cranelift:wasm, fuzzing, lightbeam, wasmtime:api

#2674 Make Module object safe
  cranelift/jit/src/backend.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#2683 Fix bad jumptable block ref when DCE removes a block.
  cranelift/codegen/src/ir/jumptable.rs
  cranelift/codegen/src/unreachable_code.rs
  cranelift/filetests/filetests/isa/x64/unused_jt_unreachable_block.clif
Labels: cranelift

#2685 Fix incomplete trap metadata due to multiple traps at one address.
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/buffer.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64

#2686 deps: Update `Arbitrary` to 1.0; `libfuzzer-sys` to 0.4.0; `wasm-smith` to 0.4.0
  Cargo.lock
  cranelift/peepmatic/crates/fuzzing/Cargo.toml
  cranelift/peepmatic/crates/fuzzing/src/lib.rs
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/api.rs
  fuzz/Cargo.toml
Labels: cranelift, cranelift:area:peepmatic, fuzzing

#2687 README: remove extra full stop
  README.md
Labels: wasmtime:docs

#2434 Implement support for `async` functions in Wasmtime
  .github/workflows/main.yml
  Cargo.lock
  crates/fiber/Cargo.toml
  crates/fiber/build.rs
  crates/fiber/src/arch/aarch64.S
  crates/fiber/src/arch/arm.S
  crates/fiber/src/arch/header.h
  crates/fiber/src/arch/windows.c
  crates/fiber/src/arch/x86.S
  crates/fiber/src/arch/x86_64.S
  crates/fiber/src/lib.rs
  crates/fiber/src/unix.rs
  crates/fiber/src/windows.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/store.rs
  scripts/publish.rs
  tests/all/async_functions.rs
  tests/all/main.rs
Labels: wasmtime:api

#2682 Fix some `i128` shift-related bugs in x64 backend.
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/shift-i128-run.clif
Labels: cranelift, cranelift:area:x64
