Repository bytecodealliance/wasmtime, pull requests merged in 2021-01, with the labels that each got.

#2533 Fix code in WASI-tutorial.md
  docs/WASI-tutorial.md
Labels: wasmtime:docs

#2546 x64: handle tests of b1 values correctly (only LSB is defined).
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/unwind/systemv.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/b1.clif
Labels: cranelift, cranelift:area:x64

#2538 Multi-register value support: framework for Values wider than machine registers.
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/arm32/abi.rs
  cranelift/codegen/src/isa/arm32/inst/mod.rs
  cranelift/codegen/src/isa/arm32/lower.rs
  cranelift/codegen/src/isa/arm32/lower_inst.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/helpers.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/valueregs.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2549 wasmtime-wiggle: missing memory can just Trap
  crates/wasi-nn/src/lib.rs
  crates/wasi/src/lib.rs
  crates/wasi/src/old/snapshot_0.rs
  crates/wiggle/wasmtime/macro/src/config.rs
  crates/wiggle/wasmtime/macro/src/lib.rs
Labels: wasi

#2555 Document that the module linking proposal is implemented
  docs/stability-wasm-proposals-support.md
Labels: wasmtime:docs

#2556 [Cranelift][Atomics] Add address folding for atomic notify/wait.
  build.rs
  cranelift/wasm/src/code_translator.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/builtin.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/vmcontext.rs
  tests/all/wast.rs
  tests/misc_testsuite/threads/atomics_wait_address.wast
Labels: cranelift, cranelift:goal:spidermonkey, cranelift:wasm

#2558 x64: support PC-rel symbol references using the GOT when in PIC mode.
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
Labels: cranelift, cranelift:area:x64

#2559 wasm->CLIF: fn translate_operator: Select/TypedSelect: add missing bi…
  cranelift/wasm/src/code_translator.rs
  cranelift/wasmtests/pr2559.wat
Labels: cranelift, cranelift:wasm

#2564 machinst lowering: update inst color when scanning across branch to allow more load-op merging.
  cranelift/codegen/src/machinst/lower.rs
  cranelift/filetests/filetests/isa/x64/load-op.clif
Labels: cranelift, cranelift:area:machinst

#2570 wiggle: generate flags using `bitflags`
  Cargo.lock
  crates/wasi-common/src/entry.rs
  crates/wasi-common/src/handle.rs
  crates/wasi-common/src/path.rs
  crates/wasi-common/src/snapshots/wasi_snapshot_preview1.rs
  crates/wasi-common/src/sys/fd.rs
  crates/wasi-common/src/sys/unix/mod.rs
  crates/wasi-common/src/sys/unix/path.rs
  crates/wasi-common/src/sys/windows/fd.rs
  crates/wasi-common/src/sys/windows/mod.rs
  crates/wasi-common/src/sys/windows/path.rs
  crates/wasi-common/src/virtfs.rs
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/src/funcs.rs
  crates/wiggle/generate/src/lib.rs
  crates/wiggle/generate/src/module_trait.rs
  crates/wiggle/generate/src/types/flags.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/tests/flags.rs
Labels: wasi

#2576 x64 bugfix: prevent load-op fusion of cmp because it could be emitted multiple times.
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/cmp-mem-bug.clif
Labels: cranelift, cranelift:area:x64

#2539 Support for I128 operations in x64 backend.
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/bitops-i128-run.clif
  cranelift/filetests/filetests/isa/x64/bitrev-i128-run.clif
  cranelift/filetests/filetests/isa/x64/floating-point.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/select-i128.clif
  cranelift/filetests/filetests/isa/x64/shift-i128-run.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2585 Update support for the module linking proposal
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/fuzzing/Cargo.toml
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/module_translator.rs
  cranelift/wasm/src/sections_translator.rs
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/fuzzing/Cargo.toml
  crates/jit/Cargo.toml
  crates/jit/src/instantiate.rs
  crates/lightbeam/Cargo.toml
  crates/lightbeam/wasmtime/Cargo.toml
  crates/runtime/src/export.rs
  crates/runtime/src/imports.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/trampoline/mod.rs
  crates/wasmtime/src/trampoline/table.rs
  crates/wasmtime/src/types.rs
  crates/wasmtime/src/types/matching.rs
  crates/wast/Cargo.toml
  fuzz/Cargo.toml
  fuzz/fuzz_targets/instantiate-swarm.rs
  src/obj.rs
  tests/all/module_linking.rs
  tests/misc_testsuite/module-linking/alias.wast
  tests/misc_testsuite/module-linking/import-subtyping.wast
  tests/misc_testsuite/module-linking/instantiate.wast
Labels: cranelift, cranelift:area:peepmatic, cranelift:wasm, fuzzing, lightbeam, wasmtime:api

#2540 Add ELF TLS support in new x64 backend.
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/tls_elf.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2541 x64 and aarch64: allow StructArgument and StructReturn args.
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/arm32/abi.rs
  cranelift/codegen/src/isa/arm32/lower.rs
  cranelift/codegen/src/isa/arm32/lower_inst.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/struct-arg.clif
  cranelift/filetests/filetests/isa/x64/struct-ret.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2589 Cranelift AArch64: Improve the Popcnt implementation
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/bitops.clif
Labels: cranelift, cranelift:area:aarch64

#2590 module-linking: Implement outer module aliases
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/jit/src/instantiate.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module.rs
  tests/misc_testsuite/module-linking/alias-outer.wast
  tests/misc_testsuite/module-linking/alias.wast
Labels: wasmtime:api

#2593 Add an instance limit to `Config`
  crates/c-api/include/wasmtime.h
  crates/c-api/src/config.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/store.rs
  tests/all/module_linking.rs
Labels: wasmtime:api, wasmtime:c-api

#2594 Update a number of dependencies
  Cargo.lock
  Cargo.toml
  build.rs
  cranelift/codegen/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/peepmatic/Cargo.toml
  cranelift/peepmatic/crates/fuzzing/Cargo.toml
  cranelift/peepmatic/crates/runtime/Cargo.toml
  cranelift/peepmatic/crates/souper/Cargo.toml
  cranelift/peepmatic/crates/test-operator/Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/code_translator.rs
  crates/debug/Cargo.toml
  crates/environ/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/jit/Cargo.toml
  crates/lightbeam/Cargo.toml
  crates/lightbeam/wasmtime/Cargo.toml
  crates/obj/Cargo.toml
  crates/profiling/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  deny.toml
  tests/misc_testsuite/multi-memory/simple.wast
Labels: cranelift, cranelift:area:peepmatic, cranelift:module, cranelift:wasm, fuzzing, lightbeam, wasmtime:api

#2565 Detailed debug-info (DWARF) support in new backends (initially x64).
  .github/workflows/main.yml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/ir/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/arm32/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/adapter.rs
  cranelift/codegen/src/machinst/debug.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/value_label.rs
  cranelift/codegen/src/write.rs
  crates/debug/src/transform/expression.rs
  crates/environ/src/data_structures.rs
  tests/all/debug/lldb.rs
  tests/all/debug/translate.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2551 Update reference in README to simplejit-demo
  cranelift/README.md
Labels: cranelift

#2528 Add safe Memory::read and Memory::write methods
  crates/wasmtime/src/externals.rs
  tests/all/externals.rs
Labels: wasmtime:api

#2604 fuzzing: Add tests for dummy import generation
  crates/fuzzing/src/oracles/dummy.rs
  crates/wasmtime/src/types.rs
Labels: fuzzing, wasmtime:api

#2606 wasmtime: clarify `Memory::{read,write}` behavior with out-of-bounds ranges
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/trampoline/memory.rs
  tests/all/externals.rs
Labels: wasmtime:api

#2608 Add a method to share `Config` across machines
  cranelift/codegen/meta/src/gen_settings.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/arm32/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/isa/x86/mod.rs
  cranelift/codegen/src/machinst/adapter.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/settings.rs
  cranelift/native/src/lib.rs
  crates/jit/src/compiler.rs
  crates/jit/src/native.rs
  crates/wasmtime/src/config.rs
  tests/all/main.rs
  tests/all/module.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64, cranelift:meta, wasmtime:api

#2607 cranelift-native: Use libstd feature detection
  Cargo.lock
  cranelift/native/Cargo.toml
  cranelift/native/src/lib.rs
Labels: cranelift

#2615 Only handle signals at pcs with trap information
  crates/runtime/src/traphandlers.rs
  crates/wasmtime/src/store.rs
Labels: wasmtime:api

#2616 Disable module-linking in plain instantiate fuzzers
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#2617 Add knobs to limit memories/tables in a `Store`
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/lib.rs
  crates/fuzzing/src/oracles.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/store.rs
  tests/all/module_linking.rs
Labels: fuzzing, wasmtime:api

#2602 Add sse41 lowering for rounding x64
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#2614 Avoid creating 0-sized nops in x64's gen_nop().
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/mod.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64

#2613 Optimize EntityList::extend and add EntityList::from_iter
  cranelift/entity/src/list.rs
Labels: cranelift

#2611 Implement limiting WebAssembly execution with fuel
  Cargo.lock
  Cargo.toml
  cranelift/src/souper_harvest.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/func_translator.rs
  crates/cranelift/Cargo.toml
  crates/cranelift/src/func_environ.rs
  crates/environ/src/builtin.rs
  crates/environ/src/tunables.rs
  crates/environ/src/vmoffsets.rs
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/oracles.rs
  crates/profiling/src/jitdump_linux.rs
  crates/runtime/src/externref.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/store.rs
  fuzz/fuzz_targets/instantiate-maybe-invalid.rs
  fuzz/fuzz_targets/instantiate-swarm.rs
  tests/all/fuel.rs
  tests/all/fuel.wast
  tests/all/fuzzing.rs
  tests/all/main.rs
Labels: cranelift, cranelift:wasm, fuzzing, wasmtime:api

#2621 Replace MachInst::gen_zero_len_nop with gen_nop(0)
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/arm32/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:machinst, cranelift:area:x64

#2626 cranelift x64: add instruction set checks for popcnt/tzcnt/lzcnt
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
Labels: cranelift, cranelift:area:x64

#2600 Remove some uses of riscv in tests
  cranelift/codegen/src/isa/mod.rs
  cranelift/frontend/src/frontend.rs
  cranelift/reader/src/parser.rs
Labels: cranelift
