Repository bytecodealliance/wasmtime, pull requests merged in 2022-11, with the labels that each got.

#5142 Add release notes for 2.0.1 to `main`
  RELEASES.md
Labels: wasmtime:docs

#5161 Cranelift: use iterators instead of indexing; clean up match expressions
  cranelift/codegen/src/isa/s390x/abi.rs
Labels: cranelift

#5164 Remove the need for count_operands by restructuring emit in s390x
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/machinst/reg.rs
Labels: cranelift, cranelift:area:machinst

#5169 Update `regalloc2` to v0.4.2
  Cargo.lock
  cranelift/codegen/Cargo.toml
  supply-chain/audits.toml
  winch/codegen/Cargo.toml
Labels: cranelift

#5168 Switch to `x64_rbp` to avoid the use of a pinned register
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/fp_sp_pc.clif
Labels: cranelift, cranelift:area:x64

#5171 cranelift-isle: trie construction and IR cleanups
  cranelift/isle/isle/src/compile.rs
  cranelift/isle/isle/src/ir.rs
  cranelift/isle/isle/src/trie.rs
Labels: cranelift, isle

#5160 Implement AOT compilation for components
  Cargo.lock
  Cargo.toml
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/mod.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/debug/transform/address_transform.rs
  crates/cranelift/src/debug/transform/expression.rs
  crates/cranelift/src/lib.rs
  crates/cranelift/src/obj.rs
  crates/environ/src/address_map.rs
  crates/environ/src/compilation.rs
  crates/environ/src/component/compiler.rs
  crates/environ/src/obj.rs
  crates/environ/src/trap_encoding.rs
  crates/jit/src/code_memory.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/jit/src/unwind/systemv.rs
  crates/jit/src/unwind/winx64.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/lib.rs
  crates/wasmtime/src/code.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/registry.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trap.rs
  crates/winch/Cargo.toml
  crates/winch/src/compiler.rs
  src/commands/compile.rs
  tests/all/component_model.rs
  tests/all/component_model/aot.rs
  tests/all/module_serialize.rs
  winch/Cargo.toml
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#5149 Return `anyhow::Error` from host functions instead of `Trap`, redesign `Trap`
  Cargo.lock
  cranelift/codegen/src/ir/immediates.rs
  crates/bench-api/src/lib.rs
  crates/c-api/src/func.rs
  crates/c-api/src/instance.rs
  crates/c-api/src/trap.rs
  crates/c-api/src/vec.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/diff_v8.rs
  crates/fuzzing/src/oracles/diff_wasmi.rs
  crates/fuzzing/src/oracles/diff_wasmtime.rs
  crates/fuzzing/src/oracles/stacks.rs
  crates/wasi-common/src/error.rs
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/snapshots/preview_0.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-nn/src/witx.rs
  crates/wasi/src/lib.rs
  crates/wasmtime/src/component/func/options.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trap.rs
  crates/wast/src/wast.rs
  crates/wiggle/generate/src/funcs.rs
  crates/wiggle/generate/src/lib.rs
  crates/wiggle/generate/src/module_trait.rs
  crates/wiggle/generate/src/wasmtime.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/test-helpers/Cargo.toml
  crates/wiggle/test-helpers/examples/tracing.rs
  crates/wiggle/tests/errors.rs
  crates/wiggle/tests/wasi.rs
  crates/wiggle/tests/wasmtime_sync.rs
  examples/interrupt.rs
  src/commands/run.rs
  tests/all/async_functions.rs
  tests/all/call_hook.rs
  tests/all/cli_tests.rs
  tests/all/component_model/async.rs
  tests/all/component_model/func.rs
  tests/all/component_model/import.rs
  tests/all/component_model/post_return.rs
  tests/all/component_model/strings.rs
  tests/all/custom_signal_handler.rs
  tests/all/fuel.rs
  tests/all/func.rs
  tests/all/host_funcs.rs
  tests/all/iloop.rs
  tests/all/import_calling_export.rs
  tests/all/linker.rs
  tests/all/pooling_allocator.rs
  tests/all/stack_overflow.rs
  tests/all/traps.rs
Labels: wasmtime:api, wasmtime:c-api, cranelift, fuzzing, wasi, wasmtime:config

#5175 Merge raw_bitcast and bitcast
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/nan_canonicalization.rs
  cranelift/codegen/src/simple_preopt.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/filetests/filetests/isa/x64/move-elision.clif
  cranelift/filetests/filetests/isa/x64/simd-issue-3951.clif
  cranelift/filetests/filetests/runtests/bitcast-ref64.clif
  cranelift/filetests/filetests/runtests/bitcast-same-type.clif
  cranelift/filetests/filetests/runtests/ref64-invalid-null.clif
  cranelift/filetests/filetests/runtests/simd-bitcast-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-bitcast.clif
  cranelift/filetests/filetests/runtests/simd-bitselect-to-vselect.clif
  cranelift/filetests/filetests/runtests/simd-comparison.clif
  cranelift/filetests/filetests/runtests/simd-lane-access.clif
  cranelift/filetests/filetests/simple_preopt/bitselect.clif
  cranelift/filetests/filetests/verifier/bitcast.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:meta, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64

#5179 c-api: add wasi_config_set_stdin_bytes
  Cargo.lock
  crates/c-api/Cargo.toml
  crates/c-api/include/wasi.h
  crates/c-api/src/wasi.rs
Labels: wasmtime:c-api

#5184 isle: Fix grammar in README
  cranelift/isle/README.md
Labels: cranelift, isle

#5174 cranelift-isle: Factor out rule/pattern/expr visitors
  cranelift/isle/isle/src/ir.rs
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#5188 Fix instruction size test for Rust 1.65.0
  cranelift/codegen/src/isa/x64/inst/mod.rs
Labels: cranelift, cranelift:area:x64

#5186 cranelift: Add support for `bswap.i128`
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/runtests/i128-bswap.clif
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#5187 cranelift: Rename `i{min,max}` to `s{min,max}`
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/aarch64/simd-min-max.clif
  cranelift/filetests/filetests/isa/s390x/vec-arithmetic.clif
  cranelift/filetests/filetests/runtests/integer-minmax.clif
  cranelift/filetests/filetests/runtests/simd-min-max-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-min-max.clif
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/interpreter/src/step.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:meta, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64

#5192 Use vselect in NaN canonicalization pass.
  cranelift/codegen/src/nan_canonicalization.rs
Labels: cranelift

#5173 cranelift: improve syscall error/oom handling in JIT module
  cranelift/filetests/src/function_runner.rs
  cranelift/jit/examples/jit-minimal.rs
  cranelift/jit/src/backend.rs
  cranelift/jit/src/memory.rs
  cranelift/jit/tests/basic.rs
  cranelift/module/src/module.rs
Labels: cranelift, cranelift:module

#5203 wiggle: fix compilation with async functions when tracing is off
  crates/wiggle/generate/src/funcs.rs
  crates/wiggle/tests/tracing.rs
Labels: wasi

#5205 Refactor configuration for the pooling allocator
  benches/instantiation.rs
  benches/thread_eager_init.rs
  crates/cli-flags/src/lib.rs
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/instance_allocation_strategy.rs
  crates/fuzzing/src/generators/instance_limits.rs
  crates/fuzzing/src/generators/pooling_config.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/lib.rs
  crates/wasmtime/src/config.rs
  fuzz/fuzz_targets/instantiate-many.rs
  tests/all/async_functions.rs
  tests/all/instance.rs
  tests/all/limits.rs
  tests/all/memory.rs
  tests/all/pooling_allocator.rs
  tests/all/wast.rs
Labels: wasmtime:api, fuzzing, wasmtime:config

#5207 Add support for keeping pooling allocator pages resident
  crates/fuzzing/src/generators/pooling_config.rs
  crates/runtime/src/cow.rs
  crates/runtime/src/cow_disabled.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, fuzzing, wasmtime:config

#5204 Fix mprotect failures by enabling cranelift-jit selinux-fix
  cranelift/filetests/Cargo.toml
  cranelift/jit/src/memory.rs
Labels: cranelift

#5209 Bump Wasmtime to 4.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/egraph/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/jit-icache-coherence/Cargo.toml
  winch/codegen/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#5211 Impl `Debug` for `SharedMemory` and `Extern`
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/memory.rs
Labels: wasmtime:api

#5201 fuzzgen: Add a few more ops
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/interpreter/src/step.rs
Labels: cranelift

#5212 Slim down temporary trampoline objects
  crates/wasmtime/src/trampoline/func.rs
Labels: wasmtime:api

#5215 Update how exits are modeled in the C API
  crates/c-api/include/wasmtime/error.h
  crates/c-api/include/wasmtime/trap.h
  crates/c-api/src/error.rs
  crates/c-api/src/trap.rs
Labels: wasmtime:c-api

#5213 Add release notes for 3.0.0
  RELEASES.md
Labels: wasmtime:docs

#5196 Support big- and little-endian lane order with bitcast
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/verifier/mod.rs
  cranelift/filetests/filetests/isa/s390x/bitcast.clif
  cranelift/filetests/filetests/isa/s390x/floating-point.clif
  cranelift/filetests/filetests/isa/s390x/vec-bitcast.clif
  cranelift/filetests/filetests/isa/x64/move-elision.clif
  cranelift/filetests/filetests/isa/x64/simd-bitselect.clif
  cranelift/filetests/filetests/runtests/simd-bitselect-to-vselect.clif
  cranelift/filetests/filetests/runtests/simd-lane-access.clif
  cranelift/filetests/filetests/verifier/bitcast.clif
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:meta, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64

#5217 [3.0.0] Add release notes
  RELEASES.md
Labels: wasmtime:docs

#5219 [2.0.0] Fix CI builds
  .github/workflows/main.yml
  cranelift/codegen/src/isa/x64/inst/mod.rs
Labels: cranelift, cranelift:area:x64

#5223 c-api: Avoid losing error context with instance traps
  crates/c-api/src/instance.rs
Labels: wasmtime:c-api

#5224 [3.0.0] Backport some C-API trap-related changes
  crates/c-api/include/wasmtime/error.h
  crates/c-api/include/wasmtime/trap.h
  crates/c-api/src/error.rs
  crates/c-api/src/instance.rs
  crates/c-api/src/trap.rs
Labels: wasmtime:c-api

#5222 Add a VRegAllocator to separate VReg allocation from VCode
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst

#5208 Implement support for dynamic memories in the pooling allocator
  crates/fuzzing/src/generators/config.rs
  crates/runtime/src/cow.rs
  crates/runtime/src/cow_disabled.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/memory.rs
  tests/all/pooling_allocator.rs
Labels: fuzzing

#5225 wiggle: add initial support for shared memory
  crates/wiggle/generate/src/wasmtime.rs
  crates/wiggle/src/guest_type.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/src/wasmtime.rs
Labels: wasi

#5226 Wasmtime+Cranelift: strip out some dead x86-32 code.
  cranelift/native/src/lib.rs
  crates/jit/src/unwind.rs
  crates/jit/src/unwind/winx32.rs
  crates/runtime/src/traphandlers/macos.rs
  crates/runtime/src/traphandlers/unix.rs
  crates/runtime/src/traphandlers/windows.rs
Labels: cranelift

#5232 cranelift-isle: Do fewer term lookups
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#5231 Cranelift: Make `heap_addr` return calculated `base + index + offset`
  cranelift/codegen/meta/src/cdsl/formats.rs
  cranelift/codegen/meta/src/shared/formats.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/legalizer/heap.rs
  cranelift/codegen/src/legalizer/mod.rs
  cranelift/codegen/src/write.rs
  cranelift/filetests/filetests/alias/extends.clif
  cranelift/filetests/filetests/alias/fence.clif
  cranelift/filetests/filetests/alias/multiple-blocks.clif
  cranelift/filetests/filetests/alias/partial-redundancy.clif
  cranelift/filetests/filetests/alias/simple-alias.clif
  cranelift/filetests/filetests/isa/aarch64/heap_addr.clif
  cranelift/filetests/filetests/isa/riscv64/heap-addr.clif
  cranelift/filetests/filetests/isa/s390x/heap_addr.clif
  cranelift/filetests/filetests/isa/x64/heap-no-spectre.clif
  cranelift/filetests/filetests/isa/x64/heap.clif
  cranelift/filetests/filetests/licm/load_readonly_notrap.clif
  cranelift/filetests/filetests/licm/reject_load_notrap.clif
  cranelift/filetests/filetests/licm/reject_load_readonly.clif
  cranelift/filetests/filetests/parser/memory.clif
  cranelift/filetests/filetests/runtests/conversions-load-store.clif
  cranelift/filetests/filetests/runtests/global_value.clif
  cranelift/filetests/filetests/runtests/heap.clif
  cranelift/filetests/filetests/runtests/load-op-store.clif
  cranelift/filetests/filetests/runtests/table_addr.clif
  cranelift/filetests/filetests/simple_gvn/readonly.clif
  cranelift/filetests/filetests/simple_preopt/replace_branching_instructions_and_cfg_predecessors.clif
  cranelift/filetests/filetests/verifier/heap.clif
  cranelift/filetests/filetests/wasm/f32-memory64.clif
  cranelift/filetests/filetests/wasm/f64-memory64.clif
  cranelift/filetests/filetests/wasm/i32-memory64.clif
  cranelift/filetests/filetests/wasm/i64-memory64.clif
  cranelift/filetests/src/test_compile.rs
  cranelift/filetests/src/test_licm.rs
  cranelift/interpreter/src/interpreter.rs
  cranelift/interpreter/src/step.rs
  cranelift/reader/src/parser.rs
  cranelift/src/clif-util.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:meta

#5221 cranelift-isle: Save variable names for later use
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#5233 cranelift-isle: if-let patterns aren't root terms
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#5241 cranelift-isle: Helpers to get type/term by name
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#5218 Release Wasmtime 2.0.2
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/egraph/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/runtime/src/cow.rs
  crates/runtime/src/instance/allocator/pooling.rs
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#5244 Avoid unconditional `getrandom` syscall creating a `WasiCtx`
  crates/wasi-common/cap-std-sync/src/lib.rs
Labels: wasi

#5230 Fix `OutOfFuel` trap code not represented in the C API.
  crates/c-api/include/wasmtime/trap.h
  crates/c-api/src/trap.rs
  examples/fuel.c
  examples/fuel.rs
Labels: wasmtime:c-api

#5229 wiggle: adapt Wiggle guest slices for `unsafe` shared use
  crates/wasi-common/src/snapshots/preview_0.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-crypto/src/wiggle_interfaces/asymmetric_common.rs
  crates/wasi-crypto/src/wiggle_interfaces/common.rs
  crates/wasi-crypto/src/wiggle_interfaces/key_exchange.rs
  crates/wasi-crypto/src/wiggle_interfaces/signatures.rs
  crates/wasi-crypto/src/wiggle_interfaces/symmetric.rs
  crates/wasi-nn/src/impl.rs
  crates/wasi-nn/src/openvino.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/tests/wasi.rs
Labels: wasi

#5242 cranelift-isle: Misc sema cleanups
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#5195 cranelift-isle: New IR and revised overlap checks
  cranelift/isle/isle/src/error.rs
  cranelift/isle/isle/src/lib.rs
  cranelift/isle/isle/src/overlap.rs
  cranelift/isle/isle/src/trie_again.rs
Labels: cranelift, isle

#5259 Fix typo in `caller_conv` arg name in `ABIMachineSpec::gen_call`
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst

#5176 cranelift: Fix `iadd_carry`/`iadd_cout` in the interpreter
  cranelift/filetests/filetests/runtests/iaddcarry.clif
  cranelift/filetests/filetests/runtests/iaddcout.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#5262 c-api: Fix `wasmtime_func_call_unchecked` to communicate all errors
  crates/c-api/include/wasmtime/func.h
  crates/c-api/src/func.rs
Labels: wasmtime:c-api

#5265 wiggle: fix typo
  crates/wiggle/src/lib.rs
Labels: wasi

#5264 wiggle: adapt Wiggle strings for shared use
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-crypto/src/wiggle_interfaces/asymmetric_common.rs
  crates/wasi-crypto/src/wiggle_interfaces/common.rs
  crates/wasi-crypto/src/wiggle_interfaces/signatures.rs
  crates/wasi-crypto/src/wiggle_interfaces/symmetric.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/tests/strings.rs
Labels: wasi

#5256 Update `wasmi` to `0.20.0` in `wasmtime-fuzzing`
  Cargo.lock
  crates/fuzzing/Cargo.toml
  supply-chain/audits.toml
Labels: fuzzing

#5251 Use regalloc constraints for sse blend operations
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/simd-bitselect.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
Labels: cranelift, cranelift:area:x64, isle

#5190 Cranelift: de-duplicate bounds checks in legalizations
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/legalizer/globalvalue.rs
  cranelift/codegen/src/legalizer/heap.rs
  cranelift/codegen/src/legalizer/mod.rs
  cranelift/filetests/filetests/isa/aarch64/heap_addr.clif
  cranelift/filetests/filetests/isa/riscv64/heap-addr.clif
  cranelift/filetests/filetests/isa/s390x/heap_addr.clif
  cranelift/filetests/filetests/isa/x64/heap.clif
  cranelift/filetests/filetests/legalizer/bounds-checks.clif
Labels: cranelift, cranelift:wasm

#5268 wiggle: Refactor with fewer raw pointers
  crates/wiggle/generate/src/types/flags.rs
  crates/wiggle/generate/src/types/handle.rs
  crates/wiggle/generate/src/types/record.rs
  crates/wiggle/generate/src/wasmtime.rs
  crates/wiggle/src/guest_type.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/src/wasmtime.rs
  crates/wiggle/test-helpers/src/lib.rs
Labels: wasi

#5252 Cranelift(Aarch64): Optimize lowering of `icmp`s with immediates
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/heap_addr.clif
  cranelift/filetests/filetests/isa/aarch64/icmp-const.clif
Labels: cranelift, cranelift:area:aarch64

#5054 wiggle: allow wiggle to use shared memory
  crates/wiggle/generate/src/wasmtime.rs
Labels: wasi

#5253 Add fixed_nonallocatable constraints when appropriate
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/reg.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#5158 cranelift: Fix `fdemote` on the interpreter
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/filetests/filetests/runtests/conversions-load-store.clif
  cranelift/filetests/filetests/runtests/fdemote.clif
  cranelift/filetests/filetests/runtests/fpromote.clif
  cranelift/filetests/filetests/runtests/simd-fvdemote.clif
  cranelift/filetests/filetests/runtests/simd-fvpromote_low.clif
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift, cranelift:meta

#5275 Remove explicit `S` type parameters
  benches/call.rs
  benches/thread_eager_init.rs
  benches/trap.rs
  crates/fuzzing/src/oracles/stacks.rs
  crates/test-programs/tests/wasm_tests/runtime/cap_std_sync.rs
  crates/test-programs/tests/wasm_tests/runtime/tokio.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/trap.rs
  docs/lang-rust.md
  docs/wasm-wat.md
  examples/epochs.rs
  examples/externref.rs
  examples/fib-debug/main.rs
  examples/fuel.rs
  examples/gcd.rs
  examples/hello.rs
  examples/interrupt.rs
  examples/linking.rs
  examples/memory.rs
  examples/multi.rs
  examples/multimemory.rs
  examples/serialize.rs
  examples/threads.rs
  examples/tokio/main.rs
  examples/wasi/main.rs
  src/commands/compile.rs
  tests/all/async_functions.rs
  tests/all/call_hook.rs
  tests/all/custom_signal_handler.rs
  tests/all/externals.rs
  tests/all/fuel.rs
  tests/all/func.rs
  tests/all/gc.rs
  tests/all/host_funcs.rs
  tests/all/iloop.rs
  tests/all/import_indexes.rs
  tests/all/instance.rs
  tests/all/limits.rs
  tests/all/linker.rs
  tests/all/memory.rs
  tests/all/module.rs
  tests/all/module_serialize.rs
  tests/all/pooling_allocator.rs
  tests/all/relocs.rs
  tests/all/stack_overflow.rs
  tests/all/threads.rs
  tests/all/traps.rs
Labels: wasmtime:api, fuzzing, wasmtime:docs

#5276 wiggle: new error configuration for generating a "trappable error"
  crates/wiggle/generate/src/codegen_settings.rs
  crates/wiggle/generate/src/config.rs
  crates/wiggle/generate/src/funcs.rs
  crates/wiggle/generate/src/lib.rs
  crates/wiggle/generate/src/module_trait.rs
  crates/wiggle/generate/src/names.rs
  crates/wiggle/generate/src/types/error.rs
  crates/wiggle/generate/src/types/flags.rs
  crates/wiggle/generate/src/types/handle.rs
  crates/wiggle/generate/src/types/mod.rs
  crates/wiggle/generate/src/types/record.rs
  crates/wiggle/generate/src/types/variant.rs
  crates/wiggle/generate/src/wasmtime.rs
  crates/wiggle/macro/src/lib.rs
  crates/wiggle/tests/errors.rs
Labels: wasi

#5277 Remove unnecessary moves in x64 gen_memcpy
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/filetests/filetests/isa/x64/struct-arg.clif
Labels: cranelift, cranelift:area:x64

#5282 Add release notes for historical patch releases
  RELEASES.md
Labels: wasmtime:docs

#5278 Don't use %rcx directly with CoffTlsGetAddr
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
Labels: cranelift, cranelift:area:x64

#5284 Docs: Expand cross compiling section into its own page
  docs/SUMMARY.md
  docs/contributing-building.md
  docs/contributing-cross-compiling.md
Labels: wasmtime:docs

#5261 Shrink the size of SigData in Cranelift
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst

#5279 Use wiggle "trappable error" to implement wasi-common
  crates/wasi-common/cap-std-sync/src/dir.rs
  crates/wasi-common/cap-std-sync/src/sched/unix.rs
  crates/wasi-common/cap-std-sync/src/sched/windows.rs
  crates/wasi-common/cap-std-sync/src/stdio.rs
  crates/wasi-common/src/error.rs
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/snapshots/preview_0.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-common/src/snapshots/preview_1/error.rs
  crates/wasi-common/src/table.rs
  crates/wasi-common/tokio/src/sched/unix.rs
  crates/wasi/src/lib.rs
Labels: wasi

#5292 Fix warnings in `cranelift-codegen` docs builds
  cranelift/codegen/src/bitset.rs
  cranelift/codegen/src/ir/extfunc.rs
  cranelift/codegen/src/ir/globalvalue.rs
Labels: cranelift

#5294 cranelift-isle: Unify expressions and bindings
  cranelift/isle/isle/src/trie_again.rs
Labels: cranelift, isle

#5036 cranelift: Support `bnot`, `band`, `bor`, `bxor` for x86_64.
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/runtests/float-bitops.clif
Labels: cranelift, cranelift:area:x64

#5295 cranelift-isle: Specialize for Term at rule root
  cranelift/isle/isle/src/ast.rs
  cranelift/isle/isle/src/sema.rs
  cranelift/isle/isle/src/trie.rs
  cranelift/isle/isle/src/trie_again.rs
Labels: cranelift, isle

#5297 Test for `Trap::OutOfFuel` instead of strings
  crates/fuzzing/src/oracles.rs
  tests/all/fuel.rs
Labels: fuzzing

#5299 Deduplicate listings of traps in Wasmtime
  crates/cranelift/src/compiler.rs
  crates/environ/src/trap_encoding.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/table.rs
  crates/runtime/src/traphandlers.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module/registry.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trap.rs
Labels: wasmtime:api

#5301 cranelift: Fix implicit pointer argument register use
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/filetests/filetests/isa/s390x/arithmetic.clif
  cranelift/filetests/filetests/isa/s390x/conversions.clif
  cranelift/filetests/filetests/isa/s390x/icmp-i128.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#5305 Release Wasmtime 3.0.0
  RELEASES.md
Labels: wasmtime:docs

#5303 Move the endianness notes introduced with #4035 to `wasmtime_val_raw`
  crates/c-api/include/wasmtime/val.h
Labels: wasmtime:c-api

#5255 feat: implement memory.atomic.notify,wait32,wait64
  Cargo.lock
  Cargo.toml
  build.rs
  crates/environ/src/trap_encoding.rs
  crates/fuzzing/src/oracles.rs
  crates/runtime/Cargo.toml
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/memory.rs
  crates/runtime/src/parking_spot.rs
  crates/runtime/src/vmcontext.rs
  crates/wast/src/spectest.rs
  crates/wast/src/wast.rs
  src/commands/wast.rs
  tests/all/main.rs
  tests/all/wait_notify.rs
  tests/all/wast.rs
  tests/misc_testsuite/threads/atomics_notify.wast
  tests/misc_testsuite/threads/atomics_wait_address.wast
  tests/misc_testsuite/threads/load-store-alignment.wast
Labels: wasmtime:api, fuzzing

#5310 Update the wasm-tools family of crates
  Cargo.lock
  Cargo.toml
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/types.rs
  crates/wasmtime/src/component/matching.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  tests/all/component_model.rs
  tests/all/component_model/aot.rs
  tests/all/component_model/dynamic.rs
  tests/all/component_model/func.rs
  tests/all/component_model/import.rs
  tests/all/component_model/strings.rs
  tests/misc_testsuite/component-model/fused.wast
  tests/misc_testsuite/component-model/instance.wast
  tests/misc_testsuite/component-model/nested.wast
  tests/misc_testsuite/component-model/simple.wast
  tests/misc_testsuite/component-model/strings.wast
  tests/misc_testsuite/component-model/types.wast
Labels: wasmtime:api

#5300 Cranelift: Add `heap_load` and `heap_store` instructions
  cranelift/codegen/meta/src/shared/formats.rs
  cranelift/codegen/meta/src/shared/immediates.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/ir/entities.rs
  cranelift/codegen/src/ir/immediates.rs
  cranelift/codegen/src/ir/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/opts.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/codegen/src/write.rs
  cranelift/filetests/filetests/runtests/heap_load_store_dynamic_i32_yes_guards_no_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_dynamic_i32_yes_guards_yes_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_dynamic_i64_yes_guards_no_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_dynamic_i64_yes_guards_yes_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_static_i32_yes_guards_no_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_static_i32_yes_guards_yes_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_static_i64_yes_guards_no_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_static_i64_yes_guards_yes_spectre.clif
  cranelift/filetests/filetests/runtests/make-heap-load-store-tests.sh
  cranelift/interpreter/src/step.rs
  cranelift/reader/src/parser.rs
Labels: cranelift, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#5304 Update release date of Wasmtime 3.0.0
  RELEASES.md
Labels: wasmtime:docs

#5311 Refactor shared memory internals, expose embedder methods
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/memory.rs
  crates/runtime/src/parking_spot.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/memory.rs
  tests/all/memory.rs
  tests/all/threads.rs
Labels: wasmtime:api

#5307 Refactor Sigdata methods with sigset
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#5318 cranelift-isle: Rewrite error reporting
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/build.rs
  cranelift/isle/isle/Cargo.toml
  cranelift/isle/isle/src/compile.rs
  cranelift/isle/isle/src/error.rs
  cranelift/isle/isle/src/error_miette.rs
  cranelift/isle/isle/src/lexer.rs
  cranelift/isle/isle/src/lib.rs
  cranelift/isle/isle/src/overlap.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/sema.rs
  cranelift/isle/isle/src/trie_again.rs
  cranelift/isle/isle/tests/run_tests.rs
  cranelift/isle/islec/Cargo.toml
  cranelift/isle/islec/src/main.rs
  supply-chain/audits.toml
  supply-chain/config.toml
Labels: cranelift, isle

#5316 Fix issues in `FunctionBuilder` API
  cranelift/frontend/src/frontend.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
Labels: cranelift, cranelift:module, cranelift:wasm

#5324 Correcting python GCD example
  docs/lang-python.md
Labels: wasmtime:docs

#5321 Clear affine slots when dropping a `Module`
  crates/runtime/src/cow.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/index_allocator.rs
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#5132 Generate more fixed_nonallocatable constraints, and add debug assertions
  cranelift/codegen/src/machinst/reg.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#5332 Cranelift: add debug logs counting how many vcode instructions and blocks we lower to
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst

#5333 Cranelift: log number of CLIF insts/blocks to optimize/lower
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/machinst/compile.rs
Labels: cranelift, cranelift:area:machinst

#5330 Update to cap-std 1.0, io-lifetimes 1.0.
  Cargo.lock
  Cargo.toml
  crates/runtime/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
Labels: wasi

#5334 Fix rule shadowing instances in x64 and aarch64 backends
  cranelift/codegen/src/isa/aarch64/lower_dynamic_neon.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/simd-widen-mul.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#5336 Don't allow reuse_def constraints in the s390x Loop instruction
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/machinst/reg.rs
Labels: cranelift, cranelift:area:machinst

#5338 cranelift-isle: Minor error-handling cleanups
  cranelift/codegen/Cargo.toml
  cranelift/docs/isle-integration.md
  cranelift/isle/isle/src/error.rs
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle, cranelift:docs

#5343 Fuel documentation fixes
  crates/wasmtime/src/store.rs
Labels: wasmtime:api

#5337 cranelift-isle: Fix representation for overlap checks
  cranelift/isle/isle/src/trie_again.rs
Labels: cranelift, isle

#5345 Bump regalloc2 to 0.5.0
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/reg.rs
  supply-chain/audits.toml
  winch/codegen/Cargo.toml
Labels: cranelift, cranelift:area:machinst

#5335 Cranelift: consider heap's guard pages when legalizing `heap_addr`
  cranelift/codegen/src/legalizer/heap.rs
  cranelift/filetests/filetests/legalizer/static-heap-with-guard-pages.clif
  cranelift/filetests/filetests/legalizer/static-heap-without-guard-pages.clif
Labels: cranelift

#5298 c-api: add wasm_config_parallel_compilation_set
  crates/c-api/include/wasmtime/config.h
  crates/c-api/src/config.rs
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, wasmtime:c-api, wasmtime:config

#5350 wasmtime: enable stack probing for x86_64 targets.
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  tests/all/stack_overflow.rs
Labels: wasmtime:api, wasmtime:config

#5353 Implement inline stack probes for AArch64
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/encoding/rex.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/settings.rs
  cranelift/filetests/filetests/isa/aarch64/inline-probestack.clif
  cranelift/filetests/filetests/isa/aarch64/stack-limit.clif
  cranelift/filetests/filetests/isa/riscv64/stack-limit.clif
  cranelift/filetests/filetests/isa/riscv64/stack.clif
  cranelift/filetests/filetests/runtests/inline-probestack.clif
  cranelift/fuzzgen/src/lib.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  tests/host_segfault.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64, wasmtime:config

#5351 Cranelift: implement `heap_{load,store}` instruction legalization
  cranelift/codegen/src/legalizer/heap.rs
  cranelift/codegen/src/legalizer/mod.rs
  cranelift/filetests/filetests/isa/aarch64/heap_addr.clif
  cranelift/filetests/filetests/isa/riscv64/heap-addr.clif
  cranelift/filetests/filetests/isa/s390x/heap_addr.clif
  cranelift/filetests/filetests/isa/x64/heap-no-spectre.clif
  cranelift/filetests/filetests/isa/x64/heap.clif
  cranelift/filetests/filetests/legalizer/bounds-checks.clif
  cranelift/filetests/filetests/legalizer/static-heap-with-guard-pages.clif
  cranelift/filetests/filetests/legalizer/static-heap-without-guard-pages.clif
  cranelift/filetests/filetests/runtests/heap_load_store_dynamic_i32_no_guards_no_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_dynamic_i32_no_guards_yes_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_dynamic_i32_yes_guards_no_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_dynamic_i32_yes_guards_yes_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_dynamic_i64_no_guards_no_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_dynamic_i64_no_guards_yes_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_dynamic_i64_yes_guards_no_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_dynamic_i64_yes_guards_yes_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_static_i32_no_guards_no_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_static_i32_no_guards_yes_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_static_i32_yes_guards_no_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_static_i32_yes_guards_yes_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_static_i64_no_guards_no_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_static_i64_no_guards_yes_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_static_i64_yes_guards_no_spectre.clif
  cranelift/filetests/filetests/runtests/heap_load_store_static_i64_yes_guards_yes_spectre.clif
  cranelift/filetests/filetests/runtests/make-heap-load-store-tests.sh
Labels: cranelift

#5355 Don't reuse registers in make_i64x2_from_lanes
  cranelift/codegen/src/isa/x64/inst.isle
Labels: cranelift, cranelift:area:x64

#5356 Don't reuse registers in the x64 div lowering
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
Labels: cranelift, cranelift:area:x64, isle

#5322 cranelift-isle: Reject unreachable rules
  cranelift/isle/isle/src/error.rs
  cranelift/isle/isle/src/lib.rs
  cranelift/isle/isle/src/overlap.rs
  cranelift/isle/isle/src/trie_again.rs
Labels: cranelift, isle, cranelift:docs
