Repository bytecodealliance/wasmtime, pull requests merged in 2022-06, with the labels that each got.

#4192 Change wasm-to-host trampolines to take the values_vec size
  benches/call.rs
  crates/c-api/include/wasmtime/func.h
  crates/c-api/src/func.rs
  crates/cranelift/src/compiler.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/trampoline/func.rs
  tests/all/call_hook.rs
Labels: wasmtime:api, wasmtime:c-api

#4190 Change some `VMContext` pointers to `()` pointers
  crates/environ/src/vmoffsets.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/trampoline/func.rs
  tests/all/pooling_allocator.rs
Labels: wasmtime:api

#4204 Add a first-class `StoreId` type to Wasmtime
  crates/wasmtime/src/store/data.rs
Labels: wasmtime:api

#4198 Redesign interface type value representation
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/component/mod.rs
  tests/all/component_model/func.rs
Labels: wasmtime:api

#4205 Add dataflow processing to component translation for imports
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/types.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/instance.rs
Labels: wasmtime:api

#4209 Fix double-counting imports in `VMOffsets` calculations
  crates/environ/src/vmoffsets.rs
  crates/runtime/src/externref.rs
  tests/all/pooling_allocator.rs
Labels: wasmtime:ref-types

#4211 Fix failing cranelift-object tests in Rust 1.60 and older: make panic message match more generic.
  cranelift/object/tests/basic.rs
Labels: cranelift, cranelift:module

#4208 Implement module imports into components
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/types.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/component/linker.rs
  crates/wasmtime/src/component/matching.rs
  crates/wasmtime/src/component/mod.rs
  crates/wasmtime/src/types/matching.rs
  crates/wast/src/wast.rs
  tests/all/component_model/func.rs
  tests/misc_testsuite/component-model/linking.wast
  tests/misc_testsuite/component-model/modules.wast
Labels: wasmtime:api

#4206 Add trampoline compilation support for lowered imports
  crates/cranelift/Cargo.toml
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/obj.rs
  crates/environ/src/compilation.rs
  crates/environ/src/component.rs
  crates/environ/src/component/compiler.rs
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/environ/src/vmoffsets.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/engine.rs
  tests/all/component_model.rs
  tests/all/component_model/import.rs
Labels: wasmtime:api

#4216 Refactor lifting/lowering to not require a `Func`
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/options.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/store/data.rs
Labels: wasmtime:api

#4215 Add a `VMComponentContext` type and create it on instantiation
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/runtime/Cargo.toml
  crates/runtime/src/component.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/instance.rs
Labels: wasmtime:api

#4220 Update Cranelift README.
  cranelift/README.md
Labels: cranelift

#4222 Upgrade to regalloc2 v0.2.2.
  Cargo.lock
  cranelift/codegen/Cargo.toml
Labels: cranelift

#4218 Rewrite a TODO as a note
  crates/wasmtime/src/component/func/typed.rs
Labels: wasmtime:api

#4201 [AArch64] Port IaddPairwise to ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/simd-pairwise-add.clif
  cranelift/filetests/filetests/runtests/simd-iaddpairwise.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64

#4227 Update release notes for 0.38.0
  RELEASES.md
Labels: wasmtime:docs

#4229 Update Cranelift-ISLE integration docs to reflect no more checked-in code.
  cranelift/docs/isle-integration.md
Labels: cranelift, cranelift:docs

#4223 x64: port `atomic_cas` to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
Labels: cranelift, cranelift:area:x64, isle

#4230 X64: Port fpromote to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#4236 Split the `ComponentValue` trait into... components
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/component/mod.rs
  tests/all/component_model/func.rs
Labels: wasmtime:api

#4237 Update lifting for integers and bools
  crates/wasmtime/src/component/func/typed.rs
  tests/all/component_model/func.rs
Labels: wasmtime:api

#4233 Update and clean up AssemblyScript example
  docs/assemblyscript-hello-world/.gitignore
  docs/assemblyscript-hello-world/asconfig.json
  docs/assemblyscript-hello-world/package-lock.json
  docs/assemblyscript-hello-world/package.json
  docs/assemblyscript-hello-world/wasi-hello-world.ts
  docs/assemblyscript-hello-world/wasi-hello-world.wasm
Labels: wasmtime:docs

#4238 Validate alignment in the canonical ABI
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/func/options.rs
  crates/wasmtime/src/component/func/typed.rs
  tests/all/component_model.rs
  tests/all/component_model/func.rs
  tests/all/component_model/import.rs
Labels: wasmtime:api

#4239 x64 backend: fix `to_amode` with constant address (no registers).
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/filetests/filetests/isa/x64/atomic_cas_const_addr.clif
Labels: cranelift, cranelift:area:x64

#4241 Accept `(tuple)` and `unit` as `()` in Rust
  crates/wasmtime/src/component/func/typed.rs
  tests/all/component_model/func.rs
Labels: wasmtime:api

#4242 X64: port fvpromote to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#4187 Add shared memories
  crates/c-api/src/extern.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/vmoffsets.rs
  crates/runtime/src/export.rs
  crates/runtime/src/externref.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/memory.rs
  crates/runtime/src/vmcontext.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/component/func/options.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/limits.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/trampoline/memory.rs
  crates/wasmtime/src/types.rs
  crates/wasmtime/src/types/matching.rs
  tests/all/main.rs
  tests/all/pooling_allocator.rs
  tests/all/threads.rs
Labels: wasmtime:api, wasmtime:c-api, cranelift, cranelift:module, wasmtime:ref-types

#4231 cranelift-native flags detection: fix flags on SSE2-only systems.
  cranelift/native/src/lib.rs
Labels: cranelift

#4247 Backport #4239 (to_amode fix) to release-0.38 branch.
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/filetests/filetests/isa/x64/atomic_cas_const_addr.clif
Labels: cranelift, cranelift:area:x64

#4248 Fix some typos in the isle language reference
  cranelift/isle/docs/language-reference.md
Labels: cranelift, isle

#4259 fuzz: improve fuzz README
  fuzz/README.md
Labels: fuzzing

#4252 fix(wasmtime):`Config` methods should be idempotent
  RELEASES.md
  crates/c-api/include/wasmtime/config.h
  crates/c-api/src/config.rs
  crates/cli-flags/src/lib.rs
  crates/cranelift/src/builder.rs
  crates/environ/src/compilation.rs
  crates/fuzzing/src/generators.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/trampoline/func.rs
  fuzz/fuzz_targets/compile.rs
  tests/all/relocs.rs
Labels: wasmtime:api, wasmtime:c-api, fuzzing, wasmtime:docs, wasmtime:config

#4254 X64: port the rest of icmp to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/i128.clif
Labels: cranelift, cranelift:area:x64, isle

#4262 Decouple some more `Config` methods from each other
  RELEASES.md
  crates/c-api/src/config.rs
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, wasmtime:c-api, wasmtime:docs, wasmtime:config

#4266 fuzz: allow generating shared memories
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators.rs
  fuzz/README.md
  fuzz/fuzz_targets/differential_v8.rs
Labels: fuzzing

#4108 fix(WasiFile): sock_* methods from snapshot1 to trait
  crates/wasi-common/src/file.rs
  crates/wasi-common/src/snapshots/preview_1.rs
Labels: wasi

#4270 Enable parallel compilation in the C API by default
  crates/c-api/Cargo.toml
Labels: wasmtime:c-api

#4282 Cranelift filetests: Use `similar` to diff expected and actual output
  Cargo.lock
  cranelift/filetests/Cargo.toml
  cranelift/filetests/src/test_compile.rs
Labels: cranelift

#4287 Update release date of Wasmtime 0.38.0
  RELEASES.md
Labels: wasmtime:docs

#4288 Release Wasmtime 0.38.0
  RELEASES.md
Labels: wasmtime:docs

#4285 Add support for nested components
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/types.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/component/linker.rs
  crates/wast/src/spectest.rs
  crates/wast/src/wast.rs
  tests/all/component_model.rs
  tests/all/component_model/nested.rs
  tests/misc_testsuite/component-model/instance.wast
  tests/misc_testsuite/component-model/nested.wast
  tests/misc_testsuite/component-model/simple.wast
Labels: wasmtime:api

#4295 Document a caveat regarding `max_wasm_stack`
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, wasmtime:config

#4296 Fix a "trampoline missing" panic with components
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module/registry.rs
  crates/wasmtime/src/signatures.rs
  tests/all/component_model/func.rs
  tests/all/component_model/import.rs
Labels: wasmtime:api

#4297 Implement the post-return attribute
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/runtime/src/component.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/instance.rs
  tests/all/component_model.rs
  tests/all/component_model/func.rs
  tests/all/component_model/post_return.rs
Labels: wasmtime:api

#4304 cranelift: Remove duplicated clz/ctz tests
  cranelift/filetests/filetests/runtests/clz-interpret.clif
  cranelift/filetests/filetests/runtests/ctz-interpret.clif
Labels: cranelift

#4299 cranelift: Fix `bint` implementation on interpreter
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/filetests/filetests/runtests/bint.clif
  cranelift/filetests/filetests/runtests/i128-bint.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift, cranelift:meta

#4316 Adds VTune profiling strategy to the C-API
  crates/c-api/src/config.rs
Labels: wasmtime:c-api

#4326 Refactor the internals of traps in `wasmtime_runtime`
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/table.rs
  crates/runtime/src/traphandlers.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/trap.rs
Labels: wasmtime:api

#4320 cranelift: Implement scalar `ireduce` on interpreter
  cranelift/filetests/filetests/runtests/i128-ireduce.clif
  cranelift/filetests/filetests/runtests/ireduce.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#4317 x64: Fix codegen for the `select` instruction with v128
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  tests/misc_testsuite/simd/v128-select.wast
Labels: cranelift, cranelift:area:x64

#4318 x64: Fix codegen for the `i8x16.swizzle` instruction
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#4323 cranelift: Support boolean arguments larger than `b1` in trampoline
  cranelift/filetests/filetests/runtests/bextend.clif
  cranelift/filetests/filetests/runtests/breduce.clif
  cranelift/filetests/src/function_runner.rs
Labels: cranelift

#4321 Fix guard size configuration when fuzzing
  crates/fuzzing/src/generators.rs
Labels: fuzzing

#4332 Cranelift/x64: fix register allocator metadata for 8-bit divides.
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
Labels: cranelift, cranelift:area:x64

#4334 Backport simd fixes to 0.38.0
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  tests/misc_testsuite/simd/v128-select.wast
Labels: cranelift, cranelift:area:x64

#4325 Use a `StoreOpaque` during backtraces for metadata
  benches/thread_eager_init.rs
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/traphandlers/macos.rs
  crates/runtime/src/traphandlers/unix.rs
  crates/runtime/src/traphandlers/windows.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/registry.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trap.rs
Labels: wasmtime:api

#4339 Release Wasmtime 0.38.1
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cli-flags/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#4319 aarch64: Implement `bint` in ISLE
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#4324 Cranelift: update to latest regalloc2 for better clobber and splitting handling.
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/regs.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/regs.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/reg.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#4340 Improve error message for failed function compiles
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#4346 Migrate from `winapi` to `windows-sys`
  Cargo.lock
  Cargo.toml
  crates/cache/Cargo.toml
  crates/cache/src/worker.rs
  crates/fiber/Cargo.toml
  crates/fiber/src/windows.rs
  crates/jit/Cargo.toml
  crates/jit/src/unwind/winx64.rs
  crates/runtime/Cargo.toml
  crates/runtime/src/instance/allocator/pooling/windows.rs
  crates/runtime/src/mmap.rs
  crates/runtime/src/traphandlers/windows.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/windows.rs
  tests/all/memory.rs
Labels: wasmtime:api

#4327 Implement lowered-then-lifted functions
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/compilation.rs
  crates/environ/src/component/compiler.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/types.rs
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/runtime/src/component.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/module.rs
  tests/all/component_model/func.rs
  tests/misc_testsuite/component-model/adapter.wast
Labels: wasmtime:api

#4349 Cranelift: add a config option for alias analysis and redundant-load elimination.
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/settings.rs
  crates/wasmtime/src/engine.rs
Labels: wasmtime:api, cranelift, cranelift:meta

#4347 Implement `canon lower` of a `canon lift` function in the same component
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/obj.rs
  crates/environ/src/component/compiler.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/types.rs
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/environ/src/trap_encoding.rs
  crates/runtime/src/component.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/registry.rs
  crates/wasmtime/src/trap.rs
  tests/misc_testsuite/component-model/adapter.wast
Labels: wasmtime:api

#4352 Fix a mistake in the language reference
  cranelift/isle/docs/language-reference.md
Labels: cranelift, isle

#3785 [RFC] ISLE: Migrate call and return instructions
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/s390x/reftypes.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#4353 Change `ComponentType::{size, align}` to constants
  crates/component-macro/src/lib.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/mod.rs
Labels: wasmtime:api

#4351 Wasmtime: disable unwind_info unless needed
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
Labels: wasmtime:api, wasmtime:config

#4357 Mark return value as define instead of clobber for TLS pseudoinstructions
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/filetests/filetests/isa/aarch64/tls-elf-gd.clif
  cranelift/filetests/filetests/isa/x64/tls_elf.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#4355 s390x: clean up lower.rs
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
Labels: cranelift

#4359 support variant, enum, and union derives
  crates/component-macro/src/lib.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/mod.rs
  tests/all/component_model/macros.rs
Labels: wasmtime:api
