Repository bytecodealliance/wasmtime, pull requests merged in 2022-04, with the labels that each got.

#3955 Add a two-week delay to Wasmtime's release process
  .github/workflows/bump-version.yml
  .github/workflows/release-process.yml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  ci/RELEASES-template.md
  ci/print-current-version.sh
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  docs/contributing-release-process.md
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#3991 Upgrade all crates to the Rust 2021 edition
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/fuzz/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/isle/islec/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/bench-api/Cargo.toml
  crates/c-api/Cargo.toml
  crates/c-api/macros/Cargo.toml
  crates/c-api/src/func.rs
  crates/cache/Cargo.toml
  crates/cache/src/worker.rs
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/fuzzing/wasm-spec-interpreter/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/misc/run-examples/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/test-programs/wasi-tests/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi-nn/examples/classification-example/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  crates/wiggle/test-helpers/Cargo.toml
  docs/rust_wasi_markdown_parser/Cargo.toml
  examples/fib-debug/wasm/Cargo.toml
  examples/tokio/wasm/Cargo.toml
  examples/wasi/wasm/Cargo.toml
  fuzz/Cargo.toml
  tests/all/custom_signal_handler.rs
Labels: wasmtime:c-api, cranelift, cranelift:meta, fuzzing, cranelift:module, cranelift:wasm, isle

#3994 Bump Wasmtime to 0.37.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#3988 Fixup release documentation
  .github/workflows/release-process.yml
  docs/contributing-release-process.md
Labels: wasmtime:docs

#3996 Update release notes for 0.36.0
  RELEASES.md
Labels: wasmtime:docs

#3997 Update wasm-tools crates
  Cargo.lock
  Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/func_translator.rs
  cranelift/wasm/src/module_translator.rs
  cranelift/wasm/src/sections_translator.rs
  cranelift/wasm/src/state/func_state.rs
  cranelift/wasm/src/translation_utils.rs
  crates/c-api/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/cranelift/src/lib.rs
  crates/environ/Cargo.toml
  crates/environ/src/module_environ.rs
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators/table_ops.rs
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/types/src/lib.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/types.rs
  crates/wast/Cargo.toml
Labels: wasmtime:api, wasmtime:c-api, cranelift, fuzzing, cranelift:wasm

#3998 [BACKPORT] Update release notes for 0.36.
  RELEASES.md
Labels: wasmtime:docs

#3993 x64: port `load` to ISLE
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#4001 Cranelift: fix broken `selinux-fix` refactor
  cranelift/jit/src/memory.rs
Labels: cranelift

#4007 fuzz: improve wasm-spec-interpreter documentation, add library path
  crates/fuzzing/wasm-spec-interpreter/README.md
  crates/fuzzing/wasm-spec-interpreter/ocaml/Makefile
  crates/fuzzing/wasm-spec-interpreter/ocaml/README.md
Labels: fuzzing

#4011 Touch up release notes slightly
  RELEASES.md
Labels: wasmtime:docs

#3964 Enable explicitly initializating copy-on-write images
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#4014 Release notes and version bumps for 0.35.3.
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#4013 Delete cranelift regalloc document
  cranelift/docs/regalloc.md
Labels: cranelift, cranelift:docs

#4015 Copy release notes for 0.35.3 from point-release branch to main.
  RELEASES.md
Labels: wasmtime:docs

#4016 fuzzing: Refactor `TableOps` fuzz generator to allow GC with refs on the stack
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators/table_ops.rs
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#4017 x64: fix miscompilation of `select.i128`
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/x64/select-i128.clif
  cranelift/filetests/filetests/runtests/i128-select.clif
Labels: cranelift, cranelift:area:x64, isle

#4019 Fix documentation for codegen::Context::compile
  cranelift/codegen/src/context.rs
Labels: cranelift

#4022 Update to rustix 0.33.6.
  Cargo.lock
  Cargo.toml
  crates/cache/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
Labels: wasi

#4035 Store the `ValRaw` type in little-endian format
  crates/c-api/include/wasmtime/val.h
  crates/cranelift/src/compiler.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/values.rs
  tests/all/call_hook.rs
Labels: wasmtime:api, wasmtime:c-api

#3950 [AArch64] Refactor ALUOp3
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/aarch64/arithmetic.clif
  cranelift/filetests/filetests/runtests/arithmetic.clif
Labels: cranelift, cranelift:area:aarch64

#4029 [AArch64] Merge 32- and 64-bit FPUOp2
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#4031 [AArch64] Merge 32- and 64-bit FPUOp1
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#4033 [AArch64] Refactor Mov instructions
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
Labels: cranelift, cranelift:area:aarch64

#4037 Add note about regalloc2 switch in release notes.
  RELEASES.md
Labels: wasmtime:docs

#4032 [AArch64] Merge Fcmp32 and Fcmp64
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#4038 Cranelift: remove slow invariant validation in cfg(fuzzing) from MachBuffer.
  cranelift/codegen/src/machinst/buffer.rs
Labels: cranelift, cranelift:area:machinst

#4042 Cranelift: fix regalloc2 integration bug wrt blockparam branch args.
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#4040 Remove support for userfaultfd
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  benches/instantiation.rs
  crates/runtime/Cargo.toml
  crates/runtime/build.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/runtime/src/memory.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/registry.rs
  src/lib.rs
  tests/all/instance.rs
  tests/all/memory.rs
  tests/all/pooling_allocator.rs
Labels: wasmtime:api, wasmtime:config

#4044 Cranelift: fix fuzzbug in critical-edge splitting.
  cranelift/codegen/src/machinst/blockorder.rs
Labels: cranelift, cranelift:area:machinst

#4043 Add support for running the regalloc2 checker.
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/settings.rs
  cranelift/codegen/src/timing.rs
  crates/wasmtime/src/engine.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#4047 Turn on the regalloc2 checker in the `compile` fuzz target.
  fuzz/fuzz_targets/compile.rs
Labels: fuzzing

#4048 fuzzing: Combine the `compile` and `compile-mutate` fuzz targets
  fuzz/Cargo.toml
  fuzz/fuzz_targets/compile-mutate.rs
  fuzz/fuzz_targets/compile.rs
Labels: fuzzing

#4050 docs: SIMD proposal is enabled by default.
  docs/stability-wasm-proposals-support.md
Labels: wasmtime:docs

#4049 c-api: add missing bcrypt.lib dependency in docs.
  crates/c-api/include/wasmtime.h
Labels: wasmtime:c-api

#4051 Reduce clones of `Arc<HostFunc>` during instantiation
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/store.rs
Labels: wasmtime:api

#4041 Reduce contention on the global module rwlock
  crates/jit/src/instantiate.rs
  crates/runtime/src/externref.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/registry.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/store.rs
  tests/all/name.rs
Labels: wasmtime:api, wasmtime:ref-types

#4052 Update to rustix 0.33.7.
  Cargo.lock
  Cargo.toml
  crates/cache/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
Labels: wasi

#4056 Add some release notes for 0.37.0
  RELEASES.md
Labels: wasmtime:docs

#4058 Release Wasmtime 0.36.0
  RELEASES.md
Labels: wasmtime:docs

#4065 X64: Port Sqrt to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
Labels: cranelift, cranelift:area:x64, isle

#4061 Cranelift: fix #3953: rework single/multiple-use logic in lowering.
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/filetests/filetests/isa/s390x/arithmetic.clif
  cranelift/filetests/filetests/isa/s390x/heap_addr.clif
  cranelift/filetests/filetests/isa/x64/load-op.clif
  cranelift/filetests/filetests/isa/x64/select-i128.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#4068 x64 backend: fix a load-op merging bug with integer min/max.
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/x64/umax-bug.clif
Labels: cranelift, cranelift:area:x64, isle

#4071 x64 backend: add lowerings with load-op-store fusion.
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/x64/load-op-store.clif
  cranelift/filetests/filetests/runtests/load-op-store.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#4021 [AArch64] Port atomic rmw to ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/atomic-rmw-lse.clif
  cranelift/filetests/filetests/isa/aarch64/atomic-rmw.clif
  cranelift/filetests/filetests/runtests/atomic-cas-little.clif
  cranelift/filetests/filetests/runtests/atomic-cas-subword-big.clif
  cranelift/filetests/filetests/runtests/atomic-cas-subword-little.clif
  cranelift/filetests/filetests/runtests/atomic-cas.clif
  cranelift/filetests/filetests/runtests/atomic-rmw-little.clif
  cranelift/filetests/filetests/runtests/atomic-rmw-subword-big.clif
  cranelift/filetests/filetests/runtests/atomic-rmw-subword-little.clif
  cranelift/filetests/filetests/runtests/atomic-rmw.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#4074 ISLE: add support for implicit `=x` variable matchers.
  cranelift/isle/isle/isle_examples/fail/bound_var_type_mismatch.isle
  cranelift/isle/isle/isle_examples/pass/bound_var.isle
  cranelift/isle/isle/src/ast.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#4034 Enable AArch64 processor feature detection unconditionally
  .github/workflows/main.yml
  cranelift/native/src/lib.rs
  crates/fuzzing/src/generators.rs
  crates/wasmtime/src/engine.rs
Labels: wasmtime:api, cranelift, fuzzing

#4081 Update some dependencies in `Cargo.lock`
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/wasmtime/Cargo.toml
Labels: wasmtime:api, cranelift, cranelift:module, cranelift:wasm

#4082 Update to clap 3.*
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/isle/islec/Cargo.toml
  cranelift/isle/islec/src/main.rs
  cranelift/serde/Cargo.toml
  cranelift/serde/src/clif-json.rs
  cranelift/src/bugpoint.rs
  cranelift/src/cat.rs
  cranelift/src/clif-util.rs
  cranelift/src/compile.rs
  cranelift/src/interpret.rs
  cranelift/src/print_cfg.rs
  cranelift/src/run.rs
  cranelift/src/souper_harvest.rs
  cranelift/src/wasm.rs
  crates/c-api/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/generate/src/lib.rs
  crates/wiggle/generate/src/names.rs
  crates/wiggle/test-helpers/Cargo.toml
  deny.toml
  src/bin/wasmtime.rs
  src/commands/compile.rs
  src/commands/config.rs
  src/commands/run.rs
  src/commands/settings.rs
  src/commands/wast.rs
  src/lib.rs
Labels: wasmtime:c-api, cranelift, fuzzing, wasi, isle

#4085 Remove old peepmatic source file
  cranelift/codegen/src/preopt.peepmatic
Labels: cranelift

#4079 ISLE: handle out-of-order extern converter decls.
  cranelift/isle/isle/isle_examples/pass/conversions_extern.isle
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#4072 ISLE: add support for extended left-hand sides with `if-let` clauses.
  cranelift/isle/docs/language-reference.md
  cranelift/isle/isle/isle_examples/fail/impure_expression.isle
  cranelift/isle/isle/isle_examples/fail/impure_rhs.isle
  cranelift/isle/isle/isle_examples/link/borrows.isle
  cranelift/isle/isle/isle_examples/link/borrows_main.rs
  cranelift/isle/isle/isle_examples/link/iflets.isle
  cranelift/isle/isle/isle_examples/link/iflets_main.rs
  cranelift/isle/isle/src/ast.rs
  cranelift/isle/isle/src/codegen.rs
  cranelift/isle/isle/src/ir.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#4086 runtime: refactor `Memory` to always use `Box<dyn RuntimeLinearMemory>`
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/memory.rs
  crates/wasmtime/src/trampoline/memory.rs
Labels: wasmtime:api

#4087 ISLE language reference: move subsection to proper section.
  cranelift/isle/docs/language-reference.md
Labels: cranelift, isle
