Repository bytecodealliance/wasmtime, pull requests merged in 2022-10, with the labels that each got.

#4995 Support writing riscv64 object files
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#5001 cranelift-frontend: Replace Vecs with ListPools
  cranelift/entity/src/list.rs
  cranelift/frontend/src/frontend.rs
  cranelift/frontend/src/ssa.rs
  cranelift/frontend/src/variable.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:wasm

#5002 Resolve overlap in the s390x backend
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
Labels: cranelift

#5003 fix issue 4996.
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/bitops.clif
  cranelift/filetests/filetests/isa/riscv64/extend-op.clif
  cranelift/filetests/filetests/runtests/riscv64_issue_4996.clif
Labels: cranelift

#5006 feat: improve wasi_common::ErrorKind derives
  crates/wasi-common/src/error.rs
Labels: wasi

#5010 Update the wasm-tools family of crates
  Cargo.lock
  Cargo.toml
  cranelift/wasm/src/code_translator.rs
  crates/environ/src/fact/trampoline.rs
  crates/fuzzing/src/generators/table_ops.rs
  supply-chain/audits.toml
Labels: cranelift, fuzzing, cranelift:wasm

#5012 ISLE: More consistent use of `add_inst` in ir.rs
  cranelift/isle/isle/src/ir.rs
Labels: cranelift, isle

#5013 Adjust fuel consumption to be empty when fuel is at 0 rather than 1
  crates/fuzzing/src/oracles.rs
  crates/wasmtime/src/store.rs
  tests/all/fuel.rs
Labels: wasmtime:api, fuzzing

#5015 Tidy up the WASI `ErrorKind` enum.
  crates/wasi-common/src/error.rs
  crates/wasi-common/src/snapshots/preview_1.rs
Labels: wasi

#5016 Bump Wasmtime to 3.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/egraph/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#5019 feat: provide default methods for WasiDir
  crates/wasi-common/src/dir.rs
Labels: wasi

#5014 Misc cleanups
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/isa/aarch64/inst/unwind/systemv.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/unwind/systemv.rs
  cranelift/codegen/src/isa/s390x/inst/unwind/systemv.rs
  cranelift/codegen/src/isa/x64/inst/unwind/systemv.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/filetests/src/test_unwind.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/func_translator.rs
  crates/cranelift/src/compiler.rs
Labels: cranelift, cranelift:area:machinst, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64

#5024 Documentation: Fix broken WASI ABI link
  crates/wasmtime/src/linker.rs
Labels: wasmtime:api

#5023 Fix StructReturn handling: properly mark the clobber, and offset actual rets.
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/x64/struct-ret.clif
Labels: cranelift, cranelift:area:machinst

#4999 cranelift: Added fp and, or, xor, not ops to interpreter.
  cranelift/codegen/src/ir/immediates.rs
  cranelift/filetests/filetests/runtests/float-bitops.clif
  cranelift/interpreter/src/value.rs
Labels: cranelift

#5027 feat(wasi) add `push_file` and `push_dir` methods to `WasiCtx`
  crates/wasi-common/src/ctx.rs
Labels: wasi

#5029 Cherry-pick to 2.0 release branch: "Fix StructReturn handling: properly mark the clobber, and offset actual rets. (#5023)"
  .github/workflows/main.yml
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/x64/struct-ret.clif
Labels: cranelift, cranelift:area:machinst

#4749 Upgrade sha2 to 0.10.2 in wasmtime
  Cargo.lock
  cranelift/codegen/Cargo.toml
  crates/cache/Cargo.toml
  supply-chain/audits.toml
  supply-chain/imports.lock
Labels: cranelift

#5044 cranelift: Native feature detection for RISC-V
  cranelift/filetests/src/test_run.rs
  cranelift/native/Cargo.toml
  cranelift/native/src/lib.rs
Labels: cranelift

#5042 Cranelift: Make `Opcode` represented as a `u8` instead of `u16` and remove vestigial conversion impls
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/src/ir/instructions.rs
Labels: cranelift, cranelift:meta

#5040 fuzzgen: Add bitops
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#5043 Cranelift: Derive `Copy` for `InstructionData`
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/src/ir/function.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/simple_gvn.rs
Labels: cranelift, cranelift:area:machinst, cranelift:meta

#4997 Flush Icache on AArch64 Windows
  Cargo.lock
  Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/jit/src/backend.rs
  cranelift/jit/src/memory.rs
  crates/jit-icache-coherence/Cargo.toml
  crates/jit-icache-coherence/src/lib.rs
  crates/jit-icache-coherence/src/libc.rs
  crates/jit-icache-coherence/src/win.rs
  crates/jit/Cargo.toml
  crates/jit/src/code_memory.rs
  scripts/publish.rs
Labels: cranelift

#5051 Ignore when components export type definitions
  crates/environ/src/component/types.rs
  crates/wasmtime/src/component/matching.rs
  tests/misc_testsuite/component-model/instance.wast
Labels: wasmtime:api

#5049 Don't re-capture backtraces when propagating traps through host frames
  benches/trap.rs
  crates/runtime/src/component/transcode.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/traphandlers.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trap.rs
  tests/all/traps.rs
Labels: wasmtime:api

#5053 Minor changes for components related to wit-bindgen support
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/types.rs
  crates/environ/src/module_environ.rs
  crates/wasmtime/src/component/instance.rs
Labels: wasmtime:api

#5061 egraph opts: fix uextend-of-i32.
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/egraph/algebraic.clif
Labels: cranelift

#5034 fuzzgen: Always generate reachable blocks
  cranelift/codegen/src/ir/jumptable.rs
  cranelift/fuzzgen/src/config.rs
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#5065 unsplat component::Linker::func_wrap args
  crates/fuzzing/src/generators/component_types.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/linker.rs
  crates/wasmtime/src/component/mod.rs
  crates/wast/src/spectest.rs
  tests/all/component_model/func.rs
  tests/all/component_model/import.rs
  tests/all/component_model/nested.rs
  tests/all/component_model/post_return.rs
  tests/all/component_model/strings.rs
Labels: wasmtime:api, fuzzing

#5067 Add egraphs option to Wasmtime config, and add it to fuzzing config generation.
  crates/fuzzing/src/generators/config.rs
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, fuzzing, wasmtime:config

#5055 component model: async host function & embedding support
  crates/misc/component-test-util/src/lib.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/component/linker.rs
  crates/wasmtime/src/instance.rs
  tests/all/component_model.rs
  tests/all/component_model/async.rs
Labels: wasmtime:api, fuzzing

#5069 [2.0.0] Add release notes
  RELEASES.md
  docs/stability-tiers.md
Labels: wasmtime:docs

#5074 Export a couple of types from cranelift_module that were meant to be exported
  cranelift/module/src/lib.rs
  cranelift/module/src/module.rs
Labels: cranelift, cranelift:module

#5080 Update release date of Wasmtime 2.0.0
  RELEASES.md
Labels: wasmtime:docs

#5081 Release Wasmtime 2.0.0
  RELEASES.md
Labels: wasmtime:docs

#5020 fuzzgen: Generate compiler flags
  cranelift/codegen/meta/src/gen_settings.rs
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/fuzzgen/src/config.rs
  cranelift/fuzzgen/src/lib.rs
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
Labels: cranelift, cranelift:meta, fuzzing

#5073 Remove uses of `reg_mod` from s390x
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/regs.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/machinst/reg.rs
  cranelift/filetests/filetests/isa/s390x/arithmetic.clif
  cranelift/filetests/filetests/isa/s390x/atomic_cas-little.clif
  cranelift/filetests/filetests/isa/s390x/bitops.clif
  cranelift/filetests/filetests/isa/s390x/condops.clif
  cranelift/filetests/filetests/isa/s390x/conversions.clif
  cranelift/filetests/filetests/isa/s390x/div-traps.clif
  cranelift/filetests/filetests/isa/s390x/floating-point-arch13.clif
  cranelift/filetests/filetests/isa/s390x/floating-point.clif
  cranelift/filetests/filetests/isa/s390x/icmp.clif
  cranelift/filetests/filetests/isa/s390x/tls_elf.clif
  cranelift/filetests/filetests/isa/s390x/vec-arithmetic.clif
Labels: cranelift, cranelift:area:machinst

#5088 Fix some egraph-related issues.
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/filetests/filetests/egraph/isplit.clif
Labels: cranelift, cranelift:area:aarch64

#5092 s390x: use constraints for call arguments and return values
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/filetests/filetests/isa/s390x/call.clif
  cranelift/filetests/filetests/isa/s390x/reftypes.clif
  cranelift/filetests/filetests/isa/s390x/struct-arg.clif
  cranelift/filetests/filetests/isa/s390x/tls_elf.clif
  cranelift/filetests/filetests/isa/s390x/vec-abi.clif
Labels: cranelift, cranelift:area:machinst

#5093 Cranelift: Remove duplicate IR signature legalizations
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst

#5094 Cranelift: use `.enumerate()` to avoid indexing in s390x backend
  cranelift/codegen/src/isa/s390x/abi.rs
Labels: cranelift

#5095 Cranelift: pass iterators to `ABIMachineSpec::compute_arg_locs`
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#5101 Remove rayon dependency of cranelift-isle
  Cargo.lock
  cranelift/isle/isle/Cargo.toml
  cranelift/isle/isle/src/overlap.rs
Labels: cranelift, isle

#5103 Fix accidental infinite loop in fuzz targets
  fuzz/fuzz_targets/differential.rs
  fuzz/fuzz_targets/instantiate-many.rs
Labels: fuzzing

#5104 Update `wasmi` used in differential fuzzing
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/oracles/diff_wasmi.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: fuzzing

#5096 s390x: clean up remnants of non-SSA code generation
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/filetests/filetests/isa/s390x/arithmetic.clif
  cranelift/filetests/filetests/isa/s390x/bitops.clif
  cranelift/filetests/filetests/isa/s390x/conversions.clif
  cranelift/filetests/filetests/isa/s390x/div-traps.clif
Labels: cranelift

#5075 cranelift: Remove `iconst.i128`
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/codegen/src/simple_preopt.rs
  cranelift/filetests/filetests/egraph/i128-opts.clif
  cranelift/filetests/filetests/isa/aarch64/condops.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/runtests/i128-const.clif
  cranelift/filetests/filetests/runtests/riscv64_issue_4996.clif
  cranelift/filetests/filetests/simple_preopt/i128.clif
  cranelift/frontend/src/switch.rs
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/src/bugpoint.rs
  cranelift/tests/bugpoint_consts_expected.clif
Labels: cranelift, cranelift:meta

#5112 egraphs: fix fill-in-the-types logic for multiple projections of one value.
  cranelift/codegen/src/ir/dfg.rs
  cranelift/filetests/filetests/egraph/isplit.clif
Labels: cranelift

#5117 cranelift: Add RISC-V disassembly capabilities to clif-util
  cranelift/src/disasm.rs
Labels: cranelift

#5115 Fix zero init sequence for i128 in cranelift-frontend
  cranelift/frontend/src/ssa.rs
Labels: cranelift

#5128 Cranelift: disable egraphs in fuzzing for now.
  cranelift/fuzzgen/src/lib.rs
  crates/fuzzing/src/generators/config.rs
Labels: cranelift, fuzzing

#5125 cranelift: Remove `copy` instruction
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/runtests/copy.clif
  cranelift/filetests/filetests/runtests/simd-copy-64bit.clif
  cranelift/filetests/filetests/runtests/simd-copy.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#5130 Update wasm-tools crates
  Cargo.lock
  Cargo.toml
  cranelift/wasm/src/code_translator.rs
  crates/fuzzing/src/generators/single_inst_module.rs
  crates/fuzzing/src/generators/table_ops.rs
  supply-chain/audits.toml
Labels: cranelift, fuzzing, cranelift:wasm

#5138 Release Wasmtime 2.0.1
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/egraph/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
Labels: cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle

#5137 wiggle: make wasmtime a mandatory dep, get rid of own Trap enum
  .github/workflows/main.yml
  Cargo.lock
  crates/wasi-common/Cargo.toml
  crates/wasi-common/src/snapshots/preview_0.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/src/witx.rs
  crates/wasi/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/src/funcs.rs
  crates/wiggle/generate/src/lib.rs
  crates/wiggle/generate/src/module_trait.rs
  crates/wiggle/generate/src/wasmtime.rs
  crates/wiggle/macro/Cargo.toml
  crates/wiggle/macro/src/lib.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/test-helpers/examples/tracing.rs
  crates/wiggle/tests/atoms.rs
  crates/wiggle/tests/atoms_async.rs
  crates/wiggle/tests/errors.rs
  crates/wiggle/tests/flags.rs
  crates/wiggle/tests/handles.rs
  crates/wiggle/tests/ints.rs
  crates/wiggle/tests/lists.rs
  crates/wiggle/tests/pointers.rs
  crates/wiggle/tests/records.rs
  crates/wiggle/tests/strings.rs
  crates/wiggle/tests/variant.rs
  crates/wiggle/tests/wasi.rs
Labels: wasi

#5123 Add iadd_overflow_trap
  cranelift/codegen/meta/src/shared/formats.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/legalizer/heap.rs
  cranelift/codegen/src/prelude_lower.isle
  cranelift/codegen/src/verifier/mod.rs
  cranelift/codegen/src/write.rs
  cranelift/filetests/filetests/isa/aarch64/uadd_overflow_trap.clif
  cranelift/filetests/filetests/isa/riscv64/uadd_overflow_trap.clif
  cranelift/filetests/filetests/isa/s390x/uadd_overflow_trap.clif
  cranelift/filetests/filetests/isa/x64/uadd_overflow_trap.clif
  cranelift/filetests/filetests/runtests/uadd_overflow_trap.clif
  cranelift/interpreter/src/step.rs
  cranelift/reader/src/parser.rs
Labels: cranelift, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#5118 cranelift: Mask high bits on `bmask` for types smaller than a register
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/aarch64/i128-bmask.clif
  cranelift/filetests/filetests/isa/riscv64/condbr.clif
  cranelift/filetests/filetests/isa/riscv64/i128-bmask.clif
  cranelift/filetests/filetests/runtests/bmask.clif
Labels: cranelift, cranelift:area:aarch64

#5124 fuzzgen: Add more opcodes
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#5077 Make WASI-NN classes send and/or sync
  Cargo.lock
  crates/wasi-nn/Cargo.toml
  crates/wasi-nn/src/api.rs
  crates/wasi-nn/src/ctx.rs
  crates/wasi-nn/src/impl.rs
  supply-chain/audits.toml
  supply-chain/config.toml
Labels: cranelift, cranelift:area:machinst, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64, isle

#5129 cranelift: Implement `ineg.i128` for everyone
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/runtests/i128-ineg.clif
  cranelift/filetests/filetests/runtests/ineg.clif
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#5148 x64: Implement `bmask`
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/bmask.clif
  cranelift/filetests/filetests/runtests/bmask.clif
  cranelift/filetests/filetests/runtests/i128-bmask.clif
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#5153 Refactor metadata storage in AOT artifacts
  crates/jit/src/code_memory.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/trampoline/func.rs
Labels: wasmtime:api

#5157 Fix typo
  docs/wasm-rust.md
Labels: wasmtime:docs

#5147 cranelift: Add Bswap instruction (#1092)
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/x64/encoding/rex.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/aarch64/bswap.clif
  cranelift/filetests/filetests/isa/s390x/bswap.clif
  cranelift/filetests/filetests/isa/x64/bswap.clif
  cranelift/filetests/filetests/runtests/bswap.clif
  cranelift/filetests/filetests/runtests/i128-bswap.clif
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#5154 aarch64: Deduplicate `bmask` lowering rule
  cranelift/codegen/src/isa/aarch64/inst.isle
Labels: cranelift, cranelift:area:aarch64

#5127 Cranelift: Use a single, shared vector allocation for all `ABIArg`s
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#5155 cranelift: Correctly calculate heap addresses in the interpreter
  cranelift/filetests/filetests/runtests/heap.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift
