Repository bytecodealliance/wasmtime, pull requests merged in 2022-07, with the labels that each got.

#4363 Migrate cranelift-jit from `winapi` to `windows-sys`
  Cargo.lock
  cranelift/jit/Cargo.toml
  cranelift/jit/src/backend.rs
  cranelift/jit/src/memory.rs
Labels: cranelift

#4378 Bump Wasmtime to 0.40.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cli-flags/Cargo.toml
  crates/component-macro/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#4379 Finish release notes for 0.39.0
  RELEASES.md
Labels: wasmtime:docs

#4367 Implement `fma`/`fabs`/`fneg`/`fcopysign` on the interpreter
  cranelift/codegen/src/ir/immediates.rs
  cranelift/filetests/filetests/runtests/fabs.clif
  cranelift/filetests/filetests/runtests/fcopysign.clif
  cranelift/filetests/filetests/runtests/fma.clif
  cranelift/filetests/filetests/runtests/fneg.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#4364 Implement nested instance exports for components
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/inline.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/component/mod.rs
  crates/wast/src/wast.rs
  tests/all/component_model.rs
  tests/all/component_model/instance.rs
  tests/misc_testsuite/component-model/instance.wast
Labels: wasmtime:api

#4374 [AArch64] Port min/max to ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/simd-min-max.clif
  cranelift/filetests/filetests/runtests/simd-min-max.clif
Labels: cranelift, cranelift:area:aarch64

#4368 Migrate most of wasmtime from lazy_static to once_cell
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/isle/islec/Cargo.toml
  cranelift/serde/Cargo.toml
  crates/cache/Cargo.toml
  crates/cache/src/worker/tests/system_time_stub.rs
  crates/cli-flags/Cargo.toml
  crates/fuzzing/wasm-spec-interpreter/Cargo.toml
  crates/fuzzing/wasm-spec-interpreter/src/with_library.rs
  crates/jit-debug/Cargo.toml
  crates/jit-debug/src/gdb_jit_int.rs
  crates/test-programs/wasi-tests/Cargo.lock
  crates/test-programs/wasi-tests/Cargo.toml
  crates/test-programs/wasi-tests/src/lib.rs
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/cap-std-sync/src/sched/windows.rs
  crates/wasi-common/tokio/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/module/registry.rs
  src/commands/compile.rs
  src/commands/run.rs
  src/commands/wast.rs
  src/lib.rs
  tests/all/wast.rs
Labels: wasmtime:api, cranelift, fuzzing, wasi, isle

#4373 cranelift: Fix `fmin`/`fmax` in interpreter when dealing with zeroes
  cranelift/codegen/src/ir/immediates.rs
  cranelift/filetests/filetests/runtests/fmax.clif
  cranelift/filetests/filetests/runtests/fmin.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#4269 Cranelift: support 14-bit Type index with some bitpacking.
  cranelift/codegen/meta/src/cdsl/types.rs
  cranelift/codegen/shared/src/constants.rs
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/ir/types.rs
  cranelift/entity/src/lib.rs
Labels: cranelift, cranelift:meta

#4390 ValueDataPacked getter and setter for Type
  cranelift/codegen/src/ir/dfg.rs
Labels: cranelift

#4391 Disable the cranelift-fuzzgen fuzz targets
  fuzz/Cargo.toml
Labels: fuzzing

#4394 cranelift: Implement `fmin_pseudo`/`fmax_pseudo` in interpreter
  cranelift/filetests/filetests/runtests/fmax-pseudo.clif
  cranelift/filetests/filetests/runtests/fmin-max-pseudo.clif
  cranelift/filetests/filetests/runtests/fmin-pseudo.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#4392 cranelift: Disable pinned_reg runtests
  cranelift/filetests/src/test_run.rs
Labels: cranelift

#4396 cranelift: Implement `global_value` in interpreter
  cranelift/filetests/filetests/runtests/global_value.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#4397 cranelift: Implement float rounding operations in interpreter
  cranelift/codegen/src/ir/immediates.rs
  cranelift/filetests/filetests/runtests/ceil.clif
  cranelift/filetests/filetests/runtests/floor.clif
  cranelift/filetests/filetests/runtests/nearest.clif
  cranelift/filetests/filetests/runtests/trunc.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#4389 x64: port `atomic_rmw` to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/inst_common.rs
  cranelift/codegen/src/machinst/reg.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#4398 wasmtime: Add criterion micro benchmarks for traps
  Cargo.toml
  benches/trap.rs
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/wasmtime/src/func.rs
Labels: wasmtime:api

#4400 Convert `swizzle` to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#4403 aarch64: Fix i128 icmp `of`/`nof` implementations
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/filetests/filetests/isa/aarch64/condbr.clif
  cranelift/filetests/filetests/runtests/i128-bricmp.clif
  cranelift/filetests/filetests/runtests/i128-icmp-overflow.clif
Labels: cranelift, cranelift:area:aarch64

#4409 fuzz: add a single instruction module generator
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/single_inst_module.rs
Labels: fuzzing

#4413 cranelift: Use `round_ties_even` for `nearest` in interpreter
  cranelift/codegen/src/ir/immediates.rs
  cranelift/filetests/filetests/runtests/ceil.clif
  cranelift/filetests/filetests/runtests/floor.clif
  cranelift/filetests/filetests/runtests/nearest.clif
  cranelift/filetests/filetests/runtests/trunc.clif
  cranelift/interpreter/src/value.rs
Labels: cranelift

#4420 [Doc] Note where to find start of memory when debugging
  docs/examples-debugging.md
Labels: wasmtime:docs

#4402 Convert `isplit` / `iconcat` to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/call.clif
Labels: cranelift, cranelift:area:aarch64

#4429 cranelift-frontend: Allow jump table reuse
  cranelift/frontend/src/ssa.rs
  fuzz/Cargo.toml
Labels: cranelift, fuzzing

#4414 implement wasmtime::component::flags! per #4308
  crates/component-macro/src/lib.rs
  crates/misc/component-macro-test/src/lib.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/mod.rs
  tests/all/component_model/macros.rs
Labels: wasmtime:api

#4441 Fix pretty print of `atomic_rmw` clif ops
  cranelift/codegen/src/write.rs
Labels: cranelift

#4440 Fix fuel configuration in fuzzers
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#4438 fuzzgen: Generate stack load/store instructions
  cranelift/fuzzgen/src/config.rs
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#4443 clif-util: always use `pretty-env-logger`
  Cargo.lock
  cranelift/Cargo.toml
  cranelift/src/cat.rs
  cranelift/src/clif-util.rs
  cranelift/src/compile.rs
  cranelift/src/interpret.rs
  cranelift/src/print_cfg.rs
  cranelift/src/run.rs
  cranelift/src/wasm.rs
Labels: cranelift

#4447 cranelift: Correctly parse ISA value flags in `clif-util`
  cranelift/reader/src/isaspec.rs
  cranelift/src/utils.rs
Labels: cranelift

#4446 cranelift: Add `fadd`/`fsub`/`fmul`/`fdiv` to interpreter
  cranelift/codegen/src/ir/immediates.rs
  cranelift/filetests/filetests/runtests/fadd.clif
  cranelift/filetests/filetests/runtests/fdiv.clif
  cranelift/filetests/filetests/runtests/fmul.clif
  cranelift/filetests/filetests/runtests/fsub.clif
  cranelift/interpreter/src/value.rs
Labels: cranelift

#4450 cranelift: Use requested ISA Flags in run tests
  cranelift/codegen/src/settings.rs
  cranelift/filetests/filetests/runtests/atomic-rmw-little.clif
  cranelift/filetests/filetests/runtests/atomic-rmw-subword-big.clif
  cranelift/filetests/filetests/runtests/atomic-rmw-subword-little.clif
  cranelift/filetests/filetests/runtests/bitops.clif
  cranelift/filetests/filetests/runtests/br.clif
  cranelift/filetests/filetests/runtests/clz.clif
  cranelift/filetests/filetests/runtests/const.clif
  cranelift/filetests/filetests/runtests/ctz.clif
  cranelift/filetests/filetests/runtests/div-checks.clif
  cranelift/filetests/filetests/runtests/popcnt.clif
  cranelift/filetests/src/test_run.rs
Labels: cranelift

#4459 fix(docs): broken link wasi application-abi
  docs/WASI-documents.md
Labels: wasmtime:docs

#4401 Convert `scalar_to_vector` to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/simd_load_zero.clif
  cranelift/filetests/filetests/runtests/simd-scalartovector-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-scalartovector.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64

#4399 Implement `iabs` in ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/iabs.clif
  cranelift/filetests/filetests/runtests/iabs.clif
Labels: cranelift, cranelift:area:aarch64

#4432 [AArch64] Cleanup dynamic lowering
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_dynamic_neon.isle
Labels: cranelift, cranelift:area:aarch64

#4449 x64: Port fdemote and fvdemote to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/runtests/conversions.clif
Labels: cranelift, cranelift:area:x64, isle

#4465 s390x: Small refactoring of ABI code
  cranelift/codegen/src/isa/s390x/abi.rs
Labels: cranelift

#4452 Convert `fadd`..`fmax_pseudo` to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_dynamic_neon.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/dynamic-simd-neon.clif
  cranelift/filetests/filetests/isa/aarch64/prologue.clif
  cranelift/filetests/filetests/runtests/dynamic-simd-arithmetic.clif
Labels: cranelift, cranelift:area:aarch64

#4468 Enable generating debug symbols on AArch64
  cranelift/codegen/src/isa/aarch64/mod.rs
Labels: cranelift, cranelift:area:aarch64

#4469 cranelift: Add a new, optional flag for preserving frame pointers
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/settings.rs
  cranelift/filetests/filetests/isa/aarch64/leaf.clif
  cranelift/filetests/filetests/isa/aarch64/leaf_with_preserve_frame_pointers.clif
  cranelift/filetests/filetests/isa/x64/leaf.clif
  cranelift/filetests/filetests/isa/x64/leaf_with_preserve_frame_pointers.clif
  crates/wasmtime/src/engine.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta

#4471 Update release date of Wasmtime 0.39.0
  RELEASES.md
Labels: wasmtime:docs

#4472 Release Wasmtime 0.39.0
  RELEASES.md
Labels: wasmtime:docs

#4486 Fix CI for `main`
  cranelift/codegen/src/machinst/vcode.rs
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#4480 Add release notes to `main` for 0.38.2
  RELEASES.md
Labels: wasmtime:docs

#4467 fuzzgen: Add scalar float support
  Cargo.lock
  cranelift/fuzzgen/Cargo.toml
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/fuzzgen/src/lib.rs
Labels: cranelift

#4483 Upgrade to regalloc2 0.3.1.
  Cargo.lock
  cranelift/codegen/Cargo.toml
Labels: cranelift

#4481 Add a cranelift flag to enable/disable verbose logs for regalloc2
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/settings.rs
  crates/wasmtime/src/engine.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta

#4477 s390x: Support preserve_frame_pointers flag
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/filetests/filetests/isa/s390x/leaf.clif
  cranelift/filetests/filetests/isa/s390x/leaf_with_preserve_frame_pointers.clif
Labels: cranelift

#4495 table_ops: allow 0-sized tables, locals, globals
  crates/fuzzing/src/generators/table_ops.rs
Labels: fuzzing

#4499 wiggle's atoms_async test requires wasmtime_async
  crates/wiggle/Cargo.toml
Labels: wasi

#4500 fuzzgen: Generate const's
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#4503 cranelift: Don't log CLIF and assembly for whole functions at debug level
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/isa/x64/mod.rs
Labels: cranelift, cranelift:area:x64

#4504 Implement `std::fmt::Pointer` for `ExternRef`
  crates/runtime/src/externref.rs
  crates/wasmtime/src/ref.rs
Labels: wasmtime:api, wasmtime:ref-types

#4369 Add cmake compatibility to c-api
  .github/workflows/main.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  crates/c-api/CMakeLists.txt
  crates/c-api/include/wasmtime.h
  crates/misc/run-examples/Cargo.toml
  crates/misc/run-examples/build.rs
  crates/misc/run-examples/src/main.rs
  examples/CMakeLists.txt
  examples/README.md
  examples/externref.c
  examples/fuel.c
  examples/gcd.c
  examples/hello.c
  examples/interrupt.c
  examples/linking.c
  examples/memory.c
  examples/multi.c
  examples/multimemory.c
  examples/serialize.c
  examples/threads.c
  examples/tokio/main.c
  examples/wasi/main.c
Labels: wasmtime:c-api, wasmtime:docs

#4505 cranelift: Implement `{u,s}extend.i128` in interpreter
  cranelift/filetests/filetests/runtests/extend.clif
  cranelift/filetests/filetests/runtests/i128-extend.clif
  cranelift/interpreter/src/value.rs
Labels: cranelift

#4507 cranelift: Fix Switch bug when emitting indexes larger than val type
  cranelift/frontend/src/switch.rs
Labels: cranelift

#4508 Convert `sqrt`..`nearest` to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/floating-point.clif
Labels: cranelift, cranelift:area:aarch64

#4510 cranelift: Restrict `br_table` to `i32` indices
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/aarch64/jumptable.clif
  cranelift/filetests/filetests/isa/s390x/jumptable.clif
  cranelift/filetests/filetests/isa/x64/atomic-cas-bug.clif
  cranelift/filetests/filetests/licm/rewrite-jump-table.clif
  cranelift/filetests/filetests/runtests/br_table.clif
  cranelift/filetests/filetests/verifier/jump_table.clif
  cranelift/frontend/src/switch.rs
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift, cranelift:meta, cranelift:area:x64

#4506 cranelift: Fix `icmp_imm` for small types in interpreter
  cranelift/filetests/filetests/runtests/icmp-eq-imm.clif
  cranelift/filetests/filetests/runtests/icmp-eq.clif
  cranelift/filetests/filetests/runtests/icmp-ne.clif
  cranelift/filetests/filetests/runtests/icmp-sge.clif
  cranelift/filetests/filetests/runtests/icmp-sgt.clif
  cranelift/filetests/filetests/runtests/icmp-sle.clif
  cranelift/filetests/filetests/runtests/icmp-slt.clif
  cranelift/filetests/filetests/runtests/icmp-uge.clif
  cranelift/filetests/filetests/runtests/icmp-ule.clif
  cranelift/filetests/filetests/runtests/icmp-ult.clif
  cranelift/interpreter/src/value.rs
Labels: cranelift

#4485 x64: Port func_addr and symbol_value to ISLE
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/symbols.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#4442 support dynamic function calls in component model
  Cargo.lock
  crates/component-macro/Cargo.toml
  crates/component-macro/src/lib.rs
  crates/component-util/Cargo.toml
  crates/component-util/src/lib.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/options.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/mod.rs
  crates/wasmtime/src/component/types.rs
  crates/wasmtime/src/component/values.rs
  scripts/publish.rs
  tests/all/component_model.rs
  tests/all/component_model/dynamic.rs
  tests/all/component_model/macros.rs
Labels: wasmtime:api

#4516 s390x: Enable more runtests, and fix a few bugs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/filetests/filetests/isa/s390x/bitops.clif
  cranelift/filetests/filetests/runtests/bint.clif
  cranelift/filetests/filetests/runtests/cls.clif
  cranelift/filetests/filetests/runtests/clz.clif
  cranelift/filetests/filetests/runtests/conversions.clif
  cranelift/filetests/filetests/runtests/ctz.clif
  cranelift/filetests/filetests/runtests/iabs.clif
  cranelift/filetests/filetests/runtests/icmp-ugt.clif
  cranelift/filetests/filetests/runtests/ireduce.clif
  cranelift/filetests/filetests/runtests/load-op-store.clif
  cranelift/filetests/filetests/runtests/popcnt.clif
  cranelift/filetests/filetests/runtests/select.clif
  cranelift/filetests/filetests/runtests/simd-scalartovector-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-scalartovector.clif
  cranelift/filetests/filetests/runtests/smulhi-aarch64.clif
  cranelift/filetests/filetests/runtests/smulhi.clif
Labels: cranelift

#4478 [AArch64] Port SIMD narrowing to ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_dynamic_neon.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/compare_zero.clif
  cranelift/filetests/filetests/isa/aarch64/dynamic-simd-narrow.clif
  cranelift/filetests/filetests/isa/aarch64/simd-narrow.clif
  cranelift/filetests/filetests/runtests/dynamic-simd-narrow-widen.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64

#4509 Allow 64-bit vectors and implement for interpreter
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/data_value.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/filetests/filetests/runtests/simd-iaddpairwise-64bit.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
  cranelift/reader/src/parser.rs
Labels: cranelift, cranelift:meta, cranelift:area:aarch64

#4518 x64: Migrate the return and fallthrough_return lowerings to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#4474 x64: Implement SIMD `fma`
  cranelift/codegen/meta/src/isa/x86.rs
  cranelift/codegen/src/isa/x64/encoding/rex.rs
  cranelift/codegen/src/isa/x64/encoding/vex.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/runtests/simd-fma.clif
  cranelift/native/src/lib.rs
  crates/fuzzing/src/generators/codegen_settings.rs
  crates/wasmtime/src/engine.rs
  src/commands/compile.rs
Labels: wasmtime:api, cranelift, cranelift:meta, fuzzing, cranelift:area:x64

#4502 fuzzgen: Fuzz Switch API
  cranelift/fuzzgen/src/config.rs
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#4501 Add initial support for fused adapter trampolines
  Cargo.lock
  cranelift/entity/src/primary.rs
  crates/cranelift/src/compiler/component.rs
  crates/environ/Cargo.toml
  crates/environ/src/component.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/adapt.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/types.rs
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/environ/src/fact.rs
  crates/environ/src/fact/core_types.rs
  crates/environ/src/fact/signature.rs
  crates/environ/src/fact/trampoline.rs
  crates/environ/src/fact/traps.rs
  crates/environ/src/lib.rs
  crates/environ/src/scopevec.rs
  crates/environ/src/tunables.rs
  crates/environ/src/vmoffsets.rs
  crates/runtime/src/component.rs
  crates/runtime/src/export.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/module/serialization.rs
  tests/all/component_model/func.rs
  tests/all/wast.rs
  tests/misc_testsuite/component-model/fused.wast
Labels: wasmtime:api, cranelift

#4525 wasmtime: let serialization mismatch tests pass with `RUST_BACKTRACE=1` set
  crates/wasmtime/src/module/serialization.rs
Labels: wasmtime:api

#4530 Cranelift AArch64: Further integral constant fixes
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/filetests/filetests/isa/aarch64/bitops.clif
  cranelift/filetests/filetests/isa/aarch64/extend-op.clif
  cranelift/filetests/filetests/runtests/div-checks.clif
Labels: cranelift, cranelift:area:aarch64

#4529 fuzzgen: Add i128 support
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/fuzzgen/src/lib.rs
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
Labels: cranelift, fuzzing

#4521 Cranelift AArch64: Migrate `Splat` to ISLE
  cranelift/codegen/src/ir/types.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/bitops.clif
  cranelift/filetests/filetests/isa/aarch64/dynamic-simd-narrow.clif
  cranelift/filetests/filetests/isa/aarch64/dynamic-simd-neon.clif
  cranelift/filetests/filetests/isa/aarch64/dynamic-simd-widen.clif
  cranelift/filetests/filetests/isa/aarch64/dynamic-slot.clif
  cranelift/filetests/filetests/isa/aarch64/prologue.clif
  cranelift/filetests/filetests/runtests/simd-splat.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64

#4531 Don't try to report file size or timestamps for stdio streams.
  crates/test-programs/wasi-tests/src/bin/fd_filestat_get.rs
  crates/wasi-common/cap-std-sync/src/stdio.rs
Labels: wasi

#4536 cranelift-frontend: Reuse visited block sets in `SSABuilder::can_optimize_var_lookup`
  cranelift/frontend/src/ssa.rs
Labels: cranelift

#4538 Don't allocate in DataFlowGraph::block_param_types
  cranelift/codegen/src/ir/dfg.rs
Labels: cranelift

#4514 x64: Shrink Inst from 72 to 48 bytes
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#4532 cranelift: Fix `urem`/`srem` in interpreter
  cranelift/filetests/filetests/runtests/div-checks.clif
  cranelift/filetests/filetests/runtests/i128-srem.clif
  cranelift/filetests/filetests/runtests/i128-urem.clif
  cranelift/filetests/filetests/runtests/srem.clif
  cranelift/filetests/filetests/runtests/urem.clif
  cranelift/interpreter/src/interpreter.rs
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#4520 cranelift: Align Scalar and SIMD shift semantics
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/aarch64/arithmetic.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/runtests/simd-bitselect.clif
  cranelift/filetests/filetests/runtests/simd-bitwise-run.clif
  cranelift/filetests/filetests/runtests/simd-bitwise.clif
  cranelift/filetests/filetests/runtests/simd-ishl.clif
  cranelift/filetests/filetests/runtests/simd-sshr.clif
  cranelift/filetests/filetests/runtests/simd-ushr.clif
  cranelift/filetests/filetests/runtests/simd-vselect.clif
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64, isle

#4526 Add `*.wast` support for invoking components
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/environ/fuzz/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators/table_ops.rs
  crates/fuzzing/wasm-spec-interpreter/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/component/types.rs
  crates/wasmtime/src/component/values.rs
  crates/wast/Cargo.toml
  crates/wast/src/component.rs
  crates/wast/src/core.rs
  crates/wast/src/lib.rs
  crates/wast/src/wast.rs
  supply-chain/audits.toml
  tests/misc_testsuite/component-model/fused.wast
  tests/misc_testsuite/component-model/simple.wast
  tests/misc_testsuite/component-model/types.wast
Labels: wasmtime:api, wasmtime:c-api, cranelift, fuzzing, cranelift:wasm

#4543 cranelift-wasm: Only allocate if vectors need bitcasts
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/func_translator.rs
Labels: cranelift, cranelift:wasm

#4550 doc: fix c set strategy doc
  crates/c-api/include/wasmtime/config.h
Labels: wasmtime:c-api

#4542 x64: Migrate call and call_indirect to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/filetests/filetests/isa/x64/call-conv.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#4548 Port `Fence`, `IsNull`/`IsInvalid` & `Debugtrap` to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/runtests/ref64-invalid-null.clif
Labels: cranelift, cranelift:area:aarch64

#4431 `wasmtime`: Implement fast Wasm stack walking
  Cargo.lock
  Cargo.toml
  benches/call.rs
  crates/asm-macros/src/lib.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/builtin.rs
  crates/environ/src/vmoffsets.rs
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/stacks.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/stacks.rs
  crates/runtime/Cargo.toml
  crates/runtime/build.rs
  crates/runtime/src/externref.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/trampolines.rs
  crates/runtime/src/trampolines/aarch64.rs
  crates/runtime/src/trampolines/s390x.S
  crates/runtime/src/trampolines/s390x.rs
  crates/runtime/src/trampolines/x86_64.rs
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/traphandlers/backtrace.rs
  crates/runtime/src/traphandlers/backtrace/aarch64.rs
  crates/runtime/src/traphandlers/backtrace/s390x.rs
  crates/runtime/src/traphandlers/backtrace/x86_64.rs
  crates/runtime/src/traphandlers/macos.rs
  crates/runtime/src/traphandlers/unix.rs
  crates/runtime/src/traphandlers/windows.rs
  crates/runtime/src/vmcontext.rs
  crates/runtime/src/vmcontext/vm_host_func_context.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trap.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/stacks.rs
  tests/all/component_model/import.rs
  tests/all/func.rs
  tests/all/pooling_allocator.rs
  tests/all/traps.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta, fuzzing, cranelift:area:aarch64, cranelift:area:x64, wasmtime:ref-types, wasmtime:config

#4517 cranelift: Add MinGW `fma` regression tests
  Cargo.lock
  cranelift/codegen/src/ir/immediates.rs
  cranelift/filetests/filetests/runtests/fma-interpreter.clif
  cranelift/filetests/filetests/runtests/fma.clif
  cranelift/interpreter/Cargo.toml
  cranelift/interpreter/src/value.rs
Labels: cranelift

#4479 Add definitions of tiers-of-support for Wasmtime
  docs/SUMMARY.md
  docs/stability-tiers.md
Labels: wasmtime:docs

#4559 ISLE: support more flexible integer constants.
  cranelift/isle/isle/build.rs
  cranelift/isle/isle/isle_examples/run/iconst.isle
  cranelift/isle/isle/isle_examples/run/iconst_main.rs
  cranelift/isle/isle/src/ast.rs
  cranelift/isle/isle/src/codegen.rs
  cranelift/isle/isle/src/ir.rs
  cranelift/isle/isle/src/lexer.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/sema.rs
  cranelift/isle/isle/tests/run_tests.rs
Labels: cranelift, isle
