Repository bytecodealliance/wasmtime, pull requests merged in 2022-05, with the labels that each got.

#4091 ISLE: remove all uses of argument polarity, and remove it from the language.
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/isle/docs/language-reference.md
  cranelift/isle/isle/isle_examples/pass/test3.isle
  cranelift/isle/isle/src/ast.rs
  cranelift/isle/isle/src/ir.rs
  cranelift/isle/isle/src/lexer.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, isle

#4092 Implement Spectre mitigations for table accesses and br_tables.
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/legalizer/mod.rs
  cranelift/codegen/src/legalizer/table.rs
  cranelift/codegen/src/settings.rs
  cranelift/filetests/filetests/isa/x64/table.clif
  crates/wasmtime/src/engine.rs
Labels: wasmtime:api, cranelift, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#4080 Rework x64 addressing-mode lowering to be slightly more flexible.
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/amode-opt.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#4094 x64: fix pretty-printing argument order for XmmRmR instructions.
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/filetests/filetests/isa/x64/fastcall.clif
  cranelift/filetests/filetests/isa/x64/floating-point.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-comparison-legalize.clif
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-logical-compile.clif
Labels: cranelift, cranelift:area:x64

#4095 x64: add test for #3744
  cranelift/filetests/filetests/isa/x64/select-issue-3744.clif
Labels: cranelift

#4101 Add ISA flag detection for s390x
  crates/wasmtime/src/engine.rs
Labels: wasmtime:api

#4103 Bump Wasmtime to 0.38.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cli-flags/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#4113 bump spec interpreter commit to address performance issues
  crates/fuzzing/wasm-spec-interpreter/build.rs
Labels: fuzzing

#4111 Partially rewrite the constant-phi-nodes pass to make it more idiomatic
  cranelift/codegen/src/remove_constant_phis.rs
  cranelift/codegen/src/timing.rs
Labels: cranelift

#4117 Cranelift/ISLE: re-apply prio-trie fix, this time with fixed fix.
  .github/workflows/main.yml
  cranelift/codegen/build.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/isle/isle/isle_examples/pass/prio_trie_bug.isle
  cranelift/isle/isle/src/codegen.rs
  cranelift/isle/isle/src/trie.rs
  scripts/force-rebuild-isle.sh
Labels: cranelift, cranelift:area:x64, isle

#4116 Narrow `allow(dead_code)` declarations
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/args.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/imms.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/regs.rs
Labels: cranelift, cranelift:area:aarch64

#4105 Expose `TrapCode::Interrupt` on epoch based interruption
  crates/cranelift/src/func_environ.rs
  crates/wasmtime/src/store.rs
  examples/interrupt.rs
  tests/all/cli_tests.rs
  tests/all/iloop.rs
Labels: wasmtime:api

#4118 enable multi-value in spec intepreter fuzzing
  crates/fuzzing/wasm-spec-interpreter/build.rs
  crates/fuzzing/wasm-spec-interpreter/ocaml/interpret.ml
  fuzz/fuzz_targets/differential_spec.rs
Labels: fuzzing

#4120 Cranelift: fix filetest now failing after merge to main.
  cranelift/filetests/filetests/isa/x64/select-issue-3744.clif
Labels: cranelift

#4141 Cranelift: division/remainder CLIF ops are scalar-only.
  cranelift/codegen/meta/src/shared/instructions.rs
Labels: cranelift, cranelift:meta

#4143 Cranelift: do not check in generated ISLE code; regenerate on every compile.
  .github/workflows/main.yml
  Cargo.lock
  ci/ensure_deterministic_build.sh
  cranelift/codegen/Cargo.toml
  cranelift/codegen/build.rs
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/meta/src/cdsl/operands.rs
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/meta/src/lib.rs
  cranelift/codegen/src/clif.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/isle/fuzz/fuzz_targets/compile.rs
  cranelift/isle/isle/Cargo.toml
  cranelift/isle/isle/src/ast.rs
  cranelift/isle/isle/src/codegen.rs
  cranelift/isle/isle/src/compile.rs
  cranelift/isle/isle/src/error.rs
  cranelift/isle/isle/src/error_miette.rs
  cranelift/isle/isle/src/ir.rs
  cranelift/isle/isle/src/lexer.rs
  cranelift/isle/isle/src/lib.rs
  cranelift/isle/isle/src/log.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/sema.rs
  cranelift/isle/isle/src/trie.rs
  cranelift/isle/isle/tests/run_tests.rs
  cranelift/isle/islec/Cargo.toml
  cranelift/isle/islec/src/main.rs
  scripts/force-rebuild-isle.sh
Labels: cranelift, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64, isle

#4146 s390x: Fix bitwise operations
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/filetests/filetests/isa/s390x/bitwise-arch13.clif
  cranelift/filetests/filetests/isa/s390x/bitwise.clif
Labels: cranelift

#4150 Avoid spurious build script runs
  cranelift/codegen/build.rs
  cranelift/codegen/meta/src/srcgen.rs
Labels: cranelift, cranelift:meta

#4151 ISLE: provide locations in errors in basic non-miette mode.
  cranelift/isle/isle/src/error.rs
  cranelift/isle/isle/src/error_miette.rs
  cranelift/isle/isle/src/lexer.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#4154 Expose cranelift nan canonicalization config via C API
  crates/c-api/include/wasmtime/config.h
  crates/c-api/src/config.rs
Labels: wasmtime:c-api

#4152 Run a callback when the interruption epoch is reached
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/store.rs
  tests/all/epoch_interruption.rs
Labels: wasmtime:api, wasmtime:config

#4139 Cranelift AArch64: Migrate Bitselect and Vselect to ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/condops.clif
  cranelift/filetests/filetests/runtests/bitops.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#4159 x64: remove TODO for i128 load
  cranelift/codegen/src/isa/x64/lower.isle
Labels: cranelift, cranelift:area:x64

#4157 Upgrade to regalloc2 0.1.3.
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/filetests/filetests/isa/aarch64/reftypes.clif
  cranelift/filetests/filetests/isa/s390x/reftypes.clif
Labels: cranelift

#4165 Update the wasm-tools family of crates
  Cargo.lock
  Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/module_translator.rs
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/environ/src/module_environ.rs
  crates/fuzzing/Cargo.toml
  crates/types/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/externals.rs
  crates/wast/Cargo.toml
  crates/wast/src/wast.rs
  examples/multimemory.wat
  tests/all/fuel.rs
  tests/misc_testsuite/multi-memory/simple.wast
Labels: wasmtime:api, cranelift, fuzzing, cranelift:wasm

#4168 Update release date of Wasmtime 0.37.0
  RELEASES.md
Labels: wasmtime:docs

#4169 Release Wasmtime 0.37.0
  RELEASES.md
  cranelift/object/tests/basic.rs
  crates/c-api/src/func.rs
Labels: wasmtime:c-api, cranelift, wasmtime:docs, cranelift:module

#4172 Ensure `simd` is enabled for spectest fuzzing
  crates/fuzzing/src/generators.rs
Labels: fuzzing

#4173 Improve documentation around `ResourceLimiter`
  crates/wasmtime/src/limits.rs
  crates/wasmtime/src/store.rs
Labels: wasmtime:api

#4163 Add a basic alias analysis with redundant-load elim and store-to-load fowarding opts.
  cranelift/codegen/src/alias_analysis.rs
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/ir/memflags.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/filetests/filetests/alias/categories.clif
  cranelift/filetests/filetests/alias/extends.clif
  cranelift/filetests/filetests/alias/fence.clif
  cranelift/filetests/filetests/alias/multiple-blocks.clif
  cranelift/filetests/filetests/alias/partial-redundancy.clif
  cranelift/filetests/filetests/alias/simple-alias.clif
  cranelift/filetests/src/lib.rs
  cranelift/filetests/src/test_alias_analysis.rs
  cranelift/wasm/src/code_translator.rs
  crates/cranelift/src/func_environ.rs
Labels: cranelift, cranelift:area:machinst, cranelift:wasm

#4174 Improve the `wasmtime` crate's README
  README.md
  crates/wasmtime/README.md
  crates/wasmtime/src/lib.rs
  docs/SUMMARY.md
  docs/security-sandboxing.md
  docs/security.md
Labels: wasmtime:api, wasmtime:docs

#4005 Initial skeleton of some component model processing
  .github/workflows/main.yml
  Cargo.toml
  build.rs
  crates/cli-flags/Cargo.toml
  crates/cli-flags/src/lib.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/environ/Cargo.toml
  crates/environ/src/compilation.rs
  crates/environ/src/component.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/types.rs
  crates/environ/src/lib.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/module_types.rs
  crates/types/src/lib.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/component/mod.rs
  crates/wasmtime/src/component/store.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/signatures.rs
  crates/wasmtime/src/store/data.rs
  crates/wasmtime/src/types.rs
  crates/wasmtime/src/types/matching.rs
  crates/wast/Cargo.toml
  crates/wast/src/wast.rs
  tests/all/component_model.rs
  tests/all/main.rs
  tests/all/wast.rs
  tests/misc_testsuite/component-model/adapter.wast
  tests/misc_testsuite/component-model/instance.wast
  tests/misc_testsuite/component-model/simple.wast
  tests/misc_testsuite/component-model/types.wast
Labels: wasmtime:api, wasmtime:c-api, cranelift, fuzzing, cranelift:module, cranelift:wasm, wasmtime:config, wasm-proposal: component-model

#4179 docs: Remove regalloc entry from documentation index
  cranelift/docs/index.md
Labels: cranelift, cranelift:docs

#4180 Remove unused `SourceLoc` in many `Mach` data structures
  benches/instantiation.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/x64/encoding/rex.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/jit/src/compiled_blob.rs
  cranelift/module/src/data_context.rs
  cranelift/src/disasm.rs
  crates/cranelift/src/compiler.rs
Labels: cranelift, cranelift:area:machinst, cranelift:module, cranelift:area:aarch64, cranelift:area:x64

#4182 Pull in regalloc2 v0.2.0, with no more separate scratch registers.
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/s390x/inst/regs.rs
  cranelift/codegen/src/isa/x64/inst/regs.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/filetests/filetests/isa/aarch64/prologue.clif
  cranelift/filetests/filetests/isa/s390x/atomic_cas-little.clif
  cranelift/filetests/filetests/isa/s390x/atomic_cas.clif
  cranelift/filetests/filetests/isa/s390x/multivalue-ret.clif
  cranelift/filetests/filetests/isa/x64/call-conv.clif
  cranelift/filetests/filetests/isa/x64/cmp-mem-bug.clif
  cranelift/filetests/filetests/isa/x64/fastcall.clif
  cranelift/filetests/filetests/isa/x64/heap.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/immediates.clif
  cranelift/filetests/filetests/isa/x64/load-op.clif
  cranelift/filetests/filetests/isa/x64/popcnt.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/struct-arg.clif
  cranelift/filetests/filetests/isa/x64/table.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#4039 components: Implement the ability to call component exports
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/component/mod.rs
  tests/all/component_model.rs
  tests/all/component_model/func.rs
Labels: wasmtime:api, wasmtime:config

#4186 Make `ValRaw` fields private
  benches/call.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/values.rs
  tests/all/call_hook.rs
Labels: wasmtime:api

#4140 [AArch64] Port AtomicCAS to isle
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64, isle
