Repository bytecodealliance/wasmtime, pull requests merged in 2022-08, with the labels that each got.

#4484 cranelift: Introduce a feature to enable `trace` logs
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/alias_analysis.rs
  cranelift/codegen/src/ir/layout.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/unreachable_code.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#4556 Unconditionally enable component-model tests
  .github/workflows/main.yml
  Cargo.toml
  crates/runtime/src/component.rs
  crates/wasmtime/src/component/func.rs
  tests/all/component_model.rs
  tests/all/main.rs
  tests/all/wast.rs
Labels: wasmtime:api

#4557 Fix the `stacks` fuzzer in the face of stack overflow
  crates/fuzzing/src/oracles/stacks.rs
Labels: fuzzing

#4560 components: Fix support for 0-sized flags
  crates/component-macro/src/lib.rs
  crates/component-util/src/lib.rs
  crates/environ/fuzz/fuzz_targets/fact-valid-module.rs
  crates/environ/src/fact/trampoline.rs
  crates/wasmtime/src/component/types.rs
  crates/wasmtime/src/component/values.rs
  tests/all/component_model.rs
  tests/all/component_model/macros.rs
  tests/misc_testsuite/component-model/fused.wast
Labels: wasmtime:api

#4555 Cranelift AArch64: Harden the Spectre mitigations
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/filetests/filetests/isa/aarch64/heap_addr.clif
  cranelift/filetests/filetests/isa/aarch64/jumptable.clif
Labels: cranelift, cranelift:area:aarch64

#4545 x64: Migrate trapif and trapff to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/traps.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64

#4562 ISLE: Allow shadowing in let expressions
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/prelude.isle
  cranelift/isle/isle/build.rs
  cranelift/isle/isle/isle_examples/run/let_shadowing.isle
  cranelift/isle/isle/isle_examples/run/let_shadowing_main.rs
  cranelift/isle/isle/src/sema.rs
  cranelift/isle/isle/tests/run_tests.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, isle

#4558 Implement fused adapters for `(list T)` types
  Cargo.lock
  crates/environ/Cargo.toml
  crates/environ/examples/factc.rs
  crates/environ/fuzz/fuzz_targets/fact-valid-module.rs
  crates/environ/src/fact.rs
  crates/environ/src/fact/signature.rs
  crates/environ/src/fact/trampoline.rs
  crates/environ/src/fact/traps.rs
  crates/wasmtime/src/component/func/options.rs
  crates/wasmtime/src/component/func/typed.rs
  tests/all/component_model/func.rs
  tests/misc_testsuite/component-model/adapter.wast
Labels: wasmtime:api

#4572 Cranelift: don't `emit` inside lowering rules for aarch64
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
Labels: cranelift, cranelift:area:aarch64

#4575 [AArch64] i64x2 support for min/max
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/filetests/filetests/runtests/simd-min-max-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-min-max.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift, cranelift:area:aarch64

#4540 [cranelift] Rejigger the `compile` API
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/result.rs
  cranelift/codegen/src/timing.rs
  cranelift/filetests/src/function_runner.rs
  cranelift/filetests/src/test_compile.rs
  cranelift/jit/src/backend.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
  cranelift/src/compile.rs
  cranelift/src/wasm.rs
  crates/cranelift/src/compiler.rs
Labels: cranelift, cranelift:area:machinst, cranelift:module, cranelift:area:aarch64, cranelift:area:x64

#4571 Cranellift: remove Baldrdash support and related features.
  cranelift/README.md
  cranelift/codegen/meta/src/isa/x86.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/ir/extfunc.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/call_conv.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/prelude.isle
  cranelift/codegen/src/settings.rs
  cranelift/docs/ir.md
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/aarch64/multivalue-ret.clif
  cranelift/filetests/filetests/isa/s390x/multivalue-ret.clif
  cranelift/filetests/filetests/parser/call.clif
  cranelift/interpreter/src/step.rs
  cranelift/reader/src/parser.rs
  cranelift/spidermonkey.md
  cranelift/src/souper_harvest.rs
  cranelift/src/wasm.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/mod.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/func_translator.rs
  cranelift/wasm/src/lib.rs
  cranelift/wasm/tests/wasm_testsuite.rs
  cranelift/wasm/wasmtests/use_fallthrough_return.wat
  crates/wasmtime/src/engine.rs
  tests/all/debug/gdb.rs
  tests/all/debug/lldb.rs
Labels: cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#4576 [abi_impl] Respect extension for incoming stack arguments
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/filetests/filetests/isa/s390x/call.clif
Labels: cranelift, cranelift:area:machinst

#4573 Cranelift: Add instructions for getting the current stack/frame/return pointers
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/encoding/rex.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/codegen/src/verifier/mod.rs
  cranelift/filetests/filetests/isa/aarch64/fp_sp_pc.clif
  cranelift/filetests/filetests/isa/s390x/fp_sp_pc.clif
  cranelift/filetests/filetests/isa/x64/fp_sp_pc.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64, isle

#4583 wasmtime: Add lots of logging for `externref`s and `table_ops` fuzz target
  cranelift/codegen/src/machinst/buffer.rs
  crates/fuzzing/src/oracles.rs
  crates/runtime/src/externref.rs
  crates/runtime/src/traphandlers/backtrace.rs
Labels: cranelift, cranelift:area:machinst, fuzzing, wasmtime:ref-types

#4584 Use a `SmallVec` for `ABIArg`s
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#4586 Use a `SmallVec` for `ABIArgSlot`s
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#4595 Reduce wasm invocations in the `stacks` fuzzer
  crates/fuzzing/src/generators/stacks.rs
Labels: fuzzing

#4582 Some minor cleanups/refactorings in components
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/component/compiler.rs
  crates/runtime/src/component.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/module/registry.rs
Labels: wasmtime:api

#4460 cranelift: Implement scalar `fma` on x86
  cranelift/codegen/src/ir/libcall.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/module/src/lib.rs
Labels: cranelift, cranelift:area:machinst, cranelift:module, cranelift:area:aarch64, cranelift:area:x64, isle

#3606 Initial back-edge CFI implementation
  cranelift/codegen/meta/src/isa/arm64.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/filetests/filetests/isa/aarch64/call-pauth.clif
  cranelift/native/src/lib.rs
  crates/runtime/src/traphandlers/backtrace/aarch64.rs
  crates/wasmtime/src/engine.rs
  src/commands/compile.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#4585 [s390x, abi_impl] Support struct args using explicit pointers
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/args.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/s390x/struct-arg.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#4587 x64: Begin migrating branch instructions to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
Labels: cranelift, cranelift:area:x64, isle

#4603 Upgrade regalloc2 -> 0.3.2
  Cargo.lock
  cranelift/codegen/Cargo.toml
  supply-chain/audits.toml
Labels: cranelift

#4601 Save exit Wasm FP and PC in component-to-host trampolines
  cranelift/codegen/src/ir/immediates.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/environ/src/vmoffsets.rs
  crates/runtime/src/component.rs
  crates/runtime/src/trampolines/aarch64.rs
  crates/runtime/src/trampolines/s390x.rs
  crates/runtime/src/trampolines/x86_64.rs
  crates/runtime/src/traphandlers/backtrace.rs
  crates/runtime/src/traphandlers/backtrace/aarch64.rs
  crates/runtime/src/traphandlers/backtrace/s390x.rs
  crates/runtime/src/traphandlers/backtrace/x86_64.rs
  crates/runtime/src/vmcontext.rs
  tests/all/component_model/import.rs
Labels: cranelift

#4596 Port `Shuffle` to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#4599 x64: Migrate brff and I128 branching instructions to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/branches.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/runtests/fcmp.clif
Labels: cranelift, cranelift:area:x64, isle

#4588 Add `try_use_var` method to `cranelift-frontend`.
  cranelift/frontend/src/frontend.rs
Labels: cranelift

#4537 implement fuzzing for component types
  Cargo.lock
  Cargo.toml
  build.rs
  crates/component-macro/src/lib.rs
  crates/component-util/src/lib.rs
  crates/environ/fuzz/Cargo.toml
  crates/environ/fuzz/fuzz_targets/fact-valid-module.rs
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/component_types.rs
  crates/fuzzing/src/oracles.rs
  crates/misc/component-fuzz-util/Cargo.toml
  crates/misc/component-fuzz-util/src/lib.rs
  crates/misc/component-test-util/Cargo.toml
  crates/misc/component-test-util/src/lib.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/component/linker.rs
  crates/wasmtime/src/component/matching.rs
  crates/wasmtime/src/component/types.rs
  crates/wasmtime/src/component/values.rs
  fuzz/Cargo.toml
  fuzz/build.rs
  fuzz/fuzz_targets/component_api.rs
  tests/all/component_model.rs
  tests/all/component_model/dynamic.rs
  tests/all/component_model/import.rs
Labels: wasmtime:api, fuzzing

#4614 x64: Finish migrating brz and brnz to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
Labels: cranelift, cranelift:area:x64, isle

#4598 [s390x, abi_impl] Add i128 support
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/s390x/arithmetic.clif
  cranelift/filetests/filetests/isa/s390x/bitops.clif
  cranelift/filetests/filetests/isa/s390x/bitwise.clif
  cranelift/filetests/filetests/isa/s390x/call.clif
  cranelift/filetests/filetests/isa/s390x/concat-split.clif
  cranelift/filetests/filetests/isa/s390x/conversions.clif
  cranelift/filetests/filetests/isa/s390x/icmp-i128.clif
  cranelift/filetests/filetests/isa/s390x/shift-rotate.clif
  cranelift/filetests/filetests/isa/s390x/vecmem-arch13.clif
  cranelift/filetests/filetests/isa/s390x/vecmem.clif
  cranelift/filetests/filetests/runtests/i128-arithmetic.clif
  cranelift/filetests/filetests/runtests/i128-bandnot.clif
  cranelift/filetests/filetests/runtests/i128-bextend.clif
  cranelift/filetests/filetests/runtests/i128-bint.clif
  cranelift/filetests/filetests/runtests/i128-bitops-count.clif
  cranelift/filetests/filetests/runtests/i128-bitops.clif
  cranelift/filetests/filetests/runtests/i128-bmask.clif
  cranelift/filetests/filetests/runtests/i128-bornot.clif
  cranelift/filetests/filetests/runtests/i128-br.clif
  cranelift/filetests/filetests/runtests/i128-bricmp-overflow.clif
  cranelift/filetests/filetests/runtests/i128-bricmp.clif
  cranelift/filetests/filetests/runtests/i128-bxornot.clif
  cranelift/filetests/filetests/runtests/i128-cls.clif
  cranelift/filetests/filetests/runtests/i128-concat-split.clif
  cranelift/filetests/filetests/runtests/i128-const.clif
  cranelift/filetests/filetests/runtests/i128-extend.clif
  cranelift/filetests/filetests/runtests/i128-icmp.clif
  cranelift/filetests/filetests/runtests/i128-ireduce.clif
  cranelift/filetests/filetests/runtests/i128-load-store.clif
  cranelift/filetests/filetests/runtests/i128-rotate.clif
  cranelift/filetests/filetests/runtests/i128-select.clif
  cranelift/filetests/filetests/runtests/i128-shifts-small-types.clif
  cranelift/filetests/filetests/runtests/i128-shifts.clif
Labels: cranelift, cranelift:area:machinst

#4597 Add a dataflow-based representation of components
  Cargo.lock
  crates/environ/examples/factc.rs
  crates/environ/src/component.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/adapt.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/types.rs
  crates/environ/src/fact.rs
  crates/wasmtime/src/component/instance.rs
  crates/wast/Cargo.toml
  crates/wast/src/wast.rs
Labels: wasmtime:api

#4615 x64: Migrate br_table to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/branches.clif
Labels: cranelift, cranelift:area:x64, isle

#4617 s390x: Implement bitrev
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/filetests/filetests/isa/s390x/bitops.clif
  cranelift/filetests/filetests/runtests/bitrev.clif
  cranelift/filetests/filetests/runtests/i128-bitrev.clif
Labels: cranelift

#4620 Bump Wasmtime to 0.41.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/asm-macros/Cargo.toml
  crates/cache/Cargo.toml
  crates/cli-flags/Cargo.toml
  crates/component-macro/Cargo.toml
  crates/component-util/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#4619 x64: Migrate selectif and selectif_spectre_guard to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#4621 Cranelift: Remove unused `ABICaller::signature` method
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
Labels: cranelift, cranelift:area:machinst

#4608 Convert `fma`, `valltrue` & `vanytrue` to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/floating-point.clif
  cranelift/filetests/filetests/isa/aarch64/simd-valltrue.clif
  cranelift/filetests/filetests/runtests/simd-fma-64bit.clif
  cranelift/filetests/filetests/runtests/simd-fma.clif
  cranelift/filetests/filetests/runtests/simd-valltrue-64bit.clif
  cranelift/filetests/filetests/runtests/simd-vanytrue-64bit.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64

#4624 Some little Cranelift logging things
  cranelift/Cargo.toml
  cranelift/filetests/src/runone.rs
  cranelift/filetests/src/test_run.rs
Labels: cranelift

#4627 AArch64: don't assert inst within worst-case size when island emitted.
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
Labels: cranelift, cranelift:area:aarch64

#4628 Backport: AArch64: don't assert inst within worst-case size when island emitted (#4627).
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
Labels: cranelift, cranelift:area:aarch64

#4623 Implement strings in adapter modules
  Cargo.lock
  crates/component-util/src/lib.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/fuzz/fuzz_targets/fact-valid-module.rs
  crates/environ/src/component.rs
  crates/environ/src/component/compiler.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate/adapt.rs
  crates/environ/src/component/types.rs
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/environ/src/fact.rs
  crates/environ/src/fact/trampoline.rs
  crates/environ/src/fact/transcode.rs
  crates/environ/src/fact/traps.rs
  crates/environ/src/module.rs
  crates/environ/src/vmoffsets.rs
  crates/misc/component-test-util/src/lib.rs
  crates/runtime/Cargo.toml
  crates/runtime/src/component.rs
  crates/runtime/src/component/transcode.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/config.rs
  deny.toml
  supply-chain/config.toml
  tests/all/component_model.rs
  tests/all/component_model/strings.rs
  tests/misc_testsuite/component-model/strings.wast
Labels: wasmtime:api, wasmtime:config

#4640 Implement roundtrip fuzzing of component adapters
  crates/component-util/src/lib.rs
  crates/environ/src/fact.rs
  crates/environ/src/fact/signature.rs
  crates/environ/src/fact/trampoline.rs
  crates/environ/src/fact/transcode.rs
  crates/fuzzing/src/generators/component_types.rs
  crates/fuzzing/src/oracles.rs
  crates/misc/component-fuzz-util/src/lib.rs
  crates/wasmtime/src/component/values.rs
  fuzz/build.rs
  tests/misc_testsuite/component-model/fused.wast
Labels: wasmtime:api, fuzzing

#4638 Split `Fmla` and `Bsl` out into new `VecRRRMod` op
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
Labels: cranelift, cranelift:area:aarch64

#4639 Port `AvgRound` & `SqmulRoundSat` to ISLE (AArch64)
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/simd-arithmetic.clif
  cranelift/filetests/filetests/runtests/simd-arithmetic.clif
  cranelift/filetests/filetests/runtests/simd-avg-round.clif
Labels: cranelift, cranelift:meta, cranelift:area:aarch64

#4643 wasmtime: Add a `Config::native_unwind_info` method
  crates/fuzzing/src/generators/config.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  tests/all/traps.rs
Labels: wasmtime:api, fuzzing, wasmtime:config

#4644 VCode emission: account for RA spill/reload/moves in worst-case block size.
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst

#4636 Treat edge blocks as cold if they generated as part of a cold block
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/blockorder.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64

#4649 Backport: VCode emission: account for RA spill/reload/moves in worst-case block size. (#4644)
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst

#4589 cranelift: Fuzz Argument Extensions in clif-fuzzer
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#4625 x64: Peephole optimization for `x < 0`
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/b1.clif
  cranelift/filetests/filetests/isa/x64/branches.clif
Labels: cranelift, cranelift:area:x64

#4652 Cranelift: MachBuffer: apply branch peephole opts one last time at buffer tail.
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/buffer.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64

#4653 Remove some dead code from the abi code
  cranelift/codegen/src/ir/extfunc.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/docs/ir.md
  cranelift/filetests/filetests/parser/call.clif
  cranelift/reader/src/parser.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, cranelift:docs

#4654 cranelift: Fuzz cold blocks
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#4658 Deduplicate some size/align calculations
  Cargo.lock
  crates/component-macro/src/lib.rs
  crates/component-util/src/lib.rs
  crates/environ/fuzz/Cargo.toml
  crates/environ/fuzz/fuzz_targets/fact-valid-module.rs
  crates/environ/src/component/types.rs
  crates/environ/src/fact/signature.rs
  crates/environ/src/fact/trampoline.rs
  crates/misc/component-test-util/src/lib.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/mod.rs
  crates/wasmtime/src/component/types.rs
  crates/wasmtime/src/component/values.rs
Labels: wasmtime:api

#4453 cranelift: Use `cranelift-jit` in runtests
  Cargo.lock
  cranelift/filetests/Cargo.toml
  cranelift/filetests/filetests/runtests/ceil.clif
  cranelift/filetests/filetests/runtests/floor.clif
  cranelift/filetests/filetests/runtests/fma-interpreter.clif
  cranelift/filetests/filetests/runtests/nearest.clif
  cranelift/filetests/filetests/runtests/trunc.clif
  cranelift/filetests/src/function_runner.rs
  cranelift/filetests/src/test_run.rs
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/jit/src/backend.rs
  cranelift/src/run.rs
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
Labels: cranelift, fuzzing

#4645 x64: Remove unnecessary register use when comparing against constants
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/b1.clif
Labels: cranelift, cranelift:area:x64, isle

#4672 [fuzz] Fix order of arguments passed in to `wasm-spec-interpreter`
  crates/fuzzing/wasm-spec-interpreter/ocaml/interpret.ml
  crates/fuzzing/wasm-spec-interpreter/src/with_library.rs
  crates/fuzzing/wasm-spec-interpreter/tests/shr_s.wat
Labels: fuzzing

#4609 Shield compiled modules from their appended metadata
  crates/wasmtime/src/module/serialization.rs
Labels: wasmtime:api

#4670 cranelift: Upgrade libm to 0.2.4
  Cargo.lock
  cranelift/filetests/filetests/runtests/fma-interpreter.clif
  cranelift/filetests/filetests/runtests/fma.clif
  cranelift/interpreter/Cargo.toml
  supply-chain/audits.toml
Labels: cranelift

#4660 Update 0.40.0 release notes
  RELEASES.md
Labels: wasmtime:docs

#4616 s390x: Implement tls_value
  cranelift/codegen/src/binemit/mod.rs
  cranelift/codegen/src/ir/extname.rs
  cranelift/codegen/src/ir/known_symbol.rs
  cranelift/codegen/src/ir/libcall.rs
  cranelift/codegen/src/ir/mod.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/s390x/tls_elf.clif
  cranelift/module/src/lib.rs
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:area:machinst, cranelift:module

#4634 Fix sret for AArch64
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/x64/struct-ret.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, cranelift:docs

#4650 x64: Migrate fcvt_from_sint and fcvt_low_from_sint to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/fcvt.clif
Labels: cranelift, cranelift:area:x64, isle

#4666 Stop returning `NOTCAPABLE` errors from WASI calls.
  crates/test-programs/wasi-tests/src/bin/path_open_read_without_rights.rs
  crates/test-programs/wasi-tests/src/bin/truncation_rights.rs
  crates/wasi-common/src/dir.rs
  crates/wasi-common/src/error.rs
  crates/wasi-common/src/file.rs
  crates/wasi-common/src/snapshots/preview_1.rs
Labels: wasi

#4655 Don't use libtest harness for filetests
  cranelift/Cargo.toml
  cranelift/tests/filetests.rs
Labels: cranelift

#4590 cranelift: Build a runtest case from fuzzer TestCase's
  cranelift/fuzzgen/src/lib.rs
Labels: cranelift

#4375 cranelift: Implement pinned reg in interpreter
  cranelift/filetests/filetests/runtests/pinned-reg.clif
  cranelift/interpreter/src/interpreter.rs
  cranelift/interpreter/src/state.rs
  cranelift/interpreter/src/step.rs
Labels: cranelift

#4683 [fuzz] Document Wasm-JS conversions
  crates/fuzzing/src/oracles/v8.rs
Labels: fuzzing

#4546 cranelift: Add COFF TLS Support
  cranelift/codegen/src/binemit/mod.rs
  cranelift/codegen/src/ir/known_symbol.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/tls_coff.clif
  cranelift/module/src/lib.rs
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module, cranelift:area:x64

#4519 cranelift: Fix shifts and implement rotates in interpreter
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/runtests/i128-rotate.clif
  cranelift/filetests/filetests/runtests/i128-shifts-small-types.clif
  cranelift/filetests/filetests/runtests/i128-shifts.clif
  cranelift/filetests/filetests/runtests/rotl.clif
  cranelift/filetests/filetests/runtests/rotr.clif
  cranelift/filetests/filetests/runtests/shifts.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift, cranelift:area:x64

#4689 [fuzz] Remove unnecessary allocation
  crates/fuzzing/src/generators/single_inst_module.rs
Labels: fuzzing

#4684 x64: Lower fcvt_from_uint in ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/fcvt-simd.clif
  cranelift/filetests/filetests/isa/x64/fcvt.clif
Labels: cranelift, cranelift:area:x64, isle

#4539 x64: Add native lowering for scalar `fma`
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/fma-call.clif
  cranelift/filetests/filetests/isa/x64/fma-inst.clif
  cranelift/filetests/filetests/runtests/fma.clif
Labels: cranelift, cranelift:area:x64, isle

#4700 cranelift: Add shifts and extends to fuzzer
  cranelift/filetests/filetests/runtests/shifts-small-types.clif
  cranelift/filetests/filetests/runtests/shifts.clif
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#4602 cranelift: Sign extend immediates in instructions that embed them.
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/legalizer/mod.rs
  cranelift/filetests/filetests/runtests/i128-arithmetic.clif
Labels: cranelift, cranelift:meta

#4706 cranelift: Fix `icmp.i128 eq` for aarch64
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/filetests/filetests/isa/aarch64/condbr.clif
  cranelift/filetests/filetests/runtests/i128-icmp.clif
Labels: cranelift, cranelift:area:aarch64

#4701 Cranelift: Remove `ABICallee` trait
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#4673 Rename `MmapVec::drain` to `split_off`
  crates/runtime/src/mmap_vec.rs
  crates/wasmtime/src/module/serialization.rs
Labels: wasmtime:api

#4716 Fix a bad bounds check in component trampolines
  crates/environ/src/fact/trampoline.rs
  crates/wasmtime/src/component/values.rs
Labels: wasmtime:api

#4719 [cranelift] Re-add missing blanket implementations for `&mut Module`
  cranelift/module/src/module.rs
Labels: cranelift, cranelift:module

#4704 x64: Lower fcvt_to_{u,s}int{,_sat} in ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/runtests/simd-conversion.clif
Labels: cranelift, cranelift:area:x64, isle

#4708 Refactor and optimize the flat type calculations
  crates/component-macro/src/lib.rs
  crates/component-util/src/lib.rs
  crates/environ/examples/factc.rs
  crates/environ/fuzz/fuzz_targets/fact-valid-module.rs
  crates/environ/src/component/translate/adapt.rs
  crates/environ/src/component/types.rs
  crates/environ/src/fact.rs
  crates/environ/src/fact/signature.rs
  crates/environ/src/fact/trampoline.rs
  crates/misc/component-fuzz-util/src/lib.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/types.rs
  crates/wasmtime/src/component/values.rs
Labels: wasmtime:api

#4718 x64: Migrate iadd_pairwise to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/simd-pairwise-add.clif
Labels: cranelift, cranelift:area:x64, isle

#4702 Fix mis-aligned access issues with s390x
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/filetests/filetests/isa/s390x/atomic_load-little.clif
  cranelift/filetests/filetests/isa/s390x/atomic_load.clif
  cranelift/filetests/filetests/isa/s390x/atomic_store-little.clif
  cranelift/filetests/filetests/isa/s390x/atomic_store.clif
  cranelift/filetests/filetests/isa/s390x/icmp.clif
  cranelift/filetests/filetests/isa/s390x/load-little.clif
  cranelift/filetests/filetests/isa/s390x/load.clif
  cranelift/filetests/filetests/isa/s390x/store-little.clif
  cranelift/filetests/filetests/isa/s390x/store.clif
  cranelift/frontend/src/frontend.rs
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#4725 Print constants in a comment in CLIF output
  cranelift/codegen/src/write.rs
  cranelift/filetests/filetests/verifier/type_check.clif
  cranelift/frontend/src/frontend.rs
  cranelift/frontend/src/switch.rs
  cranelift/src/bugpoint.rs
  cranelift/tests/bugpoint_consts_expected.clif
  cranelift/tests/bugpoint_test_expected.clif
Labels: cranelift

#4715 Upgrade wasm-tools crates, namely the component model
  Cargo.lock
  Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/sections_translator.rs
  crates/component-macro/src/lib.rs
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/environ/fuzz/Cargo.toml
  crates/environ/fuzz/fuzz_targets/fact-valid-module.rs
  crates/environ/src/component/types.rs
  crates/environ/src/fact/signature.rs
  crates/environ/src/fact/trampoline.rs
  crates/environ/src/module_environ.rs
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators/component_types.rs
  crates/fuzzing/src/oracles.rs
  crates/misc/component-fuzz-util/src/lib.rs
  crates/misc/component-test-util/src/lib.rs
  crates/types/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/component/linker.rs
  crates/wasmtime/src/component/mod.rs
  crates/wasmtime/src/component/types.rs
  crates/wasmtime/src/component/values.rs
  crates/wast/Cargo.toml
  crates/wast/src/component.rs
  crates/wast/src/spectest.rs
  crates/wast/src/wast.rs
  fuzz/build.rs
  supply-chain/audits.toml
  tests/all/component_model/dynamic.rs
  tests/all/component_model/func.rs
  tests/all/component_model/import.rs
  tests/all/component_model/macros.rs
  tests/all/component_model/nested.rs
  tests/all/component_model/post_return.rs
  tests/all/component_model/strings.rs
  tests/misc_testsuite/component-model/adapter.wast
  tests/misc_testsuite/component-model/fused.wast
  tests/misc_testsuite/component-model/simple.wast
  tests/misc_testsuite/component-model/types.wast
  tests/misc_testsuite/threads/load-store-alignment.wast
Labels: wasmtime:api, cranelift, fuzzing, cranelift:wasm

#4720 Enable back-edge CFI by default on macOS
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/native/src/lib.rs
  crates/fiber/src/lib.rs
  crates/fiber/src/unix/aarch64.rs
  crates/fuzzing/src/generators/codegen_settings.rs
Labels: cranelift, fuzzing, cranelift:area:aarch64

#4728 x64: Refactor vector_all_ones, and remove buggy sse_cmp_op
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
Labels: cranelift, cranelift:area:x64

#4732 Make the subtract lazy in the icache fuzz target
  fuzz/fuzz_targets/cranelift-icache.rs
Labels: fuzzing

#4722 x64: Lower widening and narrowing operations in ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/narrowing.clif
  cranelift/filetests/filetests/isa/x64/widening.clif
Labels: cranelift, cranelift:area:x64, isle

#4515 [fuzz] Add a meta-differential fuzz target
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/module.rs
  crates/fuzzing/src/generators/single_inst_module.rs
  crates/fuzzing/src/generators/value.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/diff_spec.rs
  crates/fuzzing/src/oracles/diff_wasmi.rs
  crates/fuzzing/src/oracles/diff_wasmtime.rs
  crates/fuzzing/src/oracles/engine.rs
  crates/fuzzing/wasm-spec-interpreter/src/with_library.rs
  crates/fuzzing/wasm-spec-interpreter/src/without_library.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/differential_meta.rs
Labels: fuzzing

#4729 x64: Lower bitcast, fabs, and fneg in ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/bitcast.clif
  cranelift/filetests/filetests/isa/x64/fabs.clif
  cranelift/filetests/filetests/isa/x64/floating-point.clif
  cranelift/filetests/filetests/isa/x64/fneg.clif
Labels: cranelift, cranelift:area:x64, isle

#4735 [fuzz] Remove some differential fuzz targets
  .github/workflows/main.yml
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/v8.rs
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/differential_spec.rs
  fuzz/fuzz_targets/differential_wasmi.rs
Labels: fuzzing

#4737 [fuzz] Remove more fuzz targets
  crates/fuzzing/src/oracles.rs
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/differential.rs
  fuzz/fuzz_targets/differential_meta.rs
Labels: fuzzing

#4739 Port v8 fuzzer to the new framework
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/value.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/diff_spec.rs
  crates/fuzzing/src/oracles/diff_v8.rs
  crates/fuzzing/src/oracles/diff_wasmi.rs
  crates/fuzzing/src/oracles/diff_wasmtime.rs
  crates/fuzzing/src/oracles/engine.rs
  crates/fuzzing/src/oracles/v8.rs
  crates/fuzzing/wasm-spec-interpreter/src/lib.rs
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/differential.rs
  fuzz/fuzz_targets/differential_v8.rs
Labels: fuzzing

#4740 x64: Fix load sinking bugs in new lowerings
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/machinst/lower.rs
  cranelift/filetests/filetests/isa/x64/widen-high-bug.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64

#4738 Fix Invalid Instruction format in fuzzgen
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/src/ir/builder.rs
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift, cranelift:meta

#4630 Cranelift: extend docs on Inst to discuss `call` instructions
  cranelift/codegen/src/ir/entities.rs
Labels: cranelift

#4744 Release Wasmtime 0.40.0
  RELEASES.md
Labels: wasmtime:docs

#4743 Update release date of Wasmtime 0.40.0
  RELEASES.md
Labels: wasmtime:docs

#4730 x64: Lower fcopysign, ceil, floor, nearest, and trunc in ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/ceil-libcall.clif
  cranelift/filetests/filetests/isa/x64/ceil.clif
  cranelift/filetests/filetests/isa/x64/fcopysign.clif
  cranelift/filetests/filetests/isa/x64/floor-libcall.clif
  cranelift/filetests/filetests/isa/x64/floor.clif
  cranelift/filetests/filetests/isa/x64/nearest-libcall.clif
  cranelift/filetests/filetests/isa/x64/nearest.clif
  cranelift/filetests/filetests/isa/x64/trunc-libcall.clif
  cranelift/filetests/filetests/isa/x64/trunc.clif
Labels: cranelift, cranelift:area:x64, isle

#4748 Port `FuncAddr` & `SymbolValue` to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#4750 Port `vconst` to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/runtests/simd-vconst-64bit.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64

#4751 Port widening ops to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_dynamic_neon.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/simd-pairwise-add.clif
  cranelift/filetests/filetests/runtests/simd-iaddpairwise-64bit.clif
Labels: cranelift, cranelift:area:aarch64

#4741 x64: Lower stack_addr, udiv, sdiv, urem, srem, umulhi, smulhi in ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/sdiv.clif
  cranelift/filetests/filetests/isa/x64/smulhi.clif
  cranelift/filetests/filetests/isa/x64/srem.clif
  cranelift/filetests/filetests/isa/x64/udiv.clif
  cranelift/filetests/filetests/isa/x64/umulhi.clif
  cranelift/filetests/filetests/isa/x64/urem.clif
Labels: cranelift, cranelift:area:x64, isle

#4762 Update README prose a little bit
  README.md
Labels: wasmtime:docs

#4763 x64: Migrate get_pinned_reg, set_pinned_reg, vconst, and raw_bitcast to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#4764 Don't limit ExternalName::TestName length
  cranelift/codegen/src/ir/extname.rs
  cranelift/filetests/filetests/isa/aarch64/call-pauth.clif
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/aarch64/reftypes.clif
  cranelift/filetests/filetests/isa/aarch64/stack-limit.clif
  cranelift/filetests/filetests/isa/aarch64/symbol-value.clif
  cranelift/filetests/filetests/runtests/bint.clif
  cranelift/filetests/filetests/runtests/fibonacci.clif
  cranelift/filetests/filetests/runtests/i128-bint.clif
  cranelift/filetests/filetests/runtests/icmp.clif
  cranelift/filetests/filetests/runtests/simd-icmp-nof.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sge.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sgt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sle.clif
  cranelift/filetests/filetests/runtests/simd-icmp-slt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-uge.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ugt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ule.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ult.clif
  cranelift/filetests/filetests/runtests/stack-addr-32.clif
  cranelift/filetests/filetests/runtests/stack.clif
  cranelift/filetests/filetests/simple_preopt/branch.clif
Labels: cranelift

#4752 x64: Mask shift amounts for small types
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/ishl.clif
  cranelift/filetests/filetests/isa/x64/sshr.clif
  cranelift/filetests/filetests/isa/x64/ushr.clif
  cranelift/filetests/filetests/runtests/i128-shifts-small-types.clif
  cranelift/filetests/filetests/runtests/i128-shifts.clif
  cranelift/filetests/filetests/runtests/shifts.clif
Labels: cranelift, cranelift:area:x64, isle

#4768 cranelift: Avoid lowering VEX instructions with memory encodings
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/filetests/filetests/runtests/fma.clif
Labels: cranelift, cranelift:area:x64

#4753 Port `Fcopysign`..`FcvtToSintSat` to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/fcvt-small.clif
  cranelift/filetests/filetests/isa/aarch64/floating-point.clif
  cranelift/filetests/filetests/runtests/simd-fcopysign-64bit.clif
  cranelift/filetests/filetests/runtests/simd-fcopysign.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift, cranelift:area:aarch64

#4774 [fuzz] Simplify macros used by single-instruction generator
  crates/fuzzing/src/generators/single_inst_module.rs
Labels: fuzzing

#4772 x64: Lower shuffle and swizzle in ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/shuffle-avx512.clif
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/runtests/simd-shuffle.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#4775 Update ISLE error message: unknown term in expr, not pattern.
  cranelift/isle/isle/isle_examples/fail/extra_parens.isle
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#4773 [fuzz] Configure the `differential` target
  crates/fuzzing/src/oracles/engine.rs
  fuzz/fuzz_targets/differential.rs
Labels: fuzzing

#4780 x64: Lower extractlane, scalar_to_vector, and splat in ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/extractlane.clif
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#4777 Implement I/O timeouts that specify the REALTIME clock.
  crates/wasi-common/src/snapshots/preview_1.rs
Labels: wasi

#4787 x64: Lower vany_true, vall_true, vhigh_bits, iconcat, and isplit in ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/filetests/filetests/isa/x64/ishl.clif
  cranelift/filetests/filetests/isa/x64/simd-logical-compile.clif
  cranelift/filetests/filetests/isa/x64/sshr.clif
  cranelift/filetests/filetests/isa/x64/ushr.clif
  cranelift/filetests/filetests/isa/x64/vhigh_bits.clif
Labels: cranelift, cranelift:area:x64

#4784 Make wasi-common-std-sync's dependency on system-interface private.
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/cap-std-sync/src/file.rs
  crates/wasi-common/cap-std-sync/src/net.rs
Labels: wasi

#4776 Implement the remaining socket-related WASI functions.
  Cargo.lock
  crates/wasi-common/README.md
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/cap-std-sync/src/file.rs
  crates/wasi-common/cap-std-sync/src/net.rs
  supply-chain/audits.toml
  supply-chain/config.toml
Labels: wasi

#4667 cranelift: Allow `call` and `call_indirect` in runtests
  cranelift/codegen/src/ir/extname.rs
  cranelift/filetests/filetests/runtests/atomic-rmw-subword-big.clif
  cranelift/filetests/filetests/runtests/call.clif
  cranelift/filetests/filetests/runtests/call_indirect.clif
  cranelift/filetests/filetests/runtests/call_libcall.clif
  cranelift/filetests/filetests/runtests/fibonacci.clif
  cranelift/filetests/filetests/runtests/i128-bricmp.clif
  cranelift/filetests/filetests/runtests/i128-call.clif
  cranelift/filetests/filetests/runtests/simd-bitselect.clif
  cranelift/filetests/filetests/runtests/simd-vselect.clif
  cranelift/filetests/src/function_runner.rs
  cranelift/filetests/src/lib.rs
  cranelift/filetests/src/runone.rs
  cranelift/filetests/src/subtest.rs
  cranelift/filetests/src/test_run.rs
  cranelift/src/run.rs
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
Labels: cranelift, fuzzing

#4790 x64: Ensure that constants are always 16 bytes for XmmMem
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/runtests/x64-xmm-mem-align-bug.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#4788 AArch64: Migrate calls and returns to ISLE.
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/call-pauth.clif
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/aarch64/constants.clif
  cranelift/filetests/filetests/isa/aarch64/reftypes.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#4793 x64: Lower tlsvalue, sqmul_round_sat, and uunarrow in ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/sqmul_round_sat.clif
  cranelift/filetests/filetests/isa/x64/uunarrow.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#4795 cranelift-fuzzgen: use a different namespace
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#4794 Modifies fcvt_to_sint and fcvt_to_unit clif to make scalar only
  cranelift/codegen/meta/src/shared/instructions.rs
Labels: cranelift, cranelift:meta

#4796 AArch64: port misc ops to ISLE.
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/bitcast.clif
  cranelift/filetests/filetests/isa/aarch64/dynamic-slot.clif
  cranelift/filetests/filetests/isa/aarch64/fcvt.clif
  cranelift/filetests/filetests/isa/aarch64/reftypes.clif
  cranelift/filetests/filetests/isa/aarch64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/aarch64/simd-comparison-legalize.clif
  cranelift/filetests/filetests/isa/aarch64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/aarch64/simd-logical-compile.clif
  cranelift/filetests/filetests/isa/aarch64/simd-pairwise-add.clif
  cranelift/filetests/filetests/isa/aarch64/stack.clif
  cranelift/filetests/filetests/isa/aarch64/traps.clif
  cranelift/filetests/filetests/isa/aarch64/vhigh_bits.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64

#4782 cranelift: Add LibCalls to the interpreter
  Cargo.lock
  cranelift/codegen/src/ir/libcall.rs
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/interpreter/src/interpreter.rs
  cranelift/interpreter/src/state.rs
  cranelift/interpreter/src/step.rs
  cranelift/module/src/lib.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
Labels: cranelift, fuzzing, cranelift:module

#4771 cranelift: Disable i128 divs on fuzzgen
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#4783 cranelift: Enable i128 shifts on fuzzer
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#4797 Disable funcref generation for fuzz tests with inputs
  cranelift/fuzzgen/src/lib.rs
Labels: cranelift

#4806 Don't let fuzz targets import `arbitrary` directly
  crates/misc/component-fuzz-util/src/lib.rs
  fuzz/Cargo.toml
  fuzz/build.rs
  fuzz/fuzz_targets/component_api.rs
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
Labels: fuzzing

#4805 cranelift: Merge `abi` and `abi_impl` modules
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/mod.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#4800 cranelift: Register all functions in test file for interpreter
  cranelift/filetests/filetests/runtests/bnot.clif
  cranelift/filetests/filetests/runtests/call.clif
  cranelift/filetests/filetests/runtests/i128-bnot.clif
  cranelift/filetests/filetests/runtests/i128-call.clif
  cranelift/filetests/src/test_interpret.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#4804 Improve the `fmt` output of the instantiate fuzz target
  fuzz/fuzz_targets/instantiate.rs
Labels: fuzzing

#4785 AArch64: port load and store operations to ISLE.
  cranelift/codegen/src/ir/dynamic_type.rs
  cranelift/codegen/src/ir/mod.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/amodes.clif
  cranelift/filetests/filetests/isa/aarch64/heap_addr.clif
  cranelift/filetests/filetests/isa/aarch64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/aarch64/simd.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64

#4815 Fix lowering issue in x64 vany_true: sinking and using original value.
  cranelift/codegen/src/isa/x64/lower.isle
  tests/misc_testsuite/simd/issue4807.wast
Labels: cranelift, cranelift:area:x64

#4606 Android support
  crates/c-api/CMakeLists.txt
Labels: wasmtime:c-api

#4819 Port `fcmp` to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/simd-logical-compile.clif
  cranelift/filetests/filetests/runtests/simd-conversion.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64

#4809 x64: Lower nop in ISLE
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
Labels: cranelift, cranelift:area:x64

#4821 AArch64: port `tls_value` to ISLE.
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/filetests/filetests/isa/aarch64/tls-elf-gd.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64

#4817 cranelift: Register all functions in test file for interpreter
  cranelift/filetests/filetests/runtests/bnot.clif
  cranelift/filetests/filetests/runtests/call.clif
  cranelift/filetests/filetests/runtests/i128-bnot.clif
  cranelift/filetests/filetests/runtests/i128-call.clif
  cranelift/filetests/src/test_interpret.rs
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#4811 x64: clean up regalloc-related semantics on several instructions.
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/filetests/filetests/isa/x64/branches.clif
  cranelift/filetests/filetests/isa/x64/div-checks.clif
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/isa/x64/sdiv.clif
  cranelift/filetests/filetests/isa/x64/shuffle-avx512.clif
  cranelift/filetests/filetests/isa/x64/srem.clif
  cranelift/filetests/filetests/isa/x64/udiv.clif
  cranelift/filetests/filetests/isa/x64/urem.clif
Labels: cranelift, cranelift:area:x64, isle

#4833 cranelift: Add some filetests documentation
  cranelift/filetests/README.md
Labels: cranelift

#4825 components: Limit the recursive size of types in Wasmtime
  crates/environ/src/component/types.rs
  crates/environ/src/fact/trampoline.rs
  crates/misc/component-fuzz-util/src/lib.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/types.rs
  tests/misc_testsuite/component-model/types.wast
Labels: wasmtime:api

#4834 Backport stack trace panic fix to 0.40
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/runtime/src/table.rs
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/traphandlers/backtrace.rs
  crates/wasmtime/src/trap.rs
  tests/all/async_functions.rs
  tests/all/traps.rs
Labels: wasmtime:api, wasmtime:docs

#4829 Cranelift: Deduplicate ABI signatures during lowering
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#4835 Release Wasmtime 0.40.1
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/asm-macros/Cargo.toml
  crates/cache/Cargo.toml
  crates/cli-flags/Cargo.toml
  crates/component-macro/Cargo.toml
  crates/component-util/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle

#4826 Align functions according to their ISA's requirements
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/jit/src/backend.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/obj.rs
  crates/environ/src/compilation.rs
Labels: cranelift, cranelift:area:machinst, cranelift:module, cranelift:area:aarch64, cranelift:area:x64
