Repository bytecodealliance/wasmtime, pull requests merged in 2022-09, with the labels that each got.

#4813 feat: add a knob for reset stack
  crates/fuzzing/src/generators/config.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/unix.rs
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, fuzzing, wasmtime:config

#4841 x64: improve tests for `heap_addr`
  cranelift/filetests/filetests/isa/x64/heap-no-spectre.clif
  cranelift/filetests/filetests/isa/x64/heap.clif
Labels: cranelift

#4830 aarch64: fix up regalloc2 semantics.
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/filetests/filetests/isa/aarch64/amodes.clif
  cranelift/filetests/filetests/isa/aarch64/atomic-rmw-lse.clif
  cranelift/filetests/filetests/isa/aarch64/atomic-rmw.clif
  cranelift/filetests/filetests/isa/aarch64/bitops.clif
  cranelift/filetests/filetests/isa/aarch64/constants.clif
  cranelift/filetests/filetests/isa/aarch64/dynamic-simd-narrow.clif
  cranelift/filetests/filetests/isa/aarch64/dynamic-simd-neon.clif
  cranelift/filetests/filetests/isa/aarch64/floating-point.clif
  cranelift/filetests/filetests/isa/aarch64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/aarch64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/aarch64/simd-narrow.clif
  cranelift/filetests/filetests/isa/aarch64/simd.clif
  cranelift/filetests/filetests/isa/aarch64/simd_load_zero.clif
  cranelift/filetests/filetests/isa/aarch64/stack-limit.clif
  cranelift/filetests/filetests/isa/aarch64/stack.clif
  cranelift/filetests/filetests/isa/aarch64/vhigh_bits.clif
Labels: cranelift, cranelift:area:aarch64

#4747 cranelift: Add inline stack probing for x64
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/settings.rs
  cranelift/filetests/filetests/isa/x64/inline-probestack-large.clif
  cranelift/filetests/filetests/isa/x64/inline-probestack.clif
  cranelift/filetests/filetests/runtests/i128-load-store.clif
  cranelift/filetests/filetests/runtests/inline-probestack.clif
  cranelift/filetests/filetests/runtests/stack.clif
  cranelift/filetests/src/test_run.rs
  crates/wasmtime/src/engine.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#4842 x64: fix CvtFloatToUintSeq: do not clobber src.
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  tests/misc_testsuite/issue4840.wast
Labels: cranelift, cranelift:area:x64

#4832 Cranelift AArch64: Migrate AMode to ISLE
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
Labels: cranelift, cranelift:area:aarch64

#4831 Cranelift AArch64: Fix the atomic memory operations
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
Labels: cranelift, cranelift:area:aarch64

#4849 cranelift: Implement PartialEq on Ieee{32,64}
  cranelift/codegen/src/ir/immediates.rs
  cranelift/filetests/filetests/runtests/fcmp-eq.clif
  cranelift/filetests/filetests/runtests/fcmp-ge.clif
  cranelift/filetests/filetests/runtests/fcmp-gt.clif
  cranelift/filetests/filetests/runtests/fcmp-le.clif
  cranelift/filetests/filetests/runtests/fcmp-lt.clif
  cranelift/filetests/filetests/runtests/fcmp-ne.clif
  cranelift/filetests/filetests/runtests/fcmp-one.clif
  cranelift/filetests/filetests/runtests/fcmp-ord.clif
  cranelift/filetests/filetests/runtests/fcmp-ueq.clif
  cranelift/filetests/filetests/runtests/fcmp-uge.clif
  cranelift/filetests/filetests/runtests/fcmp-ugt.clif
  cranelift/filetests/filetests/runtests/fcmp-ule.clif
  cranelift/filetests/filetests/runtests/fcmp-ult.clif
  cranelift/filetests/filetests/runtests/fcmp-uno.clif
  cranelift/filetests/filetests/runtests/fcmp.clif
  cranelift/interpreter/src/step.rs
  cranelift/reader/src/run_command.rs
Labels: cranelift

#4854 cranelift: Document Ieee{32,64} implementation
  cranelift/codegen/src/ir/immediates.rs
Labels: cranelift

#4845 Various improvements to differential fuzzing
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/module.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/diff_spec.rs
  crates/fuzzing/src/oracles/diff_v8.rs
  crates/fuzzing/src/oracles/diff_wasmi.rs
  crates/fuzzing/src/oracles/diff_wasmtime.rs
  crates/fuzzing/src/oracles/engine.rs
  fuzz/fuzz_targets/differential.rs
Labels: fuzzing

#4860 Make DataValue, not Ieee32/64, respect IEEE754
  cranelift/codegen/src/data_value.rs
  cranelift/codegen/src/ir/immediates.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
  tests/misc_testsuite/issue4857.wast
Labels: cranelift, cranelift:area:machinst

#4859 Throw out fewer fuzz inputs with differential fuzzer
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/single_inst_module.rs
  crates/fuzzing/src/oracles/diff_spec.rs
  crates/fuzzing/src/oracles/diff_v8.rs
  crates/fuzzing/src/oracles/diff_wasmi.rs
  crates/fuzzing/src/oracles/diff_wasmtime.rs
  crates/fuzzing/src/oracles/engine.rs
  fuzz/fuzz_targets/differential.rs
Labels: fuzzing

#4872 Prevent virtual memory OOM in spectest fuzzing
  crates/fuzzing/src/generators/config.rs
Labels: fuzzing

#4874 Bump Wasmtime to 2.0.0
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/asm-macros/Cargo.toml
  crates/cache/Cargo.toml
  crates/cli-flags/Cargo.toml
  crates/component-macro/Cargo.toml
  crates/component-util/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  scripts/publish.rs
Labels: cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle

#4862 cranelift-fuzzgen: Consume all trailing fuzz input
  cranelift/fuzzgen/src/lib.rs
Labels: cranelift

#4824 cranelift: Generate loads and stores in fuzzgen
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#4866 cranelift: Implement missing i128 rotates on AArch64
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/filetests/filetests/runtests/i128-rotate.clif
Labels: cranelift, cranelift:area:aarch64

#4863 Allocate less while constructing cranelift-fuzzgen tests
  cranelift/codegen/src/ir/dfg.rs
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#4876 x64: remove `Inst::XmmLoadConst`
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/isa/x64/immediates.clif
  cranelift/filetests/filetests/isa/x64/narrowing.clif
  cranelift/filetests/filetests/isa/x64/shuffle-avx512.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-pairwise-add.clif
  cranelift/filetests/filetests/isa/x64/sqmul_round_sat.clif
  cranelift/filetests/filetests/isa/x64/uunarrow.clif
Labels: cranelift, cranelift:area:x64, isle

#4878 Rework the ISA flag checking extractors for x64
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
Labels: cranelift, cranelift:area:x64, isle

#4873 Bump crates to 1.0.0 and add the release notes for 1.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/wasm/Cargo.toml
  crates/asm-macros/Cargo.toml
  crates/cache/Cargo.toml
  crates/cli-flags/Cargo.toml
  crates/component-macro/Cargo.toml
  crates/component-util/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: wasmtime:api, cranelift, wasi, wasmtime:docs, cranelift:wasm

#3693 Initial forward-edge CFI implementation
  cranelift/codegen/meta/src/isa/arm64.rs
  cranelift/codegen/src/alias_analysis.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/filetests/filetests/isa/aarch64/bti.clif
  cranelift/filetests/filetests/isa/aarch64/jumptable.clif
  cranelift/filetests/filetests/runtests/br_table.clif
  cranelift/jit/src/backend.rs
  cranelift/jit/src/memory.rs
  crates/cranelift/src/compiler.rs
  crates/environ/src/compilation.rs
  crates/fuzzing/src/generators/codegen_settings.rs
  crates/jit/src/code_memory.rs
  crates/jit/src/instantiate.rs
  crates/runtime/src/mmap.rs
  crates/runtime/src/mmap_vec.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/trampoline/func.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta, fuzzing, cranelift:area:aarch64, cranelift:area:x64

#4886 [1.0.0] Fix a release notes typo and fill out links
  RELEASES.md
Labels: wasmtime:docs

#4887 Cherry-pick #4882 to 1.0.0 release branch: clean error on too-large input.
  cranelift/codegen/src/machinst/lower.rs
Labels: cranelift, cranelift:area:machinst

#4856 s390x: update some regalloc metadata to remove use of `reg_mod`.
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/regs.rs
  cranelift/filetests/filetests/isa/s390x/atomic_cas-little.clif
  cranelift/filetests/filetests/isa/s390x/atomic_cas.clif
  cranelift/filetests/filetests/isa/s390x/atomic_rmw-arch13.clif
  cranelift/filetests/filetests/isa/s390x/atomic_rmw-little.clif
  cranelift/filetests/filetests/isa/s390x/atomic_rmw.clif
  cranelift/filetests/filetests/isa/s390x/bitops.clif
  cranelift/filetests/filetests/isa/s390x/bitwise.clif
  cranelift/filetests/filetests/isa/s390x/call.clif
  cranelift/filetests/filetests/isa/s390x/conversions.clif
  cranelift/filetests/filetests/isa/s390x/shift-rotate.clif
Labels: cranelift

#4893 Fix typo in examples-markdown.md
  docs/examples-markdown.md
Labels: wasmtime:docs

#4896 fuzzgen: Panic on failed NaN Canonicalization pass
  cranelift/fuzzgen/src/lib.rs
Labels: cranelift

#4895 fuzzgen: Continue execution on traps
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
Labels: fuzzing

#4891 Don't merge loads for xmm registers
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/fastcall.clif
  tests/misc_testsuite/issue4890.wast
Labels: cranelift, cranelift:area:x64, isle

#4888 Remove function_alignment from ObjectBuilder
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#4901 Backport #4891 to the 1.0.0 release branch
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/fastcall.clif
  tests/misc_testsuite/issue4890.wast
Labels: cranelift, cranelift:area:x64, isle

#4881 fuzz: improve the spec interpreter
  crates/fuzzing/src/oracles/diff_spec.rs
  crates/fuzzing/wasm-spec-interpreter/build.rs
  crates/fuzzing/wasm-spec-interpreter/ocaml/interpret.ml
  crates/fuzzing/wasm-spec-interpreter/src/lib.rs
  crates/fuzzing/wasm-spec-interpreter/src/with_library.rs
  crates/fuzzing/wasm-spec-interpreter/src/without_library.rs
  crates/fuzzing/wasm-spec-interpreter/tests/memory.wat
  fuzz/fuzz_targets/differential.rs
Labels: fuzzing

#4898 Port `icmp` to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/condbr.clif
  cranelift/filetests/filetests/isa/aarch64/iconst-icmp-small.clif
  cranelift/filetests/filetests/isa/aarch64/simd-comparison-legalize.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#4867 cranelift: Prepare fuzzgen for AArch64
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#4914 fuzzgen: Disable verifier after NaN Canonicalization
  cranelift/fuzzgen/src/lib.rs
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
  fuzz/fuzz_targets/cranelift-icache.rs
Labels: cranelift, fuzzing

#4915 Flatten `and` patterns in ISLE
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#4894 fuzzgen: Mostly Forward Branching
  cranelift/fuzzgen/src/config.rs
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#4917 Optimize the WASI `random_get` implementation.
  Cargo.lock
  crates/bench-api/Cargo.toml
  crates/c-api/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/cap-std-sync/src/lib.rs
  crates/wasi-common/tokio/Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
Labels: wasmtime:c-api, wasi

#4918 Limit linear memories when fuzzing with pooling
  crates/fuzzing/src/generators/config.rs
Labels: fuzzing

#4924 Memoize `can_optimize_var_lookup`
  cranelift/frontend/src/ssa.rs
Labels: cranelift

#4884 Interpreter: Implement floating point conversions
  cranelift/filetests/filetests/runtests/conversion.clif
  cranelift/filetests/filetests/runtests/conversions-load-store.clif
  cranelift/filetests/filetests/runtests/i128-conversion.clif
  cranelift/filetests/filetests/runtests/simd-conversion.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#4935 Update Rust lang doc for 1.0.0 dependency
  docs/lang-rust.md
Labels: wasmtime:docs

#4820 Vector bitcast support (AArch64 & Interpreter)
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/filetests/filetests/runtests/bitcast-ref64.clif
  cranelift/filetests/filetests/runtests/bitcast-same-type.clif
  cranelift/filetests/filetests/runtests/bitcast.clif
  cranelift/filetests/filetests/runtests/copy.clif
  cranelift/filetests/filetests/runtests/simd-bitcast.clif
  cranelift/filetests/filetests/runtests/simd-copy-64bit.clif
  cranelift/filetests/filetests/runtests/simd-copy.clif
  cranelift/filetests/filetests/verifier/bitcast.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift, cranelift:meta, cranelift:area:aarch64

#4913 Improve `fcvt_to_{u,s}int_sat` lowering (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/filetests/filetests/isa/aarch64/fcvt.clif
  cranelift/filetests/filetests/isa/aarch64/floating-point.clif
  cranelift/filetests/filetests/runtests/fcvt-sat-small.clif
Labels: cranelift, cranelift:area:aarch64

#4937 Revert "Memoize `can_optimize_var_lookup` (#4924)"
  cranelift/frontend/src/ssa.rs
Labels: cranelift

#4940 Update to cap-std 0.26.
  Cargo.lock
  Cargo.toml
  crates/bench-api/Cargo.toml
  crates/c-api/Cargo.toml
  crates/cache/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
Labels: wasmtime:c-api, wasi

#4906 Add an overlap checker to ISLE
  Cargo.lock
  cranelift/isle/isle/Cargo.toml
  cranelift/isle/isle/src/compile.rs
  cranelift/isle/isle/src/error.rs
  cranelift/isle/isle/src/lib.rs
  cranelift/isle/isle/src/overlap.rs
Labels: cranelift, isle

#4908 ISLE: add support for multi-extractors and multi-constructors.
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/isle/isle/isle_examples/fail/multi_internal_etor.isle
  cranelift/isle/isle/isle_examples/link/multi_constructor.isle
  cranelift/isle/isle/isle_examples/link/multi_constructor_main.rs
  cranelift/isle/isle/isle_examples/link/multi_extractor.isle
  cranelift/isle/isle/isle_examples/link/multi_extractor_main.rs
  cranelift/isle/isle/src/ast.rs
  cranelift/isle/isle/src/codegen.rs
  cranelift/isle/isle/src/ir.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, isle

#4909 Add the aegraph (acyclic e-graph) implementation crate.
  Cargo.lock
  Cargo.toml
  cranelift/egraph/Cargo.toml
  cranelift/egraph/src/bumpvec.rs
  cranelift/egraph/src/ctxhash.rs
  cranelift/egraph/src/lib.rs
  cranelift/egraph/src/unionfind.rs
  scripts/publish.rs
Labels: cranelift, isle

#4942 Port flag-based ops to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/condops.clif
  cranelift/filetests/filetests/isa/aarch64/heap_addr.clif
  cranelift/filetests/filetests/isa/aarch64/traps.clif
  cranelift/filetests/filetests/runtests/select.clif
  cranelift/filetests/filetests/runtests/selectif-spectre-guard.clif
  cranelift/filetests/filetests/runtests/selectif.clif
  cranelift/filetests/filetests/runtests/trueif-ff.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift, cranelift:area:aarch64

#4945 Upgrade to regalloc2 0.4.1.
  Cargo.lock
  cranelift/codegen/Cargo.toml
  supply-chain/audits.toml
Labels: cranelift

#4939 Avoid quadratic behavior in `can_optimize_var_lookup`
  cranelift/frontend/src/ssa.rs
Labels: cranelift

#4932 fuzzgen: Avoid `int_divz` traps
  cranelift/fuzzgen/src/config.rs
  cranelift/fuzzgen/src/lib.rs
  cranelift/fuzzgen/src/pass.rs
Labels: cranelift

#4951 Shrink all SmallVecs by 8 bytes
  cranelift/codegen/Cargo.toml
  cranelift/egraph/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/wasm/Cargo.toml
  fuzz/Cargo.toml
Labels: cranelift, cranelift:area:machinst, fuzzing, cranelift:wasm, cranelift:area:x64

#4943 Port branches to ISLE (AArch64)
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/machinst/inst_common.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/condbr.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64

#4959 [AArch64] Fix incorrect regalloc constraints for atomic_cas
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/filetests/filetests/isa/aarch64/atomic-cas.clif
Labels: cranelift, cranelift:area:aarch64

#4960 Cherry-pick #4959 (aarch64 atomic_cas fix) to 1.0.0 release branch.
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/filetests/filetests/isa/aarch64/atomic-cas.clif
Labels: cranelift, cranelift:area:aarch64

#4962 Release Wasmtime 1.0.1
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/asm-macros/Cargo.toml
  crates/cache/Cargo.toml
  crates/cli-flags/Cargo.toml
  crates/component-macro/Cargo.toml
  crates/component-util/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle

#4965 Tidy up some more deps with workspace dependencies
  cranelift/bforest/Cargo.toml
  cranelift/egraph/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
Labels: cranelift, cranelift:wasm

#4868 fuzzgen: Statistics framework
  Cargo.lock
  cranelift/codegen/src/ir/trapcode.rs
  cranelift/interpreter/src/step.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
Labels: cranelift, fuzzing

#4958 fuzzgen: Add `fcvt_*` ops
  cranelift/fuzzgen/src/config.rs
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/fuzzgen/src/lib.rs
  cranelift/fuzzgen/src/passes/fcvt.rs
  cranelift/fuzzgen/src/passes/int_divz.rs
  cranelift/fuzzgen/src/passes/mod.rs
Labels: cranelift

#4970 Update wasm-tools dependencies
  Cargo.lock
  Cargo.toml
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/func_translator.rs
  cranelift/wasm/src/module_translator.rs
  cranelift/wasm/src/sections_translator.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/types.rs
  crates/environ/src/fact/signature.rs
  crates/environ/src/fact/trampoline.rs
  crates/environ/src/module_environ.rs
  crates/fuzzing/src/generators/table_ops.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/module.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  tests/all/component_model.rs
  tests/all/component_model/func.rs
  tests/all/component_model/import.rs
  tests/all/component_model/nested.rs
  tests/all/component_model/strings.rs
  tests/misc_testsuite/component-model/adapter.wast
  tests/misc_testsuite/component-model/fused.wast
  tests/misc_testsuite/component-model/strings.wast
  tests/misc_testsuite/component-model/types.wast
Labels: wasmtime:api, cranelift, fuzzing, cranelift:wasm

#4966 Resolve aliases before checking for unique values
  cranelift/frontend/src/ssa.rs
Labels: cranelift

#4973 s390x: Fix regalloc checker error
  cranelift/codegen/src/isa/s390x/inst/mod.rs
Labels: cranelift

#4941 ISLE: Resolve overlap in prelude.isle and x64/inst.isle
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/isle/isle/src/error.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#4975 ISLE: Overlap checker quality of life improvements
  cranelift/isle/isle/src/overlap.rs
Labels: cranelift, isle

#4955 Bypass state machine for single-predecessor chains
  cranelift/frontend/src/ssa.rs
Labels: cranelift

#4976 ISLE: Stabilize the overlap error order
  cranelift/isle/isle/src/overlap.rs
Labels: cranelift, isle

#4977 ISLE: Resolve remaining x64 overlap errors
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#4981 ISLE: Add the overlap_errors pragma
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/isle/isle/Cargo.toml
  cranelift/isle/isle/src/ast.rs
  cranelift/isle/isle/src/overlap.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, cranelift:area:x64, isle

#4983 ISLE: Always default the priority to 0
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/isle/isle/src/sema.rs
  cranelift/isle/isle/src/trie.rs
Labels: cranelift, cranelift:area:x64, isle

#4984 SSA-building cleanup
  cranelift/entity/src/set.rs
  cranelift/frontend/src/frontend.rs
  cranelift/frontend/src/ssa.rs
Labels: cranelift

#4982 ISLE: Resolve overlap in the riscv64 backend
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/arithmetic.clif
Labels: cranelift

#4988 ISLE: Resolve overlaps in the aarch64 backend
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower_dynamic_neon.isle
Labels: cranelift, cranelift:area:aarch64

#4989 Cleanup cranelift-frontend
  cranelift/frontend/src/frontend.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:wasm
