Repository bytecodealliance/wasmtime, pull requests merged in 2022-03, with the labels that each got.

#3843 Fuzzing against verified fork of spec interpreter
  .github/workflows/main.yml
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/wasm-spec-interpreter/build.rs
  crates/fuzzing/wasm-spec-interpreter/ocaml/Makefile
  crates/fuzzing/wasm-spec-interpreter/ocaml/README.md
  crates/fuzzing/wasm-spec-interpreter/ocaml/interpret.ml
  crates/fuzzing/wasm-spec-interpreter/src/lib.rs
  crates/fuzzing/wasm-spec-interpreter/src/with_library.rs
  crates/fuzzing/wasm-spec-interpreter/src/without_library.rs
  crates/fuzzing/wasm-spec-interpreter/tests/oob.wat
  fuzz/Cargo.toml
  fuzz/fuzz_targets/differential_spec.rs
  fuzz/fuzz_targets/differential_v8.rs
Labels: fuzzing

#3866 feat: remove the limitation of either R or W polls
  crates/wasi-common/src/snapshots/preview_1.rs
Labels: wasi

#3868 Pin spec interpreter to a specific revision
  crates/fuzzing/wasm-spec-interpreter/build.rs
Labels: fuzzing

#3873 Fix failing fuzzers with too-small instance sizes
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#3871 Move spec interpreter fuzzing behind a Cargo feature
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/oracles.rs
  fuzz/Cargo.toml
Labels: fuzzing

#3878 fuzz: Bump table limit with spectest fuzzing
  crates/fuzzing/src/generators.rs
Labels: fuzzing

#3879 fuzz: Increase table limit in differential_v8 fuzzer
  fuzz/fuzz_targets/differential_v8.rs
Labels: fuzzing

#3880 fuzz: Update pooling allocator limits on tables
  crates/fuzzing/src/generators.rs
Labels: fuzzing

#3882 typo: fix typos in documentation comments
  crates/runtime/src/export.rs
  crates/wasmtime/src/store/data.rs
Labels: wasmtime:api

#3881 Fix calling call hooks with `unchecked` func variants
  crates/wasmtime/src/func.rs
  tests/all/call_hook.rs
Labels: wasmtime:api

#3890 Relax restrictions in the differential fuzzer
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#3891 Finalize 0.35.0 release notes
  RELEASES.md
Labels: wasmtime:docs

#3895 Make `WasiCtx` overridable
  crates/wasi/src/lib.rs
Labels: wasi

#3885 Release Wasmtime 0.35.0
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle

#3899 Implement runtime checks for compilation settings
  crates/environ/src/compilation.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  tests/all/module.rs
  tests/all/module_serialize.rs
  tests/all/wast.rs
Labels: wasmtime:api

#3902 fuzz: Limit memories in the instantiate-many fuzzer
  fuzz/fuzz_targets/instantiate-many.rs
Labels: fuzzing

#3905 Fuzz-code-coverage motivated improvements
  crates/cranelift/Cargo.toml
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/obj.rs
  crates/fuzzing/src/generators.rs
  crates/jit/src/code_memory.rs
  crates/jit/src/lib.rs
  crates/jit/src/link.rs
Labels: fuzzing

#3906 Fix uextend on x64 for non-i32-source cases.
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/runtests/extend.clif
Labels: cranelift, cranelift:area:x64, isle

#3909 Cherrypick and release-notes update for 0.35.1.
  RELEASES.md
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/runtests/extend.clif
Labels: cranelift, wasmtime:docs, cranelift:area:x64, isle

#3910 Updated RELEASES for 0.35.1 patch release.
  RELEASES.md
Labels: wasmtime:docs

#3908 Ensure functions are aligned properly on AArch64
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/mod.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/obj.rs
Labels: cranelift, cranelift:area:machinst

#3907 doc: improve VTune documentation
  docs/examples-profiling-vtune.md
Labels: wasmtime:docs

#3911 Release Wasmtime 0.35.1
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit-debug/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle

#3904 feat(wasi): provide default implementations for `WasiFile`
  crates/wasi-common/cap-std-sync/src/file.rs
  crates/wasi-common/cap-std-sync/src/net.rs
  crates/wasi-common/cap-std-sync/src/stdio.rs
  crates/wasi-common/src/file.rs
  crates/wasi-common/src/pipe.rs
  crates/wasi-common/tokio/src/file.rs
Labels: wasi

#3901 feat(wasi)!: clean up `WasiFile` implementation
  crates/wasi-common/cap-std-sync/src/file.rs
  crates/wasi-common/cap-std-sync/src/net.rs
  crates/wasi-common/cap-std-sync/src/stdio.rs
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/file.rs
  crates/wasi-common/src/pipe.rs
  crates/wasi-common/src/snapshots/preview_0.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-common/tokio/src/file.rs
  crates/wasi-common/tokio/tests/poll_oneoff.rs
Labels: wasi

#3887 Add vector compare to 0 optims
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/aarch64/compare_zero.clif
  cranelift/filetests/filetests/runtests/simd_compare_zero.clif
Labels: cranelift, cranelift:area:aarch64

#3913 fix(wasi): enable all `WasiFile`s to be pollable
  Cargo.lock
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/src/file.rs
  crates/wasi-common/cap-std-sync/src/net.rs
  crates/wasi-common/cap-std-sync/src/sched/unix.rs
  crates/wasi-common/cap-std-sync/src/sched/windows.rs
  crates/wasi-common/cap-std-sync/src/stdio.rs
  crates/wasi-common/src/file.rs
  crates/wasi-common/tokio/src/file.rs
  crates/wasi-common/tokio/src/sched/windows.rs
Labels: wasi

#3914 Eagerly create `ModuleMemoryImages`
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#3926 fuzz: Increase more limits when spectest fuzzing
  crates/fuzzing/src/generators.rs
Labels: fuzzing

#3923 Use const-initialized thread locals
  cranelift/codegen/src/timing.rs
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/traphandlers/unix.rs
Labels: cranelift

#3925 Delete historical interruptable support in Wasmtime
  RELEASES.md
  crates/c-api/include/wasmtime.h
  crates/c-api/include/wasmtime/config.h
  crates/c-api/include/wasmtime/engine.h
  crates/c-api/include/wasmtime/store.h
  crates/c-api/src/config.rs
  crates/c-api/src/engine.rs
  crates/c-api/src/store.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/tunables.rs
  crates/environ/src/vmoffsets.rs
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/oracles.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trap.rs
  examples/interrupt.c
  examples/interrupt.rs
  src/commands/compile.rs
  src/commands/run.rs
  tests/all/cli_tests.rs
  tests/all/gc.rs
  tests/all/iloop.rs
Labels: wasmtime:api, wasmtime:c-api, fuzzing, wasmtime:docs, wasmtime:config

#3929 Update the v8 crate used when fuzzing
  Cargo.lock
  crates/fuzzing/Cargo.toml
Labels: fuzzing

#3932 Support disabling backtraces at compile time
  .github/workflows/main.yml
  Cargo.toml
  crates/c-api/Cargo.toml
  crates/cranelift/src/compiler.rs
  crates/runtime/Cargo.toml
  crates/runtime/src/externref.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/traphandlers.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/trap.rs
  src/lib.rs
Labels: wasmtime:api, wasmtime:c-api, wasmtime:ref-types, wasmtime:config

#3934 x64 backend: fix fpcmp to avoid load-op merging.
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/x64/fcmp-mem-bug.clif
Labels: cranelift, cranelift:area:x64, isle

#3935 Increase minimum instance threshold for spectests fuzzer
  crates/fuzzing/src/generators.rs
Labels: fuzzing

#3940 Clarify patch release criteria
  docs/stability-release.md
Labels: wasmtime:docs

#3943 Increase instance size limit when fuzzing
  crates/fuzzing/src/generators.rs
Labels: fuzzing

#3886 x64: port `icmp` to ISLE
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/simd-comparison-legalize.clif
Labels: cranelift, cranelift:area:x64, isle

#3944 Expose details for mlocking modules externally
  crates/jit/src/instantiate.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/module.rs
Labels: wasmtime:api, wasmtime:config

#3946 x64: improve generation of i128 `icmp`
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/x64/i128.clif
Labels: cranelift, cranelift:area:x64, isle

#3947 x64: prefix all machine instructions with `x64_`
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
Labels: cranelift, cranelift:area:x64, isle

#3954 x64: fix register allocation panic due to load-coalesced value
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/x64/simd-issue-3951.clif
Labels: cranelift, cranelift:area:x64, isle

#3957 doc: wasm_functype_new takes ownership of its input
  crates/c-api/include/doc-wasm.h
Labels: wasmtime:c-api

#3876 Add support for `async` call hooks
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/store.rs
  tests/all/call_hook.rs
Labels: wasmtime:api

#3958 Remove the module linking implementation in Wasmtime
  build.rs
  cranelift/wasm/src/environ/mod.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/lib.rs
  cranelift/wasm/src/module_translator.rs
  cranelift/wasm/src/sections_translator.rs
  crates/c-api/include/wasmtime/config.h
  crates/c-api/include/wasmtime/extern.h
  crates/c-api/include/wasmtime/instance.h
  crates/c-api/include/wasmtime/module.h
  crates/c-api/src/config.rs
  crates/c-api/src/extern.rs
  crates/c-api/src/instance.rs
  crates/c-api/src/linker.rs
  crates/c-api/src/module.rs
  crates/c-api/src/types.rs
  crates/c-api/src/types/extern.rs
  crates/c-api/src/types/import.rs
  crates/c-api/src/types/instance.rs
  crates/c-api/src/types/module.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/jit/src/instantiate.rs
  crates/runtime/src/instance.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/types.rs
  crates/wasmtime/src/types/matching.rs
  crates/wast/src/wast.rs
  src/commands/run.rs
  src/lib.rs
  tests/all/async_functions.rs
  tests/all/custom_signal_handler.rs
  tests/all/host_funcs.rs
  tests/all/linker.rs
  tests/all/main.rs
  tests/all/module_linking.rs
  tests/all/wast.rs
  tests/misc_testsuite/module-linking/alias-outer.wast
  tests/misc_testsuite/module-linking/alias.wast
  tests/misc_testsuite/module-linking/import-subtyping.wast
  tests/misc_testsuite/module-linking/instantiate.wast
Labels: wasmtime:api, wasmtime:c-api, cranelift, fuzzing, cranelift:wasm, wasmtime:config

#3959 c-api: Add a way to get type of `wasmtime_module_t`
  crates/c-api/include/wasmtime/module.h
  crates/c-api/src/module.rs
Labels: wasmtime:c-api

#3922 Scalar values in `vectorizelanes` & `extractlanes`
  cranelift/interpreter/src/step.rs
Labels: cranelift

#3967 x64: port `fcmp` to ISLE
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/cmp-mem-bug.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3971 Refactor the `TypeTables` type
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/signatures.rs
  crates/wasmtime/src/types.rs
  crates/wasmtime/src/types/matching.rs
Labels: wasmtime:api

#3973 x64: port the remainder of `select` to ISLE
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/x64/b1.clif
Labels: cranelift, cranelift:area:x64, isle

#3981 Disable module linking in instantiate fuzzer
  fuzz/fuzz_targets/instantiate.rs
Labels: fuzzing

#3984 Release Wasmtime 0.34.2
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  tests/all/stack_overflow.rs
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle
