Repository bytecodealliance/wasmtime, pull requests merged in 2022-02, with the labels that each got.

#3755 Use is-terminal instead of atty.
  Cargo.lock
  Cargo.toml
  crates/bench-api/Cargo.toml
  crates/c-api/Cargo.toml
  crates/cache/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/cap-std-sync/src/file.rs
  crates/wasi-common/cap-std-sync/src/stdio.rs
  crates/wasi-common/tokio/Cargo.toml
Labels: wasmtime:c-api, wasi

#3742 Lazily populate a store's trampoline map
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/store/data.rs
Labels: wasmtime:api

#3697 memfd/madvise-based CoW pooling allocator
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  crates/environ/src/module.rs
  crates/jit/src/instantiate.rs
  crates/runtime/Cargo.toml
  crates/runtime/build.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/memfd.rs
  crates/runtime/src/memfd_disabled.rs
  crates/runtime/src/memory.rs
  crates/runtime/src/module_id.rs
  crates/runtime/src/traphandlers/unix.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trampoline/memory.rs
  src/lib.rs
Labels: wasmtime:api

#3759 memfd: Some minor follow-ups
  Cargo.toml
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/runtime/src/memfd.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/trampoline/func.rs
Labels: wasmtime:api

#3763 Fix MemFd's allocated memory for dynamic memories
  crates/fuzzing/src/oracles.rs
  crates/runtime/src/memory.rs
  tests/all/memory.rs
Labels: fuzzing

#3765 Add LICENSE file to cranelift/isle/.
  cranelift/isle/LICENSE
Labels: cranelift, isle

#3756 Update wasm-tools crates
  Cargo.lock
  Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/sections_translator.rs
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/environ/src/module_environ.rs
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators/table_ops.rs
  crates/types/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/module/serialization.rs
  crates/wast/Cargo.toml
  crates/wast/src/wast.rs
  tests/misc_testsuite/multi-memory/simple.wast
Labels: wasmtime:api, cranelift, fuzzing, cranelift:wasm

#3760 Make memfd image creation lazy (on first instantiation).
  Cargo.lock
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#3752 cranelift: Add newtype wrappers for x64 register classes
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/build.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/encoding/rex.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/isle/isle/src/ast.rs
  cranelift/isle/isle/src/codegen.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/sema.rs
  cranelift/isle/isle_examples/nodebug.isle
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3769 Cranelift: fix debuginfo wrt cold blocks and non-monotonic layout.
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/debug.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64

#3774 Turn off memfd by default, at least for this upcoming release.
  Cargo.toml
  crates/wasmtime/Cargo.toml
Labels: wasmtime:api

#3729 Add CLI options for preopened listen sockets
  Cargo.lock
  Cargo.toml
  src/commands/run.rs
Labels: wasi

#3768 Release Wasmtime 0.34.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#3778 Update memfd support with a runtime toggle
  Cargo.toml
  crates/fuzzing/src/generators.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/module.rs
Labels: wasmtime:api, fuzzing

#3781 ISLE: Common accessors for some insn data fields
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/prelude.isle
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3782 Fix incorrect use of `MemoryIndex` in the pooling allocator.
  crates/runtime/src/instance/allocator/pooling.rs
  crates/wasmtime/src/config.rs
  tests/all/pooling_allocator.rs
Labels: wasmtime:api

#3733 Implement lazy funcref table and anyfunc initialization.
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/builtin.rs
  crates/environ/src/lib.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/ref_bits.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/memfd.rs
  crates/runtime/src/memfd_disabled.rs
  crates/runtime/src/table.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trampoline/global.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:wasm, cranelift:area:x64

#3786 Update to cap-std 0.24.1, fixing compilation on Right nightly.
  Cargo.lock
  crates/bench-api/Cargo.toml
  crates/c-api/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
Labels: wasmtime:c-api, wasi

#3780 Add the instance allocation strategy to generated fuzzing configs.
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/oracles.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/instantiate-many.rs
  fuzz/fuzz_targets/instantiate.rs
Labels: fuzzing

#3791 Further minor optimizations to instantiation
  crates/cranelift/src/func_environ.rs
  crates/environ/src/vmoffsets.rs
  crates/runtime/src/externref.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/lib.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/store/data.rs
Labels: wasmtime:api, wasmtime:ref-types

#3796 Fix a typo in `cranelift-frontend`'s docs
  cranelift/frontend/src/variable.rs
Labels: cranelift

#3795 Use a much lower memory page limit for pooling allocator fuzzing.
  crates/fuzzing/src/generators.rs
Labels: fuzzing

#3748 cranelift/x64: lower min and max for <= `i64`
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/runtests/integer-minmax.clif
Labels: cranelift, cranelift:area:x64, isle

#3798 cranelift: Use GPR newtypes extensively in x64 lowering
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#3799 Remove incomplete/unmaintained ARM32 backend (for now).
  .github/workflows/main.yml
  cranelift/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/src/isa/arm32.rs
  cranelift/codegen/meta/src/isa/mod.rs
  cranelift/codegen/src/isa/arm32/abi.rs
  cranelift/codegen/src/isa/arm32/inst/args.rs
  cranelift/codegen/src/isa/arm32/inst/emit.rs
  cranelift/codegen/src/isa/arm32/inst/emit_tests.rs
  cranelift/codegen/src/isa/arm32/inst/mod.rs
  cranelift/codegen/src/isa/arm32/inst/regs.rs
  cranelift/codegen/src/isa/arm32/lower.rs
  cranelift/codegen/src/isa/arm32/lower_inst.rs
  cranelift/codegen/src/isa/arm32/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/valueregs.rs
  cranelift/filetests/Cargo.toml
  cranelift/filetests/filetests/isa/arm32/aluops.clif
  cranelift/filetests/filetests/isa/arm32/bitops.clif
  cranelift/filetests/filetests/isa/arm32/cond.clif
  cranelift/filetests/filetests/isa/arm32/constants.clif
  cranelift/filetests/filetests/isa/arm32/control-flow.clif
  cranelift/filetests/filetests/isa/arm32/extend.clif
  cranelift/filetests/filetests/isa/arm32/params.clif
  cranelift/filetests/filetests/isa/arm32/shift-rotate.clif
  cranelift/filetests/src/runone.rs
Labels: cranelift, cranelift:area:machinst, cranelift:meta

#3800 Fuzz cranelift cpu flag settings with Wasmtime
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators.rs
Labels: fuzzing

#3804 Improve stability for fuzz targets.
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/api.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/v8.rs
  fuzz/fuzz_targets/differential.rs
  fuzz/fuzz_targets/differential_v8.rs
  fuzz/fuzz_targets/differential_wasmi.rs
  fuzz/fuzz_targets/instantiate-many.rs
  fuzz/fuzz_targets/instantiate.rs
Labels: fuzzing

#3812 Release Wasmtime 0.34.1
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#3813 Release Wasmtime 0.33.1
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit/Cargo.toml
  crates/misc/run-examples/src/main.rs
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#3814 Unconditionally enable sse3, ssse3, and sse4.1 when fuzzing
  crates/fuzzing/src/generators.rs
Labels: fuzzing

#3818 Port fix for `CVE-2022-23636` to `main`.
  RELEASES.md
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  tests/all/pooling_allocator.rs
Labels: wasmtime:docs

#3816 Cranelift: ensure ISA level needed for SIMD is present when SIMD is enabled.
  cranelift/codegen/meta/src/isa/x86.rs
  cranelift/codegen/src/isa/aarch64/inst/unwind/systemv.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/s390x/inst/unwind/systemv.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/inst/unwind/systemv.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/runtests/simd-bitselect.clif
  cranelift/filetests/filetests/runtests/simd-comparison.clif
  cranelift/filetests/filetests/runtests/simd-conversion.clif
  cranelift/filetests/filetests/runtests/simd-extractlane.clif
  cranelift/filetests/filetests/runtests/simd-iabs.clif
  cranelift/filetests/filetests/runtests/simd-insertlane.clif
  cranelift/filetests/filetests/runtests/simd-lane-access.clif
  cranelift/filetests/filetests/runtests/simd-logical.clif
  cranelift/filetests/filetests/runtests/simd-saddsat.clif
  cranelift/filetests/filetests/runtests/simd-shuffle.clif
  cranelift/filetests/filetests/runtests/simd-snarrow.clif
  cranelift/filetests/filetests/runtests/simd-splat.clif
  cranelift/filetests/filetests/runtests/simd-sqmulroundsat.clif
  cranelift/filetests/filetests/runtests/simd-ssubsat.clif
  cranelift/filetests/filetests/runtests/simd-swidenhigh.clif
  cranelift/filetests/filetests/runtests/simd-swidenlow.clif
  cranelift/filetests/filetests/runtests/simd-swizzle.clif
  cranelift/filetests/filetests/runtests/simd-uaddsat.clif
  cranelift/filetests/filetests/runtests/simd-unarrow.clif
  cranelift/filetests/filetests/runtests/simd-usubsat.clif
  cranelift/filetests/filetests/runtests/simd-uwidenhigh.clif
  cranelift/filetests/filetests/runtests/simd-uwidenlow.clif
  cranelift/filetests/filetests/runtests/simd-vconst.clif
  cranelift/filetests/filetests/runtests/simd-vhighbits.clif
  cranelift/filetests/filetests/runtests/simd-vselect.clif
  cranelift/filetests/filetests/runtests/simd-wideningpairwisedotproducts.clif
  cranelift/filetests/filetests/runtests/smulhi.clif
  cranelift/filetests/filetests/runtests/umulhi.clif
  cranelift/filetests/filetests/verifier/scalar-to-vector.clif
  cranelift/filetests/filetests/verifier/simd-lane-index.clif
  cranelift/filetests/src/function_runner.rs
  cranelift/filetests/src/test_run.rs
  cranelift/frontend/src/frontend.rs
  cranelift/jit/examples/jit-minimal.rs
  cranelift/jit/src/backend.rs
  cranelift/jit/tests/basic.rs
  cranelift/native/src/lib.rs
  cranelift/object/tests/basic.rs
  cranelift/reader/src/parser.rs
  cranelift/src/run.rs
  cranelift/src/utils.rs
  crates/cranelift/src/builder.rs
  crates/environ/src/compilation.rs
  crates/wasmtime/src/engine.rs
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
  src/commands/settings.rs
Labels: wasmtime:api, cranelift, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#3822 Remove broken Markdown link
  README.md
Labels: wasmtime:docs

#3802 [AArch64] Merge 32- and 64-bit ALUOps
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#3824 Improve platform compatibility of fuzz test cases
  crates/fuzzing/src/generators.rs
Labels: fuzzing

#3823 Limit total memory usage in instantiate-many fuzzer
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#3828 Mention --invoke on "CLI Options for `wasmtime`" page
  docs/cli-options.md
Labels: wasmtime:docs

#2745 Add a way to define a symbol lookup fn for the JIT
  cranelift/jit/src/backend.rs
Labels: cranelift

#3829 Fix max memory pages for spectests fuzz target.
  crates/fuzzing/src/generators.rs
Labels: fuzzing

#3821 x64: enable VTune support by default
  Cargo.lock
  Cargo.toml
  crates/jit/Cargo.toml
  crates/jit/src/profiling.rs
  crates/jit/src/profiling/vtune.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/lib.rs
  docs/examples-profiling-vtune.md
  docs/examples-profiling.md
Labels: wasmtime:api, wasmtime:docs

#3831 memfd: make "dense image" heuristic limit configurable.
  crates/environ/src/module.rs
  crates/fuzzing/src/generators.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/module.rs
Labels: wasmtime:api, fuzzing, wasmtime:config

#3833 Enable SSE 4.2 unconditionally
  cranelift/codegen/meta/src/isa/x86.rs
  cranelift/codegen/src/isa/x64/mod.rs
  crates/fuzzing/src/generators.rs
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, cranelift, cranelift:meta, fuzzing, cranelift:area:x64, wasmtime:config

#3835 Update wasm-{smith,encoder}
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/table_ops.rs
Labels: fuzzing

#3838 doc: fix typo
  crates/wasmtime/src/func.rs
Labels: wasmtime:api

#3682 x64: port select to ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/cmp-mem-bug.clif
  cranelift/filetests/filetests/runtests/select.clif
  cranelift/isle/isle/src/codegen.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, isle

#3842 Downgrade a cpu feature log message
  crates/fuzzing/src/generators.rs
Labels: fuzzing

#3377 Allow cloning DataDescriptor
  cranelift/module/src/data_context.rs
Labels: cranelift, cranelift:module

#3839 [AArch64] Improve AtomicRMWLoop
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/filetests/filetests/isa/aarch64/atomic-rmw-lse.clif
  cranelift/filetests/filetests/isa/aarch64/atomic-rmw.clif
Labels: cranelift, cranelift:area:aarch64

#3840 [AArch64] Merge 32- and 64-bit BitOps
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
Labels: cranelift, cranelift:area:aarch64

#3836 `wasm-mutate` fuzz targets
  Cargo.lock
  Cargo.toml
  cranelift/wasm/Cargo.toml
  cranelift/wasm/src/code_translator.rs
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/lib.rs
  crates/fuzzing/src/mutators.rs
  crates/types/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/module/serialization.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/compile-mutate.rs
Labels: fuzzing

#3807 Implicit type conversions in ISLE
  Cargo.lock
  cranelift/docs/isle-integration.md
  cranelift/isle/docs/language-reference.md
  cranelift/isle/isle/Cargo.toml
  cranelift/isle/isle/build.rs
  cranelift/isle/isle/isle_examples/fail/bad_converters.isle
  cranelift/isle/isle/isle_examples/fail/converter_extractor_constructor.isle
  cranelift/isle/isle/isle_examples/fail/error1.isle
  cranelift/isle/isle/isle_examples/link/test.isle
  cranelift/isle/isle/isle_examples/link/test_main.rs
  cranelift/isle/isle/isle_examples/pass/construct_and_extract.isle
  cranelift/isle/isle/isle_examples/pass/conversions.isle
  cranelift/isle/isle/isle_examples/pass/let.isle
  cranelift/isle/isle/isle_examples/pass/nodebug.isle
  cranelift/isle/isle/isle_examples/pass/test2.isle
  cranelift/isle/isle/isle_examples/pass/test3.isle
  cranelift/isle/isle/isle_examples/pass/test4.isle
  cranelift/isle/isle/isle_examples/pass/tutorial.isle
  cranelift/isle/isle/src/ast.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/sema.rs
  cranelift/isle/isle/tests/run_tests.rs
  cranelift/isle/islec/src/main.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, isle, cranelift:docs

#3845 ISLE: fix compile fuzz target, and fix a simple error-reporting bug.
  .github/workflows/main.yml
  cranelift/isle/fuzz/fuzz_targets/compile.rs
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#3847 ISLE lowering rules: make use of implicit conversions.
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, isle

#3783 [RFC] ISLE: Lowering of multi-output instructions
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3784 [RFC] ISLE: Re-implement ValueSlice
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3850 Shrink the size of the anyfunc table in `VMContext`
  crates/cranelift/src/lib.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/vmoffsets.rs
  crates/runtime/src/externref.rs
  crates/runtime/src/instance.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trampoline/global.rs
Labels: wasmtime:api, wasmtime:ref-types

#3848 Migrate clz, ctz, popcnt, bitrev, is_null, is_invalid on x64 to ISLE.
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/bitops.clif
  cranelift/filetests/filetests/isa/aarch64/shift-rotate.clif
  cranelift/filetests/filetests/isa/x64/cmp-mem-bug.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/popcnt.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3861 Decrease default wasm stack to 512k from 1M
  crates/wasmtime/src/config.rs
  tests/all/stack_overflow.rs
Labels: wasmtime:api, wasmtime:config

#3849 ISLE: port extend/reduce opcodes on x64.
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3855 ISLE: port more ops on x64 to lowering patterns.
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/x64/fastcall.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3856 ISLE: port fmin, fmax, fmin_pseudo, fmax_pseudo on x64.
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3863 Fix a nightly warning
  crates/wasmtime/src/func.rs
Labels: wasmtime:api
