Repository bytecodealliance/wasmtime, pull requests merged in 2022-01, with the labels that each got.

#3635 Add a doclink.
  cranelift/codegen/src/ir/layout.rs
Labels: cranelift

#3641 Clarify some documentation.
  cranelift/codegen/src/ir/immediates.rs
Labels: cranelift

#3646 Copy release notes from 0.32.1 patch branch into main RELEASES.md.
  RELEASES.md
Labels: wasmtime:docs

#3643 Release Wasmtime 0.32.1
  .github/workflows/push-tag.yml
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#3645 Fix spillslot size bug in SIMD by removing type-dependent spillslot allocation.
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/arm32/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/abi_impl.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/x64/fastcall.clif
  tests/misc_testsuite/simd/spillslot-size-fuzzbug.wast
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#3639 Various cleanups around machinst
  cranelift/codegen/src/binemit/memorysink.rs
  cranelift/codegen/src/binemit/mod.rs
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/arm32/inst/emit.rs
  cranelift/codegen/src/isa/arm32/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/test_utils.rs
  cranelift/codegen/src/isa/x64/encoding/rex.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/adapter.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/filetests/src/test_compile.rs
  cranelift/jit/src/backend.rs
  cranelift/object/src/backend.rs
  cranelift/src/compile.rs
  cranelift/src/disasm.rs
  cranelift/src/wasm.rs
  crates/cranelift/src/obj.rs
Labels: cranelift, cranelift:area:machinst, cranelift:module, cranelift:area:aarch64, cranelift:area:x64

#3652 docs: Fix typo in ISLE and Cranelift integration docs
  cranelift/docs/isle-integration.md
Labels: cranelift, cranelift:docs

#3648 Release Wasmtime 0.33.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/fuzzgen/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/fiber/Cargo.toml
  crates/jit/Cargo.toml
  crates/runtime/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/types/Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-crypto/Cargo.toml
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wast/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#3653 cranelift: Port `bitselect` over to ISLE on x64
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/runtests/simd-bitselect.clif
  crates/wasmtime/src/func.rs
  tests/all/limits.rs
Labels: wasmtime:api, cranelift, cranelift:area:x64, isle

#3658 aarch64: Migrate bitrev/clz/cls/ctz to ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/bitops.clif
  cranelift/filetests/filetests/runtests/clz.clif
  cranelift/filetests/filetests/runtests/ctz.clif
Labels: cranelift, cranelift:area:aarch64

#3655 Remove MachBackend
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/arm32/inst/mod.rs
  cranelift/codegen/src/isa/arm32/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/adapter.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/mod.rs
  crates/cranelift/src/obj.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#3659 cranelift: Port `vselect` over to ISLE on x64
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/runtests/simd-iabs.clif
Labels: cranelift, cranelift:area:x64, isle

#3663 Add a link to the JIT demo.
  cranelift/jit/src/lib.rs
Labels: cranelift

#3662 aarch64: Migrate `popcnt` to ISLE
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
Labels: cranelift, cranelift:area:aarch64

#3665 cranelift: Re-add some tests that were accidentally removed
  cranelift/filetests/filetests/runtests/simd-iabs.clif
Labels: cranelift

#3664 Refactor fuzzing configuration and sometimes disable debug verifier.
  Cargo.lock
  Cargo.toml
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/api.rs
  crates/fuzzing/src/lib.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/v8.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/compile-maybe-invalid.rs
  fuzz/fuzz_targets/compile.rs
  fuzz/fuzz_targets/differential.rs
  fuzz/fuzz_targets/differential_v8.rs
  fuzz/fuzz_targets/differential_wasmi.rs
  fuzz/fuzz_targets/instantiate-maybe-invalid.rs
  fuzz/fuzz_targets/instantiate-swarm.rs
  fuzz/fuzz_targets/instantiate-wasm-smith.rs
  fuzz/fuzz_targets/instantiate.rs
  tests/all/fuzzing.rs
  tests/all/fuzzing/README.md
  tests/all/fuzzing/empty.wat
  tests/all/fuzzing/empty_with_memory.wat
  tests/all/main.rs
  tests/misc_testsuite/empty.wast
  tests/misc_testsuite/issue1809.wast
  tests/misc_testsuite/issue694.wast
Labels: fuzzing

#3667 Remove unnecessary into_iter/collect
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#3671 fuzz: Fix infinite loops in table_ops fuzzers
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#3612 cranelift: Add ability to auto-update test expectations
  cranelift/filetests/filetests/isa/aarch64/bitops.clif
  cranelift/filetests/filetests/isa/aarch64/simd.clif
  cranelift/filetests/src/runone.rs
  cranelift/filetests/src/subtest.rs
  cranelift/filetests/src/test_compile.rs
Labels: cranelift

#3677 Update lots of `isa/*/*.clif` tests to `precise-output`
  cranelift/filetests/filetests/isa/aarch64/amodes.clif
  cranelift/filetests/filetests/isa/aarch64/arithmetic.clif
  cranelift/filetests/filetests/isa/aarch64/atomic-rmw-lse.clif
  cranelift/filetests/filetests/isa/aarch64/atomic_load.clif
  cranelift/filetests/filetests/isa/aarch64/atomic_store.clif
  cranelift/filetests/filetests/isa/aarch64/basic1.clif
  cranelift/filetests/filetests/isa/aarch64/call-indirect.clif
  cranelift/filetests/filetests/isa/aarch64/condbr.clif
  cranelift/filetests/filetests/isa/aarch64/condops.clif
  cranelift/filetests/filetests/isa/aarch64/constants.clif
  cranelift/filetests/filetests/isa/aarch64/extend-op.clif
  cranelift/filetests/filetests/isa/aarch64/fcvt-small.clif
  cranelift/filetests/filetests/isa/aarch64/floating-point.clif
  cranelift/filetests/filetests/isa/aarch64/heap_addr.clif
  cranelift/filetests/filetests/isa/aarch64/iconst-icmp-small.clif
  cranelift/filetests/filetests/isa/aarch64/multivalue-ret.clif
  cranelift/filetests/filetests/isa/aarch64/narrow-arithmetic.clif
  cranelift/filetests/filetests/isa/aarch64/reduce.clif
  cranelift/filetests/filetests/isa/aarch64/reftypes.clif
  cranelift/filetests/filetests/isa/aarch64/shift-op.clif
  cranelift/filetests/filetests/isa/aarch64/shift-rotate.clif
  cranelift/filetests/filetests/isa/aarch64/simd-extmul.clif
  cranelift/filetests/filetests/isa/aarch64/simd-pairwise-add.clif
  cranelift/filetests/filetests/isa/aarch64/simd_load_zero.clif
  cranelift/filetests/filetests/isa/aarch64/stack-limit.clif
  cranelift/filetests/filetests/isa/aarch64/symbol-value.clif
  cranelift/filetests/filetests/isa/aarch64/tls-elf-gd.clif
  cranelift/filetests/filetests/isa/aarch64/traps.clif
  cranelift/filetests/filetests/isa/aarch64/uextend-sextend.clif
  cranelift/filetests/filetests/isa/x64/amode-opt.clif
  cranelift/filetests/filetests/isa/x64/b1.clif
  cranelift/filetests/filetests/isa/x64/basic.clif
  cranelift/filetests/filetests/isa/x64/bextend.clif
  cranelift/filetests/filetests/isa/x64/branches.clif
  cranelift/filetests/filetests/isa/x64/call-conv.clif
  cranelift/filetests/filetests/isa/x64/clz-lzcnt.clif
  cranelift/filetests/filetests/isa/x64/cmp-mem-bug.clif
  cranelift/filetests/filetests/isa/x64/ctz-bmi1.clif
  cranelift/filetests/filetests/isa/x64/fastcall.clif
  cranelift/filetests/filetests/isa/x64/floating-point.clif
  cranelift/filetests/filetests/isa/x64/heap.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/ifcmp-sp.clif
  cranelift/filetests/filetests/isa/x64/move-elision.clif
  cranelift/filetests/filetests/isa/x64/popcnt-use-popcnt.clif
  cranelift/filetests/filetests/isa/x64/popcnt.clif
  cranelift/filetests/filetests/isa/x64/probestack.clif
  cranelift/filetests/filetests/isa/x64/select-i128.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-comparison-legalize.clif
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-logical-compile.clif
  cranelift/filetests/filetests/isa/x64/struct-arg.clif
  cranelift/filetests/filetests/isa/x64/struct-ret.clif
  cranelift/filetests/filetests/isa/x64/tls_elf.clif
  cranelift/filetests/filetests/isa/x64/uextend-elision.clif
  cranelift/filetests/filetests/isa/x64/unused_jt_unreachable_block.clif
  cranelift/filetests/src/test_compile.rs
Labels: cranelift

#3681 cranelift: port `sshr` to ISLE on x64
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/src/runner.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3680 Remove the CodeSink interface in favor of MachBufferFinalized
  cranelift/codegen/src/binemit/memorysink.rs
  cranelift/codegen/src/binemit/mod.rs
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/arm32/inst/emit_tests.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/test_utils.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/filetests/src/function_runner.rs
  cranelift/filetests/src/test_compile.rs
  cranelift/jit/examples/jit-minimal.rs
  cranelift/jit/src/backend.rs
  cranelift/jit/src/compiled_blob.rs
  cranelift/jit/tests/basic.rs
  cranelift/module/src/data_context.rs
  cranelift/module/src/lib.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
  cranelift/object/tests/basic.rs
  cranelift/src/bugpoint.rs
  cranelift/src/compile.rs
  cranelift/src/disasm.rs
  cranelift/src/wasm.rs
  crates/cranelift/src/compiler.rs
Labels: cranelift, cranelift:area:machinst, cranelift:module, cranelift:area:aarch64, cranelift:area:x64

#3686 cranelift: Port `ishl` SIMD lowerings to ISLE
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3690 cranelift: Port a bunch more lowerings to ISLE on x64
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/i128.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3692 Cranelift: Pass the ISA-specific compilation flags to the ABI implementations
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/arm32/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/abi_impl.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#3687 Support vtune profiling of trampolines too
  Cargo.lock
  Cargo.toml
  crates/jit/Cargo.toml
  crates/jit/src/demangling.rs
  crates/jit/src/lib.rs
  crates/jit/src/profiling.rs
  crates/jit/src/profiling/jitdump_disabled.rs
  crates/jit/src/profiling/jitdump_linux.rs
  crates/jit/src/profiling/vtune_disabled.rs
  crates/jit/src/profiling/vtune_linux.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trap.rs
Labels: wasmtime:api

#3679 Improve code generation for floating-point constants
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/filetests/filetests/isa/aarch64/constants.clif
  cranelift/filetests/filetests/isa/aarch64/fcvt-small.clif
  cranelift/filetests/filetests/isa/aarch64/floating-point.clif
Labels: cranelift, cranelift:area:aarch64

#3698 Cranelift: add support for cold blocks.
  cranelift/codegen/src/ir/layout.rs
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/frontend/src/frontend.rs
Labels: cranelift, cranelift:area:machinst

#3703 ISLE standard prelude: Additional types and helpers
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/lower_inst.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3699 Add epoch-based interruption for cooperative async timeslicing.
  crates/cranelift/src/func_environ.rs
  crates/environ/src/builtin.rs
  crates/environ/src/tunables.rs
  crates/environ/src/vmoffsets.rs
  crates/misc/run-examples/src/main.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling/uffd.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/module/serialization.rs
  crates/wasmtime/src/store.rs
  examples/epochs.rs
  src/lib.rs
  tests/all/epoch_interruption.rs
  tests/all/main.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst

#3712 Document epoch interruption in async documentation
  crates/wasmtime/src/config.rs
Labels: wasmtime:api

#3708 Add syntax for cold blocks to CLIF.
  cranelift/codegen/src/write.rs
  cranelift/reader/src/lexer.rs
  cranelift/reader/src/parser.rs
Labels: cranelift

#3709 Cranelift: Fix cold-blocks-related lowering bug.
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64

#3706 s390x: Add ISLE support
  cranelift/codegen/build.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/s390x/bitops.clif
  cranelift/filetests/filetests/isa/s390x/heap_addr.clif
  cranelift/filetests/filetests/isa/s390x/shift-rotate.clif
Labels: cranelift

#3507 Use `ptr::cast` instead of `as` casts in several places.
  cranelift/jit/src/backend.rs
  crates/jit/src/code_memory.rs
  crates/jit/src/instantiate.rs
  crates/jit/src/profiling/jitdump_linux.rs
  crates/jit/src/profiling/vtune_linux.rs
  crates/jit/src/unwind/systemv.rs
  crates/jit/src/unwind/winx64.rs
  crates/runtime/src/externref.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/memory.rs
  crates/runtime/src/table.rs
  crates/runtime/src/vmcontext.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasmtime/src/externals.rs
Labels: wasmtime:api, cranelift, wasi, wasmtime:ref-types

#3716 Documentation Improvement: Small change to make rust example compile without warnings.
  docs/lang-rust.md
Labels: wasmtime:docs

#3718 ISLE: Fix clif.isle InstructionData entries
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/src/clif.isle
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
Labels: cranelift, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64, isle

#3719 docs: remove fuzzit badge
  cranelift/README.md
Labels: cranelift

#3717 s390x: Refactor branch and jumptable emission
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/args.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/filetests/filetests/isa/s390x/jumptable.clif
Labels: cranelift

#3723 ISLE: Allow emitting safepoint insns
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#3725 cranelift: Use `emit` helper function on aarch64
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
Labels: cranelift, cranelift:area:aarch64

#3727 Lazily load types into `Func`
  crates/wasmtime/src/func.rs
Labels: wasmtime:api

#3735 docs: render the `fcmp` tables as code
  cranelift/codegen/meta/src/shared/instructions.rs
Labels: cranelift, cranelift:meta

#3734 Fix a debug assertion in `externref` garbage collections
  crates/fuzzing/src/generators/table_ops.rs
  crates/fuzzing/src/oracles.rs
  crates/runtime/src/externref.rs
  crates/runtime/src/libcalls.rs
Labels: fuzzing, wasmtime:ref-types

#3739 Lazily allocate the bump-alloc chunk in the externref table
  crates/runtime/src/externref.rs
Labels: wasmtime:ref-types

#3724 s390x: Migrate branches and traps to ISLE
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/isle.rs
Labels: cranelift, cranelift:area:machinst

#3745 Move emit and emit_safepoint to prelude.isle
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.manifest
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, isle
