Repository bytecodealliance/wasmtime, pull requests merged in 2023-12, with the labels that each got.

#7609 mpk: add an example testing the memory limits
  Cargo.lock
  Cargo.toml
  crates/runtime/src/instance/allocator/pooling/memory_pool.rs
  crates/wasmtime/src/config.rs
  examples/mpk.rs
  supply-chain/audits.toml
  supply-chain/imports.lock
Labels: wasmtime:api, wasmtime:config

#7627 Update tutorial to use wasi_snapshot_preview1
  docs/WASI-tutorial.md
Labels: wasmtime:docs

#7625 Add `fields.has` to query if a header is present in a `fields`
  crates/test-programs/src/bin/api_proxy.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi/wit/deps/http/types.wit
Labels: wasi

#7628 winch: Rework `br_table` jumps
  tests/misc_testsuite/winch/br_table.wast
  tests/misc_testsuite/winch/misc.wast
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/br_table/ensure_sp_state.wat
  winch/filetests/filetests/x64/br_table/stack_handling.wat
Labels: winch

#7635 Document `cargo vet` in contributing docs
  docs/contributing-coding-guidelines.md
  supply-chain/README
  supply-chain/README.md
Labels: wasmtime:docs

#7641 Backport the fields.has addition to the 16.x release branch
  crates/test-programs/src/bin/api_proxy.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi/wit/deps/http/types.wit
Labels: wasi

#7644 Additional `extend` opt patterns
  cranelift/codegen/src/opts/extends.isle
  cranelift/filetests/filetests/egraph/extends.clif
Labels: cranelift, isle

#7647 Add options to WasiCtx for toggling TCP and UDP on and off
  crates/cli-flags/src/lib.rs
  crates/test-programs/src/bin/cli_no_tcp.rs
  crates/wasi/src/preview2/ctx.rs
  crates/wasi/src/preview2/host/instance_network.rs
  crates/wasi/src/preview2/host/tcp.rs
  crates/wasi/src/preview2/host/udp.rs
  src/commands/run.rs
  tests/all/cli_tests.rs
Labels: wasi

#7648 Ensure `remote-address` is allowed when creating UDP stream
  crates/test-programs/src/bin/cli_no_udp.rs
  crates/wasi/src/preview2/ctx.rs
  crates/wasi/src/preview2/host/udp.rs
  crates/wasi/src/preview2/network.rs
  crates/wasi/src/preview2/udp.rs
  src/commands/run.rs
  tests/all/cli_tests.rs
Labels: wasi

#7658 Replace clap attributes with command and arg
  cranelift/isle/islec/src/main.rs
  cranelift/serde/src/clif-json.rs
  cranelift/src/bugpoint.rs
  cranelift/src/cat.rs
  cranelift/src/clif-util.rs
  cranelift/src/compile.rs
  cranelift/src/interpret.rs
  cranelift/src/print_cfg.rs
  cranelift/src/run.rs
  cranelift/src/souper_harvest.rs
  cranelift/src/wasm.rs
  crates/cli-flags/src/lib.rs
  crates/environ/examples/factc.rs
  src/bin/wasmtime.rs
  src/commands/compile.rs
  src/commands/config.rs
  src/commands/explore.rs
  src/commands/run.rs
  src/commands/serve.rs
  src/commands/settings.rs
  src/commands/wast.rs
  src/common.rs
  src/old_cli.rs
  winch/src/compile.rs
  winch/src/filetests.rs
Labels: cranelift, isle, winch

#7663 add `adapter_{open|close}_badfd` exports to Preview 1 adapter
  crates/test-programs/src/bin/preview2_adapter_badfd.rs
  crates/wasi-preview1-component-adapter/src/descriptors.rs
  crates/wasi-preview1-component-adapter/src/lib.rs
  crates/wasi/tests/all/async_.rs
  crates/wasi/tests/all/sync.rs
Labels: wasi

#7593 PCC: Fix several aarch64 check_constant failures
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/machinst/pcc.rs
  cranelift/filetests/filetests/pcc/succeed/const.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, isle

#7670 Cranelift: Add iconst shorthand to simplify ISLE opts
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/opts.rs
  cranelift/codegen/src/opts/arithmetic.isle
  cranelift/codegen/src/opts/bitops.isle
  cranelift/codegen/src/opts/extends.isle
  cranelift/codegen/src/opts/icmp.isle
  cranelift/codegen/src/opts/selects.isle
  cranelift/codegen/src/opts/shifts.isle
  cranelift/codegen/src/opts/spaceship.isle
  cranelift/codegen/src/prelude.isle
  cranelift/codegen/src/prelude_lower.isle
  cranelift/codegen/src/prelude_opt.isle
Labels: cranelift, cranelift:area:machinst, isle

#7649 Use the compilation cache for components
  crates/wasmtime/src/component/component.rs
Labels: wasmtime:api

#7662 [WASI] Dynamic `SocketAddr` check for outbound socket traffic
  crates/wasi/src/preview2/ctx.rs
  crates/wasi/src/preview2/host/instance_network.rs
  crates/wasi/src/preview2/host/network.rs
  crates/wasi/src/preview2/host/tcp.rs
  crates/wasi/src/preview2/host/udp.rs
  crates/wasi/src/preview2/network.rs
  crates/wasi/src/preview2/udp.rs
  crates/wasi/tests/all/main.rs
  src/commands/run.rs
Labels: wasi

#7678 Add release notes for Wasmtime 16
  RELEASES.md
Labels: wasmtime:docs

#7687 wasi-sockets: Factor out cap-std
  crates/wasi/src/preview2/host/network.rs
  crates/wasi/src/preview2/host/tcp.rs
  crates/wasi/src/preview2/host/udp.rs
  crates/wasi/src/preview2/tcp.rs
  crates/wasi/src/preview2/udp.rs
Labels: wasi

#7686 fix(wasi-common): convert `ErrorKind::WouldBlock` instead of trapping
  crates/wasi-common/src/snapshots/preview_1/error.rs
Labels: wasi

#7690 wasi-sockets: Add SO_REUSEADDR back in
  crates/test-programs/src/bin/preview2_tcp_bind.rs
  crates/test-programs/src/bin/preview2_udp_bind.rs
  crates/test-programs/src/sockets.rs
  crates/wasi-http/wit/deps/sockets/tcp.wit
  crates/wasi/src/preview2/host/network.rs
  crates/wasi/src/preview2/host/tcp.rs
  crates/wasi/wit/deps/sockets/tcp.wit
Labels: wasi

#7693 Cranelift: use more `iconst_[su]` in opts, notably enabling some i128 patterns
  cranelift/codegen/src/opts/arithmetic.isle
  cranelift/codegen/src/opts/bitops.isle
  cranelift/codegen/src/opts/cprop.isle
  cranelift/codegen/src/opts/extends.isle
  cranelift/codegen/src/opts/icmp.isle
  cranelift/codegen/src/opts/shifts.isle
  cranelift/filetests/filetests/egraph/extends.clif
  cranelift/filetests/filetests/egraph/i128-opts.clif
Labels: cranelift, isle

#7702 More spaceship patterns
  cranelift/codegen/src/opts/bitops.isle
  cranelift/codegen/src/opts/selects.isle
  cranelift/codegen/src/opts/spaceship.isle
  cranelift/filetests/filetests/egraph/select.clif
  cranelift/filetests/filetests/egraph/spaceship.clif
  cranelift/filetests/filetests/isa/x64/bmask.clif
Labels: cranelift, isle

#7709 Release Wasmtime 16.0.0
  RELEASES.md
Labels: wasmtime:docs

#7699 PCC [AArch64]: load_constant64_full generates incorrect fact range for 32-bit MOVN
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/filetests/filetests/pcc/succeed/const.clif
Labels: cranelift, cranelift:area:aarch64, isle

#7710 Add `sextend_maybe` and `uextend_maybe` to opt ISLE
  cranelift/codegen/src/opts.rs
  cranelift/codegen/src/opts/icmp.isle
  cranelift/codegen/src/opts/selects.isle
  cranelift/codegen/src/opts/spaceship.isle
  cranelift/codegen/src/prelude_opt.isle
  cranelift/filetests/filetests/egraph/icmp.clif
Labels: cranelift, isle

#7715 Fix `ty_half_width` in isle prelude
  cranelift/codegen/src/isle_prelude.rs
Labels: cranelift
