Repository bytecodealliance/wasmtime, pull requests merged in 2023-05, with the labels that each got.

#6315 Update test case generation for component_api fuzzer
  crates/fuzzing/src/generators/component_types.rs
  crates/fuzzing/src/oracles.rs
  crates/misc/component-fuzz-util/src/lib.rs
  fuzz/build.rs
Labels: fuzzing

#6317 riscv64: Fix select.i64+icmp.i128 lowering
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/runtests/i128-select.clif
Labels: cranelift, cranelift:area:riscv64

#6314 aarch64: Fix usage of `load_addr` in `inst.isle`
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/filetests/filetests/isa/aarch64/simd-splat.clif
Labels: cranelift, cranelift:area:aarch64

#6316 Fix mutability warnings on Nightly rust
  cranelift/codegen/src/machinst/buffer.rs
  crates/wasi-http/src/types_impl.rs
  tests/all/limits.rs
Labels: cranelift, cranelift:area:machinst

#6307 Add an `--emit-clif` option to `wasmtime compile`
  crates/cranelift/src/builder.rs
  crates/cranelift/src/compiler.rs
  crates/environ/src/compilation.rs
  crates/wasmtime/src/config.rs
  src/commands/compile.rs
Labels: wasmtime:api, wasmtime:config

#6291 x64: Add non-SSE 4.1 lowerings of min/max instructions
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/runtests/simd-icmp-ne.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sge.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sgt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sle.clif
  cranelift/filetests/filetests/runtests/simd-icmp-slt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-uge-i64x2.clif
  cranelift/filetests/filetests/runtests/simd-icmp-uge.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ugt-i64x2.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ugt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ule-i64x2.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ule.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ult-i64x2.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ult.clif
  cranelift/filetests/filetests/runtests/simd-min-max-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-min-max.clif
Labels: cranelift, cranelift:area:x64

#6282 wasmtime: In-process sampling profiler
  Cargo.lock
  crates/runtime/src/traphandlers/backtrace.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/profiling.rs
  src/commands/run.rs
  supply-chain/imports.lock
Labels: wasmtime:api, wasi

#6254 fuzz: randomize block lowering order
  Cargo.lock
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/control/Cargo.toml
  cranelift/control/src/chaos.rs
  cranelift/control/src/zero_sized.rs
  supply-chain/imports.lock
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#6322 Improve longevity for fuzzing corpus of wasm modules
  Cargo.toml
  cranelift/isle/fuzz/Cargo.toml
  crates/environ/fuzz/Cargo.toml
  crates/fuzzing/src/lib.rs
  crates/fuzzing/src/single_module_fuzzer.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/instantiate.rs
Labels: cranelift, fuzzing, isle

#6298 winch: Handle relocations and traps
  crates/cranelift-shared/src/compiled_function.rs
  crates/cranelift-shared/src/lib.rs
  crates/cranelift-shared/src/obj.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/debug/transform/address_transform.rs
  crates/cranelift/src/debug/transform/expression.rs
  crates/cranelift/src/debug/transform/mod.rs
  crates/cranelift/src/debug/transform/simulate.rs
  crates/cranelift/src/debug/transform/unit.rs
  crates/cranelift/src/debug/transform/utils.rs
  crates/cranelift/src/debug/write_debuginfo.rs
  crates/cranelift/src/lib.rs
  crates/winch/src/compiler.rs
Labels: winch

#6330 Turn down default instantiate timeout to 100ms
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#6321 `wasmtime`: Fix resetting stack-walking registers when entering/exiting Wasm
  crates/runtime/src/externref.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/traphandlers/backtrace.rs
  crates/wasmtime/src/profiling.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trap.rs
  src/commands/run.rs
  tests/all/async_functions.rs
  tests/all/traps.rs
Labels: wasmtime:api, wasmtime:ref-types

#6327 cranelift: Update regalloc2
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/aarch64/inst/unwind/systemv.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/regs.rs
  cranelift/codegen/src/isa/riscv64/inst/unwind/systemv.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/regs.rs
  cranelift/codegen/src/isa/s390x/inst/unwind/systemv.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/regs.rs
  cranelift/codegen/src/isa/x64/inst/unwind/systemv.rs
  cranelift/codegen/src/isa/x64/inst/unwind/winx64.rs
  cranelift/codegen/src/machinst/reg.rs
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, winch

#6336 Add links to cranelift.dev site.
  README.md
  cranelift/README.md
Labels: cranelift, wasmtime:docs

#6340 Unify differential result comparison logic
  crates/fuzzing/src/oracles.rs
  fuzz/fuzz_targets/differential.rs
Labels: fuzzing

#6342 vet: certify `walkdir` version bump from 2.3.2 to 2.3.3
  supply-chain/audits.toml
  supply-chain/config.toml
Labels: cranelift

#6325 riscv64: Add `VecALUImm` instruction format
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/encode.rs
  cranelift/codegen/src/isa/riscv64/inst/imms.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/simd-iadd.clif
  cranelift/filetests/filetests/runtests/simd-iadd-splat.clif
Labels: cranelift

#6345 Bump Wasmtime to 10.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  crates/wasi-http/Cargo.toml
  winch/codegen/Cargo.toml
  winch/environ/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#6346 Document our PR reviewer auto-assignment expectations
  docs/SUMMARY.md
  docs/contributing-code-review.md
  docs/contributing-maintainer-guidelines.md
Labels: wasmtime:docs

#6208 Chaos mode: add fuel parameter
  cranelift/control/src/chaos.rs
  cranelift/control/src/lib.rs
  cranelift/control/src/zero_sized.rs
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
Labels: cranelift, cranelift:meta, fuzzing

#6351 riscv64: Move `bitcast` to isle
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
Labels: cranelift

#6348 Fix opening directories failing on Windows when fdFlags contains NONBLOCK
  crates/test-programs/wasi-tests/src/bin/path_open_nonblock.rs
  crates/wasi-common/cap-std-sync/src/dir.rs
Labels: wasi

#6349 Remove the initializer from a global's type information
  cranelift/filetests/src/test_wasm/env.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/sections_translator.rs
  crates/environ/src/component/types.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/runtime/src/instance.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/trampoline/global.rs
Labels: wasmtime:api, cranelift, cranelift:wasm

#6323 x64: Add non-SSE 4.1 lowerings for `insertlane` instructions
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/runtests/simd-insertlane.clif
Labels: cranelift, cranelift:area:x64, isle

#6355 riscv64: Delete some unused code
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
Labels: cranelift

#6338 Make Wasmtime compatible with Stacked Borrows in MIRI
  .github/workflows/main.yml
  Cargo.lock
  crates/c-api/include/wasmtime/func.h
  crates/c-api/include/wasmtime/val.h
  crates/c-api/src/func.rs
  crates/c-api/src/val.rs
  crates/runtime/Cargo.toml
  crates/runtime/src/component.rs
  crates/runtime/src/cow.rs
  crates/runtime/src/debug_builtins.rs
  crates/runtime/src/externref.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/memory.rs
  crates/runtime/src/mmap/miri.rs
  crates/runtime/src/mmap/unix.rs
  crates/runtime/src/mmap/windows.rs
  crates/runtime/src/send_sync_ptr.rs
  crates/runtime/src/table.rs
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/vmcontext.rs
  crates/runtime/src/vmcontext/vm_host_func_context.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/ref.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/store/func_refs.rs
  crates/wasmtime/src/values.rs
  supply-chain/audits.toml
  tests/all/func.rs
Labels: wasmtime:api, wasmtime:c-api, wasmtime:ref-types

#6359 add C API for epoch_deadline_callback and wasmtime_error_t creation
  crates/c-api/include/wasmtime/error.h
  crates/c-api/include/wasmtime/store.h
  crates/c-api/src/error.rs
  crates/c-api/src/store.rs
Labels: wasmtime:c-api

#6361 Refactor Wasmtime's profiling support
  Cargo.lock
  crates/jit/Cargo.toml
  crates/jit/src/instantiate.rs
  crates/jit/src/lib.rs
  crates/jit/src/profiling.rs
  crates/jit/src/profiling/jitdump.rs
  crates/jit/src/profiling/jitdump_disabled.rs
  crates/jit/src/profiling/jitdump_linux.rs
  crates/jit/src/profiling/perfmap.rs
  crates/jit/src/profiling/perfmap_disabled.rs
  crates/jit/src/profiling/perfmap_linux.rs
  crates/jit/src/profiling/vtune.rs
  crates/jit/src/profiling/vtune_disabled.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/trampoline/func.rs
Labels: wasmtime:api, wasmtime:config

#6362 Fold guest profiling flags into `--profile` CLI option
  crates/cli-flags/src/lib.rs
  crates/wasmtime/src/config.rs
  src/commands/run.rs
Labels: wasmtime:api, wasmtime:config

#6337 wasmtime: Stop using `cfg(compiler)`
  crates/wasmtime/build.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/trampoline/func.rs
Labels: wasmtime:api, wasmtime:config

#6324 riscv64: Add `vconst` lowerings
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/encode.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/reftypes.clif
  cranelift/filetests/filetests/isa/riscv64/simd-abi.clif
  cranelift/filetests/filetests/isa/riscv64/simd-loads.clif
  cranelift/filetests/filetests/isa/riscv64/simd-stores.clif
  cranelift/filetests/filetests/isa/riscv64/simd-vconst-64bit.clif
  cranelift/filetests/filetests/isa/riscv64/simd-vconst.clif
  cranelift/filetests/filetests/isa/riscv64/stack.clif
  cranelift/filetests/filetests/runtests/simd-vconst-64bit.clif
  cranelift/filetests/filetests/runtests/simd-vconst.clif
Labels: cranelift

#6368 [9.0.0] Add release notes
  RELEASES.md
Labels: wasmtime:docs

#6369 copy input msg into result of C API wasmtime_error_new
  crates/c-api/src/error.rs
Labels: wasmtime:c-api

#6364 Add release notes for 9.0.0
  RELEASES.md
Labels: wasmtime:docs

#6354 x64: Add non-SSE4.1 lowerings for `extractlane`
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/uextend-elision.clif
  cranelift/filetests/filetests/runtests/simd-extractlane.clif
Labels: cranelift, cranelift:area:x64

#6375 Fix typo in StoreContext doc comments
  crates/wasmtime/src/store/context.rs
Labels: wasmtime:api

#6377 Revert the lea-based lowering for iadd in the x64 backend
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/amode-opt.clif
  cranelift/filetests/filetests/isa/x64/basic.clif
  cranelift/filetests/filetests/isa/x64/branches.clif
  cranelift/filetests/filetests/isa/x64/immediates.clif
  cranelift/filetests/filetests/isa/x64/lea.clif
  cranelift/filetests/filetests/isa/x64/load-op.clif
  cranelift/filetests/filetests/isa/x64/pinned-reg.clif
  cranelift/filetests/filetests/isa/x64/table.clif
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0xffffffff_guard_no_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0xffffffff_guard_no_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0xffffffff_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0xffffffff_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0xffffffff_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0xffffffff_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0xffffffff_guard_no_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0xffffffff_guard_no_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_static_kind_i32_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_static_kind_i32_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_static_kind_i64_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_static_kind_i64_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0x1000_offset.wat
Labels: cranelift, cranelift:area:x64, isle

#6376 Fix link integrating with Wasmtime link
  crates/wiggle/README.md
Labels: wasi

#6383 [9.0.0] Switch wasmtime-wasi-http to using Wasmtime's version
  Cargo.lock
  Cargo.toml
  cranelift/filetests/filetests/isa/x64/uextend-elision.clif
  crates/wasi-http/Cargo.toml
Labels: cranelift

#6384 aarch64: Fix Ldr19 relocations being unresolvable
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/encoding/vex.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/settings.rs
  cranelift/filetests/filetests/isa/aarch64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/runtests/bb-padding.clif
  cranelift/jit/src/backend.rs
  cranelift/object/src/backend.rs
  crates/cranelift/src/compiler.rs
  crates/fuzzing/src/generators/config.rs
  crates/wasmtime/src/engine.rs
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/x64/asm.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta, fuzzing, cranelift:module, cranelift:area:aarch64, cranelift:area:x64, winch

#6381 wasmtime: Refactor compilation orchestration
  crates/environ/src/component/compiler.rs
  crates/environ/src/component/types.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/compiler.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#6388 Fix some warnings on nightly Rust
  cranelift/wasm/src/environ/spec.rs
  crates/environ/src/component/translate.rs
  crates/fiber/src/lib.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/diff_spec.rs
  crates/runtime/src/externref.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/traphandlers/unix.rs
  crates/wasmtime/src/store.rs
  tests/all/async_functions.rs
  tests/all/func.rs
  tests/all/funcref.rs
  tests/all/globals.rs
  tests/all/host_funcs.rs
  tests/all/linker.rs
  tests/all/pooling_allocator.rs
  winch/codegen/src/visitor.rs
Labels: wasmtime:api, cranelift, fuzzing, cranelift:wasm, wasmtime:ref-types, winch

#6367 riscv64: Add `.vx` format opcodes
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/simd-iadd.clif
  cranelift/filetests/filetests/isa/riscv64/simd-ineg.clif
  cranelift/filetests/filetests/isa/riscv64/simd-isub.clif
  cranelift/filetests/filetests/runtests/simd-iadd-splat.clif
  cranelift/filetests/filetests/runtests/simd-ineg.clif
  cranelift/filetests/filetests/runtests/simd-isub-splat.clif
Labels: cranelift

#6394 Update wasm-tools crates to latest versions.
  Cargo.lock
  Cargo.toml
  cranelift/wasm/src/code_translator.rs
  crates/wasmtime/src/engine/serialization.rs
  src/commands/run.rs
  supply-chain/imports.lock
Labels: wasmtime:api, cranelift, cranelift:wasm

#6372 x64: Update i64x2 `sshr` implementation
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/runtests/simd-sshr.clif
Labels: cranelift, cranelift:area:x64

#6393 Basic guest-profiler documentation for the book
  docs/SUMMARY.md
  docs/examples-profiling-guest.md
  docs/examples-profiling.md
Labels: wasmtime:docs

#6398 Bump regalloc2
  Cargo.lock
  Cargo.toml
  cranelift/filetests/filetests/isa/aarch64/reftypes.clif
  cranelift/filetests/filetests/isa/riscv64/reftypes.clif
  cranelift/filetests/filetests/isa/s390x/reftypes.clif
  cranelift/filetests/filetests/isa/x64/fma-call.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/ishl.clif
  cranelift/filetests/filetests/isa/x64/sshr.clif
  cranelift/filetests/filetests/isa/x64/ushr.clif
  supply-chain/imports.lock
Labels: cranelift

#6402 x64: lower `LoadExtName` to a RIP-relative `LEA`
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/symbols.clif
Labels: cranelift, cranelift:area:x64

#6406 Fold guest profiling flags into `--profile` CLI option
  crates/cli-flags/src/lib.rs
  crates/wasmtime/src/config.rs
  src/commands/run.rs
Labels: wasmtime:api, wasmtime:config

#6403 riscv64: Add Float SIMD lowerings for some instructions
  build.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/simd-fadd.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fdiv.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fmul.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fneg.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fsub.clif
  cranelift/filetests/filetests/isa/riscv64/simd-sqrt.clif
  cranelift/filetests/filetests/runtests/simd-fadd-splat.clif
  cranelift/filetests/filetests/runtests/simd-fadd.clif
  cranelift/filetests/filetests/runtests/simd-fdiv.clif
  cranelift/filetests/filetests/runtests/simd-fmul.clif
  cranelift/filetests/filetests/runtests/simd-fneg.clif
  cranelift/filetests/filetests/runtests/simd-fsub.clif
  cranelift/filetests/filetests/runtests/simd-sqrt.clif
Labels: cranelift

#6405 Restore the lea-based lowering for iadd in the x64 backend
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/amode-opt.clif
  cranelift/filetests/filetests/isa/x64/basic.clif
  cranelift/filetests/filetests/isa/x64/branches.clif
  cranelift/filetests/filetests/isa/x64/immediates.clif
  cranelift/filetests/filetests/isa/x64/lea.clif
  cranelift/filetests/filetests/isa/x64/load-op.clif
  cranelift/filetests/filetests/isa/x64/pinned-reg.clif
  cranelift/filetests/filetests/isa/x64/table.clif
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0xffffffff_guard_no_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0xffffffff_guard_no_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0xffffffff_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0xffffffff_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0xffffffff_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0xffffffff_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0xffffffff_guard_no_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0xffffffff_guard_no_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_static_kind_i32_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_static_kind_i32_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_static_kind_i64_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_static_kind_i64_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0x1000_offset.wat
Labels: cranelift, cranelift:area:x64, isle

#6412 x64: Update all feature tests to pure constructors
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
Labels: cranelift, cranelift:area:x64, isle

#6410 Fix the component_api fuzzer
  crates/misc/component-fuzz-util/src/lib.rs
  fuzz/build.rs
Labels: fuzzing

#6413 Expose Config::static_memory_forced to C
  crates/c-api/include/wasmtime/config.h
  crates/c-api/src/config.rs
Labels: wasmtime:c-api

#6414 `cranelift-codegen`: Rename `abi::Caller` to `abi::CallSite`
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#6408 riscv64: Implement `insertlane`
  build.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/simd-insertlane.clif
  cranelift/filetests/filetests/runtests/simd-insert-extract-lane.clif
  cranelift/filetests/filetests/runtests/simd-insertlane.clif
Labels: cranelift

#6418 Release Wasmtime 9.0.0
  RELEASES.md
Labels: wasmtime:docs

#6423 Fix typos in C API
  crates/c-api/include/wasmtime/config.h
  crates/c-api/include/wasmtime/memory.h
  crates/c-api/include/wasmtime/store.h
  crates/c-api/include/wasmtime/val.h
Labels: wasmtime:c-api

#6400 winch(trampolines): Save SP, FP and return address
  tests/all/winch.rs
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/isa/aarch64/abi.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/codegen/src/trampoline.rs
Labels: winch

#6434 Cranelift/ABI: catch overflow in layout code with large stack slots.
  cranelift/codegen/src/machinst/abi.rs
  cranelift/filetests/filetests/isa/x64/too-large-stackframe.clif
  cranelift/filetests/src/test_compile.rs
Labels: cranelift, cranelift:area:machinst

#6430 riscv64: Implement SIMD saturating arithmetic and min/max
  build.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/simd-saddsat.clif
  cranelift/filetests/filetests/isa/riscv64/simd-smax.clif
  cranelift/filetests/filetests/isa/riscv64/simd-smin.clif
  cranelift/filetests/filetests/isa/riscv64/simd-ssubsat.clif
  cranelift/filetests/filetests/isa/riscv64/simd-uaddsat.clif
  cranelift/filetests/filetests/isa/riscv64/simd-umax.clif
  cranelift/filetests/filetests/isa/riscv64/simd-umin.clif
  cranelift/filetests/filetests/isa/riscv64/simd-usubsat.clif
  cranelift/filetests/filetests/runtests/i128-min-max.clif
  cranelift/filetests/filetests/runtests/integer-minmax.clif
  cranelift/filetests/filetests/runtests/simd-min-max.clif
  cranelift/filetests/filetests/runtests/simd-saddsat-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-saddsat.clif
  cranelift/filetests/filetests/runtests/simd-ssubsat-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-ssubsat.clif
  cranelift/filetests/filetests/runtests/simd-uaddsat-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-uaddsat.clif
  cranelift/filetests/filetests/runtests/simd-usubsat-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-usubsat.clif
Labels: cranelift

#6439 Add release notes for 9.0.1 release
  RELEASES.md
Labels: wasmtime:docs

#6440 feat(preview1): implement core I/O functionality
  crates/test-programs/tests/wasi-preview1-host-in-preview2.rs
  crates/wasi/src/preview2/preview1/mod.rs
  crates/wasi/src/preview2/table.rs
Labels: wasi

#6443 winch: Drop `FuncEnv` trait
  Cargo.lock
  Cargo.toml
  crates/winch/Cargo.toml
  crates/winch/src/compiler.rs
  scripts/publish.rs
  winch/Cargo.toml
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/mod.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/lib.rs
  winch/codegen/src/visitor.rs
  winch/environ/Cargo.toml
  winch/environ/src/lib.rs
  winch/filetests/Cargo.toml
  winch/filetests/src/lib.rs
  winch/src/compile.rs
Labels: winch

#6416 x64: Add memory operand support to EVEX instructions
  cranelift/codegen/benches/x64-evex-encoding.rs
  cranelift/codegen/src/isa/x64/encoding/evex.rs
  cranelift/codegen/src/isa/x64/encoding/rex.rs
  cranelift/codegen/src/isa/x64/encoding/vex.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/filetests/filetests/isa/x64/simd-abs-avx512.clif
Labels: cranelift, cranelift:area:x64

#6449 Add nop instruction to Winch
  fuzz/fuzz_targets/differential.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/aarch64/nop/nop.wat
  winch/filetests/filetests/x64/nop/nop.wat
Labels: fuzzing, winch

#6448 c-api: Allow for installing wasmtime via cmake
  crates/c-api/CMakeLists.txt
Labels: wasmtime:c-api

#6444 fix: respect `fd_prestat_dir_name` `path_max_len` argument
  crates/test-programs/wasi-tests/src/bin/dir_fd_op_failures.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-preview1-component-adapter/src/lib.rs
Labels: wasi

#6445 Expose remaining fuel
  crates/c-api/include/wasmtime/store.h
  crates/c-api/src/store.rs
  crates/wasmtime/src/store.rs
  tests/all/fuel.rs
Labels: wasmtime:api, wasmtime:c-api

#6451 winch: Refactor the `MacroAssembler` associated types
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/frame/mod.rs
  winch/codegen/src/isa/aarch64/abi.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/trampoline.rs
  winch/codegen/src/visitor.rs
Labels: winch

#6457 Honor `ModuleVersionStrategy` in `Engine::precompile_compatibility_hash`
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/module.rs
Labels: wasmtime:api, wasmtime:config

#6450 x64: Swap order of operands in EVEX instructions
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/shuffle-avx512.clif
Labels: cranelift, cranelift:area:x64

#6452 Sync with the latest WASI proposal wit files.
  Cargo.toml
  crates/test-programs/command-tests/src/bin/random.rs
  crates/test-programs/reactor-tests/wit/deps/filesystem/filesystem.wit
  crates/test-programs/reactor-tests/wit/deps/random/random.wit
  crates/test-programs/reactor-tests/wit/deps/wasi-cli-base/preopens.wit
  crates/test-programs/tests/command.rs
  crates/test-programs/tests/reactor.rs
  crates/wasi-preview1-component-adapter/src/descriptors.rs
  crates/wasi-preview1-component-adapter/src/lib.rs
  crates/wasi-preview1-component-adapter/wit/command.wit
  crates/wasi-preview1-component-adapter/wit/deps/filesystem/filesystem.wit
  crates/wasi-preview1-component-adapter/wit/deps/preview/command-extended.wit
  crates/wasi-preview1-component-adapter/wit/deps/preview/command.wit
  crates/wasi-preview1-component-adapter/wit/deps/preview/proxy.wit
  crates/wasi-preview1-component-adapter/wit/deps/random/insecure-seed.wit
  crates/wasi-preview1-component-adapter/wit/deps/random/insecure.wit
  crates/wasi-preview1-component-adapter/wit/deps/random/random.wit
  crates/wasi-preview1-component-adapter/wit/deps/sockets/ip-name-lookup.wit
  crates/wasi-preview1-component-adapter/wit/deps/sockets/network.wit
  crates/wasi-preview1-component-adapter/wit/deps/sockets/tcp-create-socket.wit
  crates/wasi-preview1-component-adapter/wit/deps/sockets/tcp.wit
  crates/wasi-preview1-component-adapter/wit/deps/sockets/udp-create-socket.wit
  crates/wasi-preview1-component-adapter/wit/deps/sockets/udp.wit
  crates/wasi-preview1-component-adapter/wit/deps/wasi-cli-base/preopens.wit
  crates/wasi-preview1-component-adapter/wit/deps/wasi-cli-base/stdio.wit
  crates/wasi-preview1-component-adapter/wit/reactor.wit
  crates/wasi/src/preview2/ctx.rs
  crates/wasi/src/preview2/filesystem.rs
  crates/wasi/src/preview2/preview1/mod.rs
  crates/wasi/src/preview2/preview2/env.rs
  crates/wasi/src/preview2/preview2/filesystem.rs
  crates/wasi/src/preview2/preview2/random.rs
  crates/wasi/src/preview2/random.rs
  crates/wasi/src/preview2/stream.rs
  crates/wasi/src/preview2/wasi/command.rs
  crates/wasi/src/preview2/wasi/mod.rs
  crates/wasi/wit/command.wit
  crates/wasi/wit/deps/filesystem/filesystem.wit
  crates/wasi/wit/deps/preview/command-extended.wit
  crates/wasi/wit/deps/preview/command.wit
  crates/wasi/wit/deps/preview/proxy.wit
  crates/wasi/wit/deps/random/insecure-seed.wit
  crates/wasi/wit/deps/random/insecure.wit
  crates/wasi/wit/deps/random/random.wit
  crates/wasi/wit/deps/sockets/ip-name-lookup.wit
  crates/wasi/wit/deps/sockets/network.wit
  crates/wasi/wit/deps/sockets/tcp-create-socket.wit
  crates/wasi/wit/deps/sockets/tcp.wit
  crates/wasi/wit/deps/sockets/udp-create-socket.wit
  crates/wasi/wit/deps/sockets/udp.wit
  crates/wasi/wit/deps/wasi-cli-base/preopens.wit
  crates/wasi/wit/deps/wasi-cli-base/stdio.wit
  crates/wasi/wit/reactor.wit
Labels: wasi

#6459 riscv64: Add Newtype Wrappers for Register Classes
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/prelude_lower.isle
  cranelift/filetests/filetests/isa/riscv64/select-float.clif
  cranelift/filetests/filetests/isa/riscv64/select.clif
Labels: cranelift, isle

#5288 Function references
  build.rs
  cranelift/codegen/src/ir/trapcode.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/filetests/src/test_wasm/env.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/func_translator.rs
  cranelift/wasm/src/sections_translator.rs
  cranelift/wasm/src/translation_utils.rs
  crates/cli-flags/src/lib.rs
  crates/cranelift-shared/src/lib.rs
  crates/cranelift/src/debug/transform/simulate.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/types.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/trap_encoding.rs
  crates/runtime/src/cow.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/table.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/types.rs
  crates/wasmtime/src/types/matching.rs
  crates/wast/src/core.rs
  crates/wast/src/wast.rs
  crates/winch/src/compiler.rs
  tests/all/externals.rs
  tests/all/wast.rs
  tests/misc_testsuite/function-references/table_fill.wast
  tests/misc_testsuite/function-references/table_get.wast
  tests/misc_testsuite/function-references/table_grow.wast
  tests/misc_testsuite/function-references/table_set.wast
  winch/codegen/src/abi/local.rs
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/frame/mod.rs
  winch/codegen/src/isa/aarch64/abi.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/mod.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/lib.rs
  winch/codegen/src/trampoline.rs
  winch/codegen/src/visitor.rs
  winch/filetests/src/lib.rs
  winch/src/compile.rs
Labels: wasmtime:api, cranelift, cranelift:wasm, wasmtime:config

#6462 [9.0.0] fix Wasi rights system to work with wasi-libc
  crates/test-programs/wasi-tests/src/bin/path_open_read_write.rs
  crates/wasi-common/cap-std-sync/src/lib.rs
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/file.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-common/tokio/src/lib.rs
Labels: wasi

#6471 fixes to #6462: make wasi-common API compatible with 9.0.1
  RELEASES.md
  crates/wasi-common/cap-std-sync/src/lib.rs
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/file.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-common/tokio/src/lib.rs
Labels: wasi, wasmtime:docs

#6475 Release Wasmtime 9.0.2
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  winch/codegen/Cargo.toml
  winch/environ/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch

#6473 Disable tests for all proc-macros
  crates/c-api/macros/Cargo.toml
  crates/component-macro/test-helpers/Cargo.toml
  crates/misc/component-macro-test/Cargo.toml
  crates/wasi-preview1-component-adapter/byte-array-literals/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  winch/test-macros/Cargo.toml
Labels: wasmtime:c-api, wasi, winch

#6472 Add release notes for 9.0.2 release
  RELEASES.md
Labels: wasmtime:docs

#6463 fix Wasi rights system to work with wasi-libc
  .github/subscribe-to-label.json
  crates/test-programs/tests/wasi-cap-std-sync.rs
  crates/test-programs/tests/wasi-preview1-host-in-preview2.rs
  crates/test-programs/tests/wasi-preview2-components.rs
  crates/test-programs/tests/wasi-tokio.rs
  crates/test-programs/wasi-tests/src/bin/path_open_preopen.rs
  crates/test-programs/wasi-tests/src/bin/path_open_read_write.rs
  crates/wasi-common/cap-std-sync/src/lib.rs
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/file.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-common/tokio/src/lib.rs
  crates/wasi-preview1-component-adapter/src/descriptors.rs
  crates/wasi/src/preview2/preview1/mod.rs
  crates/wasi/src/preview2/preview2/filesystem.rs
  crates/wasi/wit/deps/filesystem/filesystem.wit
Labels: cranelift, wasi, cranelift:wasm

#6468 winch: Aarch64 sub and mul
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/filetests/filetests/aarch64/i32_mul/const.wat
  winch/filetests/filetests/aarch64/i32_mul/locals.wat
  winch/filetests/filetests/aarch64/i32_mul/max.wat
  winch/filetests/filetests/aarch64/i32_mul/max_one.wat
  winch/filetests/filetests/aarch64/i32_mul/mixed.wat
  winch/filetests/filetests/aarch64/i32_mul/params.wat
  winch/filetests/filetests/aarch64/i32_mul/signed.wat
  winch/filetests/filetests/aarch64/i32_mul/unsigned_with_zero.wat
  winch/filetests/filetests/aarch64/i32_sub/const.wat
  winch/filetests/filetests/aarch64/i32_sub/locals.wat
  winch/filetests/filetests/aarch64/i32_sub/max.wat
  winch/filetests/filetests/aarch64/i32_sub/max_one.wat
  winch/filetests/filetests/aarch64/i32_sub/mixed.wat
  winch/filetests/filetests/aarch64/i32_sub/params.wat
  winch/filetests/filetests/aarch64/i32_sub/signed.wat
  winch/filetests/filetests/aarch64/i32_sub/unsigned_with_zero.wat
  winch/filetests/filetests/aarch64/i64_mul/const.wat
  winch/filetests/filetests/aarch64/i64_mul/locals.wat
  winch/filetests/filetests/aarch64/i64_mul/max.wat
  winch/filetests/filetests/aarch64/i64_mul/max_one.wat
  winch/filetests/filetests/aarch64/i64_mul/mixed.wat
  winch/filetests/filetests/aarch64/i64_mul/params.wat
  winch/filetests/filetests/aarch64/i64_mul/signed.wat
  winch/filetests/filetests/aarch64/i64_mul/unsigned_with_zero.wat
  winch/filetests/filetests/aarch64/i64_sub/const.wat
  winch/filetests/filetests/aarch64/i64_sub/locals.wat
  winch/filetests/filetests/aarch64/i64_sub/max.wat
  winch/filetests/filetests/aarch64/i64_sub/max_one.wat
  winch/filetests/filetests/aarch64/i64_sub/mixed.wat
  winch/filetests/filetests/aarch64/i64_sub/params.wat
  winch/filetests/filetests/aarch64/i64_sub/signed.wat
  winch/filetests/filetests/aarch64/i64_sub/unsigned_with_zero.wat
  winch/filetests/filetests/x64/i32_sub/unsigned_with_zero.wat
  winch/filetests/filetests/x64/i64_sub/unsigned_with_zero.wat
Labels: winch

#6421 Add `EntityList::copy_from`
  cranelift/entity/src/list.rs
Labels: cranelift

#6466 x64: Move instruction helpers together
  cranelift/codegen/src/isa/x64/inst.isle
Labels: cranelift, cranelift:area:x64

#6479 release 9.0.0 branch: fix directory open rights
  crates/test-programs/wasi-tests/src/bin/path_open_preopen.rs
  crates/test-programs/wasi-tests/src/bin/path_open_read_write.rs
  crates/wasi-common/src/snapshots/preview_1.rs
Labels: wasi

#6484 x64: Add support for more BMI1 instructions
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/bmi1.clif
  cranelift/filetests/filetests/runtests/x64-bmi1.clif
Labels: cranelift, cranelift:area:x64

#6485 x64: Add support for `vpsraq`
  cranelift/codegen/src/isa/x64/encoding/evex.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/simd-i64x2-shift-avx512.clif
  cranelift/filetests/filetests/runtests/simd-sshr.clif
Labels: cranelift, cranelift:area:x64, isle

#6467 x64: Add pre-SSE4.1 compatible lowerings for misc instructions
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/runtests/simd-conversion.clif
  cranelift/filetests/filetests/runtests/simd-unarrow.clif
Labels: cranelift, cranelift:area:x64

#6490 Release Wasmtime 9.0.3
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  winch/codegen/Cargo.toml
  winch/environ/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch

#6491 add release notes for 9.0.3
  RELEASES.md
Labels: wasmtime:docs
