Repository bytecodealliance/wasmtime, pull requests merged in 2023-11, with the labels that each got.

#7388 preview2: Use blocking io for stdout and stderr
  crates/wasi/src/preview2/stdio.rs
Labels: wasi

#7433 fuzzgen: Allow restricting generated opcodes with env var
  cranelift/fuzzgen/src/function_generator.rs
  fuzz/README.md
Labels: cranelift, fuzzing

#7443 Fix Winch bug for funcs with params and locals
  winch/codegen/src/frame/mod.rs
  winch/filetests/filetests/x64/br_if/as_local_set_value.wat
  winch/filetests/filetests/x64/loop/for.wat
  winch/filetests/filetests/x64/loop/while.wat
  winch/filetests/filetests/x64/table/fill.wat
Labels: winch

#7431 Release Wasmtime 14.0.4
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#7447 Validate the status code in outgoing-response
  crates/test-programs/src/bin/api_proxy.rs
  crates/test-programs/src/bin/api_proxy_streaming.rs
  crates/test-programs/src/bin/http_outbound_request_response_build.rs
  crates/wasi-http/src/types.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi/wit/deps/http/types.wit
Labels: wasi

#7441 Fix writes being flushed to stdio
  crates/test-programs/src/bin/cli_stdio_write_flushes.rs
  crates/wasi-common/cap-std-sync/src/stdio.rs
  tests/all/cli_tests.rs
Labels: wasi

#7439 egraphs: Remove extends and reduces from the shift amount
  cranelift/codegen/src/opts/shifts.isle
  cranelift/filetests/filetests/egraph/shifts.clif
Labels: cranelift, isle

#7450 Cranelift: Reassociate constants out of nested shifts
  cranelift/codegen/src/opts/cprop.isle
  cranelift/filetests/filetests/egraph/reassociate-constants-in-shifts.clif
Labels: cranelift, isle

#7453 egraphs: Merge consecutive shifts and rotates
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/opts/bitops.isle
  cranelift/codegen/src/opts/shifts.isle
  cranelift/codegen/src/prelude.isle
  cranelift/codegen/src/prelude_opt.isle
  cranelift/filetests/filetests/egraph/shifts.clif
Labels: cranelift, isle

#7452 aarch64: Add support for `tbz` and `tbnz`
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/filetests/filetests/isa/aarch64/condbr.clif
Labels: cranelift, cranelift:area:aarch64, isle

#7462 winch: Add spec tests for `local_{get,set}`
  cranelift/codegen/src/machinst/vcode.rs
  tests/misc_testsuite/winch/local_get.wast
  tests/misc_testsuite/winch/local_set.wast
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:machinst, winch

#7459 Enable copy-on-write memories for components
  crates/wasmtime/src/compiler.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#7470 cranelift: Make inline stackprobe unroll sequence valgrind compliant
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/filetests/filetests/isa/aarch64/inline-probestack.clif
  cranelift/filetests/filetests/isa/riscv64/c-inline-probestack.clif
  cranelift/filetests/filetests/isa/riscv64/inline-probestack.clif
  cranelift/filetests/filetests/isa/x64/inline-probestack-large.clif
  cranelift/filetests/filetests/isa/x64/inline-probestack.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#7472 egraphs: Recognize `rot{r,l}` from shifts
  cranelift/codegen/src/opts/shifts.isle
  cranelift/filetests/filetests/egraph/shifts.clif
  cranelift/filetests/filetests/isa/riscv64/wasm/zbb.wat
Labels: cranelift, isle

#7471 riscv64: Find more oportunities to encode a compressed add
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/filetests/filetests/isa/riscv64/c-inline-probestack.clif
  cranelift/filetests/filetests/isa/riscv64/inline-probestack.clif
  cranelift/filetests/filetests/isa/riscv64/stack-limit.clif
  cranelift/filetests/filetests/isa/riscv64/stack.clif
  cranelift/filetests/filetests/isa/riscv64/zca.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, cranelift:area:riscv64

#7475 wasi-http: Remove extra task when reading bodies
  crates/wasi-http/src/body.rs
  crates/wasi-http/src/types.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/tests/all/main.rs
  crates/wasi/src/preview2/mod.rs
Labels: wasi

#7451 wasi-http: Make all setters fallible
  crates/test-programs/src/bin/api_proxy_streaming.rs
  crates/test-programs/src/bin/http_outbound_request_invalid_port.rs
  crates/test-programs/src/bin/http_outbound_request_response_build.rs
  crates/test-programs/src/http.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi/wit/deps/http/types.wit
Labels: wasi

#7480 riscv64: Instruction selection improvements
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/arithmetic.clif
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/zca.clif
Labels: cranelift, cranelift:area:riscv64

#7477 feat(wasmtime/component): add `Linker::func_new_async`
  crates/wasmtime/src/component/linker.rs
Labels: wasmtime:api

#7482 Bump Wasmtime to 16.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#7423 wasi-sockets: Sync up UDP implementation & tests with TCP
  crates/test-programs/src/bin/preview2_tcp_connect.rs
  crates/test-programs/src/bin/preview2_tcp_sample_application.rs
  crates/test-programs/src/bin/preview2_udp_bind.rs
  crates/test-programs/src/bin/preview2_udp_connect.rs
  crates/test-programs/src/bin/preview2_udp_sample_application.rs
  crates/test-programs/src/bin/preview2_udp_sockopts.rs
  crates/test-programs/src/bin/preview2_udp_states.rs
  crates/test-programs/src/sockets.rs
  crates/wasi-http/wit/deps/sockets/tcp.wit
  crates/wasi-http/wit/deps/sockets/udp.wit
  crates/wasi/src/preview2/host/network.rs
  crates/wasi/src/preview2/host/tcp.rs
  crates/wasi/src/preview2/host/udp.rs
  crates/wasi/src/preview2/network.rs
  crates/wasi/src/preview2/tcp.rs
  crates/wasi/src/preview2/udp.rs
  crates/wasi/tests/all/async_.rs
  crates/wasi/tests/all/sync.rs
  crates/wasi/wit/deps/sockets/tcp.wit
  crates/wasi/wit/deps/sockets/udp.wit
Labels: wasi

#7484 wasi-sockets: Remove TCP no-delay
  crates/test-programs/src/bin/preview2_tcp_sockopts.rs
  crates/test-programs/src/bin/preview2_tcp_states.rs
  crates/wasi-http/wit/deps/sockets/tcp.wit
  crates/wasi/src/preview2/host/tcp.rs
  crates/wasi/wit/deps/sockets/tcp.wit
Labels: wasi

#7476 c-api: support yielding in wasmtime_store_epoch_deadline_callback
  crates/c-api/include/wasmtime/store.h
  crates/c-api/src/async.rs
  crates/c-api/src/store.rs
Labels: wasmtime:c-api

#7483 wasi-sockets: Simplify ip name lookup interface
  crates/test-programs/src/bin/preview2_ip_name_lookup.rs
  crates/test-programs/src/sockets.rs
  crates/wasi-http/wit/deps/sockets/ip-name-lookup.wit
  crates/wasi/src/preview2/host/mod.rs
  crates/wasi/src/preview2/host/network.rs
  crates/wasi/src/preview2/ip_name_lookup.rs
  crates/wasi/src/preview2/network.rs
  crates/wasi/wit/deps/sockets/ip-name-lookup.wit
Labels: wasi

#7491 riscv64: Rollback `isub` const LHS optimization
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/runtests/arithmetic.clif
Labels: cranelift, cranelift:area:riscv64

#7487 Add release notes for 15.0.0
  RELEASES.md
Labels: wasmtime:docs

#7493 [15.0.0] Backports of recent PRs
  Cargo.lock
  Cargo.toml
  RELEASES.md
  crates/test-programs/src/bin/preview2_ip_name_lookup.rs
  crates/test-programs/src/bin/preview2_tcp_connect.rs
  crates/test-programs/src/bin/preview2_tcp_sample_application.rs
  crates/test-programs/src/bin/preview2_udp_bind.rs
  crates/test-programs/src/bin/preview2_udp_connect.rs
  crates/test-programs/src/bin/preview2_udp_sample_application.rs
  crates/test-programs/src/bin/preview2_udp_sockopts.rs
  crates/test-programs/src/bin/preview2_udp_states.rs
  crates/test-programs/src/sockets.rs
  crates/wasi-http/wit/deps/sockets/ip-name-lookup.wit
  crates/wasi-http/wit/deps/sockets/tcp.wit
  crates/wasi-http/wit/deps/sockets/udp.wit
  crates/wasi/src/preview2/host/mod.rs
  crates/wasi/src/preview2/host/network.rs
  crates/wasi/src/preview2/host/tcp.rs
  crates/wasi/src/preview2/host/udp.rs
  crates/wasi/src/preview2/ip_name_lookup.rs
  crates/wasi/src/preview2/network.rs
  crates/wasi/src/preview2/tcp.rs
  crates/wasi/src/preview2/udp.rs
  crates/wasi/tests/all/async_.rs
  crates/wasi/tests/all/sync.rs
  crates/wasi/wit/deps/sockets/ip-name-lookup.wit
  crates/wasi/wit/deps/sockets/tcp.wit
  crates/wasi/wit/deps/sockets/udp.wit
  supply-chain/imports.lock
Labels: wasi, wasmtime:docs

#7465 Cranelift: Fix union node bitpacking
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/egraph/cost.rs
  cranelift/codegen/src/egraph/elaborate.rs
  cranelift/codegen/src/ir/dfg.rs
  cranelift/filetests/filetests/egraph/arithmetic.clif
  cranelift/filetests/filetests/egraph/cprop-splat.clif
  cranelift/filetests/filetests/egraph/icmp-parameterized.clif
  cranelift/filetests/filetests/egraph/icmp.clif
  cranelift/filetests/filetests/egraph/shifts.clif
  cranelift/filetests/filetests/wasm/byteswap.wat
  cranelift/isle/isle/src/codegen.rs
Labels: cranelift, isle

#7490 wasi-http: Reject delete of forbidden headers
  crates/test-programs/src/bin/api_proxy.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/tests/all/main.rs
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi/wit/deps/http/types.wit
Labels: wasi

#7456 Cranelift: Break op cost ties with expression depth in egraphs
  cranelift/codegen/src/egraph/cost.rs
  cranelift/codegen/src/egraph/elaborate.rs
Labels: cranelift

#7498 [15.0.0] A few more backports
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/runtests/arithmetic.clif
  crates/test-programs/src/bin/api_proxy.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/tests/all/main.rs
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi/wit/deps/http/types.wit
Labels: cranelift, wasi

#7466 Cranelift: Reassociate long and narrow chains of operations into shallow and wide trees
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/opts/arithmetic.isle
  cranelift/codegen/src/opts/cprop.isle
  cranelift/codegen/src/unionfind.rs
  cranelift/filetests/filetests/egraph/associative-and-commutative.clif
  cranelift/filetests/filetests/egraph/icmp.clif
Labels: cranelift, isle

#7501 winch: Properly derive a scratch register for arg assignment
  tests/misc_testsuite/winch/call.wast
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/codegen/context.rs
Labels: winch

#7508 Cranelift: Clean up imports to avoid warnings
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/opts.rs
  crates/cranelift/src/debug.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#7512 wasi-sockets: Add & refine socket options. (SO_ACCEPTCONN, TCP_KEEPIDLE/INTVL/CNT)
  crates/test-programs/src/bin/preview2_tcp_sockopts.rs
  crates/test-programs/src/bin/preview2_tcp_states.rs
  crates/test-programs/src/bin/preview2_udp_sockopts.rs
  crates/wasi-http/wit/deps/sockets/tcp.wit
  crates/wasi-http/wit/deps/sockets/udp.wit
  crates/wasi/src/preview2/host/network.rs
  crates/wasi/src/preview2/host/tcp.rs
  crates/wasi/src/preview2/tcp.rs
  crates/wasi/wit/deps/sockets/tcp.wit
  crates/wasi/wit/deps/sockets/udp.wit
Labels: wasi

#7510 wasi-filesystem: delete access modes
  crates/wasi-http/wit/deps/filesystem/types.wit
  crates/wasi-preview1-component-adapter/src/lib.rs
  crates/wasi/src/preview2/host/filesystem.rs
  crates/wasi/src/preview2/host/filesystem/sync.rs
  crates/wasi/src/preview2/preview1.rs
  crates/wasi/wit/deps/filesystem/types.wit
Labels: wasi

#7514 [15.0.0] wasi-sockets: Add & refine socket options. (SO_ACCEPTCONN, TCP_KEEPIDLE/INTVL/CNT)
  crates/test-programs/src/bin/preview2_tcp_sockopts.rs
  crates/test-programs/src/bin/preview2_tcp_states.rs
  crates/test-programs/src/bin/preview2_udp_sockopts.rs
  crates/wasi-http/wit/deps/sockets/tcp.wit
  crates/wasi-http/wit/deps/sockets/udp.wit
  crates/wasi/src/preview2/host/network.rs
  crates/wasi/src/preview2/host/tcp.rs
  crates/wasi/src/preview2/tcp.rs
  crates/wasi/wit/deps/sockets/tcp.wit
  crates/wasi/wit/deps/sockets/udp.wit
Labels: wasi

#7517 Get addr of local after popping from reg
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/block/get_and_set.wat
  winch/filetests/filetests/x64/block/get_and_tee.wat
Labels: winch

#7516 Remove no-longer-necessary reactor world
  crates/wasi-http/wit/main.wit
  crates/wasi-http/wit/test.wit
  crates/wasi-preview1-component-adapter/src/lib.rs
  crates/wasi/wit/main.wit
  crates/wasi/wit/test.wit
Labels: wasi

#7518 [15.0.0] wasi-filesystem: delete access modes
  crates/wasi-http/wit/deps/filesystem/types.wit
  crates/wasi-preview1-component-adapter/src/lib.rs
  crates/wasi/src/preview2/host/filesystem.rs
  crates/wasi/src/preview2/host/filesystem/sync.rs
  crates/wasi/src/preview2/preview1.rs
  crates/wasi/wit/deps/filesystem/types.wit
Labels: wasi

#7519 Downgrade log level on pcc error
  cranelift/codegen/src/ir/pcc.rs
Labels: cranelift

#7520 cranelift: Fix a PCC validation bug with xmm loads
  cranelift/codegen/src/isa/x64/pcc.rs
Labels: cranelift, cranelift:area:x64

#7499 winch: Properly handle unconditional jumps
  winch/codegen/src/codegen/context.rs
  winch/filetests/filetests/x64/br/br_jump.wat
Labels: winch

#7521 Move the `wasi:io/stream/error` resource into `wasi:io/error`
  crates/wasi-http/wit/deps/io/error.wit
  crates/wasi-http/wit/deps/io/streams.wit
  crates/wasi/src/preview2/command.rs
  crates/wasi/src/preview2/host/io.rs
  crates/wasi/src/preview2/mod.rs
  crates/wasi/src/preview2/stream.rs
  crates/wasi/wit/deps/io/error.wit
  crates/wasi/wit/deps/io/streams.wit
Labels: wasi

#7515 Remove timezone interface from wasi-clocks
  crates/wasi-http/wit/deps/cli/reactor.wit
  crates/wasi-http/wit/deps/clocks/timezone.wit
  crates/wasi-http/wit/deps/clocks/world.wit
  crates/wasi-http/wit/deps/http/proxy.wit
  crates/wasi/src/preview2/command.rs
  crates/wasi/src/preview2/host/clocks.rs
  crates/wasi/wit/deps/cli/reactor.wit
  crates/wasi/wit/deps/clocks/timezone.wit
  crates/wasi/wit/deps/clocks/world.wit
  crates/wasi/wit/deps/http/proxy.wit
Labels: wasi

#7524 wasi-http: Make child fields immutable
  crates/test-programs/src/bin/http_outbound_request_invalid_header.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi/wit/deps/http/types.wit
Labels: wasi

#7503 ISLE: Allow callers to pass in storage for multi returns
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/opts.rs
  cranelift/isle/isle/isle_examples/link/multi_constructor_main.rs
  cranelift/isle/isle/isle_examples/link/multi_extractor_main.rs
  cranelift/isle/isle/src/codegen.rs
Labels: cranelift, isle

#7525 winch: Do not use `unconditional_jump` with `br_table`
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/br_table/stack_handling.wat
Labels: winch

#7523 cranelift-entity: Add `get_many_mut` method
  cranelift/entity/src/primary.rs
Labels: cranelift

#7434 wasi-http: Migrate to more descriptive error variant
  crates/test-programs/src/bin/api_proxy_streaming.rs
  crates/test-programs/src/bin/http_outbound_request_invalid_dnsname.rs
  crates/test-programs/src/bin/http_outbound_request_invalid_version.rs
  crates/test-programs/src/bin/http_outbound_request_unknown_method.rs
  crates/test-programs/src/bin/http_outbound_request_unsupported_scheme.rs
  crates/test-programs/src/http.rs
  crates/wasi-http/src/body.rs
  crates/wasi-http/src/http_impl.rs
  crates/wasi-http/src/lib.rs
  crates/wasi-http/src/types.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/tests/all/main.rs
  crates/wasi-http/wit/deps/http/handler.wit
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi/wit/deps/http/handler.wit
  crates/wasi/wit/deps/http/types.wit
  src/commands/serve.rs
Labels: wasi

#7529 [15.0.0] Backport WIT-changing PRs
  crates/test-programs/src/bin/api_proxy_streaming.rs
  crates/test-programs/src/bin/http_outbound_request_invalid_dnsname.rs
  crates/test-programs/src/bin/http_outbound_request_invalid_header.rs
  crates/test-programs/src/bin/http_outbound_request_invalid_version.rs
  crates/test-programs/src/bin/http_outbound_request_unknown_method.rs
  crates/test-programs/src/bin/http_outbound_request_unsupported_scheme.rs
  crates/test-programs/src/http.rs
  crates/wasi-http/src/body.rs
  crates/wasi-http/src/http_impl.rs
  crates/wasi-http/src/lib.rs
  crates/wasi-http/src/types.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/tests/all/main.rs
  crates/wasi-http/wit/deps/cli/reactor.wit
  crates/wasi-http/wit/deps/clocks/timezone.wit
  crates/wasi-http/wit/deps/clocks/world.wit
  crates/wasi-http/wit/deps/http/handler.wit
  crates/wasi-http/wit/deps/http/proxy.wit
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi-http/wit/deps/io/error.wit
  crates/wasi-http/wit/deps/io/streams.wit
  crates/wasi-http/wit/main.wit
  crates/wasi-http/wit/test.wit
  crates/wasi-preview1-component-adapter/src/lib.rs
  crates/wasi/src/preview2/command.rs
  crates/wasi/src/preview2/host/clocks.rs
  crates/wasi/src/preview2/host/io.rs
  crates/wasi/src/preview2/mod.rs
  crates/wasi/src/preview2/stream.rs
  crates/wasi/wit/deps/cli/reactor.wit
  crates/wasi/wit/deps/clocks/timezone.wit
  crates/wasi/wit/deps/clocks/world.wit
  crates/wasi/wit/deps/http/handler.wit
  crates/wasi/wit/deps/http/proxy.wit
  crates/wasi/wit/deps/http/types.wit
  crates/wasi/wit/deps/io/error.wit
  crates/wasi/wit/deps/io/streams.wit
  crates/wasi/wit/main.wit
  crates/wasi/wit/test.wit
  src/commands/serve.rs
Labels: wasi

#7526 ISLE: Build in maximum limit for multi constructor returns
  cranelift/codegen/src/opts.rs
  cranelift/isle/isle/isle_examples/link/multi_constructor_main.rs
  cranelift/isle/isle/isle_examples/link/multi_extractor_main.rs
  cranelift/isle/isle/src/codegen.rs
Labels: cranelift, isle

#7527 wasi-http: Validate Content-Length when present
  crates/test-programs/src/bin/api_proxy.rs
  crates/test-programs/src/bin/api_proxy_streaming.rs
  crates/test-programs/src/bin/http_outbound_request_content_length.rs
  crates/test-programs/src/http.rs
  crates/wasi-http/src/body.rs
  crates/wasi-http/src/lib.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/tests/all/async_.rs
  crates/wasi-http/tests/all/sync.rs
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi/wit/deps/http/types.wit
Labels: wasi

#7533 WASI wits: use 0.2.0-rc-2023-11-10
  crates/wasi-http/src/lib.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/wit/command-extended.wit
  crates/wasi-http/wit/deps/cli/command.wit
  crates/wasi-http/wit/deps/cli/reactor.wit
  crates/wasi-http/wit/deps/cli/stdio.wit
  crates/wasi-http/wit/deps/clocks/monotonic-clock.wit
  crates/wasi-http/wit/deps/clocks/wall-clock.wit
  crates/wasi-http/wit/deps/clocks/world.wit
  crates/wasi-http/wit/deps/filesystem/preopens.wit
  crates/wasi-http/wit/deps/filesystem/types.wit
  crates/wasi-http/wit/deps/filesystem/world.wit
  crates/wasi-http/wit/deps/http/proxy.wit
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi-http/wit/deps/io/error.wit
  crates/wasi-http/wit/deps/io/poll.wit
  crates/wasi-http/wit/deps/io/streams.wit
  crates/wasi-http/wit/deps/io/world.wit
  crates/wasi-http/wit/deps/random/insecure-seed.wit
  crates/wasi-http/wit/deps/random/insecure.wit
  crates/wasi-http/wit/deps/random/random.wit
  crates/wasi-http/wit/deps/random/world.wit
  crates/wasi-http/wit/deps/sockets/ip-name-lookup.wit
  crates/wasi-http/wit/deps/sockets/tcp.wit
  crates/wasi-http/wit/deps/sockets/udp.wit
  crates/wasi-http/wit/deps/sockets/world.wit
  crates/wasi-http/wit/test.wit
  crates/wasi-preview1-component-adapter/src/descriptors.rs
  crates/wasi-preview1-component-adapter/src/lib.rs
  crates/wasi/src/preview2/mod.rs
  crates/wasi/wit/command-extended.wit
  crates/wasi/wit/deps/cli/command.wit
  crates/wasi/wit/deps/cli/reactor.wit
  crates/wasi/wit/deps/cli/stdio.wit
  crates/wasi/wit/deps/clocks/monotonic-clock.wit
  crates/wasi/wit/deps/clocks/wall-clock.wit
  crates/wasi/wit/deps/clocks/world.wit
  crates/wasi/wit/deps/filesystem/preopens.wit
  crates/wasi/wit/deps/filesystem/types.wit
  crates/wasi/wit/deps/filesystem/world.wit
  crates/wasi/wit/deps/http/proxy.wit
  crates/wasi/wit/deps/http/types.wit
  crates/wasi/wit/deps/io/error.wit
  crates/wasi/wit/deps/io/poll.wit
  crates/wasi/wit/deps/io/streams.wit
  crates/wasi/wit/deps/io/world.wit
  crates/wasi/wit/deps/random/insecure-seed.wit
  crates/wasi/wit/deps/random/insecure.wit
  crates/wasi/wit/deps/random/random.wit
  crates/wasi/wit/deps/random/world.wit
  crates/wasi/wit/deps/sockets/ip-name-lookup.wit
  crates/wasi/wit/deps/sockets/tcp.wit
  crates/wasi/wit/deps/sockets/udp.wit
  crates/wasi/wit/deps/sockets/world.wit
  crates/wasi/wit/test.wit
  tests/all/cli_tests/component-basic.wat
Labels: wasi

#7531 winch: Materialize latent locals when setting them
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/stack.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/local/latent.wat
  winch/filetests/filetests/x64/local/materialized.wat
Labels: winch

#7548 Implement WASI "preview0" in `wasmtime-wasi`
  crates/cli-flags/src/lib.rs
  crates/wasi/src/preview2/mod.rs
  crates/wasi/src/preview2/preview0.rs
  crates/wasi/src/preview2/preview1.rs
  crates/wasi/witx/preview0/typenames.witx
  crates/wasi/witx/preview0/wasi_unstable.witx
  crates/wasi/witx/preview1/typenames.witx
  crates/wasi/witx/preview1/wasi_snapshot_preview1.witx
  crates/wiggle/src/lib.rs
  src/commands/run.rs
  tests/all/cli_tests.rs
Labels: wasi

#7547 winch: Solidify unreachable code handling
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/control.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/stack.rs
  winch/filetests/filetests/x64/br/br_jump.wat
  winch/filetests/filetests/x64/if/reachability.wat
  winch/filetests/filetests/x64/loop/cont_inner.wat
  winch/filetests/filetests/x64/unreachable/with_spilled_local.wat
  winch/filetests/filetests/x64/unreachable/with_spilled_local_in_if.wat
Labels: winch

#7553 Wasi test suite cleanups
  crates/test-programs/src/bin/preview1_interesting_paths.rs
  crates/test-programs/src/bin/preview1_path_rename_file_trailing_slashes.rs
  crates/test-programs/src/bin/preview1_remove_directory.rs
  crates/wasi-common/tests/all/async_.rs
  crates/wasi-common/tests/all/sync.rs
  crates/wasi/tests/all/async_.rs
  crates/wasi/tests/all/preview1.rs
  crates/wasi/tests/all/sync.rs
Labels: wasi

#7557 Release Wasmtime 15.0.0
  RELEASES.md
Labels: wasmtime:docs

#7556 Update release date of Wasmtime 15.0.0
  RELEASES.md
Labels: wasmtime:docs

#7565 clarify custom memory needs to be zero filled
  crates/fiber/src/lib.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/stack.rs
  tests/all/memory_creator.rs
  tests/all/stack_creator.rs
Labels: wasmtime:api

#7564 move wasmtime-wasi's unit test for stdin to a separate integration test
  crates/wasi/Cargo.toml
  crates/wasi/src/preview2/stdio.rs
  crates/wasi/tests/process_stdin.rs
Labels: wasi

#7572 c-api: support accessing the module of an instance_pre
  crates/c-api/include/wasmtime/instance.h
  crates/c-api/src/instance.rs
Labels: wasmtime:c-api

#7566 docs: clarify definition in Introduction
  docs/introduction.md
Labels: wasmtime:docs

#7577 Fix broken link in ISLE language reference
  cranelift/isle/docs/language-reference.md
Labels: cranelift, isle

#7573 Winch: fix bug by spilling when emitting func call
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/stack.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/call/reg_on_stack.wat
  winch/filetests/filetests/x64/call_indirect/local_arg.wat
  winch/filetests/filetests/x64/f32_ceil/f32_ceil_param.wat
  winch/filetests/filetests/x64/f32_floor/f32_floor_param.wat
  winch/filetests/filetests/x64/f32_nearest/f32_nearest_param.wat
  winch/filetests/filetests/x64/f32_trunc/f32_trunc_param.wat
  winch/filetests/filetests/x64/f64_ceil/f64_ceil_param.wat
  winch/filetests/filetests/x64/f64_floor/f64_floor_param.wat
  winch/filetests/filetests/x64/f64_nearest/f64_nearest_param.wat
  winch/filetests/filetests/x64/f64_trunc/f64_trunc_param.wat
  winch/filetests/filetests/x64/table/fill.wat
  winch/filetests/filetests/x64/table/grow.wat
  winch/filetests/filetests/x64/table/init_copy_drop.wat
  winch/filetests/filetests/x64/table/set.wat
Labels: winch

#7522 riscv64: use `vadd.vi` for small immediate vector subtraction
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/riscv64/simd-isub-splat.clif
Labels: cranelift

#7586 preview1: Update semantics of seeking on appending files
  crates/test-programs/src/bin/preview1_file_seek_tell.rs
  crates/wasi-preview1-component-adapter/src/lib.rs
  crates/wasi/src/preview2/preview1.rs
Labels: wasi

#7587 Update the wasm-tools family of crates
  Cargo.lock
  Cargo.toml
  cranelift/filetests/src/test_wasm/env.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/translation_utils.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/compilation.rs
  crates/environ/src/component/compiler.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/types.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/module_types.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/compiler.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/module.rs
  crates/winch/src/compiler.rs
  supply-chain/imports.lock
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/frame/mod.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/mod.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/filetests/Cargo.toml
  winch/filetests/src/lib.rs
  winch/src/compile.rs
Labels: wasmtime:api, cranelift, cranelift:wasm, winch

#7595 c-api: support disabling mach ports use on macos
  crates/c-api/include/wasmtime/config.h
  crates/c-api/src/config.rs
Labels: wasmtime:c-api

#7590 Winch: cleanup stack in br_if in non-fallthrough case
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/br_if/with_machine_stack_entry.wat
  winch/filetests/filetests/x64/call/reg_on_stack.wat
Labels: winch

#7599 Cranelift: Remove some unneeded `arithmetic.isle` patterns
  cranelift/codegen/src/opts/arithmetic.isle
  cranelift/filetests/filetests/egraph/arithmetic.clif
  cranelift/filetests/filetests/egraph/associative-and-commutative.clif
  cranelift/filetests/filetests/egraph/cprop.clif
  cranelift/filetests/filetests/egraph/remat.clif
  cranelift/filetests/filetests/egraph/shifts.clif
Labels: cranelift, isle

#7589 wasi-http spec tweaks
  crates/wasi-http/src/body.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi/wit/deps/http/types.wit
Labels: wasi

#7596 Replace the preview2 table's HashMap storage with a Vec
  crates/wasi/src/preview2/table.rs
Labels: wasi

#7602 winch: Ensure stack pointer for br_table
  tests/misc_testsuite/winch/br_table.wast
  tests/misc_testsuite/winch/misc.wast
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/br_table/ensure_sp_state.wat
Labels: winch

#7613 include `wasi:random/insecure{_seed}` in `command::add_to_linker`
  crates/wasi/src/preview2/command.rs
Labels: wasi

#7614 [15.0.0] include `wasi:random/insecure{_seed}` in `command::add_to_linker`
  crates/wasi/src/preview2/command.rs
Labels: wasi

#7616 Revert "winch: Ensure stack pointer for br_table"
  tests/misc_testsuite/winch/br_table.wast
  tests/misc_testsuite/winch/misc.wast
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/br_table/ensure_sp_state.wat
Labels: winch

#7615 Cranelift: additional `icmp` & `select` ISLE opts
  cranelift/codegen/src/opts/icmp.isle
  cranelift/codegen/src/opts/selects.isle
  cranelift/filetests/filetests/egraph/icmp-parameterized.clif
  cranelift/filetests/filetests/egraph/icmp.clif
  cranelift/filetests/filetests/egraph/select.clif
Labels: cranelift, isle

#7621 winch(fuzzing): Tighten fuzzing criteria
  fuzz/fuzz_targets/differential.rs
Labels: fuzzing
