Repository bytecodealliance/wasmtime, pull requests merged in 2023-09, with the labels that each got.

#6948 Some minor fixes and features for WASI and sockets
  crates/test-programs/tests/reactor.rs
  crates/test-programs/tests/wasi-sockets.rs
  crates/wasi/src/preview2/command.rs
  crates/wasi/src/preview2/host/tcp.rs
  crates/wasi/src/preview2/mod.rs
  crates/wasi/src/preview2/tcp.rs
  src/commands/run.rs
Labels: wasi

#6931 Two fixes for the `-g` (debug info) option
  .gitignore
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/vcode.rs
  crates/cranelift/src/debug/transform/attr.rs
  tests/all/debug/lldb.rs
  tests/all/debug/testsuite/two_removed_branches.wasm
  tests/all/debug/testsuite/two_removed_branches.wat
Labels: cranelift, cranelift:area:machinst

#6951 winch: Add support for `br_table`
  fuzz/fuzz_targets/differential.rs
  tests/misc_testsuite/winch/block.wast
  tests/misc_testsuite/winch/br.wast
  tests/misc_testsuite/winch/br_if.wast
  tests/misc_testsuite/winch/br_table.wast
  tests/misc_testsuite/winch/call.wast
  tests/misc_testsuite/winch/globals.wast
  tests/misc_testsuite/winch/if.wast
  tests/misc_testsuite/winch/local_tee.wast
  tests/misc_testsuite/winch/loop.wast
  tests/misc_testsuite/winch/select.wast
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/control.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/abi.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/trampoline.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/br_table/large.wat
  winch/filetests/filetests/x64/br_table/nested_br_table_loop_block.wat
  winch/filetests/filetests/x64/loop/cont_inner.wat
Labels: fuzzing, winch

#6952 [s390x] Improve handling of negative i32 constants
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/filetests/filetests/isa/s390x/constants.clif
Labels: cranelift

#6949 fuzzgen: Enable SIMD fuzzing for RISC-V
  cranelift/fuzzgen/src/cranelift_arbitrary.rs
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/fuzzgen/src/lib.rs
  cranelift/fuzzgen/src/target_isa_extras.rs
  fuzz/fuzz_targets/cranelift-icache.rs
Labels: cranelift, fuzzing

#6960 Support referencing stack slots in the DWARF debug info
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/unwind.rs
  cranelift/codegen/src/isa/unwind/systemv.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/value_label.rs
  crates/cranelift-shared/src/compiled_function.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/debug/transform/attr.rs
  crates/cranelift/src/debug/transform/expression.rs
  crates/cranelift/src/debug/write_debuginfo.rs
  tests/all/debug/lldb.rs
  tests/all/debug/testsuite/spilled_frame_base.c
  tests/all/debug/testsuite/spilled_frame_base.wasm
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#6954 riscv64: Forbid mask/dst overlaps for masked instructions
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/filetests/filetests/isa/riscv64/issue-6954.clif
  cranelift/filetests/filetests/runtests/issue-6954.clif
Labels: cranelift, cranelift:area:riscv64

#6947 Update in-tree wit-bindgen to 0.11.0
  Cargo.lock
  Cargo.toml
  crates/test-programs/build.rs
  crates/test-programs/reactor-tests/src/lib.rs
  crates/test-programs/tests/wasi-http-modules.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_get.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_invalid_dnsname.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_invalid_port.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_invalid_version.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_post.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_post_large.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_put.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_unknown_method.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_unsupported_scheme.rs
  crates/test-programs/wasi-http-tests/src/lib.rs
  crates/wasi-http/wit/command-extended.wit
  crates/wasi-preview1-component-adapter/src/lib.rs
  crates/wasi/wit/command-extended.wit
  supply-chain/audits.toml
  supply-chain/imports.lock
Labels: wasi

#6955 riscv64: Use labels for branches whenever possible
  cranelift/codegen/meta/src/isa/riscv64.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
Labels: cranelift, cranelift:meta, cranelift:area:riscv64

#6972 wasmtime: Enable Relaxed SIMD testsuite for RISC-V
  build.rs
Labels: cranelift:area:riscv64

#6971 Optimize `list<u8>` lifting and lowering
  crates/wasmtime/src/component/func/typed.rs
Labels: wasmtime:api

#6975 riscv64: Check that the minimum set of feature flags is enabled
  cranelift/codegen/meta/src/isa/riscv64.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
Labels: cranelift, cranelift:meta, cranelift:area:riscv64

#6980 doc: document `HostOutputStream`
  crates/wasi/src/preview2/pipe.rs
  crates/wasi/src/preview2/stream.rs
Labels: wasi

#6981 Add component call micro-benchmarks
  benches/call.rs
  crates/environ/src/component/types.rs
  crates/runtime/src/component.rs
  crates/runtime/src/component/resources.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/options.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/store.rs
Labels: wasmtime:api

#6984 riscv64: Delete unused code
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
Labels: cranelift, cranelift:area:riscv64

#6985 cranelift: Fix `v{all,any}_true` and `vhigh_bits` instructions in the interpreter
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/filetests/filetests/runtests/simd-valltrue.clif
  cranelift/filetests/filetests/runtests/simd-vanytrue.clif
  cranelift/filetests/filetests/runtests/simd-vhighbits-float.clif
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/interpreter/src/step.rs
Labels: cranelift, cranelift:meta

#6982 winch: Support abs and neg for f32 and f64 on x64
  fuzz/fuzz_targets/differential.rs
  tests/misc_testsuite/winch/f32_bitwise.wast
  tests/misc_testsuite/winch/f64_bitwise.wast
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/isa/x64/regs.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/f32_abs/f32_abs_const.wat
  winch/filetests/filetests/x64/f32_abs/f32_abs_param.wat
  winch/filetests/filetests/x64/f32_neg/f32_neg_const.wat
  winch/filetests/filetests/x64/f32_neg/f32_neg_param.wat
  winch/filetests/filetests/x64/f64_abs/f64_abs_const.wat
  winch/filetests/filetests/x64/f64_abs/f64_abs_param.wat
  winch/filetests/filetests/x64/f64_neg/f64_neg_const.wat
  winch/filetests/filetests/x64/f64_neg/f64_neg_param.wat
Labels: fuzzing, winch

#6979 Cranelift: Improve codegen of store_imm on x64
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/store-imm.clif
  cranelift/filetests/filetests/isa/x64/struct-ret.clif
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
Labels: cranelift, cranelift:area:x64, winch

#6988 riscv64: Remove support for fixed offset jumps from Jump instructions
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
Labels: cranelift, isle, cranelift:area:riscv64

#6969 Finish release notes for 13.0.0
  RELEASES.md
Labels: wasmtime:docs

#6925 Redesign Wasmtime's CLI
  Cargo.lock
  Cargo.toml
  ci/run-wasi-nn-example.sh
  crates/bench-api/src/lib.rs
  crates/cli-flags/Cargo.toml
  crates/cli-flags/src/lib.rs
  crates/cli-flags/src/opt.rs
  crates/wasmtime/src/config.rs
  docs/WASI-tutorial.md
  docs/cli-logging.md
  docs/examples-coredump.md
  docs/examples-debugging.md
  docs/examples-profiling-guest.md
  src/commands/compile.rs
  src/commands/explore.rs
  src/commands/run.rs
  src/commands/wast.rs
  src/lib.rs
  tests/all/cli_tests.rs
  tests/all/debug/gdb.rs
  tests/all/debug/lldb.rs
  tests/all/wasi_testsuite.rs
Labels: wasmtime:api, wasmtime:docs, wasmtime:config

#7002 winch: Use `Reg` where appropriate in the Masm
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#6970 Refactor prolog/epilog generation code
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/filetests/filetests/isa/aarch64/return-call.clif
  cranelift/filetests/filetests/isa/aarch64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/riscv64/return-call.clif
  cranelift/filetests/filetests/isa/riscv64/tail-call-conv.clif
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, winch

#6957 Make MachineEnv a per-ABI property
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/regs.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst/regs.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/regs.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#7009 [release-13.0] Backport stream backpressure and associated fixups to 13.0
  .gitmodules
  Cargo.lock
  Cargo.toml
  RELEASES.md
  ci/build-test-matrix.js
  crates/test-programs/Cargo.toml
  crates/test-programs/reactor-tests/src/lib.rs
  crates/test-programs/tests/reactor.rs
  crates/test-programs/tests/wasi-http-components-sync.rs
  crates/test-programs/tests/wasi-http-components.rs
  crates/test-programs/tests/wasi-http-modules.rs
  crates/test-programs/tests/wasi-preview1-host-in-preview2.rs
  crates/test-programs/tests/wasi-preview2-components-sync.rs
  crates/test-programs/tests/wasi-preview2-components.rs
  crates/test-programs/wasi-http-tests/src/lib.rs
  crates/test-programs/wasi-sockets-tests/src/bin/tcp_v4.rs
  crates/test-programs/wasi-sockets-tests/src/bin/tcp_v6.rs
  crates/test-programs/wasi-sockets-tests/src/lib.rs
  crates/wasi-http/src/component_impl.rs
  crates/wasi-http/src/http_impl.rs
  crates/wasi-http/src/types.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/wit/deps/io/streams.wit
  crates/wasi-http/wit/deps/sockets/tcp.wit
  crates/wasi-preview1-component-adapter/src/descriptors.rs
  crates/wasi-preview1-component-adapter/src/lib.rs
  crates/wasi/Cargo.toml
  crates/wasi/src/preview2/filesystem.rs
  crates/wasi/src/preview2/host/filesystem.rs
  crates/wasi/src/preview2/host/io.rs
  crates/wasi/src/preview2/host/tcp.rs
  crates/wasi/src/preview2/mod.rs
  crates/wasi/src/preview2/pipe.rs
  crates/wasi/src/preview2/preview1.rs
  crates/wasi/src/preview2/stdio.rs
  crates/wasi/src/preview2/stream.rs
  crates/wasi/src/preview2/tcp.rs
  crates/wasi/wit/deps/io/streams.wit
  crates/wasi/wit/deps/sockets/tcp.wit
  tests/all/cli_tests.rs
  tests/all/cli_tests/wasi-http.wat
Labels: wasi, wasmtime:docs

#7032 impl `Clone` for `wasmtime::component::Linker`
  crates/wasmtime/src/component/linker.rs
Labels: wasmtime:api

#7010 Add support for `v128` to the typed function API
  crates/c-api/src/val.rs
  crates/fuzzing/src/oracles/diff_wasmtime.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/v128.rs
  crates/wasmtime/src/values.rs
  crates/wast/src/core.rs
  src/commands/run.rs
  tests/all/func.rs
  tests/all/globals.rs
Labels: wasmtime:api, wasmtime:c-api, fuzzing

#6992 Release Wasmtime 12.0.2
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch

#7030 riscv64: Add more compressed instructions
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/encode.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/filetests/filetests/isa/riscv64/zca.clif
  cranelift/filetests/filetests/runtests/long-jump.clif
Labels: cranelift, cranelift:area:riscv64

#7045 riscv64: Refactor how immediates are stored and used
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/inst/encode.rs
  cranelift/codegen/src/isa/riscv64/inst/imms.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/amodes.clif
  cranelift/filetests/filetests/isa/riscv64/constants.clif
  cranelift/filetests/filetests/isa/riscv64/iconst-icmp-small.clif
  cranelift/filetests/filetests/isa/riscv64/simd-popcnt.clif
  cranelift/filetests/filetests/isa/riscv64/simd-vhighbits.clif
  cranelift/filetests/filetests/isa/riscv64/stack-limit.clif
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i32_index_0_guard_no_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i32_index_0_guard_no_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i32_index_0_guard_no_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i32_index_0_guard_no_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i32_index_0_guard_yes_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i32_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i32_index_0_guard_yes_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i32_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0_guard_no_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0_guard_no_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0_guard_no_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0_guard_no_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0_guard_yes_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0_guard_yes_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_no_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_no_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_no_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_no_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0x1000_offset.wat
Labels: cranelift, isle

#7003 riscv64: Implement ELF TLS GD Relocations
  cranelift/codegen/src/binemit/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/filetests/filetests/isa/riscv64/tls-elf.clif
  cranelift/jit/src/backend.rs
  cranelift/jit/src/compiled_blob.rs
  cranelift/module/src/data_context.rs
  cranelift/module/src/lib.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
  cranelift/src/disasm.rs
  crates/cranelift-shared/src/lib.rs
Labels: cranelift, cranelift:area:machinst, cranelift:module, cranelift:area:aarch64, cranelift:area:riscv64

#7047 riscv64: Cleanup trap handling
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/arithmetic.clif
  cranelift/filetests/filetests/isa/riscv64/stack-limit.clif
  cranelift/filetests/filetests/isa/riscv64/uadd_overflow_trap.clif
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
Labels: cranelift, cranelift:area:riscv64

#7057 riscv64: Add compressed `addi`
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/encode.rs
  cranelift/codegen/src/isa/riscv64/inst/imms.rs
  cranelift/filetests/filetests/isa/riscv64/zca.clif
Labels: cranelift, cranelift:area:riscv64

#7058 Force usage of a worker thread for stdin on all platforms
  crates/wasi/src/preview2/stdio.rs
  crates/wasi/src/preview2/stdio/unix.rs
Labels: wasi

#7063 wasi: Fix a few issues around stdin
  crates/wasi/src/preview2/pipe.rs
  crates/wasi/src/preview2/preview1.rs
  crates/wasi/src/preview2/stdio/worker_thread_stdin.rs
  tests/all/cli_tests.rs
  tests/all/cli_tests/count-stdin.wat
Labels: wasi

#7067 Release Wasmtime 13.0.0
  RELEASES.md
Labels: wasmtime:docs

#7064 c-api: Expose image_range for modules
  crates/c-api/include/wasmtime/module.h
  crates/c-api/src/module.rs
Labels: wasmtime:c-api

#7066 Update release date of Wasmtime 13.0.0
  RELEASES.md
Labels: wasmtime:docs

#7011 Fix character boundary issues in preview1 host adapter
  crates/test-programs/wasi-tests/src/bin/fd_readdir.rs
  crates/test-programs/wasi-tests/src/bin/readlink.rs
  crates/wasi/src/preview2/preview1.rs
Labels: wasi

#7065 Do proper type checking for type handles.
  crates/wasmtime/src/component/types.rs
  tests/all/component_model/import.rs
Labels: wasmtime:api

#7056 Use wasi-streams in the wasi-http implementation
  crates/test-programs/tests/wasi-http-components-sync.rs
  crates/test-programs/tests/wasi-http-components.rs
  crates/test-programs/tests/wasi-http-modules.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_invalid_dnsname.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_invalid_version.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_large_post.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_post.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_unknown_method.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_unsupported_scheme.rs
  crates/test-programs/wasi-http-tests/src/lib.rs
  crates/wasi-http/src/body.rs
  crates/wasi-http/src/http_impl.rs
  crates/wasi-http/src/incoming_handler.rs
  crates/wasi-http/src/lib.rs
  crates/wasi-http/src/proxy.rs
  crates/wasi-http/src/types.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/wit/deps/http/incoming-handler.wit
  crates/wasi-http/wit/deps/http/outgoing-handler.wit
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi/src/preview2/mod.rs
  crates/wasi/src/preview2/pipe.rs
  crates/wasi/src/preview2/table.rs
  crates/wasi/src/preview2/write_stream.rs
  crates/wasi/wit/deps/http/incoming-handler.wit
  crates/wasi/wit/deps/http/outgoing-handler.wit
  crates/wasi/wit/deps/http/types.wit
  src/commands/run.rs
  tests/all/cli_tests.rs
Labels: wasi

#7069 Support resource maps in `component::bindgen!`
  crates/component-macro/tests/codegen.rs
  crates/wasmtime/src/component/mod.rs
  crates/wit-bindgen/src/lib.rs
Labels: wasmtime:api

#6935 Include Wasm-defined globals and memories in core dumps
  crates/runtime/src/instance.rs
  crates/wasmtime/src/coredump.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/store/data.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/trampoline/memory.rs
  crates/wasmtime/src/trap.rs
  crates/wasmtime/src/types.rs
  tests/all/coredump.rs
Labels: wasmtime:api

#7076 Remove manual impl of Error/Display
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_unknown_method.rs
  crates/test-programs/wasi-http-tests/src/bin/outbound_request_unsupported_scheme.rs
  crates/wasi-http/src/http_impl.rs
  crates/wasi-http/src/lib.rs
  crates/wasi-http/wit/deps/http/outgoing-handler.wit
  crates/wasi/wit/deps/http/outgoing-handler.wit
Labels: wasi

#7079 riscv64: Better AMode Matching
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/amodes-fp.clif
  cranelift/filetests/filetests/isa/riscv64/amodes.clif
  cranelift/filetests/filetests/isa/riscv64/issue-6954.clif
  cranelift/filetests/filetests/isa/riscv64/reftypes.clif
  cranelift/filetests/filetests/isa/riscv64/stack.clif
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i32_index_0xffffffff_guard_no_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i32_index_0xffffffff_guard_no_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i64_index_0xffffffff_guard_no_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_dynamic_kind_i64_index_0xffffffff_guard_no_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i32_index_0_guard_no_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i32_index_0_guard_no_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i32_index_0xffffffff_guard_no_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i32_index_0xffffffff_guard_no_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i32_index_0xffffffff_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i32_index_0xffffffff_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0_guard_no_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0_guard_no_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_no_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_no_spectre_i8_access_0x1000_offset.wat
Labels: cranelift, isle, cranelift:area:riscv64

#7080 riscv64: Add the remainder of Zca and Zcd instructions
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/encode.rs
  cranelift/codegen/src/isa/riscv64/inst/imms.rs
  cranelift/filetests/filetests/isa/riscv64/zca.clif
  cranelift/filetests/filetests/isa/riscv64/zcd.clif
Labels: cranelift, cranelift:area:riscv64

#7078 Make `wasmtime::WasmCoreDump` serializable
  RELEASES.md
  crates/c-api/src/trap.rs
  crates/cli-flags/src/lib.rs
  crates/runtime/src/instance.rs
  crates/wasmtime/src/coredump.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/memory.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/registry.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trap.rs
  src/commands/run.rs
  tests/all/component_model/import.rs
  tests/all/coredump.rs
  tests/all/traps.rs
Labels: wasmtime:api, wasmtime:docs

#7084 Optimize wasm calls ever-so-slightly
  crates/runtime/src/instance.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/func.rs
Labels: wasmtime:api

#7086 Add `Func::hash_key` and `Table::hash_key` methods
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/externals/global.rs
  crates/wasmtime/src/externals/table.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/trampoline/global.rs
  crates/wasmtime/src/values.rs
Labels: wasmtime:api, wasmtime:docs

#7089 cranelift(x64): Make xmm{8..15} registers non-preferred
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/filetests/filetests/isa/x64/call-conv.clif
  cranelift/filetests/filetests/isa/x64/cmp-mem-bug.clif
  cranelift/filetests/filetests/isa/x64/fastcall.clif
  cranelift/filetests/filetests/isa/x64/fcopysign.clif
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/isa/x64/float-avx.clif
  cranelift/filetests/filetests/isa/x64/fma-call.clif
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-bitselect.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-cmp-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-comparison-legalize.clif
  cranelift/filetests/filetests/isa/x64/simd-splat-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-widen-mul.clif
  cranelift/filetests/filetests/wasm/x64-relaxed-simd-deterministic.wat
  cranelift/filetests/filetests/wasm/x64-relaxed-simd.wat
Labels: cranelift, cranelift:area:x64

#7087 Add docs and example for debugging with core dumps
  .gitignore
  docs/SUMMARY.md
  docs/examples-debugging-core-dumps.md
  docs/examples-debugging-native-debugger.md
  docs/examples-debugging.md
  docs/examples-rust-core-dumps.md
  examples/coredump.rs
Labels: wasmtime:docs

#7094 Bump wasm-tools crates
  Cargo.lock
  Cargo.toml
  cranelift/wasm/wasmtests/embenchen_fannkuch.wat
  cranelift/wasm/wasmtests/embenchen_fasta.wat
  cranelift/wasm/wasmtests/embenchen_ifs.wat
  cranelift/wasm/wasmtests/embenchen_primes.wat
  cranelift/wasm/wasmtests/rust_fannkuch.wat
  examples/fuel.wat
  supply-chain/imports.lock
  tests/all/cli_tests/print-arguments.wat
  tests/all/cli_tests/print_env.wat
  tests/all/component_model/resources.rs
  tests/all/memory.rs
  tests/misc_testsuite/component-model/fused.wast
  tests/misc_testsuite/component-model/resources.wast
  tests/misc_testsuite/many_table_gets_lead_to_gc.wast
Labels: cranelift, cranelift:wasm

#7072 Add MPK-protected stripes to the pooling allocator
  Cargo.lock
  crates/runtime/Cargo.toml
  crates/runtime/proptest-regressions/instance/allocator/pooling/memory_pool.txt
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/instance/allocator/on_demand.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/index_allocator.rs
  crates/runtime/src/instance/allocator/pooling/memory_pool.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/mpk/disabled.rs
  crates/runtime/src/mpk/enabled.rs
  crates/runtime/src/mpk/mod.rs
  crates/runtime/src/mpk/pkru.rs
  crates/runtime/src/mpk/sys.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/trampoline/memory.rs
  tests/all/pooling_allocator.rs
Labels: wasmtime:api, wasmtime:config

#7098 x64: Fix false dependencies in int-to-float conversions
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/fastcall.clif
  cranelift/filetests/filetests/isa/x64/fcvt-avx.clif
  cranelift/filetests/filetests/isa/x64/fcvt.clif
Labels: cranelift, cranelift:area:x64

#7102 wasmtime: Misc optimizations
  crates/jit/src/instantiate.rs
  crates/runtime/src/mmap.rs
  crates/runtime/src/mmap_vec.rs
  crates/wasi/src/preview2/ctx.rs
  crates/wasmtime/src/signatures.rs
Labels: wasmtime:api, wasi

#7091 Wasi-http: support inbound requests (proxy world)
  Cargo.lock
  Cargo.toml
  crates/test-programs/Cargo.toml
  crates/test-programs/build.rs
  crates/test-programs/tests/wasi-http-components-sync.rs
  crates/test-programs/tests/wasi-http-components.rs
  crates/test-programs/tests/wasi-http-proxy.rs
  crates/test-programs/wasi-http-proxy-tests/Cargo.toml
  crates/test-programs/wasi-http-proxy-tests/src/lib.rs
  crates/test-programs/wasi-http-tests/src/lib.rs
  crates/wasi-http/Cargo.toml
  crates/wasi-http/src/body.rs
  crates/wasi-http/src/http_impl.rs
  crates/wasi-http/src/incoming_handler.rs
  crates/wasi-http/src/lib.rs
  crates/wasi-http/src/proxy.rs
  crates/wasi-http/src/types.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi/wit/deps/http/types.wit
  src/bin/wasmtime.rs
  src/commands.rs
  src/commands/serve.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: wasi

#7110 c-api: Fix type in wasmtime_module_image_range
  crates/c-api/include/wasmtime/module.h
Labels: wasmtime:c-api

#6765 Make C-API usable from Rust
  crates/c-api/Cargo.toml
  crates/c-api/src/lib.rs
Labels: wasmtime:c-api

#7104 Remove usage of `is-terminal` and `atty` crates
  Cargo.lock
  crates/environ/Cargo.toml
  crates/environ/examples/factc.rs
  crates/test-programs/Cargo.toml
  crates/test-programs/src/lib.rs
  crates/wasi-common/cap-std-sync/Cargo.toml
  crates/wasi-common/cap-std-sync/src/file.rs
  crates/wasi-common/cap-std-sync/src/stdio.rs
Labels: wasi

#7100 winch(x64): Call indirect
  build.rs
  crates/winch/src/compiler.rs
  fuzz/fuzz_targets/differential.rs
  tests/misc_testsuite/winch/call_indirect.wast
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/builtin.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/abi.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/aarch64/regs.rs
  winch/codegen/src/isa/mod.rs
  winch/codegen/src/isa/reg.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/codegen/src/isa/x64/address.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/isa/x64/regs.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/regalloc.rs
  winch/codegen/src/regset.rs
  winch/codegen/src/stack.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/call_indirect/call_indirect.wat
  winch/filetests/src/lib.rs
  winch/src/compile.rs
Labels: fuzzing, winch

#7118 Remove `Table*Ext` traits for preview2
  crates/test-programs/tests/reactor.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi/src/preview2/filesystem.rs
  crates/wasi/src/preview2/host/clocks.rs
  crates/wasi/src/preview2/host/filesystem.rs
  crates/wasi/src/preview2/host/instance_network.rs
  crates/wasi/src/preview2/host/io.rs
  crates/wasi/src/preview2/host/network.rs
  crates/wasi/src/preview2/host/tcp.rs
  crates/wasi/src/preview2/host/tcp_create_socket.rs
  crates/wasi/src/preview2/mod.rs
  crates/wasi/src/preview2/network.rs
  crates/wasi/src/preview2/poll.rs
  crates/wasi/src/preview2/preview1.rs
  crates/wasi/src/preview2/stdio.rs
  crates/wasi/src/preview2/stream.rs
  crates/wasi/src/preview2/table.rs
  crates/wasi/src/preview2/tcp.rs
Labels: wasi
