Repository bytecodealliance/wasmtime, pull requests merged in 2023-06, with the labels that each got.

#6478 Cranelift: Add the ability to pop stack while returning
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, winch

#6407 fuzz: Insert random instructions
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/control/src/chaos.rs
  cranelift/control/src/zero_sized.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64

#6497 Cranelift: clean up `adjust_stack_and_nominal_sp` helper
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst

#6501 Cranelift: Fix typo: "ajust" -> "adjust"
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
Labels: cranelift

#6499 Cranelift: Remove unused parameter for `lower_return` in ISLE
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/prelude_lower.isle
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#6476 riscv64: Cleanup shift rules
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/arithmetic.clif
  cranelift/filetests/filetests/isa/riscv64/ishl-const.clif
  cranelift/filetests/filetests/isa/riscv64/ishl.clif
  cranelift/filetests/filetests/isa/riscv64/rotl.clif
  cranelift/filetests/filetests/isa/riscv64/rotr.clif
  cranelift/filetests/filetests/isa/riscv64/shift-op.clif
  cranelift/filetests/filetests/isa/riscv64/shift-rotate.clif
  cranelift/filetests/filetests/isa/riscv64/sshr-const.clif
  cranelift/filetests/filetests/isa/riscv64/sshr.clif
  cranelift/filetests/filetests/isa/riscv64/ushr-const.clif
  cranelift/filetests/filetests/isa/riscv64/ushr.clif
Labels: cranelift, isle

#6379 cranelift-interpreter: Fix panic when bitcasting SIMD values
  cranelift/filetests/filetests/runtests/simd-bitcast.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#6506 Refactor Winch x64 asm operand checks
  winch/codegen/src/isa/x64/asm.rs
Labels: winch

#6508 Add support to Winch for i*.eqz instructions
  fuzz/fuzz_targets/differential.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/i32_eqz/const.wat
  winch/filetests/filetests/x64/i32_eqz/local.wat
  winch/filetests/filetests/x64/i32_eqz/param.wat
  winch/filetests/filetests/x64/i64_eqz/32_const.wat
  winch/filetests/filetests/x64/i64_eqz/64_const.wat
  winch/filetests/filetests/x64/i64_eqz/local.wat
  winch/filetests/filetests/x64/i64_eqz/param.wat
Labels: fuzzing, winch

#6503 Upgrade file per thread logger to 0.2.0
  Cargo.lock
  Cargo.toml
  cranelift/filetests/Cargo.toml
  crates/cache/Cargo.toml
  crates/cli-flags/Cargo.toml
  supply-chain/audits.toml
Labels: cranelift

#6511 Use two operands for Winch's masm cmp_with_set method
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#6464 Allow async yield from epoch interruption callback
  RELEASES.md
  crates/c-api/src/store.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/store.rs
  src/commands/run.rs
  tests/all/epoch_interruption.rs
Labels: wasmtime:api, wasmtime:c-api, wasmtime:docs

#6509 Fix a soundness issue with the component model and async
  crates/fiber/src/lib.rs
  crates/fiber/src/unix.rs
  crates/fiber/src/windows.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/traphandlers.rs
  crates/wasmtime/src/store.rs
  tests/all/async_functions.rs
  tests/all/component_model/async.rs
  tests/all/epoch_interruption.rs
Labels: wasmtime:api

#6512 aarch64: Use Imm12 in more cases
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/filetests/filetests/isa/aarch64/amodes.clif
Labels: cranelift, cranelift:area:aarch64

#6507 riscv64: Implement SIMD shifts, `v{all,any}_true` and `vhigh_bits`
  build.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/riscv64/simd-ishl-const.clif
  cranelift/filetests/filetests/isa/riscv64/simd-ishl.clif
  cranelift/filetests/filetests/isa/riscv64/simd-sshr-const.clif
  cranelift/filetests/filetests/isa/riscv64/simd-sshr.clif
  cranelift/filetests/filetests/isa/riscv64/simd-ushr-const.clif
  cranelift/filetests/filetests/isa/riscv64/simd-ushr.clif
  cranelift/filetests/filetests/isa/riscv64/simd-valltrue.clif
  cranelift/filetests/filetests/isa/riscv64/simd-vanytrue.clif
  cranelift/filetests/filetests/isa/riscv64/simd-vhighbits.clif
  cranelift/filetests/filetests/runtests/simd-ishl.clif
  cranelift/filetests/filetests/runtests/simd-sshr.clif
  cranelift/filetests/filetests/runtests/simd-ushr.clif
  cranelift/filetests/filetests/runtests/simd-valltrue-64bit.clif
  cranelift/filetests/filetests/runtests/simd-valltrue.clif
  cranelift/filetests/filetests/runtests/simd-vanytrue-64bit.clif
  cranelift/filetests/filetests/runtests/simd-vanytrue.clif
  cranelift/filetests/filetests/runtests/simd-vhighbits.clif
Labels: cranelift, isle

#6518 riscv64: Fix wrong move instruction in `select`
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/filetests/filetests/isa/riscv64/select-float.clif
  cranelift/filetests/filetests/runtests/i128-select-float.clif
  cranelift/filetests/filetests/runtests/select-float.clif
Labels: cranelift

#6515 riscv64: Implement SIMD `swizzle` and `shuffle`
  build.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude_lower.isle
  cranelift/filetests/filetests/isa/riscv64/simd-shuffle.clif
  cranelift/filetests/filetests/isa/riscv64/simd-swizzle.clif
  cranelift/filetests/filetests/runtests/simd-shuffle.clif
  cranelift/filetests/filetests/runtests/simd-swizzle.clif
Labels: cranelift, cranelift:area:machinst

#6529 cranelift: Expose `MachLabel`
  cranelift/codegen/src/lib.rs
Labels: cranelift

#6496 x64: Avoid using `movddup` without SSSE3
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-splat-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-splat-avx2.clif
  cranelift/filetests/filetests/isa/x64/simd-splat.clif
  cranelift/filetests/filetests/runtests/simd-splat.clif
Labels: cranelift, cranelift:area:x64, isle

#6533 egraphs: Transform `{u,s}widen_{low,high}+splat` into `splat+{u,s}extend`
  cranelift/codegen/src/opts/extends.isle
  cranelift/filetests/filetests/egraph/simd-splat-widen.clif
Labels: cranelift, isle

#6537 Release notes for 10.0.0
  RELEASES.md
Labels: wasmtime:docs

#6535 winch: Fix `CodeGenContext::pop_to_reg`
  winch/codegen/src/codegen/context.rs
Labels: winch

#6534 riscv64: Implement `{u,s}widen_{low,high}` and `load+extend` instructions
  build.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/riscv64/simd-load-extend.clif
  cranelift/filetests/filetests/isa/riscv64/simd-load-splat.clif
  cranelift/filetests/filetests/isa/riscv64/simd-swiden_high.clif
  cranelift/filetests/filetests/isa/riscv64/simd-swiden_low.clif
  cranelift/filetests/filetests/isa/riscv64/simd-uwiden_high.clif
  cranelift/filetests/filetests/isa/riscv64/simd-uwiden_low.clif
  cranelift/filetests/filetests/runtests/simd-swidenhigh.clif
  cranelift/filetests/filetests/runtests/simd-swidenlow.clif
  cranelift/filetests/filetests/runtests/simd-uwidenhigh.clif
  cranelift/filetests/filetests/runtests/simd-uwidenlow.clif
Labels: cranelift, cranelift:area:riscv64

#6542 riscv64: Implement `iadd` Widening Instructions
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/riscv64/simd-iadd-splat-extend.clif
  cranelift/filetests/filetests/isa/riscv64/simd-iadd-swiden-high.clif
  cranelift/filetests/filetests/isa/riscv64/simd-iadd-swiden-low.clif
  cranelift/filetests/filetests/isa/riscv64/simd-iadd-swiden-mix.clif
  cranelift/filetests/filetests/isa/riscv64/simd-iadd-uwiden-high.clif
  cranelift/filetests/filetests/isa/riscv64/simd-iadd-uwiden-low.clif
  cranelift/filetests/filetests/isa/riscv64/simd-iadd-uwiden-mix.clif
  cranelift/filetests/filetests/runtests/simd-iadd-splat.clif
  cranelift/filetests/filetests/runtests/simd-iadd-swiden-high.clif
  cranelift/filetests/filetests/runtests/simd-iadd-swiden-low.clif
  cranelift/filetests/filetests/runtests/simd-iadd-swiden-mix.clif
  cranelift/filetests/filetests/runtests/simd-iadd-uwiden-high.clif
  cranelift/filetests/filetests/runtests/simd-iadd-uwiden-low.clif
  cranelift/filetests/filetests/runtests/simd-iadd-uwiden-mix.clif
Labels: cranelift, isle, cranelift:area:riscv64

#6549 cranelift: don't enable trace-log feature by default
  cranelift/codegen/Cargo.toml
Labels: cranelift

#6500 Cranelift: Get non-tail calls working for the "tail" calling convention
  cranelift/codegen/src/isa/call_conv.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/filetests/filetests/runtests/tail-call-conv.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64

#6559 [docs] Small update to `wasmtime/component`
  crates/wasmtime/src/component/mod.rs
Labels: wasmtime:api

#6557 Add clz and ctz instructions to Winch
  fuzz/fuzz_targets/differential.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/i32_clz/lzcnt_const.wat
  winch/filetests/filetests/x64/i32_clz/lzcnt_local.wat
  winch/filetests/filetests/x64/i32_clz/lzcnt_param.wat
  winch/filetests/filetests/x64/i32_clz/no_lzcnt_const.wat
  winch/filetests/filetests/x64/i32_clz/no_lzcnt_local.wat
  winch/filetests/filetests/x64/i32_clz/no_lzcnt_param.wat
  winch/filetests/filetests/x64/i32_ctz/bmi1_const.wat
  winch/filetests/filetests/x64/i32_ctz/bmi1_local.wat
  winch/filetests/filetests/x64/i32_ctz/bmi1_param.wat
  winch/filetests/filetests/x64/i32_ctz/no_bmi1_const.wat
  winch/filetests/filetests/x64/i32_ctz/no_bmi1_local.wat
  winch/filetests/filetests/x64/i32_ctz/no_bmi1_param.wat
  winch/filetests/filetests/x64/i64_clz/lzcnt_const.wat
  winch/filetests/filetests/x64/i64_clz/lzcnt_local.wat
  winch/filetests/filetests/x64/i64_clz/lzcnt_param.wat
  winch/filetests/filetests/x64/i64_clz/no_lzcnt_const.wat
  winch/filetests/filetests/x64/i64_clz/no_lzcnt_local.wat
  winch/filetests/filetests/x64/i64_clz/no_lzcnt_param.wat
  winch/filetests/filetests/x64/i64_ctz/bmi1_const.wat
  winch/filetests/filetests/x64/i64_ctz/bmi1_local.wat
  winch/filetests/filetests/x64/i64_ctz/bmi1_param.wat
  winch/filetests/filetests/x64/i64_ctz/no_bmi1_const.wat
  winch/filetests/filetests/x64/i64_ctz/no_bmi1_local.wat
  winch/filetests/filetests/x64/i64_ctz/no_bmi1_param.wat
  winch/filetests/src/lib.rs
Labels: fuzzing, winch

#6553 backport "cranelift: don't enable trace-log feature by default" (#6549)
  RELEASES.md
  cranelift/codegen/Cargo.toml
Labels: cranelift, wasmtime:docs

#6566 Release Wasmtime 9.0.4
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  winch/codegen/Cargo.toml
  winch/environ/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch

#6565 cranelift: Remove the `fcvt_low_from_sint` instruction
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/aarch64/fcvt.clif
  cranelift/filetests/filetests/isa/s390x/vec-fp.clif
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/isa/x64/float-avx.clif
  cranelift/filetests/filetests/runtests/simd-conversion.clif
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/interpreter/src/step.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:meta, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64

#6550 winch(x64) Add support for if/else
  fuzz/fuzz_targets/differential.rs
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/control.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/abi.rs
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/stack.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/if/as_binop.wat
  winch/filetests/filetests/x64/if/as_if_cond.wat
  winch/filetests/filetests/x64/if/as_testop.wat
  winch/filetests/filetests/x64/if/nested.wat
  winch/filetests/filetests/x64/if/singular.wat
Labels: fuzzing, winch

#6555 riscv64: Add SIMD `isub` Widening Instructions
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/simd-isub-splat.clif
  cranelift/filetests/filetests/isa/riscv64/simd-isub-swiden-high.clif
  cranelift/filetests/filetests/isa/riscv64/simd-isub-swiden-low.clif
  cranelift/filetests/filetests/isa/riscv64/simd-isub-uwiden-high.clif
  cranelift/filetests/filetests/isa/riscv64/simd-isub-uwiden-low.clif
  cranelift/filetests/filetests/runtests/simd-isub-splat.clif
  cranelift/filetests/filetests/runtests/simd-isub-swiden-high.clif
  cranelift/filetests/filetests/runtests/simd-isub-swiden-low.clif
  cranelift/filetests/filetests/runtests/simd-isub-uwiden-high.clif
  cranelift/filetests/filetests/runtests/simd-isub-uwiden-low.clif
Labels: cranelift

#6575 fuzzgen: Add `bb_padding_log2` option
  cranelift/fuzzgen/src/config.rs
  cranelift/fuzzgen/src/lib.rs
Labels: fuzzing

#6561 x64: Add non-SSSE3 lowerings of `iadd_pairwise`
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/runtests/simd-iaddpairwise.clif
Labels: cranelift, cranelift:area:x64

#6554 winch(x64): Add support for `block`
  fuzz/fuzz_targets/differential.rs
  winch/codegen/src/codegen/control.rs
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/block/as_if_cond.wat
  winch/filetests/filetests/x64/block/as_if_else.wat
  winch/filetests/filetests/x64/block/as_if_then.wat
  winch/filetests/filetests/x64/block/deep.wat
  winch/filetests/filetests/x64/block/empty.wat
  winch/filetests/filetests/x64/block/nested.wat
  winch/filetests/filetests/x64/block/singular.wat
Labels: fuzzing, winch

#6580 x64: Add non-SSSE3 lowerings of `iabs`
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/runtests/simd-iabs.clif
Labels: cranelift, cranelift:area:x64

#6586 Cranelift: Adjust virtual SP after `tail` call-conv callees return
  cranelift/Cargo.toml
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/filetests/filetests/runtests/issue-6581.clif
  cranelift/filetests/filetests/runtests/issue-6582.clif
  cranelift/fuzzgen/src/cranelift_arbitrary.rs
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, winch

#6568 riscv64: Implement `iadd_pairwise`
  build.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/encode.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/machinst/reg.rs
  cranelift/filetests/filetests/isa/riscv64/simd-iadd_pairwise.clif
  cranelift/filetests/filetests/runtests/simd-iaddpairwise-64bit.clif
  cranelift/filetests/filetests/runtests/simd-iaddpairwise.clif
  cranelift/filetests/filetests/runtests/simd-wideningpairwisedotproducts.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:riscv64

#6593 Add test case to verifier for read-only stores
  cranelift/filetests/filetests/verifier/read-only-store.clif
Labels: cranelift

#6587 riscv64: Implement SIMD `popcnt`
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/simd-popcnt.clif
  cranelift/filetests/filetests/runtests/simd-popcnt-large.clif
  cranelift/filetests/filetests/runtests/simd-popcnt.clif
Labels: cranelift, cranelift:area:riscv64

#6599 riscv64: Add SIMD `avg_round`
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/simd-avg_round.clif
  cranelift/filetests/filetests/runtests/simd-avg-round-small.clif
  cranelift/filetests/filetests/runtests/simd-avg-round.clif
Labels: cranelift, cranelift:area:riscv64

#6598 riscv64: Implement a few misc SIMD instructions
  build.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/simd-iabs.clif
  cranelift/filetests/filetests/isa/riscv64/simd-insertlane.clif
  cranelift/filetests/filetests/isa/riscv64/simd-scalartovector.clif
  cranelift/filetests/filetests/isa/riscv64/simd-select.clif
  cranelift/filetests/filetests/runtests/simd-iabs.clif
  cranelift/filetests/filetests/runtests/simd-scalartovector-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-scalartovector.clif
  cranelift/filetests/filetests/runtests/simd-select.clif
Labels: cranelift, isle, cranelift:area:riscv64

#6602 riscv64: Implement SIMD `sqmul_round_sat` and `splat+mul` instructions
  build.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/simd-imul.clif
  cranelift/filetests/filetests/isa/riscv64/simd-smulhi.clif
  cranelift/filetests/filetests/isa/riscv64/simd-sqmulroundsat.clif
  cranelift/filetests/filetests/isa/riscv64/simd-umulhi.clif
  cranelift/filetests/filetests/runtests/simd-sqmulroundsat-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-sqmulroundsat.clif
Labels: cranelift, cranelift:area:riscv64

#6590 x64: Gate usages of `palignr` on SSSE3
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/runtests/simd-swidenhigh.clif
Labels: cranelift, cranelift:area:x64

#6606 x64: Add non-SSSE3 lowerings of `pshufb`
  cranelift/codegen/src/ir/libcall.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/filetests/filetests/isa/x64/call-conv.clif
  cranelift/filetests/filetests/runtests/simd-popcnt.clif
  cranelift/filetests/filetests/runtests/simd-shuffle.clif
  cranelift/filetests/filetests/runtests/simd-splat.clif
  cranelift/filetests/filetests/runtests/simd-swizzle.clif
  cranelift/filetests/src/function_runner.rs
  cranelift/module/src/lib.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/spec.rs
  crates/cranelift-shared/src/obj.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/obj.rs
  crates/jit/src/code_memory.rs
  crates/runtime/src/libcalls.rs
Labels: cranelift, cranelift:area:machinst, cranelift:module, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64, isle

#6603 winch(x64): Add support for `loop`, `br` and `br_if`
  fuzz/fuzz_targets/differential.rs
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/control.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/br/as_block_first.wat
  winch/filetests/filetests/x64/br/as_block_last.wat
  winch/filetests/filetests/x64/br/as_block_mid.wat
  winch/filetests/filetests/x64/br/as_block_value.wat
  winch/filetests/filetests/x64/br/as_br_if_cond.wat
  winch/filetests/filetests/x64/br/as_br_value.wat
  winch/filetests/filetests/x64/br/as_call_all.wat
  winch/filetests/filetests/x64/br/as_call_first.wat
  winch/filetests/filetests/x64/br/as_call_last.wat
  winch/filetests/filetests/x64/br/as_call_mid.wat
  winch/filetests/filetests/x64/br/as_if_cond.wat
  winch/filetests/filetests/x64/br/as_if_else.wat
  winch/filetests/filetests/x64/br/as_if_then.wat
  winch/filetests/filetests/x64/br/as_loop_first.wat
  winch/filetests/filetests/x64/br/as_loop_last.wat
  winch/filetests/filetests/x64/br/as_loop_mid.wat
  winch/filetests/filetests/x64/br_if/as_block_last.wat
  winch/filetests/filetests/x64/br_if/as_block_last_value.wat
  winch/filetests/filetests/x64/br_if/as_br_if_cond.wat
  winch/filetests/filetests/x64/br_if/as_br_value.wat
  winch/filetests/filetests/x64/br_if/as_call_first.wat
  winch/filetests/filetests/x64/br_if/as_call_last.wat
  winch/filetests/filetests/x64/br_if/as_call_mid.wat
  winch/filetests/filetests/x64/br_if/as_if_cond.wat
  winch/filetests/filetests/x64/br_if/as_if_else.wat
  winch/filetests/filetests/x64/br_if/as_if_then.wat
  winch/filetests/filetests/x64/br_if/as_local_set_value.wat
  winch/filetests/filetests/x64/br_if/as_loop_last.wat
  winch/filetests/filetests/x64/loop/as_binary_operand.wat
  winch/filetests/filetests/x64/loop/as_br_if_first.wat
  winch/filetests/filetests/x64/loop/as_br_if_last.wat
  winch/filetests/filetests/x64/loop/as_br_value.wat
  winch/filetests/filetests/x64/loop/as_call_value.wat
  winch/filetests/filetests/x64/loop/as_if_condition.wat
  winch/filetests/filetests/x64/loop/as_if_else.wat
  winch/filetests/filetests/x64/loop/as_if_then.wat
  winch/filetests/filetests/x64/loop/as_local_set_value.wat
  winch/filetests/filetests/x64/loop/as_test_operand.wat
  winch/filetests/filetests/x64/loop/as_unary_operand.wat
  winch/filetests/filetests/x64/loop/break_inner.wat
  winch/filetests/filetests/x64/loop/cont_inner.wat
  winch/filetests/filetests/x64/loop/deep.wat
  winch/filetests/filetests/x64/loop/effects.wat
  winch/filetests/filetests/x64/loop/empty.wat
  winch/filetests/filetests/x64/loop/for.wat
  winch/filetests/filetests/x64/loop/multi.wat
  winch/filetests/filetests/x64/loop/nested.wat
  winch/filetests/filetests/x64/loop/singular.wat
  winch/filetests/filetests/x64/loop/while.wat
Labels: fuzzing, winch

#6609 riscv64: Implement SIMD `icmp`
  build.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-eq.clif
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-ne.clif
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-sge.clif
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-sgt.clif
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-sle.clif
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-slt.clif
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-uge.clif
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-ugt.clif
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-ule.clif
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-ult.clif
  cranelift/filetests/filetests/runtests/simd-icmp-eq.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ne.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sge.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sgt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sle.clif
  cranelift/filetests/filetests/runtests/simd-icmp-slt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-uge.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ugt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ule.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ult.clif
Labels: cranelift, cranelift:area:riscv64

#6597 Fix inconsistent deadlines for monotonic clock timeouts
  crates/test-programs/tests/wasi-preview2-components.rs
  crates/wasi/src/preview2/sched.rs
  crates/wasi/src/preview2/sched/subscription.rs
  crates/wasi/src/preview2/sched/sync.rs
Labels: wasi

#6612 winch(x64): Add support for return and unreachable
  fuzz/fuzz_targets/differential.rs
  winch/codegen/src/codegen/control.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/return/as_block_first.wat
  winch/filetests/filetests/x64/return/as_block_last.wat
  winch/filetests/filetests/x64/return/as_block_mid.wat
  winch/filetests/filetests/x64/return/as_block_value.wat
  winch/filetests/filetests/x64/return/as_br_if_cond.wat
  winch/filetests/filetests/x64/return/as_br_value.wat
  winch/filetests/filetests/x64/return/as_call_fist.wat
  winch/filetests/filetests/x64/return/as_call_last.wat
  winch/filetests/filetests/x64/return/as_call_mid.wat
  winch/filetests/filetests/x64/return/as_func_first.wat
  winch/filetests/filetests/x64/return/as_func_last.wat
  winch/filetests/filetests/x64/return/as_func_mid.wat
  winch/filetests/filetests/x64/return/as_func_value.wat
  winch/filetests/filetests/x64/return/as_if_cond.wat
  winch/filetests/filetests/x64/return/as_if_else.wat
  winch/filetests/filetests/x64/return/as_if_then.wat
  winch/filetests/filetests/x64/return/as_loop_first.wat
  winch/filetests/filetests/x64/return/as_loop_last.wat
  winch/filetests/filetests/x64/return/as_loop_mid.wat
  winch/filetests/filetests/x64/return/as_return_value.wat
  winch/filetests/filetests/x64/return/nullary.wat
  winch/filetests/filetests/x64/return/type_i32.wat
  winch/filetests/filetests/x64/return/type_i64_value.wat
  winch/filetests/filetests/x64/unreachable/as_block_broke.wat
  winch/filetests/filetests/x64/unreachable/as_block_first.wat
  winch/filetests/filetests/x64/unreachable/as_block_last.wat
  winch/filetests/filetests/x64/unreachable/as_block_mid.wat
  winch/filetests/filetests/x64/unreachable/as_block_value.wat
  winch/filetests/filetests/x64/unreachable/as_br_if_cond.wat
  winch/filetests/filetests/x64/unreachable/as_br_value.wat
  winch/filetests/filetests/x64/unreachable/as_call_first.wat
  winch/filetests/filetests/x64/unreachable/as_call_last.wat
  winch/filetests/filetests/x64/unreachable/as_call_mid.wat
  winch/filetests/filetests/x64/unreachable/as_func_first.wat
  winch/filetests/filetests/x64/unreachable/as_func_last.wat
  winch/filetests/filetests/x64/unreachable/as_func_mid.wat
  winch/filetests/filetests/x64/unreachable/as_func_value.wat
  winch/filetests/filetests/x64/unreachable/as_if_cond.wat
  winch/filetests/filetests/x64/unreachable/as_if_else.wat
  winch/filetests/filetests/x64/unreachable/as_if_then.wat
  winch/filetests/filetests/x64/unreachable/as_if_then_no_else.wat
  winch/filetests/filetests/x64/unreachable/as_loop_broke.wat
  winch/filetests/filetests/x64/unreachable/as_loop_first.wat
  winch/filetests/filetests/x64/unreachable/as_loop_last.wat
  winch/filetests/filetests/x64/unreachable/as_loop_mid.wat
  winch/filetests/filetests/x64/unreachable/as_return_value.wat
  winch/filetests/filetests/x64/unreachable/type_i32.wat
  winch/filetests/filetests/x64/unreachable/type_i64.wat
Labels: fuzzing, winch

#6616 Backport 6615 to the 10.x branch
  crates/wasi/src/lib.rs
Labels: wasi

#6617 Update release notes for 10.0.1
  RELEASES.md
Labels: wasmtime:docs

#6608 Cranelift: Do not have any callee-save registers for the `tail` calling convention
  Cargo.lock
  cranelift/Cargo.toml
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/reg.rs
  cranelift/filetests/filetests/isa/aarch64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/riscv64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/x64/tail-call-conv.clif
  cranelift/filetests/filetests/runtests/tail-call-conv.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#6607 x64: Add non-SSSE3 lowering for `sqmul_round_sat`
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/filetests/filetests/runtests/simd-sqmulroundsat.clif
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/spec.rs
  crates/cranelift/src/func_environ.rs
Labels: cranelift, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64

#6622 `find_and_update` implements "path halving", not "path splitting"
  cranelift/codegen/src/unionfind.rs
Labels: cranelift

#6596 Add a `set_random` function to `WasiCtxBuilder`.
  crates/wasi/src/preview2/ctx.rs
Labels: wasi

#6624 riscv64: Improve SIMD `icmp` codegen
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-sge.clif
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-sgt.clif
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-slt.clif
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-uge.clif
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-ugt.clif
  cranelift/filetests/filetests/isa/riscv64/simd-icmp-ult.clif
  cranelift/filetests/filetests/runtests/simd-icmp-eq.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ne.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sge.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sgt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sle.clif
  cranelift/filetests/filetests/runtests/simd-icmp-slt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-uge.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ugt.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ule.clif
  cranelift/filetests/filetests/runtests/simd-icmp-ult.clif
Labels: cranelift, cranelift:area:riscv64

#6625 x64: Lower SIMD requirement to SSE2
  cranelift/codegen/meta/src/isa/x86.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/filetests/filetests/isa/x64/iadd-pairwise-avx.clif
  cranelift/filetests/filetests/isa/x64/iadd-pairwise.clif
  cranelift/filetests/filetests/isa/x64/simd-splat-avx2.clif
  cranelift/filetests/filetests/isa/x64/sqmul_round_sat.clif
  cranelift/filetests/filetests/runtests/simd-band-splat.clif
  cranelift/filetests/filetests/runtests/simd-band.clif
  cranelift/filetests/filetests/runtests/simd-bnot.clif
  cranelift/filetests/filetests/runtests/simd-bor-splat.clif
  cranelift/filetests/filetests/runtests/simd-bor.clif
  cranelift/filetests/filetests/runtests/simd-bxor-splat.clif
  cranelift/filetests/filetests/runtests/simd-bxor.clif
  cranelift/filetests/filetests/runtests/simd-fadd-splat.clif
  cranelift/filetests/filetests/runtests/simd-fadd.clif
  cranelift/filetests/filetests/runtests/simd-fdiv.clif
  cranelift/filetests/filetests/runtests/simd-fmul.clif
  cranelift/filetests/filetests/runtests/simd-fneg.clif
  cranelift/filetests/filetests/runtests/simd-fsub.clif
  cranelift/filetests/filetests/runtests/simd-iabs.clif
  cranelift/filetests/filetests/runtests/simd-iadd-splat.clif
  cranelift/filetests/filetests/runtests/simd-iaddpairwise.clif
  cranelift/filetests/filetests/runtests/simd-insert-extract-lane.clif
  cranelift/filetests/filetests/runtests/simd-isub-splat.clif
  cranelift/filetests/filetests/runtests/simd-min-max.clif
  cranelift/filetests/filetests/runtests/simd-popcnt.clif
  cranelift/filetests/filetests/runtests/simd-shuffle.clif
  cranelift/filetests/filetests/runtests/simd-splat.clif
  cranelift/filetests/filetests/runtests/simd-sqmulroundsat.clif
  cranelift/filetests/filetests/runtests/simd-sqrt.clif
  cranelift/filetests/filetests/runtests/simd-sshr.clif
  cranelift/filetests/filetests/runtests/simd-swidenhigh.clif
  cranelift/filetests/filetests/runtests/simd-swizzle.clif
  cranelift/native/src/lib.rs
  crates/fuzzing/src/generators/codegen_settings.rs
  crates/fuzzing/src/generators/config.rs
Labels: cranelift, cranelift:meta, cranelift:area:x64

#6621 Cranelift: Add methods for adjusting `EmitState` on x86_64
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_state.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
Labels: cranelift, cranelift:area:x64

#6613 Issue-6592: ArgsAccumulator should match entry block params
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#6601 riscv64: Implement Integer Narrowing SIMD Instructions
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/simd-snarrow.clif
  cranelift/filetests/filetests/isa/riscv64/simd-unarrow.clif
  cranelift/filetests/filetests/isa/riscv64/simd-uunarrow.clif
  cranelift/filetests/filetests/runtests/simd-snarrow-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-snarrow.clif
  cranelift/filetests/filetests/runtests/simd-unarrow-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-unarrow.clif
  cranelift/filetests/filetests/runtests/simd-uunarrow.clif
Labels: cranelift, cranelift:area:riscv64

#6632 Cranelift: Add fixed register constraints to indirect calls with `tail` calling convention
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/filetests/filetests/isa/aarch64/fuzzbug-60035.clif
  cranelift/filetests/filetests/isa/aarch64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/riscv64/fuzzbug-60035.clif
  cranelift/filetests/filetests/isa/riscv64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/x64/fuzzbug-60035.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, winch

#6629 x64: Fix ISA requirement for `pmaddubsw`
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/filetests/filetests/isa/x64/simd-pairwise-add.clif
  cranelift/filetests/src/test_wasm/env.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/spec.rs
  crates/cranelift/src/func_environ.rs
Labels: cranelift, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64

#6630 x64: Gate a lowering of `pextrw` on SSE4.1
  cranelift/codegen/src/isa/x64/lower.isle
Labels: cranelift, cranelift:area:x64

#6634 aarch64: Fix `AuthenticatedRet` when stack bytes are popped
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
Labels: cranelift, cranelift:area:aarch64

#6643 riscv64: Implement SIMD `fcmp`
  build.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/simd-fcmp-eq.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fcmp-ge.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fcmp-gt.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fcmp-le.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fcmp-lt.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fcmp-ne.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fcmp-one.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fcmp-ord.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fcmp-ueq.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fcmp-uge.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fcmp-ugt.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fcmp-ule.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fcmp-ult.clif
  cranelift/filetests/filetests/isa/riscv64/simd-fcmp-uno.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-eq.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-ge.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-gt.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-le.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-lt.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-ne.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-one.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-ord.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-ueq.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-uge.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-ugt.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-ule.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-ult.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-uno.clif
  cranelift/filetests/filetests/runtests/simd-fcmp.clif
Labels: cranelift, cranelift:area:riscv64

#6635 Cranelift: Implement tail calls for x86_64
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/encoding/rex.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/prelude_lower.isle
  cranelift/filetests/filetests/isa/x64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/x64/return-call.clif
  cranelift/filetests/filetests/isa/x64/tail-call-conv.clif
  cranelift/filetests/filetests/runtests/issue-6635.clif
  cranelift/filetests/filetests/runtests/return-call-indirect.clif
  cranelift/filetests/filetests/runtests/return-call-loop.clif
  cranelift/filetests/filetests/runtests/return-call.clif
  cranelift/filetests/filetests/runtests/tail-call-conv.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#6650 Cranelift: Leave the return address in place for most tail calls on x64
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/filetests/filetests/isa/x64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/x64/return-call.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#6651 Cranelift: Choose different temporary registers for inline probestacks based on the calling convention
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/filetests/filetests/runtests/issue-6640.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#6652 preview2: refactor WasiCtxBuilder impl, and make WasiCtx fields private
  crates/test-programs/tests/command.rs
  crates/test-programs/tests/reactor.rs
  crates/wasi/src/preview2/ctx.rs
  crates/wasi/src/preview2/pipe.rs
Labels: wasi

#6498 Wasi: preview2 poll-oneoff returns list<bool>
  crates/wasi-preview1-component-adapter/src/lib.rs
  crates/wasi/src/preview2/preview2/poll.rs
  crates/wasi/wit/deps/poll/poll.wit
Labels: wasi

#6658 riscv64: Enable `memory_multi` testsuite
  build.rs
Labels: cranelift:area:riscv64

#6662 Cranelift: Don't hard code stack-limit registers
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/filetests/filetests/isa/x64/tail-stack-limit.clif
  cranelift/filetests/filetests/runtests/tail-stack-limit.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#6649 Remove Wasmtime ABIs from Cranelift
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/call_conv.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/x64/call-conv.clif
  cranelift/filetests/filetests/runtests/call.clif
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  winch/codegen/src/isa/mod.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/codegen/src/isa/x64/regs.rs
  winch/codegen/src/trampoline.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle, winch

#6664 winch: Remove stack pointer check at callsite
  winch/codegen/src/codegen/call.rs
  winch/filetests/filetests/x64/call/recursive.wat
Labels: winch

#6665 Cranelift: CallSite constructors are infallible
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#6666 Cranelift: Refactor `return_call[_indirect]` lowering
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#6667 Shepherd along type information in lifting/lowering
  crates/component-macro/src/component.rs
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/types.rs
  crates/environ/src/fact/signature.rs
  crates/environ/src/fact/trampoline.rs
  crates/misc/component-test-util/Cargo.toml
  crates/misc/component-test-util/src/lib.rs
  crates/runtime/src/component.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/func/options.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/component/mod.rs
  crates/wasmtime/src/component/storage.rs
  crates/wasmtime/src/component/types.rs
  crates/wasmtime/src/component/values.rs
Labels: wasmtime:api

#6641 fuzzgen: Generate Tail Calls
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/fuzzgen/src/lib.rs
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
  fuzz/fuzz_targets/cranelift-icache.rs
Labels: cranelift, cranelift:area:machinst, fuzzing, cranelift:area:aarch64, cranelift:area:x64, isle

#6669 Add `WasiCtxBuilder` setters for the two clock types
  crates/test-programs/tests/command.rs
  crates/wasi/src/preview2/clocks.rs
  crates/wasi/src/preview2/clocks/host.rs
  crates/wasi/src/preview2/ctx.rs
  crates/wasi/src/preview2/mod.rs
  crates/wasi/src/preview2/preview2/clocks.rs
  crates/wasi/src/preview2/preview2/poll.rs
  crates/wasi/src/preview2/sched.rs
  crates/wasi/src/preview2/sched/subscription.rs
Labels: wasi
