Repository bytecodealliance/wasmtime, pull requests merged in 2023-04, with the labels that each got.

#6135 simple_gvn: recognize commutative operators
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/ir/condcodes.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/simple_gvn.rs
  cranelift/filetests/filetests/egraph/algebraic.clif
  cranelift/filetests/filetests/egraph/basic-gvn.clif
  cranelift/filetests/filetests/egraph/load-hoist.clif
  cranelift/filetests/filetests/simple_gvn/commutative.clif
  cranelift/filetests/filetests/wasm/duplicate-loads-dynamic-memory-egraph.wat
  cranelift/filetests/filetests/wasm/duplicate-loads-static-memory-egraph.wat
  cranelift/filetests/filetests/wasm/dynamic-memory-no-spectre-access-same-index-different-offsets.wat
  cranelift/filetests/filetests/wasm/dynamic-memory-yes-spectre-access-same-index-different-offsets.wat
Labels: cranelift

#6133 cranelift-interpreter: Fix incorrect scalar_to_vector result
  cranelift/filetests/filetests/runtests/simd-scalartovector-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-scalartovector.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#6138 Derive `Copy` on `wasmtime::ValType`
  crates/wasmtime/src/types.rs
Labels: wasmtime:api

#6130 ISLE: rewrite loose inequalities to strict inequalities and strict inequalities to equalities
  cranelift/codegen/src/opts/icmp.isle
  cranelift/filetests/filetests/egraph/algebraic.clif
  cranelift/filetests/filetests/egraph/cprop.clif
  cranelift/filetests/filetests/egraph/icmp-parameterized.clif
  cranelift/filetests/filetests/egraph/make-icmp-parameterized-tests.sh
Labels: cranelift

#6142 Revert "simple_gvn: recognize commutative operators"
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/ir/condcodes.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/simple_gvn.rs
  cranelift/filetests/filetests/egraph/algebraic.clif
  cranelift/filetests/filetests/egraph/basic-gvn.clif
  cranelift/filetests/filetests/egraph/load-hoist.clif
  cranelift/filetests/filetests/simple_gvn/commutative.clif
  cranelift/filetests/filetests/wasm/duplicate-loads-dynamic-memory-egraph.wat
  cranelift/filetests/filetests/wasm/duplicate-loads-static-memory-egraph.wat
  cranelift/filetests/filetests/wasm/dynamic-memory-no-spectre-access-same-index-different-offsets.wat
  cranelift/filetests/filetests/wasm/dynamic-memory-yes-spectre-access-same-index-different-offsets.wat
Labels: cranelift, cranelift:mid-end

#6119 winch: Initial integration with wasmtime
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  crates/cli-flags/src/lib.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/build.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/module.rs
  crates/winch/Cargo.toml
  crates/winch/src/compiler.rs
  scripts/publish.rs
  tests/all/main.rs
  tests/all/winch.rs
  winch/codegen/src/abi/local.rs
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/frame/mod.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/mod.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/isa/x64/regs.rs
  winch/codegen/src/lib.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/trampoline.rs
  winch/environ/src/lib.rs
  winch/filetests/src/disasm.rs
  winch/filetests/src/lib.rs
  winch/src/compile.rs
Labels: wasmtime:api, wasmtime:config, winch

#6148 Add egraph cprop optimizations for `splat`
  cranelift/codegen/src/opts.rs
  cranelift/codegen/src/opts/cprop.isle
  cranelift/filetests/filetests/egraph/cprop-splat.clif
Labels: cranelift

#6144 ISLE: pattern type is always known
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#6143 Bump Wasmtime to 9.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  winch/codegen/Cargo.toml
  winch/environ/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#6150 aarch64: Add more lowerings for the CLIF `fma`
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/fma.clif
  cranelift/filetests/filetests/runtests/simd-fma.clif
Labels: cranelift, cranelift:area:aarch64

#6149 Add a limits and trap-on-OOM options to the CLI
  crates/fuzzing/src/oracles.rs
  crates/wasmtime/src/limits.rs
  crates/wasmtime/src/store.rs
  src/commands/run.rs
  tests/all/limits.rs
  tests/all/memory.rs
  tests/all/pooling_allocator.rs
  tests/rlimited-memory.rs
Labels: wasmtime:api, fuzzing

#6145 Add release notes for 8.0.0
  RELEASES.md
Labels: wasmtime:docs

#6156 cranelift-interpreter: Propagate traps across calls
  cranelift/interpreter/src/interpreter.rs
  cranelift/interpreter/src/step.rs
Labels: cranelift

#6158 Update PR template and dev process docs
  .github/pull_request_template.md
  docs/contributing-development-process.md
Labels: wasmtime:docs

#6157 cranelift: Implement `PartialEq` for Function
  cranelift/codegen/src/ir/function.rs
  cranelift/interpreter/src/interpreter.rs
  cranelift/interpreter/src/step.rs
Labels: cranelift

#6165 Rename define_function to define_function_with_control_plane
  cranelift/filetests/src/function_runner.rs
  cranelift/jit/examples/jit-minimal.rs
  cranelift/jit/src/backend.rs
  cranelift/jit/tests/basic.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
  cranelift/object/tests/basic.rs
  cranelift/src/compile.rs
Labels: cranelift, cranelift:module

#6170 Remove the DataContext wrapper around DataDescription
  cranelift/jit/src/backend.rs
  cranelift/module/src/data_context.rs
  cranelift/module/src/lib.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#6169 Don't override declare_*_in_func in cranelift-jit
  cranelift/jit/src/backend.rs
Labels: cranelift, cranelift:module

#6184 Adds an extra assertion to check the result type in test
  cranelift/codegen/src/ir/instructions.rs
Labels: cranelift

#6182 doc: fix StackSlot reference to FunctionBuilder
  cranelift/codegen/src/ir/entities.rs
Labels: cranelift

#6183 Fix description of `try_declare_var`
  cranelift/frontend/src/frontend.rs
Labels: cranelift

#6180 [8.0.0] Add release notes
  RELEASES.md
Labels: wasmtime:docs

#6181 x64: Clarify and shrink up ModRM/SIB encoding
  cranelift/codegen/src/isa/x64/encoding/rex.rs
  cranelift/filetests/filetests/isa/x64/branches.clif
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
Labels: cranelift, cranelift:area:x64

#6187 Minir typo/Grammar fixes
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/ir/entities.rs
  cranelift/codegen/src/ir/function.rs
  cranelift/codegen/src/ir/jumptable.rs
  cranelift/codegen/src/ir/layout.rs
  cranelift/codegen/src/ir/mod.rs
Labels: cranelift

#6179 Remove ImmutableRegisterState and replace {get,set}_value in State with current_frame{,_mut}
  cranelift/interpreter/src/interpreter.rs
  cranelift/interpreter/src/state.rs
  cranelift/interpreter/src/step.rs
Labels: cranelift

#6174 Handle signature() for more libcalls
  cranelift/codegen/src/ir/libcall.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/frontend/src/frontend.rs
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/interpreter/src/state.rs
Labels: cranelift, cranelift:area:x64, isle

#6175 Removes debug assertion that was related to issue 796
  cranelift/codegen/src/cursor.rs
Labels: cranelift

#6140 ISLE: split algebraic.isle into several files
  cranelift/codegen/build.rs
  cranelift/codegen/src/opts/README.md
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/codegen/src/opts/arithmetic.isle
  cranelift/codegen/src/opts/bitops.isle
  cranelift/codegen/src/opts/extends.isle
  cranelift/codegen/src/opts/remat.isle
  cranelift/codegen/src/opts/selects.isle
  cranelift/codegen/src/opts/shifts.isle
  cranelift/filetests/filetests/egraph/algebraic.clif
  cranelift/filetests/filetests/egraph/arithmetic.clif
  cranelift/filetests/filetests/egraph/bitops.clif
  cranelift/filetests/filetests/egraph/extends.clif
  cranelift/filetests/filetests/egraph/shifts.clif
Labels: cranelift

#6198 Remove `iadd_cout` and `isub_bout`
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/souper_harvest.rs
  cranelift/filetests/filetests/parser/ternary.clif
  cranelift/filetests/filetests/runtests/i128-iaddcout.clif
  cranelift/filetests/filetests/runtests/i128-isubbout.clif
  cranelift/filetests/filetests/runtests/iaddcout-i16.clif
  cranelift/filetests/filetests/runtests/iaddcout-i32.clif
  cranelift/filetests/filetests/runtests/iaddcout-i64.clif
  cranelift/filetests/filetests/runtests/iaddcout-i8.clif
  cranelift/filetests/filetests/runtests/isubbout.clif
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/interpreter/src/step.rs
Labels: cranelift, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#6201 Fix `bitselect` => `{u,s}{min,max}` rewrite
  cranelift/codegen/src/opts/selects.isle
Labels: cranelift

#6202 Clarify the representation of `icmp` output
  cranelift/codegen/meta/src/shared/instructions.rs
Labels: cranelift, cranelift:meta

#6205 Backport "Add `multi_lane` precondition to `bitselect` => `{u,s}{min,max}` rewrite"
  cranelift/codegen/src/opts/algebraic.isle
Labels: cranelift

#6199 Remove `unsigned_add_overflow_condition` from TargetIsa and FuncEnvironment
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/filetests/src/test_wasm/env.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  crates/cranelift/src/func_environ.rs
Labels: cranelift, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64

#6211 For clarity in examples avoid importing/exporting functions of the same name
  crates/wasmtime/README.md
  crates/wasmtime/src/lib.rs
Labels: wasmtime:api

#6206 x64: Lower SIMD requirement to SSE4.1 from SSE4.2
  cranelift/codegen/meta/src/isa/x86.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/filetests/filetests/isa/x64/simd-cmp-avx.clif
  cranelift/filetests/filetests/runtests/simd-icmp-sgt.clif
  cranelift/native/src/lib.rs
  crates/fuzzing/src/generators/codegen_settings.rs
Labels: cranelift, cranelift:meta, fuzzing, cranelift:area:x64, isle

#6196 egraphs: Add `bmask` bit pattern optimization rule
  cranelift/codegen/src/opts/arithmetic.isle
  cranelift/codegen/src/opts/bitops.isle
  cranelift/codegen/src/opts/shifts.isle
  cranelift/filetests/filetests/egraph/arithmetic.clif
  cranelift/filetests/filetests/egraph/bitops.clif
  cranelift/filetests/filetests/egraph/shifts.clif
  cranelift/filetests/filetests/runtests/bitops.clif
Labels: cranelift

#6204 winch(x64): Improve ABI support in trampolines
  tests/all/main.rs
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/abi.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/aarch64/regs.rs
  winch/codegen/src/isa/mod.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/isa/x64/regs.rs
  winch/codegen/src/trampoline.rs
Labels: winch

#6215 Update wasm-tools crates
  Cargo.lock
  Cargo.toml
  cranelift/wasm/src/func_translator.rs
  cranelift/wasm/src/sections_translator.rs
  crates/environ/src/module_environ.rs
  supply-chain/audits.toml
  supply-chain/imports.lock
Labels: cranelift, cranelift:wasm

#6203 Add clippy suggestions
  cranelift/codegen/meta/src/cdsl/instructions.rs
  cranelift/codegen/meta/src/cdsl/operands.rs
  cranelift/codegen/meta/src/cdsl/settings.rs
  cranelift/codegen/meta/src/cdsl/types.rs
  cranelift/codegen/meta/src/cdsl/typevar.rs
  cranelift/codegen/meta/src/constant_hash.rs
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/meta/src/gen_settings.rs
  cranelift/codegen/meta/src/lib.rs
  cranelift/codegen/meta/src/shared/mod.rs
  cranelift/codegen/meta/src/srcgen.rs
  cranelift/control/src/zero_sized.rs
  cranelift/isle/isle/src/codegen.rs
  cranelift/isle/isle/src/error.rs
  cranelift/isle/isle/src/lexer.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/sema.rs
  crates/cache/build.rs
  crates/component-macro/src/bindgen.rs
  crates/wit-bindgen/src/lib.rs
  crates/wit-bindgen/src/rust.rs
  crates/wit-bindgen/src/types.rs
Labels: cranelift, cranelift:meta, isle

#6220 Optimize sign extension via shifts
  cranelift/codegen/src/opts/extends.isle
  cranelift/codegen/src/opts/shifts.isle
  cranelift/filetests/filetests/egraph/extends.clif
  cranelift/filetests/filetests/egraph/shifts.clif
  cranelift/filetests/filetests/isa/x64/shift-to-extend.clif
Labels: cranelift

#6224 x64: Add non-SSE4.1 lowerings of ceil/trunc/floor/nearest
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/runtests/ceil.clif
  cranelift/filetests/filetests/runtests/floor.clif
  cranelift/filetests/filetests/runtests/nearest.clif
  cranelift/filetests/filetests/runtests/trunc.clif
Labels: cranelift, cranelift:area:x64

#6225 wasi-common: change behavior of path_readlink to truncate on too-small buffer
  crates/test-programs/wasi-tests/src/bin/readlink.rs
  crates/wasi-common/src/snapshots/preview_1.rs
Labels: wasi

#6233 Update doc for which integer types are supported
  cranelift/docs/ir.md
Labels: cranelift, cranelift:docs

#5826 Add Engine::precompile_compatibility_hash
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#6235 cranelift: Remove EBB references from docs
  cranelift/docs/compare-llvm.md
  cranelift/docs/ir.md
  cranelift/docs/testing.md
Labels: cranelift, cranelift:docs

#6234 Add support for binary/octal literals to ISLE
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/isle/docs/language-reference.md
  cranelift/isle/isle/isle_examples/run/iconst.isle
  cranelift/isle/isle/isle_examples/run/iconst_main.rs
  cranelift/isle/isle/src/lexer.rs
Labels: cranelift, cranelift:area:x64, isle

#6242 Fix default architecture for winch
  winch/codegen/build.rs
Labels: winch

#6246 riscv64: Remove the gen_move2 helper
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/call.clif
Labels: cranelift

#6249 Release Wasmtime 8.0.0
  RELEASES.md
Labels: wasmtime:docs

#6171 Update several dependencies.
  Cargo.lock
  Cargo.toml
  cranelift/jit/src/backend.rs
  crates/runtime/src/mmap.rs
  crates/test-programs/wasi-tests/src/bin/unlink_file_trailing_slashes.rs
  crates/wasi-common/cap-std-sync/Cargo.toml
  deny.toml
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: cranelift, wasi

#6248 Update release date of Wasmtime 8.0.0
  RELEASES.md
Labels: wasmtime:docs

#6245 Avoid introducing a move for struct return
  cranelift/codegen/src/machinst/lower.rs
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/x64/struct-ret.clif
Labels: cranelift, cranelift:area:machinst

#6240 riscv64: Initial SIMD Vector Implementation
  ci/build-test-matrix.js
  cranelift/codegen/build.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/encode.rs
  cranelift/codegen/src/isa/riscv64/inst/imms.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/regs.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/filetests/filetests/isa/riscv64/simd-abi.clif
  cranelift/filetests/filetests/isa/riscv64/simd-iadd.clif
  cranelift/filetests/filetests/isa/riscv64/simd-loads.clif
  cranelift/filetests/filetests/isa/riscv64/simd-stores.clif
  cranelift/filetests/filetests/isa/riscv64/simd-vstate.clif
  cranelift/filetests/filetests/runtests/simd-arithmetic.clif
  cranelift/filetests/filetests/runtests/simd-iadd.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:riscv64

#6232 x64: Add non-SSE 4.1 lowerings for `v{all,any}_true`
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/runtests/simd-valltrue.clif
  cranelift/filetests/filetests/runtests/simd-vanytrue.clif
Labels: cranelift, cranelift:area:x64

#6253 s390x: Remove uses of copy_reg
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/filetests/filetests/isa/s390x/arithmetic.clif
  cranelift/filetests/filetests/isa/s390x/vec-arithmetic.clif
Labels: cranelift

#6237 Bump regalloc2 to 0.7.0
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/riscv64/inst/regs.rs
  cranelift/codegen/src/isa/s390x/inst/regs.rs
  cranelift/codegen/src/isa/x64/inst/regs.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/filetests/filetests/isa/aarch64/reftypes.clif
  cranelift/filetests/filetests/isa/riscv64/reftypes.clif
  cranelift/filetests/filetests/isa/s390x/reftypes.clif
  cranelift/filetests/filetests/isa/s390x/vec-arithmetic.clif
  supply-chain/audits.toml
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, winch

#6172 Allow serializing all cranelift-module data structures
  Cargo.lock
  cranelift/codegen/src/ir/function.rs
  cranelift/jit/src/backend.rs
  cranelift/module/Cargo.toml
  cranelift/module/src/data_context.rs
  cranelift/module/src/lib.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#6163 Allow WASI to open directories without O_DIRECTORY
  crates/test-programs/wasi-tests/src/bin/fd_readdir.rs
  crates/test-programs/wasi-tests/src/bin/path_link.rs
  crates/test-programs/wasi-tests/src/bin/poll_oneoff_files.rs
  crates/wasi-common/cap-std-sync/src/dir.rs
  crates/wasi-common/src/dir.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-common/tokio/src/dir.rs
  crates/wasi-common/tokio/tests/poll_oneoff.rs
Labels: wasi

#6267 riscv64: Delete CSR Instructions
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
Labels: cranelift

#6123 Specify a `read` parameter for `ISLE`'s `Lexer`.
  cranelift/isle/isle/src/lexer.rs
Labels: cranelift, isle

#6281 winch(fuzz): Initial support for differential fuzzing
  .github/workflows/main.yml
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/config.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/differential.rs
Labels: fuzzing

#6271 riscv64: Enable more instructions in the fuzzer
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#6278 wasmtime: remove `drop(&mut ...)` used to silence warnings
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
Labels: wasmtime:api, wasmtime:config

#6266 riscv64: Support non 128bit vector sizes
  cranelift/codegen/meta/src/cdsl/mod.rs
  cranelift/codegen/meta/src/gen_types.rs
  cranelift/codegen/meta/src/isa/riscv64.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/riscv64/simd-iadd-big.clif
  cranelift/filetests/filetests/isa/riscv64/simd-iadd-small.clif
  cranelift/filetests/filetests/runtests/simd-iadd-small.clif
Labels: cranelift, cranelift:meta

#6283 Backport "Allow WASI to open directories without O_DIRECTORY" (#6163)
  RELEASES.md
  crates/test-programs/wasi-tests/src/bin/fd_readdir.rs
  crates/test-programs/wasi-tests/src/bin/path_link.rs
  crates/test-programs/wasi-tests/src/bin/poll_oneoff_files.rs
  crates/wasi-common/cap-std-sync/src/dir.rs
  crates/wasi-common/src/dir.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-common/tokio/src/dir.rs
  crates/wasi-common/tokio/tests/poll_oneoff.rs
Labels: wasi, wasmtime:docs

#6279 x64: Add non-SSE4.1 lowerings of `pmov{s,z}x*`
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-widen-mul.clif
  cranelift/filetests/filetests/isa/x64/widen-high-bug.clif
  cranelift/filetests/filetests/isa/x64/widening.clif
  cranelift/filetests/filetests/runtests/simd-swidenhigh.clif
  cranelift/filetests/filetests/runtests/simd-swidenlow.clif
  cranelift/filetests/filetests/runtests/simd-uwidenhigh.clif
  cranelift/filetests/filetests/runtests/simd-uwidenlow.clif
  cranelift/filetests/filetests/wasm/x64-relaxed-simd-deterministic.wat
Labels: cranelift, cranelift:area:x64

#6265 liberate wasi-common from Rights
  crates/test-programs/wasi-tests/src/bin/directory_seek.rs
  crates/test-programs/wasi-tests/src/bin/fd_advise.rs
  crates/test-programs/wasi-tests/src/bin/fd_filestat_set.rs
  crates/test-programs/wasi-tests/src/bin/fd_flags_set.rs
  crates/test-programs/wasi-tests/src/bin/fd_readdir.rs
  crates/test-programs/wasi-tests/src/bin/file_allocate.rs
  crates/test-programs/wasi-tests/src/bin/file_pread_pwrite.rs
  crates/test-programs/wasi-tests/src/bin/file_seek_tell.rs
  crates/test-programs/wasi-tests/src/bin/path_filestat.rs
  crates/test-programs/wasi-tests/src/bin/path_link.rs
  crates/test-programs/wasi-tests/src/bin/path_open_read_without_rights.rs
  crates/test-programs/wasi-tests/src/bin/poll_oneoff_files.rs
  crates/test-programs/wasi-tests/src/bin/read_empty_file.rs.disabled
  crates/test-programs/wasi-tests/src/bin/symlink_filestat.rs
  crates/test-programs/wasi-tests/src/lib.rs
  crates/wasi-common/cap-std-sync/src/lib.rs
  crates/wasi-common/src/ctx.rs
  crates/wasi-common/src/dir.rs
  crates/wasi-common/src/file.rs
  crates/wasi-common/src/snapshots/preview_0.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-common/tokio/src/lib.rs
Labels: wasi

#6276 Release Wasmtime 8.0.1
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  winch/codegen/Cargo.toml
  winch/environ/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch

#6275 Release Wasmtime 7.0.1
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  deny.toml
  supply-chain/config.toml
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch

#6274 Release Wasmtime 6.0.2
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/config.toml
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch

#6292 Exposes new c-api functions for configuring relaxed SIMD
  crates/c-api/include/wasmtime/config.h
  crates/c-api/src/config.rs
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, wasmtime:c-api, wasmtime:config

#6299 wasmtime-runtime: Rename `VMCallerCheckedFuncRef` to `VMFuncRef`
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/builtin.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/types.rs
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/vmoffsets.rs
  crates/jit/src/instantiate.rs
  crates/runtime/src/component.rs
  crates/runtime/src/export.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/table.rs
  crates/runtime/src/trampolines/s390x.S
  crates/runtime/src/vmcontext.rs
  crates/runtime/src/vmcontext/vm_host_func_context.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/func/options.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/externals.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/store/func_refs.rs
  crates/wasmtime/src/trampoline/func.rs
  crates/wasmtime/src/trampoline/global.rs
Labels: wasmtime:api

#6303 aarch64: Remove unnecessary saves on calls with differing ABIs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/filetests/filetests/isa/aarch64/call.clif
Labels: cranelift, cranelift:area:aarch64

#6302 Slightly shrink compiled wasm modules
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/jit/src/backend.rs
  cranelift/object/src/backend.rs
  crates/cranelift-shared/src/obj.rs
  crates/cranelift/src/compiler.rs
  crates/environ/src/compilation.rs
  crates/wasmtime/src/module.rs
  crates/winch/src/compiler.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:module, cranelift:area:aarch64, cranelift:area:x64, winch

#6308 Fix tests in `--release` mode
  cranelift/codegen/src/ir/builder.rs
  cranelift/entity/src/lib.rs
Labels: cranelift
