Repository bytecodealliance/wasmtime, pull requests merged in 2023-03, with the labels that each got.

#5896 x64: Add support for `phadd{w,d}` instructions
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/iadd-pairwise-avx.clif
  cranelift/filetests/filetests/isa/x64/iadd-pairwise.clif
Labels: cranelift, cranelift:area:x64

#5897 clif: Remove the type variable from `swizzle`
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/filetests/filetests/isa/aarch64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/s390x/vec-permute-le-lane.clif
  cranelift/filetests/filetests/isa/s390x/vec-permute.clif
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/runtests/simd-lane-access.clif
  cranelift/filetests/filetests/runtests/simd-swizzle.clif
  cranelift/interpreter/src/step.rs
  cranelift/wasm/src/code_translator.rs
Labels: cranelift, cranelift:meta, cranelift:wasm

#5781 doc: add a page listing supported proposals
  docs/SUMMARY.md
  docs/stability-wasi-proposals-support.md
Labels: wasmtime:docs

#5904 Add filetest for unexpected `imm12_from_negated` aarch64 lowering
  cranelift/filetests/filetests/isa/aarch64/iconst-imm12_from_negated.isle
Labels: cranelift

#5905 x64: Add `shuffle` cases for `punpck{h,l}bw`
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/shuffle.clif
Labels: cranelift, cranelift:area:x64, isle

#5800 egraphs: fix handling of effectful-but-idempotent ops and GVN.
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/entity/src/list.rs
  cranelift/filetests/filetests/egraph/issue-5796.clif
  cranelift/filetests/filetests/wasm/duplicate-loads-dynamic-memory-egraph.wat
Labels: cranelift, cranelift:meta

#5906 x64: Improve codegen for i8x16.shr_u
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
Labels: cranelift, cranelift:area:x64

#5895 aarch64: Add support for the `fmls` instruction
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/filetests/filetests/isa/aarch64/fma.clif
Labels: cranelift, cranelift:area:aarch64

#5893 cranelift: Add big and little endian memory accesses to interpreter
  cranelift/codegen/src/data_value.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/filetests/filetests/runtests/atomic-cas-subword-big.clif
  cranelift/filetests/filetests/runtests/atomic-cas-subword-little.clif
  cranelift/filetests/filetests/runtests/atomic-rmw-subword-big.clif
  cranelift/filetests/filetests/runtests/atomic-rmw-subword-little.clif
  cranelift/fuzzgen/src/lib.rs
  cranelift/interpreter/src/interpreter.rs
  cranelift/interpreter/src/state.rs
  cranelift/interpreter/src/step.rs
Labels: cranelift

#5910 Add egraph optimization for fneg's cancelling out
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/filetests/filetests/egraph/algebraic.clif
Labels: cranelift

#5820 fuzzgen: Move `Arbitrary` structs into the fuzzers
  Cargo.lock
  cranelift/fuzzgen/src/lib.rs
  cranelift/fuzzgen/src/print.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
  fuzz/fuzz_targets/cranelift-icache.rs
Labels: cranelift, fuzzing

#5928 fuzzgen: Add invalid input counter
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
Labels: fuzzing

#5898 Codegen fix atomic_rmw_loop missing move result to `dst` register On riscv64.
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/filetests/filetests/runtests/issue5884.clif
Labels: cranelift

#5932 Bump Wasmtime to 8.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#5909 Allow hoisting `vconst` instructions out of loops
  cranelift/codegen/src/egraph/elaborate.rs
  cranelift/filetests/filetests/egraph/licm.clif
Labels: cranelift

#5921 cranelift-interpreter: Add trap on misaligned memory accesses
  cranelift/interpreter/src/interpreter.rs
  cranelift/interpreter/src/state.rs
  cranelift/interpreter/src/step.rs
Labels: cranelift

#5919 Codegen fix atomic_cas with samll types on riscv64
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/filetests/filetests/runtests/atomic-cas-little.clif
  cranelift/filetests/filetests/runtests/issue5901.clif
Labels: cranelift

#5935 deps: update criterion dependency to v0.4.0
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/benches/x64-evex-encoding.rs
Labels: cranelift

#5892 Implement the relaxed SIMD proposal
  build.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/filetests/filetests/wasm/aarch64-relaxed-simd.wat
  cranelift/filetests/filetests/wasm/x64-relaxed-simd-deterministic.wat
  cranelift/filetests/filetests/wasm/x64-relaxed-simd.wat
  cranelift/filetests/src/test_wasm/config.rs
  cranelift/filetests/src/test_wasm/env.rs
  cranelift/interpreter/src/step.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/spec.rs
  crates/cli-flags/src/lib.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/obj.rs
  crates/environ/src/obj.rs
  crates/environ/src/tunables.rs
  crates/jit/src/code_memory.rs
  crates/runtime/src/libcalls.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wast/src/core.rs
  tests/all/wast.rs
  tests/misc_testsuite/relaxed-simd/i16x8_relaxed_q15mulr_s.wast
  tests/misc_testsuite/relaxed-simd/i32x4_relaxed_trunc.wast
  tests/misc_testsuite/relaxed-simd/i8x16_relaxed_swizzle.wast
  tests/misc_testsuite/relaxed-simd/relaxed_dot_product.wast
  tests/misc_testsuite/relaxed-simd/relaxed_laneselect.wast
  tests/misc_testsuite/relaxed-simd/relaxed_madd_nmadd.wast
  tests/misc_testsuite/relaxed-simd/relaxed_min_max.wast
Labels: wasmtime:api, cranelift, cranelift:meta, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64, wasmtime:config

#5948 Stop supporting vectors with `bmask`
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/filetests/filetests/runtests/simd-bmask.clif
Labels: cranelift, cranelift:meta

#5918 Remove the Cranelift `vselect` instruction
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/nan_canonicalization.rs
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/filetests/filetests/egraph/bitselect.clif
  cranelift/filetests/filetests/isa/aarch64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/s390x/vec-bitwise.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/runtests/simd-vselect.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#5956 Restrict fcvt_to_uint and fcvt_to_sint to produce scalar integers
  cranelift/codegen/meta/src/shared/instructions.rs
Labels: cranelift, cranelift:meta

#5944 winch: Refactoring wasmtime compiler integration pieces to share more between Cranelift and Winch
  Cargo.lock
  Cargo.toml
  cranelift/codegen/meta/src/gen_settings.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/settings.rs
  cranelift/native/src/lib.rs
  crates/cranelift-shared/Cargo.toml
  crates/cranelift-shared/src/isa_builder.rs
  crates/cranelift-shared/src/lib.rs
  crates/cranelift-shared/src/obj.rs
  crates/cranelift/Cargo.toml
  crates/cranelift/src/builder.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/lib.rs
  crates/environ/Cargo.toml
  crates/environ/src/compilation.rs
  crates/wasmtime/src/config.rs
  crates/winch/Cargo.toml
  crates/winch/src/builder.rs
  crates/winch/src/compiler.rs
  crates/winch/src/lib.rs
  scripts/publish.rs
  winch/codegen/Cargo.toml
  winch/codegen/build.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/mod.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/filetests/src/lib.rs
  winch/src/compile.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:x64, wasmtime:config, winch

#5938 Release Wasmtime 4.0.1
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/egraph/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/jit-icache-coherence/Cargo.toml
  winch/codegen/Cargo.toml
Labels: cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch

#5937 Release Wasmtime 5.0.1
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  winch/codegen/Cargo.toml
Labels: cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch

#5939 Release Wasmtime 6.0.1
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  crates/jit-icache-coherence/Cargo.toml
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch

#5969 cranelift-meta: Don't let-bind operand definitions
  cranelift/codegen/meta/src/cdsl/instructions.rs
  cranelift/codegen/meta/src/shared/instructions.rs
Labels: cranelift, cranelift:meta

#5972 Cranelift: x64, aarch64, s390x, riscv64: ensure addresses are I64s.
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#5973 wasmtime: Privately expose a module's address map and its functions' bytes
  crates/environ/src/address_map.rs
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#5930 x64: Add a smattering of lowerings for `shuffle` specializations
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude_lower.isle
  cranelift/filetests/filetests/isa/x64/shuffle-avx.clif
  cranelift/filetests/filetests/isa/x64/shuffle.clif
  cranelift/filetests/filetests/runtests/simd-shuffle.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#5924 x64: Optimize store-of-extract-lane-0
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/extractlane.clif
Labels: cranelift, cranelift:area:x64

#5964 Codegen fix `fcvt_from_sint.f32 ` with small types on riscv64.
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/fcvt-small.clif
  cranelift/filetests/filetests/runtests/issue5952.clif
Labels: cranelift

#5951 riscv64: Fix underflow in call relocation handling
  cranelift/jit/src/compiled_blob.rs
Labels: cranelift

#5749 Support plugging external profilers into the Cranelift timing infrastructure
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/timing.rs
  cranelift/filetests/src/concurrent.rs
  cranelift/filetests/src/lib.rs
  cranelift/filetests/src/runner.rs
Labels: cranelift

#5981 s390x: Fix mistake in available_in_isa
  cranelift/codegen/src/isa/s390x/inst/mod.rs
Labels: cranelift

#5977 aarch64: Add specialized `shuffle` lowerings
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude_lower.isle
  cranelift/filetests/filetests/isa/aarch64/shuffle.clif
  cranelift/filetests/filetests/runtests/simd-shuffle.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64

#5987 Cranelift: aarch64: fix undefined dest reg in f32x4.splat case.
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/filetests/filetests/isa/aarch64/issue-5985.clif
Labels: cranelift, cranelift:area:aarch64

#5971 fuzzgen: Add SIMD instructions supported by the interpreter
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift, fuzzing

#5995 Change CLIF `shuffle` to validate lane indices
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/filetests/filetests/isa/s390x/vec-permute-le-lane.clif
  cranelift/filetests/filetests/isa/s390x/vec-permute.clif
  cranelift/filetests/filetests/isa/x64/shuffle-avx512.clif
  cranelift/filetests/filetests/runtests/simd-shuffle.clif
  cranelift/filetests/filetests/verifier/type_check.clif
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift, cranelift:meta

#5978 cranelift-entity: more efficient `EntitySet` implementation
  cranelift/entity/src/set.rs
Labels: cranelift

#5997 aarch64: Use `VCodeConstant` for f64/v128 constants
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/constants.clif
  cranelift/filetests/filetests/isa/aarch64/fcvt-small.clif
  cranelift/filetests/filetests/isa/aarch64/fcvt.clif
  cranelift/filetests/filetests/isa/aarch64/floating-point.clif
  cranelift/filetests/filetests/isa/aarch64/shuffle.clif
  cranelift/filetests/filetests/isa/aarch64/simd-arithmetic.clif
  cranelift/filetests/filetests/isa/aarch64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/aarch64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/aarch64/simd.clif
  cranelift/filetests/filetests/isa/aarch64/vhigh_bits.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#5999 x64: Add `shuffle` specialization for `palignr`
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/shuffle.clif
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/runtests/simd-shuffle.clif
Labels: cranelift, cranelift:area:x64, isle

#6010 wasmtime: Option to return default values for unknown imports
  crates/wasmtime/src/linker.rs
  src/commands/run.rs
  tests/all/linker.rs
Labels: wasmtime:api

#5976 aarch64: Specialize constant vector shifts
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/filetests/filetests/isa/aarch64/arithmetic.clif
  cranelift/filetests/filetests/isa/aarch64/simd-arithmetic.clif
  cranelift/filetests/filetests/isa/aarch64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/runtests/simd-arithmetic.clif
Labels: cranelift, cranelift:area:aarch64

#6007 Allow to disable clocks in WasiCtx
  crates/wasi-common/cap-std-sync/src/clocks.rs
  crates/wasi-common/src/clocks.rs
  crates/wasi-common/src/snapshots/preview_0.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-common/tokio/tests/poll_oneoff.rs
Labels: wasi

#6014 cranelift: Mark fpromote and fdemote as operating on float scalars
  cranelift/codegen/meta/src/shared/instructions.rs
Labels: cranelift, cranelift:meta

#6013 cranelift: Add narrower and wider constraints to the instruction DSL
  cranelift/codegen/meta/src/cdsl/typevar.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/bitset.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/filetests/filetests/verifier/type_check.clif
Labels: cranelift, cranelift:meta

#6018 cranelift: Exclude the control type in narrower and wider
  cranelift/codegen/src/ir/instructions.rs
  cranelift/filetests/filetests/verifier/type_check.clif
Labels: cranelift

#6017 winch: Introduce `winch-environ`
  Cargo.lock
  Cargo.toml
  scripts/publish.rs
  winch/Cargo.toml
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/lib.rs
  winch/environ/Cargo.toml
  winch/environ/src/lib.rs
  winch/filetests/Cargo.toml
  winch/filetests/src/lib.rs
  winch/src/compile.rs
Labels: winch

#6019 craelift: Compact cases in valid_for_target with or-patterns
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#6023 x64: Add support for the `pblendw` instruction
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/shuffle-avx.clif
  cranelift/filetests/filetests/isa/x64/shuffle.clif
  cranelift/filetests/filetests/runtests/simd-shuffle.clif
Labels: cranelift, cranelift:area:x64, isle

#6016 cranelift: Translate `stack_*` accesses as unaligned
  cranelift/codegen/src/legalizer/mod.rs
  cranelift/filetests/filetests/egraph/misc.clif
  cranelift/filetests/filetests/runtests/simd-extractlane.clif
Labels: cranelift

#6025 x64: Improve codegen for splats
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-splat-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-splat-avx2.clif
  cranelift/filetests/filetests/isa/x64/simd-splat.clif
  cranelift/filetests/filetests/runtests/simd-splat.clif
Labels: cranelift, cranelift:area:x64, isle

#5991 cranelift-interpreter: Implement a bunch of SIMD arithmetic ops
  cranelift/filetests/filetests/runtests/simd-arithmetic.clif
  cranelift/filetests/filetests/runtests/simd-avg-round-small.clif
  cranelift/filetests/filetests/runtests/simd-avg-round.clif
  cranelift/filetests/filetests/runtests/simd-fmax-fmin-nondeterministic-aarch64.clif
  cranelift/filetests/filetests/runtests/simd-fmax-fmin-nondeterministic-x86_64.clif
  cranelift/filetests/filetests/runtests/simd-fmax-fmin.clif
  cranelift/filetests/filetests/runtests/simd-ineg.clif
  cranelift/filetests/filetests/runtests/simd-ishl.clif
  cranelift/filetests/filetests/runtests/simd-sshr.clif
  cranelift/filetests/filetests/runtests/simd-ushr.clif
  cranelift/interpreter/src/step.rs
Labels: cranelift

#6033 cranelift: simplify `ineg(ineg(x))` to `x`
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/filetests/filetests/egraph/algebraic.clif
Labels: cranelift

#6034 cranelift: simplify `fneg(fneg(x))` to `x`
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/filetests/filetests/egraph/algebraic.clif
Labels: cranelift

#6022 x64: Refactor and add extractlane special case for uextend/sextend
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/uextend-elision.clif
Labels: cranelift, cranelift:area:x64

#6036 Add note to README to encourage using the rustup method to install Rust.
  README.md
Labels: wasmtime:docs

#5998 cranelift: Fuzz mid-end optimizations
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
Labels: fuzzing

#6032 cranelift: simplify `x-x` to `0`
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/filetests/filetests/egraph/algebraic.clif
Labels: cranelift

#5994 fuzzgen: Add more arithmetic ops
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#6044 Remove split_blocks_created field
  cranelift/frontend/src/frontend.rs
  cranelift/frontend/src/ssa.rs
Labels: cranelift

#6046 cranelift: Emit a table of opcodes in gen_inst
  cranelift/codegen/meta/src/gen_inst.rs
Labels: cranelift, cranelift:meta

#6042 Various cleanups to Layout
  cranelift/codegen/src/dominator_tree.rs
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/ir/layout.rs
  cranelift/codegen/src/ir/mod.rs
  cranelift/codegen/src/ir/progpoint.rs
  cranelift/codegen/src/legalizer/mod.rs
  cranelift/codegen/src/verifier/mod.rs
Labels: cranelift

#6037 cranelift: simplify `icmp` against UMAX/SMIN/SMAX
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/egraph/algebraic.clif
Labels: cranelift

#6053 craneleft: cancel `ineg` when args to `imul`
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/filetests/filetests/egraph/algebraic.clif
Labels: cranelift

#6052 cranelift: rewrite `x*-1` to `ineg(x)`
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/filetests/filetests/egraph/algebraic.clif
Labels: cranelift

#6054 `cranelift-wasm`: Refactor bounds checks to avoid repetition of Spectre and non-Spectre
  cranelift/filetests/filetests/wasm/duplicate-loads-dynamic-memory-egraph.wat
  cranelift/filetests/filetests/wasm/duplicate-loads-dynamic-memory.wat
  cranelift/filetests/filetests/wasm/dynamic-memory-yes-spectre-access-same-index-different-offsets.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i32_index_0xffffffff_guard_yes_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i32_index_0xffffffff_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i32_index_0xffffffff_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i32_index_0xffffffff_guard_yes_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i32_index_0xffffffff_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i32_index_0xffffffff_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_dynamic_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_static_kind_i32_index_0_guard_yes_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_static_kind_i32_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_static_kind_i32_index_0_guard_yes_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_static_kind_i32_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_static_kind_i64_index_0_guard_yes_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_static_kind_i64_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_static_kind_i64_index_0_guard_yes_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_static_kind_i64_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0x1000_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/wasm/load-store/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0x1000_offset.wat
  cranelift/wasm/src/code_translator/bounds_checks.rs
Labels: cranelift

#6043 Make sequence numbers local to instructions
  cranelift/codegen/src/dominator_tree.rs
  cranelift/codegen/src/incremental_cache.rs
  cranelift/codegen/src/ir/layout.rs
Labels: cranelift

#6027 Rename `as_bool` to `as_truthy`, and fix TypeSet::as_bool
  cranelift/codegen/meta/src/cdsl/typevar.rs
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/ir/types.rs
  cranelift/interpreter/src/step.rs
Labels: cranelift, cranelift:meta

#6041 fix `ISLE`,`Pos`'`col`, looks like a bug to me.
  cranelift/isle/isle/src/lexer.rs
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#6047 Validate the OPCODE_SIGNATURES table
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#6060 x64: Fix vbroadcastss with AVX2 and without AVX
  cranelift/codegen/meta/src/isa/x86.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/extractlane-avx.clif
  cranelift/filetests/filetests/runtests/simd-fma.clif
  cranelift/filetests/filetests/wasm/x64-relaxed-simd-deterministic.wat
Labels: cranelift, cranelift:meta, cranelift:area:x64, isle

#6065 Release Wasmtime 7.0.0
  RELEASES.md
Labels: wasmtime:docs

#6061 Ensure the sequence number doesn't leak out of Layout
  cranelift/codegen/src/incremental_cache.rs
  cranelift/codegen/src/ir/layout.rs
  fuzz/fuzz_targets/cranelift-icache.rs
Labels: cranelift, fuzzing

#6011 Add a `MachBuffer::defer_trap` method
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/filetests/filetests/isa/aarch64/arithmetic.clif
  cranelift/filetests/filetests/isa/aarch64/fcvt-small.clif
  cranelift/filetests/filetests/isa/aarch64/fcvt.clif
  cranelift/filetests/filetests/isa/aarch64/floating-point.clif
  cranelift/filetests/filetests/isa/aarch64/stack-limit.clif
  cranelift/filetests/filetests/isa/aarch64/traps.clif
  cranelift/filetests/filetests/isa/aarch64/uadd_overflow_trap.clif
  cranelift/filetests/filetests/isa/aarch64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/aarch64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/aarch64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/aarch64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/aarch64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/aarch64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/aarch64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/aarch64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/s390x/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/s390x/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/s390x/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/s390x/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/isa/x64/sdiv.clif
  cranelift/filetests/filetests/isa/x64/traps.clif
  cranelift/filetests/filetests/isa/x64/uadd_overflow_trap.clif
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i8_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  cranelift/filetests/filetests/isa/x64/wasm/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  tests/all/traps.rs
  winch/filetests/filetests/x64/i32_divs/const.wat
  winch/filetests/filetests/x64/i32_divs/one_zero.wat
  winch/filetests/filetests/x64/i32_divs/overflow.wat
  winch/filetests/filetests/x64/i32_divs/params.wat
  winch/filetests/filetests/x64/i32_divs/zero_zero.wat
  winch/filetests/filetests/x64/i64_divs/const.wat
  winch/filetests/filetests/x64/i64_divs/one_zero.wat
  winch/filetests/filetests/x64/i64_divs/overflow.wat
  winch/filetests/filetests/x64/i64_divs/params.wat
  winch/filetests/filetests/x64/i64_divs/zero_zero.wat
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#6072 cranelift: rewrite `iabs(ineg(x))` and `iabs(iabs(x))`
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/filetests/filetests/egraph/algebraic.clif
Labels: cranelift

#6070 Restrict the types for isplit and iconcat to match backends
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/filetests/filetests/parser/rewrite.clif
  cranelift/filetests/filetests/parser/tiny.clif
Labels: cranelift, cranelift:meta

#6076 ISLE: add `partial` keyword to ISLE reference
  cranelift/isle/docs/language-reference.md
Labels: cranelift, isle

#6066 cranelift-entity: improve `EntitySet::cardinality()` implementation
  cranelift/entity/src/set.rs
Labels: cranelift

#6078 Cranelift: ISLE: aarch64: fix `imm12_from_negated_value` for `i32`, `i16`
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/iconst-imm12_from_negated.isle
Labels: cranelift, cranelift:area:aarch64

#5947 Pick argument and return types based on opcode constraints
  Cargo.lock
  cranelift/fuzzgen/Cargo.toml
  cranelift/fuzzgen/src/cranelift_arbitrary.rs
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift, cranelift:meta

#6081 ISLE: add synonyms for all variations of `icmp`
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/codegen/src/prelude.isle
  cranelift/codegen/src/prelude_opt.isle
Labels: cranelift

#5854 riscv64: Improve `ctz`/`clz`/`cls` codegen
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/riscv64/bitops.clif
  cranelift/filetests/filetests/isa/riscv64/cls-zbb.clif
  cranelift/filetests/filetests/isa/riscv64/clz-zbb.clif
  cranelift/filetests/filetests/isa/riscv64/ctz-zbb-zbs.clif
  cranelift/filetests/filetests/isa/riscv64/ctz-zbb.clif
  cranelift/filetests/filetests/runtests/cls.clif
  cranelift/filetests/filetests/runtests/clz.clif
  cranelift/filetests/filetests/runtests/ctz.clif
  cranelift/filetests/filetests/runtests/i128-bitops-count.clif
  cranelift/filetests/filetests/runtests/i128-cls.clif
Labels: cranelift, cranelift:meta

#6085 Add riscv64 backend to the README
  cranelift/README.md
Labels: cranelift

#6077 fuzzgen: Generate `call_indirect` instructions
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#6058 x64: Refactor and fill out some gpr-vs-xmm bits
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/fcvt-avx.clif
  cranelift/filetests/filetests/isa/x64/float-bitcast-avx.clif
  cranelift/filetests/filetests/isa/x64/float-bitcast.clif
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-splat-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-splat-avx2.clif
  cranelift/filetests/filetests/isa/x64/vhigh_bits-avx.clif
Labels: cranelift, cranelift:area:x64, isle

#6096 riscv64: Cleanup unused `lower_float_unordered`
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
Labels: cranelift

#5434 cranelift: Implement TLS on aarch64 Mach-O (Apple Silicon)
  cranelift/codegen/src/binemit/mod.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/filetests/filetests/isa/aarch64/tls-macho.clif
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module, cranelift:area:aarch64

#6099 riscv64: Add instruction helpers
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
Labels: cranelift

#6067 winch(x64): Initial implementation for function calls
  winch/codegen/src/abi/local.rs
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/abi.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/mod.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/regalloc.rs
  winch/codegen/src/regset.rs
  winch/codegen/src/stack.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/call/params.wat
  winch/filetests/filetests/x64/call/simple.wat
  winch/filetests/src/lib.rs
  winch/src/compile.rs
Labels: winch

#6111 Add `precise_output` argument to `test optimize`.
  cranelift/filetests/src/subtest.rs
  cranelift/filetests/src/test_compile.rs
  cranelift/filetests/src/test_optimize.rs
Labels: cranelift

#6095 ISLE: rewrite `and`/`or` of `icmp`
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/filetests/filetests/egraph/icmp.clif
  cranelift/filetests/filetests/egraph/make-icmp-tests.sh
Labels: cranelift

#6113 x64: Deduplicate fcmp emission logic
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/cmp-mem-bug.clif
  cranelift/filetests/filetests/isa/x64/select-i128.clif
  cranelift/filetests/filetests/isa/x64/select-issue-3744.clif
  cranelift/filetests/filetests/isa/x64/select.clif
Labels: cranelift, cranelift:area:x64

#6092 x64: Add AVX support for some more float-related instructions
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/filetests/filetests/isa/x64/ceil-avx.clif
  cranelift/filetests/filetests/isa/x64/fpromote-demote-avx.clif
  cranelift/filetests/filetests/isa/x64/fpromote-demote.clif
  cranelift/filetests/filetests/isa/x64/fsqrt-avx.clif
  cranelift/filetests/filetests/isa/x64/fsqrt.clif
Labels: cranelift, cranelift:area:x64

#6122 cranelift::codegen::Context::optimize(): reduce verbosity of "egraph stats" traces
  cranelift/codegen/src/context.rs
Labels: cranelift
