Repository bytecodealliance/wasmtime, pull requests merged in 2023-01, with the labels that each got.

#5489 Cranelift: include return values in instruction pretty print output.
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#5508 riscv64: Fix `br_table` segfault with zero sized jump tables
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/filetests/filetests/runtests/br_table.clif
Labels: cranelift

#5471 wiggle: copy guest slices back to shared memory
  crates/wasi-common/src/snapshots/preview_0.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wiggle/src/lib.rs
Labels: wasi

#5504 riscv64: Add masking for small types when lowering select
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/condops.clif
  cranelift/filetests/filetests/runtests/issue-5498.clif
Labels: cranelift

#5510 Use floats for `wasmtime::component::Val::Float*`
  crates/fuzzing/src/generators/component_types.rs
  crates/wasmtime/src/component/values.rs
  crates/wast/src/component.rs
  tests/all/component_model/dynamic.rs
Labels: wasmtime:api, fuzzing

#5511 cranelift-wasm: Better track reachability after translating loads
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/code_translator/bounds_checks.rs
Labels: cranelift, cranelift:wasm

#5505 riscv64: Fix masking on `iabs`
  cranelift/codegen/meta/src/isa/riscv64.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/iabs-zbb.clif
  cranelift/filetests/filetests/isa/riscv64/iabs.clif
  cranelift/filetests/filetests/runtests/i128-iabs.clif
  cranelift/filetests/filetests/runtests/iabs.clif
Labels: cranelift, cranelift:meta

#5514 cranelift: Add wasm tests for duplicate loads
  cranelift/filetests/filetests/wasm/duplicate-loads-dynamic-memory.wat
  cranelift/filetests/filetests/wasm/duplicate-loads-static-memory.wat
  cranelift/filetests/src/test_wasm.rs
  cranelift/filetests/src/test_wasm/config.rs
Labels: cranelift

#5512 riscv64: Implement fcmp in ISLE
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/fcmp.clif
Labels: cranelift

#5517 Cranelift: GVN spectre guards and run redundant load elimination twice
  cranelift/codegen/meta/src/cdsl/instructions.rs
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/simple_gvn.rs
  cranelift/filetests/filetests/wasm/duplicate-loads-dynamic-memory.wat
Labels: cranelift, cranelift:meta

#5516 Small update for filename in `isle_integration.md`
  cranelift/docs/isle-integration.md
Labels: cranelift, cranelift:docs

#5515 riscv64: Remove the TrapFf constructor
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
Labels: cranelift

#5519 riscv64: Remove lower_br_fcmp
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
Labels: cranelift

#5520 Cranelift: GVN `uadd_overflow_trap`
  cranelift/codegen/meta/src/cdsl/instructions.rs
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/simple_gvn.rs
  cranelift/filetests/filetests/wasm/duplicate-loads-dynamic-memory.wat
  cranelift/filetests/src/test_wasm.rs
Labels: cranelift, cranelift:meta

#5521 Bump Wasmtime to 6.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/preopt/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  winch/codegen/Cargo.toml
Labels: cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle

#5482 Fuzz multiple targets in cranelift-icache
  Cargo.lock
  cranelift/codegen/src/isa/mod.rs
  cranelift/fuzzgen/Cargo.toml
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/fuzzgen/src/lib.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/cranelift-fuzzgen.rs
  fuzz/fuzz_targets/cranelift-icache.rs
Labels: cranelift, fuzzing

#5534 Cranelift: GVN all idempotently trapping but otherwise pure instructions
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/filetests/filetests/simple_gvn/idempotent-trapping.clif
Labels: cranelift, cranelift:meta

#5527 Cranelift: Implement 'iabs' for scalar types on x86_64
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/prelude_lower.isle
  cranelift/filetests/filetests/isa/x64/iabs.clif
  cranelift/filetests/filetests/runtests/iabs.clif
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift, cranelift:area:x64

#5535 Treat `wasmtime::component::Val::Float{32,64}` NaNs as equal
  crates/wasmtime/src/component/values.rs
Labels: wasmtime:api

#5493 Add `clif-util compile` option to output object file
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/filetests/src/function_runner.rs
  cranelift/filetests/src/test_run.rs
  cranelift/fuzzgen/src/lib.rs
  cranelift/jit/src/backend.rs
  cranelift/object/src/backend.rs
  cranelift/reader/src/isaspec.rs
  cranelift/reader/src/lib.rs
  cranelift/src/compile.rs
  cranelift/src/run.rs
  crates/cranelift/src/compiler.rs
Labels: cranelift, cranelift:module, cranelift:area:aarch64, cranelift:area:x64

#5542 Ability to disable cache after it's been configured on `Config`
  Cargo.lock
  crates/bench-api/Cargo.toml
  crates/bench-api/src/lib.rs
  crates/cli-flags/src/lib.rs
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, wasmtime:config

#5538 cranelift-isle: Record all binding names
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#5540 cranelift: fix register for `srem.i8` on x86_64
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/filetests/filetests/runtests/srem.clif
Labels: cranelift, cranelift:area:x64

#5539 Update release notes for 5.0.0
  RELEASES.md
Labels: wasmtime:docs

#5549 cranelift: Cleanup testing docs
  cranelift/docs/testing.md
Labels: cranelift, cranelift:docs

#5548 cranelift: Remove `is_pic` predicate from x86 backend
  cranelift/codegen/meta/src/cdsl/settings.rs
  cranelift/codegen/meta/src/isa/x86.rs
Labels: cranelift, cranelift:meta

#5552 cranelift: Remove predicate not macro branch
  cranelift/codegen/meta/src/cdsl/mod.rs
Labels: cranelift, cranelift:meta

#5545 fuzzgen: Re-enable `srem.i8` on x86
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#5536 cranelift: Forbid argument extensions for floats and SIMD vectors
  cranelift/codegen/src/verifier/mod.rs
  cranelift/filetests/filetests/verifier/argument-extension.clif
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#5556 Update the documentation for `Caller::get_export`.
  crates/wasmtime/src/func.rs
Labels: wasmtime:api

#5558 Add component model wasmtime feature to Docs.rs
  crates/wasmtime/Cargo.toml
Labels: wasmtime:api

#5561 cranelift-codegen: Expose x64 settings
  cranelift/codegen/src/isa/x64/mod.rs
Labels: cranelift, cranelift:area:x64

#5562 Treat `wasmtime::component::Val::Float{32,64}` zero and negative zero as inequal
  crates/wasmtime/src/component/values.rs
Labels: wasmtime:api

#5503 cranelift: Add `atomic_{load,store}` and `fence` to the interpreter
  cranelift/filetests/filetests/runtests/atomic-load-store.clif
  cranelift/filetests/filetests/runtests/fence.clif
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/interpreter/src/step.rs
Labels: cranelift

#5502 fuzzgen: Disable unimplemented riscv64 ops
  cranelift/fuzzgen/src/function_generator.rs
  fuzz/Cargo.toml
Labels: cranelift, fuzzing

#5566 Optimize some functions in the `wiggle` crate
  crates/wiggle/generate/src/types/flags.rs
  crates/wiggle/generate/src/types/handle.rs
  crates/wiggle/generate/src/types/record.rs
  crates/wiggle/generate/src/types/variant.rs
  crates/wiggle/src/guest_type.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/src/wasmtime.rs
Labels: wasi

#5570 cranelift-codegen: Prepare aarch64 for usage from Winch
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
Labels: cranelift, cranelift:area:aarch64

#5490 Update Intel x86 CPU presets to match LLVM
  cranelift/codegen/meta/src/cdsl/settings.rs
  cranelift/codegen/meta/src/isa/x86.rs
Labels: cranelift, cranelift:meta

#5584 cranelift: Disable select rule for i128 types on riscv64
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/issue-5583.clif
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#5580 Fix a debug assert with `wasm_backtrace(false)`
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/trap.rs
  tests/all/traps.rs
Labels: wasmtime:api, wasmtime:config

#5586 Generalize iterator types in compute_use_states
  cranelift/codegen/src/machinst/lower.rs
Labels: cranelift, cranelift:area:machinst

#5464 cranelift: Rework block instructions to use BlockCall
  cranelift/codegen/meta/src/cdsl/operands.rs
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/meta/src/shared/entities.rs
  cranelift/codegen/meta/src/shared/formats.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/dce.rs
  cranelift/codegen/src/dominator_tree.rs
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/egraph/elaborate.rs
  cranelift/codegen/src/flowgraph.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/ir/function.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/ir/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/licm.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/opts.rs
  cranelift/codegen/src/remove_constant_phis.rs
  cranelift/codegen/src/simple_preopt.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/codegen/src/write.rs
  cranelift/frontend/src/frontend.rs
  cranelift/frontend/src/ssa.rs
  cranelift/interpreter/src/step.rs
  cranelift/preopt/src/constant_folding.rs
  cranelift/reader/src/parser.rs
  cranelift/src/bugpoint.rs
Labels: cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#5581 winch: Use cranelift-codegen x64 backend for emission.
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  crates/winch/Cargo.toml
  crates/winch/src/builder.rs
  crates/winch/src/compiler.rs
  winch/Cargo.toml
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen.rs
  winch/codegen/src/frame/mod.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/mod.rs
  winch/codegen/src/isa/reg.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/lib.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/regalloc.rs
  winch/src/disasm.rs
  winch/src/main.rs
Labels: cranelift

#5567 Resolve libcall relocations for older CPUs
  crates/cranelift/src/obj.rs
  crates/environ/src/obj.rs
  crates/fuzzing/src/generators/codegen_settings.rs
  crates/fuzzing/src/generators/config.rs
  crates/jit/src/code_memory.rs
  crates/runtime/src/libcalls.rs
  crates/wast/src/wast.rs
Labels: fuzzing

#5565 Update WIT tooling used by Wasmtime
  Cargo.lock
  Cargo.toml
  crates/component-macro/Cargo.toml
  crates/component-macro/src/bindgen.rs
  crates/component-macro/test-helpers/src/lib.rs
  crates/component-macro/tests/codegen.rs
  crates/component-macro/tests/codegen/char.wit
  crates/component-macro/tests/codegen/conventions.wit
  crates/component-macro/tests/codegen/empty.wit
  crates/component-macro/tests/codegen/flags.wit
  crates/component-macro/tests/codegen/floats.wit
  crates/component-macro/tests/codegen/integers.wit
  crates/component-macro/tests/codegen/lists.wit
  crates/component-macro/tests/codegen/many-arguments.wit
  crates/component-macro/tests/codegen/multi-return.wit
  crates/component-macro/tests/codegen/records.wit
  crates/component-macro/tests/codegen/simple-functions.wit
  crates/component-macro/tests/codegen/simple-lists.wit
  crates/component-macro/tests/codegen/small-anonymous.wit
  crates/component-macro/tests/codegen/smoke-default.wit
  crates/component-macro/tests/codegen/smoke-export.wit
  crates/component-macro/tests/codegen/smoke.wit
  crates/component-macro/tests/codegen/strings.wit
  crates/component-macro/tests/codegen/unions.wit
  crates/component-macro/tests/codegen/use-paths.wit
  crates/component-macro/tests/codegen/variants.wit
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/inline.rs
  crates/wasmtime/src/component/mod.rs
  crates/wit-bindgen/src/lib.rs
  crates/wit-bindgen/src/rust.rs
  crates/wit-bindgen/src/types.rs
  supply-chain/audits.toml
  tests/all/component_model/bindgen.rs
  tests/all/component_model/bindgen/results.rs
Labels: wasmtime:api

#5593 Refactor BranchInfo::Table to no longer have an optional default branch
  cranelift/codegen/src/dominator_tree.rs
  cranelift/codegen/src/flowgraph.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/ir/function.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/verifier/mod.rs
Labels: cranelift

#5596 fuzzgen: Enable s390x and disable unimplemented ops
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/fuzzgen/src/function_generator.rs
  fuzz/Cargo.toml
Labels: cranelift, fuzzing

#5597 Change spectest fuzzing to throw out some fuzz inputs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#5594 Cranelift/egraph mid-end: support merging effectful-but-idempotent ops
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/filetests/filetests/wasm/duplicate-loads-dynamic-memory-egraph.wat
  cranelift/filetests/filetests/wasm/duplicate-loads-static-memory-egraph.wat
Labels: cranelift

#5587 Enable egraph-based optimization by default.
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/settings.rs
  cranelift/filetests/filetests/egraph/algebraic.clif
  cranelift/filetests/filetests/egraph/alias_analysis.clif
  cranelift/filetests/filetests/egraph/basic-gvn.clif
  cranelift/filetests/filetests/egraph/cprop.clif
  cranelift/filetests/filetests/egraph/i128-opts.clif
  cranelift/filetests/filetests/egraph/isplit.clif
  cranelift/filetests/filetests/egraph/issue-5405.clif
  cranelift/filetests/filetests/egraph/issue-5437.clif
  cranelift/filetests/filetests/egraph/licm.clif
  cranelift/filetests/filetests/egraph/misc.clif
  cranelift/filetests/filetests/egraph/multivalue.clif
  cranelift/filetests/filetests/egraph/not_a_load.clif
  cranelift/filetests/filetests/egraph/remat.clif
  cranelift/filetests/filetests/wasm/duplicate-loads-dynamic-memory.wat
  cranelift/filetests/filetests/wasm/duplicate-loads-static-memory.wat
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta, wasmtime:config

#5601 Update release date of Wasmtime 5.0.0
  RELEASES.md
Labels: wasmtime:docs

#5603 fix issue 5525.
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/filetests/filetests/isa/riscv64/extend-op.clif
  cranelift/filetests/filetests/runtests/issue5525.clif
Labels: cranelift

#5602 Release Wasmtime 5.0.0
  RELEASES.md
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/trap.rs
  tests/all/traps.rs
Labels: wasmtime:api, wasmtime:docs, wasmtime:config

#5609 Fix multi-memory condition when spectest fuzzing
  crates/fuzzing/src/generators/config.rs
Labels: fuzzing

#5595 fix issue #5497 #5524 #5526.
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/filetests/filetests/isa/riscv64/condops.clif
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0_guard_yes_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0_guard_yes_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0_offset.wat
  cranelift/filetests/filetests/isa/riscv64/wasm/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0_offset.wat
  cranelift/filetests/filetests/runtests/issue5497.clif
  cranelift/filetests/filetests/runtests/issue5524.clif
  cranelift/filetests/filetests/runtests/issue5526.clif
Labels: cranelift

#5610 Add deprecation notice to `cranelift_use_egraphs` option.
  crates/fuzzing/src/generators/config.rs
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, fuzzing, wasmtime:config

#5620 docs: Fix typo in aarch64 abi
  cranelift/codegen/src/isa/aarch64/abi.rs
Labels: cranelift, cranelift:area:aarch64

#5618 Notify wasmtime install is local not system wide
  README.md
Labels: wasmtime:docs

#5615 fuzzgen: Reenable some RISCV instructions
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#5573 x86: Test paired udiv/urem
  cranelift/filetests/filetests/isa/x64/udivrem.clif
Labels: cranelift

#5435 cranelift-isle: codegen from new IR
  cranelift/isle/isle/src/codegen.rs
  cranelift/isle/isle/src/compile.rs
  cranelift/isle/isle/src/ir.rs
  cranelift/isle/isle/src/lib.rs
  cranelift/isle/isle/src/serialize.rs
  cranelift/isle/isle/src/trie.rs
Labels: cranelift, isle

#5627 Produce an error at runtime rather than at compile time for unsupport…
  cranelift/native/src/lib.rs
Labels: cranelift

#5446 cranelift: Add a conditional branch instruction with two targets
  cranelift/codegen/meta/src/cdsl/formats.rs
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/meta/src/shared/entities.rs
  cranelift/codegen/meta/src/shared/formats.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/dominator_tree.rs
  cranelift/codegen/src/flowgraph.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/ir/function.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/prelude.isle
  cranelift/codegen/src/remove_constant_phis.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/codegen/src/write.rs
  cranelift/filetests/filetests/isa/x64/branches.clif
  cranelift/filetests/filetests/parser/branch.clif
  cranelift/filetests/filetests/runtests/brif.clif
  cranelift/filetests/filetests/verifier/type_check.clif
  cranelift/frontend/src/frontend.rs
  cranelift/frontend/src/ssa.rs
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/interpreter/src/step.rs
  cranelift/reader/src/parser.rs
Labels: cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64, isle

#5631 Update wasm-tools crates
  Cargo.lock
  Cargo.toml
  cranelift/wasm/src/code_translator.rs
  crates/fuzzing/src/generators/config.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  supply-chain/audits.toml
Labels: wasmtime:api, cranelift, fuzzing, cranelift:wasm, wasmtime:config

#5632 Flag to rustdoc component support requires a feature
  crates/wasmtime/src/component/mod.rs
Labels: wasmtime:api

#5608 Fix libcall relocations for precompiled modules
  crates/jit/src/code_memory.rs
  crates/runtime/src/mmap.rs
  crates/runtime/src/mmap_vec.rs
  tests/all/module.rs
Labels: fuzzing

#5636 riscv64: improve unordered comparison generated code
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/riscv64/fcmp.clif
Labels: cranelift

#5637 x64: Cleanup the use of `maybe_extend` in branch lowerings
  cranelift/codegen/src/isa/x64/lower.isle
Labels: cranelift, cranelift:area:x64

#5638 Remove brz and brnz from cranelift-wasm
  cranelift/frontend/src/frontend.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/state.rs
Labels: cranelift, cranelift:wasm

#5640 cranelift-codegen: Expose `EmitState` and `EmitInfo` from aarch64
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
Labels: cranelift, cranelift:area:aarch64

#5644 Rework the switch module in cranelift-frontend in terms of brif
  Cargo.lock
  cranelift/frontend/Cargo.toml
  cranelift/frontend/src/switch.rs
Labels: cranelift

#5646 Cranelift: Consider shifts as "simple" arithmetic in egraph cost model
  cranelift/codegen/src/egraph/cost.rs
Labels: cranelift

#5650 Fix an assertion failure with an empty Switch
  cranelift/frontend/src/switch.rs
Labels: cranelift

#5651 c-api: add Wasmtime version macros to wasmtime.h
  crates/c-api/include/wasmtime.h
  scripts/publish.rs
Labels: wasmtime:c-api

#5612 fix issue 5569.
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/filetests/filetests/runtests/issue5569.clif
Labels: cranelift

#5649 Cranelift: Harvest each Souper LHS into its own file
  Cargo.lock
  cranelift/Cargo.toml
  cranelift/src/souper_harvest.rs
  supply-chain/audits.toml
Labels: cranelift

#5659 cranelift: Generate the correct souper size for comparisons in LHSes
  cranelift/codegen/src/souper_harvest.rs
Labels: cranelift

#5658 Remove boolean parameters from instruction builder functions
  cranelift/codegen/meta/src/cdsl/instructions.rs
  cranelift/codegen/meta/src/shared/instructions.rs
Labels: cranelift, cranelift:meta

#5662 Cranelift: Fix `select` condition harvesting
  cranelift/codegen/src/souper_harvest.rs
Labels: cranelift

#5663 ISLE: reject multi-term rules with explicit priorities
  cranelift/isle/isle/isle_examples/fail/multi_prio.isle
  cranelift/isle/isle/isle_examples/link/multi_extractor.isle
  cranelift/isle/isle/src/sema.rs
  cranelift/isle/isle/tests/run_tests.rs
Labels: cranelift, isle

#5647 Cranelift: Add egraph rule to rewrite `x * C ==> x << log2(C)` when `C` is a power of two
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/egraph/algebraic.clif
  cranelift/filetests/filetests/egraph/mul-pow-2.clif
  cranelift/filetests/src/subtest.rs
Labels: cranelift

#5672 winch: Force a rebuild when new files are added to the `filetests` directory
  winch/filetests/build.rs
Labels: winch

#5674 Remove unused code from the write module
  cranelift/codegen/src/write.rs
Labels: cranelift

#5671 Cranelift: constant propagate shifts
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/opts/cprop.isle
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/egraph/cprop.clif
Labels: cranelift, cranelift:goal:optimize-speed, souper

#5668 Fix some warnings on nightly Rust
  cranelift/frontend/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/wasm/Cargo.toml
Labels: cranelift, cranelift:module, cranelift:wasm

#5673 Cranelift: Rewrite `(x>>k)<<k` into masking off the bottom `k` bits
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/filetests/filetests/egraph/algebraic.clif
  cranelift/filetests/filetests/runtests/shift-right-left.clif
Labels: cranelift, cranelift:goal:optimize-speed, souper

#5677 Add a convenience function for displaying a BlockCall
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/write.rs
Labels: cranelift

#5676 Cranelift: Rewrite `or(and(x, y), not(y)) => or(x, not(y))`
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/opts/algebraic.isle
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/egraph/algebraic.clif
  cranelift/filetests/filetests/runtests/or-and-y-with-not-y.clif
Labels: cranelift, cranelift:goal:optimize-speed, souper

#5605 Fix issue 5528
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/filetests/filetests/runtests/issue5528.clif
Labels: cranelift
