Repository bytecodealliance/wasmtime, pull requests merged in 2023-07, with the labels that each got.

#6678 cranelift: Remove unused code in filetests
  cranelift/filetests/src/runtest_environment.rs
Labels: cranelift

#6684 riscv64: Implement scalar `bswap` instruction
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/bswap-zbb.clif
  cranelift/filetests/filetests/isa/riscv64/bswap.clif
  cranelift/filetests/filetests/runtests/bswap.clif
  cranelift/filetests/filetests/runtests/i128-bswap.clif
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift, cranelift:area:riscv64

#6686 Bump Wasmtime to 12.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#6680 Update v8 and proc-macro2 dependencies
  .github/workflows/main.yml
  Cargo.lock
  crates/fuzzing/Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: fuzzing

#6685 winch(x64): Fix a couple of issues with control flow
  tests/misc_testsuite/winch/if.wast
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/control.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/if/as_br_if_last.wat
  winch/filetests/filetests/x64/if/break_value.wat
Labels: winch

#6692 Fix a typo in an `unsafe impl Send/Sync`
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/store/func_refs.rs
Labels: wasmtime:api

#6637 handle interface functions correctly in `component::Linker::func_new`
  crates/wasmtime/src/component/linker.rs
  tests/all/component_model/import.rs
Labels: wasmtime:api

#6693 Store all instantiation arguments in a component
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/types.rs
  crates/wasmtime/src/compiler.rs
  crates/wasmtime/src/component/instance.rs
Labels: wasmtime:api

#6694 Fix signatures registered with modules-in-components
  crates/wasmtime/src/compiler.rs
  tests/all/component_model/aot.rs
Labels: wasmtime:api

#6700 winch(x64) Add support for local tee
  fuzz/fuzz_targets/differential.rs
  tests/misc_testsuite/winch/local_tee.wast
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/visitor.rs
Labels: fuzzing, winch

#6673 Support multiple versions of `wasmtime` in the same crate
  Cargo.lock
  Cargo.toml
  crates/cranelift/Cargo.toml
  crates/cranelift/src/debug/transform/unit.rs
  crates/cranelift/src/debug/transform/utils.rs
  crates/fiber/Cargo.toml
  crates/fiber/build.rs
  crates/fiber/src/unix.rs
  crates/fiber/src/unix/aarch64.rs
  crates/fiber/src/unix/arm.rs
  crates/fiber/src/unix/riscv64.rs
  crates/fiber/src/unix/s390x.S
  crates/fiber/src/unix/x86_64.rs
  crates/fiber/src/windows.c
  crates/fiber/src/windows.rs
  crates/jit-debug/Cargo.toml
  crates/jit-debug/src/gdb_jit_int.rs
  crates/runtime/Cargo.toml
  crates/runtime/build.rs
  crates/runtime/src/debug_builtins.rs
  crates/runtime/src/helpers.c
  crates/runtime/src/libcalls.rs
  crates/runtime/src/trampolines/aarch64.rs
  crates/runtime/src/trampolines/riscv64.rs
  crates/runtime/src/trampolines/s390x.S
  crates/runtime/src/trampolines/x86_64.rs
  crates/runtime/src/traphandlers.rs
  crates/versioned-export-macros/Cargo.toml
  crates/versioned-export-macros/src/lib.rs
  scripts/publish.rs
  supply-chain/config.toml
Labels: wasmtime:api

#6703 winch(x64): Add support for global get and set
  fuzz/fuzz_targets/differential.rs
  tests/misc_testsuite/winch/globals.wast
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/visitor.rs
Labels: fuzzing, winch

#6702 Fix some warnings on nightly Rust
  cranelift/filetests/src/function_runner.rs
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/component.rs
  crates/runtime/src/component/transcode.rs
Labels: cranelift

#6709 x64: Add a missing ssse3 condition to lowering rule
  cranelift/codegen/src/isa/x64/lower.isle
Labels: cranelift, cranelift:area:x64

#6708 Fix 5916 interpreter wrong for vall true
  cranelift/filetests/filetests/runtests/simd-valltrue.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift

#6710 Update the wasm-tools family of crates
  Cargo.lock
  Cargo.toml
  cranelift/wasm/src/sections_translator.rs
  crates/environ/Cargo.toml
  crates/environ/examples/factc.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/types.rs
  crates/environ/src/module_environ.rs
  crates/runtime/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wit-bindgen/src/lib.rs
  crates/wit-bindgen/src/rust.rs
  crates/wit-bindgen/src/types.rs
  supply-chain/audits.toml
  supply-chain/imports.lock
  winch/codegen/src/codegen/env.rs
  winch/filetests/src/lib.rs
  winch/src/compile.rs
Labels: wasmtime:api, cranelift, cranelift:wasm, winch

#6714 Release notes for wasmtime-11
  RELEASES.md
Labels: wasmtime:docs

#6718 FIX: doc typos for gen_(store|load)_base_offset functions
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst

#6739 Update wasm-tools dependencies
  Cargo.lock
  Cargo.toml
  cranelift/wasm/src/sections_translator.rs
  crates/environ/src/module_environ.rs
  crates/fuzzing/src/generators/stacks.rs
  supply-chain/imports.lock
  tests/all/module.rs
Labels: cranelift, fuzzing, cranelift:wasm

#6720 Add docs on how to profile with samply and perfmaps
  docs/SUMMARY.md
  docs/examples-profiling-samply.md
Labels: wasmtime:docs

#6747 fuzzgen: Enable `bitcast` instruction
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#6736 Cap the maximum basic block padding in Cranelift
  cranelift/codegen/src/machinst/vcode.rs
  crates/fuzzing/src/generators/config.rs
Labels: cranelift, cranelift:area:machinst, fuzzing

#6745 Change the call to unwrap to except with an error message
  crates/c-api/src/linker.rs
Labels: wasmtime:c-api

#6691 Implement component model resources in Wasmtime
  crates/component-macro/src/component.rs
  crates/cranelift-shared/src/lib.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/environ/examples/factc.rs
  crates/environ/src/compilation.rs
  crates/environ/src/component.rs
  crates/environ/src/component/compiler.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/adapt.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/types.rs
  crates/environ/src/component/types/resources.rs
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/environ/src/fact/trampoline.rs
  crates/environ/src/trap_encoding.rs
  crates/fuzzing/src/generators/component_types.rs
  crates/misc/component-test-util/src/lib.rs
  crates/runtime/src/component.rs
  crates/runtime/src/component/resources.rs
  crates/runtime/src/component/transcode.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/send_sync_ptr.rs
  crates/wasmtime/src/compiler.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/func/options.rs
  crates/wasmtime/src/component/func/typed.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/component/linker.rs
  crates/wasmtime/src/component/matching.rs
  crates/wasmtime/src/component/mod.rs
  crates/wasmtime/src/component/resources.rs
  crates/wasmtime/src/component/types.rs
  crates/wasmtime/src/component/values.rs
  crates/wasmtime/src/store.rs
  crates/wasmtime/src/store/data.rs
  crates/wast/src/component.rs
  crates/wast/src/spectest.rs
  crates/winch/src/compiler.rs
  crates/wit-bindgen/src/lib.rs
  crates/wit-bindgen/src/rust.rs
  tests/all/component_model.rs
  tests/all/component_model/func.rs
  tests/all/component_model/import.rs
  tests/all/component_model/post_return.rs
  tests/all/component_model/resources.rs
  tests/misc_testsuite/component-model/resources.wast
Labels: wasmtime:api, cranelift, fuzzing, cranelift:wasm

#6723 Cranelift: Get tail calls working on aarch64
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/filetests/filetests/isa/aarch64/return-call.clif
  cranelift/filetests/filetests/isa/x64/return-call.clif
  cranelift/filetests/filetests/runtests/return-call-indirect.clif
  cranelift/filetests/filetests/runtests/return-call.clif
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#6760 cranelift-wasm: Add support for translating Wasm tail calls to CLIF
  cranelift/filetests/src/test_wasm/env.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  crates/cranelift/src/func_environ.rs
Labels: cranelift, cranelift:wasm

#6556 WASI Preview 2: rewrite streams and pollable implementation
  Cargo.lock
  Cargo.toml
  crates/test-programs/reactor-tests/Cargo.toml
  crates/test-programs/tests/command.rs
  crates/test-programs/tests/reactor.rs
  crates/test-programs/tests/wasi-preview1-host-in-preview2.rs
  crates/test-programs/tests/wasi-preview2-components-sync.rs
  crates/test-programs/tests/wasi-preview2-components.rs
  crates/wasi-common/tokio/Cargo.toml
  crates/wasi-http/Cargo.toml
  crates/wasi-preview1-component-adapter/src/descriptors.rs
  crates/wasi-preview1-component-adapter/src/lib.rs
  crates/wasi/Cargo.toml
  crates/wasi/src/preview2/command.rs
  crates/wasi/src/preview2/ctx.rs
  crates/wasi/src/preview2/filesystem.rs
  crates/wasi/src/preview2/mod.rs
  crates/wasi/src/preview2/pipe.rs
  crates/wasi/src/preview2/poll.rs
  crates/wasi/src/preview2/preview1/mod.rs
  crates/wasi/src/preview2/preview2/clocks.rs
  crates/wasi/src/preview2/preview2/env.rs
  crates/wasi/src/preview2/preview2/exit.rs
  crates/wasi/src/preview2/preview2/filesystem.rs
  crates/wasi/src/preview2/preview2/filesystem/sync.rs
  crates/wasi/src/preview2/preview2/io.rs
  crates/wasi/src/preview2/preview2/mod.rs
  crates/wasi/src/preview2/preview2/poll.rs
  crates/wasi/src/preview2/preview2/random.rs
  crates/wasi/src/preview2/sched.rs
  crates/wasi/src/preview2/sched/subscription.rs
  crates/wasi/src/preview2/sched/sync.rs
  crates/wasi/src/preview2/stdio.rs
  crates/wasi/src/preview2/stdio/unix.rs
  crates/wasi/src/preview2/stdio/worker_thread_stdin.rs
  crates/wasi/src/preview2/stream.rs
  crates/wasi/src/preview2/table.rs
  crates/wasi/src/preview2/wasi/command.rs
  crates/wasi/src/preview2/wasi/mod.rs
  crates/wasi/wit/deps/io/streams.wit
  supply-chain/imports.lock
Labels: wasi

#6749 Cranelift: Implement tail calls on riscv64
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/return-call.clif
  cranelift/filetests/filetests/runtests/return-call-indirect.clif
  cranelift/filetests/filetests/runtests/return-call-loop.clif
  cranelift/filetests/filetests/runtests/return-call.clif
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#6751 Refactor and simplify component trampolines
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/component/compiler.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/adapt.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/types.rs
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/environ/src/fact/transcode.rs
  crates/runtime/src/component.rs
  crates/wasmtime/src/compiler.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/instance.rs
Labels: wasmtime:api, fuzzing

#6763 Fix flaky tests in preview2 streams
  crates/wasi/src/preview2/pipe.rs
  crates/wasi/src/preview2/preview2/io.rs
Labels: wasi

#6771 Ignore async_stack_size if async_support is disabled
  crates/wasmtime/src/config.rs
  tests/all/traps.rs
Labels: wasmtime:api, wasmtime:config

#6775 Fix broken link to WASI API documentation
  docs/WASI-documents.md
Labels: wasmtime:docs

#6777 Update the wasm-tools family of crates, disallow empty component types
  Cargo.lock
  Cargo.toml
  crates/misc/component-fuzz-util/src/lib.rs
  crates/test-programs/reactor-tests/wit/deps/filesystem/filesystem.wit
  crates/test-programs/reactor-tests/wit/deps/random/random.wit
  crates/test-programs/reactor-tests/wit/deps/wasi-cli-base/preopens.wit
  crates/wasi-preview1-component-adapter/wit/command.wit
  crates/wasi-preview1-component-adapter/wit/deps/filesystem/filesystem.wit
  crates/wasi-preview1-component-adapter/wit/deps/preview/command-extended.wit
  crates/wasi-preview1-component-adapter/wit/deps/preview/command.wit
  crates/wasi-preview1-component-adapter/wit/deps/preview/proxy.wit
  crates/wasi-preview1-component-adapter/wit/deps/random/insecure-seed.wit
  crates/wasi-preview1-component-adapter/wit/deps/random/insecure.wit
  crates/wasi-preview1-component-adapter/wit/deps/random/random.wit
  crates/wasi-preview1-component-adapter/wit/deps/sockets/ip-name-lookup.wit
  crates/wasi-preview1-component-adapter/wit/deps/sockets/network.wit
  crates/wasi-preview1-component-adapter/wit/deps/sockets/tcp-create-socket.wit
  crates/wasi-preview1-component-adapter/wit/deps/sockets/tcp.wit
  crates/wasi-preview1-component-adapter/wit/deps/sockets/udp-create-socket.wit
  crates/wasi-preview1-component-adapter/wit/deps/sockets/udp.wit
  crates/wasi-preview1-component-adapter/wit/deps/wasi-cli-base/preopens.wit
  crates/wasi-preview1-component-adapter/wit/deps/wasi-cli-base/stdio.wit
  crates/wasi-preview1-component-adapter/wit/reactor.wit
  crates/wasi/src/preview2/mod.rs
  crates/wasi/src/preview2/preview2/io.rs
  crates/wasi/wit/deps/io/streams.wit
  crates/wasmtime/src/engine/serialization.rs
  supply-chain/imports.lock
  tests/all/component_model/func.rs
  tests/all/component_model/macros.rs
  tests/misc_testsuite/component-model/adapter.wast
  tests/misc_testsuite/component-model/fused.wast
  tests/misc_testsuite/component-model/instance.wast
  tests/misc_testsuite/component-model/types.wast
Labels: wasmtime:api, wasi

#6780 Cranelift: Fix `ABIMachineSpec::gen_add_imm` for riscv64
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/filetests/filetests/isa/riscv64/stack-limit.clif
Labels: cranelift

#6774 Wasmtime: Add support for Wasm tail calls
  build.rs
  cranelift/codegen/src/cursor.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/filetests/filetests/isa/riscv64/return-call.clif
  cranelift/filetests/src/test_wasm/env.rs
  cranelift/frontend/src/lib.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  crates/cli-flags/src/lib.rs
  crates/cranelift/src/builder.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/compilation.rs
  crates/environ/src/tunables.rs
  crates/fuzzing/src/generators/config.rs
  crates/wasmtime/src/compiler.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/winch/src/builder.rs
  crates/winch/src/compiler.rs
  tests/all/gc.rs
  tests/all/main.rs
  tests/all/wast.rs
  tests/misc_testsuite/tail-call/loop-across-modules.wast
Labels: wasmtime:api, cranelift, fuzzing, cranelift:wasm, wasmtime:config, winch

#6764 wasi: Test the stdio streams implementation
  crates/test-programs/tests/wasi-preview2-components-sync.rs
  crates/test-programs/tests/wasi-preview2-components.rs
  crates/test-programs/wasi-tests/src/bin/poll_oneoff_stdio.rs
  crates/wasi/Cargo.toml
  crates/wasi/src/preview2/mod.rs
  crates/wasi/src/preview2/pipe.rs
  crates/wasi/src/preview2/stdio.rs
  crates/wasi/src/preview2/stdio/unix.rs
  crates/wasi/src/preview2/stdio/worker_thread_stdin.rs
Labels: wasi
