Repository bytecodealliance/wasmtime, pull requests merged in 2024-03, with the labels that each got.

#8038 Add commentary on advantages/disadvantages of the pooling allocator
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, wasmtime:config

#8045 wasmtime-wasi: move bindings to its own file, move runtime to its own mod
  crates/wasi-http/src/body.rs
  crates/wasi-http/src/types.rs
  crates/wasi-http/tests/all/main.rs
  crates/wasi/src/bindings.rs
  crates/wasi/src/filesystem.rs
  crates/wasi/src/host/filesystem/sync.rs
  crates/wasi/src/host/io.rs
  crates/wasi/src/host/tcp.rs
  crates/wasi/src/ip_name_lookup.rs
  crates/wasi/src/lib.rs
  crates/wasi/src/pipe.rs
  crates/wasi/src/poll.rs
  crates/wasi/src/preview0.rs
  crates/wasi/src/preview1.rs
  crates/wasi/src/runtime.rs
  crates/wasi/src/tcp.rs
  crates/wasi/src/udp.rs
  crates/wasi/src/write_stream.rs
Labels: wasi

#8048 winch: Always free the source register when emitting Wasm stores
  tests/all/winch.rs
  winch/codegen/src/codegen/mod.rs
Labels: winch

#8047 Update object to 0.33.0
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  cranelift/object/src/backend.rs
  crates/cranelift-shared/src/obj.rs
  crates/cranelift/src/compiler.rs
  supply-chain/audits.toml
Labels: cranelift, cranelift:module

#8051 winch: Defer the usage of `format!`
  winch/codegen/src/isa/x64/masm.rs
Labels: winch

#8011 Define garbage collection rooting APIs
  benches/call.rs
  crates/c-api/include/wasmtime.h
  crates/c-api/include/wasmtime/val.h
  crates/c-api/src/async.rs
  crates/c-api/src/func.rs
  crates/c-api/src/global.rs
  crates/c-api/src/ref.rs
  crates/c-api/src/table.rs
  crates/c-api/src/val.rs
  crates/cranelift/src/func_environ.rs
  crates/fuzzing/src/oracles.rs
  crates/runtime/src/externref.rs
  crates/runtime/src/gc.rs
  crates/runtime/src/gc/disabled.rs
  crates/runtime/src/gc/enabled.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/send_sync_ptr.rs
  crates/runtime/src/table.rs
  crates/runtime/src/vmcontext.rs
  crates/slab/src/lib.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/gc.rs
  crates/wasmtime/src/runtime/gc/disabled.rs
  crates/wasmtime/src/runtime/gc/enabled.rs
  crates/wasmtime/src/runtime/gc/enabled/rooting.rs
  crates/wasmtime/src/runtime/ref.rs
  crates/wasmtime/src/runtime/ref/gc_ref.rs
  crates/wasmtime/src/runtime/ref/no_gc_ref.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/store/data.rs
  crates/wasmtime/src/runtime/trampoline/global.rs
  crates/wasmtime/src/runtime/v128.rs
  crates/wasmtime/src/runtime/values.rs
  crates/wast/src/core.rs
  crates/wast/src/wast.rs
  examples/CMakeLists.txt
  examples/externref.c
  examples/externref.rs
  tests/all/async_functions.rs
  tests/all/call_hook.rs
  tests/all/externals.rs
  tests/all/func.rs
  tests/all/gc.rs
  tests/all/host_funcs.rs
Labels: wasmtime:api, wasmtime:c-api, cranelift, fuzzing, wasmtime:ref-types

#8006 egraph: Ensure eclass members are all available in the same block
  cranelift/codegen/src/egraph.rs
  cranelift/filetests/filetests/egraph/issue-7891.clif
Labels: cranelift

#8053 wasmtime-wasi: introduce WasiP1Ctx
  crates/wasi/Cargo.toml
  crates/wasi/src/ctx.rs
  crates/wasi/src/lib.rs
  crates/wasi/src/p1ctx.rs
  crates/wasi/src/pipe.rs
  crates/wasi/src/preview0.rs
  crates/wasi/src/preview1.rs
  crates/wasi/src/stdio.rs
  crates/wasi/tests/all/preview1.rs
  examples/wasi-async/main.rs
  src/commands/run.rs
  tests/all/host_funcs.rs
  tests/all/traps.rs
Labels: wasmtime:c-api, wasi

#7940 Extend C API with interfaces needed to use threads
  crates/c-api/include/wasmtime.h
  crates/c-api/include/wasmtime/extern.h
  crates/c-api/include/wasmtime/linker.h
  crates/c-api/include/wasmtime/memory.h
  crates/c-api/include/wasmtime/sharedmemory.h
  crates/c-api/src/extern.rs
  crates/c-api/src/lib.rs
  crates/c-api/src/linker.rs
  crates/c-api/src/sharedmemory.rs
  crates/c-api/src/types/memory.rs
Labels: wasmtime:c-api

#8062 Remove type information from `wasmtime::component::Val`
  crates/component-macro/src/component.rs
  crates/environ/src/component/types.rs
  crates/environ/src/fact/trampoline.rs
  crates/fuzzing/src/generators/component_types.rs
  crates/wasmtime/src/runtime/component/func.rs
  crates/wasmtime/src/runtime/component/func/host.rs
  crates/wasmtime/src/runtime/component/func/typed.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wasmtime/src/runtime/component/types.rs
  crates/wasmtime/src/runtime/component/values.rs
  crates/wast/src/component.rs
  crates/wast/src/wast.rs
  tests/all/component_model/dynamic.rs
  tests/all/component_model/import.rs
Labels: wasmtime:api, fuzzing

#8061 Move dtor information from `ResourceAny` into a `Store`
  crates/wasmtime/src/runtime/component/func/options.rs
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/component/linker.rs
  crates/wasmtime/src/runtime/component/matching.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wasmtime/src/runtime/component/resources.rs
  tests/all/component_model/resources.rs
Labels: wasmtime:api

#8056 cranelift: Add a winch calling convention
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/call_conv.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/filetests/filetests/isa/aarch64/winch.clif
  cranelift/filetests/filetests/isa/x64/winch.clif
  cranelift/fuzzgen/src/cranelift_arbitrary.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8071 Clear borrow tracking converting `ResourceAny` to `Resource<T>`
  crates/wasmtime/src/runtime/component/resources.rs
  tests/all/component_model/resources.rs
Labels: wasmtime:api

#8076 Use `<[_]>::join` instead of manual implementation
  cranelift/codegen/src/settings.rs
Labels: cranelift

#8077 Document `wasmtime serve`
  docs/cli-options.md
Labels: wasmtime:docs

#7645 Better error message for wrong import implementation
  crates/environ/src/component/types.rs
  crates/wasmtime/src/runtime/component/linker.rs
  crates/wasmtime/src/runtime/component/matching.rs
  tests/misc_testsuite/component-model/linking.wast
  tests/misc_testsuite/component-model/resources.wast
Labels: wasmtime:api

#8078 Add a component type accessor for `Component`
  crates/wasmtime/src/runtime/component/component.rs
  crates/wasmtime/src/runtime/component/matching.rs
  tests/all/component_model/aot.rs
Labels: wasmtime:api

#8074 Add release notes for 19.0.0
  RELEASES.md
Labels: wasmtime:docs

#8083 Enable specifying namespaces/packages in `with`
  crates/component-macro/tests/codegen.rs
  crates/wasi-http/src/lib.rs
  crates/wasi-http/src/proxy.rs
  crates/wasi/src/bindings.rs
  crates/wasi/src/command.rs
  crates/wasi/tests/all/api.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wit-bindgen/src/lib.rs
Labels: wasmtime:api, wasi

#8099 x64: Implement fallback for fcvt_from_sint.f64x2
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/fcvt-avx.clif
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/runtests/simd-fcvt-from-sint.clif
Labels: cranelift, cranelift:area:x64

#8103 Release Wasmtime 18.0.3
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#8052 winch: Introduce `TypeConverter` in the function environment
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/x64/mod.rs
Labels: winch

#8082 Use the wasmtime-cranelift for winch component trampolines
  Cargo.lock
  crates/cranelift-shared/src/compiled_function.rs
  crates/cranelift-shared/src/obj.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/tunables.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/winch/Cargo.toml
  crates/winch/src/builder.rs
  crates/winch/src/compiler.rs
Labels: wasmtime:api, wasmtime:config, winch

#8115 Clarify some wasm terms in the introduction
  docs/introduction.md
Labels: wasmtime:docs

#8110 [19.0.0] Add release notes for 19.0.0
  RELEASES.md
Labels: wasmtime:docs

#8117 x64: Remove load sinking from `XmmCmove`
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  tests/misc_testsuite/sink-float-but-dont-trap.wast
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:x64, winch

#8111 Add a script to vendor WIT files
  .github/workflows/main.yml
  ci/vendor-wit.sh
  crates/wasi-http/wit/deps/io/poll.wit
  crates/wasi/wit/deps/io/poll.wit
Labels: wasi

#8120 wasi-common docs: show feature related docs
  crates/wasi-common/Cargo.toml
  crates/wasi-common/src/lib.rs
Labels: wasi

#8118 x64: Fix load sinking in `rounds{s,d}` loading too much
  cranelift/codegen/src/isa/x64/inst.isle
  tests/misc_testsuite/float-round-doesnt-load-too-much.wast
Labels: cranelift, cranelift:area:x64

#8123 riscv64: Emit the correct `min` op in `rv_min` helper when the `Zbb` extension is enabled.
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/filetests/filetests/isa/riscv64/smin-zbb.clif
  cranelift/filetests/filetests/runtests/integer-minmax.clif
Labels: cranelift, cranelift:area:riscv64

#8121 Run all `*.wast` tests in fuzzing
  crates/fuzzing/build.rs
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/wast_test.rs
  crates/fuzzing/src/oracles.rs
  crates/wast/src/lib.rs
  crates/wast/src/spectest.rs
  crates/wast/src/wast.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/spectests.rs
  fuzz/fuzz_targets/wast_tests.rs
  src/commands/wast.rs
  tests/all/wast.rs
Labels: fuzzing

#8063 cranelift-wasm: Stop using table_addr instructions
  cranelift/filetests/filetests/wasm/table-get.wat
  cranelift/filetests/filetests/wasm/table-set.wat
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/lib.rs
  cranelift/wasm/src/table.rs
  crates/cranelift/src/func_environ.rs
Labels: cranelift, cranelift:meta, cranelift:wasm, cranelift:docs

#7827 refactor demangling part in profiling.rs
  crates/wasmtime/src/runtime/profiling.rs
Labels: wasmtime:api

#8125 cranelift-wasm: Emit constant bounds for fixed-size tables
  cranelift/filetests/filetests/wasm/table-get-fixed-size.wat
  cranelift/filetests/filetests/wasm/table-set-fixed-size.wat
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/lib.rs
  cranelift/wasm/src/table.rs
  crates/cranelift/src/func_environ.rs
Labels: cranelift, cranelift:wasm

#8127 [19.0.0] Fix `wasmtime settings` command.
  crates/environ/src/tunables.rs
  crates/wasmtime/src/config.rs
  src/commands/settings.rs
  tests/all/cli_tests.rs
Labels: wasmtime:api, wasmtime:config

#8124 cranelift: Remove support for WebAssembly tables
  cranelift/codegen/meta/src/shared/entities.rs
  cranelift/codegen/meta/src/shared/formats.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/ir/entities.rs
  cranelift/codegen/src/ir/function.rs
  cranelift/codegen/src/ir/mod.rs
  cranelift/codegen/src/ir/table.rs
  cranelift/codegen/src/legalizer/mod.rs
  cranelift/codegen/src/legalizer/table.rs
  cranelift/codegen/src/opts.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/codegen/src/write.rs
  cranelift/docs/ir.md
  cranelift/filetests/filetests/isa/x64/table.clif
  cranelift/filetests/filetests/parser/memory.clif
  cranelift/filetests/filetests/verifier/table.clif
  cranelift/filetests/filetests/wasm/r32.clif
  cranelift/filetests/filetests/wasm/r64.clif
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/interpreter/src/step.rs
  cranelift/reader/src/lexer.rs
  cranelift/reader/src/parser.rs
  cranelift/reader/src/sourcemap.rs
Labels: cranelift, cranelift:meta, cranelift:docs

#8133 riscv64: Ensure that we use the same vector length when lowering `bitselect+bitcast+{i,f}cmp`
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/simd-bitselect.clif
  cranelift/filetests/filetests/runtests/simd-bitselect.clif
Labels: cranelift, wasm-proposal:simd, cranelift:area:riscv64

#8130 Reorder book-based documentation
  docs/SUMMARY.md
  docs/cli-install.md
  docs/examples-c-embed.md
  docs/examples-profiling.md
  docs/examples-rust-embed.md
  docs/examples.md
  docs/lang-c.md
  docs/lang-rust.md
  docs/lang.md
Labels: wasmtime:docs

#8134 cranelift: Choose memory trap code based on memflags
  cranelift/codegen/src/ir/memflags.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/args.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/x64/encoding/evex.rs
  cranelift/codegen/src/isa/x64/encoding/rex.rs
  cranelift/codegen/src/isa/x64/encoding/vex.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/interpreter/src/interpreter.rs
  cranelift/interpreter/src/state.rs
  cranelift/interpreter/src/step.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#8129 Add a `disas` test suite for Wasmtime
  Cargo.lock
  Cargo.toml
  cranelift/filetests/filetests/wasm/aarch64-relaxed-simd.wat
  cranelift/filetests/filetests/wasm/basic-wat-test.wat
  cranelift/filetests/filetests/wasm/duplicate-loads-dynamic-memory.wat
  cranelift/filetests/src/lib.rs
  cranelift/filetests/src/test_wasm.rs
  tests/disas.rs
  tests/disas/aarch64-relaxed-simd.wat
  tests/disas/basic-wat-test.wat
  tests/disas/byteswap.wat
  tests/disas/duplicate-loads-dynamic-memory.wat
Labels: cranelift

#8142 PCC: fuzz static (no dynamic checks) case in Wasmtime fuzzers.
  cranelift/codegen/src/result.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/oracles.rs
  tests/pcc_memory.rs
Labels: cranelift, fuzzing

#8141 Update v8 used during fuzzing
  Cargo.lock
  crates/fuzzing/Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: fuzzing

#8146 Canonicalize floats produced through bitcasts
  cranelift/codegen/src/nan_canonicalization.rs
  tests/misc_testsuite/simd/canonicalize-nan.wast
Labels: cranelift

#8143 Remove some more cranelift-filetest wasm testing bits
  Cargo.lock
  Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/filetests/src/function_runner.rs
  cranelift/filetests/src/lib.rs
  cranelift/filetests/src/runone.rs
  cranelift/filetests/src/test_wasm.rs
  cranelift/filetests/src/test_wasm/config.rs
  cranelift/filetests/src/test_wasm/env.rs
  tests/disas.rs
Labels: cranelift

#8151 Delay argument location use in `CallSite::gen_arg`
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64

#8147 Move all tests out of `cranelift-wasm`
  cranelift/wasm/src/func_translator.rs
  cranelift/wasm/tests/wasm_testsuite.rs
  cranelift/wasm/wasmtests/issue-1306-name-section-with-u32-max-function-index.wasm
  tests/disas/dead-code.wat
  tests/disas/simple.wat
  tests/misc_testsuite/embenchen_fannkuch.wast
  tests/misc_testsuite/embenchen_fasta.wast
  tests/misc_testsuite/embenchen_ifs.wast
  tests/misc_testsuite/embenchen_primes.wast
  tests/misc_testsuite/rust_fannkuch.wast
Labels: cranelift, cranelift:wasm

#8154 Adjust an error message expectation for v8
  crates/fuzzing/src/oracles/diff_v8.rs
Labels: fuzzing

#8155 cranelift-wasm: Delete expected-reachability test support
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/mod.rs
  cranelift/wasm/src/lib.rs
Labels: cranelift, cranelift:wasm

#8157 winch: Use correct heap types in explicit bounds checks
  winch/codegen/src/codegen/bounds.rs
  winch/codegen/src/codegen/mod.rs
Labels: winch

#8162 Refactor the `MemFlags` internal representation
  cranelift/codegen/src/alias_analysis.rs
  cranelift/codegen/src/ir/memflags.rs
  cranelift/codegen/src/ir/mod.rs
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/reader/src/parser.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/dummy.rs
  crates/cranelift/src/func_environ.rs
Labels: cranelift, cranelift:wasm

#8164 Cranelift: clone ABIArg instead of allocating SmallInstVec
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst

#8159 Don't check for null in `call_indirect` and `call_ref`
  crates/cranelift/src/func_environ.rs
  crates/wasmtime/src/runtime/store.rs
  tests/disas/icall-simd.wat
  tests/disas/icall.wat
  tests/disas/typed-funcrefs.wat
Labels: wasmtime:api, cranelift, cranelift:wasm

#8150 Don't lookup trap codes twice on traps
  crates/environ/src/trap_encoding.rs
  crates/runtime/src/sys/custom/traphandlers.rs
  crates/runtime/src/sys/unix/machports.rs
  crates/runtime/src/sys/unix/signals.rs
  crates/runtime/src/sys/windows/traphandlers.rs
  crates/runtime/src/traphandlers.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/module/registry.rs
  crates/wasmtime/src/runtime/trap.rs
Labels: wasmtime:api

#8166 Rename `-S common` to `-S cli`.
  RELEASES.md
  crates/cli-flags/src/lib.rs
  src/commands/run.rs
  src/commands/serve.rs
  src/old_cli.rs
  tests/all/cli_tests.rs
Labels: wasmtime:docs

#8167 x64: Refactor lowerings for `insertlane`
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/insertlane-avx.clif
  cranelift/filetests/filetests/isa/x64/insertlane.clif
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
Labels: cranelift, cranelift:area:x64

#8172 Skip type checks on tables that don't need it
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/spec.rs
  crates/cranelift/src/func_environ.rs
  tests/disas/typed-funcrefs.wat
  tests/misc_testsuite/function-references/call_indirect.wast
Labels: cranelift, cranelift:wasm

#8173 PCC: add facts to all relevant iconsts to handle propagation through opts.
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/egraph.rs
  cranelift/filetests/filetests/pcc/succeed/uextend-add-iconst.clif
Labels: cranelift

#8174 PCC: 32-bit multiplies produce 32 bits of result.
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/pcc/succeed/imul-fuzzbug.clif
Labels: cranelift, cranelift:area:x64

#8171 cranelift-wasm: Attach table OOB traps to loads/stores
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/table.rs
  crates/cranelift/src/func_environ.rs
  tests/disas/icall-simd.wat
  tests/disas/icall.wat
  tests/disas/table-get-fixed-size.wat
  tests/disas/table-get.wat
  tests/disas/table-set-fixed-size.wat
  tests/disas/table-set.wat
  tests/disas/typed-funcrefs.wat
Labels: cranelift, cranelift:wasm

#8177 PCC: x64: 32- and 64-bit XMM loads/stores are 32 and 64 bits, respectively.
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/pcc/succeed/fuzz-float-loads.clif
  tests/disas/pcc-loads-x64-avx.wat
  tests/disas/pcc-loads-x64.wat
Labels: cranelift, cranelift:area:x64

#8185 Update release date of Wasmtime 19.0.0
  RELEASES.md
Labels: wasmtime:docs

#8186 Release Wasmtime 19.0.0
  RELEASES.md
Labels: wasmtime:docs

#8189 Clarify that `v128` is affected with NaN canonicalization
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, wasmtime:config

#8176 PCC: support imported memories as well.
  crates/cranelift/src/func_environ.rs
  tests/disas/pcc-imported-memory.wat
Labels: cranelift, cranelift:area:x64

#8193 Change `compute_arg_locs` to accept a slice instead of an IntoIterator
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8156 winch: Correctly handle the result of memory grow
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/load/grow_load.wat
Labels: winch

#8194 winch: Enable `memory64` in Winch
  build.rs
  crates/fuzzing/src/generators/config.rs
  winch/codegen/src/codegen/env.rs
Labels: fuzzing, winch

#8190 Implement opt-in for enabling WASI to block the current thread
  crates/wasi/src/ctx.rs
  crates/wasi/src/filesystem.rs
  crates/wasi/src/host/filesystem.rs
  src/commands/run.rs
Labels: wasi

#8181 Add a `CodeBuilder` type to the `wasmtime` crate
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/compile/code_builder.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime/component/component.rs
  crates/wasmtime/src/runtime/module.rs
  src/common.rs
Labels: wasmtime:api

#8139 cranelift: Optimize select_spectre_guard, carefully
  cranelift/codegen/build.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/opts/spectre.isle
  cranelift/filetests/filetests/egraph/spectre.clif
  tests/disas/typed-funcrefs.wat
Labels: cranelift, cranelift:meta, isle

#8199 Update release notes for 18.0.3 patch release
  RELEASES.md
Labels: wasmtime:docs

#8198 cranelift: Fix return value handling with the winch calling convention
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/filetests/filetests/isa/aarch64/winch.clif
  cranelift/filetests/filetests/isa/x64/winch.clif
  cranelift/filetests/filetests/runtests/winch.clif
  crates/cranelift/src/lib.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#8201 Cranelift: make `bitcast`s between integer and reference types do a copy
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/issue-8180.clif
  cranelift/filetests/filetests/isa/s390x/bitcast.clif
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#8208 PCC: avoid fuzzing on memory64.
  crates/fuzzing/src/generators/config.rs
Labels: fuzzing

#8210 cranelift: Replace a winch debug assert with a TODO
  cranelift/codegen/src/isa/x64/abi.rs
Labels: cranelift, cranelift:area:x64

#8109 winch: Switch to using cranelift for all trampolines
  crates/winch/src/compiler.rs
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/aarch64/regs.rs
  winch/codegen/src/isa/mod.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/lib.rs
  winch/codegen/src/trampoline.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, winch

#8207 PCC: x64: insertlane instructions read only scalar-sized values.
  cranelift/codegen/src/isa/aarch64/pcc.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/codegen/src/machinst/pcc.rs
  tests/disas/pcc-insertlane-x64-avx.wat
  tests/disas/pcc-insertlane-x64.wat
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8213 winch: Remove unused functions after trampoline refactoring
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/abi.rs
  winch/codegen/src/isa/aarch64/regs.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
Labels: winch

#8204 doc: update wasmtime dep to the latest one
  docs/lang-rust.md
Labels: wasmtime:docs

#8218 export SocketAddrUse
  crates/wasi/src/lib.rs
Labels: wasi

#8220 cranelift: Constant propagate `bswap`
  cranelift/codegen/src/opts.rs
  cranelift/codegen/src/opts/cprop.isle
  cranelift/filetests/filetests/egraph/cprop.clif
Labels: cranelift, isle

#8222 Remove the wasmtime-cranelift-shared crate
  Cargo.lock
  Cargo.toml
  crates/cranelift-shared/Cargo.toml
  crates/cranelift-shared/src/lib.rs
  crates/cranelift/Cargo.toml
  crates/cranelift/src/builder.rs
  crates/cranelift/src/compiled_function.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/debug/transform/address_transform.rs
  crates/cranelift/src/debug/transform/expression.rs
  crates/cranelift/src/isa_builder.rs
  crates/cranelift/src/lib.rs
  crates/cranelift/src/obj.rs
  crates/winch/Cargo.toml
  crates/winch/src/builder.rs
  crates/winch/src/compiler.rs
  scripts/publish.rs
  winch/codegen/src/isa/x64/asm.rs
Labels: winch

#8152 Exit through Cranelift-generated trampolines for builtins
  Cargo.lock
  crates/cranelift/src/compiled_function.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/cranelift/src/obj.rs
  crates/environ/src/builtin.rs
  crates/environ/src/compilation.rs
  crates/environ/src/obj.rs
  crates/environ/src/vmoffsets.rs
  crates/runtime/build.rs
  crates/runtime/src/arch/aarch64.rs
  crates/runtime/src/arch/riscv64.rs
  crates/runtime/src/arch/s390x.S
  crates/runtime/src/arch/s390x.rs
  crates/runtime/src/arch/x86_64.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/src/compile.rs
  crates/winch/src/compiler.rs
  tests/disas/icall-loop.wat
  tests/disas/icall-simd.wat
  tests/disas/icall.wat
  tests/disas/passive-data.wat
  tests/disas/readonly-funcrefs.wat
  tests/disas/ref-func-0.wat
  tests/disas/table-copy.wat
  tests/disas/table-get-fixed-size.wat
  tests/disas/table-get.wat
  tests/disas/table-set-fixed-size.wat
  tests/disas/table-set.wat
  tests/disas/typed-funcrefs.wat
  winch/codegen/Cargo.toml
  winch/codegen/src/codegen/builtin.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/mod.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/call_indirect/call_indirect.wat
  winch/filetests/filetests/x64/call_indirect/local_arg.wat
  winch/filetests/filetests/x64/load/grow_load.wat
  winch/filetests/filetests/x64/table/fill.wat
  winch/filetests/filetests/x64/table/get.wat
  winch/filetests/filetests/x64/table/grow.wat
  winch/filetests/filetests/x64/table/init_copy_drop.wat
  winch/filetests/filetests/x64/table/set.wat
  winch/filetests/src/lib.rs
  winch/src/compile.rs
Labels: wasmtime:api, winch

#8226 cranelift: Split return instruction emission out of gen_epilogue_frame_restore
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8230 PCC: turn off fuzzing for now.
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators/config.rs
Labels: fuzzing

#8232 Remove cranelift-wasm's "DummyEnvironment"
  Cargo.lock
  cranelift/Cargo.toml
  cranelift/src/clif-util.rs
  cranelift/src/souper_harvest.rs
  cranelift/src/wasm.rs
  cranelift/wasm/src/environ/dummy.rs
  cranelift/wasm/src/environ/mod.rs
  cranelift/wasm/src/lib.rs
Labels: cranelift, cranelift:wasm

#8229 Use a multi-threaded Tokio runtime as a fallback
  crates/test-programs/src/bin/cli_sleep.rs
  crates/wasi/src/runtime.rs
  tests/all/cli_tests.rs
Labels: wasi

#8234 cranelift: Only enable winch calling convention for x64
  cranelift/fuzzgen/src/cranelift_arbitrary.rs
Labels: cranelift

#8248 Remove the `winch-tools` crate and CLI
  Cargo.lock
  Cargo.toml
  winch/Cargo.toml
  winch/filetests/Cargo.toml
  winch/filetests/build.rs
  winch/filetests/src/disasm.rs
  winch/filetests/src/lib.rs
  winch/src/compile.rs
  winch/src/filetests.rs
  winch/src/main.rs
  winch/test-macros/Cargo.toml
  winch/test-macros/src/lib.rs
Labels: winch

#8246 cranelift: Support callee-saved registers with tail calls on x64
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_state.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/filetests/filetests/isa/x64/fuzzbug-60035.clif
  cranelift/filetests/filetests/isa/x64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/x64/return-call.clif
  cranelift/filetests/filetests/isa/x64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/x64/tail-stack-limit.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#8228 Add documentation and refactor `wasmtime-wasi`
  crates/wasi-http/src/proxy.rs
  crates/wasi-http/tests/all/async_.rs
  crates/wasi-http/tests/all/sync.rs
  crates/wasi/src/bindings.rs
  crates/wasi/src/command.rs
  crates/wasi/src/ctx.rs
  crates/wasi/src/filesystem.rs
  crates/wasi/src/host/filesystem/sync.rs
  crates/wasi/src/host/io.rs
  crates/wasi/src/lib.rs
  crates/wasi/src/network.rs
  crates/wasi/src/p1ctx.rs
  crates/wasi/src/poll.rs
  crates/wasi/src/preview0.rs
  crates/wasi/src/preview1.rs
  crates/wasi/src/stdio.rs
  crates/wasi/src/stdio/worker_thread_stdin.rs
  crates/wasi/tests/all/api.rs
  crates/wasi/tests/all/async_.rs
  crates/wasi/tests/all/main.rs
  crates/wasi/tests/all/preview1.rs
  crates/wasi/tests/all/sync.rs
  examples/wasi-async/main.rs
  src/commands/run.rs
  src/commands/serve.rs
Labels: wasi

#8251 Fix compilation cache for components
  crates/wasmtime/src/compile/code_builder.rs
  crates/wasmtime/src/engine/serialization.rs
Labels: wasmtime:api

#8252 Plumb coredump feature to `wasmtime-runtime`
  crates/runtime/Cargo.toml
  crates/runtime/src/traphandlers.rs
  crates/runtime/src/traphandlers/coredump_disabled.rs
  crates/runtime/src/traphandlers/coredump_enabled.rs
  crates/wasmtime/Cargo.toml
Labels: wasmtime:api

#8253 Cranelift x64 SIMD: some special-cases to make i64x2 packing faster.
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-make-vectors-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-make-vectors.clif
  cranelift/filetests/filetests/runtests/simd-make-vectors.clif
Labels: cranelift, cranelift:area:x64

#8256 Provide example usage in wasmtime::component mod doc
  crates/wasmtime/src/runtime/component/mod.rs
Labels: wasmtime:api

#8250 Add a `compile` feature to `wasmtime-environ`
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/environ/src/address_map.rs
  crates/environ/src/compile/address_map.rs
  crates/environ/src/compile/mod.rs
  crates/environ/src/compile/module_artifacts.rs
  crates/environ/src/compile/trap_encoding.rs
  crates/environ/src/component.rs
  crates/environ/src/component/artifacts.rs
  crates/environ/src/component/compiler.rs
  crates/environ/src/component/info.rs
  crates/environ/src/fact.rs
  crates/environ/src/fact/trampoline.rs
  crates/environ/src/fact/transcode.rs
  crates/environ/src/lib.rs
  crates/environ/src/module.rs
  crates/environ/src/module_artifacts.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/trap_encoding.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/compile/code_builder.rs
  crates/wasmtime/src/compile/runtime.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/runtime/instantiate.rs
  crates/wasmtime/src/runtime/trampoline/func.rs
Labels: wasmtime:api, wasmtime:config

#8258 Fix rustdoc warnings on Nightly
  cranelift/codegen/src/binemit/mod.rs
  cranelift/codegen/src/ir/constant.rs
  cranelift/codegen/src/ir/entities.rs
  cranelift/codegen/src/isa/riscv64/inst/encode.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/interpreter/src/environment.rs
  cranelift/interpreter/src/state.rs
  cranelift/reader/src/testcommand.rs
  crates/cranelift/src/compiled_function.rs
  crates/wasi-common/src/ctx.rs
  crates/wasmtime/src/compile/code_builder.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wiggle/src/guest_type.rs
  crates/wiggle/src/lib.rs
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/isa/mod.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, wasi, winch

#8240 egraph: Resolve all aliases at once
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/egraph/elaborate.rs
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/opts.rs
  cranelift/filetests/filetests/egraph/licm.clif
Labels: cranelift

#8260 Gate support for the wasm `threads` proposal behind a Cargo feature
  .github/workflows/main.yml
  Cargo.toml
  crates/c-api/Cargo.toml
  crates/c-api/artifact/Cargo.toml
  crates/c-api/src/config.rs
  crates/c-api/src/sharedmemory.rs
  crates/cli-flags/Cargo.toml
  crates/cli-flags/src/lib.rs
  crates/cranelift/Cargo.toml
  crates/cranelift/src/func_environ.rs
  crates/environ/Cargo.toml
  crates/environ/src/builtin.rs
  crates/runtime/Cargo.toml
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/memory.rs
  crates/runtime/src/threads/mod.rs
  crates/runtime/src/threads/parking_spot.rs
  crates/runtime/src/threads/shared_memory.rs
  crates/runtime/src/threads/shared_memory_disabled.rs
  crates/wasi-threads/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime/memory.rs
Labels: wasmtime:api, wasmtime:c-api, wasmtime:config

#8264 Bad relocation type generated (#8255)
  crates/cranelift/src/obj.rs
  crates/wasmtime/src/runtime/code_memory.rs
Labels: wasmtime:api

#8259 Update Wasmtime's policy on `cargo vet`
  docs/contributing-coding-guidelines.md
Labels: wasmtime:docs

#8266 Lift some dependencies up to the `[workspace.dependencies]` level
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/cache/Cargo.toml
  crates/environ/Cargo.toml
  crates/jit-icache-coherence/Cargo.toml
  crates/runtime/Cargo.toml
  crates/types/Cargo.toml
  crates/wasmtime/Cargo.toml
Labels: wasmtime:api, cranelift, cranelift:module, cranelift:wasm

#8267 Add the `run` feature to "min" artifacts
  ci/build-release-artifacts.sh
  docs/examples-minimal.md
Labels: wasmtime:docs

#8270 Fix the SystemV abi of i128 arguments
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/filetests/filetests/isa/x64/llvm-abi-no-split-stack-u128.clif
Labels: cranelift, cranelift:area:x64
