Repository bytecodealliance/wasmtime, pull requests merged in 2024-05, with the labels that each got.

#8512 fix docs typo in component::Component
  crates/wasmtime/src/runtime/component/component.rs
Labels: wasmtime:api

#8514 wasmtime: Use ConstExpr for element segment offsets
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/module.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
Labels: wasmtime:api

#8508 cranelift/x64: Fix XmmRmREvex pretty-printing
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/filetests/filetests/isa/x64/shuffle-avx512.clif
  cranelift/filetests/filetests/isa/x64/simd-i64x2-mul-avx512.clif
  cranelift/filetests/filetests/isa/x64/simd-i64x2-shift-avx512.clif
Labels: cranelift, cranelift:area:x64

#8506 cranelift: Compress vcode range-lists
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/reg.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/ranges.rs
Labels: cranelift, cranelift:area:machinst

#8509 Wasmtime: add one-entry call-indirect caching.
  crates/cli-flags/src/lib.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/module.rs
  crates/environ/src/tunables.rs
  crates/environ/src/vmoffsets.rs
  crates/fuzzing/src/generators/config.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/drc.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  crates/winch/src/compiler.rs
  tests/disas/indirect-call-caching-exclude-0-index.wat
  tests/disas/indirect-call-caching-exclude-table-export.wat
  tests/disas/indirect-call-caching-exclude-table-writes.wat
  tests/disas/indirect-call-caching-slot-limit-1.wat
  tests/disas/indirect-call-caching-slot-limit-2.wat
  tests/disas/indirect-call-caching.wat
  tests/disas/indirect-call-no-caching.wat
Labels: wasmtime:api, fuzzing, wasmtime:ref-types, wasmtime:config, winch

#8518 Reassociate mixture of add and sub to wide trees
  cranelift/codegen/src/opts/arithmetic.isle
  cranelift/filetests/filetests/egraph/associative-and-commutative.clif
Labels: cranelift, isle

#8523 Don't create a temporary set of type indices used in a translation
  crates/wasmtime/src/compile.rs
Labels: wasmtime:api

#8488 cargo-vet: Exclude fuzzing-only dependencies
  fuzz/README.md
  supply-chain/config.toml
Labels: fuzzing

#8527 Double the default allowed table elements
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
Labels: wasmtime:api

#8462 cranelift/codegen/meta: provide entry point to generate ISLE code only
  cranelift/codegen/build.rs
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/meta/src/gen_isle.rs
  cranelift/codegen/meta/src/gen_settings.rs
  cranelift/codegen/meta/src/gen_types.rs
  cranelift/codegen/meta/src/lib.rs
  cranelift/codegen/meta/src/srcgen.rs
Labels: cranelift, cranelift:meta

#8496 [20.0.0]: Backport fix from main to the release branch
  crates/c-api/CMakeLists.txt
Labels: wasmtime:c-api

#8528 Migrate the `wasmtime-environ` crate to `no_std`
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/filetests/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/environ/Cargo.toml
  crates/environ/src/compile/address_map.rs
  crates/environ/src/compile/mod.rs
  crates/environ/src/compile/module_artifacts.rs
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/compile/trap_encoding.rs
  crates/environ/src/component/compiler.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/types.rs
  crates/environ/src/component/types_builder.rs
  crates/environ/src/component/types_builder/resources.rs
  crates/environ/src/demangling.rs
  crates/environ/src/fact.rs
  crates/environ/src/fact/core_types.rs
  crates/environ/src/fact/signature.rs
  crates/environ/src/fact/trampoline.rs
  crates/environ/src/fact/transcode.rs
  crates/environ/src/fact/traps.rs
  crates/environ/src/lib.rs
  crates/environ/src/module.rs
  crates/environ/src/module_artifacts.rs
  crates/environ/src/module_types.rs
  crates/environ/src/scopevec.rs
  crates/environ/src/stack_map.rs
  crates/environ/src/trap_encoding.rs
  crates/environ/src/vmoffsets.rs
  crates/explorer/Cargo.toml
  crates/wasi-preview1-component-adapter/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/runtime/component/instance.rs
  crates/winch/Cargo.toml
  examples/min-platform/Cargo.toml
Labels: cranelift, cranelift:module

#8536 riscv64: Add minimal support for the Zfa Extension
  ci/build-test-matrix.js
  cranelift/codegen/meta/src/isa/riscv64.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/zfa.clif
  cranelift/filetests/filetests/runtests/fmax-pseudo.clif
  cranelift/filetests/filetests/runtests/fmax.clif
  cranelift/filetests/filetests/runtests/fmin-pseudo.clif
  cranelift/filetests/filetests/runtests/fmin.clif
Labels: cranelift, cranelift:meta, isle, cranelift:area:riscv64

#8505 wasmtime(gc): Add support for struct types
  crates/cranelift/src/func_environ.rs
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/compile/module_types.rs
  crates/environ/src/component/types_builder.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/types/matching.rs
  crates/wasmtime/src/runtime/values.rs
  tests/all/types.rs
  tests/misc_testsuite/gc/array-types.wast
  tests/misc_testsuite/gc/struct-types.wast
Labels: wasmtime:api

#8532 Use rustdoc's `doc_auto_cfg` feature instead of `doc_cfg`
  crates/wasi/src/ctx.rs
  crates/wasi/src/lib.rs
  crates/wasi/src/preview0.rs
  crates/wasi/src/preview1.rs
  crates/wasmtime/src/compile/code_builder.rs
  crates/wasmtime/src/compile/runtime.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/runtime/component/component.rs
  crates/wasmtime/src/runtime/component/func.rs
  crates/wasmtime/src/runtime/component/func/typed.rs
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/component/linker.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wasmtime/src/runtime/component/resources.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/memory.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/store.rs
Labels: wasmtime:api, wasi, wasmtime:config

#8524 cranelift: Rewrite operands with allocations in-place
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/s390x/inst/args.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/imms.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/regs.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/regs.rs
  cranelift/codegen/src/machinst/reg.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8515 wasmtime: Use ConstExpr for data segment offsets
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/module.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
Labels: wasmtime:api

#8546 riscv64: Move Round Instructions to ISLE
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/ceil.clif
  cranelift/filetests/filetests/isa/riscv64/float.clif
  cranelift/filetests/filetests/isa/riscv64/floor.clif
  cranelift/filetests/filetests/isa/riscv64/nearest.clif
  cranelift/filetests/filetests/isa/riscv64/trunc.clif
Labels: cranelift, cranelift:area:riscv64

#8549 c-api: use `--release` when MinSizeRel and RelWithDebInfo is used
  crates/c-api/CMakeLists.txt
Labels: wasmtime:c-api

#8553 Bump Wasmtime to 22.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#8507 winch(arm64): float_copysign
  tests/disas/winch/aarch64/f32_copysign/const.wat
  tests/disas/winch/aarch64/f32_copysign/locals.wat
  tests/disas/winch/aarch64/f32_copysign/params.wat
  tests/disas/winch/aarch64/f64_copysign/const.wat
  tests/disas/winch/aarch64/f64_copysign/locals.wat
  tests/disas/winch/aarch64/f64_copysign/params.wat
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
Labels: winch

#8555 Update documentation and example for no_std
  .github/workflows/main.yml
  Cargo.lock
  docs/stability-platform-support.md
  docs/stability-tiers.md
  examples/min-platform/.gitignore
  examples/min-platform/Cargo.toml
  examples/min-platform/build.sh
  examples/min-platform/embedding/Cargo.toml
  examples/min-platform/embedding/aarch64-unknown-unknown.json
  examples/min-platform/embedding/cbindgen.toml
  examples/min-platform/embedding/src/allocator.rs
  examples/min-platform/embedding/src/lib.rs
  examples/min-platform/embedding/src/panic.rs
  examples/min-platform/embedding/wasmtime-platform.h
  examples/min-platform/embedding/x86_64-unknown-unknown.json
  examples/min-platform/src/main.rs
  supply-chain/imports.lock
Labels: wasmtime:docs

#8554 build: add "fastest-runtime" profile for runtime optimization
  Cargo.toml
  crates/c-api/CMakeLists.txt
Labels: wasmtime:c-api

#8570 wasi::preview1 doc: add a comma
  crates/wasi/src/preview1.rs
Labels: wasi

#8567 cranelift/x64: Make emit's style more consistent
  cranelift/codegen/src/isa/x64/inst/emit.rs
Labels: cranelift, cranelift:area:x64

#8550 wasmtime(gc): Add the `wasmtime::NoExtern` value type
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/gc.rs
  crates/wasmtime/src/runtime/gc/enabled/anyref.rs
  crates/wasmtime/src/runtime/gc/enabled/externref.rs
  crates/wasmtime/src/runtime/gc/enabled/i31.rs
  crates/wasmtime/src/runtime/gc/noextern.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/v128.rs
  tests/all/func.rs
  tests/all/main.rs
  tests/all/noextern.rs
Labels: wasmtime:api, wasmtime:ref-types

#8566 cranelift: Remove `next_fixed_nonallocatable` and `with_allocs` methods
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/args.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/reg.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8569 [20.0.0]: Backport fixes from main branch
  Cargo.toml
  crates/c-api/CMakeLists.txt
Labels: wasmtime:c-api

#8572 Use WASI builder directly in C API
  crates/c-api/include/wasi.h
  crates/c-api/src/wasi.rs
Labels: wasmtime:c-api

#8576 Forward-port release notes for 20.0.2
  RELEASES.md
Labels: wasmtime:docs

#8582 riscv64: Add remaining Zfa Instructions
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/inst/encode.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/zfa.clif
  cranelift/filetests/filetests/runtests/ceil.clif
  cranelift/filetests/filetests/runtests/f32const.clif
  cranelift/filetests/filetests/runtests/f64const.clif
  cranelift/filetests/filetests/runtests/floor.clif
  cranelift/filetests/filetests/runtests/nearest.clif
  cranelift/filetests/filetests/runtests/trunc.clif
Labels: cranelift, isle, cranelift:area:riscv64

#8579 wasmtime(gc): Fix wasm-to-native trampoline lookup for subtyping
  crates/environ/src/compile/module_types.rs
  crates/environ/src/module_artifacts.rs
  crates/environ/src/module_types.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/instantiate.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/type_registry.rs
  tests/all/func.rs
Labels: wasmtime:api

#8588 riscv64: Add `fmsub`/`fnmsub`/`fnmadd` instruction lowerings
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/float.clif
  cranelift/filetests/filetests/isa/riscv64/fma.clif
  cranelift/filetests/filetests/runtests/fma.clif
Labels: cranelift, cranelift:area:riscv64

#8592 cranelift: Delete all references to AllocationConsumer
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/inst/regs.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/args.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/imms.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/regs.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/regs.rs
  cranelift/codegen/src/machinst/reg.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8548 `cranelift-frontend`: add and fix various links in doc comments
  cranelift/frontend/src/frontend.rs
  cranelift/frontend/src/lib.rs
  cranelift/frontend/src/ssa.rs
Labels: cranelift

#8596 riscv64: Improve pattern matching rules for FMA
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/isa/riscv64/simd-fma.clif
Labels: cranelift, cranelift:area:riscv64

#8227 cranelift: Delete redundant DCE optimization pass
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/dce.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/timing.rs
  cranelift/filetests/filetests/dce/basic.clif
  cranelift/filetests/src/lib.rs
  cranelift/filetests/src/test_dce.rs
Labels: cranelift

#8595 Wasmtime(gc): Add support for supertypes and finality
  crates/cranelift/src/func_environ.rs
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/compile/module_types.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/types_builder.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/runtime/component/types.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/type_registry.rs
  crates/wasmtime/src/runtime/types.rs
  tests/all/externals.rs
  tests/all/func.rs
  tests/all/types.rs
  winch/codegen/src/codegen/env.rs
Labels: wasmtime:api, winch

#8590 Wasmtime(pooling allocator): Batch decommits
  benches/wasmtime-serve-rps.sh
  crates/cli-flags/src/lib.rs
  crates/fiber/src/lib.rs
  crates/fiber/src/unix.rs
  crates/fiber/src/windows.rs
  crates/fuzzing/src/generators/pooling_config.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/trampoline/memory.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/cow.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/on_demand.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/decommit_queue.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/gc_heap_pool.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/generic_stack_pool.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/index_allocator.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/memory_pool.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/table_pool.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/unix_stack_pool.rs
  tests/all/pooling_allocator.rs
Labels: wasmtime:api, fuzzing, wasmtime:config

#8613 Added OpenBSD support to wasmtime's signals.rs
  crates/wasmtime/src/runtime/vm/sys/unix/signals.rs
Labels: wasmtime:api

#8611 wasi: Handle read(0) with file streams
  crates/test-programs/src/bin/preview2_file_read_write.rs
  crates/wasi/src/filesystem.rs
Labels: wasi

#8593 Parse object files with `ElfFile64` rather than `object::File`
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/runtime/code_memory.rs
Labels: wasmtime:api

#8609 Change all WASI impls to being concrete, not blanket
  crates/wasi-http/src/http_impl.rs
  crates/wasi-http/src/lib.rs
  crates/wasi-http/src/proxy.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi/src/bindings.rs
  crates/wasi/src/host/clocks.rs
  crates/wasi/src/host/env.rs
  crates/wasi/src/host/exit.rs
  crates/wasi/src/host/filesystem.rs
  crates/wasi/src/host/filesystem/sync.rs
  crates/wasi/src/host/instance_network.rs
  crates/wasi/src/host/io.rs
  crates/wasi/src/host/network.rs
  crates/wasi/src/host/random.rs
  crates/wasi/src/host/tcp.rs
  crates/wasi/src/host/tcp_create_socket.rs
  crates/wasi/src/host/udp.rs
  crates/wasi/src/host/udp_create_socket.rs
  crates/wasi/src/ip_name_lookup.rs
  crates/wasi/src/lib.rs
  crates/wasi/src/poll.rs
  crates/wasi/src/preview1.rs
  crates/wasi/src/stdio.rs
Labels: wasi

#8605 cranelift: Drop non-allocatable register operands
  cranelift/codegen/src/machinst/reg.rs
Labels: cranelift, cranelift:area:machinst

#8606 cranelift: Resolve CLIF aliases before lowering
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/machinst/lower.rs
Labels: cranelift, cranelift:area:machinst

#8625 egraphs: Const propagate bitwise float operations
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/opts/cprop.isle
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/egraph/cprop.clif
Labels: cranelift, isle

#8630 Page align the static memory maximum size
  crates/wasmtime/src/config.rs
  tests/all/memory.rs
Labels: wasmtime:api, wasmtime:config

#8612 CI: shard testing crates across multiple jobs
  .github/workflows/main.yml
  ci/build-test-matrix.js
  ci/run-tests.sh
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  crates/fuzzing/Cargo.toml
  crates/jit-icache-coherence/src/libc.rs
  tests/all/pooling_allocator.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, fuzzing, cranelift:area:aarch64, cranelift:area:x64, isle

#8634 cranelift: expand umbrella crate with more crates
  Cargo.lock
  cranelift/jit/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/umbrella/src/lib.rs
  scripts/publish.rs
Labels: cranelift

#8628 Use bytes for maximum size of linear memory with pooling
  benches/instantiation.rs
  crates/cli-flags/src/lib.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/pooling_config.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/memory_pool.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/table_pool.rs
  examples/mpk.rs
  tests/all/async_functions.rs
  tests/all/instance.rs
  tests/all/limits.rs
  tests/all/main.rs
  tests/all/memory.rs
  tests/all/pooling_allocator.rs
  tests/wast.rs
Labels: wasmtime:api, fuzzing, wasmtime:config

#8629 Remove the native ABI calling convention from Wasmtime
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/compile/mod.rs
  crates/environ/src/compile/module_artifacts.rs
  crates/environ/src/component/artifacts.rs
  crates/environ/src/module_artifacts.rs
  crates/environ/src/vmoffsets.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/compile/runtime.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime/component/component.rs
  crates/wasmtime/src/runtime/component/func.rs
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/gc/enabled/anyref.rs
  crates/wasmtime/src/runtime/gc/enabled/externref.rs
  crates/wasmtime/src/runtime/gc/enabled/i31.rs
  crates/wasmtime/src/runtime/gc/noextern.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/instantiate.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/module/registry.rs
  crates/wasmtime/src/runtime/store/func_refs.rs
  crates/wasmtime/src/runtime/trampoline/func.rs
  crates/wasmtime/src/runtime/v128.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/component.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  crates/wasmtime/src/runtime/vm/vmcontext/vm_host_func_context.rs
  crates/winch/src/compiler.rs
  tests/disas/icall-loop.wat
  tests/disas/icall-simd.wat
  tests/disas/icall.wat
  tests/disas/indirect-call-caching-exclude-0-index.wat
  tests/disas/indirect-call-caching-exclude-table-export.wat
  tests/disas/indirect-call-caching-exclude-table-writes.wat
  tests/disas/indirect-call-caching-slot-limit-1.wat
  tests/disas/indirect-call-caching-slot-limit-2.wat
  tests/disas/indirect-call-caching.wat
  tests/disas/indirect-call-no-caching.wat
  tests/disas/readonly-funcrefs.wat
  tests/disas/ref-func-0.wat
  tests/disas/typed-funcrefs-eager-init.wat
  tests/disas/typed-funcrefs.wat
  tests/disas/winch/x64/call_indirect/call_indirect.wat
  tests/disas/winch/x64/call_indirect/local_arg.wat
  tests/disas/winch/x64/load/grow_load.wat
  tests/disas/winch/x64/table/fill.wat
  tests/disas/winch/x64/table/get.wat
  tests/disas/winch/x64/table/grow.wat
  tests/disas/winch/x64/table/init_copy_drop.wat
  tests/disas/winch/x64/table/set.wat
Labels: wasmtime:api, wasmtime:ref-types

#8643 cranelift: Remove nominal-sp
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/pcc.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst/args.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit_state.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/filetests/filetests/isa/riscv64/c-inline-probestack.clif
  cranelift/filetests/filetests/isa/riscv64/inline-probestack.clif
  cranelift/filetests/filetests/isa/riscv64/issue-6954.clif
  cranelift/filetests/filetests/isa/riscv64/reftypes.clif
  cranelift/filetests/filetests/isa/riscv64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/riscv64/return-call.clif
  cranelift/filetests/filetests/isa/riscv64/simd-abi-large-spill.clif
  cranelift/filetests/filetests/isa/riscv64/simd-abi.clif
  cranelift/filetests/filetests/isa/riscv64/stack.clif
  cranelift/filetests/filetests/isa/riscv64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/riscv64/zca.clif
  cranelift/filetests/filetests/isa/riscv64/zcd.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#8633 Change the function alignment of x86 to 32-bytes
  cranelift/codegen/src/isa/x64/inst/mod.rs
  tests/disas/load-store/x64/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i32_access_0_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i32_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i32_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i8_access_0_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i8_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i32_index_0_guard_no_spectre_i8_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i32_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i32_index_0xffffffff_guard_no_spectre_i32_access_0_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i32_index_0xffffffff_guard_no_spectre_i32_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i32_index_0xffffffff_guard_no_spectre_i32_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i32_index_0xffffffff_guard_no_spectre_i8_access_0_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i32_index_0xffffffff_guard_no_spectre_i8_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i32_index_0xffffffff_guard_no_spectre_i8_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i32_access_0_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i32_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i64_index_0_guard_no_spectre_i8_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i32_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i64_index_0_guard_yes_spectre_i8_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i64_index_0xffffffff_guard_no_spectre_i32_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i64_index_0xffffffff_guard_no_spectre_i32_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i64_index_0xffffffff_guard_no_spectre_i8_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_dynamic_kind_i64_index_0xffffffff_guard_no_spectre_i8_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i32_index_0_guard_no_spectre_i32_access_0_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i32_index_0_guard_no_spectre_i32_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i32_index_0_guard_no_spectre_i32_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i32_index_0_guard_no_spectre_i8_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i32_index_0_guard_no_spectre_i8_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i32_index_0_guard_yes_spectre_i32_access_0_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i32_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i32_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0_guard_no_spectre_i32_access_0_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0_guard_no_spectre_i32_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0_guard_no_spectre_i32_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0_guard_no_spectre_i8_access_0_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0_guard_no_spectre_i8_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0_guard_no_spectre_i8_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0_guard_yes_spectre_i32_access_0_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0_guard_yes_spectre_i32_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0_guard_yes_spectre_i8_access_0_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0_guard_yes_spectre_i8_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0xffffffff_guard_no_spectre_i32_access_0_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0xffffffff_guard_no_spectre_i32_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0xffffffff_guard_no_spectre_i32_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0xffffffff_guard_no_spectre_i8_access_0_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0xffffffff_guard_no_spectre_i8_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0xffffffff_guard_no_spectre_i8_access_0xffff0000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i32_access_0x1000_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0_offset.wat
  tests/disas/load-store/x64/load_store_static_kind_i64_index_0xffffffff_guard_yes_spectre_i8_access_0x1000_offset.wat
  tests/disas/pcc-insertlane-x64-avx.wat
  tests/disas/pcc-insertlane-x64.wat
  tests/disas/x64-relaxed-simd-deterministic.wat
  tests/disas/x64-relaxed-simd.wat
Labels: cranelift, cranelift:area:x64

#8646 Un-gate `Func::new` on compiler features
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/trampoline/func.rs
Labels: wasmtime:api

#8654 Update release date of Wasmtime 21.0.0
  RELEASES.md
Labels: wasmtime:docs

#8656 Update docs to match new logging env var
  docs/cli-logging.md
Labels: wasmtime:docs

#8655 Release Wasmtime 21.0.0
  RELEASES.md
Labels: wasmtime:docs

#8642 Refactor installation of C API and features supported
  .github/actions/android-ndk/action.yml
  .github/workflows/main.yml
  ci/build-release-artifacts.sh
  ci/build-tarballs.sh
  ci/docker/aarch64-linux/Dockerfile
  ci/docker/riscv64gc-linux/Dockerfile
  ci/docker/s390x-linux/Dockerfile
  ci/docker/x86_64-linux/Dockerfile
  crates/c-api/CMakeLists.txt
  crates/c-api/Cargo.toml
  crates/c-api/artifact/Cargo.toml
  crates/c-api/doxygen.conf.in
  crates/c-api/include/wasi.h
  crates/c-api/include/wasmtime.h
  crates/c-api/include/wasmtime/async.h
  crates/c-api/include/wasmtime/conf.h.in
  crates/c-api/include/wasmtime/config.h
  crates/c-api/include/wasmtime/linker.h
  crates/c-api/include/wasmtime/profiling.h
  crates/c-api/include/wasmtime/sharedmemory.h
  crates/c-api/include/wasmtime/store.h
Labels: wasmtime:c-api

#8640 Cranelift: Split out dominator tree's depth-first traversal into a reusable iterator
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/dominator_tree.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/traversals.rs
  cranelift/codegen/src/verifier/mod.rs
Labels: cranelift

#8662 c-api: Fix enabling parallel compilation by default
  crates/c-api/CMakeLists.txt
Labels: wasmtime:c-api

#8669 corrections to the WASMTIME_LOG docs
  docs/cli-logging.md
Labels: wasmtime:docs

#8639 Show function names in explore tool instead of only function indices
  Cargo.lock
  crates/explorer/Cargo.toml
  crates/explorer/src/index.js
  crates/explorer/src/lib.rs
  crates/wasmtime/src/runtime/module.rs
Labels: wasmtime:api

#8672 Implement `Component::define_unknown_imports_as_traps`
  crates/wasmtime/src/runtime/component/linker.rs
  crates/wasmtime/src/runtime/linker.rs
  tests/all/component_model/linker.rs
Labels: wasmtime:api

#8637 Display symbol names "compile -D"
  cranelift/src/compile.rs
  cranelift/src/disasm.rs
Labels: cranelift

#8677 Use BuildHasher::hash_one
  cranelift/src/souper_harvest.rs
Labels: cranelift

#8671 wasi-http: add the port to authority when opening a TCP connection
  crates/test-programs/src/bin/api_proxy_forward_request.rs
  crates/wasi-http/src/types.rs
  crates/wasi-http/tests/all/main.rs
  crates/wasi/tests/all/api.rs
Labels: wasi

#8650 fuzzgen: Add support for stack slot alignment
  cranelift/fuzzgen/src/config.rs
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#8685 winch: Ensure the right return type for f64 comparisons
  tests/misc_testsuite/winch/float-comparison.wast
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/control.rs
Labels: winch

#8680 Refactor how release notes are managed
  .github/workflows/release-process.yml
  RELEASES.md
  ci/RELEASES-template.md
  ci/update-release-date.rs
  docs/contributing-release-process.md
Labels: wasmtime:docs

#8691 Fix runtime::vm::cow tests on hosts with a 16k page size
  crates/wasmtime/src/runtime/vm/cow.rs
Labels: wasmtime:api

#8710 Enable all features for docs.rs documentation
  crates/environ/Cargo.toml
  crates/wasmtime/Cargo.toml
Labels: wasmtime:api

#8711 Enable rustc's `unused-lifetimes` lint
  Cargo.toml
  benches/instantiation.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/reader/src/parser.rs
  crates/cache/src/lib.rs
  crates/cranelift/src/debug/transform/mod.rs
  crates/cranelift/src/debug/write_debuginfo.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/wasi-nn/src/witx.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, fuzzing

#8707 Revert "Use `[su]extend_maybe` in the `iconst_[su]` extractors (#8686)"
  cranelift/codegen/src/prelude_opt.isle
  cranelift/filetests/filetests/egraph/i128-opts.clif
Labels: cranelift

#8695 riscv64: Initial support for the ZiCond Extension
  ci/build-test-matrix.js
  cranelift/codegen/meta/src/isa/riscv64.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/zicond.clif
  cranelift/filetests/filetests/runtests/select.clif
Labels: cranelift, cranelift:meta, isle, cranelift:area:riscv64

#8701 riscv64: Special-case `f32const 0` and `f64const 0`
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/filetests/filetests/isa/riscv64/bitops-float.clif
  cranelift/filetests/filetests/isa/riscv64/constants.clif
  cranelift/filetests/filetests/isa/riscv64/fcmp.clif
Labels: cranelift

#8716 Allow graphic ASCII characters in symbol names
  crates/wasmtime/src/compile.rs
Labels: wasmtime:api

#8703 riscv64: Improve base select lowering
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/filetests/filetests/isa/riscv64/bitops.clif
  cranelift/filetests/filetests/isa/riscv64/brif.clif
  cranelift/filetests/filetests/isa/riscv64/ceil.clif
  cranelift/filetests/filetests/isa/riscv64/cls-zbb.clif
  cranelift/filetests/filetests/isa/riscv64/clz-zbb.clif
  cranelift/filetests/filetests/isa/riscv64/condbr.clif
  cranelift/filetests/filetests/isa/riscv64/condops.clif
  cranelift/filetests/filetests/isa/riscv64/ctz-zbb.clif
  cranelift/filetests/filetests/isa/riscv64/floor.clif
  cranelift/filetests/filetests/isa/riscv64/fmax.clif
  cranelift/filetests/filetests/isa/riscv64/fmin.clif
  cranelift/filetests/filetests/isa/riscv64/iabs.clif
  cranelift/filetests/filetests/isa/riscv64/ishl-const.clif
  cranelift/filetests/filetests/isa/riscv64/ishl.clif
  cranelift/filetests/filetests/isa/riscv64/issue-6954.clif
  cranelift/filetests/filetests/isa/riscv64/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/riscv64/nearest.clif
  cranelift/filetests/filetests/isa/riscv64/rotl.clif
  cranelift/filetests/filetests/isa/riscv64/rotr.clif
  cranelift/filetests/filetests/isa/riscv64/select.clif
  cranelift/filetests/filetests/isa/riscv64/simd-select.clif
  cranelift/filetests/filetests/isa/riscv64/smax-zbb.clif
  cranelift/filetests/filetests/isa/riscv64/smax.clif
  cranelift/filetests/filetests/isa/riscv64/smin-zbb.clif
  cranelift/filetests/filetests/isa/riscv64/smin.clif
  cranelift/filetests/filetests/isa/riscv64/sshr-const.clif
  cranelift/filetests/filetests/isa/riscv64/sshr.clif
  cranelift/filetests/filetests/isa/riscv64/trunc.clif
  cranelift/filetests/filetests/isa/riscv64/umax-zbb.clif
  cranelift/filetests/filetests/isa/riscv64/umax.clif
  cranelift/filetests/filetests/isa/riscv64/umin-zbb.clif
  cranelift/filetests/filetests/isa/riscv64/umin.clif
  cranelift/filetests/filetests/isa/riscv64/ushr-const.clif
  cranelift/filetests/filetests/isa/riscv64/ushr.clif
  cranelift/filetests/filetests/isa/riscv64/zca.clif
Labels: cranelift, cranelift:meta, isle, cranelift:area:riscv64

#8702 Remove the borrow checking from `wiggle` entirely
  crates/test-programs/artifacts/Cargo.toml
  crates/wasi-common/src/snapshots/preview_0.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi-common/src/string_array.rs
  crates/wasi-nn/src/witx.rs
  crates/wasi/src/preview0.rs
  crates/wasi/src/preview1.rs
  crates/wiggle/generate/src/funcs.rs
  crates/wiggle/generate/src/module_trait.rs
  crates/wiggle/generate/src/names.rs
  crates/wiggle/generate/src/types/flags.rs
  crates/wiggle/generate/src/types/handle.rs
  crates/wiggle/generate/src/types/mod.rs
  crates/wiggle/generate/src/types/record.rs
  crates/wiggle/generate/src/types/variant.rs
  crates/wiggle/generate/src/wasmtime.rs
  crates/wiggle/macro/Cargo.toml
  crates/wiggle/macro/build.rs
  crates/wiggle/macro/src/lib.rs
  crates/wiggle/src/borrow.rs
  crates/wiggle/src/guest_type.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/src/wasmtime.rs
  crates/wiggle/test-helpers/examples/tracing.rs
  crates/wiggle/test-helpers/src/lib.rs
  crates/wiggle/tests/atoms.rs
  crates/wiggle/tests/atoms_async.rs
  crates/wiggle/tests/errors.rs
  crates/wiggle/tests/flags.rs
  crates/wiggle/tests/handles.rs
  crates/wiggle/tests/ints.rs
  crates/wiggle/tests/keywords.rs
  crates/wiggle/tests/lists.rs
  crates/wiggle/tests/pointers.rs
  crates/wiggle/tests/records.rs
  crates/wiggle/tests/strings.rs
  crates/wiggle/tests/variant.rs
  crates/wiggle/tests/wasi.rs
  crates/wiggle/tests/wasmtime_async.rs
  crates/wiggle/tests/wasmtime_integration.rs
  crates/wiggle/tests/wasmtime_sync.rs
Labels: wasi

#8721 Always generate the same output structure with `bindgen!`
  crates/component-macro/src/bindgen.rs
  crates/component-macro/tests/codegen.rs
  crates/wasi-http/src/proxy.rs
  crates/wasi/src/bindings.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wit-bindgen/src/lib.rs
Labels: wasmtime:api, wasi

#8715 wasi: Make WasiCtxBuilder::socket_addr_check closure async
  crates/wasi/src/bindings.rs
  crates/wasi/src/ctx.rs
  crates/wasi/src/host/tcp.rs
  crates/wasi/src/host/udp.rs
  crates/wasi/src/lib.rs
  crates/wasi/src/network.rs
Labels: wasi
