Repository bytecodealliance/wasmtime, pull requests merged in 2024-07, with the labels that each got.

#8885 Couple of small improvements for debugging Cranelift
  cranelift/codegen/src/ir/globalvalue.rs
  cranelift/codegen/src/ir/jumptable.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst

#8869 cranelift/aarch64: Support fmsub
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/filetests/filetests/isa/aarch64/fma.clif
Labels: cranelift, cranelift:area:aarch64

#8887 cranelift/riscv: refactor rv_fma pattern
  cranelift/codegen/src/isa/riscv64/lower.isle
Labels: cranelift

#8902 Bump Wasmtime to 24.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/bitset/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#8882 Update the wasm-tools family of crates
  Cargo.lock
  Cargo.toml
  crates/cli-flags/src/lib.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  supply-chain/imports.lock
  tests/all/component_model/macros.rs
  tests/wast.rs
Labels: wasmtime:api, wasmtime:config

#8900 `wasi-common`: remove `wasmtime` dependency from `sync` crate feature
  crates/wasi-common/Cargo.toml
Labels: wasi

#8899 Wasmtime: Pop GC LIFO roots even when there is no GC heap
  crates/wasmtime/src/runtime/gc/disabled/rooting.rs
  crates/wasmtime/src/runtime/gc/enabled/rooting.rs
  crates/wasmtime/src/runtime/store.rs
  tests/all/i31ref.rs
  tests/all/main.rs
Labels: wasmtime:api, wasmtime:ref-types

#8907 Expose Engine::clone to c-api
  crates/c-api/README.md
  crates/c-api/include/wasmtime/engine.h
  crates/c-api/src/engine.rs
Labels: wasmtime:c-api

#8909 [23.0.0] Update the wasm-tools family of crates
  Cargo.lock
  Cargo.toml
  crates/cli-flags/src/lib.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  supply-chain/imports.lock
  tests/all/component_model/macros.rs
  tests/wast.rs
Labels: wasmtime:api, wasmtime:config

#8910 [23.0.0] Add release notes
  RELEASES.md
Labels: wasmtime:docs

#8883 closes #2827: remove srclocs from bugpoint
  cranelift/src/bugpoint.rs
  cranelift/tests/bugpoint_test.clif
Labels: cranelift

#8906 Add more documentation to `ArgumentPurpose::StructArgument`
  cranelift/codegen/src/ir/extfunc.rs
Labels: cranelift

#8920 [23.0.0] Fix segfault with custom page sizes on aarch64
  crates/environ/src/compile/module_environ.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
  tests/wast.rs
Labels: wasmtime:api

#8927 cranelift-wasm: Remove unused `translate` method
  cranelift/wasm/src/func_translator.rs
Labels: cranelift, cranelift:wasm

#8926 Change the representation of `VMGcKind` to allow for fast subtyping checks
  crates/environ/src/gc.rs
  crates/wasmtime/src/runtime/vm/gc/gc_ref.rs
Labels: wasmtime:api, wasmtime:ref-types

#8938 Fix set_epoch_deadline docs
  crates/wasmtime/src/runtime/store.rs
Labels: wasmtime:api

#8935 ISLE: Make block codegen non-recursive
  cranelift/isle/isle/src/codegen.rs
Labels: cranelift, isle

#8937 `cranelift-frontend`: Specify stack map behavior when defining variables
  cranelift/frontend/src/frontend.rs
  cranelift/frontend/src/lib.rs
Labels: cranelift, cranelift:wasm

#8933 Introduce `wasmtime::StructRef` and allocating Wasm GC structs
  benches/call.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/gc/disabled.rs
  crates/wasmtime/src/runtime/gc/disabled/anyref.rs
  crates/wasmtime/src/runtime/gc/disabled/externref.rs
  crates/wasmtime/src/runtime/gc/disabled/i31.rs
  crates/wasmtime/src/runtime/gc/disabled/rooting.rs
  crates/wasmtime/src/runtime/gc/disabled/structref.rs
  crates/wasmtime/src/runtime/gc/enabled.rs
  crates/wasmtime/src/runtime/gc/enabled/anyref.rs
  crates/wasmtime/src/runtime/gc/enabled/externref.rs
  crates/wasmtime/src/runtime/gc/enabled/rooting.rs
  crates/wasmtime/src/runtime/gc/enabled/structref.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/type_registry.rs
  crates/wasmtime/src/runtime/types/matching.rs
  crates/wasmtime/src/runtime/values.rs
  crates/wasmtime/src/runtime/vm/gc.rs
  crates/wasmtime/src/runtime/vm/gc/disabled.rs
  crates/wasmtime/src/runtime/vm/gc/enabled.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/drc.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/free_list.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/structref.rs
  crates/wasmtime/src/runtime/vm/gc/gc_ref.rs
  crates/wasmtime/src/runtime/vm/gc/gc_runtime.rs
  tests/all/main.rs
  tests/all/structs.rs
Labels: wasmtime:api, wasmtime:ref-types

#8947 [23.0.0] ISLE: Make block codegen non-recursive
  cranelift/isle/isle/src/codegen.rs
Labels: cranelift, isle

#8888 Add support for fmsub and fnmsub instructions on x86
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/fmsub-inst.clif
  cranelift/filetests/filetests/runtests/x64/fmsub.clif
Labels: cranelift, cranelift:area:x64

#8949 wasmtime: Remove GET_WASM_TRAP indirection
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/runtime/code_memory.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/module/registry.rs
  crates/wasmtime/src/runtime/vm/sys/custom/traphandlers.rs
  crates/wasmtime/src/runtime/vm/sys/miri/traphandlers.rs
  crates/wasmtime/src/runtime/vm/sys/unix/machports.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
Labels: wasmtime:api

#8958 Inherit lints in a few more crates
  crates/slab/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  crates/wiggle/macro/src/lib.rs
Labels: wasi

#8903 Various cleanups to the ABI handling code (part 1)
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#8875 Various cleanups to the ABI handling code
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/isle.rs
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle, winch

#8893 cranelift: Add `f16const` and `f128const` instructions
  cranelift/codegen/meta/src/shared/formats.rs
  cranelift/codegen/meta/src/shared/immediates.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/ir/constant.rs
  cranelift/codegen/src/ir/entities.rs
  cranelift/codegen/src/ir/immediates.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/opts.rs
  cranelift/codegen/src/opts/cprop.isle
  cranelift/codegen/src/prelude.isle
  cranelift/codegen/src/verifier/mod.rs
  cranelift/codegen/src/write.rs
  cranelift/filetests/filetests/egraph/cprop.clif
  cranelift/filetests/filetests/runtests/f128const.clif
  cranelift/filetests/filetests/runtests/f16const.clif
  cranelift/fuzzgen/src/function_generator.rs
  cranelift/interpreter/src/step.rs
  cranelift/reader/src/parser.rs
Labels: cranelift, cranelift:area:machinst, cranelift:meta, isle

#8968 Immediately return StreamError::Closed when the TCP stream is closed.
  crates/test-programs/src/bin/preview2_tcp_streams.rs
  crates/wasi/src/tcp.rs
  crates/wasi/tests/all/async_.rs
  crates/wasi/tests/all/sync.rs
Labels: wasi

#8954 Cranelift: Constant propagate floats
  cranelift/codegen/src/ir/immediates.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/opts/cprop.isle
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/egraph/cprop.clif
Labels: cranelift, isle

#8980 Release Wasmtime 23.0.0
  RELEASES.md
Labels: wasmtime:docs

#8981 docs: move wasi-runtime-config proposal to tier 3
  docs/stability-tiers.md
Labels: wasmtime:docs

#8971 winch: Improve scratch register handling
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/bounds.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/masm.rs
Labels: winch

#8978 `cranelift-frontend`: Support moving GCs with user stack maps
  Cargo.lock
  cranelift/frontend/Cargo.toml
  cranelift/frontend/src/frontend.rs
Labels: cranelift

#8991 A few follow ups to #8978 and user stack maps and safepoints
  cranelift/frontend/src/frontend.rs
  cranelift/frontend/src/frontend/safepoints.rs
Labels: cranelift

#8994 Fix broken link
  docs/WASI-overview.md
Labels: wasmtime:docs

#8996 doc: fix lang-c link
  README.md
  crates/c-api/include/wasmtime.h
  docs/WASI-intro.md
Labels: wasmtime:c-api, wasmtime:docs

#8995 cranelift-control: support no_std compilation
  .github/workflows/main.yml
  cranelift/control/Cargo.toml
  cranelift/control/src/chaos.rs
  cranelift/control/src/lib.rs
  cranelift/control/src/zero_sized.rs
Labels: cranelift

#9005 Cranelift(x64): provide better panic messages for `Gpr::new(reg).unwrap()` et al
  cranelift/codegen/src/isa/x64/encoding/evex.rs
  cranelift/codegen/src/isa/x64/encoding/vex.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:x64, isle, winch

#9003 Cranelift(x64): Fix lowering for `store(bitop(x, load(addr)), addr)` for bitops on floats
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/filetests/filetests/isa/x64/sink-load-store-of-bitwise-op-on-float.clif
Labels: cranelift, cranelift:area:x64

#8941 fuzzgen: Add stack map variables
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift

#8867 Rename the `wasm32-wasi` target to `wasm32-wasip1`
  .github/actions/install-rust/action.yml
  .github/workflows/main.yml
  README.md
  benches/instantiation.rs
  crates/test-programs/artifacts/build.rs
  crates/wasi-common/README.md
  crates/wasi-nn/README.md
  crates/wasi-nn/examples/classification-component-onnx/Cargo.toml
  crates/wasi-nn/examples/classification-component-onnx/README.md
  crates/wasi-nn/examples/classification-example-named/Cargo.toml
  crates/wasi-nn/examples/classification-example-named/README.md
  crates/wasi-nn/examples/classification-example-winml/Cargo.toml
  crates/wasi-nn/examples/classification-example-winml/README.md
  crates/wasi-nn/examples/classification-example/Cargo.toml
  crates/wasi-nn/examples/classification-example/README.md
  crates/wasi-preview1-component-adapter/README.md
  docs/WASI-tutorial.md
  docs/contributing-implementing-wasm-proposals.md
  docs/contributing-testing.md
  docs/examples-coredump.md
  docs/examples-debugging-core-dumps.md
  docs/examples-profiling-perf.md
  docs/examples-profiling-vtune.md
  docs/examples-rust-wasi.md
  docs/stability-tiers.md
  examples/CMakeLists.txt
  examples/component/main.rs
  examples/tokio/main.rs
  examples/wasi-async/main.rs
  examples/wasi/main.c
  examples/wasi/main.rs
  tests/all/traps.rs
Labels: wasi, wasmtime:docs

#8982 Refactor `Ieee{16,32,64,128}`
  cranelift/codegen/src/ir/immediates.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/interpreter/src/value.rs
Labels: cranelift, cranelift:area:x64

#9016 Fix feature combinations in testing
  cranelift/wasm/Cargo.toml
Labels: cranelift, cranelift:wasm

#9025 Enforce `clippy::clone_on_copy` for the workspace
  Cargo.toml
  cranelift/codegen/src/alias_analysis.rs
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/opts.rs
  cranelift/codegen/src/opts/generated_code.rs
  cranelift/frontend/src/frontend.rs
  cranelift/interpreter/src/instruction.rs
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
  cranelift/wasm/src/code_translator.rs
  crates/c-api/src/async.rs
  crates/c-api/src/func.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/types_builder.rs
  crates/fuzzing/src/generators/pooling_config.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/test-programs/src/bin/preview1_poll_oneoff_stdio.rs
  crates/types/src/lib.rs
  crates/wasi-common/src/snapshots/preview_1.rs
  crates/wasi/src/stdio.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/runtime/component/linker.rs
  crates/wasmtime/src/runtime/gc/enabled/structref.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/memory.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/trampoline/memory.rs
  crates/wasmtime/src/runtime/trampoline/table.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/values.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/memory_pool.rs
  crates/wiggle/generate/src/codegen_settings.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, wasi, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64, wasmtime:ref-types, isle

#9022 Add an unsafe API to unload process trap handlers
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/runtime/vm/sys/custom/traphandlers.rs
  crates/wasmtime/src/runtime/vm/sys/miri/traphandlers.rs
  crates/wasmtime/src/runtime/vm/sys/unix/machports.rs
  crates/wasmtime/src/runtime/vm/sys/unix/macos_traphandlers.rs
  crates/wasmtime/src/runtime/vm/sys/unix/signals.rs
  crates/wasmtime/src/runtime/vm/sys/windows/traphandlers.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
  tests/unload-engine.rs
Labels: wasmtime:api

#9030 Fix `fmin`/`fmax` cprop miscompilation and add `f16`/`f128` `fmin`/`fmax` cprop support
  cranelift/codegen/src/ir/immediates.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/nan_canonicalization.rs
  cranelift/codegen/src/opts/cprop.isle
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/egraph/cprop.clif
Labels: cranelift, isle

#9033 Winch aarch64 clz & ctz
  tests/disas/winch/aarch64/i32_clz/const.wat
  tests/disas/winch/aarch64/i32_clz/locals.wat
  tests/disas/winch/aarch64/i32_clz/params.wat
  tests/disas/winch/aarch64/i32_ctz/const.wat
  tests/disas/winch/aarch64/i32_ctz/locals.wat
  tests/disas/winch/aarch64/i32_ctz/params.wat
  tests/disas/winch/aarch64/i64_clz/const.wat
  tests/disas/winch/aarch64/i64_clz/locals.wat
  tests/disas/winch/aarch64/i64_clz/params.wat
  tests/disas/winch/aarch64/i64_ctz/const.wat
  tests/disas/winch/aarch64/i64_ctz/locals.wat
  tests/disas/winch/aarch64/i64_ctz/params.wat
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
Labels: winch

#9039 Improve unsupported architecture errors in Wasmtime
  crates/wasmtime/src/runtime/gc/enabled/rooting.rs
  crates/wasmtime/src/runtime/vm/arch/mod.rs
  crates/wasmtime/src/runtime/vm/arch/unsupported.rs
  crates/wasmtime/src/runtime/vm/gc/gc_ref.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
  crates/wasmtime/src/runtime/vm/sys/unix/signals.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
Labels: wasmtime:api, wasmtime:ref-types

#9050 docs: move wasi-keyvalue proposal to tier 3
  docs/stability-tiers.md
Labels: wasmtime:docs
