Repository bytecodealliance/wasmtime, pull requests merged in 2024-08, with the labels that each got.

#9051 Winch aarch64 jmp
  tests/disas/winch/aarch64/br/as_br_if_cond.wat
  tests/disas/winch/aarch64/br/as_br_value.wat
  tests/disas/winch/aarch64/br/as_if_cond.wat
  tests/disas/winch/aarch64/br/as_if_else.wat
  tests/disas/winch/aarch64/br/as_if_then.wat
  tests/disas/winch/aarch64/br/as_loop_first.wat
  tests/disas/winch/aarch64/br/br_jump.wat
  tests/disas/winch/aarch64/br_if/as_br_if_cond.wat
  tests/disas/winch/aarch64/br_if/as_br_value.wat
  tests/disas/winch/aarch64/br_if/as_if_cond.wat
  tests/disas/winch/aarch64/br_if/as_local_set_value.wat
  tests/disas/winch/aarch64/br_table/large.wat
  tests/disas/winch/aarch64/br_table/nested_br_table_loop_block.wat
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
Labels: winch

#9055 wasi-sockets: Return StreamError::Closed when the underlying socket is shut down.
  crates/test-programs/src/bin/preview2_tcp_streams.rs
  crates/wasi/src/tcp.rs
Labels: wasi

#9061 Simplify ABI selection and tail call integration
  crates/cranelift/src/lib.rs
  crates/environ/src/tunables.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/engine/serialization.rs
  tests/all/defaults.rs
  tests/all/module.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/visitor.rs
Labels: wasmtime:api, wasmtime:config, winch

#9077 Bump Wasmtime to 25.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/bitset/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#9079 riscv64: Stricter ISA flag checking when lowering instructions
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
Labels: cranelift, isle

#9087 wasmtime: Refactor trap-handling
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/vm/sys/custom/traphandlers.rs
  crates/wasmtime/src/runtime/vm/sys/unix/machports.rs
  crates/wasmtime/src/runtime/vm/sys/unix/signals.rs
  crates/wasmtime/src/runtime/vm/sys/windows/traphandlers.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
Labels: wasmtime:api

#9084 riscv64: Refactor Floating Point Instruction Emission
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/inst/encode.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/float.clif
Labels: cranelift, isle, cranelift:area:riscv64

#9094 Pass `--all-targets` to `cargo clippy` in CI
  .github/workflows/main.yml
  crates/wasmtime/src/runtime/vm/sys/unix/machports.rs
  tests/disas.rs
Labels: wasmtime:api

#9031 Use cmake to build wasmtime-c-api
  Cargo.toml
  crates/c-api/CMakeLists.txt
  crates/c-api/Cargo.toml
  crates/c-api/README.md
  crates/c-api/artifact/Cargo.toml
  crates/c-api/build.rs
  crates/c-api/cmake/features.cmake
  crates/c-api/cmake/install-headers.cmake
  crates/c-api/doxygen.conf.in
  crates/c-api/include/wasmtime/async.h
  crates/c-api/include/wasmtime/conf.h.in
Labels: wasmtime:c-api

#9102 [backport release-23.0.0] Use cmake to build wasmtime-c-api (#9031)
  Cargo.toml
  crates/c-api/CMakeLists.txt
  crates/c-api/Cargo.toml
  crates/c-api/README.md
  crates/c-api/artifact/Cargo.toml
  crates/c-api/build.rs
  crates/c-api/cmake/features.cmake
  crates/c-api/cmake/install-headers.cmake
  crates/c-api/doxygen.conf.in
  crates/c-api/include/wasmtime/async.h
  crates/c-api/include/wasmtime/conf.h.in
Labels: wasmtime:c-api

#9098 Update nightly used in CI
  .github/actions/install-rust/action.yml
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/values.rs
  crates/wasmtime/src/runtime/vm/cow.rs
  crates/wasmtime/src/runtime/vm/gc.rs
Labels: wasmtime:api, wasmtime:ref-types

#9105 Fix more `clippy::doc_lazy_continuation` lints
  cranelift/codegen/meta/src/shared/mod.rs
  cranelift/codegen/src/incremental_cache.rs
  cranelift/codegen/src/ir/entities.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/entity/src/sparse.rs
  cranelift/interpreter/src/state.rs
  cranelift/isle/isle/src/trie_again.rs
  crates/environ/src/compile/mod.rs
  crates/wasi-common/src/lib.rs
  crates/wasi-common/src/snapshots/mod.rs
  crates/wasmtime/src/runtime/vm/threads/parking_spot.rs
  winch/codegen/src/abi/local.rs
  winch/codegen/src/codegen/bounds.rs
  winch/codegen/src/visitor.rs
Labels: wasmtime:api, cranelift, cranelift:meta, wasi, isle, winch

#9108 ISLE: lexer simplifications
  cranelift/isle/fuzz/fuzz_targets/compile.rs
  cranelift/isle/isle/src/ast.rs
  cranelift/isle/isle/src/codegen.rs
  cranelift/isle/isle/src/compile.rs
  cranelift/isle/isle/src/error.rs
  cranelift/isle/isle/src/files.rs
  cranelift/isle/isle/src/lexer.rs
  cranelift/isle/isle/src/lib.rs
  cranelift/isle/isle/src/overlap.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/sema.rs
Labels: cranelift, isle

#9125 Refactor use of `CodeBuilder` on the CLI
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/compile/code_builder.rs
  crates/wasmtime/src/compile/runtime.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime/component/component.rs
  crates/wasmtime/src/runtime/module.rs
  src/commands/compile.rs
  src/common.rs
  tests/all/debug/obj.rs
Labels: wasmtime:api

#9085 Pulley: Add memory access instructions with 64-bit offsets
  pulley/fuzz/src/interp.rs
  pulley/src/interp.rs
  pulley/src/lib.rs
  pulley/tests/all/disas.rs
  pulley/tests/all/interp.rs
Labels: pulley

#9089 Cranelift: Add a new backend for emitting Pulley bytecode
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/src/isa/mod.rs
  cranelift/codegen/meta/src/isa/pulley.rs
  cranelift/codegen/meta/src/isle.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/pulley32.rs
  cranelift/codegen/src/isa/pulley64.rs
  cranelift/codegen/src/isa/pulley_shared/abi.rs
  cranelift/codegen/src/isa/pulley_shared/inst.isle
  cranelift/codegen/src/isa/pulley_shared/inst/args.rs
  cranelift/codegen/src/isa/pulley_shared/inst/emit.rs
  cranelift/codegen/src/isa/pulley_shared/inst/mod.rs
  cranelift/codegen/src/isa/pulley_shared/inst/regs.rs
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  cranelift/codegen/src/isa/pulley_shared/lower.rs
  cranelift/codegen/src/isa/pulley_shared/lower/isle.rs
  cranelift/codegen/src/isa/pulley_shared/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/pulley_shared/mod.rs
  cranelift/codegen/src/isa/pulley_shared/settings.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/reg.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/Cargo.toml
  cranelift/filetests/filetests/isa/pulley32/brif-icmp.clif
  cranelift/filetests/filetests/isa/pulley32/brif.clif
  cranelift/filetests/filetests/isa/pulley32/call.clif
  cranelift/filetests/filetests/isa/pulley32/get_stack_pointer.clif
  cranelift/filetests/filetests/isa/pulley32/iadd.clif
  cranelift/filetests/filetests/isa/pulley32/icmp.clif
  cranelift/filetests/filetests/isa/pulley32/iconst.clif
  cranelift/filetests/filetests/isa/pulley32/jump.clif
  cranelift/filetests/filetests/isa/pulley32/load.clif
  cranelift/filetests/filetests/isa/pulley32/store.clif
  cranelift/filetests/filetests/isa/pulley32/trap.clif
  cranelift/filetests/filetests/isa/pulley64/brif-icmp.clif
  cranelift/filetests/filetests/isa/pulley64/brif.clif
  cranelift/filetests/filetests/isa/pulley64/call.clif
  cranelift/filetests/filetests/isa/pulley64/get_stack_pointer.clif
  cranelift/filetests/filetests/isa/pulley64/iadd.clif
  cranelift/filetests/filetests/isa/pulley64/icmp.clif
  cranelift/filetests/filetests/isa/pulley64/iconst.clif
  cranelift/filetests/filetests/isa/pulley64/jump.clif
  cranelift/filetests/filetests/isa/pulley64/load.clif
  cranelift/filetests/filetests/isa/pulley64/store.clif
  cranelift/filetests/filetests/isa/pulley64/trap.clif
  cranelift/filetests/src/test_compile.rs
  pulley/src/interp.rs
  scripts/publish.rs
  supply-chain/audits.toml
  supply-chain/imports.lock
Labels: cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64, isle

#9129 wasi-filesystem: Implement `HostInputStream` & `HostOutputStream`
  crates/wasi-http/src/types_impl.rs
  crates/wasi/src/bindings.rs
  crates/wasi/src/filesystem.rs
  crates/wasi/src/host/filesystem.rs
  crates/wasi/src/host/io.rs
  crates/wasi/src/pipe.rs
  crates/wasi/src/preview1.rs
  crates/wasi/src/runtime.rs
  crates/wasi/src/stdio.rs
  crates/wasi/src/stream.rs
  crates/wasi/src/tcp.rs
  crates/wasi/src/write_stream.rs
Labels: wasi

#9133 Fix documentation copy-paste typo
  crates/wasmtime/src/runtime/gc/enabled/anyref.rs
Labels: wasmtime:api, wasmtime:ref-types

#9076 Add initial `f16` and `f128` support to the aarch64 backend
  cranelift/codegen/meta/src/isa/arm64.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/pcc.rs
  cranelift/codegen/src/isa/aarch64/settings.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/bitcast-fp16.clif
  cranelift/filetests/filetests/isa/aarch64/bitcast.clif
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/aarch64/constants-fp16.clif
  cranelift/filetests/filetests/isa/aarch64/constants.clif
  cranelift/filetests/filetests/isa/aarch64/load-f16-f128.clif
  cranelift/filetests/filetests/isa/aarch64/select-fp16.clif
  cranelift/filetests/filetests/isa/aarch64/select.clif
  cranelift/filetests/filetests/isa/aarch64/store-f16-f128.clif
  cranelift/filetests/filetests/runtests/bitcast-f16-f128.clif
  cranelift/filetests/filetests/runtests/f128const.clif
  cranelift/filetests/filetests/runtests/f16const.clif
  cranelift/filetests/filetests/runtests/select-f16-f128.clif
  cranelift/native/src/lib.rs
  crates/fuzzing/src/generators/codegen_settings.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  src/commands/compile.rs
Labels: wasmtime:api, cranelift, cranelift:meta, fuzzing, cranelift:area:aarch64, isle, wasmtime:config

#9082 Switch to new "user" stack maps and use `i32` for GC refs in Wasmtime
  Cargo.lock
  cranelift/codegen/src/ir/user_stack_maps.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/filetests/filetests/isa/aarch64/user_stack_maps.clif
  cranelift/filetests/filetests/isa/riscv64/user_stack_maps.clif
  cranelift/filetests/filetests/isa/s390x/user_stack_maps.clif
  cranelift/filetests/filetests/isa/x64/user_stack_maps.clif
  cranelift/frontend/src/frontend.rs
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/environ/spec.rs
  cranelift/wasm/src/func_translator.rs
  cranelift/wasm/src/translation_utils.rs
  crates/cranelift/Cargo.toml
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/gc.rs
  crates/cranelift/src/gc/enabled.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/builtin.rs
  crates/environ/src/stack_map.rs
  crates/fuzzing/src/oracles.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/gc/enabled/i31.rs
  crates/wasmtime/src/runtime/gc/enabled/rooting.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/vm/gc.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/drc.rs
  crates/wasmtime/src/runtime/vm/gc/gc_ref.rs
  crates/wasmtime/src/runtime/vm/gc/gc_runtime.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  tests/disas/nullref.wat
  tests/disas/ref-func-0.wat
  tests/disas/select.wat
  tests/disas/table-get-fixed-size.wat
  tests/disas/table-get.wat
  tests/disas/table-set-fixed-size.wat
  tests/disas/table-set.wat
Labels: wasmtime:api, cranelift, cranelift:area:machinst, fuzzing, cranelift:wasm, wasmtime:ref-types

#9135 riscv64: Initial support for FP16 math
  ci/build-test-matrix.js
  cranelift/codegen/meta/src/isa/riscv64.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/f16-bitcast.clif
  cranelift/filetests/filetests/isa/riscv64/f16-fma.clif
  cranelift/filetests/filetests/isa/riscv64/f16-memory.clif
  cranelift/filetests/filetests/isa/riscv64/f16-select.clif
  cranelift/filetests/filetests/isa/riscv64/f16.clif
  cranelift/filetests/filetests/isa/riscv64/f16const.clif
  cranelift/filetests/filetests/runtests/f128-bitcast.clif
  cranelift/filetests/filetests/runtests/f128-select.clif
  cranelift/filetests/filetests/runtests/f16-arithmetic.clif
  cranelift/filetests/filetests/runtests/f16-bitcast.clif
  cranelift/filetests/filetests/runtests/f16-fma.clif
  cranelift/filetests/filetests/runtests/f16-memory.clif
  cranelift/filetests/filetests/runtests/f16-select.clif
  cranelift/filetests/filetests/runtests/f16const.clif
Labels: cranelift, cranelift:meta, isle, cranelift:area:riscv64

#9137 Don't force `Multiple` on multi-result instructions
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/filetests/filetests/isa/x64/i128.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, isle

#9088 pulley: pack `dst`, `src1` and `src2` registers into 2 bytes
  cranelift/codegen/src/isa/pulley_shared/inst/args.rs
  cranelift/codegen/src/isa/pulley_shared/inst/emit.rs
  cranelift/codegen/src/isa/pulley_shared/inst/regs.rs
  cranelift/filetests/filetests/isa/pulley32/brif.clif
  cranelift/filetests/filetests/isa/pulley32/call.clif
  cranelift/filetests/filetests/isa/pulley32/iadd.clif
  cranelift/filetests/filetests/isa/pulley32/icmp.clif
  cranelift/filetests/filetests/isa/pulley32/trap.clif
  cranelift/filetests/filetests/isa/pulley64/brif.clif
  cranelift/filetests/filetests/isa/pulley64/call.clif
  cranelift/filetests/filetests/isa/pulley64/iadd.clif
  cranelift/filetests/filetests/isa/pulley64/icmp.clif
  cranelift/filetests/filetests/isa/pulley64/trap.clif
  pulley/README.md
  pulley/fuzz/src/interp.rs
  pulley/src/decode.rs
  pulley/src/disas.rs
  pulley/src/encode.rs
  pulley/src/interp.rs
  pulley/src/lib.rs
  pulley/src/regs.rs
  pulley/tests/all/disas.rs
  pulley/tests/all/interp.rs
Labels: cranelift, pulley

#9147 Release Wasmtime 24.0.0
  RELEASES.md
Labels: wasmtime:docs

#9159 Cranelift: Remove the old stack maps implementation
  cranelift/codegen/src/binemit/mod.rs
  cranelift/codegen/src/binemit/stack_map.rs
  cranelift/codegen/src/ir/user_stack_maps.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/pulley_shared/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_state.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/src/compile.rs
  cranelift/src/disasm.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#9078 Cranelift: add stack_switch CLIF instruction
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/stack_switch.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude_lower.isle
  cranelift/codegen/src/settings.rs
  cranelift/filetests/filetests/isa/x64/stack_switch.clif
  cranelift/interpreter/src/step.rs
  crates/wasmtime/src/engine.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:x64

#9158 Update handling of wasm features and `*.wast` testing
  cranelift/wasm/src/code_translator.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/compile/code_builder.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/store.rs
  tests/wast.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/visitor.rs
Labels: wasmtime:api, cranelift, cranelift:wasm, wasmtime:config, winch

#9099 pulley: superinstructions for pushing/popping list of registers
  Cargo.lock
  cranelift/bitset/Cargo.toml
  cranelift/bitset/src/scalar.rs
  cranelift/filetests/filetests/isa/pulley32/get_stack_pointer.clif
  cranelift/filetests/filetests/isa/pulley32/trap.clif
  cranelift/filetests/filetests/isa/pulley64/get_stack_pointer.clif
  cranelift/filetests/filetests/isa/pulley64/trap.clif
  pulley/Cargo.toml
  pulley/README.md
  pulley/fuzz/src/interp.rs
  pulley/src/decode.rs
  pulley/src/disas.rs
  pulley/src/encode.rs
  pulley/src/interp.rs
  pulley/src/lib.rs
  pulley/src/op.rs
  pulley/src/regs.rs
  pulley/tests/all/disas.rs
  scripts/publish.rs
Labels: cranelift, pulley

#9162 Update the consequences of disabling the `gc` crate feature
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  tests/wast.rs
Labels: wasmtime:api, wasmtime:config

#9168 Refactor how wasm features are spelled/enabled
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, wasmtime:config
