Repository bytecodealliance/wasmtime, pull requests merged in 2024-10, with the labels that each got.

#9325 Enable a few miscellaneous Clippy lints
  Cargo.toml
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/flowgraph.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/debug/transform/expression.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/gc/enabled.rs
  crates/test-programs/src/bin/preview1_file_pread_pwrite.rs
  crates/test-programs/src/bin/preview1_file_read_write.rs
  crates/wasi-preview1-component-adapter/src/descriptors.rs
  crates/wasi/src/preview1.rs
  crates/wasmtime/src/runtime/coredump.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/trampoline/global.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/table_pool.rs
  tests/all/externals.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
Labels: wasmtime:api, cranelift, wasi, cranelift:area:aarch64, wasmtime:ref-types, winch

#9342 Merge `wasmtime-types` into `wasmtime-environ`
  Cargo.lock
  Cargo.toml
  crates/environ/Cargo.toml
  crates/environ/src/compile/module_artifacts.rs
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/compile/module_types.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/types.rs
  crates/environ/src/component/types_builder.rs
  crates/environ/src/error.rs
  crates/environ/src/gc.rs
  crates/environ/src/lib.rs
  crates/environ/src/module.rs
  crates/environ/src/module_artifacts.rs
  crates/environ/src/module_types.rs
  crates/environ/src/prelude.rs
  crates/environ/src/types.rs
  crates/environ/src/vmoffsets.rs
  crates/types/Cargo.toml
  crates/types/LICENSE
  crates/wasmtime/src/runtime/types.rs
  scripts/publish.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: wasmtime:api

#9354 winch: Properly define destination registers
  winch/codegen/src/codegen/bounds.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/control.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/reg.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#9355 Update CI nightly to the latest nightly
  .github/actions/install-rust/action.yml
  crates/component-util/src/lib.rs
  crates/test-programs/src/bin/api_reactor.rs
  crates/wasmtime/src/runtime/vm/sys/unix/machports.rs
  crates/wasmtime/src/runtime/vm/sys/unix/signals.rs
  fuzz/fuzz_targets/differential.rs
Labels: wasmtime:api, fuzzing

#9359 Improve a couple debug assertions for `{Array,Struct}Ref::from_cloned_gc_ref`
  crates/wasmtime/src/runtime/gc/enabled/arrayref.rs
  crates/wasmtime/src/runtime/gc/enabled/structref.rs
Labels: wasmtime:api, wasmtime:ref-types

#9358 Implement the `array.init_elem` Wasm GC instruction
  crates/wasmtime/src/runtime/vm/libcalls.rs
  tests/wast.rs
Labels: wasmtime:api

#9252 Winch aarch64 dynamic heap
  tests/disas/winch/aarch64/load/dynamic_heap.wat
  tests/disas/winch/aarch64/store/dynamic_heap.wat
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
Labels: winch

#9378 Bump Wasmtime to 27.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/bitset/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, isle

#9251 Pulley: tail calls
  .github/workflows/main.yml
  Cargo.toml
  pulley/Cargo.toml
  pulley/src/decode.rs
  pulley/src/interp.rs
  pulley/src/interp/interp_loop.rs
  pulley/src/lib.rs
Labels: pulley

#9381 Configure WIT feature gates at runtime & implement wasi-cli `exit-with-code`
  crates/cli-flags/src/lib.rs
  crates/component-macro/src/bindgen.rs
  crates/component-macro/tests/codegen/unstable-features.wit
  crates/component-macro/tests/expanded/unstable-features.rs
  crates/component-macro/tests/expanded/unstable-features_async.rs
  crates/component-macro/tests/expanded/unstable-features_tracing_async.rs
  crates/test-programs/src/bin/cli_exit_with_code.rs
  crates/test-programs/src/lib.rs
  crates/wasi-common/src/lib.rs
  crates/wasi/src/bindings.rs
  crates/wasi/src/error.rs
  crates/wasi/src/host/exit.rs
  crates/wasi/src/lib.rs
  crates/wit-bindgen/src/lib.rs
  src/commands/run.rs
  src/commands/serve.rs
  src/common.rs
  tests/all/cli_tests.rs
  tests/all/component_model/bindgen.rs
Labels: wasi

#9376 winch: Finalize migration to proper destination registers
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
Labels: winch

#9393 Increase alignment of empty mmap pointers
  crates/wasmtime/src/runtime/vm/sys/custom/mmap.rs
  crates/wasmtime/src/runtime/vm/sys/miri/mmap.rs
  crates/wasmtime/src/runtime/vm/sys/mod.rs
  crates/wasmtime/src/runtime/vm/sys/unix/mmap.rs
  crates/wasmtime/src/runtime/vm/sys/windows/mmap.rs
  tests/all/pooling_allocator.rs
Labels: wasmtime:api

#9398 s390x cleanup: Remove unused memcpy infrastructure
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/args.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
Labels: cranelift, isle

#9394 docs(readme): mention wasmtime_home
  README.md
Labels: wasmtime:docs

#9404 Rename wasi-runtime-config to wasi-config
  Cargo.lock
  Cargo.toml
  ci/vendor-wit.sh
  crates/cli-flags/src/lib.rs
  crates/test-programs/artifacts/build.rs
  crates/test-programs/src/bin/cli_serve_config.rs
  crates/test-programs/src/bin/config_get.rs
  crates/test-programs/src/bin/runtime_config_get.rs
  crates/test-programs/src/lib.rs
  crates/wasi-config/Cargo.toml
  crates/wasi-config/src/lib.rs
  crates/wasi-config/tests/main.rs
  crates/wasi-config/wit/deps/config/store.wit
  crates/wasi-config/wit/deps/config/world.wit
  crates/wasi-config/wit/world.wit
  crates/wasi-keyvalue/src/lib.rs
  crates/wasi-runtime-config/wit/deps/runtime-config/world.wit
  docs/stability-tiers.md
  scripts/publish.rs
  src/commands/run.rs
  src/commands/serve.rs
  supply-chain/config.toml
  supply-chain/imports.lock
  tests/all/cli_tests.rs
Labels: wasmtime:docs

#9276 wasi-sockets: Add `network-error-code`
  crates/cli-flags/src/lib.rs
  crates/wasi/src/host/network.rs
  src/common.rs
Labels: wasi

#9370 Release Wasmtime 24.0.1
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/bitset/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch

#9366 Release Wasmtime 25.0.2
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/bitset/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  pulley/Cargo.toml
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch, pulley

#9365 Release Wasmtime 23.0.3
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/bitset/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch

#9364 Release Wasmtime 22.0.1
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch

#9363 Release Wasmtime 21.0.2
  Cargo.lock
  Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, cranelift:module, cranelift:wasm, isle, winch

#9420 Change stack walking to stop at a precise fp
  crates/cranelift/src/compiler.rs
  crates/environ/src/vmoffsets.rs
  crates/fuzzing/src/generators/stacks.rs
  crates/fuzzing/src/oracles/stacks.rs
  crates/wasmtime/src/runtime/vm/arch/aarch64.rs
  crates/wasmtime/src/runtime/vm/arch/mod.rs
  crates/wasmtime/src/runtime/vm/arch/riscv64.rs
  crates/wasmtime/src/runtime/vm/arch/s390x.rs
  crates/wasmtime/src/runtime/vm/arch/unsupported.rs
  crates/wasmtime/src/runtime/vm/arch/x86_64.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
  crates/wasmtime/src/runtime/vm/traphandlers/backtrace.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  tests/all/traps.rs
Labels: wasmtime:api, fuzzing

#9435 Implement the Wasm GC instructions for converting between `anyref` and `externref`
  crates/c-api/src/ref.rs
  crates/cranelift/src/translate/code_translator.rs
  crates/environ/src/gc.rs
  crates/fuzzing/src/oracles.rs
  crates/wasmtime/src/runtime/gc/enabled/anyref.rs
  crates/wasmtime/src/runtime/gc/enabled/externref.rs
  crates/wasmtime/src/runtime/gc/enabled/rooting.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/drc.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/externref.rs
  crates/wasmtime/src/runtime/vm/gc/gc_ref.rs
  crates/wast/src/core.rs
  crates/wast/src/wast.rs
  examples/externref.rs
  tests/all/async_functions.rs
  tests/all/externals.rs
  tests/all/func.rs
  tests/all/gc.rs
  tests/all/host_funcs.rs
  tests/disas/gc/array-new-fixed.wat
  tests/disas/gc/array-new.wat
  tests/disas/gc/funcref-in-gc-heap-new.wat
  tests/disas/gc/ref-test-array.wat
  tests/disas/gc/ref-test-struct.wat
  tests/disas/gc/struct-new-default.wat
  tests/disas/gc/struct-new.wat
  tests/misc_testsuite/gc/array-alloc-too-large.wast
  tests/wast.rs
Labels: wasmtime:api, wasmtime:c-api, fuzzing, wasmtime:ref-types

#9433 Document a Wasmtime-specific vulnerability runbook
  docs/SUMMARY.md
  docs/contributing-release-process.md
  docs/security-vulnerability-runbook.md
Labels: wasmtime:docs

#9434 Update docs/stabilization of wasm proposals
  crates/wasmtime/src/config.rs
  docs/SUMMARY.md
  docs/contributing-implementing-wasm-proposals.md
  docs/stability-tiers.md
  docs/stability-wasm-proposals.md
Labels: wasmtime:api, wasmtime:docs, wasmtime:config

#9452 Add a test that fuzzers generate wasm proposals
  crates/fuzzing/src/oracles.rs
  docs/stability-wasm-proposals.md
Labels: fuzzing, wasmtime:docs

#9456 fix doc mistake in `interp_loop.rs`
  pulley/src/interp/interp_loop.rs
Labels: pulley

#9457 Change how env vars work in `differential` fuzzer
  crates/fuzzing/src/oracles/engine.rs
  fuzz/fuzz_targets/differential.rs
Labels: fuzzing

#9468 Add links to tracking issues for unimplemented wasm proposals
  docs/stability-wasm-proposals.md
Labels: wasmtime:docs

#9459 Add I128 atomic support to the `x64` backend
  cranelift/codegen/meta/src/isa/x86.rs
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/atomic-128.clif
  cranelift/filetests/filetests/runtests/atomic-128.clif
  cranelift/native/src/lib.rs
  crates/fuzzing/src/generators/codegen_settings.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
Labels: wasmtime:api, cranelift, cranelift:meta, fuzzing, cranelift:area:x64, isle, wasmtime:config

#9475 Fix a timeout in fuzzing
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#9462 Add general fuzzing support for custom page sizes
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/module.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/diff_spec.rs
  crates/fuzzing/src/oracles/diff_v8.rs
  crates/fuzzing/src/oracles/diff_wasmi.rs
  docs/stability-wasm-proposals.md
Labels: fuzzing, wasmtime:docs

#9470 Move JIT debug image registration to CodeMemory
  crates/environ/src/compile/module_artifacts.rs
  crates/environ/src/module_artifacts.rs
  crates/wasmtime/src/runtime/code_memory.rs
  crates/wasmtime/src/runtime/instantiate.rs
  tests/all/debug/lldb.rs
Labels: wasmtime:api

#9476 A couple minor Wasm GC codegen improvements
  crates/cranelift/src/gc/enabled.rs
  crates/cranelift/src/gc/enabled/drc.rs
  tests/disas/gc/array-fill.wat
  tests/disas/gc/array-get-s.wat
  tests/disas/gc/array-get-u.wat
  tests/disas/gc/array-get.wat
  tests/disas/gc/array-len.wat
  tests/disas/gc/array-new-fixed.wat
  tests/disas/gc/array-new.wat
  tests/disas/gc/array-set.wat
  tests/disas/gc/br-on-cast-fail.wat
  tests/disas/gc/br-on-cast.wat
  tests/disas/gc/externref-globals.wat
  tests/disas/gc/funcref-in-gc-heap-get.wat
  tests/disas/gc/funcref-in-gc-heap-new.wat
  tests/disas/gc/funcref-in-gc-heap-set.wat
  tests/disas/gc/multiple-array-get.wat
  tests/disas/gc/multiple-struct-get.wat
  tests/disas/gc/ref-cast.wat
  tests/disas/gc/ref-test-array.wat
  tests/disas/gc/ref-test-concrete-type.wat
  tests/disas/gc/ref-test-eq.wat
  tests/disas/gc/ref-test-struct.wat
  tests/disas/gc/struct-get.wat
  tests/disas/gc/struct-new-default.wat
  tests/disas/gc/struct-new.wat
  tests/disas/gc/struct-set.wat
  tests/disas/ref-func-0.wat
  tests/disas/table-get-fixed-size.wat
  tests/disas/table-get.wat
  tests/disas/table-set-fixed-size.wat
  tests/disas/table-set.wat
Labels: wasmtime:ref-types

#9482 Fix a Cranelift panic on aarch64 vector constants
  cranelift/codegen/src/isa/aarch64/inst.isle
  tests/misc_testsuite/simd/interesting-float-splat.wast
Labels: cranelift, cranelift:area:aarch64

#9361 s390x: Hard code the link register for ElfTlsGetOffset
  cranelift/bforest/src/node.rs
  cranelift/codegen/src/isa/riscv64/inst/imms.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.isle
Labels: cranelift

#9480 winch: Remove some `#[allow(dead_code)]` directives
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/reg.rs
  winch/codegen/src/isa/x64/regs.rs
  winch/codegen/src/masm.rs
Labels: winch

#9489 Release Wasmtime 26.0.0
  RELEASES.md
Labels: wasmtime:docs

#9479 Switch libunwind detection to using weak symbols
  crates/wasmtime/src/runtime/vm/helpers.c
  crates/wasmtime/src/runtime/vm/sys/unix/unwind.rs
Labels: wasmtime:api

#9500 Implement wide-arithmetic for Winch
  crates/fuzzing/src/generators/config.rs
  tests/wast.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: fuzzing, winch

#9502 wasi-sockets: Allow TCP connect from a Bound state.
  crates/test-programs/src/bin/preview2_tcp_connect.rs
  crates/wasi/src/tcp.rs
Labels: wasi

#9495 Improve `atomic_rmw` lowering on `x86`
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/codegen/src/machinst/inst_common.rs
  cranelift/filetests/filetests/egraph/not_a_load.clif
  cranelift/filetests/filetests/isa/x64/atomic-rmw.clif
  cranelift/filetests/filetests/runtests/atomic-rmw-little.clif
  cranelift/filetests/filetests/runtests/atomic-rmw-subword-big.clif
  cranelift/filetests/filetests/runtests/atomic-rmw-subword-little.clif
Labels: cranelift, cranelift:area:x64

#9513 Refactor `WasmparserTypeConverter` to avoid needing a `Module`
  crates/cranelift/src/func_environ.rs
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/compile/module_types.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/types_builder.rs
  winch/codegen/src/codegen/env.rs
Labels: winch
