Repository bytecodealliance/wasmtime, pull requests merged in 2024-04, with the labels that each got.

#8276 Remove workaround for fixed object bug
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#8277 Update wiggle's `BorrowChecker` implementation
  crates/wiggle/src/borrow.rs
  crates/wiggle/src/guest_type.rs
  crates/wiggle/src/lib.rs
  crates/wiggle/src/wasmtime.rs
  crates/wiggle/test-helpers/src/lib.rs
Labels: wasi

#8275 cranelift: Fix indirect tail calls on aarch64/riscv64
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/aarch64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/riscv64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/x64/return-call-indirect.clif
  cranelift/filetests/filetests/runtests/return-call-indirect.clif
Labels: cranelift, cranelift:area:aarch64, isle

#8291 Fix typo in comment section of winch/codegen [ci skip]
  winch/codegen/src/isa/mod.rs
  winch/codegen/src/masm.rs
Labels: winch

#8282 Separate TCP implementation from the host bindings
  crates/wasi/src/host/network.rs
  crates/wasi/src/host/tcp.rs
  crates/wasi/src/tcp.rs
Labels: wasi

#8290 Add link to what-is-a-security-bug to SECURITY.md
  SECURITY.md
Labels: wasmtime:docs

#8294 cranelift: Remove unused `old_signatures` field
  cranelift/codegen/src/ir/dfg.rs
Labels: cranelift

#8292 cranelift: Specialize StackAMode::FPOffset
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8296 cranelift: Simplify spill/reload emission
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst

#8295 winch: Add support for address maps
  cranelift/codegen/src/machinst/buffer.rs
  crates/winch/src/builder.rs
  crates/winch/src/compiler.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/masm.rs
Labels: cranelift, cranelift:area:machinst, winch

#8299 cranelift/x64: Rely on zero-extended constants
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/lower.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64

#8297 cranelift: Specialize uses of StackAMode::SPOffset
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#8302 Bump Wasmtime to 21.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#8308 cranelift/aarch64: Remove types from address-modes
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/pcc.rs
  winch/codegen/src/isa/aarch64/address.rs
Labels: cranelift, cranelift:area:aarch64, winch

#8311 cranelift/riscv64: Remove unused type parameters from address modes
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
Labels: cranelift, isle

#8317 Cranelift: Do not dedupe/GVN bitcasts from reference values
  cranelift/codegen/src/bitset.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/filetests/filetests/egraph/bitcast-ref.clif
  crates/runtime/src/gc/enabled/drc.rs
  crates/runtime/src/gc/gc_runtime.rs
  crates/runtime/src/gc/host_data.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/table.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/gc/enabled/rooting.rs
  crates/wasmtime/src/runtime/store.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst

#8316 cranelift: Simplify StackAMode variants
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8313 NaN-canonicalization without branching on x64
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/nan_canonicalization.rs
  cranelift/filetests/filetests/isa/aarch64/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/riscv64/nan-canonicalization-has_v.clif
  cranelift/filetests/filetests/isa/riscv64/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/s390x/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/x64/nan-canonicalization-sse41.clif
  cranelift/filetests/filetests/isa/x64/nan-canonicalization.clif
Labels: cranelift, cranelift:area:x64

#8318 Add 19.0.1 release notes to main
  RELEASES.md
Labels: wasmtime:docs

#8320 winch: Refactor the MacroAssembler trait
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#8310 Disable traps by default in `bindgen!` imports
  crates/component-macro/src/bindgen.rs
  crates/component-macro/tests/codegen.rs
  crates/wasi-http/src/lib.rs
  crates/wasi-nn/src/wit.rs
  crates/wasi/src/bindings.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wit-bindgen/src/lib.rs
  examples/component/main.rs
  tests/all/component_model/bindgen.rs
  tests/all/component_model/bindgen/results.rs
Labels: wasmtime:api, wasi

#8324 winch: Remove stale testing docs
  winch/docs/testing.md
Labels: winch

#8325 Backport https://github.com/bytecodealliance/wasmtime/pull/8323 to the Wasmtime 19 release branch
  RELEASES.md
  crates/environ/src/component/translate.rs
  tests/all/component_model/aot.rs
Labels: wasmtime:docs

#8303 optimize perfermance of fd_read/fd_write
  crates/wasi/src/preview1.rs
Labels: wasi

#8335 [18.0.0] cranelift: Include clobbers and outgoing args in stack limit
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/filetests/filetests/isa/aarch64/stack-limit.clif
  cranelift/filetests/filetests/isa/riscv64/stack-limit.clif
  cranelift/filetests/filetests/isa/s390x/stack-limit.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8336 [17.0.0] cranelift: Include clobbers and outgoing args in stack limit
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/filetests/filetests/isa/aarch64/stack-limit.clif
  cranelift/filetests/filetests/isa/riscv64/stack-limit.clif
  cranelift/filetests/filetests/isa/s390x/stack-limit.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8334 [19.0.0] cranelift: Include clobbers and outgoing args in stack limit
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/filetests/filetests/isa/aarch64/stack-limit.clif
  cranelift/filetests/filetests/isa/riscv64/stack-limit.clif
  cranelift/filetests/filetests/isa/s390x/stack-limit.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8328 Release Wasmtime 18.0.4
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#8329 Release Wasmtime 19.0.2
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#8337 Release Wasmtime 17.0.3
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#8319 Always reserve space for outgoing args
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/aarch64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/riscv64/call.clif
  cranelift/filetests/filetests/isa/riscv64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/x64/call-conv.clif
  cranelift/filetests/filetests/isa/x64/fastcall.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/struct-arg.clif
  cranelift/filetests/filetests/isa/x64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/x64/uext-sext-handling.clif
  cranelift/filetests/filetests/isa/x64/winch.clif
  tests/disas/winch/x64/load/grow_load.wat
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8343 Don't gate on `cargo vet` for PRs
  .github/workflows/main.yml
  docs/contributing-coding-guidelines.md
Labels: wasmtime:docs

#8340 Fix a few minor issues with `fd_{write,read}`
  crates/wasi/src/filesystem.rs
  crates/wasi/src/preview1.rs
Labels: wasi

#8344 `wasmtime-c-api`: Better differentiate between `wasm.h` and `wasmtime.h` APIs
  crates/c-api/src/async.rs
  crates/c-api/src/extern.rs
  crates/c-api/src/func.rs
  crates/c-api/src/global.rs
  crates/c-api/src/instance.rs
  crates/c-api/src/linker.rs
  crates/c-api/src/memory.rs
  crates/c-api/src/store.rs
  crates/c-api/src/table.rs
  crates/c-api/src/val.rs
Labels: wasmtime:c-api

#8349 Move `VMSharedTypeIndex` to the `wasmtime-types` crate
  crates/runtime/src/component.rs
  crates/runtime/src/gc/gc_ref.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/vmcontext.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/module/registry.rs
  crates/wasmtime/src/runtime/trampoline.rs
  crates/wasmtime/src/runtime/type_registry.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/types/matching.rs
Labels: wasmtime:api

#8066 wasmtime-c-api: switch from wasi-common to wasmtime-wasi
  Cargo.lock
  crates/c-api/Cargo.toml
  crates/c-api/src/error.rs
  crates/c-api/src/linker.rs
  crates/c-api/src/store.rs
  crates/c-api/src/wasi.rs
  crates/wasi/src/lib.rs
  crates/wasi/src/stdio.rs
Labels: wasmtime:c-api, wasi

#8350 Update the `wasm-tools` family of crates to 0.203.0
  Cargo.lock
  Cargo.toml
  crates/environ/src/component/translate.rs
  crates/environ/src/fact.rs
  crates/fuzzing/src/generators/stacks.rs
  crates/fuzzing/src/generators/table_ops.rs
  crates/types/src/lib.rs
  crates/wasi-preview1-component-adapter/build.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/runtime/coredump.rs
  supply-chain/imports.lock
Labels: wasmtime:api, fuzzing

#8354 Use an incremental cache when testing WASI
  Cargo.lock
  crates/test-programs/artifacts/Cargo.toml
  crates/test-programs/artifacts/src/lib.rs
  crates/wasi-common/tests/all/async_.rs
  crates/wasi-common/tests/all/main.rs
  crates/wasi-common/tests/all/sync.rs
  crates/wasi-http/tests/all/async_.rs
  crates/wasi-http/tests/all/sync.rs
  crates/wasi/Cargo.toml
  crates/wasi/tests/all/api.rs
  crates/wasi/tests/all/async_.rs
  crates/wasi/tests/all/main.rs
  crates/wasi/tests/all/preview1.rs
  crates/wasi/tests/all/sync.rs
Labels: wasi

#8353 Fix running wasi-common tests on CI
  Cargo.lock
  crates/wasi-common/Cargo.toml
  crates/wasi-common/src/snapshots/preview_1.rs
Labels: wasi

#8358 Update release notes for 20.0.0
  RELEASES.md
Labels: wasmtime:docs

#8356 Enable the gc feature by default in the c-api
  crates/c-api/Cargo.toml
  crates/c-api/artifact/Cargo.toml
Labels: wasmtime:c-api

#8346 `wasmtime-c-api`: Add support for GC references in `wasmtime.h` APIs
  crates/c-api/include/wasmtime/config.h
  crates/c-api/include/wasmtime/val.h
  crates/c-api/src/config.rs
  crates/c-api/src/ref.rs
  crates/c-api/src/types/val.rs
  crates/c-api/src/val.rs
  examples/CMakeLists.txt
  examples/anyref.c
  examples/anyref.rs
  examples/anyref.wat
  examples/externref.c
Labels: wasmtime:c-api

#8360 fuzzgen: Use the correct ISA when running NaN Canonicalization pass
  cranelift/codegen/src/isa/mod.rs
  cranelift/fuzzgen/src/lib.rs
Labels: cranelift

#8364 Remove `wasi_config_preopen_socket` from C header
  crates/c-api/include/wasi.h
Labels: wasmtime:c-api

#8366 Tidy up some headers related to shared memory
  crates/c-api/include/wasmtime/extern.h
  crates/c-api/include/wasmtime/sharedmemory.h
  crates/c-api/src/sharedmemory.rs
Labels: wasmtime:c-api

#8363 c-api: Fix alignment of `wasmtime_val_*`
  crates/c-api/include/wasmtime/val.h
  crates/c-api/src/val.rs
  crates/cranelift/src/compiler.rs
  crates/runtime/src/vmcontext.rs
Labels: wasmtime:c-api

#8365 winch(arm64): fpu arithmetics (add, sub, mul, div, min, max) and regalloc
  tests/disas/winch/aarch64/f32_add/const.wat
  tests/disas/winch/aarch64/f32_add/locals.wat
  tests/disas/winch/aarch64/f32_add/params.wat
  tests/disas/winch/aarch64/f32_div/const.wat
  tests/disas/winch/aarch64/f32_div/locals.wat
  tests/disas/winch/aarch64/f32_div/params.wat
  tests/disas/winch/aarch64/f32_max/const.wat
  tests/disas/winch/aarch64/f32_max/locals.wat
  tests/disas/winch/aarch64/f32_max/params.wat
  tests/disas/winch/aarch64/f32_min/const.wat
  tests/disas/winch/aarch64/f32_min/locals.wat
  tests/disas/winch/aarch64/f32_min/params.wat
  tests/disas/winch/aarch64/f32_mul/const.wat
  tests/disas/winch/aarch64/f32_mul/locals.wat
  tests/disas/winch/aarch64/f32_mul/params.wat
  tests/disas/winch/aarch64/f32_sub/const.wat
  tests/disas/winch/aarch64/f32_sub/locals.wat
  tests/disas/winch/aarch64/f32_sub/params.wat
  tests/disas/winch/aarch64/f64_add/const.wat
  tests/disas/winch/aarch64/f64_add/locals.wat
  tests/disas/winch/aarch64/f64_add/params.wat
  tests/disas/winch/aarch64/f64_div/const.wat
  tests/disas/winch/aarch64/f64_div/locals.wat
  tests/disas/winch/aarch64/f64_div/params.wat
  tests/disas/winch/aarch64/f64_max/const.wat
  tests/disas/winch/aarch64/f64_max/locals.wat
  tests/disas/winch/aarch64/f64_max/params.wat
  tests/disas/winch/aarch64/f64_min/const.wat
  tests/disas/winch/aarch64/f64_min/locals.wat
  tests/disas/winch/aarch64/f64_min/params.wat
  tests/disas/winch/aarch64/f64_mul/const.wat
  tests/disas/winch/aarch64/f64_mul/locals.wat
  tests/disas/winch/aarch64/f64_mul/params.wat
  tests/disas/winch/aarch64/f64_sub/const.wat
  tests/disas/winch/aarch64/f64_sub/locals.wat
  tests/disas/winch/aarch64/f64_sub/params.wat
  winch/codegen/src/isa/aarch64/abi.rs
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/aarch64/regs.rs
  winch/codegen/src/regalloc.rs
  winch/codegen/src/regset.rs
Labels: winch

#8327 Eagerly reserve tail call stack arg space
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/filetests/filetests/isa/x64/call-conv.clif
  cranelift/filetests/filetests/isa/x64/fastcall.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/llvm-abi-no-split-stack-u128.clif
  cranelift/filetests/filetests/isa/x64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/x64/return-call.clif
  cranelift/filetests/filetests/isa/x64/struct-arg.clif
  cranelift/filetests/filetests/isa/x64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/x64/tail-stack-limit.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8368 [20.0.0] More backports of fixes, mostly c-api related
  .github/actions/install-cargo-vet/action.yml
  .github/workflows/main.yml
  Cargo.lock
  RELEASES.md
  crates/c-api/Cargo.toml
  crates/c-api/artifact/Cargo.toml
  crates/c-api/include/wasi.h
  crates/c-api/include/wasmtime/config.h
  crates/c-api/include/wasmtime/extern.h
  crates/c-api/include/wasmtime/sharedmemory.h
  crates/c-api/include/wasmtime/val.h
  crates/c-api/src/async.rs
  crates/c-api/src/config.rs
  crates/c-api/src/extern.rs
  crates/c-api/src/func.rs
  crates/c-api/src/global.rs
  crates/c-api/src/instance.rs
  crates/c-api/src/linker.rs
  crates/c-api/src/memory.rs
  crates/c-api/src/ref.rs
  crates/c-api/src/sharedmemory.rs
  crates/c-api/src/store.rs
  crates/c-api/src/table.rs
  crates/c-api/src/types/val.rs
  crates/c-api/src/val.rs
  crates/cranelift/src/compiler.rs
  crates/runtime/src/vmcontext.rs
  crates/types/src/lib.rs
  crates/wasi-common/Cargo.toml
  crates/wasi-common/src/snapshots/preview_1.rs
  docs/rust_wasi_markdown_parser/Cargo.toml
  docs/rust_wasi_markdown_parser/example_markdown.md
  docs/rust_wasi_markdown_parser/src/main.rs
  examples/CMakeLists.txt
  examples/anyref.c
  examples/anyref.rs
  examples/anyref.wat
  examples/externref.c
  tests/all/func.rs
Labels: wasmtime:c-api, wasi, wasmtime:docs

#8374 c-api: Create `RootScope` where necessary
  crates/c-api/src/async.rs
  crates/c-api/src/func.rs
  crates/c-api/src/global.rs
  crates/c-api/src/table.rs
  crates/c-api/src/val.rs
Labels: wasmtime:c-api

#8373 Use the test harness for the cranelift-tools::filetests test
  cranelift/Cargo.toml
  cranelift/tests/filetests.rs
Labels: cranelift

#8376 cranelift: Simplify checking whether probestack is needed
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/settings.rs
  crates/wasmtime/src/engine.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta

#8372 Update ir.md
  cranelift/docs/ir.md
Labels: cranelift, cranelift:docs

#8377 Avoid copying the frame for tail calls on aarch64
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/args.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/pcc.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/filetests/filetests/isa/aarch64/call-pauth-bkey.clif
  cranelift/filetests/filetests/isa/aarch64/call-pauth.clif
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/aarch64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/aarch64/return-call.clif
  cranelift/filetests/filetests/isa/aarch64/tail-call-conv.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, isle

#8385 Ensure that indirect tail calls on x64 don't clobber the destination register
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/filetests/filetests/isa/x64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/x64/return-call.clif
  cranelift/filetests/filetests/isa/x64/tail-call-conv.clif
  cranelift/filetests/filetests/runtests/tail-call-conv.clif
Labels: cranelift, cranelift:area:x64

#8386 Update to the `wasm-tools` family of crates to 1.204.0
  Cargo.lock
  Cargo.toml
  cranelift/filetests/src/test_wasm/env.rs
  cranelift/wasm/src/environ/dummy.rs
  crates/environ/examples/factc.rs
  crates/environ/fuzz/fuzz_targets/fact-valid-module.rs
  crates/environ/src/component/translate/adapt.rs
  crates/environ/src/module_environ.rs
  crates/fuzzing/src/generators/table_ops.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/store.rs
  supply-chain/imports.lock
Labels: wasmtime:api, cranelift, fuzzing, cranelift:wasm, wasmtime:config

#8387 cranelift: Represent RealReg using PReg, not VReg
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/regs.rs
  cranelift/codegen/src/machinst/reg.rs
  winch/codegen/src/isa/reg.rs
Labels: cranelift, cranelift:area:machinst, winch

#8390 cranelift: Factor out splitting clobbered regs by class
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/machinst/abi.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8378 cranelift/PCC: Only process real address modes
  cranelift/codegen/src/isa/x64/pcc.rs
Labels: cranelift, cranelift:area:x64

#8400 ir.md: Remove references to `bconst`
  cranelift/docs/ir.md
Labels: cranelift, cranelift:docs

#8389 Use callee-save registers in tail calls on aarch64
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/filetests/filetests/isa/aarch64/fuzzbug-60035.clif
  cranelift/filetests/filetests/isa/aarch64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/aarch64/return-call.clif
  cranelift/filetests/filetests/isa/aarch64/tail-call-conv.clif
Labels: cranelift, cranelift:area:aarch64

#8393 PPC: Fix validation error on PolyBenchC
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/aarch64/pcc.rs
  cranelift/filetests/filetests/pcc/succeed/const.clif
Labels: cranelift, cranelift:area:aarch64, isle

#8398 cranelift: Emit argument location uses eagerly in gen_arg
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64

#8402 Fix x64 clobber offsets with unwind info
  cranelift/codegen/src/isa/x64/abi.rs
Labels: cranelift, cranelift:area:x64

#8403 cranelift/aarch64: Simplify generating constants
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
Labels: cranelift, cranelift:area:aarch64, isle

#8406 aarch64: Fixed destination register for return_call_indirect
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/filetests/filetests/isa/aarch64/call-pauth-bkey.clif
  cranelift/filetests/filetests/isa/aarch64/call-pauth.clif
  cranelift/filetests/filetests/isa/aarch64/fuzzbug-60035.clif
  cranelift/filetests/filetests/isa/aarch64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/aarch64/return-call.clif
  cranelift/filetests/filetests/isa/aarch64/tail-call-conv.clif
Labels: cranelift, cranelift:area:aarch64

#8405 Use callee-save registers for the riscv64 tail calling convention
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/filetests/filetests/isa/riscv64/fuzzbug-60035.clif
  cranelift/filetests/filetests/isa/riscv64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/riscv64/return-call.clif
  cranelift/filetests/filetests/isa/riscv64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/riscv64/zca.clif
Labels: cranelift

#8362 x64: Refactor float comparisons and their representations
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:x64, winch

#8357 Forward-port some release notes to main
  RELEASES.md
Labels: wasmtime:docs

#8409 x64: Add AVX-encoded versions of `ucomis{s,d}` and `ptest`
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/branches.clif
  cranelift/filetests/filetests/isa/x64/f64-branches-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-logical-compile-avx.clif
  cranelift/filetests/filetests/isa/x64/very-carefully-sink-loads-in-float-compares.clif
Labels: cranelift, cranelift:area:x64

#8407 x64: Use r10 for the indirect tail call destination
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/x64/return-call.clif
  cranelift/filetests/filetests/isa/x64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/x64/winch.clif
Labels: cranelift, cranelift:area:x64

#8404 Add support for recursion groups in the types registry
  .github/workflows/main.yml
  cranelift/entity/src/lib.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/examples/factc.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/adapt.rs
  crates/environ/src/component/types.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/module_types.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/trampoline/table.rs
  crates/wasmtime/src/runtime/type_registry.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/types/matching.rs
  tests/all/wast.rs
  tests/misc_testsuite/gc/rec-group-funcs.wast
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/codegen/mod.rs
Labels: wasmtime:api, cranelift, cranelift:wasm, winch

#8408 x64: Swap operand order of `cmp` in internal representation
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/pcc.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: cranelift, cranelift:area:x64, winch

#8422 Fix handling of large branch values in cranelift_frontend::Switch
  cranelift/frontend/src/switch.rs
Labels: cranelift

#8423 cranelift/codegen: move `get_isle_compilations` to meta crate
  cranelift/codegen/build.rs
  cranelift/codegen/meta/src/isle.rs
  cranelift/codegen/meta/src/lib.rs
Labels: cranelift, cranelift:meta

#8419 Update release date of Wasmtime 20.0.0
  RELEASES.md
Labels: wasmtime:docs

#8434 Fix a panic calling host functions with refs in async mode
  crates/wasmtime/src/runtime/func.rs
  tests/all/async_functions.rs
Labels: wasmtime:api

#8439 [20.0.0] Fix a panic calling host functions with refs in async mode
  crates/wasmtime/src/runtime/func.rs
  tests/all/async_functions.rs
Labels: wasmtime:api

#8420 Release Wasmtime 20.0.0
  RELEASES.md
Labels: wasmtime:docs

#8427 cranelift/x64: Optimize i128 comparisons
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/i128.clif
Labels: cranelift, cranelift:area:x64

#8445 cranelift/x64: Use immediates for all 32-bit constants
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
Labels: cranelift, cranelift:area:x64, isle

#8441 Support additional_derives option in bindgen
  Cargo.lock
  crates/component-macro/Cargo.toml
  crates/component-macro/src/bindgen.rs
  crates/component-macro/tests/codegen.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wit-bindgen/src/lib.rs
Labels: wasmtime:api

#8440 Add a fuzzer for async wasm
  Cargo.lock
  crates/fiber/build.rs
  crates/fiber/src/lib.rs
  crates/fiber/src/unix.rs
  crates/fiber/src/windows.rs
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/async_config.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/oracles.rs
  crates/runtime/build.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/generic_stack_pool.rs
  crates/runtime/src/instance/allocator/pooling/unix_stack_pool.rs
  crates/wasmtime/src/runtime/store.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/call_async.rs
Labels: wasmtime:api, fuzzing

#8447 winch: Handle -W tail-call
  crates/cranelift/src/lib.rs
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, wasmtime:config

#8449 cranelift/s390x: Use PRegs consistently
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/regs.rs
Labels: cranelift

#8453 cranelift(aarch64): Add single precision fmov
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
Labels: cranelift, cranelift:area:aarch64

#8455 cranelift: Simplify recording vcode register aliases
  cranelift/codegen/src/machinst/lower.rs
Labels: cranelift, cranelift:area:machinst

#8055 Add initial support for DWARF Fission
  .github/workflows/main.yml
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/debug/gc.rs
  crates/cranelift/src/debug/transform/attr.rs
  crates/cranelift/src/debug/transform/line_program.rs
  crates/cranelift/src/debug/transform/mod.rs
  crates/cranelift/src/debug/transform/unit.rs
  crates/cranelift/src/debug/write_debuginfo.rs
  crates/environ/src/compile/mod.rs
  crates/environ/src/compile/module_artifacts.rs
  crates/environ/src/module_environ.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/compile/code_builder.rs
  crates/wasmtime/src/compile/runtime.rs
  crates/wasmtime/src/runtime/module.rs
  crates/winch/src/compiler.rs
  tests/all/debug/lldb.rs
  tests/all/debug/testsuite/dwarf_fission.c
  tests/all/debug/testsuite/dwarf_fission.dwp
  tests/all/debug/testsuite/dwarf_fission.wasm
Labels: wasmtime:api, wasmtime:c-api, wasi, winch

#8456 cranelift: Generalize type constraints on Writable
  cranelift/codegen/src/machinst/reg.rs
Labels: cranelift, cranelift:area:machinst

#8459 cranelift/riscv64: Inline multi-reg operand collector helpers
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/machinst/reg.rs
Labels: cranelift, cranelift:area:machinst

#8460 winch(aarch64): Use single precision fmov
  tests/disas/winch/aarch64/f32_add/const.wat
  tests/disas/winch/aarch64/f32_add/locals.wat
  tests/disas/winch/aarch64/f32_add/params.wat
  tests/disas/winch/aarch64/f32_div/const.wat
  tests/disas/winch/aarch64/f32_div/locals.wat
  tests/disas/winch/aarch64/f32_div/params.wat
  tests/disas/winch/aarch64/f32_max/const.wat
  tests/disas/winch/aarch64/f32_max/locals.wat
  tests/disas/winch/aarch64/f32_max/params.wat
  tests/disas/winch/aarch64/f32_min/const.wat
  tests/disas/winch/aarch64/f32_min/locals.wat
  tests/disas/winch/aarch64/f32_min/params.wat
  tests/disas/winch/aarch64/f32_mul/const.wat
  tests/disas/winch/aarch64/f32_mul/locals.wat
  tests/disas/winch/aarch64/f32_mul/params.wat
  tests/disas/winch/aarch64/f32_sub/const.wat
  tests/disas/winch/aarch64/f32_sub/locals.wat
  tests/disas/winch/aarch64/f32_sub/params.wat
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
Labels: winch

#8452 cranelift/x64: Stop cloning Imm8Reg wrappers
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/pcc.rs
Labels: cranelift, cranelift:area:x64, isle

#8458 cranelift: Simplify operand collector
  cranelift/codegen/src/machinst/reg.rs
Labels: cranelift, cranelift:area:machinst

#8461 c-api: Tidy up some `wasmtime_func_t` usage
  crates/c-api/include/wasmtime/extern.h
  crates/c-api/include/wasmtime/val.h
  crates/c-api/src/val.rs
  crates/wasmtime/src/runtime/store/data.rs
Labels: wasmtime:api, wasmtime:c-api

#8451 c-api: Remove allocations from `wasmtime_val_t`
  crates/c-api/include/wasmtime/global.h
  crates/c-api/include/wasmtime/val.h
  crates/c-api/src/ref.rs
  crates/c-api/src/val.rs
  crates/wasmtime/src/runtime/gc/enabled/rooting.rs
  crates/wasmtime/src/runtime/store/data.rs
  examples/anyref.c
  examples/externref.c
Labels: wasmtime:api, wasmtime:c-api

#8468 Fix `ObjectBuilder` doc links
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#8470 cranelift: Remove some unnecessary Callee state
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst

#8429 Allow sleep form of poll_oneoff for wasmtime-wasi
  crates/wasi/src/preview1.rs
Labels: wasi

#8466 cranelift: Simplify "no VReg aliases" assertions
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst

#8475 cranelift: Simplify allocating ABI temp VRegs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/filetests/filetests/isa/s390x/call.clif
Labels: cranelift, cranelift:area:machinst

#8469 cranelift: Simplify computing the clobber set
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst

#8463 Start migrating some Wasmtime crates to no_std
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/reader/Cargo.toml
  crates/asm-macros/src/lib.rs
  crates/cache/Cargo.toml
  crates/component-util/src/lib.rs
  crates/environ/Cargo.toml
  crates/jit-icache-coherence/Cargo.toml
  crates/jit-icache-coherence/src/lib.rs
  crates/jit-icache-coherence/src/libc.rs
  crates/jit-icache-coherence/src/miri.rs
  crates/jit-icache-coherence/src/win.rs
  crates/test-programs/Cargo.toml
  crates/wasi-preview1-component-adapter/verify/Cargo.toml
  examples/min-platform/Cargo.toml
Labels: cranelift

#8464 cranelift: Don't resolve VReg aliases too early
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst

#8457 cranelift: Don't recompute allocatable register set
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst

#8487 Disable Criterion's "plotters" feature
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
Labels: cranelift

#8425 winch(aarch64): abs, ceil, floor, nearest, trunc, neg, sqrt
  tests/disas/winch/aarch64/f32_abs/f32_abs_const.wat
  tests/disas/winch/aarch64/f32_abs/f32_abs_param.wat
  tests/disas/winch/aarch64/f32_ceil/f32_ceil_const.wat
  tests/disas/winch/aarch64/f32_ceil/f32_ceil_param.wat
  tests/disas/winch/aarch64/f32_floor/f32_floor_const.wat
  tests/disas/winch/aarch64/f32_floor/f32_floor_param.wat
  tests/disas/winch/aarch64/f32_nearest/f32_nearest_const.wat
  tests/disas/winch/aarch64/f32_nearest/f32_nearest_param.wat
  tests/disas/winch/aarch64/f32_neg/f32_neg_const.wat
  tests/disas/winch/aarch64/f32_neg/f32_neg_param.wat
  tests/disas/winch/aarch64/f32_sqrt/f32_sqrt_const.wat
  tests/disas/winch/aarch64/f32_sqrt/f32_sqrt_param.wat
  tests/disas/winch/aarch64/f32_trunc/f32_trunc_const.wat
  tests/disas/winch/aarch64/f32_trunc/f32_trunc_param.wat
  tests/disas/winch/aarch64/f64_abs/f64_abs_const.wat
  tests/disas/winch/aarch64/f64_abs/f64_abs_param.wat
  tests/disas/winch/aarch64/f64_ceil/f64_ceil_const.wat
  tests/disas/winch/aarch64/f64_ceil/f64_ceil_param.wat
  tests/disas/winch/aarch64/f64_floor/f64_floor_const.wat
  tests/disas/winch/aarch64/f64_floor/f64_floor_param.wat
  tests/disas/winch/aarch64/f64_nearest/f64_nearest_const.wat
  tests/disas/winch/aarch64/f64_nearest/f64_nearest_param.wat
  tests/disas/winch/aarch64/f64_neg/f64_neg_const.wat
  tests/disas/winch/aarch64/f64_neg/f64_neg_param.wat
  tests/disas/winch/aarch64/f64_sqrt/f64_sqrt_const.wat
  tests/disas/winch/aarch64/f64_sqrt/f64_sqrt_param.wat
  tests/disas/winch/aarch64/f64_trunc/f64_trunc_const.wat
  tests/disas/winch/aarch64/f64_trunc/f64_trunc_param.wat
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/masm.rs
Labels: winch

#8491 Encapsulate StableMap, StableSet and DisjointSets
  cranelift/isle/isle/src/codegen.rs
  cranelift/isle/isle/src/disjointsets.rs
  cranelift/isle/isle/src/lib.rs
  cranelift/isle/isle/src/sema.rs
  cranelift/isle/isle/src/serialize.rs
  cranelift/isle/isle/src/stablemapset.rs
  cranelift/isle/isle/src/trie_again.rs
Labels: cranelift, isle

#8486 cranelift: Update operand aliases in-place
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/reg.rs
  cranelift/codegen/src/machinst/valueregs.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8481 wasmtime(gc): Add support for array types
  Cargo.lock
  crates/c-api/src/table.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/gc/enabled.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/compile/module_types.rs
  crates/environ/src/component/types_builder.rs
  crates/environ/src/module_types.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/instance/allocator.rs
  crates/runtime/src/table.rs
  crates/runtime/src/vmcontext.rs
  crates/types/src/lib.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/runtime/coredump.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/gc/enabled/anyref.rs
  crates/wasmtime/src/runtime/gc/enabled/externref.rs
  crates/wasmtime/src/runtime/gc/enabled/i31.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/type_registry.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/types/matching.rs
  crates/wasmtime/src/runtime/v128.rs
  crates/wasmtime/src/runtime/values.rs
  tests/all/func.rs
  tests/all/main.rs
  tests/all/types.rs
  tests/misc_testsuite/component-model/modules.wast
  tests/misc_testsuite/gc/array-types.wast
  tests/misc_testsuite/linking-errors.wast
Labels: wasmtime:api, wasmtime:c-api, fuzzing

#8479 cranelift: Only set VReg type once
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst

#8471 cranelift: Pass source location through directly
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst

#8492 Add the `wasmtime::Ref::null` constructor and use it in a few places
  crates/c-api/src/table.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/values.rs
Labels: wasmtime:api, wasmtime:c-api, fuzzing

#8494 cranelift/riscv64: Fix `mv` instruction pretty-printing
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/filetests/filetests/isa/riscv64/reftypes.clif
Labels: cranelift

#8495 typos in comments
  crates/cli-flags/src/lib.rs
  crates/fuzzing/src/generators/value.rs
  crates/runtime/src/component/resources.rs
  crates/runtime/src/cow.rs
  crates/runtime/src/export.rs
  crates/wasi-nn/examples/classification-component-onnx/src/bindings.rs
  crates/wasmtime/src/runtime/component/types.rs
Labels: wasmtime:api, fuzzing

#8499 cranelift: Generalize OperandCollector into a trait
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/vector.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/reg.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8497 fix(c-api): give a cleaner error message if cargo isn't found
  crates/c-api/CMakeLists.txt
Labels: wasmtime:c-api

#8498 Fxhash to rustchash
  Cargo.lock
  Cargo.toml
  cranelift/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/alias_analysis.rs
  cranelift/codegen/src/ctxhash.rs
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/egraph/elaborate.rs
  cranelift/codegen/src/fx.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/remove_constant_phis.rs
  cranelift/codegen/src/scoped_hash_map.rs
  cranelift/src/souper_harvest.rs
Labels: cranelift, cranelift:area:machinst

#8493 cranelift: Move VReg aliases to VRegAllocator
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst

#8503 cranelift: Split predecessor/successor lists
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst
