Repository bytecodealliance/wasmtime, pull requests merged in 2024-02, with the labels that each got.

#7844 Fix handling of `Tunables` on cross-compiles
  crates/cranelift/src/builder.rs
  crates/environ/src/lib.rs
  crates/environ/src/tunables.rs
  crates/runtime/src/instance/allocator/pooling.rs
  crates/runtime/src/instance/allocator/pooling/memory_pool.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/runtime/memory.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/trampoline/func.rs
  crates/wasmtime/src/runtime/trampoline/memory.rs
  crates/wasmtime/src/runtime/trampoline/table.rs
  winch/filetests/src/lib.rs
  winch/src/compile.rs
Labels: wasmtime:api, wasmtime:config, winch

#7866 x64: Add `{u,s}mulhi.i8` instruction support
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/smulhi.clif
  cranelift/filetests/filetests/isa/x64/umulhi.clif
  cranelift/filetests/filetests/runtests/smulhi.clif
  cranelift/filetests/filetests/runtests/umulhi.clif
  cranelift/fuzzgen/src/function_generator.rs
Labels: cranelift, cranelift:area:x64

#7854 Add C API for GuestProfiler
  crates/c-api/include/wasmtime.h
  crates/c-api/include/wasmtime/profiling.h
  crates/c-api/src/lib.rs
  crates/c-api/src/profiling.rs
Labels: wasmtime:c-api

#7862 Update and add lots of docs, mostly for components
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime/component/component.rs
  crates/wasmtime/src/runtime/component/func.rs
  crates/wasmtime/src/runtime/component/func/typed.rs
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wasmtime/src/runtime/component/values.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/store.rs
Labels: wasmtime:api, wasmtime:config

#7837 Add wasmtime-c-api-impl to the list of crates to publish
  Cargo.lock
  Cargo.toml
  crates/c-api-macros/Cargo.toml
  crates/c-api-macros/src/lib.rs
  crates/c-api/Cargo.toml
  crates/c-api/README.md
  crates/c-api/build.rs
  crates/c-api/src/lib.rs
  scripts/publish.rs
Labels: wasmtime:c-api

#7859 Cranelift: Use a fixpoint loop to compute the best value for each eclass
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/egraph/cost.rs
  cranelift/codegen/src/egraph/elaborate.rs
  cranelift/codegen/src/opts/README.md
  cranelift/codegen/src/opts/cprop.isle
  cranelift/filetests/filetests/egraph/issue-7875.clif
Labels: cranelift

#7872 Add wasmtime-c-api-impl to the list of crates to publish (#7837)
  Cargo.lock
  Cargo.toml
  crates/c-api-macros/Cargo.toml
  crates/c-api-macros/src/lib.rs
  crates/c-api/Cargo.toml
  crates/c-api/README.md
  crates/c-api/build.rs
  crates/c-api/src/lib.rs
  scripts/publish.rs
Labels: wasmtime:c-api

#7873 Accept explicit CPU delta time in GuestProfiler
  crates/c-api/include/wasmtime/profiling.h
  crates/c-api/src/profiling.rs
  crates/wasmtime/src/runtime/profiling.rs
  src/commands/run.rs
Labels: wasmtime:api, wasmtime:c-api

#7882 Guard recursion in `will_simplify_with_ireduce`
  cranelift/codegen/src/opts/extends.isle
  cranelift/filetests/filetests/egraph/associative-and-commutative.clif
Labels: cranelift, isle

#7875 Update itertools to 0.12 in cranelift_wasm
  Cargo.lock
  cranelift/wasm/Cargo.toml
  deny.toml
Labels: cranelift, cranelift:wasm

#7894 winch: Add support for WebAssembly loads/stores
  build.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  fuzz/fuzz_targets/differential.rs
  tests/misc_testsuite/winch/block.wast
  tests/misc_testsuite/winch/br.wast
  tests/misc_testsuite/winch/br_if.wast
  tests/misc_testsuite/winch/br_table.wast
  tests/misc_testsuite/winch/call.wast
  tests/misc_testsuite/winch/call_indirect.wast
  tests/misc_testsuite/winch/f32.wast
  tests/misc_testsuite/winch/f32_bitwise.wast
  tests/misc_testsuite/winch/f32_cmp.wast
  tests/misc_testsuite/winch/f64.wast
  tests/misc_testsuite/winch/f64_bitwise.wast
  tests/misc_testsuite/winch/f64_cmp.wast
  tests/misc_testsuite/winch/global.wast
  tests/misc_testsuite/winch/i32.wast
  tests/misc_testsuite/winch/i64.wast
  tests/misc_testsuite/winch/if.wast
  tests/misc_testsuite/winch/local_get.wast
  tests/misc_testsuite/winch/local_set.wast
  tests/misc_testsuite/winch/local_tee.wast
  tests/misc_testsuite/winch/loop.wast
  tests/misc_testsuite/winch/memory_fill.wast
  tests/misc_testsuite/winch/memory_grow.wast
  tests/misc_testsuite/winch/memory_init.wast
  tests/misc_testsuite/winch/memory_size.wast
  tests/misc_testsuite/winch/select.wast
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/bounds.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/frame/mod.rs
  winch/codegen/src/isa/aarch64/abi.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/trampoline.rs
  winch/codegen/src/visitor.rs
  winch/filetests/filetests/x64/load/f32.wat
  winch/filetests/filetests/x64/load/f64.wat
  winch/filetests/filetests/x64/load/i32.wat
  winch/filetests/filetests/x64/load/i64.wat
  winch/filetests/filetests/x64/store/f32.wat
  winch/filetests/filetests/x64/store/f64.wat
  winch/filetests/filetests/x64/store/i32.wat
  winch/filetests/filetests/x64/store/i64.wat
Labels: cranelift, fuzzing, cranelift:area:x64, winch

#7892 Refactor `wasmtime::FuncType` to hold a handle to its registered type
  benches/call.rs
  benches/trap.rs
  crates/c-api/src/async.rs
  crates/c-api/src/extern.rs
  crates/c-api/src/func.rs
  crates/c-api/src/linker.rs
  crates/c-api/src/module.rs
  crates/c-api/src/types/export.rs
  crates/c-api/src/types/extern.rs
  crates/c-api/src/types/func.rs
  crates/c-api/src/types/global.rs
  crates/c-api/src/types/import.rs
  crates/c-api/src/types/memory.rs
  crates/c-api/src/types/table.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/wasmtime/src/runtime/component/types.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/trampoline/func.rs
  crates/wasmtime/src/runtime/type_registry.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/types/matching.rs
  tests/all/async_functions.rs
  tests/all/call_hook.rs
  tests/all/component_model/dynamic.rs
  tests/all/coredump.rs
  tests/all/epoch_interruption.rs
  tests/all/func.rs
  tests/all/funcref.rs
  tests/all/host_funcs.rs
  tests/all/import_calling_export.rs
  tests/all/import_indexes.rs
  tests/all/pooling_allocator.rs
  tests/all/stack_creator.rs
  tests/all/traps.rs
Labels: wasmtime:api, fuzzing

#7871 x64: Refactor multiplication instructions
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/mul.clif
  cranelift/filetests/filetests/isa/x64/popcnt.clif
  cranelift/filetests/filetests/isa/x64/smulhi.clif
  cranelift/filetests/filetests/isa/x64/umulhi.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:x64, winch

#7895 wasi-sockets: (TCP) Use tokio's built in methods to perform the state changes
  crates/wasi/src/preview2/host/network.rs
  crates/wasi/src/preview2/host/tcp.rs
  crates/wasi/src/preview2/tcp.rs
Labels: wasi

#7908 Update a few crates on their major version tracks
  Cargo.lock
  Cargo.toml
  crates/cache/Cargo.toml
  crates/cache/src/config.rs
  crates/cache/src/config/tests.rs
  crates/cache/src/tests.rs
  crates/cache/src/worker.rs
  crates/cache/src/worker/tests.rs
  crates/environ/Cargo.toml
  crates/test-programs/artifacts/Cargo.toml
  crates/wasi/src/preview2/preview1.rs
  supply-chain/audits.toml
  supply-chain/imports.lock
Labels: wasi

#7746 unionfind: robustly avoid changing `Idx`s in the GVN map
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/unionfind.rs
  cranelift/filetests/filetests/egraph/shifts.clif
  cranelift/filetests/filetests/egraph/unordered.clif
Labels: cranelift

#7915 Constant propagate int-to-float conversions
  cranelift/codegen/src/opts.rs
  cranelift/codegen/src/opts/cprop.isle
  cranelift/codegen/src/opts/vector.isle
  cranelift/filetests/filetests/egraph/fcvt-from-int.clif
  tests/misc_testsuite/int-to-float-splat.wast
Labels: cranelift, isle

#7919 x64: Add `fcvt_from_uint` lowering for i64x2
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/fcvt-avx.clif
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/runtests/simd-fcvt-from-uint.clif
Labels: cranelift, cranelift:area:x64

#7902 Perform stronger typechecks of host-owned resources
  crates/wasmtime/src/runtime/component/func.rs
  crates/wasmtime/src/runtime/component/func/options.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wasmtime/src/runtime/component/resources.rs
  crates/wasmtime/src/runtime/store.rs
  tests/all/component_model/resources.rs
Labels: wasmtime:api

#7876 Preview 2 filesystem: track open_mode instead of reporting the permissions
  crates/test-programs/src/bin/preview1_fd_filestat_set.rs
  crates/test-programs/src/bin/preview1_path_link.rs
  crates/test-programs/src/bin/preview1_path_open_read_write.rs
  crates/wasi/src/preview2/ctx.rs
  crates/wasi/src/preview2/filesystem.rs
  crates/wasi/src/preview2/host/filesystem.rs
Labels: wasi

#7922 Remove the use of the union-find structure during elaboration
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/egraph/elaborate.rs
Labels: cranelift

#7638 Discard 0-sized writes to files
  crates/test-programs/src/bin/preview1_file_pread_pwrite.rs
  crates/wasi-common/src/sync/file.rs
  crates/wasi-common/src/tokio/file.rs
  crates/wasi/src/preview2/filesystem.rs
Labels: wasi

#7927 winch: Optimize calls
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/regalloc.rs
  winch/codegen/src/stack.rs
  winch/codegen/src/visitor.rs
Labels: cranelift, cranelift:area:x64, isle, winch

#7932 Fully enable Winch in the `differential` fuzzer
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/oracles/diff_wasmtime.rs
  crates/fuzzing/src/oracles/engine.rs
  fuzz/fuzz_targets/differential.rs
Labels: fuzzing

#7917 Shrink the size of int-to-float conversions
  cranelift/codegen/src/opts/arithmetic.isle
  cranelift/filetests/filetests/egraph/fcvt.clif
  cranelift/filetests/filetests/egraph/vector.clif
Labels: cranelift, isle

#7934 Restructure the MacroAssembler interface to clobbers
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/trampoline.rs
Labels: winch

#7938 Fix running MIRI tests on macOS
  crates/runtime/src/sys/miri/traphandlers.rs
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, wasmtime:config

#7945 Fix UB in cranelift-jit when trying to define a zero sized data object
  cranelift/jit/src/backend.rs
  cranelift/jit/tests/basic.rs
Labels: cranelift

#7789 mpk: restore PKRU state when a fiber resumes execution
  crates/runtime/src/mpk/disabled.rs
  crates/runtime/src/mpk/enabled.rs
  crates/runtime/src/mpk/mod.rs
  crates/wasmtime/src/runtime/store.rs
  tests/all/async_functions.rs
Labels: wasmtime:api

#7944 wasi-io: Forbid empty poll list.
  crates/test-programs/src/bin/preview2_pollable_correct.rs
  crates/test-programs/src/bin/preview2_pollable_traps.rs
  crates/wasi-http/wit/deps/io/poll.wit
  crates/wasi/src/preview2/poll.rs
  crates/wasi/tests/all/async_.rs
  crates/wasi/tests/all/sync.rs
  crates/wasi/wit/deps/io/poll.wit
Labels: wasi

#7949 winch: Ensure correct handling of libcalls
  cranelift/codegen/src/lib.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/filetests/filetests/x64/f32_ceil/f32_ceil_param.wat
  winch/filetests/filetests/x64/f32_floor/f32_floor_param.wat
  winch/filetests/filetests/x64/f32_nearest/f32_nearest_param.wat
  winch/filetests/filetests/x64/f32_trunc/f32_trunc_param.wat
  winch/filetests/filetests/x64/f64_ceil/f64_ceil_param.wat
  winch/filetests/filetests/x64/f64_floor/f64_floor_param.wat
  winch/filetests/filetests/x64/f64_nearest/f64_nearest_param.wat
  winch/filetests/filetests/x64/f64_trunc/f64_trunc_param.wat
Labels: cranelift, winch

#7948 cranelift: Remove redundant dominator-tree structure
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/egraph/domtree.rs
  cranelift/codegen/src/egraph/elaborate.rs
Labels: cranelift

#7953 Miscellaneous tweaks to speed up call/RPS benchmarks
  crates/runtime/src/instance.rs
  crates/runtime/src/send_sync_ptr.rs
  crates/runtime/src/traphandlers.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/store.rs
Labels: wasmtime:api

#7957 Update release date of Wasmtime 18.0.0
  RELEASES.md
Labels: wasmtime:docs

#7961 Write release notes for 18.0.0
  RELEASES.md
Labels: wasmtime:docs

#7958 Release Wasmtime 18.0.0
  RELEASES.md
Labels: wasmtime:docs

#7943 Wasmtime: Finish support for the typed function references proposal
  benches/call.rs
  crates/c-api/src/func.rs
  crates/c-api/src/lib.rs
  crates/c-api/src/ref.rs
  crates/c-api/src/table.rs
  crates/c-api/src/types/table.rs
  crates/c-api/src/types/val.rs
  crates/c-api/src/val.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/module.rs
  crates/environ/src/module_types.rs
  crates/fuzzing/src/generators/value.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/diff_wasmtime.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/runtime/src/table.rs
  crates/runtime/src/vmcontext.rs
  crates/types/src/lib.rs
  crates/wasi-threads/src/lib.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/runtime/component/func/options.rs
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/component/types.rs
  crates/wasmtime/src/runtime/coredump.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/trampoline/global.rs
  crates/wasmtime/src/runtime/type_registry.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/types/matching.rs
  crates/wasmtime/src/runtime/v128.rs
  crates/wasmtime/src/runtime/values.rs
  crates/wast/src/core.rs
  crates/wast/src/spectest.rs
  crates/wast/src/wast.rs
  examples/externref.rs
  src/commands/run.rs
  tests/all/async_functions.rs
  tests/all/externals.rs
  tests/all/func.rs
  tests/all/funcref.rs
  tests/all/gc.rs
  tests/all/host_funcs.rs
  tests/all/invoke_func_via_table.rs
  tests/all/limits.rs
  tests/all/linker.rs
  tests/all/pooling_allocator.rs
  tests/all/table.rs
  tests/all/traps.rs
  tests/all/winch.rs
Labels: wasmtime:api, wasmtime:c-api, fuzzing, wasmtime:config

#7661 Reserve handle index 0 in the component model
  crates/runtime/src/component.rs
  crates/runtime/src/component/libcalls.rs
  crates/runtime/src/component/resources.rs
  crates/wasmtime/src/runtime/component/func/options.rs
  crates/wasmtime/src/runtime/component/resources.rs
  tests/all/component_model/resources.rs
  tests/misc_testsuite/component-model/resources.wast
Labels: wasmtime:api

#7977 winch: Use the `vmctx!` macro where possible
  winch/codegen/src/codegen/bounds.rs
  winch/codegen/src/isa/x64/masm.rs
Labels: winch

#7978 s390x: Fix TLS GD relocation order
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/filetests/filetests/isa/s390x/tls_elf.clif
Labels: cranelift, cranelift:area:machinst

#7980 Enable compiling the Wasmtime CLI to Wasm
  .github/workflows/main.yml
  Cargo.toml
  crates/wasmtime/src/engine.rs
  src/bin/wasmtime.rs
  src/commands.rs
  src/commands/compile.rs
  src/common.rs
  src/lib.rs
Labels: wasmtime:api

#7986 Split out `TypeRegistry`'s open-coded slab arena into into a reusable type
  Cargo.lock
  Cargo.toml
  crates/slab/Cargo.toml
  crates/slab/src/lib.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/runtime/type_registry.rs
  scripts/publish.rs
Labels: wasmtime:api

#7975 Wasmtime: Add a `gc` cargo feature
  .github/workflows/main.yml
  crates/c-api/Cargo.toml
  crates/cli-flags/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/cranelift/src/func_environ.rs
  crates/environ/Cargo.toml
  crates/environ/src/builtin.rs
  crates/fuzzing/Cargo.toml
  crates/runtime/Cargo.toml
  crates/runtime/src/externref.rs
  crates/runtime/src/externref/gc.rs
  crates/runtime/src/externref/no_gc.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/libcalls.rs
  crates/runtime/src/table.rs
  crates/runtime/src/vmcontext.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/module/registry.rs
  crates/wasmtime/src/runtime/ref.rs
  crates/wasmtime/src/runtime/ref/gc_ref.rs
  crates/wasmtime/src/runtime/ref/no_gc_ref.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/trampoline/global.rs
  crates/wasmtime/src/runtime/uninhabited.rs
  crates/wasmtime/src/runtime/values.rs
  crates/wast/Cargo.toml
  winch/codegen/src/codegen/builtin.rs
  winch/filetests/filetests/x64/table/fill.wat
Labels: wasmtime:api, wasmtime:c-api, wasmtime:ref-types, wasmtime:config, winch

#7994 Make `component::Linker` semver-aware
  Cargo.lock
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/runtime/component/linker.rs
  crates/wasmtime/src/runtime/component/matching.rs
  tests/all/component_model.rs
  tests/all/component_model/linker.rs
Labels: wasmtime:api

#8008 Backport #8005 to release-18.0.0
  RELEASES.md
  cranelift/codegen/src/opts/extends.isle
  cranelift/codegen/src/prelude_opt.isle
Labels: cranelift, wasmtime:docs, isle

#7995 Add a "custom" platform configuration for Wasmtime
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  crates/runtime/src/sys/custom/capi.rs
  crates/runtime/src/sys/custom/mmap.rs
  crates/runtime/src/sys/custom/mod.rs
  crates/runtime/src/sys/custom/traphandlers.rs
  crates/runtime/src/sys/custom/unwind.rs
  crates/runtime/src/sys/custom/vm.rs
  crates/runtime/src/sys/mod.rs
  docs/examples-minimal.md
  docs/stability-platform-support.md
  examples/min-platform/.gitignore
  examples/min-platform/Cargo.toml
  examples/min-platform/README.md
  examples/min-platform/build.sh
  examples/min-platform/embedding/Cargo.toml
  examples/min-platform/embedding/aarch64-unknown-unknown.json
  examples/min-platform/embedding/src/allocator.rs
  examples/min-platform/embedding/src/lib.rs
  examples/min-platform/embedding/wasmtime-platform.c
  examples/min-platform/embedding/wasmtime-platform.h
  examples/min-platform/embedding/x86_64-unknown-unknown.json
  examples/min-platform/src/main.rs
  supply-chain/audits.toml
  supply-chain/imports.lock
Labels: wasmtime:docs

#7993 Winch: Use Option<u8> for register indexes
  build.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/filetests/filetests/aarch64/params/400_params.wat
Labels: winch
