Repository bytecodealliance/wasmtime, pull requests merged in 2024-01, with the labels that each got.

#7719 Simplify ireduce of modular operators, when it mean strictly fewer instructions
  cranelift/codegen/src/opts/arithmetic.isle
  cranelift/codegen/src/opts/extends.isle
  cranelift/codegen/src/prelude_opt.isle
  cranelift/filetests/filetests/egraph/arithmetic.clif
  cranelift/filetests/filetests/egraph/extends.clif
Labels: cranelift, isle

#7723 Fix clif-util run fails directly when target is specified
  cranelift/src/run.rs
Labels: cranelift

#7736 Document disabling `debug-builtins` a bit more
  RELEASES.md
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/lib.rs
Labels: wasmtime:api, wasmtime:docs, wasmtime:config

#7711 Optimize more reduction-of-an-extend cases
  cranelift/codegen/src/opts/extends.isle
  cranelift/filetests/filetests/egraph/arithmetic.clif
  cranelift/filetests/filetests/egraph/extends.clif
Labels: cranelift, isle

#7721 winch: Add memory instructions
  build.rs
  fuzz/fuzz_targets/differential.rs
  tests/misc_testsuite/winch/memory_fill.wast
  tests/misc_testsuite/winch/memory_grow.wast
  tests/misc_testsuite/winch/memory_init.wast
  tests/misc_testsuite/winch/memory_size.wast
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: fuzzing, winch

#7741 docs: fix typos
  ci/merge-artifacts.sh
  docs/contributing-release-process.md
  docs/examples-profiling-vtune.md
Labels: wasmtime:docs

#7744 cmake: remove unused file copy
  crates/c-api/CMakeLists.txt
Labels: wasmtime:c-api

#7688 feat: implement `Resource<T>` -> `ResourceAny` conversion
  cranelift/entity/src/primary.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/component/linker.rs
  crates/wasmtime/src/component/matching.rs
  crates/wasmtime/src/component/mod.rs
  crates/wasmtime/src/component/resources.rs
  tests/all/component_model/resources.rs
Labels: wasmtime:api, cranelift, wasi

#7712 feat: implement `ResourceAny` -> `Resource<T>` conversion
  crates/wasmtime/src/component/resources.rs
  tests/all/component_model/resources.rs
Labels: wasmtime:api, cranelift

#7750 fix `fd_read` and `fd_write` for `wasm32-wasi-threads`
  crates/wasi/src/preview2/preview1.rs
Labels: wasi

#7751 Bump Wasmtime to 18.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#7752 Add WASI async example and update the Rust WASI docs.
  docs/examples-rust-wasi.md
  examples/wasi-async/main.rs
Labels: wasmtime:docs

#7758 adopters: add Redpanda
  ADOPTERS.md
Labels: wasmtime:docs

#7764 Update the wasm-tools family of crates
  Cargo.lock
  Cargo.toml
  cranelift/wasm/src/code_translator.rs
  cranelift/wasm/src/sections_translator.rs
  cranelift/wasm/src/translation_utils.rs
  cranelift/wasm/wasmtests/icall-simd.wat
  cranelift/wasm/wasmtests/icall.wat
  cranelift/wasm/wasmtests/unreachable_code.wat
  crates/environ/src/module_environ.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/module.rs
  crates/fuzzing/src/generators/single_inst_module.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/engine/serialization.rs
  supply-chain/imports.lock
  tests/all/cli_tests/rs2wasm-add-func.wat
  tests/all/invoke_func_via_table.rs
  tests/all/limits.rs
  tests/all/traps.rs
  tests/misc_testsuite/rs2wasm-add-func.wast
Labels: wasmtime:api, cranelift, fuzzing, cranelift:wasm

#7768 Document internals of DomTreeWithChildren
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/egraph/domtree.rs
Labels: cranelift

#7783 fix: allow dynamic owned resources to be used as borrowed parameters
  crates/wasmtime/src/component/func.rs
  crates/wasmtime/src/component/func/host.rs
  crates/wasmtime/src/component/types.rs
  crates/wasmtime/src/component/values.rs
  tests/all/component_model/resources.rs
Labels: wasmtime:api

#7792 Make wasmtime dependency in wiggle and wasi-common optional with a default feature
  Cargo.toml
  crates/wasi-common/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wiggle/Cargo.toml
  crates/wiggle/src/lib.rs
Labels: wasi

#7802 WASI: remove unnecessary Sync constraints
  crates/wasi-http/tests/all/http_server.rs
  crates/wasi-http/tests/all/main.rs
  crates/wasi/src/preview2/clocks.rs
  crates/wasi/src/preview2/clocks/host.rs
  crates/wasi/src/preview2/ctx.rs
  crates/wasi/src/preview2/host/clocks.rs
  crates/wasi/src/preview2/host/filesystem.rs
  crates/wasi/src/preview2/host/instance_network.rs
  crates/wasi/src/preview2/host/io.rs
  crates/wasi/src/preview2/host/network.rs
  crates/wasi/src/preview2/host/random.rs
  crates/wasi/src/preview2/host/tcp.rs
  crates/wasi/src/preview2/host/tcp_create_socket.rs
  crates/wasi/src/preview2/host/udp.rs
  crates/wasi/src/preview2/host/udp_create_socket.rs
  crates/wasi/src/preview2/ip_name_lookup.rs
  crates/wasi/src/preview2/pipe.rs
  crates/wasi/src/preview2/poll.rs
  crates/wasi/src/preview2/preview0.rs
  crates/wasi/src/preview2/preview1.rs
  crates/wasi/src/preview2/random.rs
  crates/wasi/src/preview2/stdio.rs
  crates/wasi/src/preview2/write_stream.rs
  crates/wasi/tests/all/api.rs
  crates/wasi/tests/all/main.rs
  crates/wasmtime/src/component/resource_table.rs
  examples/wasi-async/main.rs
  src/commands/run.rs
  src/commands/serve.rs
Labels: wasmtime:api, wasi

#7809 demange names in guest-profiler output
  crates/wasmtime/src/profiling.rs
Labels: wasmtime:api

#7791 Update the Wasmi fuzzing oracle to version `0.31.0`
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/oracles/diff_wasmi.rs
Labels: fuzzing

#7811 c-api: expose tail call configuration option in c api
  crates/c-api/include/wasmtime/config.h
  crates/c-api/src/config.rs
Labels: wasmtime:c-api

#7814 Fix contributor documentation for building the C API
  docs/contributing-building.md
Labels: wasmtime:docs

#7817 use released WASI Preview 2 (version 0.2.0) wits
  crates/wasi-http/src/lib.rs
  crates/wasi-http/wit/command-extended.wit
  crates/wasi-http/wit/deps/cli/command.wit
  crates/wasi-http/wit/deps/cli/imports.wit
  crates/wasi-http/wit/deps/cli/stdio.wit
  crates/wasi-http/wit/deps/clocks/monotonic-clock.wit
  crates/wasi-http/wit/deps/clocks/wall-clock.wit
  crates/wasi-http/wit/deps/clocks/world.wit
  crates/wasi-http/wit/deps/filesystem/preopens.wit
  crates/wasi-http/wit/deps/filesystem/types.wit
  crates/wasi-http/wit/deps/filesystem/world.wit
  crates/wasi-http/wit/deps/http/proxy.wit
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi-http/wit/deps/io/error.wit
  crates/wasi-http/wit/deps/io/poll.wit
  crates/wasi-http/wit/deps/io/streams.wit
  crates/wasi-http/wit/deps/io/world.wit
  crates/wasi-http/wit/deps/random/insecure-seed.wit
  crates/wasi-http/wit/deps/random/insecure.wit
  crates/wasi-http/wit/deps/random/random.wit
  crates/wasi-http/wit/deps/random/world.wit
  crates/wasi-http/wit/deps/sockets/ip-name-lookup.wit
  crates/wasi-http/wit/deps/sockets/tcp.wit
  crates/wasi-http/wit/deps/sockets/udp.wit
  crates/wasi-http/wit/deps/sockets/world.wit
  crates/wasi-http/wit/test.wit
  crates/wasi-preview1-component-adapter/src/descriptors.rs
  crates/wasi-preview1-component-adapter/src/lib.rs
  crates/wasi/src/preview2/mod.rs
  crates/wasi/wit/command-extended.wit
  crates/wasi/wit/deps/cli/command.wit
  crates/wasi/wit/deps/cli/imports.wit
  crates/wasi/wit/deps/cli/stdio.wit
  crates/wasi/wit/deps/clocks/monotonic-clock.wit
  crates/wasi/wit/deps/clocks/wall-clock.wit
  crates/wasi/wit/deps/clocks/world.wit
  crates/wasi/wit/deps/filesystem/preopens.wit
  crates/wasi/wit/deps/filesystem/types.wit
  crates/wasi/wit/deps/filesystem/world.wit
  crates/wasi/wit/deps/http/proxy.wit
  crates/wasi/wit/deps/http/types.wit
  crates/wasi/wit/deps/io/error.wit
  crates/wasi/wit/deps/io/poll.wit
  crates/wasi/wit/deps/io/streams.wit
  crates/wasi/wit/deps/io/world.wit
  crates/wasi/wit/deps/random/insecure-seed.wit
  crates/wasi/wit/deps/random/insecure.wit
  crates/wasi/wit/deps/random/random.wit
  crates/wasi/wit/deps/random/world.wit
  crates/wasi/wit/deps/sockets/ip-name-lookup.wit
  crates/wasi/wit/deps/sockets/tcp.wit
  crates/wasi/wit/deps/sockets/udp.wit
  crates/wasi/wit/deps/sockets/world.wit
  crates/wasi/wit/test.wit
  tests/all/cli_tests/component-basic.wat
Labels: wasi

#7800 Release Wasmtime 17.0.0
  .github/workflows/main.yml
  RELEASES.md
  crates/wasi-http/src/lib.rs
  crates/wasi-http/wit/command-extended.wit
  crates/wasi-http/wit/deps/cli/command.wit
  crates/wasi-http/wit/deps/cli/imports.wit
  crates/wasi-http/wit/deps/cli/stdio.wit
  crates/wasi-http/wit/deps/clocks/monotonic-clock.wit
  crates/wasi-http/wit/deps/clocks/wall-clock.wit
  crates/wasi-http/wit/deps/clocks/world.wit
  crates/wasi-http/wit/deps/filesystem/preopens.wit
  crates/wasi-http/wit/deps/filesystem/types.wit
  crates/wasi-http/wit/deps/filesystem/world.wit
  crates/wasi-http/wit/deps/http/proxy.wit
  crates/wasi-http/wit/deps/http/types.wit
  crates/wasi-http/wit/deps/io/error.wit
  crates/wasi-http/wit/deps/io/poll.wit
  crates/wasi-http/wit/deps/io/streams.wit
  crates/wasi-http/wit/deps/io/world.wit
  crates/wasi-http/wit/deps/random/insecure-seed.wit
  crates/wasi-http/wit/deps/random/insecure.wit
  crates/wasi-http/wit/deps/random/random.wit
  crates/wasi-http/wit/deps/random/world.wit
  crates/wasi-http/wit/deps/sockets/ip-name-lookup.wit
  crates/wasi-http/wit/deps/sockets/tcp.wit
  crates/wasi-http/wit/deps/sockets/udp.wit
  crates/wasi-http/wit/deps/sockets/world.wit
  crates/wasi-http/wit/test.wit
  crates/wasi-preview1-component-adapter/src/descriptors.rs
  crates/wasi-preview1-component-adapter/src/lib.rs
  crates/wasi/src/preview2/mod.rs
  crates/wasi/wit/command-extended.wit
  crates/wasi/wit/deps/cli/command.wit
  crates/wasi/wit/deps/cli/imports.wit
  crates/wasi/wit/deps/cli/stdio.wit
  crates/wasi/wit/deps/clocks/monotonic-clock.wit
  crates/wasi/wit/deps/clocks/wall-clock.wit
  crates/wasi/wit/deps/clocks/world.wit
  crates/wasi/wit/deps/filesystem/preopens.wit
  crates/wasi/wit/deps/filesystem/types.wit
  crates/wasi/wit/deps/filesystem/world.wit
  crates/wasi/wit/deps/http/proxy.wit
  crates/wasi/wit/deps/http/types.wit
  crates/wasi/wit/deps/io/error.wit
  crates/wasi/wit/deps/io/poll.wit
  crates/wasi/wit/deps/io/streams.wit
  crates/wasi/wit/deps/io/world.wit
  crates/wasi/wit/deps/random/insecure-seed.wit
  crates/wasi/wit/deps/random/insecure.wit
  crates/wasi/wit/deps/random/random.wit
  crates/wasi/wit/deps/random/world.wit
  crates/wasi/wit/deps/sockets/ip-name-lookup.wit
  crates/wasi/wit/deps/sockets/tcp.wit
  crates/wasi/wit/deps/sockets/udp.wit
  crates/wasi/wit/deps/sockets/world.wit
  crates/wasi/wit/test.wit
  crates/wasmtime/src/config.rs
  src/common.rs
  tests/all/cli_tests.rs
  tests/all/cli_tests/component-basic.wat
Labels: wasmtime:docs

#7798 winch: Emit unwind info in the x64 backend
  build.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/reg.rs
  crates/winch/src/compiler.rs
  winch/codegen/Cargo.toml
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/mod.rs
  winch/codegen/src/isa/reg.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/trampoline.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, winch

#7818 x64: Break more data dependencies in float-related instructions
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/fpromote-demote-avx.clif
  cranelift/filetests/filetests/isa/x64/fpromote-demote.clif
  cranelift/filetests/filetests/isa/x64/fsqrt-avx.clif
  cranelift/filetests/filetests/isa/x64/fsqrt.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:x64, winch

#7804 feat: support component type introspection
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/types.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/component/linker.rs
  crates/wasmtime/src/component/types.rs
  tests/all/component_model/dynamic.rs
Labels: wasmtime:api

#7826 wasmtime: Rename `SignatureFooBar` to `TypeFooBar`
  cranelift/wasm/src/environ/spec.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/types.rs
  crates/environ/src/instantiate.rs
  crates/environ/src/module.rs
  crates/environ/src/module_environ.rs
  crates/environ/src/module_types.rs
  crates/environ/src/vmoffsets.rs
  crates/runtime/src/component.rs
  crates/runtime/src/instance.rs
  crates/runtime/src/lib.rs
  crates/runtime/src/vmcontext.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/code.rs
  crates/wasmtime/src/compiler.rs
  crates/wasmtime/src/component/component.rs
  crates/wasmtime/src/component/instance.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/func.rs
  crates/wasmtime/src/func/typed.rs
  crates/wasmtime/src/instantiate.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/linker.rs
  crates/wasmtime/src/module.rs
  crates/wasmtime/src/module/registry.rs
  crates/wasmtime/src/signatures.rs
  crates/wasmtime/src/trampoline.rs
  crates/wasmtime/src/type_registry.rs
  crates/wasmtime/src/types/matching.rs
  winch/codegen/src/codegen/mod.rs
Labels: wasmtime:api, cranelift, cranelift:wasm

#7828 Expose `ModuleExport` to avoid repeated string lookups
  crates/wasmtime/src/instance.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/module.rs
Labels: wasmtime:api

#7836 Fix typo in lib name of c-api crate
  crates/c-api/Cargo.toml
Labels: wasmtime:c-api

#7839 Shuffle some items around in `wasmtime`
  crates/environ/src/component.rs
  crates/environ/src/component/artifacts.rs
  crates/environ/src/lib.rs
  crates/environ/src/module_artifacts.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/component_artifacts.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/runtime/component/component.rs
  crates/wasmtime/src/runtime/module.rs
Labels: wasmtime:api
