Repository bytecodealliance/wasmtime, pull requests merged in 2024-06, with the labels that each got.

#8727 Overhaul and improve documentation of `bindgen!`
  .github/workflows/main.yml
  crates/component-macro/src/bindgen.rs
  crates/component-macro/src/component.rs
  crates/wasmtime/src/runtime/component/bindgen_examples/_0_hello_world.rs
  crates/wasmtime/src/runtime/component/bindgen_examples/_1_world_imports.rs
  crates/wasmtime/src/runtime/component/bindgen_examples/_2_world_exports.rs
  crates/wasmtime/src/runtime/component/bindgen_examples/_3_interface_imports.rs
  crates/wasmtime/src/runtime/component/bindgen_examples/_4_imported_resources.rs
  crates/wasmtime/src/runtime/component/bindgen_examples/_5_all_world_export_kinds.rs
  crates/wasmtime/src/runtime/component/bindgen_examples/_6_exported_resources.rs
  crates/wasmtime/src/runtime/component/bindgen_examples/mod.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wit-bindgen/src/lib.rs
  crates/wit-bindgen/src/rust.rs
Labels: wasmtime:api

#8733 Update object to 0.36
  Cargo.lock
  Cargo.toml
  cranelift/object/src/backend.rs
  crates/wasmtime/src/runtime/debug.rs
  examples/min-platform/src/main.rs
  supply-chain/config.toml
Labels: wasmtime:api, cranelift, cranelift:module

#8732 Refactor wasmtime::Func to "unsplat" arguments for the async API
  benches/call.rs
  crates/wasmtime/src/runtime/component/linker.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wiggle/generate/src/wasmtime.rs
  tests/all/async_functions.rs
  tests/all/call_hook.rs
  tests/all/component_model/async.rs
  tests/host_segfault.rs
Labels: wasmtime:api, wasi

#8718 impl Send for JITModule
  cranelift/jit/src/backend.rs
  cranelift/jit/src/compiled_blob.rs
  cranelift/jit/src/memory.rs
Labels: cranelift

#8739 Update `i64_from_iconst` to only match `iconst`
  cranelift/codegen/src/machinst/isle.rs
Labels: cranelift, cranelift:area:machinst

#8743 Bump Wasmtime to 23.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  cranelift/wasm/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
  winch/codegen/Cargo.toml
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, cranelift:wasm, isle, winch

#8693 Add basic support for DWARF processing with components
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/debug.rs
  crates/cranelift/src/debug/gc.rs
  crates/cranelift/src/debug/transform/address_transform.rs
  crates/cranelift/src/debug/transform/expression.rs
  crates/cranelift/src/debug/transform/line_program.rs
  crates/cranelift/src/debug/transform/mod.rs
  crates/cranelift/src/debug/transform/range_info_builder.rs
  crates/cranelift/src/debug/transform/simulate.rs
  crates/cranelift/src/debug/transform/unit.rs
  crates/cranelift/src/debug/transform/utils.rs
  crates/cranelift/src/debug/write_debuginfo.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/compile/mod.rs
  crates/environ/src/module.rs
  crates/wasmtime/src/compile.rs
  crates/winch/src/compiler.rs
  tests/all/debug/lldb.rs
Labels: wasmtime:api, winch

#8742 Add a fuzz target for exercising bounds checks with various memory configs
  cranelift/codegen/src/machinst/lower.rs
  crates/fuzzing/src/generators.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/memory.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/memory.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/memory_accesses.rs
Labels: cranelift, cranelift:area:machinst, fuzzing

#8728 Cranelift: Allow CLIF frontends to define their own stack maps
  cranelift/codegen/src/ir/dfg.rs
  cranelift/codegen/src/ir/mod.rs
  cranelift/codegen/src/ir/user_stack_maps.rs
  cranelift/codegen/src/write.rs
  cranelift/filetests/filetests/parser/user_stack_maps.clif
  cranelift/frontend/src/frontend.rs
  cranelift/reader/src/lexer.rs
  cranelift/reader/src/parser.rs
Labels: cranelift

#8755 Recommend `-O opt-level=0` when debugging wasm
  docs/examples-debugging-native-debugger.md
  examples/fib-debug/main.c
  examples/fib-debug/main.rs
Labels: wasmtime:docs

#8758 Make module ids unique per-process, not per-engine
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/runtime/instantiate.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/store/data.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/index_allocator.rs
  crates/wasmtime/src/runtime/vm/module_id.rs
  tests/all/module.rs
Labels: wasmtime:api

#8765 riscv64: Add support for `load+extend` patterns
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/load-extends.clif
Labels: cranelift, isle, cranelift:area:riscv64

#8774 aarch64: Add support for `load+extends` patterns
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/filetests/filetests/isa/aarch64/load-extends.clif
Labels: cranelift:area:aarch64

#8777 x64: Enable load sinking for small types in extend instructions
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/filetests/filetests/isa/x64/load-extends.clif
Labels: cranelift:area:x64

#8779 Switch some asserts to debug asserts
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/vm/instance.rs
Labels: wasmtime:api

#8782 Fix lost `Waker` instances with async stdio streams
  crates/wasi/src/stdio.rs
Labels: wasi

#8763 Wasmtime: Implement the custom-page-sizes proposal
  Cargo.lock
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/frontend/src/frontend.rs
  cranelift/wasm/src/code_translator/bounds_checks.rs
  cranelift/wasm/src/heap.rs
  cranelift/wasm/src/sections_translator.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/lib.rs
  crates/environ/src/module.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/memory.rs
  crates/fuzzing/src/oracles/memory.rs
  crates/types/Cargo.toml
  crates/types/src/lib.rs
  crates/types/src/prelude.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/runtime/component/bindgen_examples/mod.rs
  crates/wasmtime/src/runtime/memory.rs
  crates/wasmtime/src/runtime/trampoline/memory.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/types/matching.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/cow.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/decommit_queue.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/memory_pool.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/table_pool.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/unix_stack_pool.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/memory.rs
  crates/wasmtime/src/runtime/vm/mmap.rs
  crates/wasmtime/src/runtime/vm/mpk/sys.rs
  crates/wasmtime/src/runtime/vm/sys/miri/mmap.rs
  crates/wasmtime/src/runtime/vm/sys/unix/signals.rs
  crates/wasmtime/src/runtime/vm/sys/unix/unwind.rs
  crates/wasmtime/src/runtime/vm/threads/shared_memory.rs
  crates/wasmtime/src/runtime/vm/threads/shared_memory_disabled.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  tests/all/limits.rs
  tests/all/memory.rs
  tests/all/memory_creator.rs
  tests/all/pooling_allocator.rs
  tests/disas/pcc-imported-memory.wat
  tests/misc_testsuite/custom-page-sizes/custom-page-sizes-invalid.wast
  tests/misc_testsuite/custom-page-sizes/custom-page-sizes.wast
  tests/wast.rs
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/codegen/mod.rs
Labels: wasmtime:api, cranelift, fuzzing, cranelift:wasm, cranelift:area:aarch64, cranelift:area:x64, wasmtime:config

#8761 cranelift/isle: add `Binding::MakeSome` for partial constructors
  cranelift/isle/isle/src/codegen.rs
  cranelift/isle/isle/src/sema.rs
  cranelift/isle/isle/src/trie_again.rs
Labels: cranelift, isle

#8791 wasmtime: Make Store context available to call hooks
  crates/wasmtime/src/runtime/store.rs
  tests/all/call_hook.rs
Labels: wasmtime:api

#8827 `cranelift-entity`: Remove the unused `EntitySet::cardinality` method
  cranelift/entity/src/set.rs
Labels: cranelift

#8826 Introduce the `cranelift-bitset` crate; use it for stack maps in both Cranelift and Wasmtime
  Cargo.lock
  Cargo.toml
  cranelift/bitset/Cargo.toml
  cranelift/bitset/src/compound.rs
  cranelift/bitset/src/lib.rs
  cranelift/bitset/src/scalar.rs
  cranelift/bitset/tests/bitset.rs
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/src/binemit/stack_map.rs
  cranelift/codegen/src/bitset.rs
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/buffer.rs
  crates/cranelift/src/compiler.rs
  crates/environ/Cargo.toml
  crates/environ/src/stack_map.rs
  scripts/publish.rs
Labels: cranelift, cranelift:area:machinst, cranelift:meta

#8802 wasmtime: Take guest-profiler samples at hostcalls
  Cargo.toml
  crates/wasmtime/src/runtime/profiling.rs
  src/commands/run.rs
Labels: wasmtime:api

#8834 `cranelift-entity`: Implement `EntitySet` in terms of `cranelift_bitset::CompoundBitSet`
  Cargo.lock
  cranelift/bitset/src/compound.rs
  cranelift/entity/Cargo.toml
  cranelift/entity/src/set.rs
  scripts/publish.rs
  tests/all/pooling_allocator.rs
Labels: cranelift

#8839 x64: Implement some minor optimizations related to SIMD lowerings
  cranelift/codegen/src/isa/x64/lower.isle
  tests/disas/x64-simd-test-and-branch.wat
  tests/disas/x64-vector-patterns.wat
Labels: cranelift, cranelift:area:x64

#8842 Replace `simm32` extractor with `i32_from_iconst`
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude_lower.isle
  tests/disas/x64-store-imm.wat
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#8844 Release Wasmtime 22.0.0
  RELEASES.md
Labels: wasmtime:docs

#8851 riscv64: Add support for `bitcast.i128` with a `i128` argument
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/filetests/filetests/runtests/i128-bitcast.clif
Labels: cranelift:area:riscv64

#8850 riscv64: Update `Inst::worst_case_size`
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/filetests/filetests/isa/riscv64/issue8847-1.clif
  cranelift/filetests/filetests/isa/riscv64/issue8847.clif
  cranelift/filetests/filetests/isa/riscv64/return-call.clif
Labels: cranelift:area:riscv64

#8838 upgrade to wasm-tools 0.211.1
  Cargo.lock
  Cargo.toml
  cranelift/wasm/src/code_translator.rs
  crates/component-macro/src/bindgen.rs
  crates/environ/src/component/translate.rs
  crates/explorer/src/lib.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/table_ops.rs
  crates/types/src/lib.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/runtime/coredump.rs
  crates/wast/src/core.rs
  supply-chain/imports.lock
  winch/codegen/src/visitor.rs
Labels: wasmtime:api, cranelift, fuzzing, cranelift:wasm, winch

#8862 cranelift/isle: fix parser extern error message
  cranelift/isle/isle/src/parser.rs
Labels: cranelift, isle

#8868 riscv64: Dynamically emit islands for return calls
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/filetests/filetests/isa/riscv64/issue8866.clif
  cranelift/filetests/filetests/isa/riscv64/return-call.clif
Labels: cranelift, cranelift:area:riscv64

#8860 Initial `f16` and `f128` support
  cranelift/codegen/meta/src/cdsl/types.rs
  cranelift/codegen/meta/src/cdsl/typevar.rs
  cranelift/codegen/meta/src/shared/types.rs
  cranelift/codegen/src/data_value.rs
  cranelift/codegen/src/ir/immediates.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/ir/types.rs
  cranelift/filetests/filetests/runtests/bitcast-f16-f128.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
  cranelift/reader/src/lexer.rs
  cranelift/reader/src/parser.rs
Labels: cranelift, cranelift:meta

#8876 Cranelift: Take user stack maps through lowering and emission
  cranelift/codegen/src/ir/mod.rs
  cranelift/codegen/src/ir/user_stack_maps.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_state.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/filetests/filetests/isa/aarch64/user_stack_maps.clif
  cranelift/filetests/filetests/isa/riscv64/user_stack_maps.clif
  cranelift/filetests/filetests/isa/s390x/user_stack_maps.clif
  cranelift/filetests/filetests/isa/x64/user_stack_maps.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64
