Repository bytecodealliance/wasmtime, pull requests merged in 2025-07, with the labels that each got.

#11171 Cargo doc fixes
  crates/wasi-http/src/lib.rs
  crates/wasi/src/preview1.rs
Labels: wasi

#11173 [Cranelift] `(x & y) ^ (x ^ y) --> x | y`
  cranelift/codegen/src/opts/bitops.isle
  cranelift/filetests/filetests/egraph/bitops.clif
Labels: cranelift, isle

#11152 fix(no_std)!: respect `std` feature when target is windows/unix
  crates/jit-icache-coherence/src/lib.rs
  crates/jit-icache-coherence/src/libc.rs
  crates/jit-icache-coherence/src/miri.rs
  crates/jit-icache-coherence/src/win.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/runtime/code_memory.rs
  crates/wasmtime/src/runtime/fiber.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/vm/sys/mod.rs
Labels: wasmtime:api

#11182 Remove `expect(clippy::allow_attributes_without_reason)` from cranelift-codegen
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/meta/src/gen_settings.rs
  cranelift/codegen/src/data_value.rs
  cranelift/codegen/src/ir/memflags.rs
  cranelift/codegen/src/ir/stackslot.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/pulley_shared/inst/regs.rs
  cranelift/codegen/src/isa/pulley_shared/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/pulley_shared/settings.rs
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/inst/regs.rs
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isa/riscv64/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/regs.rs
  cranelift/codegen/src/isa/s390x/lower/isle/generated_code.rs
  cranelift/codegen/src/isa/unwind/systemv.rs
  cranelift/codegen/src/isa/unwind/winarm64.rs
  cranelift/codegen/src/isa/unwind/winx64.rs
  cranelift/codegen/src/isa/x64/encoding/evex.rs
  cranelift/codegen/src/isa/x64/encoding/rex.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/inst/stack_switch.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/lower/isle/generated_code.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/inst_common.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/valueregs.rs
  cranelift/codegen/src/opts.rs
  cranelift/codegen/src/opts/generated_code.rs
  cranelift/codegen/src/scoped_hash_map.rs
  cranelift/codegen/src/timing.rs
  cranelift/codegen/src/write.rs
Labels: cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64, isle

#11204 Fix some warnings on nightly Rust
  .github/actions/install-rust/action.yml
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/store/async_.rs
Labels: wasmtime:api

#11176 Cranelift: Generate an `InstructionData::map` method
  Cargo.lock
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/src/ir/instructions.rs
  cranelift/frontend/src/frontend.rs
Labels: cranelift, cranelift:meta

#11206 Allow marking data objects as used for the linker
  cranelift/jit/src/backend.rs
  cranelift/module/src/data_context.rs
  cranelift/module/src/module.rs
  cranelift/object/src/backend.rs
Labels: cranelift, cranelift:module

#11127 implement Component Model async ABI
  Cargo.lock
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/runtime/component/concurrent.rs
  crates/wasmtime/src/runtime/component/concurrent/abort.rs
  crates/wasmtime/src/runtime/component/concurrent/error_contexts.rs
  crates/wasmtime/src/runtime/component/concurrent/futures_and_streams.rs
  crates/wasmtime/src/runtime/component/concurrent/futures_and_streams/buffers.rs
  crates/wasmtime/src/runtime/component/concurrent/states.rs
  crates/wasmtime/src/runtime/component/concurrent/table.rs
  crates/wasmtime/src/runtime/component/concurrent/tls.rs
  crates/wasmtime/src/runtime/component/func.rs
  crates/wasmtime/src/runtime/component/func/options.rs
  crates/wasmtime/src/runtime/component/func/typed.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wasmtime/src/runtime/component/store.rs
  crates/wasmtime/src/runtime/fiber.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/vm/component.rs
Labels: wasmtime:api, wasmtime:c-api, fuzzing

#11225 Use a proper `enum` type for the compilation kind in our `CompileKey` bitpacking
  crates/wasmtime/src/compile.rs
Labels: wasmtime:api

#11230 Implement exception objects.
  crates/c-api/src/val.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/func_environ/gc/enabled.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/compile/module_types.rs
  crates/environ/src/gc.rs
  crates/environ/src/gc/drc.rs
  crates/environ/src/gc/null.rs
  crates/environ/src/types.rs
  crates/fuzzing/src/generators/value.rs
  crates/fuzzing/src/oracles/diff_spec.rs
  crates/fuzzing/src/oracles/diff_v8.rs
  crates/fuzzing/src/oracles/diff_wasmi.rs
  crates/fuzzing/src/oracles/diff_wasmtime.rs
  crates/wasmtime/src/runtime/coredump.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/tag.rs
  crates/wasmtime/src/runtime/gc/disabled.rs
  crates/wasmtime/src/runtime/gc/disabled/exnref.rs
  crates/wasmtime/src/runtime/gc/enabled.rs
  crates/wasmtime/src/runtime/gc/enabled/arrayref.rs
  crates/wasmtime/src/runtime/gc/enabled/exnref.rs
  crates/wasmtime/src/runtime/gc/enabled/structref.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/trampoline.rs
  crates/wasmtime/src/runtime/trampoline/global.rs
  crates/wasmtime/src/runtime/trampoline/tag.rs
  crates/wasmtime/src/runtime/type_registry.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/types/matching.rs
  crates/wasmtime/src/runtime/values.rs
  crates/wasmtime/src/runtime/vm/gc.rs
  crates/wasmtime/src/runtime/vm/gc/disabled.rs
  crates/wasmtime/src/runtime/vm/gc/enabled.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/arrayref.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/drc.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/exnref.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/null.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/structref.rs
  crates/wasmtime/src/runtime/vm/gc/gc_ref.rs
  crates/wasmtime/src/runtime/vm/gc/gc_runtime.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/table.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  crates/wasmtime/src/runtime/wave/core.rs
  src/commands/run.rs
  tests/all/exnrefs.rs
  tests/all/main.rs
  tests/disas/gc/null/array-new.wat
Labels: wasmtime:api, wasmtime:c-api, fuzzing, wasmtime:ref-types

#11242 x64: Fix a missing lowering rule for select_spectre_guard
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/select.clif
Labels: cranelift, cranelift:area:x64

#11239 Implement Tarjan's strongly-connected components algorithm
  cranelift/entity/src/set.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/compile/scc.rs
Labels: wasmtime:api, cranelift

#11215 Make `vm::Instance::get_defined_table_with_lazy_init` return a reference
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
Labels: wasmtime:api

#11254 Update `table.fill` intrinsics to use defined indices
  crates/cranelift/src/func_environ.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
Labels: wasmtime:api

#11255 More table safety improvements
  cranelift/entity/src/primary.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/vm/debug_builtins.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/table.rs
Labels: wasmtime:api, cranelift

#11268 make `memory` option optional for `{future,stream}.{read,write}`
  crates/cranelift/src/compiler/component.rs
  crates/wasmtime/src/runtime/component/concurrent/futures_and_streams.rs
  tests/misc_testsuite/component-model-async/empty-wait.wast
Labels: wasm-proposal:component-model-async

#11270 x64: Add EVEX shifts to the new assembler
  cranelift/assembler-x64/meta/src/dsl.rs
  cranelift/assembler-x64/meta/src/dsl/encoding.rs
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/instructions/add.rs
  cranelift/assembler-x64/meta/src/instructions/shift.rs
  cranelift/assembler-x64/src/evex.rs
  cranelift/assembler-x64/src/fuzz.rs
  cranelift/assembler-x64/src/mem.rs
  cranelift/codegen/src/isa/x64/encoding/evex.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/simd-i64x2-shift-avx512.clif
Labels: cranelift, cranelift:area:x64

#11257 feat(wasip3): implement `wasi:cli`
  crates/test-programs/src/bin/p3_cli.rs
  crates/wasi/Cargo.toml
  crates/wasi/src/cli.rs
  crates/wasi/src/clocks.rs
  crates/wasi/src/ctx.rs
  crates/wasi/src/lib.rs
  crates/wasi/src/p2/ctx.rs
  crates/wasi/src/p2/stdio.rs
  crates/wasi/src/p2/stdio/worker_thread_stdin.rs
  crates/wasi/src/p3/bindings.rs
  crates/wasi/src/p3/cli/host.rs
  crates/wasi/src/p3/cli/mod.rs
  crates/wasi/src/p3/clocks/host.rs
  crates/wasi/src/p3/clocks/mod.rs
  crates/wasi/src/p3/ctx.rs
  crates/wasi/src/p3/mod.rs
  crates/wasi/src/p3/random/host.rs
  crates/wasi/src/p3/random/mod.rs
  crates/wasi/src/p3/view.rs
  crates/wasi/src/random.rs
  crates/wasi/tests/all/p3/mod.rs
  src/commands/serve.rs
Labels: wasi

#11278 [24.0.4] backport `fd_renumber` fixes
  RELEASES.md
  crates/test-programs/src/bin/preview1_renumber.rs
  crates/wasi-preview1-component-adapter/src/descriptors.rs
  crates/wasi/src/preview1.rs
Labels: wasi, wasmtime:docs

#11279 [33.0.2] backport `fd_renumber` fixes
  RELEASES.md
  crates/test-programs/src/bin/preview1_renumber.rs
  crates/wasi-preview1-component-adapter/src/descriptors.rs
  crates/wasi/src/preview1.rs
Labels: wasi, wasmtime:docs

#11280 [34.0.2] backport `fd_renumber` fixes
  RELEASES.md
  crates/test-programs/src/bin/preview1_renumber.rs
  crates/wasi-preview1-component-adapter/src/descriptors.rs
  crates/wasi/src/preview1.rs
Labels: wasi, wasmtime:docs

#11282 Cranelift: fix a bug with inlining and unreachable callee blocks
  cranelift/codegen/src/inline.rs
  cranelift/filetests/filetests/inline/unreachable-block.clif
Labels: cranelift

#11303 x64: Migrate EVEX instructions to the new assembler
  cranelift/assembler-x64/meta/src/dsl/features.rs
  cranelift/assembler-x64/meta/src/instructions/abs.rs
  cranelift/assembler-x64/meta/src/instructions/bitmanip.rs
  cranelift/assembler-x64/meta/src/instructions/cvt.rs
  cranelift/assembler-x64/meta/src/instructions/lanes.rs
  cranelift/assembler-x64/meta/src/instructions/mul.rs
  cranelift/assembler-x64/src/evex.rs
  cranelift/codegen/src/isa/x64/encoding/evex.rs
  cranelift/codegen/src/isa/x64/encoding/mod.rs
  cranelift/codegen/src/isa/x64/encoding/rex.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/shuffle-avx512.clif
  cranelift/filetests/filetests/isa/x64/simd-abs-avx512.clif
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
Labels: cranelift, cranelift:area:x64, winch

#11310 Update the `rand` dependency to the 0.9 track
  Cargo.lock
  Cargo.toml
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/index_allocator.rs
  supply-chain/imports.lock
Labels: wasmtime:api

#11327 Fix declaration of c-api function wasmtime_component_linker_instance_add_func
  crates/c-api/include/wasmtime/component/linker.h
Labels: wasmtime:c-api

#11290 Add fuzzer integration for gc/mutatis
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators/table_ops.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/misc.rs
  fuzz/fuzz_targets/table_ops.rs
Labels: fuzzing

#11283 Wasmtime: Add (optional) bottom-up function inlining to Wasm compilation
  cranelift/codegen/src/inline.rs
  cranelift/codegen/src/ir/dfg.rs
  cranelift/entity/src/primary.rs
  cranelift/filetests/src/test_inline.rs
  crates/cli-flags/src/lib.rs
  crates/cli-flags/src/opt.rs
  crates/cranelift/src/builder.rs
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/compile/mod.rs
  crates/environ/src/tunables.rs
  crates/fuzzing/src/generators/config.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/compile/call_graph.rs
  crates/wasmtime/src/compile/scc.rs
  crates/wasmtime/src/compile/stratify.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/winch/src/compiler.rs
  tests/disas/component-model/direct-adapter-calls-inlining.wat
  tests/disas/component-model/direct-adapter-calls-x64.wat
  tests/disas/component-model/direct-adapter-calls.wat
Labels: wasmtime:api, cranelift, fuzzing, wasmtime:config, winch

#11336 chore: remove redundant word
  README.md
Labels: wasmtime:docs

#11304 Allow compiling debug-builtins in no_std environment to enable gdb jit
  .github/workflows/main.yml
  crates/jit-debug/Cargo.toml
  crates/jit-debug/src/gdb_jit_int.rs
  crates/jit-debug/src/lib.rs
  crates/jit-debug/src/perf_jitdump.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/build.rs
  crates/wasmtime/src/runtime/vm/debug_builtins.rs
Labels: wasmtime:api

#11113 Change `wasmtime wast` to be powered from JSON AST
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  ci/miri-wast.sh
  crates/cranelift/src/func_environ/gc.rs
  crates/cranelift/src/func_environ/gc/enabled.rs
  crates/fuzzing/src/oracles.rs
  crates/wast/Cargo.toml
  crates/wast/src/component.rs
  crates/wast/src/core.rs
  crates/wast/src/spectest.rs
  crates/wast/src/wast.rs
  src/commands/wast.rs
  supply-chain/audits.toml
  supply-chain/imports.lock
  tests/wast.rs
Labels: fuzzing

#11291 feat(wasip3): implement `wasi:sockets`
  ci/vendor-wit.sh
  crates/test-programs/src/bin/p3_sockets_ip_name_lookup.rs
  crates/test-programs/src/bin/p3_sockets_tcp_bind.rs
  crates/test-programs/src/bin/p3_sockets_tcp_connect.rs
  crates/test-programs/src/bin/p3_sockets_tcp_sample_application.rs
  crates/test-programs/src/bin/p3_sockets_tcp_sockopts.rs
  crates/test-programs/src/bin/p3_sockets_tcp_states.rs
  crates/test-programs/src/bin/p3_sockets_tcp_streams.rs
  crates/test-programs/src/bin/p3_sockets_udp_bind.rs
  crates/test-programs/src/bin/p3_sockets_udp_connect.rs
  crates/test-programs/src/bin/p3_sockets_udp_sample_application.rs
  crates/test-programs/src/bin/p3_sockets_udp_sockopts.rs
  crates/test-programs/src/bin/p3_sockets_udp_states.rs
  crates/test-programs/src/p3/mod.rs
  crates/test-programs/src/p3/sockets.rs
  crates/wasi/src/clocks.rs
  crates/wasi/src/ctx.rs
  crates/wasi/src/filesystem.rs
  crates/wasi/src/lib.rs
  crates/wasi/src/net.rs
  crates/wasi/src/p2/bindings.rs
  crates/wasi/src/p2/ctx.rs
  crates/wasi/src/p2/host/instance_network.rs
  crates/wasi/src/p2/host/network.rs
  crates/wasi/src/p2/host/tcp.rs
  crates/wasi/src/p2/host/udp.rs
  crates/wasi/src/p2/ip_name_lookup.rs
  crates/wasi/src/p2/mod.rs
  crates/wasi/src/p2/network.rs
  crates/wasi/src/p2/tcp.rs
  crates/wasi/src/p2/udp.rs
  crates/wasi/src/p3/bindings.rs
  crates/wasi/src/p3/cli/host.rs
  crates/wasi/src/p3/ctx.rs
  crates/wasi/src/p3/mod.rs
  crates/wasi/src/p3/sockets/conv.rs
  crates/wasi/src/p3/sockets/host/ip_name_lookup.rs
  crates/wasi/src/p3/sockets/host/mod.rs
  crates/wasi/src/p3/sockets/host/types/mod.rs
  crates/wasi/src/p3/sockets/host/types/tcp.rs
  crates/wasi/src/p3/sockets/host/types/udp.rs
  crates/wasi/src/p3/sockets/mod.rs
  crates/wasi/src/p3/sockets/tcp.rs
  crates/wasi/src/p3/sockets/udp.rs
  crates/wasi/src/p3/view.rs
  crates/wasi/src/p3/wit/deps/sockets/ip-name-lookup.wit
  crates/wasi/src/p3/wit/deps/sockets/types.wit
  crates/wasi/src/random.rs
  crates/wasi/src/sockets/mod.rs
  crates/wasi/src/sockets/util.rs
  crates/wasi/tests/all/p3/mod.rs
Labels: wasi

#11325 refactor `{Stream,Future}|{Reader,Writer}` APIs and internals
  crates/misc/component-async-tests/src/resource_stream.rs
  crates/misc/component-async-tests/tests/scenario/streams.rs
  crates/misc/component-async-tests/tests/scenario/transmit.rs
  crates/wasi/src/p3/cli/host.rs
  crates/wasi/src/p3/sockets/host/types/tcp.rs
  crates/wasmtime/src/runtime/component/concurrent.rs
  crates/wasmtime/src/runtime/component/concurrent/futures_and_streams.rs
  crates/wasmtime/src/runtime/component/concurrent_disabled.rs
  crates/wasmtime/src/runtime/component/linker.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wasmtime/src/runtime/component/store.rs
  crates/wasmtime/src/runtime/component/values.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/vm/component/libcalls.rs
  crates/wit-bindgen/src/lib.rs
  crates/wit-bindgen/src/rust.rs
Labels: wasmtime:api, wasi

#11359 [Cranelift] `(x + y) - (x | y) --> x & y`
  cranelift/codegen/src/opts/arithmetic.isle
  cranelift/filetests/filetests/egraph/arithmetic.clif
Labels: cranelift, isle
