Repository bytecodealliance/wasmtime, pull requests merged in 2025-05, with the labels that each got.

#10702 Avoid clobbering all float registers in the presence of try_call on arm64
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/filetests/filetests/isa/aarch64/no_spill_floats_on_try_call.clif
Labels: cranelift, cranelift:area:aarch64

#10707 refactor(docs): more conversions of sh to console for copy-paste
  README.md
  cranelift/isle/README.md
  crates/wasi-nn/README.md
  crates/wasi-nn/examples/classification-component-onnx/README.md
  crates/wasi-nn/examples/classification-example-winml/README.md
  crates/wasi-preview1-component-adapter/README.md
  docs/cli-cache.md
  docs/cli-install.md
  docs/cli-logging.md
  docs/cli.md
  docs/contributing-building.md
  docs/contributing-coding-guidelines.md
  docs/contributing-cross-compiling.md
  docs/contributing-testing.md
  docs/examples-coredump.md
  docs/examples-debugging-core-dumps.md
  docs/examples-debugging-native-debugger.md
  docs/examples-minimal.md
  docs/examples-profiling-perf.md
  docs/examples-profiling-samply.md
  docs/examples-profiling-vtune.md
  docs/examples-pulley.md
  docs/lang-go.md
  docs/lang-rust.md
  fuzz/README.md
Labels: cranelift, fuzzing, wasmtime:docs, isle

#10718 x64: use new versions of SSE `add` and `sub`
  cranelift/assembler-x64/meta/src/instructions/add.rs
  cranelift/assembler-x64/meta/src/instructions/sub.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/external.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/aarch64/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/x64/fastcall.clif
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/isa/x64/nan-canonicalization-sse41.clif
  cranelift/filetests/filetests/isa/x64/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/x64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/x64/return-call.clif
  cranelift/filetests/filetests/isa/x64/stack_switch.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:x64, isle, winch

#10726 Bump Wasmtime to 34.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/assembler-x64/Cargo.toml
  cranelift/assembler-x64/meta/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/bitset/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/srcgen/Cargo.toml
  cranelift/umbrella/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, isle

#10720 x64: convert more logical vector instructions
  cranelift/assembler-x64/meta/src/instructions/and.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/filetests/filetests/isa/x64/fcopysign.clif
  cranelift/filetests/filetests/isa/x64/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-float-min-max.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:x64, winch

#10727 pulley: Allow disabling SIMD in the interpreter at compile-time
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  crates/environ/src/trap_encoding.rs
  crates/wasmtime/src/runtime/vm/interpreter.rs
  docs/examples-pulley.md
  pulley/Cargo.toml
  pulley/macros/Cargo.toml
  pulley/macros/src/interp_disable_if_cfg.rs
  pulley/macros/src/lib.rs
  pulley/src/interp.rs
  pulley/src/op.rs
  scripts/publish.rs
Labels: wasmtime:api, wasmtime:docs, pulley

#10722 Refactor call ABI implementation
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/pulley_shared/abi.rs
  cranelift/codegen/src/isa/pulley_shared/inst.isle
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  cranelift/codegen/src/isa/pulley_shared/lower/isle.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/args.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/compile.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/opts.rs
  cranelift/codegen/src/prelude.isle
  cranelift/codegen/src/prelude_lower.isle
  cranelift/filetests/filetests/isa/riscv64/call.clif
  cranelift/filetests/filetests/isa/s390x/call-tail.clif
  cranelift/filetests/filetests/isa/s390x/call.clif
  cranelift/filetests/filetests/isa/s390x/return-call.clif
  cranelift/filetests/filetests/isa/s390x/vec-abi-128.clif
  cranelift/filetests/filetests/isa/s390x/vec-abi.clif
  cranelift/filetests/filetests/isa/s390x/vec-bitcast.clif
  cranelift/filetests/filetests/isa/s390x/vecmem-le-lane.clif
  cranelift/filetests/filetests/isa/s390x/vecmem.clif
  cranelift/filetests/filetests/isa/x64/struct-arg.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#10735 Fix another libcall popping up with simd
  crates/cranelift/src/translate/code_translator.rs
  tests/disas/x64-simd-round-without-see41.wat
Labels: fuzz-bug

#10734 x64: convert `phadd` instructions
  cranelift/assembler-x64/meta/.rustfmt.toml
  cranelift/assembler-x64/meta/src/dsl.rs
  cranelift/assembler-x64/meta/src/dsl/encoding.rs
  cranelift/assembler-x64/meta/src/dsl/features.rs
  cranelift/assembler-x64/meta/src/dsl/format.rs
  cranelift/assembler-x64/meta/src/generate.rs
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/generate/inst.rs
  cranelift/assembler-x64/meta/src/generate/operand.rs
  cranelift/assembler-x64/meta/src/instructions/add.rs
  cranelift/assembler-x64/meta/src/instructions/and.rs
  cranelift/assembler-x64/meta/src/instructions/or.rs
  cranelift/assembler-x64/meta/src/instructions/shld.rs
  cranelift/assembler-x64/meta/src/instructions/sub.rs
  cranelift/assembler-x64/meta/src/instructions/xor.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/filetests/filetests/isa/x64/iadd-pairwise.clif
Labels: cranelift, cranelift:area:x64

#10739 Inline assembler-x64 `generated_files` in `main.rs`
  cranelift/assembler-x64/src/lib.rs
  cranelift/assembler-x64/src/main.rs
Labels: cranelift

#10743 [33.0.0] Backport some fixes from main
  cranelift/assembler-x64/src/lib.rs
  cranelift/assembler-x64/src/main.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/translate/code_translator.rs
  tests/all/cli_tests.rs
  tests/disas/x64-simd-round-without-see41.wat
Labels: cranelift

#10745 asm: refactor how REX prefixes are emitted
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/src/gpr.rs
  cranelift/assembler-x64/src/inst.rs
  cranelift/assembler-x64/src/lib.rs
  cranelift/assembler-x64/src/mem.rs
  cranelift/assembler-x64/src/rex.rs
Labels: cranelift

#10749 asm: refactor how REX suffixes are emitted
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/src/inst.rs
  cranelift/assembler-x64/src/mem.rs
  cranelift/assembler-x64/src/rex.rs
Labels: cranelift

#10750 winch(aarch64): Run wast test in CI
  crates/test-macros/src/wasmtime_test.rs
  crates/test-util/src/wast.rs
  crates/wasmtime/src/config.rs
  tests/all/epoch_interruption.rs
  tests/all/fuel.rs
  tests/wast.rs
Labels: wasmtime:api, wasmtime:config

#10756 [s390x] Use VCodeConstant literal pool
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/args.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude_lower.isle
  cranelift/filetests/filetests/isa/s390x/bitops.clif
  cranelift/filetests/filetests/isa/s390x/exceptions.clif
  cranelift/filetests/filetests/isa/s390x/floating-point-arch13.clif
  cranelift/filetests/filetests/isa/s390x/floating-point.clif
  cranelift/filetests/filetests/isa/s390x/multivalue-ret.clif
  cranelift/filetests/filetests/isa/s390x/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/s390x/return-call-indirect.clif
  cranelift/filetests/filetests/isa/s390x/return-call.clif
  cranelift/filetests/filetests/isa/s390x/vec-constants-le-lane.clif
  cranelift/filetests/filetests/isa/s390x/vec-constants.clif
  cranelift/filetests/filetests/isa/s390x/vec-fp.clif
  cranelift/filetests/filetests/isa/s390x/vec-logical.clif
  cranelift/filetests/filetests/isa/s390x/vec-permute-le-lane.clif
  cranelift/filetests/filetests/isa/s390x/vec-permute.clif
Labels: cranelift, cranelift:area:machinst, isle

#10762 x64: convert some SSE shift instructions
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/shift.rs
  cranelift/assembler-x64/meta/src/instructions/shld.rs
  cranelift/assembler-x64/src/xmm.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/fabs.clif
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/isa/x64/fneg.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-float-min-max.clif
Labels: cranelift, cranelift:area:x64, isle

#10765 c-api: new wasmtime_trap_new_code function
  crates/c-api/README.md
  crates/c-api/include/wasmtime/trap.h
  crates/c-api/include/wasmtime/trap.hh
  crates/c-api/src/trap.rs
  crates/c-api/tests/trap.cc
Labels: wasmtime:c-api

#10781 winch: Fine-tune assertions for branch emission
  tests/misc_testsuite/winch/issue-10751.wast
  winch/codegen/src/codegen/context.rs
Labels: winch

#10755 Classify Winch with Tier 1 support
  docs/stability-tiers.md
  docs/stability-wasm-proposals.md
Labels: wasmtime:docs

#10779 x64: convert some SSE `cvt*` instructions
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/cvt.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/external.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/fastcall.clif
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/isa/x64/fpromote-demote.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:x64, winch

#10785 Update MSRV to 1.85.0
  .github/actions/install-rust/action.yml
  Cargo.toml
  cranelift/filetests/src/function_runner.rs
  crates/wasmtime/src/runtime/store/async_.rs
Labels: wasmtime:api

#10782 x64: convert all multiplication-related instructions
  cranelift/assembler-x64/meta/src/dsl.rs
  cranelift/assembler-x64/meta/src/dsl/features.rs
  cranelift/assembler-x64/meta/src/dsl/format.rs
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/generate/inst.rs
  cranelift/assembler-x64/meta/src/generate/operand.rs
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/mul.rs
  cranelift/assembler-x64/src/fuzz.rs
  cranelift/codegen/meta/src/gen_asm.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/external.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/mul.clif
  cranelift/filetests/filetests/isa/x64/popcnt.clif
  cranelift/filetests/filetests/isa/x64/simd-widen-mul.clif
  cranelift/filetests/filetests/isa/x64/smulhi.clif
  cranelift/filetests/filetests/isa/x64/sqmul_round_sat.clif
  cranelift/filetests/filetests/isa/x64/umulhi.clif
  tests/disas/winch/x64/call_indirect/call_indirect.wat
  tests/disas/winch/x64/call_indirect/local_arg.wat
  tests/disas/winch/x64/i32_mul/const.wat
  tests/disas/winch/x64/i32_mul/max.wat
  tests/disas/winch/x64/i32_mul/max_one.wat
  tests/disas/winch/x64/i32_mul/mixed.wat
  tests/disas/winch/x64/i32_mul/signed.wat
  tests/disas/winch/x64/i32_mul/unsigned_with_zero.wat
  tests/disas/winch/x64/i64_mul/const.wat
  tests/disas/winch/x64/i64_mul/max.wat
  tests/disas/winch/x64/i64_mul/max_one.wat
  tests/disas/winch/x64/i64_mul/mixed.wat
  tests/disas/winch/x64/i64_mul/signed.wat
  tests/disas/winch/x64/i64_mul/unsigned_with_zero.wat
  tests/disas/winch/x64/loop/as_binary_operand.wat
  tests/disas/winch/x64/loop/effects.wat
  tests/disas/winch/x64/table/fill.wat
  tests/disas/winch/x64/table/get.wat
  tests/disas/winch/x64/table/init_copy_drop.wat
  tests/disas/winch/x64/table/set.wat
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:meta, cranelift:area:x64, isle

#10810 x64: Migrate "UnaryRmR" instructions to the new assembler
  cranelift/assembler-x64/meta/src/dsl/features.rs
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/bitmanip.rs
  cranelift/assembler-x64/src/gpr.rs
  cranelift/assembler-x64/src/mem.rs
  cranelift/assembler-x64/src/xmm.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/external.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/clz-lzcnt.clif
  cranelift/filetests/filetests/isa/x64/clz.clif
  cranelift/filetests/filetests/isa/x64/ctz-bmi1.clif
  cranelift/filetests/filetests/isa/x64/ctz.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
Labels: cranelift, cranelift:area:x64, winch

#10812 Release Wasmtime 33.0.0
  RELEASES.md
Labels: wasmtime:docs

#10811 Minor optimizations to assembler-generated code
  cranelift/assembler-x64/meta/src/generate.rs
  cranelift/assembler-x64/meta/src/generate/features.rs
  cranelift/assembler-x64/meta/src/generate/inst.rs
  cranelift/assembler-x64/src/api.rs
  cranelift/assembler-x64/src/fixed.rs
  cranelift/assembler-x64/src/imm.rs
  cranelift/assembler-x64/src/inst.rs
  cranelift/assembler-x64/src/mem.rs
Labels: cranelift

#10793 Update CLI `run` documentation
  docs/cli-options.md
Labels: wasmtime:docs

#10815 x64: Stringify fixed registers with their runtime value
  cranelift/assembler-x64/meta/src/generate/operand.rs
  cranelift/assembler-x64/src/fixed.rs
Labels: cranelift

#10814 x64: Migrate `SignExtendData` to new assembler
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/instructions/bitmanip.rs
  cranelift/assembler-x64/src/fuzz.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/div-checks.clif
  cranelift/filetests/filetests/isa/x64/sdiv.clif
  cranelift/filetests/filetests/isa/x64/srem.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:x64, winch

#10816 x64: Migrate `ShiftR` pseudo-instruction to the new assembler
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/instructions/shift.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/amode-opt.clif
  cranelift/filetests/filetests/isa/x64/bswap.clif
  cranelift/filetests/filetests/isa/x64/conditional-values.clif
  cranelift/filetests/filetests/isa/x64/div-checks.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/ishl.clif
  cranelift/filetests/filetests/isa/x64/popcnt.clif
  cranelift/filetests/filetests/isa/x64/shld.clif
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/smulhi.clif
  cranelift/filetests/filetests/isa/x64/srem.clif
  cranelift/filetests/filetests/isa/x64/sshr.clif
  cranelift/filetests/filetests/isa/x64/udivrem.clif
  cranelift/filetests/filetests/isa/x64/umulhi.clif
  cranelift/filetests/filetests/isa/x64/urem.clif
  cranelift/filetests/filetests/isa/x64/ushr.clif
  cranelift/filetests/filetests/isa/x64/vhigh_bits-avx.clif
  cranelift/filetests/filetests/isa/x64/vhigh_bits.clif
  cranelift/filetests/filetests/pcc/fail/shift.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:x64, isle

#10803 Duplicate page size determination in `wasmtime-fiber`
  Cargo.lock
  Cargo.toml
  crates/fiber/Cargo.toml
  crates/fiber/src/lib.rs
  crates/fiber/src/unix.rs
  crates/jit-debug/Cargo.toml
  crates/jit-debug/src/perf_jitdump.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/generic_stack_pool.rs
  crates/wasmtime/src/runtime/vm/sys/unix/vm.rs
Labels: wasmtime:api

#10820 x64: Migrate div instructions to the new assembler
  cranelift/assembler-x64/meta/src/dsl.rs
  cranelift/assembler-x64/meta/src/generate/inst.rs
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/div.rs
  cranelift/assembler-x64/src/api.rs
  cranelift/assembler-x64/src/inst.rs
  cranelift/assembler-x64/src/mem.rs
  cranelift/codegen/meta/src/gen_asm.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/external.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/sdiv.clif
  cranelift/filetests/filetests/isa/x64/srem.clif
  cranelift/filetests/filetests/isa/x64/udiv.clif
  cranelift/filetests/filetests/isa/x64/udivrem.clif
  cranelift/filetests/filetests/isa/x64/urem.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:meta, cranelift:area:x64, winch

#10804 Use `Waker::noop` from Rust 1.85
  crates/c-api/src/async.rs
  crates/fuzzing/src/oracles.rs
  crates/wasi-tls/src/lib.rs
  crates/wasi/src/p2/tcp.rs
  crates/wasi/src/runtime.rs
  examples/min-platform/embedding/src/wasi.rs
  tests/all/async_functions.rs
Labels: wasmtime:c-api, fuzzing, wasi

#10826 winch: Fix implementation of `checked_uadd`
  crates/test-util/src/wast.rs
  tests/disas/winch/aarch64/load/dynamic_heap.wat
  tests/disas/winch/aarch64/store/dynamic_heap.wat
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
Labels: winch

#10831 Remove mul support based on assembler
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:x64, winch

#10830 x64: Migrate `bswap` to the new assembler
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/instructions/bitmanip.rs
  cranelift/assembler-x64/src/rex.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/bswap.clif
Labels: cranelift, cranelift:area:x64

#10807 Add plumbing for `error-context` component model feature
  crates/cli-flags/src/lib.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/module.rs
  crates/test-util/src/wasmtime_wast.rs
  crates/test-util/src/wast.rs
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, fuzzing, wasmtime:config

#10841 c-api: component-model: Function post return, more values
  crates/c-api/include/wasmtime/component/func.h
  crates/c-api/include/wasmtime/component/val.h
  crates/c-api/src/component/func.rs
  crates/c-api/src/component/val.rs
  crates/c-api/tests/component/call_func.cc
  crates/c-api/tests/component/values.cc
Labels: wasmtime:c-api

#10849 Cranelift: `(eq/ne (xor x y) y)` => `(eq/ne y 0)`
  cranelift/codegen/src/opts/icmp.isle
  cranelift/filetests/filetests/egraph/icmp.clif
Labels: cranelift, isle

#10853 winch: Move the `AtomicWaitKind` definition to the MacroAssembler
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10856 Add round variants to the new assembler
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/round.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/filetests/filetests/isa/x64/ceil.clif
  cranelift/filetests/filetests/isa/x64/floor.clif
  cranelift/filetests/filetests/isa/x64/nearest.clif
  cranelift/filetests/filetests/isa/x64/trunc.clif
  cranelift/filetests/filetests/isa/x64/uunarrow.clif
Labels: cranelift
