Repository bytecodealliance/wasmtime, pull requests merged in 2025-01, with the labels that each got.

#9851 winch: Gracefully handle compilation errors
  Cargo.lock
  winch/codegen/Cargo.toml
  winch/codegen/src/codegen/bounds.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/control.rs
  winch/codegen/src/codegen/error.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/frame/mod.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/regalloc.rs
  winch/codegen/src/stack.rs
  winch/codegen/src/visitor.rs
Labels: winch

#9920 isle: BNF glitches
  cranelift/isle/docs/language-reference.md
Labels: cranelift, isle

#9897 Make Pulley pass `simd_f32x4_arith.wast`
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  crates/wast-util/src/lib.rs
  pulley/src/interp.rs
  pulley/src/lib.rs
Labels: cranelift, pulley

#9888 Add aarch64-apple-ios to platform-check matrix
  .github/workflows/main.yml
  crates/asm-macros/src/lib.rs
  crates/fiber/src/stackswitch/aarch64.rs
  crates/jit-icache-coherence/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/runtime/vm/sys/unix/mod.rs
  crates/wasmtime/src/runtime/vm/sys/unix/signals.rs
Labels: wasmtime:api

#9884 pulley: Fill out most remaining simd float ops
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  cranelift/filetests/filetests/runtests/simd-fadd-splat.clif
  cranelift/filetests/filetests/runtests/simd-fadd.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-eq.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-ge.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-gt.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-le.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-lt.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-ne.clif
  cranelift/filetests/filetests/runtests/simd-fcmp-uno.clif
  cranelift/filetests/filetests/runtests/simd-fdiv.clif
  cranelift/filetests/filetests/runtests/simd-floor.clif
  cranelift/filetests/filetests/runtests/simd-fma-neg.clif
  cranelift/filetests/filetests/runtests/simd-fma.clif
  cranelift/filetests/filetests/runtests/simd-fmin-max-pseudo.clif
  cranelift/filetests/filetests/runtests/simd-fmul.clif
  cranelift/filetests/filetests/runtests/simd-fneg.clif
  cranelift/filetests/filetests/runtests/simd-fsub.clif
  crates/math/src/lib.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wast-util/src/lib.rs
  pulley/src/interp.rs
  pulley/src/lib.rs
Labels: cranelift, pulley

#9936 Clarify MSRV intent in contributor docs
  docs/contributing-coding-guidelines.md
Labels: wasmtime:docs

#9939 Move gdbjit C helpers to a separate file
  Cargo.lock
  crates/jit-debug/Cargo.toml
  crates/jit-debug/build.rs
  crates/jit-debug/gdbjit.c
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/runtime/vm/debug_builtins.rs
  crates/wasmtime/src/runtime/vm/helpers.c
Labels: wasmtime:api

#9788 Revamp wasi example and related docs
  .github/workflows/main.yml
  Cargo.toml
  docs/examples-c-wasi.md
  docs/examples-rust-wasi.md
  examples/CMakeLists.txt
  examples/wasip1-async/main.rs
  examples/wasip1/main.c
  examples/wasip1/main.rs
  examples/wasip2-async/main.rs
  examples/wasip2/main.rs
  examples/wasm/Cargo.toml
  examples/wasm/wasi.rs
Labels: wasmtime:docs

#9943 pulley: Add some macro-instructions related to bounds-checks
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  pulley/src/interp.rs
  pulley/src/lib.rs
  tests/disas/pulley/pulley32_memory32.wat
  tests/disas/pulley/pulley64_memory32.wat
Labels: cranelift, pulley

#9952 Update wasm-tools crates
  Cargo.lock
  Cargo.toml
  crates/component-macro/tests/expanded/conventions.rs
  crates/component-macro/tests/expanded/conventions_async.rs
  crates/component-macro/tests/expanded/conventions_tracing_async.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/types_builder.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/runtime/wave/component.rs
  crates/wasmtime/src/runtime/wave/core.rs
  crates/wit-bindgen/src/lib.rs
  crates/wit-bindgen/src/rust.rs
  crates/wit-bindgen/src/types.rs
  supply-chain/audits.toml
  supply-chain/imports.lock
Labels: wasmtime:api

#9937 Enable the memory64 proposal by default
  crates/wasmtime/src/config.rs
  docs/stability-wasm-proposals.md
Labels: wasmtime:api, wasmtime:docs, wasmtime:config

#9947 Make module validation deterministic in case of multiple errors
  crates/wasmtime/src/engine.rs
  tests/all/module.rs
Labels: wasmtime:api

#9603 Compute dominator tree using semi-NCA algorithm
  cranelift/codegen/src/dominator_tree.rs
  cranelift/codegen/src/dominator_tree/simple.rs
  cranelift/codegen/src/iterators.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/verifier/mod.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/dominator_tree.rs
Labels: cranelift, fuzzing

#9944 pulley: Implement the wide-arithmetic proposal
  cranelift/codegen/meta/src/pulley.rs
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  crates/wast-util/src/lib.rs
  pulley/src/interp.rs
  pulley/src/lib.rs
Labels: cranelift, cranelift:meta, pulley

#9965 Enable `impl-trait-overcaptures` 2024 transition lint
  Cargo.toml
  cranelift/codegen/meta/src/gen_settings.rs
  cranelift/codegen/meta/src/pulley.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/settings.rs
  crates/cranelift/src/debug.rs
  crates/cranelift/src/debug/transform/expression.rs
  crates/environ/src/compile/module_types.rs
  crates/environ/src/fact/trampoline.rs
  crates/environ/src/module.rs
  crates/environ/src/module_types.rs
  crates/test-programs/src/bin/api_proxy_streaming.rs
  crates/wasi/src/pipe.rs
  crates/wasmtime/src/runtime/component/resource_table.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/gc/disabled/arrayref.rs
  crates/wasmtime/src/runtime/gc/disabled/structref.rs
  crates/wasmtime/src/runtime/memory.rs
  crates/wasmtime/src/runtime/store/data.rs
  crates/wiggle/test-helpers/src/lib.rs
  pulley/src/interp.rs
  tests/all/wasi_testsuite.rs
Labels: wasmtime:api, cranelift, cranelift:meta, wasi, wasmtime:ref-types, pulley

#9974 chore: update `hashbrown` to 0.15
  Cargo.lock
  Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/ctxhash.rs
  crates/wasmtime/Cargo.toml
Labels: wasmtime:api, cranelift

#9978 Fix some more minor 2024 edition things
  crates/wasmtime/src/runtime/component/bindgen_examples/mod.rs
  crates/wasmtime/src/runtime/memory.rs
  crates/wiggle/test-helpers/src/lib.rs
Labels: wasmtime:api, wasi

#9970 Winch atomic loads x64
  crates/wasmtime/src/config.rs
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/atomic/load/i32_atomic_load.wat
  tests/disas/winch/x64/atomic/load/i32_atomic_load16_u.wat
  tests/disas/winch/x64/atomic/load/i32_atomic_load8_u.wat
  tests/disas/winch/x64/atomic/load/i64_atomic_load.wat
  tests/disas/winch/x64/atomic/load/i64_atomic_load16_u.wat
  tests/disas/winch/x64/atomic/load/i64_atomic_load32_u.wat
  tests/disas/winch/x64/atomic/load/i64_atomic_load8_u.wat
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: wasmtime:api, wasmtime:config, winch

#9988 Winch: return error on 128bit atomic loads
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
Labels: winch

#9950 Winch: Add SIMD load and extend and load and splat instructions for x64
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/load/v128_load16_splat_avx2.wat
  tests/disas/winch/x64/load/v128_load16x4_s_avx.wat
  tests/disas/winch/x64/load/v128_load16x4_u_avx.wat
  tests/disas/winch/x64/load/v128_load32_splat_avx2.wat
  tests/disas/winch/x64/load/v128_load32x2_s_avx.wat
  tests/disas/winch/x64/load/v128_load32x2_u_avx.wat
  tests/disas/winch/x64/load/v128_load64_splat_avx.wat
  tests/disas/winch/x64/load/v128_load8_splat_avx2.wat
  tests/disas/winch/x64/load/v128_load8x8_s_avx.wat
  tests/disas/winch/x64/load/v128_load8x8_u_avx.wat
  winch/codegen/src/codegen/error.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#9991 Fix typo in wasi document
  crates/wasi/src/runtime.rs
Labels: wasi

#9986 pulley: Add special instructions for `dst = 0` and 1
  cranelift/codegen/src/isa/pulley_shared/inst.isle
  cranelift/filetests/filetests/isa/pulley32/br_table.clif
  cranelift/filetests/filetests/isa/pulley32/brif-icmp.clif
  cranelift/filetests/filetests/isa/pulley32/brif.clif
  cranelift/filetests/filetests/isa/pulley32/call.clif
  cranelift/filetests/filetests/isa/pulley32/jump.clif
  cranelift/filetests/filetests/isa/pulley32/trap.clif
  cranelift/filetests/filetests/isa/pulley64/br_table.clif
  cranelift/filetests/filetests/isa/pulley64/brif-icmp.clif
  cranelift/filetests/filetests/isa/pulley64/brif.clif
  cranelift/filetests/filetests/isa/pulley64/call.clif
  cranelift/filetests/filetests/isa/pulley64/jump.clif
  cranelift/filetests/filetests/isa/pulley64/trap.clif
  pulley/src/interp.rs
  pulley/src/lib.rs
  tests/disas/pulley/br_table.wat
  tests/disas/pulley/epoch-simple.wat
  tests/disas/pulley/memory-inbounds.wat
Labels: cranelift, pulley

#9949 winch: Gracefully handle unsupported Wasm types
  winch/codegen/src/abi/mod.rs
  winch/codegen/src/codegen/builtin.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/codegen/control.rs
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/abi.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/visitor.rs
Labels: winch

#9982 Improve some logging in the differential fuzzer
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/diff_spec.rs
  crates/fuzzing/src/oracles/diff_v8.rs
  crates/fuzzing/src/oracles/diff_wasmi.rs
  crates/fuzzing/src/oracles/diff_wasmtime.rs
  crates/fuzzing/src/oracles/engine.rs
Labels: fuzzing

#9993 winch(x64): Fix `MemOpKind` for `i64_atomic_load8`
  winch/codegen/src/visitor.rs
Labels: winch

#9966 Enable fuzzing for Pulley & Winch
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/diff_wasmtime.rs
  crates/fuzzing/src/oracles/engine.rs
  fuzz/fuzz_targets/differential.rs
Labels: fuzzing

#9935 pulley: Finish `simd` proposal implementation
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  cranelift/filetests/filetests/runtests/simd-arithmetic.clif
  cranelift/filetests/filetests/runtests/simd-avg-round.clif
  cranelift/filetests/filetests/runtests/simd-band-splat.clif
  cranelift/filetests/filetests/runtests/simd-bitcast.clif
  cranelift/filetests/filetests/runtests/simd-bitselect-to-vselect.clif
  cranelift/filetests/filetests/runtests/simd-bitselect.clif
  cranelift/filetests/filetests/runtests/simd-bor-splat.clif
  cranelift/filetests/filetests/runtests/simd-bxor-splat.clif
  cranelift/filetests/filetests/runtests/simd-ceil.clif
  cranelift/filetests/filetests/runtests/simd-fcvt-to-sint-sat.clif
  cranelift/filetests/filetests/runtests/simd-fcvt-to-uint-sat.clif
  cranelift/filetests/filetests/runtests/simd-iabs.clif
  cranelift/filetests/filetests/runtests/simd-iadd-splat.clif
  cranelift/filetests/filetests/runtests/simd-iadd-swiden-high.clif
  cranelift/filetests/filetests/runtests/simd-iadd-swiden-low.clif
  cranelift/filetests/filetests/runtests/simd-iadd-swiden-mix.clif
  cranelift/filetests/filetests/runtests/simd-iadd-uwiden-high.clif
  cranelift/filetests/filetests/runtests/simd-iadd-uwiden-low.clif
  cranelift/filetests/filetests/runtests/simd-iadd-uwiden-mix.clif
  cranelift/filetests/filetests/runtests/simd-ifma.clif
  cranelift/filetests/filetests/runtests/simd-insert-extract-lane.clif
  cranelift/filetests/filetests/runtests/simd-ishl.clif
  cranelift/filetests/filetests/runtests/simd-isub-splat.clif
  cranelift/filetests/filetests/runtests/simd-isub-swiden-high.clif
  cranelift/filetests/filetests/runtests/simd-isub-swiden-low.clif
  cranelift/filetests/filetests/runtests/simd-isub-uwiden-high.clif
  cranelift/filetests/filetests/runtests/simd-isub-uwiden-low.clif
  cranelift/filetests/filetests/runtests/simd-lane-access.clif
  cranelift/filetests/filetests/runtests/simd-logical.clif
  cranelift/filetests/filetests/runtests/simd-make-vectors.clif
  cranelift/filetests/filetests/runtests/simd-nearest.clif
  cranelift/filetests/filetests/runtests/simd-popcnt.clif
  cranelift/filetests/filetests/runtests/simd-saddsat.clif
  cranelift/filetests/filetests/runtests/simd-select.clif
  cranelift/filetests/filetests/runtests/simd-shuffle.clif
  cranelift/filetests/filetests/runtests/simd-sqmulroundsat.clif
  cranelift/filetests/filetests/runtests/simd-sqrt.clif
  cranelift/filetests/filetests/runtests/simd-sshr.clif
  cranelift/filetests/filetests/runtests/simd-ssubsat.clif
  cranelift/filetests/filetests/runtests/simd-swizzle.clif
  cranelift/filetests/filetests/runtests/simd-trunc.clif
  cranelift/filetests/filetests/runtests/simd-uaddsat.clif
  cranelift/filetests/filetests/runtests/simd-ushr.clif
  cranelift/filetests/filetests/runtests/simd-usubsat.clif
  cranelift/filetests/filetests/runtests/simd-vconst-large.clif
  cranelift/filetests/filetests/runtests/simd-vconst.clif
  cranelift/filetests/filetests/runtests/simd-wideningpairwisedotproducts.clif
  cranelift/filetests/filetests/runtests/simd_compare_zero.clif
  crates/wast-util/src/lib.rs
  pulley/src/interp.rs
  pulley/src/lib.rs
Labels: cranelift

#9976 fix: `no_std` timing module
  cranelift/codegen/src/timing.rs
Labels: cranelift

#9973 ISLE: fix more glitches in BNF
  cranelift/isle/docs/language-reference.md
Labels: cranelift, isle

#9994 pulley: Add more addressing modes for loads/stores
  cranelift/codegen/src/isa/pulley_shared/inst.isle
  cranelift/codegen/src/isa/pulley_shared/inst/emit.rs
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  cranelift/codegen/src/isa/pulley_shared/lower/isle.rs
  cranelift/codegen/src/isa/pulley_shared/mod.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  pulley/src/interp.rs
  pulley/src/lib.rs
  tests/disas/pulley/pulley32_memory32.wat
  tests/disas/pulley/pulley64_memory32.wat
Labels: cranelift, isle, pulley

#10002 Use `ir::types::I8X16` for `v128`s in GC objects
  crates/cranelift/src/gc/enabled.rs
  tests/disas/gc/null/v128-fields.wat
  tests/disas/gc/struct-new-default.wat
Labels: wasmtime:ref-types

#9999 pulley: Shrink frame save/restore instructions
  cranelift/codegen/meta/src/pulley.rs
  cranelift/codegen/src/isa/pulley_shared/abi.rs
  cranelift/codegen/src/isa/pulley_shared/inst.isle
  cranelift/codegen/src/isa/pulley_shared/lower/isle.rs
  cranelift/filetests/filetests/isa/pulley32/call.clif
  cranelift/filetests/filetests/isa/pulley64/call.clif
  pulley/src/decode.rs
  pulley/src/disas.rs
  pulley/src/encode.rs
  pulley/src/interp.rs
  pulley/src/lib.rs
  pulley/src/regs.rs
  pulley/tests/all/disas.rs
  tests/disas/pulley/epoch-simple.wat
Labels: cranelift, cranelift:meta, isle, pulley

#10006 Update Link in Readme
  cranelift/README.md
Labels: cranelift

#9985 Add missing case for when `Ref::matches_ty` should return `true`
  crates/wasmtime/src/runtime/values.rs
  tests/all/gc.rs
Labels: wasmtime:api

#10004 Cranelift: dedupe `trap[n]z` instructions
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/filetests/filetests/egraph/idempotent-traps.clif
  tests/disas/dynamic-memory-no-spectre-access-same-index-different-offsets.wat
  tests/disas/epoch-interruption-x86.wat
  tests/disas/gc/drc/externref-globals.wat
  tests/disas/gc/drc/multiple-array-get.wat
  tests/disas/gc/drc/multiple-struct-get.wat
  tests/disas/gc/drc/struct-get.wat
  tests/disas/gc/drc/struct-new-default.wat
  tests/disas/gc/drc/struct-new.wat
  tests/disas/gc/drc/struct-set.wat
  tests/disas/gc/null/multiple-array-get.wat
  tests/disas/gc/null/multiple-struct-get.wat
  tests/disas/gc/null/v128-fields.wat
  tests/disas/gc/struct-new-default.wat
  tests/disas/gc/struct-new.wat
  tests/disas/pulley/epoch-simple.wat
  tests/disas/winch/aarch64/call_indirect/call_indirect.wat
  tests/disas/winch/aarch64/call_indirect/local_arg.wat
  tests/disas/winch/x64/call_indirect/call_indirect.wat
  tests/disas/winch/x64/call_indirect/local_arg.wat
  tests/disas/winch/x64/epoch/func.wat
  tests/disas/winch/x64/epoch/loop.wat
  tests/disas/winch/x64/fuel/call.wat
  tests/disas/winch/x64/fuel/func.wat
  tests/disas/winch/x64/fuel/loop.wat
  tests/disas/winch/x64/load/grow_load.wat
  tests/disas/winch/x64/table/fill.wat
  tests/disas/winch/x64/table/get.wat
  tests/disas/winch/x64/table/grow.wat
  tests/disas/winch/x64/table/init_copy_drop.wat
  tests/disas/winch/x64/table/set.wat
Labels: cranelift, cranelift:meta

#9969 [DWARF] Add logging to range building
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/pulley_shared/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  crates/cranelift/src/debug/transform/debug_transform_logging.rs
  crates/cranelift/src/debug/transform/expression.rs
Labels: cranelift, cranelift:area:x64

#10015 Release Wasmtime 28.0.1
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/bforest/Cargo.toml
  cranelift/bitset/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, isle

#10012 winch: Simplify the handling of `wasm_load`s
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#9941 Replace `signals-based-traps` with auto-detection
  .github/workflows/main.yml
  Cargo.toml
  crates/cli-flags/Cargo.toml
  crates/cli-flags/src/lib.rs
  crates/fuzzing/Cargo.toml
  crates/test-macros/src/lib.rs
  crates/wasi-nn/Cargo.toml
  crates/wasi/Cargo.toml
  crates/wasmtime/Cargo.toml
  crates/wasmtime/build.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/runtime/code_memory.rs
  crates/wasmtime/src/runtime/unix.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/memory.rs
  crates/wasmtime/src/runtime/vm/mmap_vec.rs
  crates/wasmtime/src/runtime/vm/sys/custom/capi.rs
  crates/wasmtime/src/runtime/vm/sys/custom/mod.rs
  crates/wasmtime/src/runtime/vm/sys/custom/traphandlers.rs
  crates/wasmtime/src/runtime/vm/sys/unix/mod.rs
  crates/wasmtime/src/runtime/vm/sys/unix/traphandlers.rs
  crates/wasmtime/src/runtime/vm/sys/unix/unwind.rs
  crates/wasmtime/src/runtime/vm/sys/windows/mod.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
  crates/wasmtime/src/runtime/vm/traphandlers/signals.rs
  crates/wasmtime/src/runtime/windows.rs
  docs/stability-platform-support.md
  examples/min-platform/Cargo.toml
  examples/min-platform/README.md
  examples/min-platform/build.sh
  examples/min-platform/embedding/Cargo.toml
  examples/min-platform/embedding/cbindgen.toml
  examples/min-platform/embedding/src/lib.rs
  examples/min-platform/embedding/wasmtime-platform.c
  examples/min-platform/embedding/wasmtime-platform.h
  examples/min-platform/src/main.rs
  src/commands/serve.rs
  tests/all/module.rs
  tests/unload-engine.rs
  tests/wast.rs
Labels: wasmtime:api, fuzzing, wasi, wasmtime:docs, wasmtime:config

#10019 pulley: Fix prologue for large stack frames
  cranelift/codegen/src/isa/pulley_shared/abi.rs
  cranelift/filetests/filetests/isa/pulley64/call.clif
Labels: cranelift

#9959 Winch: i8x16.shuffle for x64 with AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/i8x16_shuffle/const_avx.wat
  tests/misc_testsuite/winch/_simd_lane.wast
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/stack.rs
  winch/codegen/src/visitor.rs
Labels: winch

#9837 Run the full test suite on 32-bit platforms
  Cargo.lock
  Cargo.toml
  ci/build-test-matrix.js
  cranelift/codegen/build.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/pulley_shared/abi.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/filetests/src/function_runner.rs
  cranelift/filetests/src/test_run.rs
  cranelift/jit/tests/basic.rs
  cranelift/src/run.rs
  crates/cranelift/src/debug/transform/address_transform.rs
  crates/cranelift/src/debug/transform/expression.rs
  crates/cranelift/src/obj.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/build.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/vm/interpreter.rs
  crates/wasmtime/src/runtime/vm/interpreter_disabled.rs
  pulley/src/disas.rs
  pulley/src/interp.rs
  tests/all/cli_tests.rs
  tests/all/gc.rs
  tests/all/memory.rs
  tests/all/memory_creator.rs
  tests/all/module.rs
  tests/all/pooling_allocator.rs
  tests/all/relocs.rs
  tests/all/threads.rs
  tests/all/traps.rs
  tests/all/wait_notify.rs
  tests/all/wasi_testsuite.rs
  tests/host_segfault.rs
  winch/codegen/src/codegen/mod.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:area:aarch64, wasmtime:config, pulley

#10024 Disable sigaltstack overriding in asan builds
  crates/wasmtime/src/runtime/vm/sys/unix/signals.rs
Labels: fuzz-bug

#10027 Wasmtime: generalize `async_stack_zeroing` knob to cover initialization
  crates/c-api/include/wasmtime/async.h
  crates/c-api/src/async.rs
  crates/cli-flags/src/lib.rs
  crates/fiber/src/lib.rs
  crates/fiber/src/nostd.rs
  crates/fiber/src/unix.rs
  crates/fiber/src/windows.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/pooling_config.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/runtime/stack.rs
  crates/wasmtime/src/runtime/trampoline.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/on_demand.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/generic_stack_pool.rs
  tests/all/stack_creator.rs
Labels: wasmtime:api, wasmtime:config

#10008 winch x64 rmw sub
  tests/disas/winch/x64/atomic/rmw/i32_atomic_rmw16_subu.wat
  tests/disas/winch/x64/atomic/rmw/i32_atomic_rmw8_subu.wat
  tests/disas/winch/x64/atomic/rmw/i32_atomic_rmw_sub.wat
  tests/disas/winch/x64/atomic/rmw/i64_atomic_rmw16_subu.wat
  tests/disas/winch/x64/atomic/rmw/i64_atomic_rmw32_subu.wat
  tests/disas/winch/x64/atomic/rmw/i64_atomic_rmw8_subu.wat
  tests/disas/winch/x64/atomic/rmw/i64_atomic_rmw_sub.wat
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10026 Further limit memory growth during fuzzing
  crates/fuzzing/src/oracles.rs
Labels: fuzz-bug, fuzzing

#10017 pulley: Support smaller int-to-float conversions
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  cranelift/filetests/filetests/runtests/fcvt-from-int.clif
  cranelift/filetests/filetests/runtests/issue5952.clif
Labels: fuzz-bug, cranelift, pulley

#10021 pulley: Fix regalloc of return-call-indirect
  cranelift/codegen/src/isa/pulley_shared/abi.rs
  cranelift/codegen/src/isa/pulley_shared/inst/mod.rs
  cranelift/filetests/filetests/isa/pulley32/call.clif
  cranelift/filetests/filetests/isa/pulley64/call.clif
  pulley/src/interp.rs
Labels: fuzz-bug, cranelift, pulley

#10028 Winch: Add splat instructions to x64 using AVX2
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/f32x4_splat/const_avx2.wat
  tests/disas/winch/x64/f32x4_splat/params_avx2.wat
  tests/disas/winch/x64/f64x2_splat/const_avx.wat
  tests/disas/winch/x64/f64x2_splat/param_avx.wat
  tests/disas/winch/x64/i16x8_splat/const_avx2.wat
  tests/disas/winch/x64/i16x8_splat/param_avx2.wat
  tests/disas/winch/x64/i32x4_splat/const_avx2.wat
  tests/disas/winch/x64/i32x4_splat/param_avx2.wat
  tests/disas/winch/x64/i64x2_splat/const_avx.wat
  tests/disas/winch/x64/i64x2_splat/param_avx.wat
  tests/disas/winch/x64/i8x16_splat/const_avx2.wat
  tests/disas/winch/x64/i8x16_splat/param_avx2.wat
  tests/misc_testsuite/winch/_simd_splat.wast
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/error.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10022 pulley: Refactor register restores on tail-calls
  cranelift/codegen/src/isa/pulley_shared/abi.rs
  cranelift/codegen/src/isa/pulley_shared/inst/emit.rs
  cranelift/codegen/src/isa/pulley_shared/mod.rs
Labels: cranelift, pulley

#10016 wasmtime-wasi: Split a new `IoView` trait off of `WasiView`
  crates/wasi-config/src/lib.rs
  crates/wasi-config/tests/main.rs
  crates/wasi-http/src/http_impl.rs
  crates/wasi-http/src/lib.rs
  crates/wasi-http/src/types.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/tests/all/main.rs
  crates/wasi-keyvalue/src/lib.rs
  crates/wasi-keyvalue/tests/main.rs
  crates/wasi-nn/tests/exec/wit.rs
  crates/wasi/src/bindings.rs
  crates/wasi/src/ctx.rs
  crates/wasi/src/host/clocks.rs
  crates/wasi/src/host/filesystem.rs
  crates/wasi/src/host/instance_network.rs
  crates/wasi/src/host/io.rs
  crates/wasi/src/host/network.rs
  crates/wasi/src/host/tcp.rs
  crates/wasi/src/host/tcp_create_socket.rs
  crates/wasi/src/host/udp.rs
  crates/wasi/src/host/udp_create_socket.rs
  crates/wasi/src/ip_name_lookup.rs
  crates/wasi/src/lib.rs
  crates/wasi/src/poll.rs
  crates/wasi/src/preview1.rs
  crates/wasi/src/stdio.rs
  crates/wasi/src/view.rs
  crates/wasi/tests/all/api.rs
  crates/wasi/tests/all/main.rs
  examples/wasip2-async/main.rs
  examples/wasip2/main.rs
  src/commands/run.rs
  src/commands/serve.rs
Labels: wasi

#10038 Optimize MIRI execution time in CI
  crates/wasmtime/src/config.rs
  tests/all/component_model/instance.rs
  tests/all/component_model/linker.rs
  tests/all/func.rs
  tests/all/host_funcs.rs
  tests/all/instance.rs
  tests/all/linker.rs
  tests/all/module.rs
Labels: wasmtime:api, wasmtime:config

#10045 Disable relaxed-simd in differential fuzzing
  crates/fuzzing/src/generators/config.rs
Labels: fuzzing

#10023 Winch: implement rmw `and`, `xor` and `or` for x64
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  tests/disas/winch/x64/atomic/rmw/add/i32_atomic_rmw16_addu.wat
  tests/disas/winch/x64/atomic/rmw/add/i32_atomic_rmw8_addu.wat
  tests/disas/winch/x64/atomic/rmw/add/i32_atomic_rmw_add.wat
  tests/disas/winch/x64/atomic/rmw/add/i64_atomic_rmw16_addu.wat
  tests/disas/winch/x64/atomic/rmw/add/i64_atomic_rmw32_addu.wat
  tests/disas/winch/x64/atomic/rmw/add/i64_atomic_rmw8_addu.wat
  tests/disas/winch/x64/atomic/rmw/add/i64_atomic_rmw_add.wat
  tests/disas/winch/x64/atomic/rmw/and/i32_atomic_rmw16_andu.wat
  tests/disas/winch/x64/atomic/rmw/and/i32_atomic_rmw8_andu.wat
  tests/disas/winch/x64/atomic/rmw/and/i32_atomic_rmw_and.wat
  tests/disas/winch/x64/atomic/rmw/and/i64_atomic_rmw16_andu.wat
  tests/disas/winch/x64/atomic/rmw/and/i64_atomic_rmw32_andu.wat
  tests/disas/winch/x64/atomic/rmw/and/i64_atomic_rmw8_andu.wat
  tests/disas/winch/x64/atomic/rmw/and/i64_atomic_rmw_and.wat
  tests/disas/winch/x64/atomic/rmw/or/i32_atomic_rmw16_oru.wat
  tests/disas/winch/x64/atomic/rmw/or/i32_atomic_rmw8_oru.wat
  tests/disas/winch/x64/atomic/rmw/or/i32_atomic_rmw_or.wat
  tests/disas/winch/x64/atomic/rmw/or/i64_atomic_rmw16_oru.wat
  tests/disas/winch/x64/atomic/rmw/or/i64_atomic_rmw32_oru.wat
  tests/disas/winch/x64/atomic/rmw/or/i64_atomic_rmw8_oru.wat
  tests/disas/winch/x64/atomic/rmw/or/i64_atomic_rmw_or.wat
  tests/disas/winch/x64/atomic/rmw/sub/i32_atomic_rmw16_subu.wat
  tests/disas/winch/x64/atomic/rmw/sub/i32_atomic_rmw8_subu.wat
  tests/disas/winch/x64/atomic/rmw/sub/i32_atomic_rmw_sub.wat
  tests/disas/winch/x64/atomic/rmw/sub/i64_atomic_rmw16_subu.wat
  tests/disas/winch/x64/atomic/rmw/sub/i64_atomic_rmw32_subu.wat
  tests/disas/winch/x64/atomic/rmw/sub/i64_atomic_rmw8_subu.wat
  tests/disas/winch/x64/atomic/rmw/sub/i64_atomic_rmw_sub.wat
  tests/disas/winch/x64/atomic/rmw/xchg/i32_atomic_rmw16_xchgu.wat
  tests/disas/winch/x64/atomic/rmw/xchg/i32_atomic_rmw8_xchgu.wat
  tests/disas/winch/x64/atomic/rmw/xchg/i32_atomic_rmw_xchg.wat
  tests/disas/winch/x64/atomic/rmw/xchg/i64_atomic_rmw16_xchgu.wat
  tests/disas/winch/x64/atomic/rmw/xchg/i64_atomic_rmw32_xchgu.wat
  tests/disas/winch/x64/atomic/rmw/xchg/i64_atomic_rmw8_xchgu.wat
  tests/disas/winch/x64/atomic/rmw/xchg/i64_atomic_rmw_xchg.wat
  tests/disas/winch/x64/atomic/rmw/xor/i32_atomic_rmw16_xoru.wat
  tests/disas/winch/x64/atomic/rmw/xor/i32_atomic_rmw8_xoru.wat
  tests/disas/winch/x64/atomic/rmw/xor/i32_atomic_rmw_xor.wat
  tests/disas/winch/x64/atomic/rmw/xor/i64_atomic_rmw16_xoru.wat
  tests/disas/winch/x64/atomic/rmw/xor/i64_atomic_rmw32_xoru.wat
  tests/disas/winch/x64/atomic/rmw/xor/i64_atomic_rmw8_xoru.wat
  tests/disas/winch/x64/atomic/rmw/xor/i64_atomic_rmw_xor.wat
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: cranelift, cranelift:area:x64, winch

#10042 Winch: extract_lane instructions on x64 with AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/f32x4_extract_lane/first_lane_avx.wat
  tests/disas/winch/x64/f32x4_extract_lane/second_lane_avx.wat
  tests/disas/winch/x64/f64x2_extract_lane/first_lane_avx.wat
  tests/disas/winch/x64/f64x2_extract_lane/second_lane_avx.wat
  tests/disas/winch/x64/i16x8_extract_lane_s/const_avx.wat
  tests/disas/winch/x64/i16x8_extract_lane_u/const.wat
  tests/disas/winch/x64/i32x4_extract_lane/const_avx.wat
  tests/disas/winch/x64/i64x2_extract_lane/const.wat
  tests/disas/winch/x64/i8x16_extract_lane_s/const_avx.wat
  tests/disas/winch/x64/i8x16_extract_lane_u/const_avx.wat
  tests/misc_testsuite/winch/_simd_lane.wast
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10050 Winch: Implement swizzle on x64 with AVX
  tests/disas/winch/x64/i8x16_swizzle/const_avx.wat
  tests/misc_testsuite/winch/_simd_lane.wast
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10053 winch: Tighten the definition of `ExtendKind`
  winch/codegen/src/codegen/error.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10055 Fixes minor typo in winch/README.md
  winch/README.md
Labels: winch

#10056 winch: Refactor global address calculation
  tests/misc_testsuite/winch/imported_globals_fuzzbug.wast
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/visitor.rs
Labels: fuzz-bug, winch

#10060 Winch: fix atomic and/or/xor bug
  crates/environ/src/types.rs
  tests/disas/winch/x64/atomic/rmw/and/i32_atomic_rmw16_andu.wat
  tests/disas/winch/x64/atomic/rmw/and/i32_atomic_rmw8_andu.wat
  tests/disas/winch/x64/atomic/rmw/and/i32_atomic_rmw_and.wat
  tests/disas/winch/x64/atomic/rmw/and/i64_atomic_rmw16_andu.wat
  tests/disas/winch/x64/atomic/rmw/and/i64_atomic_rmw32_andu.wat
  tests/disas/winch/x64/atomic/rmw/and/i64_atomic_rmw8_andu.wat
  tests/disas/winch/x64/atomic/rmw/and/i64_atomic_rmw_and.wat
  tests/disas/winch/x64/atomic/rmw/or/i32_atomic_rmw16_oru.wat
  tests/disas/winch/x64/atomic/rmw/or/i32_atomic_rmw8_oru.wat
  tests/disas/winch/x64/atomic/rmw/or/i32_atomic_rmw_or.wat
  tests/disas/winch/x64/atomic/rmw/or/i64_atomic_rmw16_oru.wat
  tests/disas/winch/x64/atomic/rmw/or/i64_atomic_rmw32_oru.wat
  tests/disas/winch/x64/atomic/rmw/or/i64_atomic_rmw8_oru.wat
  tests/disas/winch/x64/atomic/rmw/or/i64_atomic_rmw_or.wat
  tests/disas/winch/x64/atomic/rmw/xor/i32_atomic_rmw16_xoru.wat
  tests/disas/winch/x64/atomic/rmw/xor/i32_atomic_rmw8_xoru.wat
  tests/disas/winch/x64/atomic/rmw/xor/i32_atomic_rmw_xor.wat
  tests/disas/winch/x64/atomic/rmw/xor/i64_atomic_rmw16_xoru.wat
  tests/disas/winch/x64/atomic/rmw/xor/i64_atomic_rmw32_xoru.wat
  tests/disas/winch/x64/atomic/rmw/xor/i64_atomic_rmw8_xoru.wat
  tests/disas/winch/x64/atomic/rmw/xor/i64_atomic_rmw_xor.wat
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
Labels: winch

#10052 Fuzzing: Keep AVX flags enabled for Winch
  crates/fuzzing/src/generators/codegen_settings.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#10062 pulley: Implement full 128-bit multiplication
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  cranelift/filetests/filetests/runtests/i128-arithmetic.clif
Labels: cranelift

#10068 Disable Winch fuzzing on non-x86_64 architectures
  crates/fuzzing/src/generators/config.rs
Labels: fuzzing

#10039 Winch: x64 atomic CAS
  tests/disas/winch/x64/atomic/rmw/cmpxchg/i32_atomic_rmw16_cmpxchgu.wat
  tests/disas/winch/x64/atomic/rmw/cmpxchg/i32_atomic_rmw8_cmpxchgu.wat
  tests/disas/winch/x64/atomic/rmw/cmpxchg/i32_atomic_rmw_cmpxchg.wat
  tests/disas/winch/x64/atomic/rmw/cmpxchg/i64_atomic_rmw16_cmpxchgu.wat
  tests/disas/winch/x64/atomic/rmw/cmpxchg/i64_atomic_rmw32_cmpxchgu.wat
  tests/disas/winch/x64/atomic/rmw/cmpxchg/i64_atomic_rmw8_cmpxchgu.wat
  tests/disas/winch/x64/atomic/rmw/cmpxchg/i64_atomic_rmw_cmpxchg.wat
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10047 async/stream/future plumbing for wasmtime-environ
  crates/cranelift/src/compiler/component.rs
  crates/environ/examples/factc.rs
  crates/environ/fuzz/fuzz_targets/fact-valid-module.rs
  crates/environ/src/component.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/adapt.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/types.rs
  crates/environ/src/component/types_builder.rs
  crates/environ/src/component/types_builder/resources.rs
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/environ/src/fact.rs
  crates/environ/src/fact/trampoline.rs
  crates/environ/src/trap_encoding.rs
  crates/wasmtime/src/runtime/component/component.rs
  crates/wasmtime/src/runtime/component/func/typed.rs
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/component/types.rs
  crates/wasmtime/src/runtime/component/values.rs
  crates/wasmtime/src/runtime/vm/component/libcalls.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
Labels: wasmtime:api

#10036 Split off wasmtime-wasi-io crate from wasmtime-wasi
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  ci/vendor-wit.sh
  crates/wasi-http/src/bindings.rs
  crates/wasi-http/src/body.rs
  crates/wasi-http/src/error.rs
  crates/wasi-http/src/lib.rs
  crates/wasi-http/src/types.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-io/Cargo.toml
  crates/wasi-io/src/bindings.rs
  crates/wasi-io/src/impls.rs
  crates/wasi-io/src/lib.rs
  crates/wasi-io/src/poll.rs
  crates/wasi-io/src/streams.rs
  crates/wasi-io/wit/deps/io/error.wit
  crates/wasi-io/wit/deps/io/poll.wit
  crates/wasi-io/wit/deps/io/streams.wit
  crates/wasi-io/wit/deps/io/world.wit
  crates/wasi-io/wit/world.wit
  crates/wasi/Cargo.toml
  crates/wasi/src/bindings.rs
  crates/wasi/src/ctx.rs
  crates/wasi/src/filesystem.rs
  crates/wasi/src/host/clocks.rs
  crates/wasi/src/host/filesystem.rs
  crates/wasi/src/host/io.rs
  crates/wasi/src/host/tcp.rs
  crates/wasi/src/host/udp.rs
  crates/wasi/src/ip_name_lookup.rs
  crates/wasi/src/lib.rs
  crates/wasi/src/pipe.rs
  crates/wasi/src/poll.rs
  crates/wasi/src/preview1.rs
  crates/wasi/src/stdio.rs
  crates/wasi/src/stdio/worker_thread_stdin.rs
  crates/wasi/src/tcp.rs
  crates/wasi/src/udp.rs
  crates/wasi/src/view.rs
  crates/wasi/src/write_stream.rs
  crates/wasi/tests/all/api.rs
  crates/wasi/tests/process_stdin.rs
  crates/wasmtime/src/runtime/component/resource_table.rs
  scripts/publish.rs
  src/commands/serve.rs
Labels: wasi

#10086 Cranelift/x64 backend: do not use one-way branches.
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/filetests/filetests/isa/x64/branches.clif
  cranelift/filetests/filetests/isa/x64/f64-branches-avx.clif
  cranelift/filetests/filetests/isa/x64/very-carefully-sink-loads-in-float-compares.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:x64, winch

#10069 Fix argument extension on riscv64 for Wasmtime builtins
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/pulley_shared/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  crates/cranelift/src/lib.rs
  tests/disas/gc/drc/array-new-fixed.wat
  tests/disas/gc/drc/array-new.wat
  tests/disas/gc/drc/br-on-cast-fail.wat
  tests/disas/gc/drc/br-on-cast.wat
  tests/disas/gc/drc/call-indirect-and-subtyping.wat
  tests/disas/gc/drc/externref-globals.wat
  tests/disas/gc/drc/funcref-in-gc-heap-get.wat
  tests/disas/gc/drc/funcref-in-gc-heap-new.wat
  tests/disas/gc/drc/ref-cast.wat
  tests/disas/gc/drc/ref-test-concrete-func-type.wat
  tests/disas/gc/drc/ref-test-concrete-type.wat
  tests/disas/gc/drc/struct-get.wat
  tests/disas/gc/drc/struct-new-default.wat
  tests/disas/gc/drc/struct-new.wat
  tests/disas/gc/drc/struct-set.wat
  tests/disas/gc/null/br-on-cast-fail.wat
  tests/disas/gc/null/br-on-cast.wat
  tests/disas/gc/null/call-indirect-and-subtyping.wat
  tests/disas/gc/null/funcref-in-gc-heap-get.wat
  tests/disas/gc/null/ref-cast.wat
  tests/disas/gc/null/ref-test-concrete-func-type.wat
  tests/disas/gc/null/ref-test-concrete-type.wat
  tests/disas/gc/struct-new-default.wat
  tests/disas/gc/struct-new.wat
  tests/disas/icall-loop.wat
  tests/disas/icall-simd.wat
  tests/disas/icall.wat
  tests/disas/indirect-call-no-caching.wat
  tests/disas/passive-data.wat
  tests/disas/readonly-funcrefs.wat
  tests/disas/ref-func-0.wat
  tests/disas/table-copy.wat
  tests/disas/table-get-fixed-size.wat
  tests/disas/table-get.wat
  tests/disas/table-set-fixed-size.wat
  tests/disas/table-set.wat
  tests/disas/typed-funcrefs.wat
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64

#10091 Wasmtime: fix `PartialEq` implementation for `RegisteredType`
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/runtime/type_registry.rs
  tests/all/arrays.rs
  tests/all/main.rs
  tests/all/structs.rs
Labels: wasmtime:api

#10087 Cranelift/s390x: do not use one-way conditional branches.
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/filetests/filetests/isa/s390x/jumptable.clif
Labels: cranelift

#10043 Provenance preparation for Pulley
  crates/wasmtime/src/runtime/component/component.rs
  crates/wasmtime/src/runtime/component/func.rs
  crates/wasmtime/src/runtime/component/func/host.rs
  crates/wasmtime/src/runtime/component/func/options.rs
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/component/resources.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/memory.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/store/func_refs.rs
  crates/wasmtime/src/runtime/trampoline/func.rs
  crates/wasmtime/src/runtime/trampoline/global.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/component.rs
  crates/wasmtime/src/runtime/vm/component/libcalls.rs
  crates/wasmtime/src/runtime/vm/const_expr.rs
  crates/wasmtime/src/runtime/vm/debug_builtins.rs
  crates/wasmtime/src/runtime/vm/export.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/drc.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/null.rs
  crates/wasmtime/src/runtime/vm/gc/gc_runtime.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
  crates/wasmtime/src/runtime/vm/interpreter.rs
  crates/wasmtime/src/runtime/vm/interpreter_disabled.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/memory.rs
  crates/wasmtime/src/runtime/vm/memory/shared_memory.rs
  crates/wasmtime/src/runtime/vm/memory/shared_memory_disabled.rs
  crates/wasmtime/src/runtime/vm/mmap.rs
  crates/wasmtime/src/runtime/vm/provenance.rs
  crates/wasmtime/src/runtime/vm/store_box.rs
  crates/wasmtime/src/runtime/vm/sys/custom/traphandlers.rs
  crates/wasmtime/src/runtime/vm/sys/miri/traphandlers.rs
  crates/wasmtime/src/runtime/vm/sys/unix/traphandlers.rs
  crates/wasmtime/src/runtime/vm/sys/windows/traphandlers.rs
  crates/wasmtime/src/runtime/vm/table.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
  crates/wasmtime/src/runtime/vm/traphandlers/backtrace.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  crates/wasmtime/src/runtime/vm/vmcontext/vm_host_func_context.rs
Labels: wasmtime:api, wasmtime:ref-types

#10097 Use `VmSafe` trait in `VMComponentContext`
  crates/wasmtime/src/runtime/component/func/host.rs
  crates/wasmtime/src/runtime/vm/component.rs
  crates/wasmtime/src/runtime/vm/component/libcalls.rs
Labels: wasmtime:api

#10083 add component-model-async/lift.wast test
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/module.rs
  crates/misc/component-test-util/Cargo.toml
  crates/misc/component-test-util/src/lib.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/vm/component.rs
  crates/wast-util/src/lib.rs
  crates/wast/Cargo.toml
  tests/misc_testsuite/component-model-async/lift.wast
Labels: wasmtime:api, fuzzing, wasmtime:config

#10082 Winch: Add replace_lane instructions for x64 with AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/f32x4_replace_lane/const_avx.wat
  tests/disas/winch/x64/f32x4_replace_lane/param_avx.wat
  tests/disas/winch/x64/f64x2_replace_lane/const_lane0_avx.wat
  tests/disas/winch/x64/f64x2_replace_lane/const_lane1_avx.wat
  tests/disas/winch/x64/f64x2_replace_lane/param_lane0_avx.wat
  tests/disas/winch/x64/f64x2_replace_lane/param_lane1_avx.wat
  tests/disas/winch/x64/i16x8_replace_lane/const_avx.wat
  tests/disas/winch/x64/i16x8_replace_lane/param_avx.wat
  tests/disas/winch/x64/i32x4_replace_lane/const_avx.wat
  tests/disas/winch/x64/i32x4_replace_lane/param_avx.wat
  tests/disas/winch/x64/i64x2_replace_lane/const_avx.wat
  tests/disas/winch/x64/i64x2_replace_lane/param_avx.wat
  tests/disas/winch/x64/i8x16_replace_lane/const_avx.wat
  tests/disas/winch/x64/i8x16_replace_lane/param_avx.wat
  tests/misc_testsuite/winch/_simd_lane.wast
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/stack.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10098 pulley: Run more functions in the miri provenance test
  crates/wasmtime/src/runtime/vm/interpreter.rs
  pulley/src/interp.rs
  tests/all/pulley.rs
Labels: wasmtime:api, pulley

#10100 pulley: Optimize bounds-checks for 1-byte loads/stores
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  cranelift/filetests/filetests/isa/pulley32/xbc.clif
  cranelift/filetests/filetests/isa/pulley64/xbc.clif
  pulley/src/interp.rs
  pulley/src/lib.rs
  tests/disas/pulley/pulley32_memory32.wat
  tests/disas/pulley/pulley64_memory32.wat
Labels: cranelift, pulley

#10117 docs: Fix Standards Compliant link
  crates/wasmtime/README.md
Labels: wasmtime:api

#10112 pulley: Expand provenance test some more
  ci/miri-provenance-test.sh
  crates/cranelift/src/lib.rs
  crates/environ/src/builtin.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/interpreter.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  tests/all/pulley.rs
  tests/all/pulley_provenance_test.wat
  winch/codegen/src/codegen/builtin.rs
Labels: wasmtime:api, winch

#10124 Fix sync'ing the "wat" feature of the C API
  crates/c-api/Cargo.toml
  crates/c-api/build.rs
Labels: wasmtime:c-api

#10123 Make it easier to reuse fuzzing configuration on the CLI
  Cargo.lock
  Cargo.toml
  crates/cli-flags/Cargo.toml
  crates/cli-flags/src/lib.rs
  crates/cli-flags/src/opt.rs
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators/codegen_settings.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/instance_allocation_strategy.rs
  crates/fuzzing/src/generators/memory.rs
  crates/fuzzing/src/generators/pooling_config.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/memory_pool.rs
  crates/wasmtime/src/runtime/vm/mpk/mod.rs
Labels: wasmtime:api, fuzzing, wasmtime:config

#9811 Create wasmtime::Config from toml
  Cargo.lock
  crates/cli-flags/Cargo.toml
  crates/cli-flags/src/lib.rs
  crates/cli-flags/src/opt.rs
  crates/wasmtime/src/config.rs
  tests/all/cli_tests.rs
Labels: wasmtime:api, wasmtime:config

#10107 Improve support for completely unknown architectures
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  crates/environ/src/tunables.rs
  crates/fiber/src/nostd.rs
  crates/fiber/src/stackswitch.rs
  crates/fiber/src/unix.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/build.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/runtime/code_memory.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/arch/arm.rs
  crates/wasmtime/src/runtime/vm/arch/mod.rs
  crates/wasmtime/src/runtime/vm/arch/x86.rs
  crates/wasmtime/src/runtime/vm/interpreter.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/sys/unix/mod.rs
  crates/wasmtime/src/runtime/vm/sys/unix/traphandlers.rs
  crates/wasmtime/src/runtime/vm/sys/windows/mod.rs
  crates/wasmtime/src/runtime/vm/sys/windows/traphandlers.rs
  crates/wasmtime/src/runtime/vm/sys/windows/unwind32.rs
  crates/wasmtime/src/runtime/vm/sys/windows/vectored_exceptions.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
  crates/wasmtime/src/runtime/vm/unwind.rs
  crates/wasmtime/src/runtime/windows.rs
  crates/wasmtime/tests/custom_signal_handler.rs
  crates/wasmtime/tests/host_segfault.rs
  crates/wasmtime/tests/unload-engine.rs
  tests/all/defaults.rs
Labels: wasmtime:api, wasmtime:config

#10131 Start work towards always-warnings in wasmtime
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/runtime/vm/sys/unix/traphandlers.rs
Labels: wasmtime:api

#10132 Make TOML config keys kebab-case, and add docs
  crates/cli-flags/src/lib.rs
  docs/cli-options.md
  tests/all/cli_tests.rs
Labels: wasmtime:docs

#10135 Enable warnings if `coredump` is disabled
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/memory.rs
  crates/wasmtime/src/runtime/module/registry.rs
Labels: wasmtime:api, wasmtime:config

#10136 Enable warnings if `threads` is disabled
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime/vm/memory.rs
  crates/wasmtime/src/runtime/vm/memory/shared_memory_disabled.rs
Labels: wasmtime:api

#10109 Winch: `v128` logical ops for x64
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/v128_ops/and.wat
  tests/disas/winch/x64/v128_ops/andnot.wat
  tests/disas/winch/x64/v128_ops/any_true.wat
  tests/disas/winch/x64/v128_ops/bitselect.wat
  tests/disas/winch/x64/v128_ops/load_lane/load16.wat
  tests/disas/winch/x64/v128_ops/load_lane/load32.wat
  tests/disas/winch/x64/v128_ops/load_lane/load64.wat
  tests/disas/winch/x64/v128_ops/load_lane/load8.wat
  tests/disas/winch/x64/v128_ops/not.wat
  tests/disas/winch/x64/v128_ops/or.wat
  tests/disas/winch/x64/v128_ops/store_lane/store16.wat
  tests/disas/winch/x64/v128_ops/store_lane/store32.wat
  tests/disas/winch/x64/v128_ops/store_lane/store64.wat
  tests/disas/winch/x64/v128_ops/store_lane/store8.wat
  tests/disas/winch/x64/v128_ops/xor.wat
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10134 Support platforms without 64-bit atomics
  .github/workflows/main.yml
  crates/environ/src/builtin.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/runtime/component/resources.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/store/data.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/provenance.rs
  crates/wasmtime/src/runtime/vm/sys/custom/capi.rs
  crates/wasmtime/src/runtime/vm/sys/custom/mod.rs
  crates/wasmtime/src/runtime/vm/sys/custom/traphandlers.rs
  docs/stability-tiers.md
Labels: wasmtime:api, wasmtime:docs

#10144 Add a style guideline for conditional compilation
  docs/SUMMARY.md
  docs/contributing-conditional-compilation.md
Labels: wasmtime:docs

#10145 Enable warnings if `async` is disabled
  .github/workflows/main.yml
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime/component/linker.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/store/async_.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
  crates/wasmtime/src/runtime/vm/mpk/disabled.rs
  crates/wasmtime/src/runtime/vm/mpk/enabled.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
Labels: wasmtime:api

#10155 Add a note that `no_std` builds panic on contention
  docs/stability-tiers.md
Labels: wasmtime:docs

#10149 Enable warnings if `gc` is disabled
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/gc.rs
  crates/wasmtime/src/runtime/gc/disabled/arrayref.rs
  crates/wasmtime/src/runtime/gc/disabled/eqref.rs
  crates/wasmtime/src/runtime/gc/disabled/rooting.rs
  crates/wasmtime/src/runtime/gc/disabled/structref.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/module/registry.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/store/async_.rs
  crates/wasmtime/src/runtime/trampoline/memory.rs
  crates/wasmtime/src/runtime/type_registry.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/const_expr.rs
  crates/wasmtime/src/runtime/vm/gc/disabled.rs
  crates/wasmtime/src/runtime/vm/gc/enabled.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/null.rs
  crates/wasmtime/src/runtime/vm/gc/gc_runtime.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/mpk/disabled.rs
  crates/wasmtime/src/runtime/vm/traphandlers/backtrace.rs
Labels: wasmtime:api, wasmtime:ref-types, wasmtime:config
