Repository bytecodealliance/wasmtime, pull requests merged in 2025-08, with the labels that each got.

#11365 Simplify WASI internal implementations
  crates/c-api/src/store.rs
  crates/misc/component-async-tests/src/borrowing_host.rs
  crates/misc/component-async-tests/src/lib.rs
  crates/misc/component-async-tests/src/resource_stream.rs
  crates/wasi-config/src/lib.rs
  crates/wasi-config/tests/main.rs
  crates/wasi-http/src/http_impl.rs
  crates/wasi-http/src/lib.rs
  crates/wasi-http/src/types.rs
  crates/wasi-http/src/types_impl.rs
  crates/wasi-http/tests/all/p2.rs
  crates/wasi-io/src/impls.rs
  crates/wasi-io/src/lib.rs
  crates/wasi-keyvalue/src/lib.rs
  crates/wasi-keyvalue/tests/main.rs
  crates/wasi-nn/tests/exec/wit.rs
  crates/wasi-tls-nativetls/tests/main.rs
  crates/wasi-tls/src/lib.rs
  crates/wasi-tls/tests/main.rs
  crates/wasi/src/p2/bindings.rs
  crates/wasi/src/p2/ctx.rs
  crates/wasi/src/p2/host/clocks.rs
  crates/wasi/src/p2/host/env.rs
  crates/wasi/src/p2/host/exit.rs
  crates/wasi/src/p2/host/filesystem.rs
  crates/wasi/src/p2/host/filesystem/sync.rs
  crates/wasi/src/p2/host/instance_network.rs
  crates/wasi/src/p2/host/io.rs
  crates/wasi/src/p2/host/network.rs
  crates/wasi/src/p2/host/tcp.rs
  crates/wasi/src/p2/host/tcp_create_socket.rs
  crates/wasi/src/p2/host/udp.rs
  crates/wasi/src/p2/host/udp_create_socket.rs
  crates/wasi/src/p2/ip_name_lookup.rs
  crates/wasi/src/p2/mod.rs
  crates/wasi/src/p2/poll.rs
  crates/wasi/src/p2/stdio.rs
  crates/wasi/src/p2/view.rs
  crates/wasi/src/preview1.rs
  crates/wasi/tests/all/p2/api.rs
  crates/wasi/tests/all/p2/mod.rs
  crates/wasi/tests/all/p3/mod.rs
  examples/resource-component/main.rs
  examples/wasip2-async/main.rs
  examples/wasip2/main.rs
  src/commands/run.rs
  src/commands/serve.rs
Labels: wasmtime:c-api, wasi

#11368 Share stdio implementations in WASIp{2,3}
  crates/c-api/src/wasi.rs
  crates/wasi/src/cli.rs
  crates/wasi/src/cli/empty.rs
  crates/wasi/src/cli/file.rs
  crates/wasi/src/cli/locked_async.rs
  crates/wasi/src/cli/mem.rs
  crates/wasi/src/cli/stdout.rs
  crates/wasi/src/cli/worker_thread_stdin.rs
  crates/wasi/src/ctx.rs
  crates/wasi/src/p2/ctx.rs
  crates/wasi/src/p2/mod.rs
  crates/wasi/src/p2/pipe.rs
  crates/wasi/src/p2/stdio.rs
  crates/wasi/src/p2/write_stream.rs
  crates/wasi/src/p3/cli/host.rs
  crates/wasi/src/p3/cli/mod.rs
  crates/wasi/src/p3/ctx.rs
  crates/wasi/tests/process_stdin.rs
  src/commands/serve.rs
Labels: wasmtime:c-api, wasi

#11376 CacheConfigs are always enabled; clarify directory validation
  crates/cache/src/config.rs
  crates/cache/src/config/tests.rs
  crates/cache/src/lib.rs
  crates/cache/src/tests.rs
  crates/cache/src/worker.rs
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, wasmtime:config

#11272 x64: handle ISA features more completely
  cranelift/assembler-x64/meta/src/dsl.rs
  cranelift/assembler-x64/meta/src/dsl/features.rs
  cranelift/assembler-x64/meta/src/generate.rs
  cranelift/assembler-x64/meta/src/generate/features.rs
  cranelift/assembler-x64/meta/src/generate/inst.rs
  cranelift/assembler-x64/meta/src/instructions/abs.rs
  cranelift/assembler-x64/meta/src/instructions/add.rs
  cranelift/assembler-x64/meta/src/instructions/align.rs
  cranelift/assembler-x64/meta/src/instructions/and.rs
  cranelift/assembler-x64/meta/src/instructions/atomic.rs
  cranelift/assembler-x64/meta/src/instructions/avg.rs
  cranelift/assembler-x64/meta/src/instructions/bitmanip.rs
  cranelift/assembler-x64/meta/src/instructions/cmp.rs
  cranelift/assembler-x64/meta/src/instructions/cvt.rs
  cranelift/assembler-x64/meta/src/instructions/div.rs
  cranelift/assembler-x64/meta/src/instructions/fma.rs
  cranelift/assembler-x64/meta/src/instructions/lanes.rs
  cranelift/assembler-x64/meta/src/instructions/max.rs
  cranelift/assembler-x64/meta/src/instructions/min.rs
  cranelift/assembler-x64/meta/src/instructions/misc.rs
  cranelift/assembler-x64/meta/src/instructions/mov.rs
  cranelift/assembler-x64/meta/src/instructions/mul.rs
  cranelift/assembler-x64/meta/src/instructions/or.rs
  cranelift/assembler-x64/meta/src/instructions/pack.rs
  cranelift/assembler-x64/meta/src/instructions/pma.rs
  cranelift/assembler-x64/meta/src/instructions/recip.rs
  cranelift/assembler-x64/meta/src/instructions/round.rs
  cranelift/assembler-x64/meta/src/instructions/shift.rs
  cranelift/assembler-x64/meta/src/instructions/sqrt.rs
  cranelift/assembler-x64/meta/src/instructions/sub.rs
  cranelift/assembler-x64/meta/src/instructions/unpack.rs
  cranelift/assembler-x64/meta/src/instructions/xor.rs
  cranelift/assembler-x64/src/features.rs
  cranelift/assembler-x64/src/inst.rs
  cranelift/assembler-x64/src/lib.rs
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
Labels: cranelift

#11329 Notify on-screen instructions need to be followed after wastime installation
  README.md
Labels: wasmtime:docs

#11393 docs: fix typos
  docs/examples-deterministic-wasm-execution.md
  winch/codegen/src/isa/x64/asm.rs
Labels: wasmtime:docs, winch

#11394 refactor(wasi): use `WasiFilesystemCtx`
  crates/wasi/src/ctx.rs
  crates/wasi/src/filesystem.rs
  crates/wasi/src/p1.rs
  crates/wasi/src/p2/host/filesystem.rs
  crates/wasi/src/p2/host/filesystem/sync.rs
  crates/wasi/src/p2/mod.rs
  crates/wasi/src/view.rs
Labels: wasi

#11389 Cranelift: Translate `ir::UserExternalNameRef`s into callers when inlining
  cranelift/codegen/src/inline.rs
  cranelift/filetests/filetests/inline/user-external-name-refs.clif
  crates/wasmtime/src/compile.rs
  tests/disas/component-model/inlining-fuzz-bug.wat
Labels: wasmtime:api, cranelift

#11372 Add support for the Linux PAGEMAP_SCAN ioctl
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/cow.rs
  crates/wasmtime/src/runtime/vm/cow_disabled.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/table_pool.rs
  crates/wasmtime/src/runtime/vm/pagemap_disabled.rs
  crates/wasmtime/src/runtime/vm/sys/custom/vm.rs
  crates/wasmtime/src/runtime/vm/sys/miri/vm.rs
  crates/wasmtime/src/runtime/vm/sys/unix/mod.rs
  crates/wasmtime/src/runtime/vm/sys/unix/pagemap.rs
  crates/wasmtime/src/runtime/vm/sys/unix/vm.rs
  crates/wasmtime/src/runtime/vm/sys/windows/vm.rs
  crates/wasmtime/tests/engine_across_forks.rs
Labels: wasmtime:api

#11410 Make `GcRuntime::take_memory` a safe method
  crates/wasmtime/src/runtime/store/gc.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/drc.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/null.rs
  crates/wasmtime/src/runtime/vm/gc/gc_runtime.rs
Labels: wasmtime:api, wasmtime:ref-types

#11411 Minimize lazy allocation of the GC store
  crates/environ/src/compile/module_environ.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/gc/enabled/anyref.rs
  crates/wasmtime/src/runtime/gc/enabled/arrayref.rs
  crates/wasmtime/src/runtime/gc/enabled/eqref.rs
  crates/wasmtime/src/runtime/gc/enabled/exnref.rs
  crates/wasmtime/src/runtime/gc/enabled/externref.rs
  crates/wasmtime/src/runtime/gc/enabled/rooting.rs
  crates/wasmtime/src/runtime/gc/enabled/structref.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/store/gc.rs
  crates/wasmtime/src/runtime/trampoline/global.rs
  crates/wasmtime/src/runtime/vm/gc.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/arrayref.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/exnref.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/structref.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/table.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  tests/all/table.rs
Labels: wasmtime:api, wasmtime:ref-types

#11414 Refactor `AbortHandle`, renamed to `JoinHandle`
  Cargo.lock
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/runtime/component/concurrent.rs
  crates/wasmtime/src/runtime/component/concurrent/abort.rs
  crates/wasmtime/src/runtime/component/mod.rs
Labels: wasmtime:api

#11374 use a single table per instance for resources, waitables, etc.
  crates/wasmtime/src/runtime/component/concurrent.rs
  crates/wasmtime/src/runtime/component/concurrent/error_contexts.rs
  crates/wasmtime/src/runtime/component/concurrent/futures_and_streams.rs
  crates/wasmtime/src/runtime/component/concurrent/states.rs
  crates/wasmtime/src/runtime/component/concurrent/table.rs
  crates/wasmtime/src/runtime/component/func/options.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/vm/component.rs
  crates/wasmtime/src/runtime/vm/component/handle_table.rs
  crates/wasmtime/src/runtime/vm/component/libcalls.rs
  crates/wasmtime/src/runtime/vm/component/resources.rs
Labels: wasmtime:api

#11432 Resolve `unsafe_op_in_unsafe_fn` in `wasmtime` crate
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/lib.rs
  crates/wasmtime/src/runtime.rs
Labels: wasmtime:api

#11431 [36.0.0] Add release notes
  RELEASES.md
Labels: wasmtime:docs

#11446 docs: fix typos
  crates/wit-bindgen/src/config.rs
  winch/codegen/src/isa/aarch64/masm.rs
Labels: winch

#11455 Add clif instructions tests (`imul_imm`, `get_return_address`) to riscv64 backend.
  cranelift/filetests/filetests/isa/riscv64/amodes-fp.clif
  cranelift/filetests/filetests/isa/riscv64/arithmetic.clif
Labels: cranelift

#11471 Release Wasmtime 36.0.0
  RELEASES.md
Labels: wasmtime:docs

#11468 Make const-expr evaluation `async`
  crates/wasmtime/src/runtime/gc/enabled/arrayref.rs
  crates/wasmtime/src/runtime/gc/enabled/structref.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/store/gc.rs
  crates/wasmtime/src/runtime/vm/const_expr.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
Labels: wasmtime:api, wasmtime:ref-types

#11467 Refactor exception objects to share more implementation with structs.
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/compile/module_types.rs
  crates/environ/src/gc.rs
  crates/environ/src/gc/drc.rs
  crates/environ/src/gc/null.rs
  crates/environ/src/module.rs
  crates/environ/src/types.rs
  crates/wasmtime/src/runtime/gc/enabled/arrayref.rs
  crates/wasmtime/src/runtime/gc/enabled/exnref.rs
  crates/wasmtime/src/runtime/gc/enabled/structref.rs
  crates/wasmtime/src/runtime/trampoline/tag.rs
  crates/wasmtime/src/runtime/vm/gc.rs
  crates/wasmtime/src/runtime/vm/gc/disabled.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/drc.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/exnref.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/null.rs
  crates/wasmtime/src/runtime/vm/gc/gc_runtime.rs
Labels: wasmtime:api, wasmtime:ref-types

#11470 Make table/memory creation async functions
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/memory.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/store/gc.rs
  crates/wasmtime/src/runtime/trampoline.rs
  crates/wasmtime/src/runtime/trampoline/memory.rs
  crates/wasmtime/src/runtime/trampoline/table.rs
  crates/wasmtime/src/runtime/trampoline/tag.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/on_demand.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/memory_pool.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/table_pool.rs
  crates/wasmtime/src/runtime/vm/memory.rs
  crates/wasmtime/src/runtime/vm/memory/shared_memory.rs
  crates/wasmtime/src/runtime/vm/table.rs
  tests/all/pooling_allocator.rs
Labels: wasmtime:api

#11484 [36.0.0] Shrink C API release artifacts
  RELEASES.md
  ci/build-release-artifacts.sh
Labels: wasmtime:docs

#11502 Update status of the C API of component model support
  docs/stability-wasm-proposals.md
Labels: wasmtime:docs

#11508 docs: fix typo
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/func_environ/gc/enabled.rs
  crates/wasmtime/src/runtime/vm/mmap.rs
Labels: wasmtime:api

#11490 Add PoolingAllocatorMetrics
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/metrics.rs
Labels: wasmtime:api

#11531 Exceptions: support creating a `Ref::null` for an exception type.
  crates/wasmtime/src/runtime/values.rs
Labels: wasmtime:api

#11525 docs: fix typos
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/vm/traphandlers/signals.rs
Labels: wasmtime:api

#11510 Refactor resetting memory on `MemoryImageSlot` drop
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/runtime/vm/cow.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/memory_pool.rs
  crates/wasmtime/src/runtime/vm/memory.rs
  crates/wasmtime/tests/pooling_alloc_near_oom.rs
  tests/all/pooling_allocator.rs
Labels: wasmtime:api

#11516 Get the min-platform example working again
  crates/wasmtime/src/runtime/code_memory.rs
  crates/wasmtime/src/runtime/vm/sys/unix/mmap.rs
  crates/wasmtime/src/runtime/vm/sys/windows/mmap.rs
  examples/min-platform/embedding/src/lib.rs
  examples/min-platform/src/main.rs
Labels: wasmtime:api

#11518 docs: Remove unnecessary imports in cranelift-frontend example
  cranelift/frontend/src/lib.rs
Labels: cranelift

#11533 Pull in new regalloc2 with fastalloc fixes for exceptions, and re-enable and add to testing.
  Cargo.lock
  Cargo.toml
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/machinst/compile.rs
  crates/cli-flags/src/lib.rs
  crates/cli-flags/src/opt.rs
  crates/fuzzing/src/generators/config.rs
  crates/wasmtime/src/config.rs
  supply-chain/imports.lock
  tests/all/cli_tests.rs
  tests/all/stack_overflow.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta, fuzzing, wasmtime:config

#11513 Cranelift: fix an inliner bug where the last-inlined block was not inserted in the layout
  cranelift/codegen/src/inline.rs
  cranelift/filetests/filetests/inline/unreachable-block.clif
Labels: cranelift

#11539 Fix the typo in the typos document
  docs/contributing.md
Labels: wasmtime:docs

#11514 GC: replace ManuallyRooted with OwnedRooted.
  crates/c-api/include/wasmtime/val.h
  crates/c-api/src/ref.rs
  crates/c-api/src/val.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/gc.rs
  crates/wasmtime/src/runtime/gc/disabled/anyref.rs
  crates/wasmtime/src/runtime/gc/disabled/eqref.rs
  crates/wasmtime/src/runtime/gc/disabled/rooting.rs
  crates/wasmtime/src/runtime/gc/enabled/anyref.rs
  crates/wasmtime/src/runtime/gc/enabled/arrayref.rs
  crates/wasmtime/src/runtime/gc/enabled/eqref.rs
  crates/wasmtime/src/runtime/gc/enabled/exnref.rs
  crates/wasmtime/src/runtime/gc/enabled/externref.rs
  crates/wasmtime/src/runtime/gc/enabled/rooting.rs
  crates/wasmtime/src/runtime/gc/enabled/structref.rs
  crates/wasmtime/src/runtime/store/gc.rs
  tests/all/func.rs
  tests/all/gc.rs
Labels: wasmtime:api, wasmtime:c-api, wasmtime:ref-types

#11526 [Cranelift] `(C ? X : Y) + Z --> (C ? X + Z : Y + Z)`
  cranelift/codegen/src/opts/selects.isle
  cranelift/filetests/filetests/egraph/selects.clif
  cranelift/filetests/filetests/runtests/select.clif
Labels: cranelift, isle

#11547 merge `concurrent::table::Table` back into `ResourceTable`
  crates/misc/component-async-tests/tests/scenario/round_trip.rs
  crates/misc/component-async-tests/tests/scenario/round_trip_many.rs
  crates/wasmtime/src/runtime/component/concurrent.rs
  crates/wasmtime/src/runtime/component/concurrent/futures_and_streams.rs
  crates/wasmtime/src/runtime/component/concurrent/table.rs
  crates/wasmtime/src/runtime/component/resource_table.rs
Labels: wasmtime:api

#11554 Fuzzing: ignore thrown exceptions during instantiation.
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#11553 Disallow loading code on `x86_64-unknown-none`
  Cargo.lock
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  examples/min-platform/embedding/Cargo.toml
  examples/min-platform/embedding/src/lib.rs
  examples/min-platform/embedding/src/wasi.rs
  examples/min-platform/src/main.rs
  supply-chain/audits.toml
Labels: wasmtime:api, wasmtime:config

#11556 [Cranelift] `(x & y) & x --> x & y`
  cranelift/codegen/src/opts/bitops.isle
  cranelift/filetests/filetests/egraph/bitops.clif
  cranelift/filetests/filetests/runtests/bitops.clif
Labels: cranelift, isle

#11564 Exceptions: global.get from external or table init: null exnref is not an anyref.
  crates/wasmtime/src/runtime/externals/global.rs
  tests/misc_testsuite/issue11561.wast
  tests/misc_testsuite/issue11563.wat
Labels: wasmtime:api

#11562 Fix a verifier error generated during optimizations
  cranelift/codegen/src/opts/selects.isle
  cranelift/filetests/filetests/egraph/selects.clif
Labels: fuzz-bug, cranelift, isle

#11570 aarch64: Add support for "near" in `LoadExtName`
  cranelift/codegen/src/binemit/mod.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/imms.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/prelude_lower.isle
  cranelift/filetests/filetests/isa/aarch64/bti.clif
  cranelift/filetests/filetests/isa/aarch64/call-pauth-bkey.clif
  cranelift/filetests/filetests/isa/aarch64/call-pauth.clif
  cranelift/filetests/filetests/isa/aarch64/call.clif
  cranelift/filetests/filetests/isa/aarch64/exceptions.clif
  cranelift/filetests/filetests/isa/aarch64/fuzzbug-60035.clif
  cranelift/filetests/filetests/isa/aarch64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/aarch64/return-call.clif
  cranelift/filetests/filetests/isa/aarch64/stack-limit.clif
  cranelift/filetests/filetests/isa/aarch64/symbol-value-pic.clif
  cranelift/filetests/filetests/isa/aarch64/symbol-value.clif
  cranelift/filetests/filetests/isa/aarch64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/aarch64/uext-sext-handling.clif
  cranelift/jit/src/compiled_blob.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle
