Repository bytecodealliance/wasmtime, pull requests merged in 2025-06, with the labels that each got.

#10886 x64: Flag unpack instructions as requiring aligned loads
  cranelift/assembler-x64/meta/src/instructions/unpack.rs
  crates/test-util/src/wast.rs
  tests/disas/x64-sse-no-fold-unaligned-load.wat
  tests/misc_testsuite/simd/sse-cannot-fold-unaligned-loads.wast
Labels: cranelift

#10884 Refactor float-to-int conversion bounds
  Cargo.lock
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  crates/cranelift/Cargo.toml
  crates/cranelift/src/func_environ.rs
  crates/math/src/lib.rs
  pulley/src/interp.rs
  tests/disas/winch/aarch64/i32_trunc_f32_s/const.wat
  tests/disas/winch/aarch64/i32_trunc_f32_s/locals.wat
  tests/disas/winch/aarch64/i32_trunc_f32_s/params.wat
  tests/disas/winch/aarch64/i64_trunc_f32_s/const.wat
  tests/disas/winch/aarch64/i64_trunc_f32_s/locals.wat
  tests/disas/winch/aarch64/i64_trunc_f32_s/params.wat
  tests/disas/winch/aarch64/i64_trunc_f64_s/const.wat
  tests/disas/winch/aarch64/i64_trunc_f64_s/locals.wat
  tests/disas/winch/aarch64/i64_trunc_f64_s/params.wat
  winch/codegen/Cargo.toml
  winch/codegen/src/isa/aarch64/asm.rs
Labels: cranelift, isle, winch, pulley

#10895 x64: Use manual-defined names for ModR/M byte
  cranelift/assembler-x64/meta/src/generate/format.rs
Labels: cranelift

#10887 x64: Migrate `mulx` to the new assembler
  cranelift/assembler-x64/meta/src/dsl.rs
  cranelift/assembler-x64/meta/src/dsl/features.rs
  cranelift/assembler-x64/meta/src/dsl/format.rs
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/generate/inst.rs
  cranelift/assembler-x64/meta/src/generate/operand.rs
  cranelift/assembler-x64/meta/src/instructions/mul.rs
  cranelift/assembler-x64/src/api.rs
  cranelift/assembler-x64/src/custom.rs
  cranelift/assembler-x64/src/fixed.rs
  cranelift/assembler-x64/src/fuzz.rs
  cranelift/assembler-x64/src/gpr.rs
  cranelift/assembler-x64/src/lib.rs
  cranelift/assembler-x64/src/mem.rs
  cranelift/codegen/meta/src/gen_asm.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/external.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/bmi2.clif
Labels: cranelift, cranelift:meta, cranelift:area:x64, isle

#10894 x64: convert `movzx` and `movsx` to the new assembler
  cranelift/assembler-x64/meta/src/instructions/mov.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/branches.clif
  cranelift/filetests/filetests/isa/x64/clz-lzcnt.clif
  cranelift/filetests/filetests/isa/x64/clz.clif
  cranelift/filetests/filetests/isa/x64/cmp-mem-bug.clif
  cranelift/filetests/filetests/isa/x64/conditional-values.clif
  cranelift/filetests/filetests/isa/x64/ctz-bmi1.clif
  cranelift/filetests/filetests/isa/x64/ctz.clif
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/ishl.clif
  cranelift/filetests/filetests/isa/x64/load-extends.clif
  cranelift/filetests/filetests/isa/x64/load-op.clif
  cranelift/filetests/filetests/isa/x64/mul.clif
  cranelift/filetests/filetests/isa/x64/popcnt.clif
  cranelift/filetests/filetests/isa/x64/sextend.clif
  cranelift/filetests/filetests/isa/x64/shift-to-extend.clif
  cranelift/filetests/filetests/isa/x64/sshr.clif
  cranelift/filetests/filetests/isa/x64/struct-arg.clif
  cranelift/filetests/filetests/isa/x64/udiv.clif
  cranelift/filetests/filetests/isa/x64/udivrem.clif
  cranelift/filetests/filetests/isa/x64/uext-sext-handling.clif
  cranelift/filetests/filetests/isa/x64/umax-bug.clif
  cranelift/filetests/filetests/isa/x64/urem.clif
  cranelift/filetests/filetests/isa/x64/ushr.clif
  cranelift/filetests/filetests/isa/x64/winch.clif
  cranelift/filetests/filetests/pcc/fail/extend.clif
  cranelift/filetests/filetests/pcc/fail/simple.clif
  cranelift/filetests/filetests/pcc/succeed/fuzz-float-loads.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:x64

#10879 Add a `DefinedTableIndex` to table imports/exports
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/environ/src/vmoffsets.rs
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/component.rs
  crates/wasmtime/src/runtime/vm/export.rs
  crates/wasmtime/src/runtime/vm/imports.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
Labels: wasmtime:api

#10900 x64: Migrate `AluRmRVex` to the new assembler
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/instructions/and.rs
  cranelift/assembler-x64/meta/src/instructions/bitmanip.rs
  cranelift/assembler-x64/meta/src/instructions/shift.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/band_not_bmi1.clif
  cranelift/filetests/filetests/isa/x64/bmi2.clif
Labels: cranelift, cranelift:area:x64

#10902 Refactor globals to no longer use `Stored`
  crates/c-api/include/wasmtime/extern.h
  crates/environ/src/module.rs
  crates/environ/src/vmoffsets.rs
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/component/store.rs
  crates/wasmtime/src/runtime/externals.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/store/data.rs
  crates/wasmtime/src/runtime/trampoline/global.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/component.rs
  crates/wasmtime/src/runtime/vm/export.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
Labels: wasmtime:api, wasmtime:c-api

#10897 Refactor the representation of `Func`
  crates/c-api/include/wasmtime/extern.h
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/module/registry.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/store/data.rs
  crates/wasmtime/src/runtime/store/func_refs.rs
  crates/wasmtime/src/runtime/trampoline/global.rs
  crates/wasmtime/src/runtime/values.rs
Labels: wasmtime:api, wasmtime:c-api

#10903 Update the definition of `wasmtime::Table`
  crates/c-api/include/wasmtime/extern.h
  crates/wasmtime/src/runtime/externals.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/store/data.rs
  crates/wasmtime/src/runtime/vm/instance.rs
Labels: wasmtime:api, wasmtime:c-api

#10899 x64: convert `pmov*x`
  cranelift/assembler-x64/meta/src/dsl/format.rs
  cranelift/assembler-x64/meta/src/generate/operand.rs
  cranelift/assembler-x64/meta/src/instructions/mov.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/filetests/filetests/isa/x64/simd-load-extend.clif
Labels: cranelift, cranelift:area:x64

#10388 Stack switching: Infrastructure and runtime support
  .github/workflows/main.yml
  Cargo.toml
  crates/c-api/include/wasmtime/config.h
  crates/c-api/src/config.rs
  crates/cli-flags/Cargo.toml
  crates/cli-flags/src/lib.rs
  crates/cranelift/Cargo.toml
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/func_environ/gc/enabled.rs
  crates/cranelift/src/lib.rs
  crates/cranelift/src/translate/code_translator.rs
  crates/environ/Cargo.toml
  crates/environ/src/builtin.rs
  crates/environ/src/gc.rs
  crates/environ/src/lib.rs
  crates/environ/src/stack_switching.rs
  crates/environ/src/trap_encoding.rs
  crates/environ/src/types.rs
  crates/environ/src/vmoffsets.rs
  crates/fuzzing/src/generators/config.rs
  crates/test-util/src/wasmtime_wast.rs
  crates/test-util/src/wast.rs
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/gc/enabled/arrayref.rs
  crates/wasmtime/src/runtime/gc/enabled/structref.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/type_registry.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/values.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/table_pool.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/stack_switching.rs
  crates/wasmtime/src/runtime/vm/stack_switching/stack.rs
  crates/wasmtime/src/runtime/vm/stack_switching/stack/dummy.rs
  crates/wasmtime/src/runtime/vm/stack_switching/stack/unix.rs
  crates/wasmtime/src/runtime/vm/stack_switching/stack/unix/x86_64.rs
  crates/wasmtime/src/runtime/vm/table.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
  crates/wasmtime/src/runtime/vm/traphandlers/backtrace.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  crates/winch/Cargo.toml
  tests/all/main.rs
  winch/codegen/Cargo.toml
Labels: wasmtime:api, wasmtime:c-api, fuzzing, wasmtime:ref-types, wasmtime:config

#10927 x64: Migrate `XmmVexPinsr` to the new assembler
  cranelift/assembler-x64/meta/src/instructions/lanes.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/insertlane-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-make-vectors-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-splat-avx.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:x64, winch

#10934 Start reducing unsafety of `ComponentInstance`
  crates/wasmtime/src/runtime/component/func.rs
  crates/wasmtime/src/runtime/component/func/host.rs
  crates/wasmtime/src/runtime/component/func/options.rs
  crates/wasmtime/src/runtime/component/func/typed.rs
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/component/store.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/store/data.rs
  crates/wasmtime/src/runtime/vm/component.rs
Labels: wasmtime:api

#10928 Add pcmp variants to the new assembler
  cranelift/assembler-x64/meta/src/dsl/features.rs
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/cmp.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/filetests/filetests/isa/x64/fabs.clif
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/isa/x64/fneg.clif
  cranelift/filetests/filetests/isa/x64/simd-bitselect.clif
  cranelift/filetests/filetests/isa/x64/simd-comparison-legalize.clif
  cranelift/filetests/filetests/isa/x64/simd-logical-compile.clif
  cranelift/filetests/filetests/isa/x64/sqmul_round_sat.clif
Labels: cranelift, cranelift:area:x64

#10937 Don't pass vmctx to component libcalls
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/component.rs
  crates/wasmtime/src/runtime/vm/component/libcalls.rs
Labels: wasmtime:api

#10944 Cranelift: Remove unnecessary cursor position setting in legalization
  cranelift/codegen/src/legalizer/mod.rs
Labels: cranelift

#10935 Remove `unsafe` from `Instance::from_wasmtime`
  crates/wasmtime/src/runtime/component/instance.rs
Labels: wasmtime:api

#10949 x64: fix `scalar_to_vector` with `i16x8` types
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/filetests/filetests/isa/x64/bitcast.clif
  cranelift/filetests/filetests/isa/x64/f16const.clif
  cranelift/filetests/filetests/isa/x64/issue-10906.clif
  cranelift/filetests/filetests/runtests/issue-10906.clif
Labels: cranelift, cranelift:area:x64

#10956 Cranelift: Refactor legalization such that traversal is separate from legalizing a particular instruction
  cranelift/codegen/src/legalizer/mod.rs
Labels: cranelift

#10971 x64: Migrate more instructions shapes to the new assembler
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/instructions/lanes.rs
  cranelift/assembler-x64/meta/src/instructions/mov.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/fcvt-avx.clif
  cranelift/filetests/filetests/isa/x64/float-bitcast-avx.clif
  cranelift/filetests/filetests/isa/x64/fmsub-inst.clif
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-i64x2-shift-avx512.clif
  cranelift/filetests/filetests/isa/x64/simd-make-vectors-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-splat-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-splat-avx2.clif
  tests/disas/winch/x64/i64x2_bitmask/const_avx.wat
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
Labels: cranelift, cranelift:area:x64

#10970 Remove FileInputStream from public API
  crates/wasi/src/p2/mod.rs
Labels: wasi

#10962 cranelift: ISLE printer
  cranelift/isle/isle/build.rs
  cranelift/isle/isle/src/lib.rs
  cranelift/isle/isle/src/parser.rs
  cranelift/isle/isle/src/printer.rs
  cranelift/isle/isle/tests/run_tests.rs
Labels: cranelift, isle

#10975 x64: Migrate some blend-related instructions
  cranelift/assembler-x64/meta/src/dsl/encoding.rs
  cranelift/assembler-x64/meta/src/dsl/format.rs
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/generate/operand.rs
  cranelift/assembler-x64/meta/src/instructions/lanes.rs
  cranelift/assembler-x64/src/fixed.rs
  cranelift/assembler-x64/src/inst.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/aarch64/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/x64/nan-canonicalization-sse41.clif
  cranelift/filetests/filetests/isa/x64/simd-bitselect.clif
Labels: cranelift, cranelift:area:x64

#10989 winch: Simplify constant handling, part 2/N
  tests/disas/winch/aarch64/br_table/large.wat
  tests/disas/winch/aarch64/br_table/nested_br_table_loop_block.wat
  tests/disas/winch/aarch64/i32_rotl/16_const.wat
  tests/disas/winch/aarch64/i64_rotl/16_const.wat
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/abi.rs
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/aarch64/regs.rs
  winch/codegen/src/isa/x64/abi.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/isa/x64/mod.rs
  winch/codegen/src/isa/x64/regs.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10992 stack-switching: fix continuation chain walking for backtraces
  crates/wasmtime/src/runtime/vm/traphandlers/backtrace.rs
Labels: wasmtime:api

#10979 Cranelift: `or(x, C) + (-C) --> and(x, ~C)`
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/opts/arithmetic.isle
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/egraph/arithmetic.clif
  cranelift/filetests/filetests/isa/x64/stack_switch.clif
Labels: cranelift, isle

#10991 x64: Migrate `XmmUnaryRmRImm{,Vex}` to the new assembler
  cranelift/assembler-x64/meta/src/instructions/lanes.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/bitcast.clif
  cranelift/filetests/filetests/isa/x64/ceil-avx.clif
  cranelift/filetests/filetests/isa/x64/extractlane-avx.clif
  cranelift/filetests/filetests/isa/x64/extractlane.clif
  cranelift/filetests/filetests/isa/x64/fcvt-avx.clif
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/isa/x64/float-avx.clif
  cranelift/filetests/filetests/isa/x64/fma-call.clif
  cranelift/filetests/filetests/isa/x64/shuffle.clif
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-splat-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-splat-avx2.clif
  cranelift/filetests/filetests/isa/x64/simd-splat.clif
  cranelift/filetests/filetests/isa/x64/simd-widen-mul.clif
  cranelift/filetests/filetests/isa/x64/widening.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:area:x64, winch

#11005 Update the wasm-tools crates to 1.234; rename `{Future,Stream}Close*` to `{Future,Stream}Drop*`
  Cargo.lock
  Cargo.toml
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/component.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/inline.rs
  crates/wasi/src/p2/pipe.rs
  crates/wasmtime/src/runtime/component/concurrent.rs
  crates/wasmtime/src/runtime/vm/component/libcalls.rs
  supply-chain/imports.lock
  tests/misc_testsuite/component-model-async/futures.wast
  tests/misc_testsuite/component-model-async/streams.wast
Labels: wasmtime:api

#10829 winch: Crank the ratchet on tests that can fail
  crates/test-util/src/wast.rs
  tests/disas/winch/aarch64/call/reg_on_stack.wat
  tests/wast.rs
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
Labels: winch

#11026 x64: Fix float lowering for `scalar_to_vector`
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/aarch64/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/x64/nan-canonicalization-sse41.clif
  cranelift/filetests/filetests/isa/x64/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/runtests/scalar-to-vector-upper-bits-zero.clif
Labels: cranelift, cranelift:area:x64

#11029 x64: Improve external assembler ergonomics
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/external.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
Labels: cranelift, cranelift:area:x64

#11008 x64: Migrate `xchg` to the new assembler
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/atomic.rs
  cranelift/assembler-x64/src/custom.rs
  cranelift/codegen/meta/src/gen_asm.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/atomic-rmw.clif
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
Labels: cranelift, cranelift:meta, cranelift:area:x64, winch

#11032 x64: Migrate `LockXadd` to the new assembler
  cranelift/assembler-x64/meta/src/instructions/add.rs
  cranelift/assembler-x64/src/custom.rs
  cranelift/codegen/meta/src/gen_asm.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/atomic-rmw.clif
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
Labels: cranelift, cranelift:meta, cranelift:area:x64, winch

#11031 winch(aarch64) Run integration tests in winch-aarch64
  crates/fuzzing/src/generators/config.rs
  crates/test-macros/src/wasmtime_test.rs
  crates/test-util/src/wasmtime_wast.rs
  crates/test-util/src/wast.rs
  tests/all/memory.rs
  winch/codegen/src/isa/aarch64/masm.rs
Labels: fuzzing, winch

#11047 Refine `VMArrayCallNative`
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/trampoline/func.rs
  crates/wasmtime/src/runtime/vm/interpreter.rs
  crates/wasmtime/src/runtime/vm/interpreter_disabled.rs
  crates/wasmtime/src/runtime/vm/stack_switching/stack/unix.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
Labels: wasmtime:api

#11037 x64: Migrate some no-operand instructions
  cranelift/assembler-x64/meta/src/dsl/encoding.rs
  cranelift/assembler-x64/meta/src/dsl/format.rs
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/misc.rs
  cranelift/assembler-x64/meta/src/instructions/nop.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/traps.clif
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
Labels: cranelift, cranelift:area:x64, winch

#11057 Use `VmPtr` for table elements
  crates/wasmtime/src/runtime/vm/table.rs
  tests/all/pulley_provenance_test_component.wat
Labels: wasmtime:api

#11055 c-api: component-model: Resource table, WASI
  crates/c-api/include/wasmtime.h
  crates/c-api/include/wasmtime/component/linker.h
  crates/c-api/include/wasmtime/store.h
  crates/c-api/include/wasmtime/wasip2.h
  crates/c-api/src/component/linker.rs
  crates/c-api/src/lib.rs
  crates/c-api/src/store.rs
  crates/c-api/src/wasip2.rs
  crates/c-api/tests/CMakeLists.txt
  crates/c-api/tests/wasip2.cc
Labels: wasmtime:c-api

#11020 Initial component model and GC support in fused adapters
  crates/cranelift/src/compiler/component.rs
  crates/environ/examples/factc.rs
  crates/environ/fuzz/fuzz_targets/fact-valid-module.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/adapt.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/fact.rs
  crates/environ/src/fact/signature.rs
  crates/environ/src/fact/trampoline.rs
  crates/environ/src/scopevec.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/module.rs
  crates/test-util/src/wasmtime_wast.rs
  crates/test-util/src/wast.rs
  crates/wasmtime/src/runtime/component/func.rs
  tests/misc_testsuite/component-model-gc/empty.wast
Labels: wasmtime:api, fuzzing

#11068 fix: do not collect backtrace on each `gc_runtime` access
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/type_registry.rs
Labels: wasmtime:api

#11065 Cranelift: Generate integer numeric ops and conversions for ISLE in the meta crate
  cranelift/codegen/meta/src/gen_isle.rs
  cranelift/codegen/meta/src/isle.rs
  cranelift/codegen/meta/src/lib.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/pulley_shared/inst.isle
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst_vector.isle
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/opts/arithmetic.isle
  cranelift/codegen/src/opts/bitops.isle
  cranelift/codegen/src/opts/cprop.isle
  cranelift/codegen/src/opts/icmp.isle
  cranelift/codegen/src/opts/selects.isle
  cranelift/codegen/src/opts/shifts.isle
  cranelift/codegen/src/opts/skeleton.isle
  cranelift/codegen/src/opts/spectre.isle
  cranelift/codegen/src/prelude.isle
  cranelift/codegen/src/prelude_lower.isle
  cranelift/codegen/src/prelude_opt.isle
  cranelift/filetests/filetests/isa/pulley32/iconst.clif
  cranelift/filetests/filetests/isa/pulley64/iconst.clif
Labels: cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64, isle

#11072 x64: Migrate cmp/test to the new assembler
  cranelift/assembler-x64/meta/src/dsl/format.rs
  cranelift/assembler-x64/meta/src/instructions/cmp.rs
  cranelift/codegen/meta/src/gen_asm.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/encoding/rex.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/args.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/bmask.clif
  cranelift/filetests/filetests/isa/x64/branches.clif
  cranelift/filetests/filetests/isa/x64/clz-lzcnt.clif
  cranelift/filetests/filetests/isa/x64/clz.clif
  cranelift/filetests/filetests/isa/x64/cmp-mem-bug.clif
  cranelift/filetests/filetests/isa/x64/cold-blocks.clif
  cranelift/filetests/filetests/isa/x64/conditional-values.clif
  cranelift/filetests/filetests/isa/x64/crit-edge.clif
  cranelift/filetests/filetests/isa/x64/ctz-bmi1.clif
  cranelift/filetests/filetests/isa/x64/ctz.clif
  cranelift/filetests/filetests/isa/x64/exceptions.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/ishl.clif
  cranelift/filetests/filetests/isa/x64/load-op.clif
  cranelift/filetests/filetests/isa/x64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/x64/return-call.clif
  cranelift/filetests/filetests/isa/x64/sdiv.clif
  cranelift/filetests/filetests/isa/x64/select-i128.clif
  cranelift/filetests/filetests/isa/x64/select.clif
  cranelift/filetests/filetests/isa/x64/sshr.clif
  cranelift/filetests/filetests/isa/x64/stackslot.clif
  cranelift/filetests/filetests/isa/x64/stackslot_alignment.clif
  cranelift/filetests/filetests/isa/x64/tail-stack-limit.clif
  cranelift/filetests/filetests/isa/x64/traps.clif
  cranelift/filetests/filetests/isa/x64/umax-bug.clif
  cranelift/filetests/filetests/isa/x64/ushr.clif
  cranelift/filetests/filetests/isa/x64/xmm-select-load.clif
  cranelift/filetests/filetests/pcc/succeed/dynamic.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:meta, cranelift:area:x64, isle

#11079 fuzzing: Temporarily disable `wide_arithmetic` in Wasmi
  crates/fuzzing/src/oracles/diff_wasmi.rs
Labels: fuzzing

#11074 [backport] fix: do not collect backtrace on each gc_runtime access
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/type_registry.rs
Labels: wasmtime:api

#11078 Fixed broken link in the documentation
  docs/examples-rust-wasi.md
Labels: wasmtime:docs

#11083 x64: Optimize codegen of shift/rotate-by-1
  cranelift/assembler-x64/meta/src/instructions/shift.rs
  cranelift/assembler-x64/src/custom.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/ishl.clif
  cranelift/filetests/filetests/isa/x64/sshr.clif
  cranelift/filetests/filetests/isa/x64/ushr.clif
Labels: cranelift, cranelift:area:x64

#11081 Improve debug formatting for primary/secondary map
  cranelift/entity/src/map.rs
  cranelift/entity/src/primary.rs
Labels: cranelift

#11085 Release Wasmtime 34.0.0
  RELEASES.md
Labels: wasmtime:docs

#11070 Prefix `Lift` and `Lower` trait methods with `memory_`
  crates/component-macro/src/component.rs
  crates/test-util/src/component.rs
  crates/wasmtime/src/runtime/component/func/host.rs
  crates/wasmtime/src/runtime/component/func/typed.rs
  crates/wasmtime/src/runtime/component/resources.rs
  crates/wasmtime/src/runtime/component/values.rs
Labels: wasmtime:api

#11082 Adds palignr and vpalignr to the new assembler
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/align.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/filetests/filetests/isa/x64/shuffle.clif
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-widen-mul.clif
  cranelift/filetests/filetests/isa/x64/widening.clif
Labels: cranelift, cranelift:area:x64

#11095 x64: Migrate `cmov*` to the new assembler
  cranelift/assembler-x64/meta/src/dsl/format.rs
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/cmov.rs
  cranelift/codegen/meta/src/gen_asm.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit_tests.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/codegen/src/prelude_lower.isle
  cranelift/filetests/filetests/isa/x64/branches.clif
  cranelift/filetests/filetests/isa/x64/clz-lzcnt.clif
  cranelift/filetests/filetests/isa/x64/clz.clif
  cranelift/filetests/filetests/isa/x64/cmp-mem-bug.clif
  cranelift/filetests/filetests/isa/x64/conditional-values.clif
  cranelift/filetests/filetests/isa/x64/ctz-bmi1.clif
  cranelift/filetests/filetests/isa/x64/ctz.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/iabs.clif
  cranelift/filetests/filetests/isa/x64/ishl.clif
  cranelift/filetests/filetests/isa/x64/select-i128.clif
  cranelift/filetests/filetests/isa/x64/select-issue-3744.clif
  cranelift/filetests/filetests/isa/x64/select.clif
  cranelift/filetests/filetests/isa/x64/sshr.clif
  cranelift/filetests/filetests/isa/x64/umax-bug.clif
  cranelift/filetests/filetests/isa/x64/ushr.clif
  cranelift/filetests/filetests/isa/x64/very-carefully-sink-loads-in-float-compares.clif
  winch/codegen/src/isa/x64/asm.rs
Labels: cranelift, cranelift:meta, cranelift:area:x64, winch

#11097 x64: Refactor backend condition handling
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/traps.clif
  tests/disas/x64-simd-test-and-branch.wat
Labels: cranelift, cranelift:area:x64

#11103 Fix globals/tables holding their registered types
  crates/wasmtime/src/runtime/trampoline.rs
  crates/wasmtime/src/runtime/trampoline/global.rs
  crates/wasmtime/src/runtime/trampoline/memory.rs
  crates/wasmtime/src/runtime/trampoline/table.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/vm.rs
  tests/all/globals.rs
  tests/all/table.rs
Labels: wasmtime:api

#11128 x64: Add lowerings for the `bt` instruction
  cranelift/assembler-x64/meta/src/instructions/bitmanip.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/branches.clif
  tests/disas/trunc.wat
  tests/disas/trunc32.wat
  tests/disas/x64-bit-and-condition.wat
  tests/misc_testsuite/bit-and-conditions.wast
Labels: cranelift, cranelift:area:x64, isle

#11138 Add reciprocal instructions to new assembler
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/recip.rs
  cranelift/codegen/src/isa/x64/inst.isle
Labels: cranelift, cranelift:area:x64

#11139 Add ptest and vptest to the new assembler
  cranelift/assembler-x64/meta/src/instructions/cmp.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/filetests/filetests/isa/x64/simd-logical-compile-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-logical-compile.clif
Labels: cranelift, cranelift:area:x64

#11114 generalize async fiber abstraction
  benches/call.rs
  crates/wasmtime/src/runtime.rs
  crates/wasmtime/src/runtime/component/func.rs
  crates/wasmtime/src/runtime/component/func/typed.rs
  crates/wasmtime/src/runtime/component/linker.rs
  crates/wasmtime/src/runtime/component/store.rs
  crates/wasmtime/src/runtime/fiber.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/store/async_.rs
  crates/wasmtime/src/runtime/store/gc.rs
  crates/wasmtime/src/runtime/store/token.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/sys/unix/machports.rs
  crates/wasmtime/src/runtime/vm/sys/unix/signals.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
Labels: wasmtime:api

#11135 Add shuf and pshuf variants to the new assembler
  cranelift/assembler-x64/meta/src/instructions/lanes.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/filetests/filetests/isa/aarch64/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/x64/nan-canonicalization-sse41.clif
  cranelift/filetests/filetests/isa/x64/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/x64/shuffle.clif
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-lane-access-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-splat-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-splat.clif
  cranelift/filetests/filetests/isa/x64/uunarrow.clif
Labels: cranelift, cranelift:area:x64

#11146 Fix Typos in Comments and Documentation
  crates/cranelift/src/func_environ.rs
  crates/wasmtime/src/runtime/vm/component.rs
Labels: wasmtime:api

#11144 Grow the DRC collector's bump chunk to amortize the cost of GC
  crates/wasmtime/src/runtime/vm/gc/enabled/drc.rs
Labels: wasmtime:api, wasmtime:ref-types

#11157 docs: fix typos
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/codegen/error.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/abi.rs
Labels: winch

#11158 fix typos in Runtime VM Source Files
  crates/wasmtime/src/runtime/vm/debug_builtins.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/stack_switching.rs
Labels: wasmtime:api

#11160 Add `Send`/`Sync` bounds to `ComponentType`
  crates/wasmtime/src/runtime/component/func/typed.rs
  tests/all/component_model/func.rs
Labels: wasmtime:api
