Repository bytecodealliance/wasmtime, pull requests merged in 2025-02, with the labels that each got.

#10173 Require lint reasons in `pulley-interpreter`
  pulley/src/decode.rs
  pulley/src/interp.rs
  pulley/src/lib.rs
  pulley/src/op.rs
  pulley/src/regs.rs
Labels: pulley

#10110 asm: introduce a new x64 assembler
  .github/workflows/main.yml
  Cargo.lock
  Cargo.toml
  cranelift/assembler-x64/Cargo.toml
  cranelift/assembler-x64/README.md
  cranelift/assembler-x64/build.rs
  cranelift/assembler-x64/fuzz/.gitignore
  cranelift/assembler-x64/fuzz/Cargo.lock
  cranelift/assembler-x64/fuzz/Cargo.toml
  cranelift/assembler-x64/fuzz/fuzz_targets/roundtrip.rs
  cranelift/assembler-x64/meta/.rustfmt.toml
  cranelift/assembler-x64/meta/Cargo.toml
  cranelift/assembler-x64/meta/README.md
  cranelift/assembler-x64/meta/src/dsl.rs
  cranelift/assembler-x64/meta/src/dsl/encoding.rs
  cranelift/assembler-x64/meta/src/dsl/features.rs
  cranelift/assembler-x64/meta/src/dsl/format.rs
  cranelift/assembler-x64/meta/src/generate.rs
  cranelift/assembler-x64/meta/src/generate/features.rs
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/generate/formatter.rs
  cranelift/assembler-x64/meta/src/generate/inst.rs
  cranelift/assembler-x64/meta/src/generate/operand.rs
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/and.rs
  cranelift/assembler-x64/meta/src/lib.rs
  cranelift/assembler-x64/meta/src/main.rs
  cranelift/assembler-x64/src/api.rs
  cranelift/assembler-x64/src/arbitrary_impls.rs
  cranelift/assembler-x64/src/imm.rs
  cranelift/assembler-x64/src/isle.rs
  cranelift/assembler-x64/src/lib.rs
  cranelift/assembler-x64/src/main.rs
  cranelift/assembler-x64/src/mem.rs
  cranelift/assembler-x64/src/reg.rs
  cranelift/assembler-x64/src/rex.rs
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/meta/src/isle.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/external.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/filetests/filetests/isa/x64/bmi2.clif
  cranelift/filetests/filetests/isa/x64/cmp-mem-bug.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/immediates.clif
  cranelift/filetests/filetests/isa/x64/ishl.clif
  cranelift/filetests/filetests/isa/x64/popcnt.clif
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-i64x2-shift-avx512.clif
  cranelift/filetests/filetests/isa/x64/sshr.clif
  cranelift/filetests/filetests/isa/x64/ushr.clif
  cranelift/filetests/filetests/isa/x64/winch.clif
  scripts/publish.rs
  supply-chain/audits.toml
  supply-chain/config.toml
Labels: cranelift

#10164 Fix OOM in fuzzing from using malloc memory
  crates/fuzzing/src/generators/config.rs
Labels: fuzzing

#10178 asm: prepare docs for publishing
  cranelift/assembler-x64/README.md
  cranelift/assembler-x64/meta/src/generate.rs
  cranelift/assembler-x64/meta/src/generate/features.rs
  cranelift/assembler-x64/meta/src/generate/inst.rs
  cranelift/assembler-x64/src/inst.rs
  cranelift/assembler-x64/src/lib.rs
Labels: cranelift

#10186 Tighten up assertions for basic-gvn test.
  cranelift/filetests/filetests/egraph/basic-gvn.clif
  cranelift/isle/isle/README.md
Labels: cranelift, isle

#10185 asm: re-allow prop-testing with `cargo test`
  Cargo.lock
  cranelift/assembler-x64/Cargo.toml
  cranelift/assembler-x64/fuzz/Cargo.lock
  cranelift/assembler-x64/fuzz/Cargo.toml
  cranelift/assembler-x64/fuzz/fuzz_targets/roundtrip.rs
  cranelift/assembler-x64/meta/src/generate.rs
  cranelift/assembler-x64/src/api.rs
  cranelift/assembler-x64/src/arbitrary_impls.rs
  cranelift/assembler-x64/src/fuzz.rs
  cranelift/assembler-x64/src/imm.rs
  cranelift/assembler-x64/src/lib.rs
  cranelift/assembler-x64/src/mem.rs
Labels: cranelift

#10191 Add a bunch of trace logging for CLIF and Wasm-to-CLIF translation
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/frontend/src/frontend.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/gc/disabled.rs
  crates/cranelift/src/gc/enabled.rs
  crates/cranelift/src/gc/enabled/drc.rs
  crates/cranelift/src/translate/code_translator.rs
Labels: cranelift, cranelift:meta, wasmtime:ref-types

#10192 Slightly simplify logic in `ref.test` translation
  crates/cranelift/src/gc/enabled.rs
  tests/disas/gc/drc/br-on-cast-fail.wat
  tests/disas/gc/drc/br-on-cast.wat
  tests/disas/gc/drc/ref-cast.wat
  tests/disas/gc/drc/ref-test-array.wat
  tests/disas/gc/drc/ref-test-concrete-func-type.wat
  tests/disas/gc/drc/ref-test-concrete-type.wat
  tests/disas/gc/drc/ref-test-eq.wat
  tests/disas/gc/drc/ref-test-struct.wat
  tests/disas/gc/null/br-on-cast-fail.wat
  tests/disas/gc/null/br-on-cast.wat
  tests/disas/gc/null/ref-cast.wat
  tests/disas/gc/null/ref-test-array.wat
  tests/disas/gc/null/ref-test-concrete-func-type.wat
  tests/disas/gc/null/ref-test-concrete-type.wat
  tests/disas/gc/null/ref-test-eq.wat
  tests/disas/gc/null/ref-test-struct.wat
Labels: wasmtime:ref-types

#10180 Winch: Add SIMD conversion operators for x64 with AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/f32x4_convert_i32x4_s/const_avx.wat
  tests/disas/winch/x64/f32x4_convert_i32x4_u/const_avx.wat
  tests/disas/winch/x64/f32x4_demote_f64x2_zero/const_avx.wat
  tests/disas/winch/x64/f64x2_convert_low_i32x4_s/const_avx.wat
  tests/disas/winch/x64/f64x2_convert_low_i32x4_u/const_avx.wat
  tests/disas/winch/x64/f64x2_promote_low_f32x4/const_avx.wat
  tests/disas/winch/x64/i16x8_extend_high_i8x16_s/const_avx.wat
  tests/disas/winch/x64/i16x8_extend_high_i8x16_u/const_avx.wat
  tests/disas/winch/x64/i16x8_extend_low_i8x16_s/const_avx.wat
  tests/disas/winch/x64/i16x8_extend_low_i8x16_u/const_avx.wat
  tests/disas/winch/x64/i16x8_narrow_i32x4_s/const_avx.wat
  tests/disas/winch/x64/i16x8_narrow_i32x4_u/const_avx.wat
  tests/disas/winch/x64/i32x4_extend_high_i16x8_s/const_avx.wat
  tests/disas/winch/x64/i32x4_extend_high_i16x8_u/const_avx.wat
  tests/disas/winch/x64/i32x4_extend_low_i16x8_s/const_avx.wat
  tests/disas/winch/x64/i32x4_extend_low_i16x8_u/const_avx.wat
  tests/disas/winch/x64/i64x2_extend_high_i32x4_s/const_avx.wat
  tests/disas/winch/x64/i64x2_extend_high_i32x4_u/const_avx.wat
  tests/disas/winch/x64/i64x2_extend_low_i32x4_s/const_avx.wat
  tests/disas/winch/x64/i64x2_extend_low_i32x4_u/const_avx.wat
  tests/disas/winch/x64/i8x16_narrow_i16x8_s/const_avx.wat
  tests/disas/winch/x64/i8x16_narrow_i16x8_u/const_avx.wat
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10202 Winch: Add abs SIMD instructions for x86 using AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/f32x4_abs/const_avx.wat
  tests/disas/winch/x64/f64x2_abs/const_avx.wat
  tests/disas/winch/x64/i16x8_abs/const_avx.wat
  tests/disas/winch/x64/i32x4_abs/const_avx.wat
  tests/disas/winch/x64/i64x2_abs/const_avx.wat
  tests/disas/winch/x64/i8x16_abs/const_avx.wat
  tests/misc_testsuite/winch/_simd_load.wast
  tests/misc_testsuite/winch/_simd_splat.wast
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10207 doc: avoid number of `FuncKind` variants
  crates/wasmtime/src/runtime/func.rs
Labels: wasmtime:api

#10154 pulley: Reimplement wasm loads/stores & memory opcodes
  cranelift/codegen/meta/src/pulley.rs
  cranelift/codegen/src/isa/pulley_shared/inst.isle
  cranelift/codegen/src/isa/pulley_shared/inst/args.rs
  cranelift/codegen/src/isa/pulley_shared/inst/emit.rs
  cranelift/codegen/src/isa/pulley_shared/inst/mod.rs
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  cranelift/codegen/src/isa/pulley_shared/lower/isle.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/codegen/src/prelude_lower.isle
  cranelift/codegen/src/prelude_opt.isle
  cranelift/filetests/filetests/isa/pulley32/call.clif
  cranelift/filetests/filetests/isa/pulley32/load.clif
  cranelift/filetests/filetests/isa/pulley32/store.clif
  cranelift/filetests/filetests/isa/pulley32/xbc.clif
  cranelift/filetests/filetests/isa/pulley64/call.clif
  cranelift/filetests/filetests/isa/pulley64/load.clif
  cranelift/filetests/filetests/isa/pulley64/loadbe.clif
  cranelift/filetests/filetests/isa/pulley64/store.clif
  cranelift/filetests/filetests/isa/pulley64/storebe.clif
  cranelift/filetests/filetests/isa/pulley64/xbc.clif
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/translate/code_translator/bounds_checks.rs
  crates/wasmtime/src/runtime/vm/interpreter.rs
  pulley/src/decode.rs
  pulley/src/disas.rs
  pulley/src/encode.rs
  pulley/src/interp.rs
  pulley/src/lib.rs
  pulley/src/regs.rs
  pulley/tests/all/interp.rs
  tests/disas/pulley/call.wat
  tests/disas/pulley/epoch-simple.wat
  tests/disas/pulley/memory-inbounds.wat
  tests/disas/pulley/pulley32_memory32.wat
  tests/disas/pulley/pulley64_memory32.wat
Labels: wasmtime:api, cranelift, cranelift:meta, isle, pulley

#10190 asm: clean up `and.rs`
  cranelift/assembler-x64/meta/src/instructions/and.rs
  cranelift/codegen/src/isa/x64/inst.isle
Labels: cranelift, cranelift:area:x64

#10210 Winch: Add all_true and bitmask implementations for x64 with AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/i16x8_all_true/const_avx.wat
  tests/disas/winch/x64/i16x8_bitmask/const_avx.wat
  tests/disas/winch/x64/i32x4_all_true/const_avx.wat
  tests/disas/winch/x64/i32x4_bitmask/const_avx.wat
  tests/disas/winch/x64/i64x2_all_true/const_avx.wat
  tests/disas/winch/x64/i64x2_bitmask/const_avx.wat
  tests/disas/winch/x64/i8x16_all_true/const_avx.wat
  tests/disas/winch/x64/i8x16_bitmask/const_avx.wat
  tests/misc_testsuite/winch/_simd_lane.wast
  tests/misc_testsuite/winch/_simd_load.wast
  tests/misc_testsuite/winch/_simd_splat.wast
  winch/codegen/src/codegen/context.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10221 Wasm GC: Fix is-null-or-i31ref checks
  crates/cranelift/src/gc/enabled.rs
  crates/environ/src/gc.rs
  tests/disas/gc/drc/br-on-cast-fail.wat
  tests/disas/gc/drc/br-on-cast.wat
  tests/disas/gc/drc/ref-cast.wat
  tests/disas/gc/drc/ref-test-concrete-type.wat
  tests/disas/gc/drc/struct-get.wat
  tests/disas/gc/drc/struct-new-default.wat
  tests/disas/gc/drc/struct-new.wat
  tests/disas/gc/drc/struct-set.wat
  tests/disas/gc/null/br-on-cast-fail.wat
  tests/disas/gc/null/br-on-cast.wat
  tests/disas/gc/null/ref-cast.wat
  tests/disas/gc/null/ref-test-concrete-type.wat
  tests/disas/gc/struct-new-default.wat
  tests/disas/gc/struct-new.wat
  tests/misc_testsuite/gc/issue-10171.wast
Labels: wasmtime:ref-types

#10220 Winch: i32x4.dot_16x8_s on x64 with AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/i32x4_dot_i16x8_s/const_avx.wat
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10205 Winch: v128 `min`, `max`, `extmul` and `extadd`
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/i16x8/extadd/extadd_s.wat
  tests/disas/winch/x64/i16x8/extadd/extadd_u.wat
  tests/disas/winch/x64/i16x8/extmul/high_s.wat
  tests/disas/winch/x64/i16x8/extmul/high_u.wat
  tests/disas/winch/x64/i16x8/extmul/low_s.wat
  tests/disas/winch/x64/i16x8/extmul/low_u.wat
  tests/disas/winch/x64/i16x8/max/max_s.wat
  tests/disas/winch/x64/i16x8/max/max_u.wat
  tests/disas/winch/x64/i16x8/min/min_s.wat
  tests/disas/winch/x64/i16x8/min/min_u.wat
  tests/disas/winch/x64/i32x4/extadd/extadd_s.wat
  tests/disas/winch/x64/i32x4/extadd/extadd_u.wat
  tests/disas/winch/x64/i32x4/extmul/high_s.wat
  tests/disas/winch/x64/i32x4/extmul/high_u.wat
  tests/disas/winch/x64/i32x4/extmul/low_s.wat
  tests/disas/winch/x64/i32x4/extmul/low_u.wat
  tests/disas/winch/x64/i32x4/max/max_s.wat
  tests/disas/winch/x64/i32x4/max/max_u.wat
  tests/disas/winch/x64/i32x4/min/min_s.wat
  tests/disas/winch/x64/i32x4/min/min_u.wat
  tests/disas/winch/x64/i64x2/extmul/high_s.wat
  tests/disas/winch/x64/i64x2/extmul/high_u.wat
  tests/disas/winch/x64/i64x2/extmul/low_s.wat
  tests/disas/winch/x64/i64x2/extmul/low_u.wat
  tests/disas/winch/x64/i8x16/max/max_s.wat
  tests/disas/winch/x64/i8x16/max/max_u.wat
  tests/disas/winch/x64/i8x16/min/min_s.wat
  tests/disas/winch/x64/i8x16/min/min_u.wat
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10227 fix: typos in documentation files
  crates/cranelift/src/compiler.rs
  crates/environ/src/types.rs
  crates/wasi-preview1-component-adapter/provider/README.md
  crates/wasmtime/src/profiling_agent/pulley.rs
  crates/wasmtime/src/runtime/func.rs
Labels: wasmtime:api

#10216 asm: fix sign-extended immediates
  cranelift/assembler-x64/Cargo.toml
  cranelift/assembler-x64/meta/src/dsl/format.rs
  cranelift/assembler-x64/meta/src/generate.rs
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/generate/inst.rs
  cranelift/assembler-x64/meta/src/generate/operand.rs
  cranelift/assembler-x64/src/fuzz.rs
  cranelift/assembler-x64/src/imm.rs
  cranelift/assembler-x64/src/inst.rs
  cranelift/assembler-x64/src/lib.rs
  cranelift/assembler-x64/src/mem.rs
  cranelift/assembler-x64/src/rex.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/external.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/ishl.clif
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/sshr.clif
  cranelift/filetests/filetests/isa/x64/ushr.clif
Labels: cranelift, cranelift:area:x64, isle

#10226 Winch: Add `trunc_sat` instructions for x64 with AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/i32x4_trunc_sat_f32x4_s/const_avx.wat
  tests/disas/winch/x64/i32x4_trunc_sat_f32x4_u/const_avx.wat
  tests/disas/winch/x64/i32x4_trunc_sat_f64x2_s_zero/const_avx.wat
  tests/disas/winch/x64/i32x4_trunc_sat_f64x2_u_zero/const_avx.wat
  tests/misc_testsuite/winch/_simd_load.wast
  tests/misc_testsuite/winch/_simd_splat.wast
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10229 aarch64: Add support for the `extr` instruction
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/emit_tests.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/lower/isle.rs
  cranelift/filetests/filetests/isa/aarch64/extr.clif
  cranelift/filetests/filetests/isa/aarch64/shift-rotate.clif
  cranelift/filetests/filetests/runtests/bitops.clif
  tests/disas/aarch64-extr.wat
  winch/codegen/src/isa/aarch64/asm.rs
Labels: cranelift, cranelift:area:aarch64, isle

#10223 Wasm GC: Fix an incorrect assertion and canonicalize types for runtime usage in ExternType::from_wasmtime
  assertion_failed__left_eq_right.wasm
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/gc/enabled.rs
  crates/cranelift/src/gc/enabled/drc.rs
  crates/cranelift/src/gc/enabled/null.rs
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/component/types.rs
  crates/environ/src/module.rs
  crates/environ/src/module_types.rs
  crates/environ/src/types.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/runtime/component/component.rs
  crates/wasmtime/src/runtime/component/func/host.rs
  crates/wasmtime/src/runtime/component/linker.rs
  crates/wasmtime/src/runtime/component/matching.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/type_registry.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/types/matching.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/const_expr.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/winch/src/compiler.rs
  tests/all/structs.rs
  winch/codegen/src/codegen/env.rs
  winch/codegen/src/codegen/mod.rs
Labels: wasmtime:api, wasmtime:ref-types, winch

#10232 asm: comprehend 1-, 2-, and 3-byte opcodes
  cranelift/assembler-x64/meta/src/dsl/encoding.rs
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/instructions/and.rs
Labels: cranelift

#10228 Winch: Implement avgr instructions for x64 with AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/i16x8_avgr_u/const_avx.wat
  tests/disas/winch/x64/i8x16_avgr_u/const_avx.wat
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10233 x64: Add support for the `shld` instruction
  cranelift/assembler-x64/meta/src/dsl/encoding.rs
  cranelift/assembler-x64/meta/src/dsl/format.rs
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/generate/operand.rs
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/shld.rs
  cranelift/assembler-x64/src/fuzz.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/shld.clif
  tests/disas/x64-shld.wat
Labels: cranelift, cranelift:area:x64, isle

#10237 asm: add implementations for more ALU operations
  cranelift/assembler-x64/meta/src/dsl/encoding.rs
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/instructions.rs
  cranelift/assembler-x64/meta/src/instructions/add.rs
  cranelift/assembler-x64/meta/src/instructions/or.rs
  cranelift/assembler-x64/meta/src/instructions/sub.rs
  cranelift/assembler-x64/meta/src/instructions/xor.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/filetests/filetests/isa/x64/bmask.clif
  cranelift/filetests/filetests/isa/x64/clz-lzcnt.clif
  cranelift/filetests/filetests/isa/x64/clz.clif
  cranelift/filetests/filetests/isa/x64/ctz-bmi1.clif
  cranelift/filetests/filetests/isa/x64/ctz.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/immediates.clif
  cranelift/filetests/filetests/isa/x64/ishl.clif
  cranelift/filetests/filetests/isa/x64/load-op.clif
  cranelift/filetests/filetests/isa/x64/popcnt.clif
  cranelift/filetests/filetests/isa/x64/shld.clif
  cranelift/filetests/filetests/isa/x64/simd-arith-avx.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/sshr.clif
  cranelift/filetests/filetests/isa/x64/stack_switch.clif
  cranelift/filetests/filetests/isa/x64/struct-arg.clif
  cranelift/filetests/filetests/isa/x64/traps.clif
  cranelift/filetests/filetests/isa/x64/ushr.clif
Labels: cranelift, cranelift:area:x64

#10209 Introduce verification of integer address type widths.
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/filetests/filetests/runtests/fdemote.clif
  cranelift/filetests/filetests/runtests/fdemote_32.clif
  cranelift/filetests/filetests/runtests/fdemote_64.clif
  cranelift/filetests/filetests/runtests/fpromote.clif
  cranelift/filetests/filetests/runtests/fpromote_32.clif
  cranelift/filetests/filetests/runtests/fpromote_64.clif
  cranelift/filetests/filetests/runtests/simd-extractlane.clif
  cranelift/filetests/filetests/runtests/simd-extractlane_32.clif
  cranelift/filetests/filetests/runtests/simd-extractlane_64.clif
  cranelift/filetests/filetests/runtests/simd-insertlane.clif
  cranelift/filetests/filetests/runtests/simd-insertlane_32.clif
  cranelift/filetests/filetests/runtests/simd-insertlane_64.clif
  cranelift/filetests/filetests/verifier/pointer_width_32.clif
  cranelift/filetests/filetests/verifier/pointer_width_64.clif
Labels: cranelift, cranelift:meta

#10242 Winch: Refactor masm signatures to take kinds
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10241 Winch: Add implementation for `i8x16.popcnt` for x64 with AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/i8x16_popcnt/const_avx.wat
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10235 Update wasm-tools crates to 226
  Cargo.lock
  Cargo.toml
  benches/call.rs
  crates/cli-flags/src/lib.rs
  crates/component-macro/tests/codegen/multi-return.wit
  crates/component-macro/tests/codegen/variants.wit
  crates/component-macro/tests/expanded/variants.rs
  crates/component-macro/tests/expanded/variants_async.rs
  crates/component-macro/tests/expanded/variants_concurrent.rs
  crates/component-macro/tests/expanded/variants_tracing_async.rs
  crates/environ/fuzz/fuzz_targets/fact-valid-module.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/types_builder.rs
  crates/fuzzing/src/generators/component_types.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/module.rs
  crates/fuzzing/src/oracles.rs
  crates/misc/component-fuzz-util/src/lib.rs
  crates/misc/component-test-util/src/lib.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wast-util/src/lib.rs
  crates/wit-bindgen/src/lib.rs
  crates/wit-bindgen/src/types.rs
  fuzz/build.rs
  supply-chain/imports.lock
  tests/all/component_model.rs
  tests/all/component_model/func.rs
  tests/all/component_model/macros.rs
  tests/misc_testsuite/component-model/fused.wast
Labels: wasmtime:api, fuzzing, wasmtime:config

#10250 Release Wasmtime 30.0.0
  RELEASES.md
Labels: wasmtime:docs

#10243 Winch: Implement SIMD float rounding instructions for x64 with AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/f32x4_ceil/const_avx.wat
  tests/disas/winch/x64/f32x4_floor/const_avx.wat
  tests/disas/winch/x64/f32x4_nearest/const_avx.wat
  tests/disas/winch/x64/f32x4_trunc/const_avx.wat
  tests/disas/winch/x64/f64x2_ceil/const_avx.wat
  tests/disas/winch/x64/f64x2_floor/const_avx.wat
  tests/disas/winch/x64/f64x2_nearest/const_avx.wat
  tests/disas/winch/x64/f64x2_trunc/const_avx.wat
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10251 Exception and control tags
  crates/c-api/src/extern.rs
  crates/c-api/src/types/extern.rs
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/module.rs
  crates/environ/src/types.rs
  crates/environ/src/vmoffsets.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/runtime/externals.rs
  crates/wasmtime/src/runtime/externals/tag.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/store/data.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/types/matching.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/export.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/drc.rs
  crates/wasmtime/src/runtime/vm/imports.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  tests/all/main.rs
  tests/all/tags.rs
Labels: wasmtime:api, wasmtime:c-api, fuzzing, wasmtime:ref-types, wasmtime:config

#10247 Winch: Add SIMD float arithmetic support for x64 with AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/f32x4_add/const_avx.wat
  tests/disas/winch/x64/f32x4_div/const_avx.wat
  tests/disas/winch/x64/f32x4_mul/const_avx.wat
  tests/disas/winch/x64/f32x4_neg/const_avx.wat
  tests/disas/winch/x64/f32x4_sqrt/const_avx.wat
  tests/disas/winch/x64/f32x4_sub/const_avx.wat
  tests/disas/winch/x64/f64x2_add/const_avx.wat
  tests/disas/winch/x64/f64x2_div/const_avx.wat
  tests/disas/winch/x64/f64x2_mul/const_avx.wat
  tests/disas/winch/x64/f64x2_neg/const_avx.wat
  tests/disas/winch/x64/f64x2_sqrt/const_avx.wat
  tests/disas/winch/x64/f64x2_sub/const_avx.wat
  tests/misc_testsuite/winch/_simd_load.wast
  tests/misc_testsuite/winch/_simd_splat.wast
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10255 Continuation types
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/gc/enabled.rs
  crates/cranelift/src/lib.rs
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/compile/module_types.rs
  crates/environ/src/gc.rs
  crates/environ/src/types.rs
  crates/wasmtime/src/runtime/type_registry.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/types/matching.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
  crates/wasmtime/src/runtime/vm/table.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
Labels: wasmtime:api, wasmtime:ref-types

#10270 [30.0.0] ci: generate a list of generated files
  RELEASES.md
  cranelift/assembler-x64/build.rs
  cranelift/assembler-x64/src/lib.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: cranelift, wasmtime:docs

#10260 x64: rework new assembler rule priorities, remove old emission rules
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
Labels: cranelift, cranelift:area:x64

#10201 winch(aarch64): Correct treatment for stores and other trapping ops
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
Labels: winch

#10271 Winch: Add min and max for SIMD floats for x64 with AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/f32x4_max/const_avx.wat
  tests/disas/winch/x64/f32x4_min/const_avx.wat
  tests/disas/winch/x64/f64x2_max/const_avx.wat
  tests/disas/winch/x64/f64x2_min/const_avx.wat
  tests/misc_testsuite/winch/_simd_load.wast
  tests/misc_testsuite/winch/_simd_splat.wast
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10284 Winch: Add implementations for pmin and pmax for x64 with AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/f32x4_pmax/const_avx.wat
  tests/disas/winch/x64/f32x4_pmin/const_avx.wat
  tests/disas/winch/x64/f64x2_pmax/const_avx.wat
  tests/disas/winch/x64/f64x2_pmin/const_avx.wat
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10288 Winch: Add SIMD load_zero instructions for x64 with AVX
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/load/v128_load32_zero_avx.wat
  tests/disas/winch/x64/load/v128_load64_zero_avx.wat
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: winch

#10295 [30.0.0] asm: avoid propagating `arbitrary`
  Cargo.lock
  RELEASES.md
  cranelift/codegen/Cargo.toml
  cranelift/codegen/src/isa/x64/inst/external.rs
Labels: cranelift, wasmtime:docs, cranelift:area:x64

#10294 Release Wasmtime 30.0.2
  Cargo.lock
  Cargo.toml
  cranelift/assembler-x64/Cargo.toml
  cranelift/assembler-x64/meta/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/bitset/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/umbrella/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
Labels: wasmtime:c-api, cranelift, cranelift:meta, cranelift:module, isle

#10276 x64: Refactor assembler ISLE constructors
  cranelift/assembler-x64/meta/src/dsl/format.rs
  cranelift/assembler-x64/meta/src/generate.rs
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/generate/inst.rs
  cranelift/assembler-x64/meta/src/generate/operand.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/filetests/filetests/isa/x64/load-op-store.clif
  cranelift/filetests/filetests/isa/x64/sink-load-store-of-bitwise-op-on-float.clif
Labels: cranelift, cranelift:area:x64, isle

#10297 winch(aarch64): Fix effective address calculation
  tests/disas/winch/aarch64/call/multi.wat
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/isa/aarch64/address.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
Labels: winch

#10309 chore: fix some typos in comments
  crates/fuzzing/src/generators/module.rs
  crates/wasmtime/src/runtime/component/values.rs
  crates/wasmtime/src/runtime/types.rs
Labels: wasmtime:api, fuzzing

#10307 Rename `VMRuntimeLimits` to `VMStoreContext`
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/builtin.rs
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/environ/src/vmoffsets.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/component.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
  crates/wasmtime/src/runtime/vm/traphandlers/backtrace.rs
  crates/wasmtime/src/runtime/vm/traphandlers/coredump_disabled.rs
  crates/wasmtime/src/runtime/vm/traphandlers/coredump_enabled.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  tests/all/traps.rs
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/x64/masm.rs
Labels: wasmtime:api, winch
