Repository bytecodealliance/wasmtime, pull requests merged in 2025-10, with the labels that each got.

#11773 cranelift-jit: impl Send for JITModule
  cranelift/jit/src/backend.rs
  cranelift/jit/src/memory/arena.rs
Labels: cranelift

#11748 Constant propagation opts
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/opts/arithmetic.isle
  cranelift/codegen/src/opts/cprop.isle
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/egraph/cprop.clif
  cranelift/filetests/filetests/egraph/skeleton.clif
Labels: cranelift, isle

#11782 c-api: Fix CMakeLists to work properly on ios & other apple targets
  crates/c-api/CMakeLists.txt
Labels: wasmtime:c-api

#11714 asm: add `num_registers_available()`
  cranelift/assembler-x64/meta/src/generate.rs
  cranelift/assembler-x64/meta/src/generate/inst.rs
Labels: cranelift

#11793 Bump Wasmtime to 39.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/assembler-x64/Cargo.toml
  cranelift/assembler-x64/meta/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/bitset/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/srcgen/Cargo.toml
  cranelift/umbrella/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, isle

#11794 x64: Fix `has_native_fma`
  cranelift/codegen/src/isa/x64/mod.rs
Labels: fuzz-bug, cranelift, cranelift:area:x64

#11768 Cranelift: add debug tag infrastructure.
  cranelift/codegen/meta/src/shared/instructions.rs
  cranelift/codegen/src/inline.rs
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/ir/debug_tags.rs
  cranelift/codegen/src/ir/function.rs
  cranelift/codegen/src/ir/mod.rs
  cranelift/codegen/src/ir/stackslot.rs
  cranelift/codegen/src/isa/aarch64/inst.isle
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/pulley_shared/inst.isle
  cranelift/codegen/src/isa/pulley_shared/inst/emit.rs
  cranelift/codegen/src/isa/pulley_shared/inst/mod.rs
  cranelift/codegen/src/isa/pulley_shared/lower.isle
  cranelift/codegen/src/isa/pulley_shared/mod.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/mod.rs
  cranelift/codegen/src/isa/x64/pcc.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/codegen/src/write.rs
  cranelift/filetests/filetests/inline/debug.clif
  cranelift/filetests/filetests/isa/x64/debug.clif
  cranelift/filetests/filetests/verifier/debug_tags.clif
  cranelift/interpreter/src/step.rs
  cranelift/reader/src/lexer.rs
  cranelift/reader/src/parser.rs
Labels: cranelift, cranelift:area:machinst, cranelift:meta, cranelift:area:aarch64, cranelift:area:x64

#11789 Add some more metrics to the pooling allocator
  crates/wasmtime/src/runtime/vm/cow.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/decommit_queue.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/gc_heap_pool.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/generic_stack_pool.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/index_allocator.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/memory_pool.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/metrics.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/table_pool.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/unix_stack_pool.rs
  crates/wasmtime/src/runtime/vm/pagemap_disabled.rs
  crates/wasmtime/src/runtime/vm/sys/unix/pagemap.rs
Labels: wasmtime:api

#11792 Fix documentation examples in pipe.rs
  crates/wasi-common/src/pipe.rs
Labels: wasi
