Repository bytecodealliance/wasmtime, pull requests merged in 2025-09, with the labels that each got.

#11585 riscv64: Implement near relocations
  cranelift/codegen/src/binemit/mod.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/filetests/filetests/isa/riscv64/atomic_store.clif
  cranelift/filetests/filetests/isa/riscv64/call.clif
  cranelift/filetests/filetests/isa/riscv64/exceptions.clif
  cranelift/filetests/filetests/isa/riscv64/fuzzbug-60035.clif
  cranelift/filetests/filetests/isa/riscv64/return-call-indirect.clif
  cranelift/filetests/filetests/isa/riscv64/return-call.clif
  cranelift/filetests/filetests/isa/riscv64/stack-limit.clif
  cranelift/filetests/filetests/isa/riscv64/symbol-value-pic.clif
  cranelift/filetests/filetests/isa/riscv64/symbol-value.clif
  cranelift/filetests/filetests/isa/riscv64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/riscv64/zca.clif
  cranelift/jit/src/backend.rs
  cranelift/jit/src/compiled_blob.rs
Labels: cranelift, isle

#11581 fix: accurate leaf detection
  cranelift/codegen/src/ir/function.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/pulley_shared/abi.rs
  cranelift/codegen/src/isa/pulley_shared/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/filetests/filetests/isa/aarch64/leaf_function_detection.clif
  cranelift/filetests/filetests/isa/aarch64/symbol-value-pic.clif
  cranelift/filetests/filetests/isa/aarch64/symbol-value.clif
  cranelift/filetests/filetests/isa/pulley32/symbols.clif
  cranelift/filetests/filetests/isa/pulley64/symbols.clif
  cranelift/filetests/filetests/isa/riscv64/leaf_function_detection.clif
  cranelift/filetests/filetests/isa/riscv64/symbol-value.clif
  cranelift/filetests/filetests/isa/s390x/leaf_function_detection.clif
  cranelift/filetests/filetests/isa/x64/leaf_function_detection.clif
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#11575 Allow dead code in `component_api` fuzz target
  fuzz/fuzz_targets/component_api.rs
Labels: fuzzing

#11598 Expand some docs on wasmtime-wasi
  crates/wasi/src/cli.rs
  crates/wasi/src/clocks.rs
  crates/wasi/src/filesystem.rs
  crates/wasi/src/random.rs
  crates/wasi/src/sockets/mod.rs
Labels: wasi

#11577 Package up exception handler state
  cranelift/filetests/src/function_runner.rs
  crates/unwinder/src/arch/mod.rs
  crates/unwinder/src/throw.rs
  crates/wasmtime/src/runtime/vm/interpreter.rs
  crates/wasmtime/src/runtime/vm/interpreter_disabled.rs
  crates/wasmtime/src/runtime/vm/throw.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
Labels: wasmtime:api, cranelift

#11599 feat: add granular tail call detection infrastructure to MachInst
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/pulley_shared/abi.rs
  cranelift/codegen/src/isa/pulley_shared/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/vcode.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#11003 cranelift: stack-switching support
  cranelift/codegen/src/isa/x64/abi.rs
  crates/c-api/src/val.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/func_environ/stack_switching/control_effect.rs
  crates/cranelift/src/func_environ/stack_switching/fatpointer.rs
  crates/cranelift/src/func_environ/stack_switching/instructions.rs
  crates/cranelift/src/func_environ/stack_switching/mod.rs
  crates/cranelift/src/lib.rs
  crates/cranelift/src/translate/code_translator.rs
  crates/environ/src/builtin.rs
  crates/environ/src/gc.rs
  crates/environ/src/vmoffsets.rs
  crates/fuzzing/src/generators/value.rs
  crates/fuzzing/src/oracles/diff_spec.rs
  crates/fuzzing/src/oracles/diff_v8.rs
  crates/fuzzing/src/oracles/diff_wasmi.rs
  crates/fuzzing/src/oracles/diff_wasmtime.rs
  crates/wasmtime/src/runtime/coredump.rs
  crates/wasmtime/src/runtime/externals/global.rs
  crates/wasmtime/src/runtime/trampoline/global.rs
  crates/wasmtime/src/runtime/values.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/arrayref.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/structref.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/stack_switching.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  crates/wasmtime/src/runtime/wave/core.rs
  src/commands/run.rs
  tests/disas/stack-switching/resume-suspend-data-passing.wat
  tests/disas/stack-switching/resume-suspend.wat
  tests/disas/stack-switching/symmetric-switch.wat
Labels: wasmtime:api, wasmtime:c-api, cranelift, fuzzing, cranelift:area:x64, wasmtime:ref-types

#11614 wasip3: Refine 0-length behavior in cli/sockets
  crates/wasi/src/p3/cli/host.rs
  crates/wasi/src/p3/sockets/host/types/tcp.rs
  crates/wasi/tests/all/store.rs
Labels: wasi

#11618 wasip3: Update std{out,err} implementation
  crates/test-programs/src/bin/cli_p1_much_stdout.rs
  crates/test-programs/src/bin/cli_p2_much_stdout.rs
  crates/test-programs/src/bin/cli_p3_much_stdout.rs
  crates/wasi/src/cli/stdout.rs
  tests/all/cli_tests.rs
Labels: wasi

#11440 feat(p3): implement `wasi:http`
  Cargo.lock
  Cargo.toml
  crates/test-programs/src/bin/p3_http_outbound_request_content_length.rs
  crates/wasi-http/Cargo.toml
  crates/wasi-http/src/p3/bindings.rs
  crates/wasi-http/src/p3/body.rs
  crates/wasi-http/src/p3/conv.rs
  crates/wasi-http/src/p3/host/handler.rs
  crates/wasi-http/src/p3/host/mod.rs
  crates/wasi-http/src/p3/host/types.rs
  crates/wasi-http/src/p3/mod.rs
  crates/wasi-http/src/p3/proxy.rs
  crates/wasi-http/src/p3/request.rs
  crates/wasi-http/src/p3/response.rs
  crates/wasi-http/tests/all/main.rs
  crates/wasi-http/tests/all/p3/incoming.rs
  crates/wasi-http/tests/all/p3/mod.rs
  crates/wasi-http/tests/all/p3/outgoing.rs
  crates/wasi-http/tests/all/p3/proxy.rs
  crates/wasi/src/p3/mod.rs
Labels: wasi

#11655 don't delete sync-lowered subtasks unless they've exited
  crates/wasmtime/src/runtime/component/concurrent.rs
  crates/wasmtime/src/runtime/component/concurrent/futures_and_streams.rs
  tests/misc_testsuite/component-model-async/sync-streams.wast
Labels: wasmtime:api

#11648 [Cranelift] folds selects
  cranelift/codegen/src/opts/selects.isle
  cranelift/filetests/filetests/egraph/fold-selects.clif
Labels: cranelift, isle

#11664 Fix minor typos in runtime comments
  crates/wasmtime/src/runtime/component/concurrent/futures_and_streams.rs
  crates/wasmtime/src/runtime/store.rs
Labels: wasmtime:api

#11660 Update to wasm-tools 239
  Cargo.lock
  Cargo.toml
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/component.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/adapt.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/fact.rs
  crates/test-programs/src/bin/async_backpressure_callee.rs
  crates/test-programs/src/bin/async_cancel_callee.rs
  crates/wasmtime/src/runtime/component/concurrent.rs
  crates/wasmtime/src/runtime/vm/component/libcalls.rs
  supply-chain/audits.toml
  tests/misc_testsuite/component-model-async/task-builtins.wast
Labels: wasmtime:api

#11665 add `task_exit` option to `wasmtime-wit-bindgen`
  crates/component-macro/src/bindgen.rs
  crates/component-macro/tests/expanded/char_concurrent.rs
  crates/component-macro/tests/expanded/conventions_concurrent.rs
  crates/component-macro/tests/expanded/flags_concurrent.rs
  crates/component-macro/tests/expanded/floats_concurrent.rs
  crates/component-macro/tests/expanded/function-new_concurrent.rs
  crates/component-macro/tests/expanded/integers_concurrent.rs
  crates/component-macro/tests/expanded/lists_concurrent.rs
  crates/component-macro/tests/expanded/many-arguments_concurrent.rs
  crates/component-macro/tests/expanded/multiversion_concurrent.rs
  crates/component-macro/tests/expanded/records_concurrent.rs
  crates/component-macro/tests/expanded/resources-export_concurrent.rs
  crates/component-macro/tests/expanded/resources-import_concurrent.rs
  crates/component-macro/tests/expanded/share-types_concurrent.rs
  crates/component-macro/tests/expanded/simple-functions_concurrent.rs
  crates/component-macro/tests/expanded/simple-lists_concurrent.rs
  crates/component-macro/tests/expanded/small-anonymous_concurrent.rs
  crates/component-macro/tests/expanded/smoke-default_concurrent.rs
  crates/component-macro/tests/expanded/smoke-export_concurrent.rs
  crates/component-macro/tests/expanded/strings_concurrent.rs
  crates/component-macro/tests/expanded/variants_concurrent.rs
  crates/component-macro/tests/expanded/worlds-with-types_concurrent.rs
  crates/misc/component-async-tests/tests/scenario/post_return.rs
  crates/misc/component-async-tests/tests/scenario/transmit.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wit-bindgen/src/config.rs
  crates/wit-bindgen/src/lib.rs
Labels: wasmtime:api

#11669 fix panic in `Instance::set_consumer` when write end is already dropped
  crates/misc/component-async-tests/tests/scenario/streams.rs
  crates/misc/component-async-tests/tests/test_all.rs
  crates/misc/component-async-tests/wit/test.wit
  crates/test-programs/src/bin/async_closed_stream.rs
  crates/wasmtime/src/runtime/component/concurrent/futures_and_streams.rs
Labels: wasmtime:api

#11674 Rename trappable_imports to trappable in macro documentation
  crates/wasmtime/src/runtime/component/mod.rs
Labels: wasmtime:api

#11620 wasip3: Port the `preview1_file_write` test to WASIp3
  crates/test-programs/src/bin/p3_file_write.rs
  crates/wasi/tests/all/p3/mod.rs
Labels: wasi

#11661 Implement backpressure.{inc,dec}
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/component.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/inline.rs
  crates/misc/component-async-tests/wit/test.wit
  crates/test-programs/src/bin/async_backpressure_callee.rs
  crates/test-programs/src/bin/async_backpressure_caller.rs
  crates/test-programs/src/bin/async_cancel_callee.rs
  crates/test-programs/src/bin/async_cancel_caller.rs
  crates/wasmtime/src/runtime/component/concurrent.rs
  crates/wasmtime/src/runtime/vm/component/libcalls.rs
  tests/misc_testsuite/component-model-async/backpressure-deadlock.wast
  tests/misc_testsuite/component-model-async/backpressure-overflow.wast
  tests/misc_testsuite/component-model-async/task-builtins.wast
Labels: wasmtime:api

#11630 Lookup compiled functions by `FuncKey` at runtime
  cranelift/entity/src/primary.rs
  crates/environ/src/address_map.rs
  crates/environ/src/compile/mod.rs
  crates/environ/src/compile/module_artifacts.rs
  crates/environ/src/component/artifacts.rs
  crates/environ/src/key.rs
  crates/environ/src/lib.rs
  crates/environ/src/module_artifacts.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/runtime/component/component.rs
  crates/wasmtime/src/runtime/instantiate.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/trap.rs
  tests/all/coredump.rs
Labels: wasmtime:api, cranelift, winch

#11605 Rec struct
  crates/fuzzing/src/generators/table_ops.rs
Labels: fuzzing

#11724 Release Wasmtime 37.0.0
  RELEASES.md
Labels: wasmtime:docs

#11745 Update SECURITY.md with vulnerability reporting details
  SECURITY.md
Labels: wasmtime:docs

#11746 docs: fix typos
  crates/wasi-http/src/p3/body.rs
  crates/wasi/src/sockets/tcp.rs
  crates/wasi/src/view.rs
Labels: wasi
