Repository bytecodealliance/wasmtime, pull requests merged in 2025-03, with the labels that each got.

#10315 Winch: Fix v128 consts and multivalue returns
  tests/disas/winch/x64/v128_const/multivalue.wat
  tests/misc_testsuite/winch/simd_multivalue.wast
  winch/codegen/src/codegen/control.rs
Labels: winch

#10318 fixed broken link
  docs/examples-rust-wasi.md
Labels: wasmtime:docs

#10317 chore: fix parenthesis balance
  cranelift/isle/docs/language-reference.md
Labels: cranelift, isle

#10313 Use `alloc_zeroed` to allocate dynamic table elements
  crates/wasmtime/src/runtime/vm/table.rs
Labels: wasmtime:api

#10302 x64: use Rust types for assembler immediates
  cranelift/assembler-x64/meta/src/generate.rs
  cranelift/assembler-x64/meta/src/generate/operand.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
Labels: cranelift, cranelift:area:x64, isle

#10319 Update ir.md
  cranelift/docs/ir.md
Labels: cranelift, cranelift:docs

#10106 add component-model-async/{fused|futures|streams}.wast tests
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/component.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/adapt.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/types.rs
  crates/environ/src/component/types_builder.rs
  crates/environ/src/fact.rs
  crates/environ/src/fact/signature.rs
  crates/environ/src/fact/trampoline.rs
  crates/wasmtime/src/runtime/component/concurrent.rs
  crates/wasmtime/src/runtime/component/func/host.rs
  crates/wasmtime/src/runtime/component/mod.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/component.rs
  crates/wasmtime/src/runtime/vm/component/libcalls.rs
  crates/wasmtime/src/runtime/vm/interpreter.rs
  tests/misc_testsuite/component-model-async/fused.wast
  tests/misc_testsuite/component-model-async/futures.wast
  tests/misc_testsuite/component-model-async/streams.wast
Labels: wasmtime:api, fuzzing

#10314 Update wasm-tools to the latest revision
  Cargo.lock
  Cargo.toml
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/component.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/component/types.rs
  crates/environ/src/component/types_builder.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/runtime/component/concurrent.rs
  crates/wasmtime/src/runtime/vm/component/libcalls.rs
  crates/wit-bindgen/src/lib.rs
  crates/wit-bindgen/src/rust.rs
  crates/wit-bindgen/src/types.rs
  supply-chain/audits.toml
  supply-chain/imports.lock
  tests/all/code_too_large.rs
  tests/misc_testsuite/component-model-async/futures.wast
  tests/misc_testsuite/component-model-async/streams.wast
Labels: wasmtime:api

#10337 Winch: Fix extadd implementations
  crates/wast-util/src/lib.rs
  tests/disas/winch/x64/i16x8/extadd/extadd_s.wat
  tests/disas/winch/x64/i16x8/extadd/extadd_u.wat
  tests/disas/winch/x64/i32x4/extadd/extadd_s.wat
  tests/disas/winch/x64/i32x4/extadd/extadd_u.wat
  tests/misc_testsuite/winch/issue-10331.wast
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
Labels: winch

#10342 link-Update abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
Labels: cranelift, cranelift:area:x64

#10321 Add Engine/Component::deserialize_raw
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/runtime/code_memory.rs
  crates/wasmtime/src/runtime/component/component.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/vm/mmap_vec.rs
  examples/min-platform/embedding/src/lib.rs
  tests/all/module.rs
Labels: wasmtime:api

#10316 asm: SSE ALU Instructions
  cranelift/assembler-x64/meta/src/instructions/add.rs
  cranelift/assembler-x64/meta/src/instructions/and.rs
  cranelift/assembler-x64/meta/src/instructions/or.rs
  cranelift/assembler-x64/meta/src/instructions/sub.rs
  cranelift/assembler-x64/meta/src/instructions/xor.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/filetests/filetests/isa/aarch64/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/x64/f128const.clif
  cranelift/filetests/filetests/isa/x64/f16const.clif
  cranelift/filetests/filetests/isa/x64/fabs.clif
  cranelift/filetests/filetests/isa/x64/fastcall.clif
  cranelift/filetests/filetests/isa/x64/fcopysign.clif
  cranelift/filetests/filetests/isa/x64/fcvt.clif
  cranelift/filetests/filetests/isa/x64/floating-point.clif
  cranelift/filetests/filetests/isa/x64/fneg.clif
  cranelift/filetests/filetests/isa/x64/fpromote-demote.clif
  cranelift/filetests/filetests/isa/x64/fsqrt.clif
  cranelift/filetests/filetests/isa/x64/nan-canonicalization-sse41.clif
  cranelift/filetests/filetests/isa/x64/nan-canonicalization.clif
  cranelift/filetests/filetests/isa/x64/narrowing.clif
  cranelift/filetests/filetests/isa/x64/simd-bitwise-compile.clif
  cranelift/filetests/filetests/isa/x64/simd-float-min-max.clif
  cranelift/filetests/filetests/isa/x64/uunarrow.clif
  cranelift/filetests/filetests/isa/x64/widening.clif
Labels: cranelift, cranelift:area:x64

#10349 Wasm GC: Unify supported alignment and minimum block size in `FreeList`
  crates/wasmtime/src/runtime/vm/gc/enabled/free_list.rs
  tests/misc_testsuite/gc/alloc-v128-struct.wast
Labels: wasmtime:api, wasmtime:ref-types

#10348 meta: deduplicate source generation infrastructure
  Cargo.lock
  Cargo.toml
  cranelift/assembler-x64/build.rs
  cranelift/assembler-x64/meta/Cargo.toml
  cranelift/assembler-x64/meta/src/generate.rs
  cranelift/assembler-x64/meta/src/generate/features.rs
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/generate/formatter.rs
  cranelift/assembler-x64/meta/src/generate/inst.rs
  cranelift/assembler-x64/meta/src/lib.rs
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/meta/src/gen_isle.rs
  cranelift/codegen/meta/src/gen_settings.rs
  cranelift/codegen/meta/src/gen_types.rs
  cranelift/codegen/meta/src/lib.rs
  cranelift/codegen/meta/src/pulley.rs
  cranelift/srcgen/Cargo.toml
  cranelift/srcgen/src/error.rs
  cranelift/srcgen/src/lib.rs
  scripts/publish.rs
Labels: cranelift, cranelift:meta

#10249 Initial implementation of Wasi-tls (Transport Layer Security)
  Cargo.lock
  Cargo.toml
  crates/cli-flags/src/lib.rs
  crates/test-programs/artifacts/build.rs
  crates/test-programs/src/bin/tls_sample_application.rs
  crates/test-programs/src/lib.rs
  crates/test-programs/src/tls.rs
  crates/wasi-http/Cargo.toml
  crates/wasi-http/src/types.rs
  crates/wasi-http/tests/all/main.rs
  crates/wasi-tls/Cargo.toml
  crates/wasi-tls/src/lib.rs
  crates/wasi-tls/tests/main.rs
  crates/wasi-tls/wit/deps/io/error.wit
  crates/wasi-tls/wit/deps/io/poll.wit
  crates/wasi-tls/wit/deps/io/streams.wit
  crates/wasi-tls/wit/deps/io/world.wit
  crates/wasi-tls/wit/world.wit
  crates/wasi/src/runtime.rs
  scripts/publish.rs
  src/commands/run.rs
Labels: wasi

#10352 meta: move all ISLE-related generated code to `cranelift-codegen-meta`
  Cargo.lock
  cranelift/assembler-x64/build.rs
  cranelift/assembler-x64/meta/src/generate.rs
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/generate/inst.rs
  cranelift/assembler-x64/meta/src/generate/operand.rs
  cranelift/assembler-x64/meta/src/lib.rs
  cranelift/assembler-x64/src/isle.rs
  cranelift/assembler-x64/src/lib.rs
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/meta/src/gen_asm.rs
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/meta/src/isle.rs
  cranelift/codegen/meta/src/lib.rs
  cranelift/codegen/src/isa/x64/inst/external.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
Labels: cranelift, cranelift:meta, cranelift:area:x64, isle

#10365 Move `assembler.isle` to "untracked inputs"
  cranelift/codegen/meta/src/isle.rs
Labels: cranelift, cranelift:meta

#10358 Remove `paste` dependency from Wasmtime
  Cargo.lock
  crates/wasmtime/Cargo.toml
  crates/wasmtime/src/runtime/component/func/typed.rs
  crates/wasmtime/src/runtime/func.rs
Labels: wasmtime:api

#10364 Modernize architecture documentation on linear memory
  docs/contributing-architecture.md
Labels: wasmtime:docs

#10366 Enable async support in wast tests
  Cargo.lock
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/oracles.rs
  crates/wast/Cargo.toml
  crates/wast/src/lib.rs
  crates/wast/src/wast.rs
  fuzz/fuzz_targets/wast_tests.rs
  src/commands/wast.rs
  tests/wast.rs
Labels: fuzzing

#10372 Perform `(ref null none)` loads that can trap
  crates/cranelift/src/gc/enabled/drc.rs
  tests/misc_testsuite/gc/issue-10353.wast
Labels: wasmtime:ref-types

#10374 `AnyRef::from_raw` needs to clone its GC ref
  crates/wasmtime/src/runtime/gc/enabled/anyref.rs
  crates/wasmtime/src/runtime/vm/const_expr.rs
  tests/misc_testsuite/gc/issue-10182.wast
Labels: wasmtime:api, wasmtime:ref-types

#10370 Winch: Fix issue with multivalue returns
  tests/disas/winch/x64/local/v128_multivalue.wat
  tests/misc_testsuite/winch/issue-10357.wast
  tests/misc_testsuite/winch/simd_multivalue.wast
  winch/codegen/src/masm.rs
Labels: winch

#10332 Enable the GC proposal during general fuzzing
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/module.rs
  crates/fuzzing/src/generators/value.rs
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/diff_spec.rs
  crates/fuzzing/src/oracles/diff_v8.rs
  crates/fuzzing/src/oracles/diff_wasmi.rs
  crates/fuzzing/src/oracles/diff_wasmtime.rs
  crates/fuzzing/src/oracles/engine.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/free_list.rs
  fuzz/fuzz_targets/differential.rs
Labels: wasmtime:api, fuzzing

#10384 Change `allow(missing_docs)` to `expect(..)`
  cranelift/assembler-x64/src/rex.rs
  cranelift/module/src/module.rs
  cranelift/reader/src/lib.rs
  cranelift/reader/src/run_command.rs
  crates/environ/src/builtin.rs
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/types.rs
  crates/environ/src/gc.rs
  crates/environ/src/module_artifacts.rs
  crates/environ/src/obj.rs
  crates/environ/src/trap_encoding.rs
  crates/environ/src/tunables.rs
  crates/environ/src/types.rs
  crates/misc/component-fuzz-util/src/lib.rs
  pulley/src/decode.rs
  pulley/src/interp.rs
  pulley/src/op.rs
  pulley/src/regs.rs
  src/commands/compile.rs
  src/commands/run.rs
Labels: cranelift, cranelift:module, pulley

#10285 Don't pad .text to page size for pulley
  crates/cranelift/src/obj.rs
  crates/wasmtime/src/runtime/code_memory.rs
Labels: wasmtime:api

#10386 Update Wasmi fuzzing oracle to v0.42
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/oracles/diff_wasmi.rs
  supply-chain/audits.toml
Labels: fuzzing

#10391 Introduce log2_min_function_alignment flag
  cranelift/codegen/meta/src/shared/settings.rs
  cranelift/codegen/src/machinst/buffer.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/codegen/src/settings.rs
  cranelift/jit/src/backend.rs
  cranelift/object/src/backend.rs
  crates/wasmtime/src/engine.rs
Labels: wasmtime:api, cranelift, cranelift:area:machinst, cranelift:meta, cranelift:module

#10410 Add some more context to the CLIF verifier
  cranelift/codegen/src/ir/instructions.rs
  cranelift/codegen/src/verifier/mod.rs
Labels: cranelift

#10417 x64: fix misaligned load fault with sunk load when AVX is disabled
  cranelift/codegen/meta/src/gen_asm.rs
  cranelift/codegen/src/isa/x64/lower/isle.rs
Labels: cranelift, cranelift:meta, cranelift:area:x64, isle

#10392 Vendor wasi-tls wits
  ci/vendor-wit.sh
  crates/test-programs/src/lib.rs
  crates/wasi-tls/src/lib.rs
  crates/wasi-tls/wit/deps/io/error.wit
  crates/wasi-tls/wit/deps/io/poll.wit
  crates/wasi-tls/wit/deps/io/streams.wit
  crates/wasi-tls/wit/deps/io/world.wit
  crates/wasi-tls/wit/deps/tls/types.wit
  crates/wasi-tls/wit/deps/tls/world.wit
  crates/wasi-tls/wit/world.wit
  docs/stability-tiers.md
Labels: wasmtime:docs

#10425 Update some dependencies on their major version tracks
  Cargo.lock
  Cargo.toml
  cranelift/isle/veri/veri_engine/Cargo.toml
  crates/cache/Cargo.toml
  crates/cranelift/Cargo.toml
  crates/fuzzing/Cargo.toml
  crates/test-programs/Cargo.toml
  crates/test-programs/artifacts/Cargo.toml
  crates/test-programs/artifacts/build.rs
  crates/test-programs/src/bin/preview2_random.rs
  crates/wasi-common/src/sync/net.rs
  crates/wasi-common/src/sync/sched/unix.rs
  crates/wasi-http/Cargo.toml
  crates/wasi/src/host/network.rs
  crates/wasi/src/tcp.rs
  examples/mpk.rs
  supply-chain/audits.toml
  supply-chain/imports.lock
Labels: cranelift, fuzzing, wasi, isle

#10428 Release Wasmtime 31.0.0
  RELEASES.md
Labels: wasmtime:docs

#10423 Consolidate "util" crates for testing
  Cargo.lock
  Cargo.toml
  crates/c-api-macros/Cargo.toml
  crates/component-macro/Cargo.toml
  crates/component-macro/test-helpers/Cargo.toml
  crates/environ/fuzz/Cargo.toml
  crates/environ/fuzz/fuzz_targets/fact-valid-module.rs
  crates/fuzzing/Cargo.toml
  crates/fuzzing/build.rs
  crates/fuzzing/src/generators/component_types.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/wast_test.rs
  crates/fuzzing/src/oracles.rs
  crates/misc/component-fuzz-util/Cargo.toml
  crates/misc/component-macro-test/Cargo.toml
  crates/misc/component-macro-test/src/lib.rs
  crates/misc/component-test-util/Cargo.toml
  crates/test-macros/Cargo.toml
  crates/test-macros/src/add_variants.rs
  crates/test-macros/src/flags_test.rs
  crates/test-macros/src/lib.rs
  crates/test-macros/src/wasmtime_test.rs
  crates/test-util/Cargo.toml
  crates/test-util/src/component.rs
  crates/test-util/src/component_fuzz.rs
  crates/test-util/src/lib.rs
  crates/test-util/src/wasmtime_wast.rs
  crates/test-util/src/wast.rs
  crates/versioned-export-macros/Cargo.toml
  crates/wast-util/Cargo.toml
  crates/wiggle/generate/Cargo.toml
  crates/wiggle/macro/Cargo.toml
  fuzz/Cargo.toml
  fuzz/build.rs
  tests/all/component_model.rs
  tests/all/component_model/async.rs
  tests/all/component_model/dynamic.rs
  tests/all/component_model/macros.rs
  tests/all/component_model/strings.rs
  tests/disas.rs
  tests/wast.rs
Labels: fuzzing

#10390 Remove support for is_pic
  cranelift/jit/src/backend.rs
  cranelift/jit/src/compiled_blob.rs
Labels: cranelift

#10404 Store stack maps in an ELF section
  cranelift/bitset/src/compound.rs
  crates/cranelift/src/compiler.rs
  crates/environ/Cargo.toml
  crates/environ/src/address_map.rs
  crates/environ/src/compile/mod.rs
  crates/environ/src/compile/stack_maps.rs
  crates/environ/src/lib.rs
  crates/environ/src/module_artifacts.rs
  crates/environ/src/obj.rs
  crates/environ/src/stack_map.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/runtime/code_memory.rs
  crates/wasmtime/src/runtime/instantiate.rs
  crates/wasmtime/src/runtime/module.rs
  crates/wasmtime/src/runtime/trap.rs
  crates/winch/src/compiler.rs
Labels: wasmtime:api, cranelift, winch

#10429 Expose Wasi-TLS handshake error
  ci/vendor-wit.sh
  crates/test-programs/src/bin/tls_sample_application.rs
  crates/test-programs/src/lib.rs
  crates/test-programs/src/tls.rs
  crates/wasi-tls/src/lib.rs
  crates/wasi-tls/wit/deps/tls/types.wit
  crates/wasi/src/lib.rs
Labels: wasi

#10458 Avoid some unnecessary reduces and extends around GC libcalls
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/gc/enabled/drc.rs
  crates/environ/src/builtin.rs
  crates/wasmtime/src/runtime/gc/enabled/anyref.rs
  crates/wasmtime/src/runtime/gc/enabled/externref.rs
  crates/wasmtime/src/runtime/gc/enabled/rooting.rs
  crates/wasmtime/src/runtime/vm/gc.rs
  crates/wasmtime/src/runtime/vm/gc/gc_ref.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
  tests/disas/gc/drc/array-new-fixed-of-gc-refs.wat
  tests/disas/gc/drc/array-new-fixed.wat
  tests/disas/gc/drc/array-new.wat
  tests/disas/gc/drc/funcref-in-gc-heap-new.wat
  tests/disas/gc/drc/struct-new-default.wat
  tests/disas/gc/drc/struct-new.wat
  tests/disas/gc/struct-new-default.wat
  tests/disas/gc/struct-new.wat
Labels: wasmtime:api, wasmtime:ref-types

#10456 Fix needs-stack-map propagation for variables' SSA block params
  cranelift/frontend/src/frontend.rs
  cranelift/frontend/src/frontend/safepoints.rs
  cranelift/frontend/src/ssa.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/drc.rs
  tests/misc_testsuite/gc/issue-10397.wast
Labels: wasmtime:api, cranelift, wasmtime:ref-types

#10446 asm: notate instruction alignment, SSE feature flags
  cranelift/assembler-x64/meta/src/dsl.rs
  cranelift/assembler-x64/meta/src/dsl/features.rs
  cranelift/assembler-x64/meta/src/dsl/format.rs
  cranelift/assembler-x64/meta/src/instructions/add.rs
  cranelift/assembler-x64/meta/src/instructions/and.rs
  cranelift/assembler-x64/meta/src/instructions/or.rs
  cranelift/assembler-x64/meta/src/instructions/sub.rs
  cranelift/assembler-x64/meta/src/instructions/xor.rs
  cranelift/codegen/meta/src/gen_asm.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
Labels: cranelift, cranelift:meta, cranelift:area:x64

#10465 chore: remove redundant words in comment
  crates/wasmtime/src/runtime/component/func/options.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/sync_nostd.rs
Labels: wasmtime:api

#10463 Do not reorder/pack struct fields
  crates/cranelift/src/gc/enabled/drc.rs
  crates/environ/src/gc.rs
  crates/environ/src/gc/drc.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/trampoline/memory.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/drc.rs
  crates/wasmtime/src/runtime/vm/gc/enabled/null.rs
  crates/wasmtime/src/runtime/vm/gc/gc_runtime.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/on_demand.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/gc_heap_pool.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  tests/disas/gc/drc/array-fill.wat
  tests/disas/gc/drc/array-get-s.wat
  tests/disas/gc/drc/array-get-u.wat
  tests/disas/gc/drc/array-get.wat
  tests/disas/gc/drc/array-len.wat
  tests/disas/gc/drc/array-new-fixed-of-gc-refs.wat
  tests/disas/gc/drc/array-new-fixed.wat
  tests/disas/gc/drc/array-new.wat
  tests/disas/gc/drc/array-set.wat
  tests/disas/gc/drc/funcref-in-gc-heap-get.wat
  tests/disas/gc/drc/funcref-in-gc-heap-new.wat
  tests/disas/gc/drc/funcref-in-gc-heap-set.wat
  tests/disas/gc/drc/multiple-array-get.wat
  tests/disas/gc/drc/multiple-struct-get.wat
  tests/disas/gc/drc/struct-get.wat
  tests/disas/gc/drc/struct-new-default.wat
  tests/disas/gc/drc/struct-new.wat
  tests/disas/gc/drc/struct-set.wat
  tests/disas/gc/struct-new-default.wat
  tests/disas/gc/struct-new-stack-map.wat
  tests/disas/gc/struct-new.wat
  tests/misc_testsuite/gc/arrays-of-different-types.wast
  tests/misc_testsuite/gc/issue-10459.wast
  tests/misc_testsuite/gc/issue-10464.wast
Labels: wasmtime:api, wasmtime:ref-types

#10470 Fix computation of fill size in `array.fill` implementation
  crates/cranelift/src/gc/enabled.rs
  tests/disas/gc/drc/array-fill.wat
  tests/disas/gc/null/array-fill.wat
  tests/misc_testsuite/gc/issue-10467.wast
Labels: wasmtime:api, wasmtime:ref-types

#10471 Simplify aegraphs by removing union-find and canonical eclass IDs.
  cranelift/codegen/meta/src/gen_inst.rs
  cranelift/codegen/src/context.rs
  cranelift/codegen/src/ctxhash.rs
  cranelift/codegen/src/egraph.rs
  cranelift/codegen/src/egraph/elaborate.rs
  cranelift/codegen/src/lib.rs
  cranelift/codegen/src/opts.rs
  cranelift/codegen/src/scoped_hash_map.rs
  cranelift/codegen/src/unionfind.rs
  tests/disas/i128-cmp.wat
Labels: cranelift, cranelift:meta

#10474 asm: improve error output for fuzzer
  cranelift/assembler-x64/src/fuzz.rs
Labels: cranelift

#9892 Override component model `Lower::store_list` and `Lift::load_list` for f32/f64
  crates/wasmtime/src/runtime/component/func/typed.rs
Labels: wasmtime:api

#10478 asm: fix trace logging again
  cranelift/assembler-x64/src/gpr.rs
  cranelift/assembler-x64/src/mem.rs
  tests/all/cli_tests.rs
  tests/all/cli_tests/issue-10353.wat
Labels: cranelift

#10480 Update Wasmi to v0.43.0 and enable its `simd` feature
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/oracles/diff_wasmi.rs
  supply-chain/imports.lock
Labels: fuzzing

#10477 asm: add `LOCK`-prefixed instructions
  cranelift/assembler-x64/meta/.rustfmt.toml
  cranelift/assembler-x64/meta/src/dsl.rs
  cranelift/assembler-x64/meta/src/dsl/encoding.rs
  cranelift/assembler-x64/meta/src/dsl/features.rs
  cranelift/assembler-x64/meta/src/dsl/format.rs
  cranelift/assembler-x64/meta/src/generate.rs
  cranelift/assembler-x64/meta/src/generate/format.rs
  cranelift/assembler-x64/meta/src/generate/inst.rs
  cranelift/assembler-x64/meta/src/generate/operand.rs
  cranelift/assembler-x64/meta/src/instructions/add.rs
  cranelift/assembler-x64/meta/src/instructions/and.rs
  cranelift/assembler-x64/meta/src/instructions/or.rs
  cranelift/assembler-x64/meta/src/instructions/sub.rs
  cranelift/assembler-x64/meta/src/instructions/xor.rs
  cranelift/assembler-x64/src/inst.rs
  cranelift/codegen/meta/src/gen_asm.rs
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/inst/external.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/prelude_lower.isle
  cranelift/filetests/filetests/egraph/not_a_load.clif
  cranelift/filetests/filetests/isa/x64/atomic-rmw.clif
Labels: cranelift, cranelift:meta, cranelift:area:x64, isle

#10483 Improve errors with pooling-by-default `serve` command
  crates/cli-flags/src/lib.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
  tests/all/cli_tests.rs
  tests/all/cli_tests/big_table.wat
  tests/all/main.rs
  tests/all/pooling_allocator.rs
Labels: wasmtime:api

#10484 Allow setting pooling allocation in the C API
  crates/c-api/Cargo.toml
  crates/c-api/artifact/Cargo.toml
  crates/c-api/build.rs
  crates/c-api/cmake/features.cmake
  crates/c-api/doxygen.conf.in
  crates/c-api/include/wasmtime/conf.h.in
  crates/c-api/include/wasmtime/config.h
  crates/c-api/src/config.rs
Labels: wasmtime:c-api

#10481 Add documentation for Wasmtime's LTS releases
  README.md
  crates/wasmtime/README.md
  docs/book.toml
  docs/contributing-release-process.md
  docs/js/index.js
  docs/js/mermaid.min.11.6.0.js
  docs/js/moment.min.2.30.1.js
  docs/security-vulnerability-runbook.md
  docs/security-what-is-considered-a-security-vulnerability.md
  docs/stability-release.md
Labels: wasmtime:api, wasmtime:docs

#10485 Cranelift: remove block params on critical-edge blocks.
  cranelift/codegen/src/machinst/blockorder.rs
  cranelift/codegen/src/machinst/lower.rs
  cranelift/filetests/filetests/isa/aarch64/cold-blocks.clif
  cranelift/filetests/filetests/isa/riscv64/bitops-float.clif
  cranelift/filetests/filetests/isa/riscv64/cold-blocks.clif
  cranelift/filetests/filetests/isa/x64/branches.clif
  cranelift/filetests/filetests/isa/x64/crit-edge.clif
  cranelift/filetests/filetests/isa/x64/very-carefully-sink-loads-in-float-compares.clif
  tests/disas/epoch-interruption-x86.wat
  tests/disas/pulley/coremark-1.wat
Labels: cranelift, cranelift:area:machinst

#10495 Don't allocate on the heap for empty bit sets
  cranelift/bitset/src/compound.rs
Labels: cranelift
