Repository bytecodealliance/wasmtime, pull requests merged in 2025-04, with the labels that each got.

#10499 Improve table support for components
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/vm/component.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
Labels: wasmtime:api

#10505 Test the full error context in fuzzing
  crates/fuzzing/src/oracles.rs
Labels: fuzzing

#10506 Rename `VMTableImport` to `VMTable`
  crates/cranelift/src/func_environ.rs
  crates/environ/src/component/vmcomponent_offsets.rs
  crates/environ/src/vmoffsets.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/component.rs
  crates/wasmtime/src/runtime/vm/imports.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  winch/codegen/src/codegen/env.rs
Labels: wasmtime:api, winch

#10500 Expose default value constructors for Wasm types in host API
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/types.rs
  src/commands/run.rs
  tests/all/linker.rs
Labels: wasmtime:api, fuzzing

#10509 Fix a few stray references to "runtime limits"
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/func_environ.rs
  crates/environ/src/vmoffsets.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  winch/codegen/src/codegen/mod.rs
Labels: wasmtime:api, winch

#10501 Update wasm-tools crates to 1.228.0
  Cargo.lock
  Cargo.toml
  crates/cli-flags/src/lib.rs
  crates/cranelift/src/compiler/component.rs
  crates/environ/src/component.rs
  crates/environ/src/component/dfg.rs
  crates/environ/src/component/info.rs
  crates/environ/src/component/translate.rs
  crates/environ/src/component/translate/inline.rs
  crates/environ/src/fact.rs
  crates/fuzzing/src/generators/config.rs
  crates/fuzzing/src/generators/module.rs
  crates/test-util/src/wasmtime_wast.rs
  crates/test-util/src/wast.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  crates/wasmtime/src/runtime/component/concurrent.rs
  crates/wasmtime/src/runtime/vm/component/libcalls.rs
  supply-chain/imports.lock
  tests/misc_testsuite/component-model-async/fused.wast
  tests/misc_testsuite/component-model-async/futures.wast
  tests/misc_testsuite/component-model-async/lift.wast
  tests/misc_testsuite/component-model-async/streams.wast
Labels: wasmtime:api, fuzzing, wasmtime:config

#10508 Analyze whether a module requires a GC heap during its compilation
  crates/cranelift/src/compiler.rs
  crates/cranelift/src/compiler/component.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/func_environ/gc.rs
  crates/cranelift/src/func_environ/gc/enabled.rs
  crates/environ/src/compile/mod.rs
  crates/environ/src/component/compiler.rs
  crates/environ/src/module.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/runtime/externals/table.rs
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/gc/enabled/rooting.rs
  crates/wasmtime/src/runtime/instance.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/vm/gc/gc_ref.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/table.rs
  crates/winch/src/compiler.rs
Labels: wasmtime:api, wasmtime:ref-types, winch

#10507 Guest Profiling suport for component model
  crates/c-api/src/profiling.rs
  crates/wasmtime/src/runtime/component/component.rs
  crates/wasmtime/src/runtime/profiling.rs
  src/commands/run.rs
  src/commands/serve.rs
Labels: wasmtime:api

#10511 Invoke wave enhancements
  crates/wasmtime/src/runtime/component/component.rs
  crates/wasmtime/src/runtime/wave/core.rs
  docs/cli-options.md
  src/commands/run.rs
Labels: wasmtime:api, wasmtime:docs

#10502 Cranelift: remove return-value instructions after calls at callsites.
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/pulley_shared/abi.rs
  cranelift/codegen/src/isa/pulley_shared/inst.isle
  cranelift/codegen/src/isa/pulley_shared/inst/emit.rs
  cranelift/codegen/src/isa/pulley_shared/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.rs
  cranelift/codegen/src/machinst/abi.rs
  cranelift/codegen/src/machinst/isle.rs
  cranelift/codegen/src/machinst/mod.rs
  cranelift/codegen/src/machinst/reg.rs
  cranelift/codegen/src/machinst/vcode.rs
  cranelift/filetests/filetests/isa/aarch64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/pulley32/call.clif
  cranelift/filetests/filetests/isa/pulley64/call.clif
  cranelift/filetests/filetests/isa/riscv64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/s390x/call.clif
  cranelift/filetests/filetests/isa/x64/call-with-retval-insts.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/tail-call-conv.clif
  cranelift/filetests/filetests/isa/x64/winch.clif
  tests/disas/winch/x64/load/grow_load.wat
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64, isle

#10525 Bump Wasmtime to 33.0.0
  Cargo.lock
  Cargo.toml
  RELEASES.md
  cranelift/assembler-x64/Cargo.toml
  cranelift/assembler-x64/meta/Cargo.toml
  cranelift/bforest/Cargo.toml
  cranelift/bitset/Cargo.toml
  cranelift/codegen/Cargo.toml
  cranelift/codegen/meta/Cargo.toml
  cranelift/codegen/shared/Cargo.toml
  cranelift/control/Cargo.toml
  cranelift/entity/Cargo.toml
  cranelift/frontend/Cargo.toml
  cranelift/interpreter/Cargo.toml
  cranelift/isle/isle/Cargo.toml
  cranelift/jit/Cargo.toml
  cranelift/module/Cargo.toml
  cranelift/native/Cargo.toml
  cranelift/object/Cargo.toml
  cranelift/reader/Cargo.toml
  cranelift/serde/Cargo.toml
  cranelift/srcgen/Cargo.toml
  cranelift/umbrella/Cargo.toml
  crates/c-api/include/wasmtime.h
  supply-chain/imports.lock
Labels: wasmtime:c-api, cranelift, cranelift:meta, wasmtime:docs, cranelift:module, isle

#10533 Convert docs and error trapping to single quote approach
  docs/cli-options.md
  src/commands/run.rs
Labels: wasmtime:docs

#10535 pulley: Fix frame calculation on non-tail ABIs
  cranelift/codegen/src/isa/pulley_shared/abi.rs
Labels: cranelift

#10516 Support adding additional capacity to `FreeList`s
  crates/wasmtime/src/runtime/vm/gc/enabled/free_list.rs
Labels: wasmtime:api, wasmtime:ref-types

#10542 Simplify handling of caller-vmctx and `dyn VMStore` pointers
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/vm/instance.rs
  crates/wasmtime/src/runtime/vm/instance/allocator.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
Labels: wasmtime:api

#10512 cranelift-jit: add bump memory allocator, make configurable
  cranelift/jit/src/backend.rs
  cranelift/jit/src/lib.rs
  cranelift/jit/src/memory/arena.rs
  cranelift/jit/src/memory/mod.rs
  cranelift/jit/src/memory/system.rs
Labels: cranelift

#10560 Automatically trigger GC in `{Array,Extern,Struct}Ref` allocation functions
  crates/wasmtime/src/runtime/gc/enabled/arrayref.rs
  crates/wasmtime/src/runtime/gc/enabled/externref.rs
  crates/wasmtime/src/runtime/gc/enabled/rooting.rs
  crates/wasmtime/src/runtime/gc/enabled/structref.rs
  crates/wasmtime/src/runtime/store.rs
  crates/wasmtime/src/runtime/store/async_.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/const_expr.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wast/src/core.rs
  crates/wast/src/wast.rs
  tests/all/async_functions.rs
  tests/all/gc.rs
Labels: wasmtime:api, wasmtime:ref-types

#10537 Run CI tests through AddressSanitizer
  .github/workflows/main.yml
  build.rs
  ci/build-test-matrix.js
  crates/fiber/src/lib.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling.rs
  crates/wasmtime/src/runtime/vm/instance/allocator/pooling/unix_stack_pool.rs
  crates/wasmtime/tests/host_segfault.rs
  tests/all/memory.rs
  tests/all/stack_creator.rs
  tests/all/wasi_testsuite.rs
  tests/rlimited-memory.rs
Labels: wasmtime:api, cranelift

#10557 s390x: Add try_call / try_call_indirect support
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/inst/regs.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/filetests/filetests/isa/s390x/exceptions.clif
Labels: cranelift, isle

#10206 threads: add feature flags
  crates/fuzzing/src/generators/config.rs
  crates/test-util/src/wasmtime_wast.rs
  crates/test-util/src/wast.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine/serialization.rs
  tests/misc_testsuite/shared-everything-threads/flags.wast
Labels: wasmtime:api, fuzzing, wasmtime:config

#10569 threads: add more flags
  crates/cli-flags/src/lib.rs
  crates/fuzzing/src/generators/config.rs
Labels: fuzzing

#10054 wasmtime-cli: support `run --invoke` for components using wave
  Cargo.toml
  crates/wasmtime/src/runtime/wave/core.rs
  docs/cli-options.md
  src/commands/run.rs
  tests/all/cli_tests.rs
Labels: wasmtime:api, wasmtime:docs

#10566 c-api: Compile a component
  crates/c-api/Cargo.toml
  crates/c-api/artifact/Cargo.toml
  crates/c-api/build.rs
  crates/c-api/cmake/features.cmake
  crates/c-api/include/wasmtime.h
  crates/c-api/include/wasmtime/component.h
  crates/c-api/include/wasmtime/component/component.h
  crates/c-api/include/wasmtime/conf.h.in
  crates/c-api/include/wasmtime/config.h
  crates/c-api/src/component/component.rs
  crates/c-api/src/component/mod.rs
  crates/c-api/src/lib.rs
Labels: wasmtime:c-api

#10581 asm: move assembler operand matchers
  cranelift/codegen/src/isa/x64/inst.isle
Labels: cranelift, cranelift:area:x64

#10584 Don't discard errors in `default_value` helpers
  crates/fuzzing/src/oracles.rs
  crates/fuzzing/src/oracles/dummy.rs
  crates/wasmtime/src/runtime/linker.rs
  crates/wasmtime/src/runtime/types.rs
Labels: wasmtime:api, fuzzing

#10587 Update linkage of `libm` for nightly Rust
  cranelift/filetests/src/function_runner.rs
Labels: cranelift

#10570 [DI] Fix live range tracking off-by-one confusions
  cranelift/codegen/src/machinst/lower.rs
  cranelift/codegen/src/machinst/vcode.rs
  crates/test-programs/artifacts/build.rs
  tests/all/debug/gdb.rs
  tests/all/debug/lldb.rs
  tests/all/debug/testsuite/codegen-optimized-wasm-optimized.cpp
Labels: cranelift, cranelift:area:machinst

#10580 asm: replace flag-using ALU instructions
  cranelift/codegen/src/isa/x64/inst.isle
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/filetests/filetests/isa/x64/bmask.clif
  cranelift/filetests/filetests/isa/x64/i128.clif
  cranelift/filetests/filetests/isa/x64/traps.clif
  cranelift/filetests/filetests/isa/x64/uadd_overflow_trap.clif
Labels: cranelift, cranelift:area:x64

#10582 c-api: Bring wasmtime-cpp into this repository
  .github/workflows/main.yml
  crates/c-api/CMakeLists.txt
  crates/c-api/README.md
  crates/c-api/doxygen.conf.in
  crates/c-api/include/wasmtime.hh
  crates/c-api/tests/CMakeLists.txt
  crates/c-api/tests/double-include-a.cc
  crates/c-api/tests/double-include-b.cc
  crates/c-api/tests/func.cc
  crates/c-api/tests/simple.cc
  crates/c-api/tests/types.cc
  examples/CMakeLists.txt
  examples/externref.cc
  examples/fuel.cc
  examples/gcd.cc
  examples/hello.cc
  examples/interrupt.cc
  examples/linking.cc
  examples/memory.cc
Labels: wasmtime:c-api

#10605 Fix the new `logged-filetests.rs` test
  .github/workflows/main.yml
  cranelift/codegen/src/isa/s390x/abi.rs
Labels: cranelift

#10593 Some fixes for try_call
  cranelift/codegen/src/inst_predicates.rs
  cranelift/codegen/src/ir/exception_table.rs
  cranelift/codegen/src/isa/aarch64/abi.rs
  cranelift/codegen/src/isa/call_conv.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/unreachable_code.rs
  cranelift/codegen/src/verifier/mod.rs
  cranelift/filetests/filetests/egraph/try_call-mem-clobber.clif
  cranelift/filetests/filetests/verifier/exceptions.clif
  cranelift/frontend/src/frontend.rs
Labels: cranelift

#10601 Update to wasm-tools 229
  Cargo.lock
  Cargo.toml
  crates/cranelift/src/translate/func_translator.rs
  crates/environ/src/compile/module_environ.rs
  crates/environ/src/component/translate.rs
  crates/wasmtime/src/engine/serialization.rs
  supply-chain/imports.lock
  tests/misc_testsuite/no-panic-on-invalid.wast
  winch/codegen/src/codegen/mod.rs
  winch/codegen/src/isa/aarch64/mod.rs
  winch/codegen/src/isa/x64/mod.rs
Labels: wasmtime:api, winch

#10598 c-api: Create and instantiate a component model linker
  crates/c-api/include/wasmtime/component.h
  crates/c-api/include/wasmtime/component/component.h
  crates/c-api/include/wasmtime/component/instance.h
  crates/c-api/include/wasmtime/component/linker.h
  crates/c-api/src/component/component.rs
  crates/c-api/src/component/linker.rs
  crates/c-api/src/component/mod.rs
  crates/c-api/tests/CMakeLists.txt
  crates/c-api/tests/component/instantiate.cc
Labels: wasmtime:c-api

#10609 Cranelift: move exception-handler metadata into callsites.
  cranelift/codegen/src/isa/aarch64/inst/emit.rs
  cranelift/codegen/src/isa/pulley_shared/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/machinst/buffer.rs
Labels: cranelift, cranelift:area:machinst, cranelift:area:aarch64, cranelift:area:x64

#10612 Log module "DNA" during fuzzing
  Cargo.lock
  crates/fuzzing/Cargo.toml
  crates/fuzzing/src/generators/module.rs
Labels: fuzzing

#10618 remove compiler cfg on configured target
  crates/wasmtime/src/config.rs
Labels: wasmtime:api, wasmtime:config

#10617 Release Wasmtime 32.0.0
  RELEASES.md
Labels: wasmtime:docs

#10600 Sketch out merging the C/C++ APIs
  crates/c-api/include/wasmtime.hh
  crates/c-api/include/wasmtime/error.hh
  crates/c-api/tests/CMakeLists.txt
  crates/c-api/tests/error.cc
Labels: wasmtime:c-api

#10621 wasmtime component: get InstancePre from Instance
  crates/wasmtime/src/runtime/component/instance.rs
  crates/wasmtime/src/runtime/component/linker.rs
  crates/wasmtime/src/runtime/component/types.rs
Labels: wasmtime:api

#10623 Move C++ `MemoryType` to its own header
  crates/c-api/include/wasmtime.hh
  crates/c-api/include/wasmtime/types.hh
  crates/c-api/include/wasmtime/types/memory.hh
  crates/c-api/tests/CMakeLists.txt
  crates/c-api/tests/memory_type.cc
Labels: wasmtime:c-api

#10630 Add a bunch of cookbook-style "how do I do X?" examples to the book
  docs/SUMMARY.md
  docs/examples-deterministic-wasm-execution.md
  docs/examples-fast-compilation.md
  docs/examples-fast-execution.md
  docs/examples-fast-instantiation.md
  docs/examples-interrupting-wasm.md
  docs/examples-pre-compiling-wasm.md
  docs/examples-profiling-samply.md
  docs/examples-pulley.md
  examples/fast_compilation.rs
  examples/fast_execution.rs
  examples/fast_instantiation.rs
  examples/pre_compile.rs
  examples/run_pre_compiled.rs
Labels: wasmtime:docs

#10633 asm: use `Formatter::add_block` for more generated code
  cranelift/assembler-x64/meta/src/generate.rs
Labels: cranelift

#10631 Add `f16`/`f128` support to `cranelift_frontend::emit_zero`
  cranelift/frontend/src/ssa.rs
Labels: cranelift

#10635 Correct some fast-execution documentation
  docs/examples-fast-execution.md
  examples/fast_execution.rs
Labels: wasmtime:docs

#10636 Increase discovery timeout for C++ tests
  crates/c-api/tests/CMakeLists.txt
Labels: wasmtime:c-api

#10634 Move C++ `Config` to its own header
  crates/c-api/include/wasmtime.hh
  crates/c-api/include/wasmtime/config.h
  crates/c-api/include/wasmtime/config.hh
  crates/c-api/include/wasmtime/error.hh
  crates/c-api/src/component/component.rs
  crates/c-api/tests/CMakeLists.txt
  crates/c-api/tests/config.cc
  crates/c-api/tests/simple.cc
Labels: wasmtime:c-api

#10626 Use EntryStoreContext to manage state when entering and exiting Wasm
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
Labels: wasmtime:api

#10647 Move the C++ `Trap` and related types to its own header
  crates/c-api/include/wasmtime.hh
  crates/c-api/include/wasmtime/trap.hh
  crates/c-api/tests/CMakeLists.txt
  crates/c-api/tests/simple.cc
  crates/c-api/tests/trap.cc
Labels: wasmtime:c-api

#10650 Strip prefixes in file names
  cranelift/codegen/build.rs
  cranelift/isle/isle/src/codegen.rs
  cranelift/isle/isle/src/compile.rs
  cranelift/isle/isle/src/files.rs
Labels: cranelift, isle

#10657 Switch to using Wasmtime-style builtins for ceil, floor, etc.
  cranelift/codegen/src/isa/aarch64/mod.rs
  cranelift/codegen/src/isa/mod.rs
  cranelift/codegen/src/isa/pulley_shared/mod.rs
  cranelift/codegen/src/isa/riscv64/mod.rs
  cranelift/codegen/src/isa/s390x/mod.rs
  cranelift/codegen/src/isa/x64/mod.rs
  crates/cranelift/src/func_environ.rs
  crates/cranelift/src/lib.rs
  crates/cranelift/src/obj.rs
  crates/cranelift/src/translate/code_translator.rs
  crates/environ/src/builtin.rs
  crates/environ/src/compile/mod.rs
  crates/environ/src/obj.rs
  crates/wasmtime/src/compile.rs
  crates/wasmtime/src/runtime/code_memory.rs
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/interpreter.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
  crates/wasmtime/src/runtime/vm/traphandlers.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
  tests/disas/riscv64-component-builtins-asm.wat
  tests/disas/riscv64-component-builtins.wat
  tests/disas/winch/x64/f32_ceil/f32_ceil_param.wat
  tests/disas/winch/x64/f32_floor/f32_floor_param.wat
  tests/disas/winch/x64/f32_nearest/f32_nearest_param.wat
  tests/disas/winch/x64/f32_trunc/f32_trunc_param.wat
  tests/disas/winch/x64/f64_ceil/f64_ceil_param.wat
  tests/disas/winch/x64/f64_floor/f64_floor_param.wat
  tests/disas/winch/x64/f64_nearest/f64_nearest_param.wat
  tests/disas/winch/x64/f64_trunc/f64_trunc_param.wat
  winch/codegen/src/codegen/builtin.rs
  winch/codegen/src/codegen/call.rs
  winch/codegen/src/isa/aarch64/asm.rs
  winch/codegen/src/isa/aarch64/masm.rs
  winch/codegen/src/isa/x64/asm.rs
  winch/codegen/src/isa/x64/masm.rs
  winch/codegen/src/masm.rs
  winch/codegen/src/visitor.rs
Labels: wasmtime:api, cranelift, cranelift:area:aarch64, cranelift:area:x64

#10643 Mark a handful of functions on the calling-into-Wasm path as `#[inline]`
  .gitignore
  crates/wasmtime/src/runtime/func.rs
  crates/wasmtime/src/runtime/func/typed.rs
  crates/wasmtime/src/runtime/types.rs
  crates/wasmtime/src/runtime/vm/vmcontext.rs
Labels: wasmtime:api

#10652 Add inital support for `f16` without `Zfh` and `f128` to the riscv64 backend
  ci/build-test-matrix.js
  cranelift/codegen/meta/src/isa/riscv64.rs
  cranelift/codegen/src/isa/riscv64/abi.rs
  cranelift/codegen/src/isa/riscv64/inst.isle
  cranelift/codegen/src/isa/riscv64/inst/args.rs
  cranelift/codegen/src/isa/riscv64/inst/emit.rs
  cranelift/codegen/src/isa/riscv64/inst/emit_tests.rs
  cranelift/codegen/src/isa/riscv64/inst/encode.rs
  cranelift/codegen/src/isa/riscv64/inst/mod.rs
  cranelift/codegen/src/isa/riscv64/lower.isle
  cranelift/codegen/src/isa/riscv64/lower/isle.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/riscv64/bitcast-float.clif
  cranelift/filetests/filetests/isa/riscv64/bitcast-scalar-vector.clif
  cranelift/filetests/filetests/isa/riscv64/bitops.clif
  cranelift/filetests/filetests/isa/riscv64/call.clif
  cranelift/filetests/filetests/isa/riscv64/constants.clif
  cranelift/filetests/filetests/isa/riscv64/f16-bitcast-zfhmin.clif
  cranelift/filetests/filetests/isa/riscv64/f16-bitcast-zvfh.clif
  cranelift/filetests/filetests/isa/riscv64/f16-bitcast.clif
  cranelift/filetests/filetests/isa/riscv64/f16-fma.clif
  cranelift/filetests/filetests/isa/riscv64/f16-memory.clif
  cranelift/filetests/filetests/isa/riscv64/f16-select.clif
  cranelift/filetests/filetests/isa/riscv64/f16.clif
  cranelift/filetests/filetests/isa/riscv64/f16const-zfhmin.clif
  cranelift/filetests/filetests/isa/riscv64/load-f16-f128.clif
  cranelift/filetests/filetests/isa/riscv64/select-float.clif
  cranelift/filetests/filetests/isa/riscv64/store-f16-f128.clif
  cranelift/filetests/filetests/isa/riscv64/zfa.clif
  cranelift/filetests/filetests/runtests/f128-bitcast.clif
  cranelift/filetests/filetests/runtests/f128-select.clif
  cranelift/filetests/filetests/runtests/f128const.clif
  cranelift/filetests/filetests/runtests/f16-arithmetic.clif
  cranelift/filetests/filetests/runtests/f16-bitcast.clif
  cranelift/filetests/filetests/runtests/f16-fma.clif
  cranelift/filetests/filetests/runtests/f16-memory.clif
  cranelift/filetests/filetests/runtests/f16-select.clif
  cranelift/filetests/filetests/runtests/f16const.clif
Labels: cranelift, cranelift:meta, isle

#10669 Define dummy simd types as uninhabited
  crates/wasmtime/src/runtime/vm.rs
  crates/wasmtime/src/runtime/vm/interpreter.rs
  crates/wasmtime/src/runtime/vm/libcalls.rs
Labels: wasmtime:api

#10672 Simplify module features in serialization
  crates/wasmtime/src/engine/serialization.rs
Labels: wasmtime:api

#10675 c-api: component-model: Lookup function from an instance
  crates/c-api/include/wasmtime/component.h
  crates/c-api/include/wasmtime/component/component.h
  crates/c-api/include/wasmtime/component/func.h
  crates/c-api/include/wasmtime/component/instance.h
  crates/c-api/include/wasmtime/component/linker.h
  crates/c-api/src/component/component.rs
  crates/c-api/src/component/instance.rs
  crates/c-api/src/component/linker.rs
  crates/c-api/src/component/mod.rs
  crates/c-api/tests/CMakeLists.txt
  crates/c-api/tests/component/define_module.cc
  crates/c-api/tests/component/instantiate.cc
  crates/c-api/tests/component/lookup_func.cc
  crates/c-api/tests/component/utils.h
Labels: wasmtime:c-api

#10678 Update `F128` argument ABI for `windows_fastcall` to match LLVM 21
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/filetests/filetests/isa/x64/call-conv.clif
Labels: cranelift, cranelift:area:x64

#10671 Support custom yield behavior for epoch interrupts
  crates/wasmtime/src/runtime/store.rs
  tests/all/epoch_interruption.rs
Labels: wasmtime:api

#10665 Allow creation of a CacheConfig without loading from a file
  crates/bench-api/src/lib.rs
  crates/c-api/src/config.rs
  crates/cache/src/config.rs
  crates/cache/src/config/tests.rs
  crates/cache/src/lib.rs
  crates/cache/src/tests.rs
  crates/cache/src/worker/tests.rs
  crates/cli-flags/src/lib.rs
  crates/wasmtime/src/compile/runtime.rs
  crates/wasmtime/src/config.rs
  crates/wasmtime/src/engine.rs
  crates/wasmtime/src/engine/serialization.rs
  docs/cli-cache.md
  examples/fast_compilation.rs
  src/commands/explore.rs
Labels: wasmtime:api, wasmtime:c-api, wasmtime:docs, wasmtime:config

#10694 Test C/C++ headers can be included in isolation
  crates/c-api/include/wasmtime/error.hh
  crates/c-api/include/wasmtime/linker.h
  crates/c-api/include/wasmtime/profiling.h
  crates/c-api/include/wasmtime/span.hh
  crates/c-api/tests/CMakeLists.txt
Labels: wasmtime:c-api

#10691 Add initial `f16` and `f128` support to the s390x backend
  cranelift/codegen/src/isa/s390x/abi.rs
  cranelift/codegen/src/isa/s390x/inst.isle
  cranelift/codegen/src/isa/s390x/inst/emit.rs
  cranelift/codegen/src/isa/s390x/inst/emit_tests.rs
  cranelift/codegen/src/isa/s390x/inst/mod.rs
  cranelift/codegen/src/isa/s390x/lower.isle
  cranelift/codegen/src/isa/s390x/lower/isle.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/s390x/bitcast.clif
  cranelift/filetests/filetests/isa/s390x/call.clif
  cranelift/filetests/filetests/isa/s390x/floating-point.clif
  cranelift/filetests/filetests/isa/s390x/load-little.clif
  cranelift/filetests/filetests/isa/s390x/load.clif
  cranelift/filetests/filetests/isa/s390x/select-float.clif
  cranelift/filetests/filetests/isa/s390x/store-little.clif
  cranelift/filetests/filetests/isa/s390x/store.clif
  cranelift/filetests/filetests/runtests/f128-bitcast.clif
  cranelift/filetests/filetests/runtests/f128-select.clif
  cranelift/filetests/filetests/runtests/f128const.clif
  cranelift/filetests/filetests/runtests/f16-bitcast.clif
  cranelift/filetests/filetests/runtests/f16-memory.clif
  cranelift/filetests/filetests/runtests/f16-select.clif
  cranelift/filetests/filetests/runtests/f16const.clif
  cranelift/filetests/filetests/runtests/simd-bitcast-128.clif
Labels: cranelift, cranelift:area:machinst, isle

#10693 Add support for loading, storing and bitcasting small vectors on x64 and aarch64
  cranelift/codegen/src/data_value.rs
  cranelift/codegen/src/isa/aarch64/inst/mod.rs
  cranelift/codegen/src/isa/aarch64/lower.isle
  cranelift/codegen/src/isa/x64/abi.rs
  cranelift/codegen/src/isa/x64/inst/emit.rs
  cranelift/codegen/src/isa/x64/inst/mod.rs
  cranelift/codegen/src/isa/x64/lower.isle
  cranelift/codegen/src/isa/x64/lower/isle.rs
  cranelift/codegen/src/isle_prelude.rs
  cranelift/codegen/src/prelude.isle
  cranelift/filetests/filetests/isa/aarch64/bitcast.clif
  cranelift/filetests/filetests/isa/aarch64/load-small-vector.clif
  cranelift/filetests/filetests/isa/aarch64/store-small-vector.clif
  cranelift/filetests/filetests/isa/x64/bitcast.clif
  cranelift/filetests/filetests/isa/x64/load-small-vector.clif
  cranelift/filetests/filetests/isa/x64/store-small-vector.clif
  cranelift/filetests/filetests/runtests/simd-small.clif
  cranelift/interpreter/src/step.rs
  cranelift/interpreter/src/value.rs
  cranelift/reader/src/parser.rs
Labels: cranelift, cranelift:area:aarch64, cranelift:area:x64, isle

#10700 Temporarily disable simd differential fuzzing with wasmi
  crates/fuzzing/src/oracles/diff_wasmi.rs
Labels: fuzzing
